extends layout

block content
  h1= ModelTestingUI
  p Welcome to ModelTesting UI

  form(action="/runexperiment", enctype="multipart/form-data", method="post")
    label "Dataset File"
    input(type="file", name="datasetCSV", id="csv")
    div
    label "Pipeline JSON"
    input(type="file", name="pipelineJSON", id="pipeline")
    div
    label "Pipeline.tar.gz"
    input(type="file", name="pipelineTARGZ", id="pipelinetar")
    div
    label "Submit"
    input(type='submit',value='Start Modeling', id="submit")
