@import url("../CommonAssets/styles/loadawesome.css");
@import "../CommonAssets/styles/bourbon/_bourbon";
@import "../CommonAssets/styles/Theme/ColorScheme";
@import "core/DanteColorScheme";
@import url("../CommonAssets/styles/bootstrap.min.css");
@import url("../CommonAssets/styles/font-awesome/css/font-awesome.min.css");
@import url("../CommonAssets/styles/Theme/jquery-ui-1.9.2.custom.min.css");

//Add new component files here
@import "../CommonAssets/styles/Components/Alerts";
@import "../CommonAssets/styles/Components/Animations";
@import "../CommonAssets/styles/Components/Buttons";
@import "../CommonAssets/styles/Components/Charts";
@import "../CommonAssets/styles/Components/Forms";
@import "../CommonAssets/styles/Components/Glyphicons";
@import "../CommonAssets/styles/Components/Grids";
@import "../CommonAssets/styles/Components/IE";
@import "../CommonAssets/styles/Components/Modals";
@import "../CommonAssets/styles/Components/Navigation";
@import "../CommonAssets/styles/Components/Renderers";

//add new controller files here
@import "../CommonAssets/styles/Components/Pagination";
@import "../CommonAssets/styles/Components/SearchWidget";
@import "plays/PlayList";
@import "plays/PlayTile";
@import "plays/PlayDetails";
@import "plays/playtypes/PlayTypes";
@import "leads/LeadDetails";

// Add new widgets, to Widgets.scss, NOT here
@import "widgets/Widgets";

@import "core/MainHeader";
@import "core/DanteCore";
@import "core/NoNotion";

//This needs to be the last file so that the styles in here aren't overwritten
@import "../CommonAssets/styles/Components/Framework";

//fonts
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../CommonAssets/fonts/ProximaNova-Regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../CommonAssets/fonts/ProximaNova-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../CommonAssets/fonts/ProximaNova-Regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../CommonAssets/fonts/ProximaNova-Regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../CommonAssets/fonts/ProximaNova-Regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../CommonAssets/fonts/ProximaNova-Regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

if ($(".breadcrumbs > LI:contains('Getting Started')").length > 0) { 
    $(".article-title").addClass("article-title0"); 
}