@import "common/widgets/colors.scss";
systems-component{
    display: flex;
    // border: 2px solid red;
    justify-content: center;
    background-color: $pearl-white;
    padding-bottom: 55px;
.systems-main{

    max-width: 1000px;
        width: 100%;

.some-page-wrapper {
    max-width: 1000px;
    margin: 15px;
    flex-wrap: wrap;
  }
  .some-table{
    margin: 0;
    font-size: 0.7em;
    .color-blue{
        color: $blue-text;
    }
  }
  
  .le-flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;

    .le-flex-column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        margin: 0.4em;
        .system-tile{
            height: 100%;
        }
        .system-title{
            justify-content: flex-start;
            align-items: center;
            height: 70px;
            .system-image-container{
                flex:1;
                .systemImage{
                    max-width: 36px;
                }
            }
            .system-title-container{
                flex:3;
            }
        }
        .system-body{
            height: 100%;
        }
        .system-footer{
            height: 70px;
            align-items: center;
            .right-controlls{
                    display: flex;
                    justify-content: flex-end;
                }
            }
        
        
      }
  }
}
} 
  
  