@import "common/widgets/colors.scss";
systems-component {
  display: flex;
  justify-content: center;
  background-color: $pearl-white;
  padding: 5px 20px 100px 20px;
  .systems-main {
    max-width: 1000px;
    width: 100%;

    .systems-list{
        grid-auto-rows: auto;
    }
    .systems-header {
      padding-bottom: 1.4em;
    }
    .systems-count {
      font-weight: bolder;
      padding-right: 0.2em;
    }
    .s-image {
      max-width: 64px;
      padding: 0 1em;
    }
    .s-title {
      font-size: 16px;
    }
    .s-label {
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .s-text {
      @extend .s-label;
      color: $blue-text;
      &.color-red {
        color: $ruby-two;
      }
      &.color-green {
        color: $jade;
      }
    }
    .s-body{
        flex:1;
        padding: 10px;
       .system-body-container{
            grid-template-columns: 1fr 1.5fr;
            row-gap: 1px;
            column-gap: 10px;
        }
    }
    .s-controls{
      overflow: hidden;
    }
  }
}
