@import "common/widgets/colors.scss";
.system-mapping{
    &.some-table{
        margin: 0;
        font-size: 1em;
        .color-blue{
            color: $blue-text;
        }
    }
    .le-flex-row {
        display: flex;
        flex-direction: row;
        width: 100%;

        .le-flex-column {
            display: flex;
            flex-direction: column;
            // flex-basis: 100%;
            flex: 1;
            margin: 0.4em;
            & .le-tile{
                min-width: 200px;
                max-width: 320px;
                min-height: 250px;
            }

            .systemImage{
                max-width: 36px;
            }
            .system-body{
                height: 100%;;
            }
            .system-footer{
                height: 50px;
                .right-controlls{
                    display: flex;
                    justify-content: flex-end;
                }
            }
            
        }
    }
}