<ul class="menu">
    <li ng-if="!vm.IsRatingEngine" role="presentation" ui-sref-active="active">
        <a ui-sref="home.models" analytics-on="click" analytics-event="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_BACK_TO_MODELS')}}">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_BACK_TO_MODELS')}}">
                <span class="ico ico-back no-svg"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_BACK_TO_MODELS')}}</span>
            <span class="badge blue-badge pull-right" ng-show="vm.totalmodels">{{vm.totalmodels}}</span>
        </a>
    </li>
    <li ng-if="vm.IsRatingEngine && !vm.isDashboardRatings" role="presentation" ui-sref-active="active">
        <a ng-click="vm.goToRatingEngineRoute()">
            <span 
                class="ico-container" 
                data-stooltip="Back to dashboard">
                <span class="ico ico-back no-svg"></span>
            </span>
            <span class="label">Back to dashboard</span>
        </a>
    </li>
    <li ng-if="vm.IsRatingEngine && vm.isDashboardRatings" role="presentation" ui-sref-active="active">
        <a ui-sref="home.ratingsengine">
            <span 
                class="ico-container" 
                data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_BACK_TO_RATING_ENGINE')}}">
                <span class="ico ico-back no-svg"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_BACK_TO_RATING_ENGINE')}}</span>
        </a>
    </li>
    <li ng-if="vm.IsRatingEngine && !vm.viewingIteration">
        <a ui-sref="home.ratingsengine.dashboard({ rating_id: vm.ratingEngine.id, modelId: vm.stateParams.modelId })">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_DASHBOARD')}}">
                <span class="ico ico-dashboard ico-light-gray"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_DASHBOARD')}}</span>
        </a>
    </li>
    <li ng-if="
        (!vm.IsPmml && vm.IsRatingEngine && vm.viewingIteration) ||
        (!vm.IsPmml && !vm.IsRatingEngine)" role="presentation" ui-sref-active="active">
        <a ui-sref="home.model.datacloud({ aiModel: vm.stateParams.aiModel })" analytics-on="click" analytics-event="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ATTRIBUTES')}}">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ATTRIBUTES')}}">
                <span class="ico ico-attributes ico-light-gray"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ATTRIBUTES')}}</span>
        </a>
    </li>
    <li ng-if="
        (!vm.IsPmml && vm.IsRatingEngine && vm.viewingIteration) ||
        (!vm.IsPmml && !vm.IsRatingEngine)" role="presentation" ui-sref-active="active">
        <a ui-sref="home.model.performance" analytics-on="click" analytics-event="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_PERFORMANCE')}}">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_PERFORMANCE')}}">
                <span class="ico ico-performance ico-light-gray"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_PERFORMANCE')}}</span>
        </a>
    </li>
    <li ng-if="!vm.IsPmml && vm.HasRatingsAvailable && !vm.IsRatingEngine" role="rating" ui-sref-active="active">
        <a ui-sref="home.model.ratings" analytics-on="click" analytics-event="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_RATINGS')}}">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_RATINGS')}}">
                <span class="ico ico-ratings ico-light-gray"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_RATINGS')}}</span>
        </a>
    </li>
    <li ng-if="!vm.IsPmml && vm.HasRatingsAvailable && vm.IsRatingEngine && !vm.viewingIteration" role="rating" ui-sref-active="active">
        <a ui-sref="home.model.ratings({ section: 'dashboard.ratings' })" analytics-on="click" analytics-event="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_RATINGS')}}">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_RATINGS')}}">
                <span class="ico ico-ratings ico-light-gray"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_RATINGS')}}</span>
        </a>
    </li>
    <li ng-if="vm.showSampleLeads && !vm.IsPmml && !vm.IsRatingEngine" role="presentation" ui-sref-active="active">
        <a ui-sref="home.model.leads" analytics-on="click" analytics-event="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_LEADS')}}" data-ng-if='vm.sourceType=="SalesforceLead"'>
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_LEADS')}}">
                <span class="ico ico-leads ico-light-gray"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_LEADS')}}</span>
        </a>
        <a ui-sref="home.model.leads" analytics-on="click" analytics-event="" data-ng-if='vm.sourceType!="SalesforceLead" && !vm.IsRatingEngine'>
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ACCOUNTS')}}">
                <span class="ico ico-leads ico-light-gray"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ACCOUNTS')}}</span>
        </a>
    </li>
    <li 
        ng-if="
            (vm.showModelSummary && !vm.Uploaded && !vm.IsRatingEngine) || 
            vm.viewingIteration" 
        role="presentation" 
        ui-sref-active="active">
        <a ui-sref="home.model.summary" analytics-on="click" analytics-event="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SUMMARY')}}">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SUMMARY')}}">
                <span class="ico ico-datatable ico-light-gray"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SUMMARY')}}</span>
        </a>
    </li>
    <li 
        ng-if="vm.showAlerts && !vm.IsPmml && !vm.IsRatingEngine" 
        role="presentation" 
        ui-sref-active="active">
        <a ui-sref="home.model.alerts" analytics-on="click" analytics-event="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ALERTS')}}">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ALERTS')}}">
                <span class="ico ico-alerts ico-light-gray"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ALERTS')}}</span>
        </a>
    </li>
    <li 
        ng-if="!vm.IsRatingEngine" 
        role="presentation" 
        ui-sref-active="active">
        <a ui-sref="home.model.jobs" analytics-on="click" analytics-event="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SCORING')}}">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SCORING')}}">
                <span class="ico ico-scoring ico-light-gray"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SCORING')}}</span>
        </a>
    </li>
    <li 
        ng-if="!vm.IsPmml && vm.showReviewModel" 
        ui-sref-active="active">
        <a ui-sref="home.model.review.columns" analytics-on="click" analytics-event="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_REVIEW')}}">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_REVIEW')}}">
                <span class="ico ico-datatable ico-light-gray"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_REVIEW')}}</span>
        </a>
    </li>
    <li 
        ng-if="vm.showRefineAndClone && !vm.IsPmml && !vm.Uploaded && !vm.IsRatingEngine" 
        role="presentation" 
        ui-sref-active="active">
        <a ui-sref="home.model.refine" analytics-on="click" analytics-event="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_REFINE')}}">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_REFINE')}}">
                <span class="ico ico-refine ico-light-gray"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_REFINE')}}</span>
        </a>
    </li>
    <!-- <li 
        ng-if="vm.canRemodel && !vm.IsRatingEngine" 
        role="presentation" 
        ui-sref-active="active">
        <a ui-sref="home.model.remodel" analytics-on="click" analytics-event="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_REMODEL')}}">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_REMODEL')}}">
                <span class="ico ico-remodel-large ico-light-gray"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_REMODEL')}}</span>
        </a>
    </li>
    <li 
        ng-if="vm.IsRatingEngine && vm.viewingIteration" 
        role="presentation" 
        ui-sref-active="active">
        <a ng-click="vm.remodelIteration()" analytics-on="click" analytics-event="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_REMODEL')}}">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_REMODEL')}}">
                <span class="ico ico-remodel-large ico-light-gray"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_REMODEL')}}</span>
        </a>
    </li> -->
    <li 
        ng-if="!vm.IsRatingEngine" 
        role="presentation" 
        ui-sref-active="active">
        <a ui-sref="home.model.notes" analytics-on="click" analytics-event="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_NOTES')}}">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_NOTES')}}">
                <span class="ico ico-notes"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_NOTES')}}</span>
        </a>
    </li>
    <li 
        ng-if="vm.IsRatingEngine && !vm.viewingIteration">
        <a ui-sref="home.ratingsengine.dashboard.notes({ rating_id: vm.ratingEngine.id, modelId: vm.stateParams.modelId })">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_NOTES')}}">
                <span class="ico ico-notes ico-light-gray"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_NOTES')}}</span>
        </a>
    </li>
</ul>