.campaign-launch {
    user-select: none;
    margin-top: 10px;
    label {
        display: inline-block;
        width: auto;
    }
    ul {
        padding: 0 !important;
        margin: 0 !important;
        list-style: none !important;
        & > li {
            padding: 0;
            margin: 0;
        }
    }
    input#limitRecommendationsAmount {
        width: 6em;
    }
    input.required.empty {
        border: 1px solid red;
    }
    .launch-section {
        h2 {
            font-size: 1.2em;
            font-weight: normal;
            margin-bottom: 8px;
        }
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .rating-buckets {
        margin-bottom: 10px;
        & > span {
            flex: 1 1 auto;
            max-width: 200px;
            padding: 14px;
            margin: 0 5px;
            text-align: center;
            border: 1px solid rgba(153,152,152,0.405);
            border-radius: 4px;
            h3 {
                text-align: center;
                height: 26px;
                margin: 0;
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            position: relative;
            &[disabled] {
                background-color: lightgray;
                pointer-events: none;
                opacity: .5;
            }
            &.selected {
                color: white;
                h3 {
                    color: white;
                }
                &:after {
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    content: '\f00c';
                    font-family: FontAwesome;
                    height: 15px;
                    width: 15px;
                    line-height: 15px;
                    font-size: 10px;
                    border-radius: 50%;
                    background: white;
                }
                & {
                    background-color: lightgray;
                    &:after {
                        color: lightgray;
                    }
                }
                &:nth-child(1) {
                    background-color: #70bf4a;
                    &:after {
                        color: #70bf4a;
                    }
                }
                &:nth-child(2) {
                    background-color: #33bdb7;
                    &:after {
                        color: #33bdb7;
                    }
                }
                &:nth-child(3) {
                    background-color: #65b7e6;
                    &:after {
                        color: #65b7e6;
                    }
                }
                &:nth-child(4) {
                    background-color: #457eba;
                    &:after {
                        color: #457eba;
                    }
                }
                &:nth-child(5) {
                    background-color: #cd80bc;
                    &:after {
                        color: #cd80bc;
                    }
                }
                &:nth-child(6) {
                    background-color: #8e71b2;
                    &:after {
                        color: #8e71b2;
                    }
                }
            }
        }
    }
    .launch-buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid rgba(153,152,152,0.405);
        padding: 10px;
        & > ul {
            display: flex;
            & > li {
                flex: 0 1 auto;
                margin: 0 10px;
                &:first-child {
                    flex: 1 1 auto;
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &.launching {
        & > .campaign-launch-container {
            opacity: .5;
            pointer-events: none;
        }
        &:before {
            position: absolute;
            content: '';
            display: block;
            top: 55px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 100;
            background: url('/assets/images/spinners/spinner-lattice-dots-100x100.gif') no-repeat center center;
        }
    }
}
.launch-modal {
    .le-modal-body {
        margin-bottom: 50px;
    }
    .le-title-container {
        & > img {
            height: 37px;
        }
        & > p {
            position: relative;
            padding-left: 10px;
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                height: 20px;
                border-left: 1px solid #aaa;
            }
        }
    }
}