@import "../../../../../common/widgets/layout/layout.scss";
@import "../../../../../common/widgets/colors.scss";

.campaign-launch {
    user-select: none;
    margin-top: 20px;
    label {
        display: inline-block;
        width: auto;
        font-size: 12px;
    }
    ul {
        padding: 0 !important;
        margin: 0 !important;
        list-style: none !important;
        & > li {
            padding: 0;
            margin: 0;
        }
    }
    input {
        &[type="checkbox"] {
            position: relative;
            top: 2px;
            margin-left: 0
        }
        &.required.empty {
            border: 1px solid red;
        }
    }
    .campaign-launch-container {
        width: 100%;
    }
    .launch-section {
        margin-bottom: 33px;
        h2 {
            font-size: 14px;
            font-weight: normal;
            margin-bottom: 8px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &.audience-type {
            .audienceType-container {
                & > div {
                    margin-right: 20px;
                }
                margin-top: 10px;
            }
            input[type="radio"] {
                position: relative;
                top: 2px;
                margin-left: 0;
            }
            & > .audience-aware-message {
                border: 1px solid rgba(0,0,0,0.1);
                padding: 10px;
                font-size: 12px;
                & > i {
                    margin-right: 5px;
                }
            }
        }
        &.drop-folder {
            h2 {
                font-size: 12px;
            }
            p {
                &.folder {
                    background: url(/assets/images/campaignoverview/folder-ico.png) left center no-repeat;
                    padding-left: 20px;
                }
                &.subtext {
                    font-size: 11px;
                    color: #555;
                }
            }
            .more-info {
                padding: 2px 7px;
                margin-left: 5px;
            }
            .tooltip_ {
                font-size: 12px;
                color: white;
            }
        }
        &.recommendations {
            h2 {
                strong {
                    margin-left: 10px;
                }
            }
            label {
                input {
                    margin: 0 10px;
                    width: 56px;
                }
            }
        }
        &.model-ratings {
            h2 {
                font-size: 12px;
            }
        }
        &.programs {
            position: relative;
            label, select {
                margin-right: 5px;
            }
            select, input {
                padding: 2px;
                font-size: 12px;
            }
            label {
                white-space: nowrap;
            }
            .programName-container {
                margin-bottom: 5px;
            }
            .audience-error-container {
                position: absolute;
                bottom: -1.5em;
            }
            #staticList.hasSelected + #newAudienceName {
                display: none; // fallback for when there are timing issues with removing new audience field
            }
        }
        &.schedule {
            label {
                margin-right: 5px;
            }
            i.more-info {
                margin-left: 5px;
            }
            .schedule-dropdown-container {
                &.le-nowrap {
                    overflow: initial;
                }
                .schedule-dropdown {
                    position: relative;
                    .keep-in-sync {
                        position: absolute;
                        top: 1.5em;
                        width: 300px;
                    }
                }
            }
            .cron-settings {
                label {
                    margin: 0 5px;
                }
            }
        }
    }
    .rating-buckets {
        margin-bottom: 0px;
        .bucket {
            flex: 1 1 auto;
            max-width: 150px;
            padding: 14px;
            margin: 0 5px;
            text-align: center;
            border: 1px solid rgba(153,152,152,0.405);
            border-radius: 4px;
            h3 {
                text-align: center;
                height: 26px;
                margin: 0;
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            position: relative;
            &[disabled] {
                background-color: lightgray;
                pointer-events: none;
                opacity: .5;
            }
            &.selected {
                border-color: transparent;
                h3, em {
                    color: white;
                }
                &:after {
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    content: '\f00c';
                    font-family: FontAwesome;
                    height: 15px;
                    width: 15px;
                    line-height: 15px;
                    font-size: 10px;
                    border-radius: 50%;
                    background: white;
                }
                & {
                    background-color: lightgray;
                    &:after {
                        color: lightgray;
                    }
                }
                &:nth-child(1) {
                    background-color: #70bf4a;
                    &:after {
                        color: #70bf4a;
                    }
                }
                &:nth-child(2) {
                    background-color: #33bdb7;
                    &:after {
                        color: #33bdb7;
                    }
                }
                &:nth-child(3) {
                    background-color: #65b7e6;
                    &:after {
                        color: #65b7e6;
                    }
                }
                &:nth-child(4) {
                    background-color: #457eba;
                    &:after {
                        color: #457eba;
                    }
                }
                &:nth-child(5) {
                    background-color: #cd80bc;
                    &:after {
                        color: #cd80bc;
                    }
                }
                &:nth-child(6) {
                    background-color: #8e71b2;
                    &:after {
                        color: #8e71b2;
                    }
                }
            }
        }
        &.little-buckets {
            padding: 2px;
            padding-left: 0;
            .bucket {
                padding: 0;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                position: relative;
                &.selected {
                    &:after {
                        display: none;
                    }
                }
                .bucket-text {
                    position: absolute;
                    top: 5px;
                    left: 0;
                    right: 0;
                    h3 {
                        font-size: 16px;
                    }
                    em {
                        display: none;
                    }
                }
            }
        }
    }
    .launch-buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid rgba(153,152,152,0.405);
        padding: 10px;
        & > ul {
            display: flex;
            & > li {
                flex: 0 1 auto;
                margin: 0 10px;
                &:first-child {
                    flex: 1 1 auto;
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &.launching {
        & > .campaign-launch-container {
            opacity: .5;
            pointer-events: none;
        }
        &:before {
            position: absolute;
            content: '';
            display: block;
            top: 55px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 100;
            background: url('/assets/images/spinners/spinner-lattice-dots-100x100.gif') no-repeat center center;
        }
    }
}
#le-modal {
    .launch-modal {
        &.le-modal-content {
            .le-modal-body {
                margin-bottom: 50px;
                padding: 26px 47px;
                .le-modal-body-container {
                    width: 100%;
                }

            }
            .le-title-container {
                & > img {
                    max-height: 37px;
                }
                & > p {
                    position: relative;
                    padding-left: 10px;
                    &:before {
                        display: block;
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        height: 20px;
                        border-left: 1px solid #aaa;
                    }
                }
            }
        }
    }
}