.playbook-overview {
    .panel {
        margin: 10px;
        padding: 10px;
    }
    .overview-grid-container {
        background: #ecedee;
        margin: 20px;
        padding: 20px;
        .overview-grid.extend {
            grid-template-columns: 1fr 1fr;
        }
    }
    .launch-history {
        text-align: right;
    }
    .systems-component {
        flex: 1 1 auto;
        padding-right: 50px;
    }
    .main-component {
        flex: 0 1 auto;
        .lift-chart {
            font-size: 10px;
            width: 390px;
            .bar-labels {
                & > strong {
                    position: relative;
                    top: -5px;
                    &:before {
                        //top: -18px !important;
                    }
                }
            }
            .additional-info {
                & > span {
                    position: relative;
                    top: -5px;
                    &:before {
                        top: -18px !important;
                    }
                    &.label-Accounts {
                        min-width: 46px;
                    }
                }
            }
        }
    }
    .talking-points {
        & > a {
            display: block;
        }
    }
}
.rating-modal {
    .le-title-container {
        & > img {
            height: 37px;
        }
        & > p {
            border-left: 1px solid #aaa;
            padding-left: 10px;
        }
    }
}