.playbook-overview {
    .panel {
        margin: 10px;
        padding: 10px;
    }
    .overview-grid-container {
        background: #ecedee;
        margin: 20px;
        padding: 20px;
        .overview-grid.extend {
            grid-template-columns: 1fr 1fr;
        }
    }
    .connected-systems {
        margin: 20px;
        .systems-grid.extend {
            .le-card {
                max-width: none;
                padding: 10px;
                margin: 2px;
                h2, h3 {
                    font-size: 12px;
                    font-weight: bold;
                    text-transform: none;
                }
                h2 {
                    text-align: center;
                    font-size: 16px;
                    margin-bottom: 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                button {
                    margin-bottom: 5px;
                }
                .launch-text {
                    height: 120px;
                    &.launched {
                        text-align: left;
                    }
                }
                .card-image-container {
                    height: 55px;
                }
            }
        }
    }
}