<div data-ng-controller="MainViewController">
    <div id="mainHeaderView">
        
    </div>
    <section id="main-content" class="wrapper">
        <div class="row">
            <div id="mainContentView">
                    
            </div>
        </div>
    </section>
    
    <div class="footer">
        <div class="wrapper">
            © {{copyrightString}} <a href="#" data-ng-click="privacyPolicyClick($event)">{{ResourceUtility.getString('HEADER_PRIVACY_POLICY')}}
        </div>
    </div>
</div>