<div data-ng-controller="SalesforceCredentialController">
    <img src="assets/images/logo_salesForce_2.png" data-ng-class="{'logo-left-align': logoLeftAlign}"/>
    <div class="tabpanel" data-ng-class="{'logo-left-align': logoLeftAlign}">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#formProduction" aria-controls="profile" role="tab" data-toggle="tab">{{ResourceUtility.getString('SYSTEM_SETUP_PRODUCTION_TAB')}}</a>
            </li>
            <li>
                <a href="#formSandbox" aria-controls="profile" role="tab" data-toggle="tab">{{ResourceUtility.getString('SYSTEM_SETUP_SANDBOX_TAB')}}</a>
            </li>
        </ul>
        <div class="tab-content">
            <!-- SFDC Production -->
            <div id="formProduction" role="tabpanel" class="tab-pane active">
                <div data-ng-show="!productionSaveInProgress">
                    <div data-ng-show="productionError != ''" class="alert alert-danger">{{productionError}}</div>
                    <div>
                        <label>{{ResourceUtility.getString('SYSTEM_SETUP_USER_NAME')}} <span>&ast;</span></label>
                        <input type="text"
                               class="form-control"
                               data-ng-readonly="productionComplete"
                               data-ng-class="productionError != '' && productionCredentials.UserName == null ? 'error' : ''"
                               data-ng-model="productionCredentials.UserName"
                               autocomplete="off">
                    </div>
                    <div>
                        <label>{{ResourceUtility.getString('SYSTEM_SETUP_PASSWORD')}} <span>&ast;</span></label>
                        <input type="password"
                               class="form-control"
                               data-ng-readonly="productionComplete"
                               data-ng-class="productionError != '' && productionCredentials.Password == null ? 'error' : ''"
                               data-ng-model="productionCredentials.Password"
                               autocomplete="off">
                    </div>
                    <div>
                        <label>{{ResourceUtility.getString('SYSTEM_SETUP_SECURITY_TOKEN')}} <span>&ast;</span></label>
                        <span class="security-token-tooltip">
                            <helper-mark help="{{ResourceUtility.getString('SYSTEM_SETUP_SECURITY_TOKEN_TOOLTIP')}}"></helper-mark>
                        </span>
                        <input type="password"
                               class="form-control"
                               data-ng-readonly="productionComplete"
                               data-ng-class="productionError != '' && productionCredentials.SecurityToken == null ? 'error' : ''"
                               data-ng-model="productionCredentials.SecurityToken"
                               autocomplete="off">
                    </div>
                    <button class="btn btn-primary js-crm-production-save-button"
                            type="submit"
                            data-ng-show="!productionComplete"
                            data-ng-click="productionSaveButtonClicked()">{{productionSaveButtonText}}</button>
                    <button class="btn btn-primary js-crm-production-edit-button"
                            type="submit"
                            data-ng-show="productionComplete"
                            data-ng-click="productionComplete = false">{{productionEditButtonText}}</button>
                </div>
                <div class="loader" data-ng-show="productionSaveInProgress"></div>
            </div>
            <!-- SFDC Sandbox -->
            <div id="formSandbox" role="tabpanel" class="tab-pane">
                <div data-ng-show="!sandboxSaveInProgress">
                    <div data-ng-show="sandboxError != ''" class="alert alert-danger">{{sandboxError}}</div>
                    <div>
                        <label>{{ResourceUtility.getString('SYSTEM_SETUP_USER_NAME')}} <span>&ast;</span></label>
                        <input type="text"
                               class="form-control"
                               data-ng-readonly="sandboxComplete"
                               data-ng-class="sandboxError != '' && sandboxCredentials.UserName == null ? 'error' : ''"
                               data-ng-model="sandboxCredentials.UserName"
                               autocomplete="off">
                    </div>
                    <div>
                        <label>{{ResourceUtility.getString('SYSTEM_SETUP_PASSWORD')}} <span>&ast;</span></label>
                        <input type="password"
                               class="form-control"
                               data-ng-readonly="sandboxComplete"
                               data-ng-class="sandboxError != '' && sandboxCredentials.Password == null ? 'error' : ''"
                               data-ng-model="sandboxCredentials.Password"
                               autocomplete="off">
                    </div>
                    <div>
                        <label>{{ResourceUtility.getString('SYSTEM_SETUP_SECURITY_TOKEN')}} <span>&ast;</span></label>
                        <span class="security-token-tooltip">
                            <helper-mark help="{{ResourceUtility.getString('SYSTEM_SETUP_SECURITY_TOKEN_TOOLTIP')}}"></helper-mark>
                        </span>
                        <input type="password"
                               class="form-control"
                               data-ng-readonly="sandboxComplete"
                               data-ng-class="sandboxError != '' && sandboxCredentials.SecurityToken == null ? 'error' : ''"
                               data-ng-model="sandboxCredentials.SecurityToken"
                               autocomplete="off">
                    </div>
                    <button class="btn btn-primary js-crm-sandbox-save-button"
                            type="submit"
                            data-ng-show="!sandboxComplete"
                            data-ng-click="sandboxSaveButtonClicked()">{{sandboxSaveButtonText}}</button>
                    <button class="btn btn-primary js-crm-sandbox-edit-button"
                            type="submit"
                            data-ng-show="sandboxComplete"
                            data-ng-click="sandboxComplete = false">{{sandboxEditButtonText}}</button>
                </div>
                <div class="loader" data-ng-show="sandboxSaveInProgress"></div>
            </div>
        </div>
    </div>
</div>
