.enrichment-wizard-container {
    position: relative;
    margin-top: 1.5em;
    $box-width: calc(99.99%/3); //99.99 is because of IE and rounding errors at 100%/3 (or any odd number)
    @mixin box-shadow($r,$g,$b) {
        box-shadow: 0px 0px 11px 2px rgba($r,$g,$b,0.33);
    }
    @mixin make-background-color($color, $opacity) {
        background-color: $color;
        background-color: rgba($color, $opacity);
    }

    .filters {
        @include flex-container;
        padding-bottom: 10px;
        margin-right: 14px;
        input[type="radio"], input[type="checkbox"] {
            margin: 0;
            vertical-align: middle;
        }
        .select-more {
            border-radius: 6px;
        }
        & > li {
            @include flex-item(0 1 auto);
            margin-right: 10px;
            label {
                width: auto;
                vertical-align: middle;
                padding: 1px 5px;
            }
            &:last-child {
                margin-right: 0;
            }
            &[disabled] {
                pointer-events: none;
                opacity: .4;
            }
            &.query {
                flex: 1 1 auto;
                margin-right: .5em;
                .ng-search {
                    white-space: nowrap;
                }
                span.fa {
                    min-width: 1.3em;
                }
                input {
                    padding-left: 0;
                }
            }
            &.filter {
                &.dropdown-container {
                    z-index: 2;
                    .dropdown {
                        .selected, .enabled, .highlighted {
                            &.hide:not(:last-child) {
                                border-bottom: 1px solid #333;
                                padding-bottom: 5px;
                                margin-bottom: 10px;
                            }
                        }
                        .internal:not(:first-child) {
                            &.show {
                                border-top: 1px solid #333;
                                padding-top: 5px;
                                margin-top: 10px;
                            }
                        }
                    }
                }
                li {
                    padding: 0 7px;
                }
            }
            &.download {
                li {
                    padding: 5px;
                }
                a {
                    color: #fafafa;
                    &:hover {
                        color: #fafafa;
                    }
                    i {
                        margin-right: 5px;
                    }
                }
                button {
                    &.select-more {
                        span {
                            &::before {
                                -webkit-transition: color 0s linear 0s;
                                -moz-transition: color 0s linear 0s;
                                transition: color 0s linear 0s;
                            }
                        }
                    }
                }
            }
            &.account-lookup button {
                height: 3em;
            }
            &.info {
                flex: 1 1 auto;
                position: relative;
                z-index: 200;
                & > div {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    border-left: 1px solid #d0d1d0;
                    padding-left: 18px;
                    font-size: 16px;
                    i {
                        color: #457eba;
                        font-size: 19px;
                    }
                }
            }
        }
    }

    .enrichment-wizard-pagination {
        float: right;
        display: inline-block;

        pd-pagination-controls .pd-pagination {
            text-align: right;
            margin-right: 15px;
        }
    }

   .categories {
        @include flex-container;
        margin-bottom: 20px;
        margin-right: 2px;
        &:not(.has-category) {
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            .category {
                @include flex-item(0 0 auto);
                width: $box-width;
                padding: 10px 14px 0 0;
                .box-inner {
                    position: relative;
                    background-color: white;
                    h2 {
                        margin-top: 25px;
                        font-size: 20px;
                        .category-label {
                            max-height: 45px;
                        }
                    }
                    .count {
                        position: absolute;
                        top: 9px;
                        right: 15px;
                        font-size: 20px;
                    }
                    .attributes {
                        .attribute {
                            padding-left: 20px;
                            &.no-highlights {
                                padding-left: 5px;
                            }
                            & > * {
                                pointer-events: none;
                            }
                            &.has-highlight:not(.no-highlights) {
                                position: relative;
                                &:before {
                                    @include font-awesome-inline("\f005");
                                    display: block;
                                    position: absolute;
                                    top: calc(50% - 1px);
                                    left: 5px;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                }
            }
        }
        &.has-category {
            * {
                transition: none;
            }
            .category {
                width: 50px;
                max-width: 30%;
                h2 {
                    margin-top: 10px;
                }
                @media screen and (max-width: 850px) {
                    .category-label {
                        /* This negatively affects the iframe Insights and causes label to dissapear */
                        /*display: none;*/
                    }
                }
            }
        }
        .category {
            @include flex-item(1 0 auto);
            padding: 0px 12px 0 0;
            &.active {
                cursor: default;
            }
            .box-inner {
                padding: 10px;
                text-align: center;
                background-color: white;
                &.active {
                    & > span {
                        position: relative;
                        z-index: 1;
                    }
                    position: relative;
                    &:before {
                        box-shadow: inherit;
                        content: '';
                        display: block;
                        position: absolute;
                        left: calc(50% - 10px);
                        bottom: -11px;
                        height: 20px;
                        width: 20px;
                        background: inherit;
                        transform: rotate(45deg);
                        z-index: -1;
                    }
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        left: calc(50% - 10px);
                        bottom: -11px;
                        height: 20px;
                        width: 20px;
                        background: inherit;
                        transform: rotate(45deg);
                        border-bottom-width: 1px;
                        border-bottom-style: solid;
                        border-right-width: 1px;
                        border-right-style: solid;
                        border-color: inherit;
                        z-index: 0;
                    }
                }
                h2 {
                    text-align: center;
                    font-size: 15px;
                    margin-bottom: 5px;
                    white-space: nowrap;
                    .category-icon {
                        height: 40px;
                        width: 40px;
                        border-width: 1px;
                        border-style: solid;
                        border-color: #d0d1d0;
                        padding: 10px;
                        border-radius: 50%;
                        margin: 0 auto;
                        margin-bottom: 5px;
                        img {
                            display: block;
                            margin: 0 auto;
                            margin-bottom: 5px;
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .category-label {
                        @include text-ellipsis();
                    }
                }
                .count {
                    display: block;
                    font-weight: bold;
                    font-size: 16px;
                    margin-bottom: 10px;
                }
            }
        }
        .first-spot-info-card {
            .box-inner {
                text-align: left;
                border-top-width: 1px;
                border-radius: 4px;
            }
        }
        .company {
            .box-inner {
                &.company-info {
                    font-size: 11px;
                    h2, h3 {
                        font-size: 100%;
                        font-weight: normal;
                        text-transform: none;
                        text-align: left;
                    }
                    h2 {
                        @include text-ellipsis;
                        font-size: 20px;
                    }
                    .info {
                        margin-bottom: 10px;
                    }
                    .details {
                        font-size: 12px;
                        h3 {
                            font-weight: bold;
                        }
                        & > div {
                            margin-bottom: 10px;
                            border-top: 1px solid rgba(0,0,0,.05);
                            padding-top: 5px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                        & > ul {
                            & > li {
                                @include flex-container;
                                vertical-align: middle;
                                padding: 2px 5px;
                                font-weight: bold;
                                &:nth-child(odd) {
                                    border-top: 1px solid rgba(0,0,0,.05);
                                    background: rgba(0,0,0,.05);
                                }
                                h3 {
                                    @include flex-item(1 1 auto);
                                }
                            }
                        }
                        .sales-employees {
                            @include flex-container;
                            padding-top: 0;
                            & > div {
                                @include flex-item(1 1 auto);
                                width: 50%;
                                border-right: 1px solid rgba(0,0,0,.05);
                                padding: 0 10px;
                                padding-top: 5px;
                                &:first-child {
                                    padding-left: 0;
                                }
                                &:last-child {
                                    border-right: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        .lattice-rating {
            & > h2 {
                .ratings-logo {
                    display: block;
                    height: 40px;
                    width: 40px;
                    border: 1px solid #d0d1d0;
                    border-radius: 50%;
                    margin: 0 auto;
                    padding: 10px;
                    & > img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .lattice-ratings {
                position: relative;
                .lattice-rating-list {
                    &:nth-child(even){
                        background: #eff3f4;
                    }
                    padding: 1px 0;
                    .rating-item {
                        @include flex-container;
                        & > li {
                            @include flex-item(0 1 auto);
                            min-width: 40px;
                            margin-right: 5px;
                            &:nth-child(1) {
                                text-align: right;
                                padding-right: 5px;
                            }
                            &.rating-label {
                                width: 40px; 
                            }
                            &.rating-lift,
                            &.rating-count{
                                width: 40px;
                            }
                            &.rating-bar {
                                @include flex-item(1 1 auto);
                                margin-right: 20px;
                                & > div {
                                    background: #457eba;
                                    height: 80%;
                                    position: relative;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                    &:nth-child(1) {
                        color: #aaa;
                    }
                    &:nth-child(2) .rating-bar > div {
                        opacity: .5;
                    }
                    &:nth-child(3) .rating-bar > div {
                        opacity: .6;
                    }
                    &:nth-child(4) .rating-bar > div {
                        opacity: .7;
                    }
                    &:nth-child(5) .rating-bar > div {
                        opacity: .8;
                    }
                    &:nth-child(6) .rating-bar > div {
                        opacity: .9;
                    }
                    &:nth-child(7) .rating-bar > div {
                        opacity: 10;
                    }
                }
                .rating-slices {
                    position: absolute;
                    top: 20px;
                    right: 90px;
                    left: 45px;
                    bottom: 0;
                    font-size: 10px;
                    @include flex-container;
                    .rating-slice {
                        @include flex-item(1 1 auto);
                        height: 100%;
                        position: relative;
                        border-left: 1px solid #d0d1d0;
                        strong {
                            position: absolute;
                            bottom: -16px;
                            left: -4px;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }

    .subcategories {
        @include flex-container;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        clear: both;
        .subcategory {
            @include flex-item(0 0 auto);
            width: $box-width;
            padding: 14px 14px 0 0;
            .box-inner {
                position: relative;
                padding: 10px;
                text-align: center;
                height: 100%;
                background-color: white;
                h2 {
                    text-align: center;
                    font-size: 16px;
                    margin-top: 0.5em;
                    margin-bottom: 1em;
                    font-weight: bold;
                    .category-label {
                        height: 35px;
                        overflow: hidden;
                    }
                    .category-icon {
                        height: 36px;
                        width: 36px;
                        border-width: 1px;
                        border-style: solid;
                        border-color: #d0d1d0;
                        padding: 8px;
                        border-radius: 50%;
                        margin: 0 auto;
                        margin-bottom: 5px;
                        img {
                            display: block;
                            margin: 0 auto;
                            margin-bottom: 5px;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
                .count {
                    position: absolute;
                    top: 0.5em;
                    right: 1em;
                    font-weight: bold;
                    font-size: 16px;
                }
            }
        }
    }

    .subcategory-back {
        font-size: 18px;
        margin-top: 10px;
        display: inline-block;
    }

    &:not(.section-browse) {
        .enrichments {
            .box {
                .box-inner {
                    padding-bottom: 4em;
                }
            }
        }
    }
    &.section-team {
        .categories:not(.has-category) .category, .subcategory {
            .box-inner {
                padding-bottom: 4em;
            }
        }
    }
    .enrichments {
        @include flex-container;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        clear: both;
        .box {
            @include flex-item(0 0 auto);
            width: $box-width;
            padding: 14px 14px 0 0;
            &.box-value-no {
                opacity: .5;
            }
            .box-inner {
                position: relative;
                text-align: center;
                padding: 1em;
                //padding-bottom: 3.5em;
                background-color: white;
                //height: 200px;
                .header {
                    h2 {
                        font-size: 16px;
                        margin: 0.25em 0 1em;
                        font-weight: bold;
                        .category-icon {
                            position: relative;
                            height: 36px;
                            width: 36px;
                            border-width: 1px;
                            border-style: solid;
                            border-color: #d0d1d0;
                            padding: 8px;
                            border-radius: 50%;
                            margin: 0 auto;
                            margin-bottom: 5px;
                            img {
                                display: block;
                                margin: 0 auto;
                                margin-bottom: 5px;
                                height: 100%;
                                width: 100%;
                            }
                            .highlighted-decoration {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                white-space: nowrap;
                                margin: 0 10px;
                                &:first-child {
                                    right: 100%;
                                }
                                &:last-child {
                                    left: 100%;
                                }
                            }
                        }
                        strong {
                            display: block;
                            max-height: 3.2em;
                            overflow: hidden;
                        }
                    }
                }
                .description {
                    margin: 1em 0;
                    border: 1px solid #d0d1d0;
                    border-left: 0;
                    border-right: 0;
                    overflow: hidden;
                    overflow-y: auto;
                    max-height: 9.8em;
                    span {
                        font-size: 12px;
                        color: black;
                        line-height: 1.4em;
                        display: inline-block;
                        padding: 0.5em 0;
                        text-align: left;
                    }
                    strong {
                        font-size: 16px;
                        font-weight: bold;
                        padding: .5em 0;
                        display: inline-block;
                    }
                }
                .stats {
                    font-size: 11px;
                    h5 {
                        font-size: 9px;
                        @include flex-container;
                        label {
                            @include flex-item(0 1 auto);
                            text-align: center;
                            color: #adadad;
                            text-transform: uppercase;
                            &:first-child {
                                text-align: left;
                            }
                            &:last-child {
                                text-align: right;
                            }
                        }
                    }
                    ul {
                        li {
                            ul.graph {
                                @include flex-container;
                                color: #000;
                                li {
                                    &.label {
                                        @include flex-item(0 1 auto);
                                        width: 100px;
                                        max-height: 31px;
                                        overflow: hidden;
                                        word-wrap: break-word;
                                        text-align: right;
                                        margin: 5px 0;
                                        line-height: 12px;
                                    }
                                    &.bar_ {
                                        @include flex-item(1 1 auto);
                                        border-left: 1px solid #d0d1d0;
                                        margin: 0 5px;
                                        div {
                                            height: 100%;
                                            span {
                                                display: block;
                                                height: 50%; //10px
                                                position: relative;
                                                top: 50%;
                                                transform: translateY(-50%);
                                            }
                                        }
                                    }
                                    &.count {
                                        @include flex-item(0 1 auto);
                                        white-space: nowrap;
                                        span {
                                            display: block;
                                            position: relative;
                                            top: 50%;
                                            transform: translateY(-50%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                span.lesser-description {
                    line-height: 1.3em;
                    display: inline-block;
                    color: black;
                    text-align: left;
                }
            }
        }
    }

    .load-status {
        margin: 0 auto;
    }

    .count {
        em {
            font-style: italic;
        }
        i {
            font-size: 10px;
            margin-left: 5px;
            color: rgba(0,0,0,.5);
        }
    }

    .round-box {
        background: #fafafa;
        border-style: solid;
        border-width: 1px;
        border-top-width: 5px;
        border-radius: 0 0 4px 4px;
        border-color: #d0d1d0;

        &:active {
            border-style: inset;
        }
    }

    .box-inner {
        height: 100%;
        &:hover {
            ul.attributes {
                & > li {
                    &:nth-child(even) {
                        transition-duration: 0s;
                        background-color: rgba(0,0,0,.09);
                    }
                }
            }
        }
        ul.attributes {
            margin-top: 15px;
            font-size: 11px;
            text-align: left;
            div:not(.data-value-yes) {
                color: #1a1a1a;
            }
            & > li {
                @include flex-container;
                padding: 5px;
                &:nth-child(even) {
                    background-color: rgba(0,0,0,.06);
                }
                &:first-child {
                    font-size: 9px;
                    color: #adadad;
                    text-transform: uppercase;
                    padding-bottom: 0;
                    .column.label {
                        text-transform: uppercase;
                    }
                }
                & > .column {
                    @include flex-item(1 1 auto);
                    padding: 0;
                    &.label {
                        @include text-ellipsis();
                        margin-right: 5px;
                        max-width: 80%;
                    }
                    &.data {
                        @include flex-item(0 1 auto);
                        text-align: right;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        height: 1.3em;
                        min-width: 20%;
                        /*
                        &:not(.records) {
                            min-width: 20%;
                        }
                        */
                        &.data-value-yes {
                            font-weight: bold;
                        }
                        &.lift {
                            overflow: visible;
                        }
                        & > em {
                            display: inline-block;
                            background-color: white;
                            border-radius: 3px;
                            overflow: hidden;
                            width: 2.5em;
                            position: relative;
                            top: -2px;
                            div {
                                display: inline-block;
                                padding: 4px;
                                color: white;
                                width: 100%;
                                text-align: center;
                            }
                        }
                    }
                }
                &:nth-child(2) > .column.data.lift em div {
                    opacity: .4;
                }
                &:nth-child(3) > .column.data.lift em div {
                    opacity: .55;
                }
                &:nth-child(4) > .column.data.lift em div {
                    opacity: .7;
                }
                &:nth-child(5) > .column.data.lift em div {
                    opacity: .85;
                }
                &:nth-child(6) > .column.data.lift em div {
                    opacity: 1;
                }
            }
        }
        .attributes-more {
            text-transform: uppercase;
            color: #3a83c9;
            margin-top: 10px;
            font-weight: bold;
            font-size: .9em;
        }
        &:hover .attributes-more {
            text-decoration: underline;
        }
        input.segment-select {
            vertical-align: middle;
        }
        .controls {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 1.2em;
            .control {
                @include flex-item(1 0 auto);
                @include flex-container;
                position: relative;
                min-width: 135px;
                button, .button {
                    @include flex-item(0 0 auto);
                    -webkit-align-self: center;
                    -ms-flex-item-align: center;
                    align-self: center;
                    margin: 0 auto;
                    min-width: 170px;

                    position: relative;
                    padding: 3px 9px;
                    font-size: 10px;
                    font-weight: bold;
                    color: #1a1a1a;
                    border-radius: 1px;
                    box-shadow: 0 0 10px 0 rgba(57, 137, 195, 0.1);
                    background-color: #e5e5e5;
                    border: solid 1px #bbb;
                    span {
                         padding-right: 20px;
                    }
                }
            }
            .enrich {
                button {
                    &:after {
                        @include font-awesome-inline("\f00d");
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: auto;
                        right: 0;
                        background-color: #fff;
                        padding: 3px 5px;
                    }
                    &.selected {
                        background-color: #fafafa;
                        span {
                            padding: 0;
                            padding-left: 20px;
                        }
                        &:after {
                            @include font-awesome-inline("\f00c");
                            left: 0;
                            right: auto;
                            color: #6fbe4a;
                            border-right: 1px solid #bbb;
                        }
                    }
                }
            }
            .highlight {
                &[disabled] {
                    pointer-events: none;
                    opacity: .5;
                }
                button, .button {
                    overflow: visible;
                    font-size: 10px;
                    position: relative;
                    text-transform: none;
                    text-align: left;
                    padding: 2px 5px;
                    &:after {
                        @include font-awesome-inline("\f0d7");
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: auto;
                        right: 0;
                        background-color: inherit;
                        padding: 3px 5px;
                    }
                    &.enabled {
                        background-color: #fafafa;
                        &:after {
                            border-left: 1px solid #bbbbbb;
                        }
                    }
                    .highlightOptions {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: -1px;
                        right: -1px;
                        background: white;
                        border: 1px solid #bbb;
                        z-index: 1;
                        padding-top: 10px;
                        border-radius: 0 0 1px 1px;
                        &.open {
                            display: block;
                        }
                        li {
                            &.current {
                                //pointer-events: none;
                                cursor: default;
                            }
                            margin: 3px 5px;
                            &.note {
                                border-top: 1px solid #d0d1d0;
                                padding: 8px 0;
                                margin-top: 9px;
                            }
                            &.disable-enable-all {
                                //pointer-events: none;
                                cursor: default;
                            }
                        }
                    }
                    .highlight-icon {
                        position: relative;
                        padding-left: 16px;
                        &:after {
                            @include font-awesome-inline("\f013");
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                        }
                        &.enabled:after {
                            @include font-awesome-inline("\f00c");
                            color: #0f9e4d;
                        }
                        &.disabled:after {
                            @include font-awesome-inline("\f111");
                            font-size: 5px;
                            margin-left: 3px;
                        }
                        &.highlighted:after {
                            @include font-awesome-inline("\f005");
                            color: #f78b3a;
                        }
                    }
                }
            }
        }
    }

    .dropdown-container {
        position: relative;
        z-index: 1;
        &.active {
            z-index: 2;
        }
        h2.active {
            background: #1a1a1a;
            border-radius: 5px 5px 0 0;
            color: #fafafa;
        }
        h2.selected {
            background: #1a1a1a;
            color: #fafafa;
        }
        .dropdown {
            @include box-shadow(0,0,0);
            position: absolute;
            bottom: 3px;
            right: 1px;
            transform: translateY(100%);
            background: #1a1a1a;
            color: #fafafa;
            white-space: nowrap;
            padding: 5px;
            border-radius: 4px;
            display: none;
            &.open {
                display: inline-block;
            }
        }
        &.download {
            .dropdown {
                left: auto;
                right: 1px;
            }
        }
    }
    .box-inner ul.attributes > li,
    .box-inner .stats ul > li {
        input {
            pointer-events: none;
        }
    }

    *[ng-click]:not(.ignore-ngclick) {
        cursor: pointer;
    }

    [data-corner-ribbon] {
        position: absolute;
        left: -6px;
        top: -9px;
        /* z-index: 1; -overlaps highlight menu dropdown */
        overflow: hidden;
        height: 77px;
        width: 77px;
        strong {
            font-size: 12px;
            color: #1a1a1a;
            text-transform: uppercase;
            text-align: center;
            line-height: 24px;
            transform: rotate(-45deg);
            width: 100px;
            display: block;
            background: #d0d1d0;
            box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
            position: absolute;
            top: 15px;
            left: -22px;
            &::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0px;
                z-index: -1;
                border-left: 3px solid #d0d1d0;
                border-right: 3px solid transparent;
                border-bottom: 3px solid transparent;
                border-top: 3px solid #d0d1d0;
            }
            &::after {
                content: "";
                position: absolute;
                top: 100%;
                right: 0px;
                z-index: -1;
                border-left: 3px solid transparent;
                border-right: 3px solid #d0d1d0;
                border-bottom: 3px solid transparent;
                border-top: 3px solid #d0d1d0;
            }
        }
    }

    .category-firmographics {
        &.color {
            color: #33bdb7;
        }
        &.border {
            border-color: #33bdb7;
        }
        &.border-top {
            border-top-color: #33bdb7;
        }
        &.background:not(.active):hover,
        &.active.active-glow {
            @include box-shadow(0,255,224);
            border-color: #33bdb7;
        }
        &.background-color {
            background-color: #33bdb7;
        }
    }
    .category-growth-trends {
        &.color {
            color: #65b7e6;
        }
        &.border {
            border-color: #65b7e6;
        }
        &.border-top {
            border-top-color: #65b7e6;
        }
        &.background:not(.active):hover,
        &.active.active-glow {
            @include box-shadow(0,177,255);
            border-color: #65b7e6;
        }
        &.background-color {
            background-color: #65b7e6;
        }
    }
    .category-intent {
        &.color {
            color: #f15a5a;
        }
        &.border {
            border-color: #f15a5a;
        }
        &.border-top {
            border-top-color: #f15a5a;
        }
        &.background:not(.active):hover,
        &.active.active-glow {
            @include box-shadow(255,100,100);
            border-color: #f15a5a;
        }
        &.background-color {
            background-color: #f15a5a;
        }
    }
    .category-online-presence {
        &.color {
            color: #8e71b2;
        }
        &.border {
            border-color: #8e71b2;
        }
        &.border-top {
            border-top-color: #8e71b2;
        }
        &.background:not(.active):hover,
        &.active.active-glow {
            @include box-shadow(160,100,255);
            border-color: #8e71b2;
        }
        &.background-color {
            background-color: #8e71b2;
        }
    }
    .category-technology-profile {
        &.color {
            color: #70bf4a;
        }
        &.border {
            border-color: #70bf4a;
        }
        &.border-top {
            border-top-color: #70bf4a;
        }
        &.background:not(.active):hover,
        &.active.active-glow {
            @include box-shadow(115,255,34);
            border-color: #70bf4a;
        }
        &.background-color {
            background-color: #70bf4a;
        }
    }
    .category-website-keywords {
        &.color {
            color: #fdbc49;
        }
        &.border {
            border-color: #fdbc49;
        }
        &.border-top {
            border-top-color: #fdbc49;
        }
        &.background:not(.active):hover,
        &.active.active-glow {
            @include box-shadow(253,188,73);
            border-color: #fdbc49;
        }
        &.background-color {
            background-color: #fdbc49;
        }
    }
    .category-website-profile {
        &.color {
            color: #26649b;
        }
        &.border {
            border-color: #26649b;
        }
        &.border-top {
            border-top-color: #26649b;
        }
        &.background:not(.active):hover,
        &.active.active-glow {
            @include box-shadow(50,179,255);
            border-color: #26649b;
        }
        &.background-color {
            background-color: #26649b;
        }
    }
    .disabled-grayout {
        .color {
            color: gray;
        }
        .border {
            border-color: gray;
        }
        .border-top {
            border-top-color: gray;
        }
        .background:not(.active):hover,
        .active.active-glow {
            border-color: gray;
        }
        .background-color {
            background-color: gray;
        }
        &.category, &.subcategory {
            .box-inner {
                &.background {
                    background-color: #f7f7f7;
                }
            }
        }
        img {
            filter: grayscale(100%);
        }
        &.enrichment {
            .box-inner {
                background-color: #f7f7f7;
            }
        }
    }
    .enrichments-loading-bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10000;
        & > div {
            height: 5px;
            background-color: #70bf4a;
        }

    }
    .no-results-lookup {
        margin: 0 auto;
        width: 80%;
        padding: 30px;
        border: 1px solid #d0d0d0;
        border-radius: 10px;
        margin-top: 40px;
        h2, p, {
            margin-bottom: 10px;
        }
    }
    .status-alert-box {
        @include flex-container;
        position: fixed;
        top: 130px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        background: white;
        border-radius: 4px;
        border: 1px solid rgb(253,188,84);
        box-shadow: 0 1px 5px rgba(253,188,84,0.20);
        padding: 0;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &.no_results {
            position: absolute;
            top: 75px;
        }
        .icon {
            @include flex-item(0 0 auto);
            color: white;
            background: rgb(253,188,84);
            position: relative;
            width: 70px;
            &:after {
                @include font-awesome-inline("\f071");
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                text-align: center;
                transform: translateY(-50%);
                font-size: 33px;
            }
        }
        .message {
            @include flex-item(1 1 auto);
            padding: 15px;
            padding-right: 35px;
            strong {
                font-weight: bold;
            }
            i {
                vertical-align: middle;
            }
            p {
                line-height: normal;
                margin-bottom: 10px;
            }
        }
        &.saved {
            border-color: rgb(111,190,74);
            .icon {
                background: rgb(111,190,74);
                &:after {
                    @include font-awesome-inline("\f00c");
                }
            }
        }
        & > .close {
            position: absolute;
            top: 18px;
            right: 10px;
        }
    }
}
.insights-content {
    .enrichment-wizard-container {
        &.container {
            margin: 0;
            padding: 12px 0px 12px 12px;
        }
        .categories .category .box-inner {
            padding: 8px 10px 5px;
            text-align: left;

            h2 {
                margin: 0;
                text-align: left;

                .category-icon {
                    display: none;
                }
            }

            .count {
                margin: 0;

                strong {
                    font-weight: normal;
                }
            }
        }
    }
}