<div class="enrichment-wizard-container container section-{{vm.section}}">
        <div class="status-alert-box {{vm.status_alert.type}}" ng-show="vm.status_alert.show">
            <div class="icon"></div>
            <div class="message" ng-bind-html="vm.status_alert.message"></div>
            <i class="close fa fa-times" ng-click="vm.closeStatusMessage()"></i>
        </div>

        <div class="filters-container">
            <ul class="filters" >
                <li class="query">
                    <div class="ng-search">
                        <a class="button icon-button white-button" ng-click="vm.queryText.length ? vm.queryText = null : ''">
                            <span class="fa fa-search" ng-show="!vm.query.length && !vm.queryInProgress"></span>
                            <span class="fa fa-times" ng-show="vm.query.length && !vm.queryInProgress"></span>
                            <span class="fa fa-spinner fa-pulse fa-fw" ng-show="vm.queryInProgress"></span>
                        </a>
                        <input type="text" class="form-control" placeholder="Search" ng-model="vm.queryText" ng-change="vm.metadata.current = 1" />
                    </div>
                </li>
                <li class="filter dropdown-container" ng-disabled="!vm.enrichments_completed">
                    <h2 class="button icon-button white-button" ng-class="{selected: vm.metadata.toggle.show.selected || vm.metadata.toggle.hide.selected || vm.metadata.toggle.show.premium || vm.metadata.toggle.hide.premium || vm.metadata.toggle.show.internal || vm.metadata.toggle.show.enabled || vm.metadata.toggle.hide.enabled || vm.metadata.toggle.show.highlighted  || vm.metadata.toggle.hide.highlighted || vm.metadata.toggle.show.nulls}">
                        <i class="fa fa-filter"></i>
                    </h2>
                    <ul class="dropdown">
                        <li class="toggle selected show" ng-if="!vm.lookupMode && vm.section != 'browse' && vm.section != 'team'"><input type="checkbox" id="enabled" name="enabled" ng-model="vm.metadata.toggle.show.selected" ng-change="vm.metadata.current = 1;" ng-checked="vm.metadata.toggle.show.selected"  ng-disabled="vm.metadata.toggle.hide.selected" /> <label for="enabled">Enabled only</label></li>
                        <li class="toggle selected hide" ng-if="!vm.lookupMode && vm.section != 'browse' && vm.section != 'team'"><input type="checkbox" id="nonenabled" name="nonenabled" ng-model="vm.metadata.toggle.hide.selected" ng-change="vm.metadata.current = 1;" ng-checked="vm.metadata.toggle.hide.selected"  ng-disabled="vm.metadata.toggle.show.selected"/> <label for="nonenabled">Non-Enabled only</label></li>

                        <li class="toggle enabled show" ng-if="!vm.lookupMode && vm.section == 'team'"><input type="checkbox" id="enabled" name="enabled" ng-model="vm.metadata.toggle.show.enabled" ng-change="vm.metadata.current = 1;" ng-checked="vm.metadata.toggle.show.enabled"  ng-disabled="vm.metadata.toggle.hide.enabled" /> <label for="enabled">Enabled only</label></li>
                        <li class="toggle enabled hide" ng-if="!vm.lookupMode && vm.section == 'team'"><input type="checkbox" id="nonenabled" name="nonenabled" ng-model="vm.metadata.toggle.hide.enabled" ng-change="vm.metadata.current = 1;" ng-checked="vm.metadata.toggle.hide.enabled"  ng-disabled="vm.metadata.toggle.show.enabled"/> <label for="nonenabled">Non-Enabled only</label></li>

                        <li class="toggle highlighted show" ng-if="vm.section == 'team'"><input type="checkbox" id="highlighted" name="highlighted" ng-model="vm.metadata.toggle.show.highlighted" ng-change="vm.metadata.current = 1;" ng-checked="vm.metadata.toggle.show.highlighted" ng-disabled="vm.metadata.toggle.hide.highlighted" /> <label for="highlighted">Highlighted only</label></li>
                        <li class="toggle highlighted hide" ng-if="vm.section == 'team'"><input type="checkbox" id="nonhighlighted" name="nonhighlighted" ng-model="vm.metadata.toggle.hide.highlighted" ng-change="vm.metadata.current = 1;" ng-checked="vm.metadata.toggle.hide.highlighted"  ng-disabled="vm.metadata.toggle.show.highlighted"/> <label for="nonhighlighted">Non-Highlighted only</label></li>

                        <li class="toggle premium show" ng-if="!vm.lookupMode"><input type="checkbox" id="premium_show" name="premium_show" ng-model="vm.metadata.toggle.show.premium" ng-change="vm.metadata.current = 1;" ng-checked="vm.metadata.toggle.show.premium" ng-disabled="vm.metadata.toggle.hide.premium" /> <label for="premium_show">Premium only</label></li>
                        <li class="toggle premium hide" ng-if="!vm.lookupMode"><input type="checkbox" id="premium_hide" name="premium_hide" ng-model="vm.metadata.toggle.hide.premium" ng-change="vm.metadata.current = 1;" ng-checked="vm.metadata.toggle.hide.premium" ng-disabled="vm.metadata.toggle.show.premium" /> <label for="premium_hide">Non-Premium only</label></li>

                        <li class="toggle internal show" ng-if="!vm.lookupMode && vm.show_internal_filter"><input type="checkbox" id="internal" name="internal" ng-model="vm.metadata.toggle.show.internal" ng-change="vm.metadata.current = 1;" ng-checked="vm.metadata.toggle.show.internal" /> <label for="internal">Include Internal Attributes</label></li>
                        <li class="toggle no-attributes show" ng-if="vm.lookupMode"><input type="checkbox" id="nulls" name="nulls" ng-model="vm.metadata.toggle.show.nulls" ng-change="vm.metadata.current = 1;" ng-checked="vm.metadata.toggle.show.nulls" /> <label for="nulls">Include "No" Attributes</label></li>
                    </ul>
                </li>
                <li class="sort" ng-disabled="!vm.category">
                    <a class="button icon-button white-button" ng-click="vm.sortPrefix = (vm.sortPrefix == '+' ? '-' : '+'); vm.metadata.current = 1;" ng-init="vm.sortPrefix = '+';">
                        <span class="fa fa-sort-amount-{{vm.sortPrefix == '+' ? 'asc' : 'desc'}}"></span>
                    </a>
                </li>
                <li class="save" ng-if="vm.enabledManualSave">
                    <button class="save button orange-button" ng-disabled="vm.saveDisabled" ng-click="vm.saveSelected()">{{vm.label.button_save}}</button>
                </li>
                <li class="download dropdown-container" ng-if="!vm.lookupMode && vm.section != 'insights' && vm.section != 'browse'">
                    <h2 class="button icon-button white-button">
                        <i class="fa fa-download"></i>
                    </h2>
                    <ul class="dropdown">
                        <li ng-repeat="button in vm.download_button.items"><a href="{{button.href}}"><i class="{{button.icon}}"></i>{{button.label}}</a></li>
                    </ul>
                    <!-- <menu-dropdown config="vm.download_button"></menu-dropdown> -->
                </li>
            </ul>
        </div>

        <ul class="categories" ng-class="{'has-category': vm.category}" ng-if="!vm.enrichments_completed">
            <li class="load-status">
                <div>
                    <div class="loader"></div>
                </div>       
            </li>
        </ul>

        <ul class="categories" ng-class="{'has-category': vm.category}" ng-if="vm.enrichments_completed">
            <li ng-if="!vm.category && vm.lookupMode && vm.hasCompanyInfo" class="category company">
                <div class="box-inner company-info round-box">
                    <ul class="info">
                        <li><h2 title="{{vm.LookupResponse.companyInfo.LDC_Name}}">{{vm.LookupResponse.companyInfo.LDC_Name}}</h2></li>
                        <li>{{vm.companyInfoFormatted('address')}}</li>
                        <li><a href="tel:+1{{vm.LookupResponse.companyInfo.LE_COMPANY_PHONE}}">{{vm.companyInfoFormatted('phone')}}</a></li>
                        <li><a href="http://{{vm.LookupResponse.companyInfo.LDC_Domain}}">{{vm.LookupResponse.companyInfo.LDC_Domain}}</a></li>
                    </ul>

                    <div class="details">
                        <ul>
                            <li ng-if="vm.LookupResponse.companyInfo.LDC_DUNS"><h3>Duns Number</h3> {{vm.LookupResponse.companyInfo.LDC_DUNS}}</li>
                            <li ng-if="vm.LookupResponse.companyInfo.LE_NUMBER_OF_LOCATIONS"><h3>Locations</h3> {{vm.LookupResponse.companyInfo.LE_NUMBER_OF_LOCATIONS}}</li>
                            <li ng-if="vm.LookupResponse.companyInfo.LE_IS_PRIMARY_LOCATION"><h3>Primary Location</h3> {{vm.LookupResponse.companyInfo.LE_IS_PRIMARY_LOCATION}}</li>
                        </ul>

                        <div class="industry" ng-if="vm.LookupResponse.companyInfo.LE_INDUSTRY">
                            <h3>Industry</h3>
                            {{vm.LookupResponse.companyInfo.LE_INDUSTRY}}
                        </div>

                        <div class="sales-employees">
                            <div class="sales" ng-if="vm.LookupResponse.companyInfo.LE_REVENUE_RANGE">
                                <h3>Annual Sales</h3>
                                {{vm.companyInfoFormatted('range', vm.LookupResponse.companyInfo.LE_REVENUE_RANGE)}}
                            </div>

                            <div class="employees" ng-if="vm.LookupResponse.companyInfo.LE_EMPLOYEE_RANGE"> 
                                <h3>Empolyees</h3>
                                {{vm.companyInfoFormatted('range', vm.LookupResponse.companyInfo.LE_EMPLOYEE_RANGE)}}
                            </div>
                        </div>
                    </div>
                </div>

            </li>
            <li ng-repeat="category in vm.categories" class="category" 
                ng-if="count = vm.categoryCount(category)"
                ng-class="{active: vm.category == category}" 
                ng-click="vm.categoryClick(category); vm.metadata.current = 1;">
                
                <div class="box-inner noselect-children background {{vm.categoryClass(category)}} border-top color round-box active-glow" ng-class="{active: vm.category == category}">
                    <span>
                        <h2 title="{{category}}">
                            <div class="category-icon">
                                <img ng-src="{{vm.categoryIcon(category)}}" />
                            </div>
                            <div class="category-label">{{category}}</div>
                        </h2>

                        <span class="count">
                            <strong ng-if="vm.enrichments_completed">{{ count|number }}</strong>
                            <strong ng-if="!vm.enrichments_completed"><em><!-- ?? --></em><i class="fa fa-spinner fa-spin fa-fw"></i></strong>
                        </span>

                        <div class="attributes-container" ng-if="!vm.category" ng-show="subcategories = vm.getTileTableItems(category)">
                            <ul class="attributes noselect-children">
                                <li class="header">
                                    <div class="column label">{{ vm.lookupMode ? 'Attributes' : 'Top 5 attributes' }}</div>
                                    <div class="column data">{{ vm.lookupMode ? 'Values' : 'Records' }}</div>
                                </li>

                                <li ng-repeat="attribute in subcategories | orderBy: [ '-Value' ] | limitTo: 5">
                                    <div class="column label" title="{{attribute.DisplayName}}">{{ attribute.DisplayName }}</div>
                                    <div class="column data {{ vm.lookupMode ? 'values' : 'records' }}">{{ vm.filterLookupFiltered(attribute.AttributeValue, attribute.FundamentalType) }}{{ attribute.NonNullCount|number }}</div>
                                </li>
                            </ul>
                        </div>
                    </span>
                </div>
            </li>
        </ul>
        
        <div class="subcategory-container" ng-if="vm.subcategories[vm.category].length && !vm.subcategory">
            <div class="subcategory-back" ng-if="vm.category">
                <span ng-click="vm.category = ''; vm.metadata.current = 1; vm.updateStateParams();">Back</span>
            </div>
            <div class="row enrichment-wizard-pagination noselect-children" ng-show="vm.max > 1">
                <div class="twelve columns">
                    <pd-pagination-controls 
                            current="vm.metadata.current" 
                            max="vm.max = (subcategoriesList ? subcategoriesList.length / vm.pagesize : 0)">
                    </pd-pagination-controls>
                </div>
            </div>

            <ul class="subcategories">
                <li ng-repeat="subcategory in (subcategoriesList = vm.subcategories[vm.category])
                        | orderBy: vm.sortOrder()
                        | startFrom: (vm.metadata.current - 1) * vm.pagesize 
                        | limitTo: vm.pagesize 
                        track by $index" 
                    class="subcategory"
                    ng-if="count = vm.subcategoryCount(vm.category, subcategory)"
                    ng-class="{active: vm.subcategory == subcategory}" 
                    ng-click="(vm.subcategory == subcategory ? vm.subcategory = '' : vm.subcategory = subcategory); vm.metadata.current = 1; vm.updateStateParams();">
                    
                    <div class="box-inner {{vm.categoryClass(vm.category)}} background color border-top round-box"
                         ng-class="{active: vm.subcategory == subcategory}">
                        
                        <h2 class="noselect-children">
                            <div class="category-icon">
                                <img ng-src="{{vm.subcategoryIcon(vm.category, subcategory)}}" />
                            </div>
                            <div class="category-label">{{subcategory}}</div>
                        </h2>

                        <span class="count noselect-children">
                            <strong ng-if="vm.enrichments_completed">{{ count|number }}</strong>
                            <strong ng-if="!vm.enrichments_completed"><em><!-- ?? --></em><i class="fa fa-spinner fa-spin fa-fw"></i></strong>
                        </span>

                        <div class="attributes-container">
                            <ul class="attributes noselect-children">
                                <li class="header">
                                    <div class="column label">{{ vm.lookupMode ? 'Attributes' : 'Top 5 attributes' }}</div>
                                    <div class="column data">{{ vm.lookupMode ? 'Values' : 'Records' }}</div>
                                </li>

                                <li ng-repeat="attribute in (vm.subCategoryAttributes = vm.getTileTableItems(vm.category, subcategory)) | orderBy: [ '-Value' ] | limitTo: 5">
                                    <div class="column label" title="{{attribute.DisplayName}}">
                                        {{ attribute.DisplayName }}
                                    </div>

                                    <div class="column data data-value-{{ attribute.Value == 'Yes' ? 'yes' : 'no' }} {{ vm.lookupMode ? 'values' : 'records' }}">
                                        {{ vm.filterLookupFiltered(attribute.Value, attribute.FundamentalType) }}{{ attribute.NonNullCount|number }}
                                    </div>
                                </li>
                            </ul>

                            <div class="attributes-more noselect" ng-if="vm.subCategoryAttributes.length > 5">More</div>
                        </div>
                    </div>
                </li>

                <li class="load-status" ng-show="!subcategoriesList.length">
                    <div ng-show="!vm.enrichments_loaded">
                        <div class="loader"></div>
                    </div>

                    <h2 ng-show="vm.enrichments_loaded">{{vm.label.no_results}}</h2>
                </li>
            </ul>

            <div class="row enrichment-wizard-pagination noselect-children" ng-show="vm.max > 1">
                <div class="twelve columns">
                    <pd-pagination-controls 
                            current="vm.metadata.current" 
                            max="vm.max = (subcategoriesList ? subcategoriesList.length / vm.pagesize : 0)">
                    </pd-pagination-controls>
                </div>
            </div>
        </div>

        <div class="enrichments-container" ng-if="(!vm.subcategories[vm.category].length || vm.subcategory) && vm.category">
            <div class="subcategory-back" ng-if="vm.subcategories[vm.category].length && vm.subcategories[vm.category].length > 1 && vm.subcategory">
                <span ng-click="vm.subcategory = ''; vm.metadata.current = 1; vm.updateStateParams();">Back</span> | {{vm.subcategory}}
            </div>
            <div class="row enrichment-wizard-pagination noselect-children" ng-init="vm.metadata.current = 1" ng-show="vm.max > 1">
                <div class="twelve columns">
                    <pd-pagination-controls 
                            current="vm.metadata.current" 
                            max="vm.max = filteredList.length / vm.pagesize">
                    </pd-pagination-controls>
                </div>
            </div>

            <ul class="enrichments {{vm.view}}">
                <li class="box" 
                    ng-repeat="enrichment in (filteredList = (vm.enrichmentsObj[vm.category] 
                        | filter: vm.searchFields
                        | filter: vm.enrichmentsFilter()
                        | orderBy: vm.sortOrder()))
                        | startFrom: (vm.metadata.current - 1) * vm.pagesize 
                        | limitTo: vm.pagesize 
                        track by enrichment.FieldNameInTarget"
                    ng-if="!vm.lookupMode || vm.lookupFiltered[enrichment.FieldName]"
                    ng-class="{'active': enrichment.IsSelected}">
                    <div class="box-inner {{vm.categoryClass(enrichment.Category)}} color border-top round-box ngAnimate"
                         ng-class="{'active': enrichment.IsSelected}">
                        <div class="header">
                            <h2 title="{{enrichment.DisplayName}}">
                                <div class="category-icon">
                                    <div class="highlighted-decoration {{vm.categoryClass(enrichment.Category)}} color" ng-if="enrichment.HighlightState.highlighted">
                                        <i ng-repeat="i in vm.getArray(5) track by $index" class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <img ng-src="{{vm.categoryIcon(enrichment.Category)}}" class="ico noselect" />
                                    <div class="highlighted-decoration {{vm.categoryClass(enrichment.Category)}} color" ng-if="enrichment.HighlightState.highlighted">
                                        <i ng-repeat="i in vm.getArray(5) track by $index" class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <strong>{{enrichment.DisplayName}}</strong>
                            </h2>
                            <!--// keep this below the h2 so that the z-indexes work with out setting z-index in the css -->
                            <ul class="tags">
                                <li data-corner-ribbon="premium" ng-if="enrichment.IsPremium" class="premium noselect-children"><strong>premium</strong></li>
                                <li data-corner-ribbon="internal" ng-if="enrichment.IsInternal" class="internal noselect-children"><strong>internal</strong></li>
                            </ul>
                        </div>

                        <p class="description" title="{{enrichment.Description}}">
                            <strong ng-if="vm.lookupFiltered[enrichment.FieldName]" title="{{vm.lookupFiltered[enrichment.FieldName]}}">{{vm.filterLookupFiltered(vm.lookupFiltered[enrichment.FieldName], enrichment.FundamentalType)}}</strong>
                            <span ng-if="!vm.lookupFiltered[enrichment.FieldName]">{{enrichment.Description}}</span>
                        </p>

                        <span class="lesser-description" ng-if="vm.lookupMode">
                            {{ enrichment.Description }}
                        </span>
                        <div class="stats" ng-if="vm.cube.Stats[enrichment.FieldName].RowStats.Bkts.List && vm.cube.Stats[enrichment.FieldName].RowStats.Bkts.List.length && (!vm.cube.Stats[enrichment.FieldName].RowStats.Bkts.Type || !vm.cube.Stats[enrichment.FieldName].RowStats.Bkts.Type != 'Numerical') && vm.section != 'lookup'">
                            <h5><label>Attribute range</label><label>Records</label></h5>
                            <ul>
                                <li ng-repeat="stat in vm.cube.Stats[enrichment.FieldName].RowStats.Bkts.List">
                                    <ul class="graph">
                                        <li class="label" title="{{stat.Lbl}}">
                                            {{stat.Lbl}}
                                        </li>
                                        <li class="bar_">
                                            <div style="width: 100%;" ng-style="{width:vm.percentage(stat.Cnt, vm.cube.Stats[enrichment.FieldName].RowStats.Cnt, '%', 0)}" title="{{vm.percentage(stat.Cnt, vm.cube.Stats[enrichment.FieldName].RowStats.Cnt, '%', 0)}}">
                                                <span class="{{vm.categoryClass(enrichment.Category)}} background-color"></span>
                                            </div>
                                        </li>
                                        <li class="count">
                                            <span>{{stat.Cnt|number}}</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <ul class="controls noselect" ng-if="!vm.lookupMode">
                            <li class="control enrich" ng-if="vm.section == 'edit'">
                                <button class="button" 
                                        ng-class="{'msg': enrichment.button_msg, 'error': enrichment.button_error, 'selected': enrichment.IsSelected}" 
                                        ng-click="enrichment.WasDirty = enrichment.IsDirty || false; enrichment.IsDirty = true; enrichment.IsSelected = !enrichment.IsSelected; vm.selectEnrichment(enrichment)">
                                    <span>{{!enrichment.IsSelected ? enrichment.button_select || vm.label.button_select : (enrichment.IsDirty ? vm.label.button_deselect : vm.label.button_selected)}}</span>
                                </button>
                            </li>
                            <li class="control highlight dropdown-container" ng-if="vm.section == 'team'" ng-init="openHighlighter[enrichment.FieldName] = {}">
                                <!-- this can't be a <button> element because IE and FF don't like it -->
                                <div class="button" 
                                        ng-class="{'selected': openHighlighter[enrichment.FieldName].open, 'enabled': enrichment.HighlightState.enabled}" 
                                        ng-click="openHighlighter[enrichment.FieldName].open = !openHighlighter[enrichment.FieldName].open">
                                    <span class="highlight-icon {{openHighlighter[enrichment.FieldName].state.type || enrichment.HighlightState.type}}">{{openHighlighter[enrichment.FieldName].state.label || enrichment.HighlightState.label || 'Set'}}</span>
                                    <ul ng-class="{open: openHighlighter[enrichment.FieldName].open}" class="highlightOptions button-dropdown">
                                        <li ng-repeat="(type, label) in vm.highlightTypes" class="highlight-icon {{type}}" ng-click="openHighlighter[enrichment.FieldName].state = vm.setFlag(type, enrichment)">{{label}}</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="load-status" ng-show="!filteredList.length">
                    <div ng-show="!vm.enrichments_loaded">
                        <div class="loader"> </div>
                    </div>       
                    <h2 ng-show="vm.enrichments_loaded">{{vm.label.no_results}}</h2>
                </li>
            </ul>

            <div class="row enrichment-wizard-pagination noselect-children" ng-init="vm.metadata.current = 1" ng-show="vm.max > 1">
                <div class="twelve columns">
                    <pd-pagination-controls 
                            current="vm.metadata.current" 
                            max="vm.max = filteredList.length / vm.pagesize">
                    </pd-pagination-controls>
                </div>
            </div>
        </div>
</div>