<div class="remodel container">
    <div class="inner-container">

        <div class="header">
            <h2>Do you want to prevent the model from selecting any particular attributes?</h2>
            <p>The top 300 attributes that result in the best quality model are shown below. The model automatically uses the top 50. You can’t decide what goes into the model, but you can prevent attributes from being selected by disabling them below. This ony disables them for this particular model. If you want to disable an attribute for all models, <a ui-sref="home.attributes">you can do that from the admin section here</a>.</p>
        </div>
        <div class="content-body">
            <attr-remodel-filters filters="$ctrl.filters"></attr-remodel-filters>
    		<attr-categories 
                categories="$ctrl.categories" 
                store="$ctrl.store"
                callback="$ctrl.setCategoryData(category)"></attr-categories>
    		<attr-remodel-list filters="$ctrl.filters"></attr-remodel-list>
        </div>

    </div>
</div>