// START: Tile flip animation
// CSS acquired from http://desandro.github.io/3dtransforms/docs/card-flip.html
.tile-flip-container
{
    // NOTE: wherever tile-flip-container is used it will need a height and width to initiate the tile flip
    //width:                320px;
    //height:               320px;
    position:             relative;
    
    @include perspective(1000);
}

.tile-flipper
{
    width:                100%;
    height:               100%;
    position:             absolute;
    
    @include transform-style(preserve-3d);    
    @include transition(0.75s);
}

.tile-flipper > .tile-flip-front,
.tile-flipper > .tile-flip-back
{
    display:              block;
    position:             absolute;
    width:                100%;
    height:               100%;
    
    @include backface-visibility(hidden);
}

.tile-flipper .tile-flip-back 
{
  @include transform(rotateY(180deg));
}

.tile-flipper.flipped 
{
  @include transform(rotateY(180deg));
}
// END: Tile flip animation