.hiddenComponent
{
    display:            none;
}

.is-hidden
{
    display:            none;
}

/* Makes the size too small to see and clips overflow for use when you cant just set display to none */
.invisible-component
{
    border:             0; 
    clip:               rect(0 0 0 0); 
    height:             1px; 
    margin:             -1px; 
    overflow:           hidden; 
    padding:            0; 
    position:           absolute; 
    width:              1px;
}

html,
body
{
    height:             100%;
    width:              100%;
    padding:            0px;
    margin:             0px;
}

h2
{
    font-size:          1.1em;
}

h3
{
    font-weight: bold;
    margin: 0px;
}

body
{
    margin:             0 auto;
    background-color:   $primary-bg-color;
    color:              $primary-text-color;
    font-family:        Helvetica, sans-sarif;
    font-size:          12px;
    border:             none;
}

a
{ 
    outline:            none;
    -moz-outline-style: none;
}



/* This will set the style for all a tag links in the app*/
a:link,
a:visited,
a:hover,
a:active
{
    color:              $link-color; 
    text-decoration:    none;
}

a:hover
{
    color:              $link-hover-color; 
}

p 
{
  margin:               0px;
}

img.center
{
    display:            block;
    margin-left:        auto;
    margin-right:       auto;
}

/* Utility classes, for layout within the application */
/* DO NOT CHANGE THESE CLASSES */

.bold
{
    font-weight: bold;
}

.row, .col
{
    overflow:           hidden;
    position:           absolute;
}

.row 
{ 
    left:               0; 
    right:              0; 
}

.col
{ 
    top:                0; 
    bottom:             0; 
}

.scroll-x 
{ 
    overflow-x:         auto; 
}

.scroll-y 
{ 
    overflow-y:         auto; 
}

/* Style for common left hand nav, right hand content */
.leftNav.col
{
    width:              195px;
}

/* Style for common left hand nav, right hand content */
.rightBody.col
{
    left:               195px;
    right:              0px;
}

.rightNav {
    background:         $primary-bg-color;
}

.rightNav.col
{
    right:              0px;
    width:              195px;
}

.leftBody.col
{
    left:               0px;
    right:              195px;
}

.top.row
{
    top:                0;
    bottom:             35%;
}

.bottom.row
{
    top:                65%;
    bottom:             0;
}

.cursor-pointer
{
    cursor:             pointer;
}

.cursorDefault
{
    cursor:             default;
}

/* rule to have a div fill all the remaining space*/
.fillSpace
{
    top:                0;
    bottom:             0;
    left:               0;
    right:              0;
    position:           absolute;
}

/* currently unused replacement for fillSpace, we will swicth to this at some point */
.fillSpaceRelative
{
    width:              100%;
    height:             100%;
    position:           relative;
}

/* Border used throughout the application */
.border
{
    border:             1px solid $input-border-color;
}

.border-top
{
    border-top:        1px solid $input-border-color;
}

.border-left
{
    border-left:       1px solid $input-border-color;
}

.border-right
{
    border-right:      1px solid $input-border-color;
}

.border-bottom
{
    border-bottom:     1px solid $input-border-color;
}

.no-border
{
    border:            none;
}

.mediumPadding
{
    padding:            10px;
}

.headingPadding
{
    padding:            12px 12px 0px 12px;
}

.fillSpace.inTabs,
.fillSpace.withHeader
{
    top:                37px;
}

.fillSpace.withTallHeader
{
    top:                80px;
}

.fillSpace.inMinTabs
{
    top:                39px;
}

.inFixedGrid
{
    position:          absolute;
    top:               73px;
    left:              0px;
    right:             0px;
    bottom:            0px;
    overflow-y:        auto;
}

.header.row 
{
    height:            40px;
}

.tall-header.row
{
    height:            80px;
}

.content.row
{
    top:                40px;
    bottom:             0px;
}

.withFooter
{
    bottom:             44px;
}

.footer.row 
{
    bottom:             0px;
}

/* Utility class to float an element right */
.float-right
{
    float:              right;
}

/* Utility class to float an element left */
.float-left
{
    float:              left;
}

/* Utility class to center an element */
.horizontal-center
{
    text-align:         center;
}

.middle-align
{
    vertical-align: middle;
}

.action-footer
{
    height:             44px;
    vertical-align:     middle;
    background:         url('../CommonAssets/images/action_footer_background.png') 100% repeat-x;
}

.action-footer-button
{
    margin-top:         6px;
    padding:            0px 11px;
}

/* Special Styling for the Three Column view */
.threeColContent.row 
{ 
    top:                0px; 
    bottom:             0px; 
}

.threeCol
{
    position:           absolute;
    overflow:           hidden;
    top:                0;
    padding:            30px;
    background-color:   $primary-bg-color;
}

.left
{
    right:              67%;
    left:               0;
}

.center
{
    right:              34%;
    left:               33%;
    border-left:        1px solid $primary-border-color;
    border-right:       1px solid $primary-border-color;
}

.right
{
    left:               66%; 
    right:              0; 
}

.large-header.row
{
   height:             75px; 
}

.large-content.row
{
    top:                75px;
    bottom:             0px;
}

/*This style is used for header section within views*/
.inner-header-style
{
    height:             40px;
    padding-left:       10px;
    padding-right:      10px;
    font-weight:        bold;
    background-color:   $secondary-bg-color;
}

/* END Layout classes */

.busy-indicator
{
    background-image:   url(../images/loading-display.gif);
    width:              16px;
    height:             16px;
    background-position:0% 0%;
    background-repeat:  no-repeat no-repeat
}

/* Used to prevent user interaction with the UI while loading is occurring */
.blocking-event
{
    background-color:   $blocking-div-background-color;
    opacity:            .3;
    filter:             progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    z-index:            99999; /* The main header has a z-index of 500 so this needs to cover the main header as well */
}

.blocking-event-spinner
{
    z-index:            99999;
}

.blocking-event-message
{
    color:              $main-navigation-text-color;
    background:         $blocking-div-background-color;
    border-radius:      5px;
    padding:            3px;
    width:              200px;
    position:           absolute;
    top:                42%;
    left:               0;
    right:              0;
    margin:             0 auto;
    z-index:            99999;
    text-align:         center;
}

/* Centers an element in the middle it's containing element */
.centered
{
    position:           absolute;
    top:                0px;
    left:               0px;
    right:              0px;
    bottom:             0px;
    margin:             auto;
}

.waiting
{
    cursor:             wait !important; /*rule will always be applied*/
}

/* This style will remove any cursor styling that was previously applied */
.cursor-default
{
    cursor:             default;
}

.align-right
{
    text-align:         right;
}

/* IFrames don't respect absolute positioning so we have to set min height and width */
.iframe-container
{
    border:             0px;
    min-width:          100%;
    min-height:         100%;
    background-color:   $app-bg-color;
}

/* This style "hides" the flash movie but still allows it to receive method calls */
.hideFlashMovie
{
    position:           absolute;
    right:              0;
    top:                0;
    width:              1px;
    height:             1px;
}

/* set main width for main content view of an app*/
#mainContentView
{
    min-width:          1000px;
}

/* styling for the initial loading screen */
.initial-loading-placeholder
{
    width:              100%;
    height:             100%;
    background:         url('../CommonAssets/images/login_background.jpg') no-repeat center center fixed;
    background-size:    100% 100%;
    -ms-filter:         "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/CommonAssets/images/login_background.jpg', sizingMethod='scale')"; /* IE fullscreen image */
    color:              #FFFFFF;
    text-align:         center;
}

/* styling for the initial loading screen */
.initial-loading-spinner-container
{
    position:           absolute;
    top:                280px;
    left:               0px;
    right:              0px;
    bottom:             0px;
    width:              100px;
    height:             100px;
    border-radius:      10px;
    background-color:   $primary-bg-color;
    box-shadow:         0px 3px 5px 0px $border-shadow-color;
    border:             1px solid $primary-border-color;
    margin-left:        auto;
    margin-right:       auto;
}

.service-error-container
{
    margin:           30px;
}

.service-error-message-container
{
    margin-top:       30px;
}

// Turns all text uppercase
.uppercase
{
    text-transform:   uppercase;
}
