/* Modal Header Styles */
.modal-top-nav {
  height: 40px;
  @include header-gradient;
  color: $placeholder-text-color;
}

.modal-top-nav>.left{
  float: left;
  line-height: 40px;
  padding-left: 20px;
}

.modal-top-nav>.right{
  float: right;
  line-height: 40px;
  padding-right: 20px;
}

li.option-list-item {
    color: $link-color;
    cursor: pointer;
}

li.option-list-item:hover{
    color: $text-color;
}
li.option-list-item.active{
    color: $text-color;
    font-weight: bold;
}

/* END: Modal Header Styles */

// Class used to hide the close button in the top right corner. Example use in BaseDialog.js
.no-close-button .ui-dialog-titlebar-close 
{
  display: none;
}

.bare-hover-modal {
  position: absolute;
  z-index: 9000;
  width: 285px;
  top: 10px;
  left: 10px;
  border: 1px solid $separator-border-color;
  border-radius: 5px 5px 5px 5px;
  background: white;
}

.bare-hover-modal-title {
    color:              white;
    line-height:        23px;
    border:             0 none;
    padding:            7px;
    @include dark-gray-header-gradient;
}

.bare-hover-modal-sub-title {
    border-bottom:      1px solid $separator-border-color;
    background:         $sub-header-bg-color;
    height:             25px;
}

.bare-hover-modal-sub-title_left {
    padding:            5px;
    width:              195px;
    height:             15px;
    border-right:       1px solid $separator-border-color; 
    background:         $sub-header-bg-color;
    float: left;
}

.bare-hover-modal-sub-title_right {
    padding:            5px;
    width:              65px;
    height:             15px;
    background:         $sub-header-bg-color;
    float: right; 
}

.bare-hover-modal-sub-footer {
    border-top:         1px solid $separator-border-color;
    background:         $sub-header-bg-color;
    padding:            5px;
}

.top-predicators-modal-item {
    border:             0 none;
    padding:            7px;
}

.top-predicators-modal-item-bg {
    background:         $predictor-alternate-bg-color;
}

.top-predicators-modal-item-description {
    width:              273px;
    overflow:           hidden;
    white-space:        nowrap;
    text-overflow:      ellipsis;
}

.top-predicators-modal-item-tp {
    float: right;
    width: 40px;
    text-align: right;
}

.top-predicators-modal-item-ratio{
    float: left;
    width: 35px;
}

.top-predicators-modal-item-bar-container{
    height: 20px;
}

.top-predicators-modal-item-bar{
    overflow: hidden;
    position: relative;
    float: left;
    height: 15px;
    width: 175px;
}

.top-predicators-modal-item-top-base {
    z-index: 9001;
    position:absolute;
    width: 160px;
    height: 7px;
    border-bottom: 1px solid $predictor-bar-base;
    border-left: 1px solid $predictor-bar-base;
    border-right: 1px solid $predictor-bar-base;
}

.top-predicators-modal-item-bottom-base {
    z-index: 9001;
    position:absolute;
    width: 160px;
    height: 7px;
    top: 8px;
    border-left: 1px solid $predictor-bar-base;
    border-right: 1px solid $predictor-bar-base;
}

.top-predicators-modal-item-middle-base {
    z-index: 9001;
    position:absolute;
    left: 80px;
    width: 1px;
    height: 15px;
    border-left: 1px solid $predictor-bar-base;
}

.top-predicators-modal-item-progress-bar-positive{
    position:absolute;
    z-index: 9002;
    height: 8px;
    background: $predictor-bar-positive;
    left: 81px;
    top : 4px;
    border-radius: 0px 3px 3px 0px;
}

.top-predicators-modal-item-progress-bar-negative{
    position:absolute;
    z-index: 9002;
    height: 8px;
    background: $predictor-bar-negative;
    top : 4px;
    border-radius: 3px 0px 0px 3px;
}

.top-predictors-modal-sub-title
{
    font-size:    10px;
    line-height:  10px;
}

/* Tooltip Styling */
.ui-tooltip {
    background: #666;
    color: white;
    border: none;
    padding: 0;
}
.ui-tooltip-content {
    position: relative;
    padding: 4px 7px 4px 7px;
}

.arrow {
    position: absolute;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.arrow.arrow-left {
    border-left: 0px;
    border-right: 7px solid #666;
    left: -7px;
    top: 50%;
    margin-top: -7px;
}

.arrow.arrow-right {
    border-left: 7px solid #666;
    border-right: 0px;
    right: -7px;
    top: 50%;
    margin-top: -7px;
}

.arrow.arrow-top {
    border-top: 0px;
    border-bottom: 7px solid #666;
    top: -7px;
    right: 50%;
    margin-right: -7px;
}

.arrow.arrow-bottom {
    border-top: 7px solid #666;;
    border-bottom: 0px;
    bottom: -7px;
    right: 50%;
    margin-right: -7px;
}

.arrow.arrow-bottom.arrow-right {
    right: 0px;
    margin-right: 0px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    top: initial;
}

.arrow.arrow-bottom.arrow-left {
    left: 0px;
    right: auto;
    margin-right: 14px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    top: initial;
}

.arrow.arrow-top.arrow-right {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    right: 7px;
    margin-top: 0px;
}

.arrow.arrow-top.arrow-left {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    left: 0px;
    right: auto;
    margin-top: 0px;
}

.complex-filter-calculate-tooltip {
    right: 117px;
    top: 30px;
    width: 100%;
}

.infoContainer
{
    background-color:   $warning-border-color; // was #FFFFBF
    border:             1px solid $warning-border-color; // was #FFCC99
    padding:            5px;
}

/*Style used to define the About dialog */
#helpAboutDialogContainer p
{
    padding-left:       20px;
    margin:             15px 10px 15px 10px;
}

#changePasswordFormContainer 
{ 
    height:             300px !important; 
} 

/*Style used to define the Change Password dialog */
#changePasswordFormContainer div
{
    margin-top:         10px;
}

/*BEGIN Styling Jquery UI modals*/

/* Hide the close button on the top right of jquery UI dialogs */
/* Ref: http://stackoverflow.com/questions/896777/remove-close-button-on-jqueryui-dialog */
.ui-dialog-titlebar-close
{
    visibility:         hidden;
}

/* Hide the title bar for jQuery UI dialogs used as alerts */
/* Ref: http://stackoverflow.com/questions/1023072/jquery-ui-dialog-how-to-initialize-without-a-title-bar */
.alert .ui-dialog-titlebar
{
    display:            none;
}

/* modal dialog content and header padding/size/color adjustments */
.ui-dialog 
{
    padding:             0;
}

/* these styles give the nice transparent gray box around the modal popup */
.ui-dialog.ui-widget-content 
{
    border:              10px solid rgba(0,0,0,0.2);
    -moz-background-clip:padding;     /* Firefox 3.6 */
    -webkit-background-clip:padding;  /* Safari 4? Chrome 6? */
    background-clip:     padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}

.ui-dialog .ui-widget-header 
{
    @include modal-header-gradient;
    background-image: none;
}

.ui-dialog .ui-widget-content 
{
    border:             1px solid $primary-border-color;
    border-left:        0 none;
    border-right:       0 none;
}

.ui-dialog input.ui-widget-content 
{ 
    border:             1px solid $primary-border-color; 
} 

.ui-dialog .ui-dialog-content 
{
    border-bottom:      0 none;
    border-left:        0 none;
    border-right:       0 none;
}
.ui-dialog-content a 
{
    color:              #0085B2;
}

/* bottom row of buttons */
.ui-dialog .ui-dialog-buttonpane 
{
    background:         #F1F1F1;
    padding:            0.3em 0em 0.3em 0em;
    margin:             0;
}

.ui-dialog .ui-button.ui-state-default
{
    @include btn-color;
    @include btn-border;
    background-image: none;
}

.ui-dialog .ui-button.ui-state-hover
{
    color:              #333;
    text-decoration:    none;
    text-shadow:        0 1px 0 #ccc;
    @include btn-hover-color;
    background-image: none;
}

.ui-dialog .ui-button.ui-state-active
{
    @include btn-shadow;
    background-image: none;
}

.ui-dialog .ui-button-text 
{
    color:              #66727A;
    text-shadow:        0 1px 0 #fff;
    font-weight:        600;
    font-size:          .9em;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset 
{
    float:              right;
    margin-right:       10px;
}

.ui-dialog .ui-dialog-buttonset button 
{
    padding:            3px 30px;
}

/* title bar and close button styles */
.ui-dialog .ui-dialog-titlebar 
{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding:            1.1em 1em;
}

.ui-dialog .ui-dialog-title 
{
    font-weight:        400;
    font-size:          16px;
    color:              #fff;
}

.ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick 
{
    color:              #666666;
    font-size:          20px;
    margin-top:         -2px;
    margin-left:        2px;
    overflow:           visible;
    text-align:         center;
}

.ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-titlebar-close.ui-state-hover 
{
    border:             3px solid #666;
    border-radius:      50%;
    background:         #EBEFF1;
    visibility:         visible;
    padding:            5px;
    font-size:          20px;
    font-weight:        600;
}

.ui-dialog .ui-dialog-titlebar-close:after 
{
    content:            '\00d7';
    position:           absolute;
    top:                4px;
    left:               9px;
    font-size:          18px;
    color:              #666;
}

.ui-dialog .ui-dialog-titlebar-close.ui-state-hover:after 
{
    color:              #000;
}

.ui-dialog .ui-state-hover .ui-icon-closethick
{
    color:              #000;
}

.ui-dialog-titlebar, .ui-dialog 
{
    overflow:           visible;
}

.ui-dialog .ui-dialog-titlebar-close 
{
    margin:             -46px -25px 0 0;
    z-index:            99999;
}

.ui-dialog a.ui-dialog-titlebar-close.ui-state-hover  
{
    border:             3px solid #000;
    background:         #fff;
}

.clickWrapText 
{
    padding-left:       10px;
    padding-top:        6px;
}

/* START: ContactSupportDialog styles */
.contact-support-container
{
    margin:             0;
    padding:            30px;
    background:         $primary-bg-color url(../CommonAssets/images/contact_support_bg.png) 0 0 repeat-x;
}

.contact-support-container ul
{
    margin:             0;
    padding:            0;
    list-style:         none;  
}
.contact-support-container ul li
{
    padding:            0 0 0 90px;
    margin:             0 0 40px 0;
    min-height:         76px;
}
.contact-support-email 
{
    background:         url(../CommonAssets/images/contact_support_email.png) left top no-repeat; 
}


.contact-support-disclaimer 
{
    margin:             40px 0 14px 0;
    font-size:          .9em;
    color:              $placeholder-text-color;
}
/* END: ContactSupportDialog styles */

/* END: Modal Dialog Styles */