<div class="enrichment-wizard-container container">
        <div class="status-alert-box {{vm.status_alert.type}}" ng-show="vm.status_alert.show">
            <div class="icon"></div>
            <div class="message" ng-bind-html="vm.status_alert.message">
            </div>
            <i class="close fa fa-times" ng-click="vm.closeStatusMessage()"></i>
        </div>
        <div class="enrichments-loading-bar" ng-if="!vm.lookupmode && vm.percentage(vm.count, vm.enrichments.length) !== 100"><div style="width: {{vm.percentage(vm.count, vm.enrichments.length)}}%;"></div></div>
        <div class="filters-container">
            <ul class="filters" >
                <li class="query">
                    <div class="ng-search">
                        <a class="button icon-button white-button" ng-click="vm.query.length ? vm.query = null : ''">
                            <span class="fa fa-search" ng-show="!vm.query.length"></span>
                            <span class="fa fa-times" ng-show="vm.query.length"></span>
                        </a>
                        <input type="text" class="form-control" placeholder="Search" ng-model="vm.query" ng-change="vm.metadata.current = 1" />
                    </div>
                </li>
                <li class="filter dropdown-container" ng-disabled="!vm.enrichments_completed">
                    <h2 class="button icon-button white-button" ng-class="{active:openFilters, selected: vm.metadata.toggle.show.selected || vm.metadata.toggle.show.premium || vm.metadata.toggle.hide.premium || vm.metadata.toggle.show.internal}">
                        <i class="fa fa-filter"></i>
                    </h2>
                    <ul class="dropdown">
                        <li><input type="checkbox" id="enabled" name="enabled" ng-model="vm.metadata.toggle.show.selected" ng-change="vm.metadata.current = 1;" ng-checked="vm.metadata.toggle.show.selected" /> <label for="enabled">Enabled only</label></li>
                        <li><input type="checkbox" id="premium_show" name="premium_show" ng-model="vm.metadata.toggle.show.premium" ng-change="vm.metadata.current = 1;" ng-checked="vm.metadata.toggle.show.premium" ng-disabled="vm.metadata.toggle.hide.premium" /> <label for="premium_show">Premium only</label></li>
                        <li><input type="checkbox" id="premium_hide" name="premium_hide" ng-model="vm.metadata.toggle.hide.premium" ng-change="vm.metadata.current = 1;" ng-checked="vm.metadata.toggle.hide.premium" ng-disabled="vm.metadata.toggle.show.premium" /> <label for="premium_hide">Non-Premium only</label></li>
                        <li ng-if="vm.show_internal_filter"><input type="checkbox" id="internal" name="internal" ng-model="vm.metadata.toggle.show.internal" ng-change="vm.metadata.current = 1;" ng-checked="vm.metadata.toggle.show.internal" /> <label for="internal">Include Internal Attributes</label></li>
                    </ul>
                </li>
                <li class="sort" ng-disabled="!vm.category">
                    <a class="button icon-button white-button" ng-click="vm.sortPrefix = (vm.sortPrefix == '+' ? '-' : '+'); vm.metadata.current = 1;" ng-init="vm.sortPrefix = '+';">
                        <span class="fa fa-sort-amount-{{vm.sortPrefix == '+' ? 'asc' : 'desc'}}"></span>
                    </a>
                </li>
                <li class="save" ng-if="vm.enabledManualSave">
                    <button class="save button orange-button" ng-disabled="vm.saveDisabled" ng-click="vm.saveSelected()">{{vm.label.button_save}}</button>
                </li>
                <li class="info" ng-if="!vm.lookupmode">
                    <div ng-if="vm.enrichments_completed || 1">
                        Enrichment: {{vm.generalSelectedTotal}} of {{vm.generalSelectLimit}} / {{vm.premiumSelectedTotal}} of {{vm.premiumSelectLimit}} premium 
                       <span class="more-info">&#105;
                           <div class="tooltip_">
                               <div class="cover">
                                   <p>
                                       Up to {{vm.generalSelectLimit}} attributes may be selected to enrich your MAP system. Of those, only {{vm.premiumSelectLimit}} may be premium.
                                   </p>
                                   <p>
                                       When enabled, these attributes will be written to your system during the scoring process. If you disable attributes that you were using for real-time scoring, they will no longer be updated in your system.
                                   </p>
                               </div>
                           </div>
                       </span>
                    </div>
                </li>
                <li class="download test dropdown-container" ng-show="!vm.lookupmode">
                    <h2 class="button icon-button white-button" ng-class="{active:openDownload}">
                        <i class="fa fa-download"></i>
                    </h2>
                    <ul class="dropdown">
                        <li ng-repeat="button in vm.download_button.items"><a href="{{button.href}}"><i class="{{button.icon}}"></i>{{button.label}}</a></li>
                    </ul>
                    <!-- <menu-dropdown config="vm.download_button"></menu-dropdown> -->
                </li>
                <li class="account-lookup" ng-if="!vm.lookupmode">
                    <button class="button white-button" ui-sref="home.lookup">Account Lookup</button>
                </li>
            </ul>
        </div>

        <ul class="categories" ng-class="{'has-category': vm.category}">
            <li ng-repeat="category in vm.categories" class="category" 
                ng-class="{active: vm.category == category}" 
                ng-click="vm.categoryClick(category); vm.metadata.current = 1;">
                <div class="box-inner background {{vm.categoryClass(category)}} border-top color round-box active-glow" ng-class="{active: vm.category == category}">
                    <span>
                        <h2>
                            <div class="category-icon">
                                <img ng-src="{{vm.categoryIcon(category)}}" />
                            </div>
                            <div class="category-label">{{category}}</div>
                        </h2>
                        <span class="count">
                            <strong ng-if="vm.enrichments_completed">{{vm.categoryCount(category)|number}}</strong>
                            <strong ng-if="!vm.enrichments_completed"><em><!-- ?? --></em><i class="fa fa-spinner fa-spin fa-fw"></i></strong>
                        </span>
                    </span>
                </div>
            </li>
        </ul>
        
        <div class="subcategory-container" ng-if="vm.subcategories[vm.category].length && !vm.subcategory">
            <div class="row enrichment-wizard-pagination" ng-show="vm.max > 1">
                <div class="twelve columns">
                    <pd-pagination-controls 
                            current="vm.metadata.current" 
                            max="vm.max = (subcategoriesList ? subcategoriesList.length / vm.pagesize : 0)">
                    </pd-pagination-controls>
                </div>
            </div>
            <ul class="subcategories">
                <li ng-repeat="subcategory in (subcategoriesList = vm.subcategories[vm.category]) 
                        | filter: vm.subcategoryFilter
                        | orderBy: vm.sortOrder()
                        | startFrom: (vm.metadata.current - 1) * vm.pagesize 
                        | limitTo: vm.pagesize 
                        track by $index" 
                    class="subcategory"
                    ng-class="{active: vm.subcategory == subcategory}" 
                    ng-click="(vm.subcategory == subcategory ? vm.subcategory = '' : vm.subcategory = subcategory); vm.metadata.current = 1;">
                    <div class="box-inner {{vm.categoryClass(vm.category)}} background color border-top round-box"
                         ng-class="{active: vm.subcategory == subcategory}">
                        <h2>
                            <div class="category-icon">
                                <img ng-src="{{vm.subcategoryIcon(vm.category, subcategory)}}" />
                            </div>
                            <div class="category-label">{{subcategory}}</div>
                        </h2>
                        <span class="count">
                            <strong ng-if="vm.enrichments_completed">{{ vm.subcategoryCount(vm.category, subcategory)|number }}</strong>
                            <strong ng-if="!vm.enrichments_completed"><em>??</em><i class="fa fa-spinner fa-spin fa-fw"></i></strong>
                        </span>
                        <ul ng-if="vm.topAttributes[vm.category].SubCategories[subcategory]" class="attributes">
                           <li ng-repeat="attribute in vm.topAttributes[vm.category].SubCategories[subcategory]">
                               <div class="column label">{{::attribute.Attribute}}</div>
                               <div class="column data">{{::attribute.NonNullCount|number}}</div>
                           </li>
                       </ul>
                    </div>
                </li>
            </ul>
            <div class="row enrichment-wizard-pagination" ng-show="vm.max > 1">
                <div class="twelve columns">
                    <pd-pagination-controls 
                            current="vm.metadata.current" 
                            max="vm.max = (subcategoriesList ? subcategoriesList.length / vm.pagesize : 0)">
                    </pd-pagination-controls>
                </div>
            </div>
        </div>

        <div class="enrichments-container" ng-if="(!vm.subcategories[vm.category].length || vm.subcategory) && vm.category">
            <div class="subcategory-back" ng-if="vm.subcategories[vm.category].length && vm.subcategory">
                <span ng-click="vm.subcategory = ''">Back</span> | {{vm.subcategory}}
            </div>
            <div class="row enrichment-wizard-pagination" ng-init="vm.metadata.current = 1" ng-show="vm.max > 1">
                <div class="twelve columns">
                    <pd-pagination-controls 
                            current="vm.metadata.current" 
                            max="vm.max = filteredList.length / vm.pagesize">
                    </pd-pagination-controls>
                </div>
            </div>
            <ul class="enrichments {{vm.view}}" data-across="{{vm.across}}">
                <li class="box" 
                    ng-repeat="enrichment in (filteredList = (vm.enrichmentsObj[vm.category] 
                        | filter: vm.searchFields
                        | orderBy: vm.sortOrder()
                        | filter: { 
                                    'IsSelected': (!vm.metadata.toggle.show.selected ? '' : true), 
                                    'IsPremium': (!vm.metadata.toggle.show.premium ? '' : true) || (!vm.metadata.toggle.hide.premium ? '' : false),
                                    'IsInternal': (!vm.metadata.toggle.show.internal ? '' : true),
                                    'Category': vm.category,
                                    'Subcategory': vm.subcategory
                                    })) 
                        | startFrom: (vm.metadata.current - 1) * vm.pagesize 
                        | limitTo: vm.pagesize 
                        track by enrichment.FieldNameInTarget"
                    ng-if="!vm.lookupmode || vm.lookupFiltered[enrichment.FieldName]"
                    ng-class="{'active': enrichment.IsSelected}">
                    <div class="box-inner {{vm.categoryClass(enrichment.Category)}} color border-top round-box ngAnimate"
                         ng-class="{'active': enrichment.IsSelected}">
                        <div class="header">
                            <ul class="tags">
                                <li data-corner-ribbon="premium" ng-if="enrichment.IsPremium" class="premium"><strong>premium</strong></li>
                                <li data-corner-ribbon="internal" ng-if="enrichment.IsInternal" class="internal"><strong>internal</strong></li>
                            </ul>
                            <h2 title="{{enrichment.DisplayName}}">
                                <div class="category-icon">
                                    <img ng-src="{{vm.categoryIcon(enrichment.Category)}}" class="ico" />
                                </div>
                                <strong>{{enrichment.DisplayName}}</strong>
                            </h2>
                        </div>
                        <p class="description" title="{{enrichment.Description}}">
                            <strong ng-if="vm.lookupFiltered[enrichment.FieldName]">{{vm.lookupFiltered[enrichment.FieldName]}}</strong>
                            <span ng-if="!vm.lookupFiltered[enrichment.FieldName]">{{enrichment.Description}}</span>
                        </p>
                        <span class="lesser-description" ng-if="vm.lookupmode">
                            {{ enrichment.Description }}
                        </span>
                        <div class="controls" ng-if="!vm.lookupmode">
                            <div class="toggle">
                                <button class="button" 
                                        ng-class="{'msg': enrichment.button_msg, 'error': enrichment.button_error, 'selected': enrichment.IsSelected}" 
                                        ng-click="enrichment.WasDirty = enrichment.IsDirty || false; enrichment.IsDirty = true; enrichment.IsSelected = !enrichment.IsSelected; vm.selectEnrichment(enrichment)">
                                    <span>{{!enrichment.IsSelected ? enrichment.button_select || vm.label.button_select : (enrichment.IsDirty ? vm.label.button_deselect : vm.label.button_selected)}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-show="!filteredList.length">
                    <div ng-show="!vm.enrichments_loaded">
                        <div class="loader"> </div>
                    </div>       
                    <h2 ng-show="vm.enrichments_loaded">{{vm.label.no_results}}</h2>
                </li>
            </ul>
            <div class="row enrichment-wizard-pagination" ng-init="vm.metadata.current = 1" ng-show="vm.max > 1">
                <div class="twelve columns">
                    <pd-pagination-controls 
                            current="vm.metadata.current" 
                            max="vm.max = filteredList.length / vm.pagesize">
                    </pd-pagination-controls>
                </div>
            </div>
        </div>

</div>