@mixin flex-container($args...) {
    display: -webkit-flex;
    display: flex;
}

@mixin flex-item($args...) {
    -webkit-flex: $args;
    -ms-flex: $args;
    flex: $args;
}

@mixin font-awesome-inline($args...) {
    content: $args;
    display: block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.enrichment-container {
    min-height: 2155px;
    
    section {
        margin-top: 2em;
    }
    .subheader-container {
        @include flex-container;
        flex-wrap: wrap;
        ul.subheader {
            @include flex-container;
            @include flex-item(0 1 auto);
            margin-bottom: 20px;
            &:first-child {
                @include flex-item(1 0 auto);
                margin-right: 10px;
            }
            li {
                display: inline-block;
                margin-right: 10px;
                font-size: 16px;
                white-space: nowrap;
            }
            & > li {
                @include flex-item(1 1 auto);
                margin-right: 20px;
            }
            & > li:last-child {
                margin-right: 0;
            }
            li.categories {
                .form-control {
                    width: auto;
                    color: #676767;
                    background-color: #fff;
                    border-color: #d0d0d0;
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 6px;
                    display: inline-block;
                    padding: 10px;
                }
            }
            li.query {
                .ng-search .form-control {
                    width: 200px;;
                }
            }
            li.totals {
                ul {
                    transform: translateY(25%);
                }
                em.badge {
                    display: inline-block;
                    min-width: 50px;
                    padding: 10px;
                }
            }
        }
        &.fixed {
            position: fixed;
            top: 0;
            background: white;
            z-index: 5;
            &:after {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: -1000px;
                right: -1000px;
                bottom: 0;
                background: inherit;
                z-index: -1;
                min-height: 65px;
                transition: none;
                box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
            }
            ul.subheader {
                margin: 10px;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
        
    .box {
        padding: 10px;
        margin: 5px 0;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 10px;
        position: relative;
        min-height: 77px;
        padding-left: 90px;
        padding-right: 170px;

        & > .ico-container {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            .ico {
              height: 65px;
              width: 70px;
            }
        }
        & > h2 {
            margin: 0;
            margin-bottom: 10px;
            font-size: 20px;
            strong {
                display: block;
            }
            em {
                display: block;
                color: #d0d0d0;
                font-size: 13px;
                margin-bottom: 5px;
            }
        }
        & > button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            font-weight: normal;
            font-size: 10px;
            height: 50px;
            width: 150px;
            white-space: normal;
            background-color: #467dba;
            padding: 0;
            transition: none;
            & > span {
                text-align: center;
            }
            &.msg {
                background-color: #6fbe4a;
            }
            &.error {
                background-color: #d20227;
            }
            &.is-dirty:not(.msg):after {
                //@include font-awesome-inline("\f14a");
                @include font-awesome-inline("\f071");
                color: white;
                position: absolute;
                top: -1px;
                left: 3px;
                font-size: 14px;
            }
        }
        &.active {
           & > button {
                &:not(.is-dirty) {
                    border: 0;
                    background: 0;
                    color: black;
                    text-align: right;
                    padding-right: 44px;
                    &:after {
                        @include font-awesome-inline("\f00c");
                        color: #6fbe4a;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        font-size: 33px;
                    }
                }
           }
        }
        [data-corner-ribbon] {
            position: absolute;
            left: -5px; 
            top: -5px;
            z-index: 1;
            overflow: hidden;
            height: 77px;
            width: 77px;
            strong {
                font-size: 12px;
                color: white;
                text-transform: uppercase;
                text-align: center;
                line-height: 24px;
                transform: rotate(-45deg);
                width: 100px;
                display: block;
                background: #f16a22;
                box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
                position: absolute;
                top: 15px; 
                left: -22px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 0px;
                    z-index: -1;
                    border-left: 3px solid #F16A22;
                    border-right: 3px solid transparent;
                    border-bottom: 3px solid transparent;
                    border-top: 3px solid #F16A22;
                }
                &::after {
                    content: "";
                    position: absolute; 
                    top: 100%;
                    right: 0px; 
                    z-index: -1;
                    border-left: 3px solid transparent;
                    border-right: 3px solid #F16A22;
                    border-bottom: 3px solid transparent;
                    border-top: 3px solid #F16A22;
                }
            }
        }
    }
}
