<div class="enrichment-container">
    <section id="main-content" class="container">
        <div class="subheader-container">
            <ul class="subheader">
                <li class="categories">
                    <select class="form-control" ng-model="vm.categoryOption" ng-options="value as value for (key, value) in vm.categories" ng-change="vm.changeCategory(); vm.metadata.current = 1;">
                        <option value="">{{vm.category ? vm.categories_see_all : vm.categories_select_all}}</option>
                    </select>
                </li>
                <li class="query">
                    <div class="ng-search">
                        <input type="text" class="form-control" placeholder="Search" ng-model="vm.query" ng-change="vm.metadata.current = 1" />
                        <a class="button icon-button white-button" ng-click="vm.query.length ? vm.query = null : ''">
                            <span class="fa fa-search" ng-show="!vm.query.length"></span>
                            <span class="fa fa-times" ng-show="vm.query.length"></span>
                        </a>
                    </div>
                </li>
            </ul>
            <ul class="subheader">
                <li class="totals">
                    <ul>
                        <li>
                            Total Selected <em class="badge">{{(vm.selectedTotal = vm.enrichments | filter: {'IsSelected': true}).length}}</em>
                        </li>
                        <li>
                            Premium Selected <em class="badge">{{(vm.premiumTotal = vm.enrichments | filter: {'IsSelected': true, 'IsPremium': true}).length}}</em>
                        </li>
                    </ul>
                </li>
                <li class="menu">
                    <a class="button icon-button white-button" ng-click="SortOrder = (SortOrder == 'FieldName' ? '-FieldName' : 'FieldName'); vm.metadata.current = 1;" ng-init="SortOrder = 'FieldName';">
                        <span class="fa fa-sort-alpha-{{ SortOrder == 'FieldName' ? 'asc' : 'desc' }}"></span>
                    </a>
                </li>
                <li class="save">
                    <button class="button orange-button" ng-disabled="vm.saveDisabled" ng-click="vm.saveSelected()">{{vm.button_save}}</button>
                </li>
            </ul>
        </div>
        <ul class="enrichments">
            <li class="box" 
            ng-repeat="enrichment in (filteredList = (vm.enrichments 
            | filter: vm.query
            | orderBy: SortOrder
            | filter: { 'Category': vm.category || '', 'IsSelected': (!vm.metadata.selectedToggle ? '' : true) })) 
            | startFrom: (vm.metadata.current - 1) * vm.pagesize 
            | limitTo: vm.pagesize" 
            ng-class="{'active': enrichment.IsSelected}" 
            ng-click="vm.showData(enrichment)">
                <div data-corner-ribbon="premium" ng-if="enrichment.IsPremium"><strong>premium</strong></div>
                <div class="ico-container"><span class="ico ico-light-gray ico-locations"></span></div>
                <h2>{{enrichment.DisplayName}}</h2>
                <p>{{enrichment.Description}}</p>
                <button class="button" 
                ng-class="{'msg': enrichment.button_msg, 'error': enrichment.button_error, 'is-dirty': enrichment.IsDirty}" 
                ng-click="enrichment.WasDirty = enrichment.IsDirty || false; enrichment.IsDirty = true; enrichment.IsSelected = !enrichment.IsSelected; vm.selectEnrichment(enrichment)" n
                g-class="{'is-dirty': enrichment.IsDirty}">
                    <span>{{!enrichment.IsSelected ? enrichment.button_select || vm.button_select : (enrichment.IsDirty ? vm.button_deselect : vm.button_selected)}}</span>
                </button>
            </li>
            <li ng-show="!filteredList.length">
              <h2>{{vm.no_results}}</h2>
            </li>
        </ul>
        <div class="row required-fields-pagination" ng-init="vm.metadata.current = 1" ng-show="vm.max > 1">
            <div class="twelve columns">
                <pd-pagination-controls current="vm.metadata.current" max="vm.max = filteredList.length / vm.pagesize">
                </pd-pagination-controls>
            </div>
        </div>

    </section>
</div>
