.enrichment-wizard-container {
    $box-width: calc(100%/4);
    @mixin box-shadow($r,$g,$b) {
        box-shadow: 0px 0px 11px 2px rgba($r,$g,$b,0.33);
    }

    .filters {
        @include flex-container;
        border-bottom: 1px solid #d0d1d0;
        padding-bottom: 10px;
        margin-bottom: 20px;
        margin-right: 14px;
        input[type="radio"], input[type="checkbox"] {
            margin: 0;
        }
        & > li {
            @include flex-item(0 1 auto);
            margin-right: 10px;
            label {
                width: auto;
            }
            &[disabled] {
                pointer-events: none;
                opacity: .4;
            }
            &.query {
                margin-right: 16px;
            }
            &.info {
                flex: 1 1 auto;
                position: relative;
                z-index: 200;
                & > div {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    border-left: 1px solid #d0d1d0;
                    padding-left: 18px;
                    font-size: 16px;
                    i {
                        color: #457eba;
                        font-size: 19px;
                    }
                }
                .more-info {
                    position: relative;
                    cursor: default;
                    &:hover {
                        .tooltip_ {
                            display: block;
                        }
                    }
                    .tooltip_ {
                        @include box-shadow(0,0,0);
                        display: none;
                        position: absolute;
                        top: calc(100% + 11px);
                        left: 50%;
                        transform: translateX(-50%);
                        width: 325px;
                        background-color: #222831;
                        border-radius: 4px;
                        font-weight: normal;
                        p {
                            margin-bottom: 25px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                        & > .cover {
                            position: relative;
                            z-index: 20;
                            padding: 20px;
                            padding-right: 10px;
                            background-color: inherit;
                            overflow: hidden;
                        }
                        &:before {
                            box-shadow: inherit;
                            content: '';
                            display: block;
                            position: absolute;
                            left: calc(50% - 10px);
                            top: -9px;
                            height: 20px;
                            width: 20px;
                            background: inherit;
                            transform: rotate(45deg);
                            z-index: -10;
                        }
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            left: calc(50% - 10px);
                            top: -9px;
                            height: 20px;
                            width: 20px;
                            background: inherit;
                            transform: rotate(45deg);
                            z-index: 10;
                        }
                    }
                }
            }
        }
    }

    pd-pagination-controls .pd-pagination {
        text-align: right;
        margin-right: 15px;
    }

   .categories {
        @include flex-container;
        margin-bottom: 20px;
        margin-right: 2px;
        &:not(.has-category) {
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            .category {
                @include flex-item(0 0 auto);
                width: $box-width;
                padding: 10px 14px 0 0;
                .box-inner {
                    position: relative;
                    background-color: white;
                    h2 {
                        margin-top: 25px;
                        font-size: 20px;
                        .category-label {
                            height: 45px;
                            overflow: hidden;
                        }
                    }
                    .count {
                        position: absolute;
                        top: 9px;
                        right: 15px;
                        font-size: 20px;
                    }
                }
            }
        }
        &.has-category {
            .category {
                width: 50px;
                h2 {
                    margin-top: 10px;
                }
            }
        }
        .category {
            @include flex-item(1 0 auto);
            padding: 12px 12px 0 0;
            .box-inner {
                padding: 10px;
                text-align: center;
                background-color: white;
                &.active {
                    & > span {
                        position: relative;
                        z-index: 20;
                    }
                    position: relative;
                    &:before {
                        box-shadow: inherit;
                        content: '';
                        display: block;
                        position: absolute;
                        left: calc(50% - 10px);
                        bottom: -11px;
                        height: 20px;
                        width: 20px;
                        background: inherit;
                        transform: rotate(45deg);
                        z-index: -10;
                    }
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        left: calc(50% - 10px);
                        bottom: -11px;
                        height: 20px;
                        width: 20px;
                        background: inherit;
                        transform: rotate(45deg);
                        border-bottom-width: 1px;
                        border-bottom-style: solid;
                        border-right-width: 1px;
                        border-right-style: solid;
                        border-color: inherit;
                        z-index: 10;
                    }
                }
                h2 {
                    text-align: center;
                    font-size: 15px;
                    .category-icon {
                        height: 40px;
                        width: 40px;
                        border-width: 1px;
                        border-style: solid;
                        border-color: #d0d1d0;
                        padding: 10px;
                        border-radius: 50%;
                        margin: 0 auto;
                        margin-bottom: 5px;
                        img {
                            display: block;
                            margin: 0 auto;
                            margin-bottom: 5px;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
                .count {
                    display: block;
                    font-weight: bold;
                    font-size: 16px;
                    margin-bottom: 10px;
                }
            }
        } 
    } 

    .subcategories {
        @include flex-container;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        .subcategory {
            @include flex-item(0 0 auto);
            width: $box-width;
            padding: 14px 14px 0 0;
            .box-inner {
                position: relative;
                padding: 10px;
                text-align: center;
                height: 100%;
                background-color: white;
                h2 {
                    text-align: center;
                    font-size: 16px;
                    margin-top: 20%;
                    margin-bottom: 5px;
                    .category-label {
                        height: 35px;
                        overflow: hidden;
                    }
                    .category-icon {
                        height: 36px;
                        width: 36px;
                        border-width: 1px;
                        border-style: solid;
                        border-color: #d0d1d0;
                        padding: 8px;
                        border-radius: 50%;
                        margin: 0 auto;
                        margin-bottom: 5px;
                        img {
                            display: block;
                            margin: 0 auto;
                            margin-bottom: 5px;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
                .count {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    font-weight: bold;
                }
            }
        } 
    }

    .subcategory-back {
        font-size: 18px;
        margin-top: 10px;
    }

    .enrichments {
        @include flex-container;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        .box {
            @include flex-item(0 0 auto);
            width: $box-width;
            padding: 14px 14px 0 0;
            .box-inner {
                position: relative;
                text-align: center;
                padding: 10px;
                padding-bottom: 30px;
                background-color: white;
                //height: 200px;
                .header {
                    h2 {
                        font-size: 18px;
                        margin: 5px 0;
                        margin-top: 15px;
                        .category-icon {
                            height: 36px;
                            width: 36px;
                            border-width: 1px;
                            border-style: solid;
                            border-color: #d0d1d0;
                            padding: 8px;
                            border-radius: 50%;
                            margin: 0 auto;
                            margin-bottom: 5px;
                            img {
                                display: block;
                                margin: 0 auto;
                                margin-bottom: 5px;
                                height: 100%;
                                width: 100%;
                            }
                        }
                        strong {
                            display: block;
                            max-height: 3.2em;
                            overflow: hidden;
                        }
                    }
                }
                .description {
                    font-size: 12px;
                    margin: 20px 0;
                    border: 1px solid #d0d1d0;
                    border-left: 0;
                    border-right: 0;
                    overflow: hidden;
                    max-height: 9.5em;
                }
                .controls {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 10px;
                    .toggle {
                        @include flex-item(1 0 auto);
                        @include flex-container;
                        position: relative;
                        min-width: 135px;
                        button {
                            @include flex-item(0 0 auto);
                            -webkit-align-self: center;
                            -ms-flex-item-align: center;
                            align-self: center;
                            margin: 0 auto;

                            position: relative;
                            padding: 3px 9px;
                            font-size: 10px;
                            font-weight: bold;
                            color: #1a1a1a;
                            border-radius: 1px;
                            box-shadow: 0 0 10px 0 rgba(57, 137, 195, 0.1);
                            background-color: #d0d1d0;
                            border: solid 1px #bbb;
                            span {
                                 padding-right: 20px;
                            }
                            &:after {
                                @include font-awesome-inline("\f00d");
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: auto;
                                right: 0;
                                background-color: #fff;
                                padding: 3px 5px;
                            }
                            &.selected {
                                background-color: #fafafa;
                                span {
                                    padding: 0;
                                    padding-left: 20px;
                                }
                                &:after {
                                    @include font-awesome-inline("\f00c");
                                    left: 0;
                                    right: auto;
                                    color: #6fbe4a;
                                    border-right: 1px solid #bbb;
                                }
                            }
                        }
                    }
                }
            }
        } 
    }

    .count {
        em {
            font-style: italic;
        }
        i {
            font-size: 10px;
            margin-left: 5px;
        }
    }

    .round-box {
        background: #fafafa;
        border-style: solid;
        border-width: 1px;
        border-top-width: 5px;
        border-radius: 0 0 4px 4px;
        border-color: #d0d1d0;
    }

    .box-inner {
        height: 100%;
        ul.attributes {
            margin-top: 15px;
            color: #1a1a1a;
            font-size: 11px;
            text-align: left;
            & > li {
                @include flex-container;
                padding: 5px;
                &:nth-child(odd) {
                    background-color: #f2f1f1;
                }
                & > .column {
                    @include flex-item(1 1 auto);
                    padding: 0;
                    &.label {
                        @include text-ellipsis();
                        margin-right: 5px;
                    }
                    &.data {
                        @include flex-item(0 1 auto);
                    }
                }
            }
        }
    }


    .dropdown-container {
        position: relative;
        z-index: 100;
        h2.active {
            background: #1a1a1a;
            border-radius: 5px 5px 0 0;
            color: #fafafa;
        }
        h2.selected {
            background: #1a1a1a;
            color: #fafafa;
        }
        .dropdown {
            position: absolute;
            bottom: 3px;
            left: 1px;
            transform: translateY(100%);
            background: #1a1a1a;
            color: #fafafa;
            white-space: nowrap;
            padding: 5px;
            display: none;
            &.open {
                display: inline-block;
            }
        }
    }

    *[ng-click] {
        cursor: pointer;
    }

    [data-corner-ribbon] {
        position: absolute;
        left: -6px; 
        top: -9px;
        z-index: 1;
        overflow: hidden;
        height: 77px;
        width: 77px;
        strong {
            font-size: 12px;
            color: #1a1a1a;
            text-transform: uppercase;
            text-align: center;
            line-height: 24px;
            transform: rotate(-45deg);
            width: 100px;
            display: block;
            background: #d0d1d0;
            box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
            position: absolute;
            top: 15px; 
            left: -22px;
            &::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0px;
                z-index: -1;
                border-left: 3px solid #d0d1d0;
                border-right: 3px solid transparent;
                border-bottom: 3px solid transparent;
                border-top: 3px solid #d0d1d0;
            }
            &::after {
                content: "";
                position: absolute; 
                top: 100%;
                right: 0px; 
                z-index: -1;
                border-left: 3px solid transparent;
                border-right: 3px solid #d0d1d0;
                border-bottom: 3px solid transparent;
                border-top: 3px solid #d0d1d0;
            }
        }
    }

    .category-firmographics {
        &.color {
            color: #33bdb7;
        }
        &.background {
            background: #33bdb7;
        }
        &.border {
            border-color: #33bdb7;
        }
        &.border-top {
            border-top-color: #33bdb7;
        }
        &.active.active-glow {
            @include box-shadow(0,255,224);
            border-color: #33bdb7;
        }
    }
    .category-growth-trends {
        &.color {
            color: #65b7e6;
        }
        &.background {
            background: #65b7e6;
        }
        &.border {
            border-color: #65b7e6;
        }
        &.border-top {
            border-top-color: #65b7e6;
        }
        &.active.active-glow {
            @include box-shadow(0,177,255);
            border-color: #65b7e6;
        }
    }
    .category-intent {
        &.color {
            color: #f15a5a;
        }
        &.background {
            background: #f15a5a;
        }
        &.border {
            border-color: #f15a5a;
        }
        &.border-top {
            border-top-color: #f15a5a;
        }
        &.active.active-glow {
            @include box-shadow(255,100,100);
            border-color: #f15a5a;
        }
    }
    .category-online-presence {
        &.color {
            color: #8e71b2;
        }
        &.background {
            background: #8e71b2;
        }
        &.border {
            border-color: #8e71b2;
        }
        &.border-top {
            border-top-color: #8e71b2;
        }
        &.active.active-glow {
            @include box-shadow(160,100,255);
            border-color: #8e71b2;
        }
    }
    .category-technology-profile {
        &.color {
            color: #70bf4a;
        }
        &.background {
            background: #70bf4a;
        }
        &.border {
            border-color: #70bf4a;
        }
        &.border-top {
            border-top-color: #70bf4a;
        }
        &.active.active-glow {
            @include box-shadow(115,255,34);
            border-color: #70bf4a;
        }
    }
    .category-website-keywords {
        &.color {
            color: #fdbc49;
        }
        &.background {
            background: #fdbc49;
        }
        &.border {
            border-color: #fdbc49;
        }
        &.border-top {
            border-top-color: #fdbc49;
        }
        &.active.active-glow {
            @include box-shadow(253,188,73);
            border-color: #fdbc49;
        }
    }
    .category-website-profile {
        &.color {
            color: #26649b;
        }
        &.background {
            background: #26649b;
        }
        &.border {
            border-color: #26649b;
        }
        &.border-top {
            border-top-color: #26649b;
        }
        &.active.active-glow {
            @include box-shadow(50,179,255);
            border-color: #26649b;
        }
    }
    .enrichments-loading-bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10000;
        & > div {
            height: 5px;
            background-color: #70bf4a;
        }

    }
    .status-alert-box {
        @include flex-container;
        position: fixed;
        top: 130px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 200;
        background: white;
        border-radius: 4px;
        border: 1px solid rgb(253,188,84);
        box-shadow: 0 1px 5px rgba(253,188,84,0.20);
        padding: 0;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        .icon {
            @include flex-item(0 0 auto);
            color: white;
            background: rgb(253,188,84);
            position: relative;
            width: 70px;
            &:after {
                @include font-awesome-inline("\f071");
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                text-align: center;
                transform: translateY(-50%);
                font-size: 33px;
            }
        }
        .message {
            @include flex-item(1 1 auto);
            padding: 15px;
            padding-right: 35px;
            strong {
                font-weight: bold;
            }
            i {
                vertical-align: middle;
            }
            p {
                line-height: normal;
                margin-bottom: 10px;
            }
        }
        &.saved {
            border-color: rgb(111,190,74);
            .icon {
                background: rgb(111,190,74);
                &:after {
                    @include font-awesome-inline("\f00c");
                }
            }
        }
        & > .close {
            position: absolute;
            top: 18px;
            right: 10px;
        }
    }
}