@mixin flex-container($args...) {
    display: -webkit-flex;
    display: flex;
}

@mixin flex-item($args...) {
    -webkit-flex: $args;
    -ms-flex: $args;
    flex: $args;
}

.enrichment-container {
    ul.subheader {
        @include flex-container;
        margin-top: 12px;
        li {
            display: inline-block;
            margin-right: 10px;
        }
        & > li {
            @include flex-item(0 1 auto);
            margin-right: 20px;
        }
        & > li:nth-child(2) {
            @include flex-item(1 1 auto);
        }
        li.show-selected-attributes {
            input {
                vertical-align: middle;
                margin-top: -2px;
            }
        }
        li.menu {
            margin-top: -3px;
            .fa {
                font-size: 25px;
            }
        }
        li.save {
            margin-top: -11px;
        }
    }
    .box { 
        @include flex-container;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 10px;
        position: relative;
        min-height: 77px;
        padding-left: 22px;
        &.active {
           background-color: #f1f1f1;
           & > button {
               background-color: #467dba;
           }
        }
        & > .ico-container {
            @include flex-item(0 0 auto);
            .ico {
              height: 65px;
              width: 70px;
            }
        }
        & > h2 {
            @include flex-item(0 0 auto);
            margin: 0 20px;
            width: 150px;
            font-size: 20px;
            font-weight: bold;
            @include flex-container;
            justify-content: center;
            flex-direction: column;
        }
        & > p {
            @include flex-item(1);
            span {
              display: block;
              max-width: 100%;
              flex-shrink: 1;
            }
            @include flex-container;
            justify-content: center;
            flex-direction: column;
        }
        & > button {
            font-weight: normal;
            font-size: 10px;
            height: 50px;
            width: 150px;
            white-space: normal;
            background-color: #65b7e5;
            position: relative;
            top: 50%;
            transform: translateY(25%);
        }
        [data-corner-ribbon] {
            position: absolute;
            left: -5px; 
            top: -5px;
            z-index: 1;
            overflow: hidden;
            height: 77px;
            width: 77px;
            strong {
                font-size: 12px;
                color: white;
                text-transform: uppercase;
                text-align: center;
                line-height: 24px;
                transform: rotate(-45deg);
                width: 100px;
                display: block;
                background: #f16a22;
                box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
                position: absolute;
                top: 15px; 
                left: -22px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 0px;
                    z-index: -1;
                    border-left: 3px solid #F16A22;
                    border-right: 3px solid transparent;
                    border-bottom: 3px solid transparent;
                    border-top: 3px solid #F16A22;
                }
                &::after {
                    content: "";
                    position: absolute; 
                    top: 100%;
                    right: 0px; 
                    z-index: -1;
                    border-left: 3px solid transparent;
                    border-right: 3px solid #F16A22;
                    border-bottom: 3px solid transparent;
                    border-top: 3px solid #F16A22;
                }
            }
        }
    }
}
