<section class="container">
    
	<div class="row">
		<div class="eight columns offset-two">
			<div class="content-panel">

		      	<div class="panel-body">

		      		<h2>Create new Marketo credential</h2>
		      		<div class="form-group">
		      			<p>Name the credential (name can be anything that will help you identify this particular credential).</p>
		      			<label for="credentialName">Credential Name
		      				<input type="text" id="credentialName" class="form-control" placeholder="NA Accounts" />
		      			</label>
		      		</div>
		      		<div class="form-group">
		      			<p>The information for the fields that you will need to enter below can be found by going to your Marketo account: Admin > Webservices</p>
		      			<label for="endpointSOAP">Endpoint (SOAP)
		      				<input type="text" id="endpointSOAP" class="form-control" />
		      			</label>
		      		</div>
		      		<div class="form-group">
		      			<label for="userIDSOAP">User Id (SOAP)
		      				<input type="text" id="userIDSOAP" class="form-control" />
		      			</label>
		      		</div>
		      		<div class="form-group">
		      			<label for="encryptionKeySOAP">Encryption Key (SOAP)
		      				<input type="text" id="encryptionKeySOAP" class="form-control" />
		      			</label>
		      		</div>
		      		<div class="form-group">
		      			<label for="endpointREST">Endpoint (REST API)
		      				<input type="text" id="endpointREST" class="form-control" />
		      			</label>
		      		</div>
		      		<div class="form-group">
		      			<label for="identityREST">Identity Endpoint (REST API)
		      				<input type="text" id="identityREST" class="form-control" />
		      			</label>
		      		</div>
		      		<div class="form-group">
		      			<p>The information for the fields below can be found by going to your Marketo account: Admin > Launchpoint. Once there, either add a New Service or click View Details on one of your existing services.</p>
		      			<label for="clientId">Client Id (REST API)
		      				<input type="text" id="clientId" class="form-control" />
		      			</label>
		      		</div>
		      		<div class="form-group">
		      			<label for="clientSecret">Client Secret (REST API)
		      				<input type="text" id="clientSecret" class="form-control" />
		      			</label>
		      		</div>

		      	</div><!-- End .panel-body -->
		      	<div class="panel-footer">	
		      		<button 
		      			type="button"
		      			ng-click="cancelCredentialCreate()"
		      			class="button gray-button pull-left"
		      		>
		      			Cancel
		      		</button>

		      		<button 
		      			type="button"
		      			ng-click="createCredentialClick()"
		      			class="button orange-button pull-right"
		      			ng-disabled=""
		      		>
		      			Create
		      		</button>
		      	</div><!-- End .panel-footer -->

		    </div>
		</div>
	</div>

</section>