<section class="container">
    
    <div class="row">
      <div class="ten offset-one columns">
          <div class="table">
          	<div class="header">
          		<h2 class="pull-left">Marketo Credentials</h2>
          		<a 
          			ui-sref="home.marketosettings.create" 
          			class="button orange-button pull-right"
          			>
          			Add New
          		</a>
          	</div>
          	<table>
          		<thead>
          			<tr>
	          			<th>Display Name</th>
	          			<th>REST Endpoint</th>
	          			<th>Enrichment</th>
	          			<th>&nbsp;</th>
	          		</tr>
          		</thead>
          		<tbody>
          			<tr ng-repeat="credential in vm.credentials">
	          			<td>
	          				<button 
	          					type="button" 
	          					class="button link-button" 
	          					ui-sref="home.marketosettings.edit({id:credential.credential_id})">
	          					{{credential.name}}
	          				</button>
	          			</td>
	          			<td>{{credential.rest_endpoint}}</td>
	          			<td>
	          				<button 
	          					type="button"
	          					data-ng-if="credential.enrichment.marketo_match_fields[0].marketoFieldName != null" 
	          					data-ng-click="vm.editCredentialClick()"
                                ui-sref="home.marketosettings.edit({id:credential.credential_id})"
	          					class="button green-button small-button block-button">
	          					View / Edit
	          				</button>
	          				<button 
	          					type="button"
	          					data-ng-if="credential.enrichment.marketo_match_fields[0].marketoFieldName == null" 
	          					class="button blue-button small-button block-button"
                                ui-sref="home.marketosettings.enrichment({id:credential.credential_id})">
	          					Setup
	          				</button>
	          			</td>
	          			<td>
	          				<button 
	          					type="button" 
	          					class="button icon-button link-button"
	          					data-ng-click="vm.deleteCredentialClicked(credential.credential_id)">
	          					<i class="fa fa-trash-o trash-can" aria-hidden="true"></i>
	          				</button>
	          			</td>
	          		</tr>
          		</tbody>
          	</table>
          </div>
      </div><!-- End .eight.columns -->
      <!-- div class="four columns">
      	
      	<div class="content-panel help-sidebar">
	      	<div class="panel-header">
	      		Help
	      	</div>
	      	<div class="panel-body">
	      		<h3>What is enrichment?</h3>
	      		<p>You can enrich your data in Marketo with Lattice Data Cloud and get a better view of your customer.</p>
	      		<h3>Can I add more than one Marketo credential?</h3>
	      		<p>Yes. You can add as many credentials as you want.</p>
	      	</div>	      	
      	</div>

      </div --><!-- End .eight.columns -->
    </div><!-- End .row -->

</section>