// .apikey-form {
// 	.button {
// 		padding: 0.75em 2em;
// 	}
// }


.table table.credentials-table {
	tr td, tr th {
		padding: 15px;
	}
	tbody tr td {
		&:nth-child(3), &:nth-child(4) {
			width: 100px;
			padding-right: 15px;
		}
	}
	button.button.icon-button {
		padding: 0;
	}

	.credential-name, .credential-endpoint {
		max-width:100px;
	}
	.credential-name span, .credential-endpoint span {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.add-profile {
	.form-group {
		margin-bottom: 14px;
	}
	.columns .form-group:last-child {
		margin-bottom: 0;
	}
	.panel-header {
		background: #fff;
		.form-group {
			margin-bottom: 0;
		}
	}
	h2 {
		font-size: 18px;
		margin-bottom: 16px;
	}
	h3 {
		font-size: 16px;
		text-transform: none;
		color: #333;
		margin-bottom: 6px;
	}
}

@media only screen and (min-width: 1000px) {
	.credential-name, .credential-endpoint {
		max-width:300px;
	}
}