<section class="container">
    
    <div class="row">
      <div class="ten columns offset-one">
          <div class="table">
          	<div class="header">
          		<h2 class="pull-left">{{vm.ResourceUtility.getString('MARKETO_CREDENTIAL_PROFILES')}}</h2>
          		<a 
          			ui-sref="home.marketosettings.create" 
          			class="button orange-button pull-right"
          			>
          			{{vm.ResourceUtility.getString('MARKETO_CREDENTIAL_ADD_NEW_PROFILE')}}
          		</a>
          	</div>
          	<table class="credentials-table">
          		<thead>
          			<tr>
	          			<th>{{vm.ResourceUtility.getString('MARKETO_CREDENTIAL_PROFILES')}}</th>
	          			<th>{{vm.ResourceUtility.getString('MARKETO_CREDENTIAL_REST_ENDPOINT')}}</th>
	          			<th>{{vm.ResourceUtility.getString('MARKETO_CREDENTIAL_ENRICHMENT')}}</th>
	          			<th>{{vm.ResourceUtility.getString('MARKETO_CREDENTIAL_SCORING')}}</th>
	          			<th>&nbsp;</th>
	          		</tr>
          		</thead>
          		<tbody ng-if="vm.credentials.length == 0">
          			<tr>
          				<td colspan="5">{{vm.ResourceUtility.getString('MARKETO_CREDENTIAL_NO_CREDENTIALS')}}</td>
          			</tr>
          		</tbody>
          		<tbody ng-if="vm.credentials.length != 0">
          			<tr ng-repeat="credential in vm.credentials">
	          			<td class="credential-name">
	          				<a 
	          					ui-sref="home.marketosettings.edit({id:credential.credential_id})">
	          					<span title="{{credential.name}}">{{credential.name}}</span>
	          				</a>
	          			</td>
	          			<td class="credential-endpoint"><span title="{{credential.rest_endpoint}}">{{credential.rest_endpoint}}</span></td>
	          			<td>
	          				<button 
	          					type="button"
	          					data-ng-if="credential.enrichment.marketo_match_fields[0].marketoFieldName != null" 
	          					data-ng-click="vm.editCredentialClick()"
                                ui-sref="home.marketosettings.enrichment({id:credential.credential_id})"
	          					class="button green-button small-button block-button">
	          					{{vm.ResourceUtility.getString('MARKETO_CREDENTIAL_VIEW_EDIT')}}
	          				</button>
	          				<button 
	          					type="button"
	          					data-ng-if="credential.enrichment.marketo_match_fields[0].marketoFieldName == null" 
	          					class="button blue-button small-button block-button"
                                ui-sref="home.marketosettings.enrichment({id:credential.credential_id})">
	          					{{vm.ResourceUtility.getString('MARKETO_CREDENTIAL_SETUP')}}
	          				</button>
	          			</td>
	          			<td>
	          				<button 
	          					type="button"
	          					class="button blue-button small-button block-button"
                                ui-sref="home.marketosettings.models({id:credential.credential_id})">
	          					{{vm.ResourceUtility.getString('MARKETO_CREDENTIAL_SCORING')}}
	          				</button>
	          			</td>
	          			<td>
	          				<button 
	          					type="button" 
	          					class="button icon-button link-button"
	          					data-ng-click="vm.deleteCredentialClicked(credential.credential_id)">
	          					<i class="fa fa-trash-o trash-can" aria-hidden="true"></i>
	          				</button>
	          			</td>
	          		</tr>
          		</tbody>
          	</table>
          </div>
      </div><!-- End .eight.columns -->
    </div><!-- End .row -->

</section>