.list-header {
    margin: 0 0 22px;
    height: 2em;
    
    .ng-search.open-absolute .form-control {
        left: 36px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left-color: #fff;
        padding-left: 0;
        font-size: 12px;
    }

    .number-of-items {
        li {
          margin-right: 1em;
          float: left;
        }
        > * {
          margin-right: .333em;
        }
    }
    /*
    cursor: pointer;
    
    &:hover span {
        text-decoration: underline;
    }
    */
}

.select-menu {
    position: relative;
    display: inline-block;
    vertical-align: top;
    // &.ng-search {
    //     z-index: 11;
    // } 
    button {
        vertical-align: top;
        padding: 0em 1em;
        
        span.label-icon {
            margin-right: 0.4em;
            margin-left: 0 !important;
            padding-left: 0;
            vertical-align: middle;
        }
        
        &.select-label {
            border-top-right-radius: 1px;
            border-bottom-right-radius: 1px;
            margin: 0;
            padding-right: 1em;
            -webkit-transition: none;
            transition: none;
            animation: none;

            &.open {
                border-bottom-left-radius: 0;
                background-color: #222;
                color: #fff;
                border-color: #222;
                -webkit-transition: none;
                transition: none;
                animation: none; 
            }

            span {
                margin-left: 0.75em;
            }
        }

        &.select-more {
            border-top-left-radius: 1px;
            border-bottom-left-radius: 1px;
            margin-left: 1px;
            margin-right: 0;
            margin-top: 0;
            margin-bottom: 0;
            &.open {
                background-color: #222;
                color: #fff;
                border-color: #222;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    ul {
        border-radius: 6px;
        border-top-right-radius: 1px;
        border-top-left-radius: 1px;
        margin-top: 1px;
        
        li {
            
        }
    }

    &.white-select-menu.sort-select {
        button,
        button span,
        button span:after, 
        button span:before {
            animation: none;
            transition: none;
        }
        button {
            border-radius: 0;
            
            &.select-label {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border-right: none;
                
                &.open {
                    background-color: #222;
                    border-color: #222;
                    border-bottom-color: #222;
                    color: #fff;
                    border-bottom-left-radius: 0px;
                }
            }
            
            &.select-more {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                margin-left: 0;
                margin-top: 0;
                margin-bottom: 0;
                &.open {
                    background-color: #222;
                    border-color: #222;
                    border-bottom-color: #222;
                    border-left-color: #fff;
                    color: #fff;
                    border-bottom-right-radius: 0px;
                }
            }
        }

        ul {
            border-top-left-radius: 0;
            left: 0;
            right: auto; // for IE
            right: initial;
            border-left: 1px solid #222;
            
            li {
                @include flex-container;
                text-align: left;
                width: 100%;
                margin: 0;
                a {
                    @include flex-item(1 1 auto);
                    display: inline-block;
                }
                i {
                    @include flex-item(0 1 auto);
                    margin-top: 5px;
                    margin-right: 0;
                    margin-left: 0;
                }
                &.show-tooltip.top>.tooltip_.small {
                    bottom: calc(1.5em + 5px);
                }
            }
        }
    }
    &.white-select-menu {
        button.select-label {
            min-width: 100px;
            text-align: left;
        }
        ul.model-menu {
          min-width: 150px;
        }
    }

    &.white-select-menu.filter-select {
        button,
        button span,
        button span:after, 
        button span:before {
            animation: none;
            transition: none;
        }

        &:hover button {
            //background-color: #f1f1f1;
        }

        button.select-label {
            border-right: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin-right: 0;
            
            &.open {
                background-color: #222;
                color: #fff;
                border-color: #222;
                border-bottom-left-radius: 0;
            }
        }

        button.select-more {
            border-top-left-radius: 0;
            border-bottoim-left-radius: 0;
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            &.open {
                background-color: #222;
                color: #fff;
                border-color: #222;
                border-left-color: #fff;
                border-bottom-left-radius: 0;
            }
        }

        span {
            margin-right: 0em;
            margin-left: 0em;
            &.badge {
                margin-left: 10px;
            }
        }

        ul {
            border-top-left-radius: 0;
            left: 0;
            right: auto; // for IE
            right: initial;
            border-left: 1px solid #222;
            
            li {
                @include flex-container;
                text-align: left;
                width: 100%;
                margin: 0;
                vertical-align: baseline;

                a {
                    @include flex-item(1 1 auto);
                    display: inline-block;
                }

                i {
                    @include flex-item(0 1 auto);
                }

                span {
                    @include flex-item(0 1 auto);
                    font-family: monospace;
                    display: inline-block;
                    margin-top: 3px;
                    padding: 5px 7px; 
                }
            }
        }
    }
}