<div class="import-accountid container file-import-content">
    <p>Please provide the ID Lattice platform should use to match your products to your customer purchase records. Typically this ID is SKU or other unique identifier used to uniquely identify the products in the product purchase orders.  The data provided in this file will override the existing data.</p>
    <form name="form">
        <div class="id-options" ng-if="!vm.state.accountDedupeField">
            <div class="id-options-item">
                <div>
                    <label for="dedupeField">Unique Product Identifier</label>
                    <select 
                        class="form-control"
                        ng-model="vm.fieldMapping.product"
                        ng-init="vm.checkValidDelay(form)"
                        ng-change="vm.changeLatticeField(vm.fieldMapping, form)"
                        ng-required="true"
                        ng-class="{'required': true}">
                        <option value="" hidden disabled>-- Choose Unique Identifier --</option>
                        <option ng-repeat="AvailableField in vm.AvailableFields" value="{{AvailableField.userField}}">
                            {{AvailableField.userField}}
    				    </option>
                   </select>
                </div>
            </div>
        </div>
    </form>
</div>
