
.match-priority{
    
    .wizard-container{
        border: 1px solid gray;
        margin-top: 20px;

        .sub-header{
            width: 100%;
            font-size: 18px;
            border-bottom: 1px solid gray;
            padding: 1rem;
        }
        .left{
            display: flex;
            flex: 0.5;
            max-width: 350px;
            padding: 1rem;
            justify-content: center;
        }

        .info{
            display: flex;
            max-width: 350px;
            padding: 0.5rem;
            justify-content: center;
        }
        .priorities-controlls{
            padding: 0.5rem;
            border-top: 1px solid gray;
        }
    }
}
