@import "atlas/react/react-main.component.scss";

.systems-grid{
  grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );//override this 260px to change column width
}
.system-creation {
  min-height: 100px;
  .le-header {
    font-size: 18px;
    margin: 0 0 1em 0;
  }
  .le-sub-header {
    font-size: 15px;
    margin: 1em 0 1em 0;
  }
  .le-label {
    font-size: 12px;
  }
  .le-description {
    font-size: 14px;
    margin: 2em 0;
  }
  .system-info {
    margin-top: 2em;
  }
  .le-card.system-creation {
    max-width: none;
    &:hover {
      cursor: pointer;
    }
    .system-image {
      max-height: 50px;
      // border: 1px solid red;
    }
  }
}
