<section class="ratings-engine-ai-refine-target container">
    <div class="header-container">
        <div class="title-container">
            <h2>Refine Target</h2>
        </div>
        <div class="actions-container">
            <!-- <button class="button orange-button">Change Products</button> -->
            <button class="sub-action" title="Refine Modeling"><i class="fa fa-sliders fa-2x" aria-hidden="true"></i></button>
            <span>Refine Modeling</span>
        </div>
    </div>
</section>