<section class="ratings-engine-ai-refine container" ng-if="!vm.refinemodel">
    <div class="header-container">
        <div class="title-container">
            <h2>Here's how these products have sold into the Segment before:</h2>
        </div>
        <div class="actions-container">
            <!-- <button class="button orange-button">Change Products</button> -->
            <!-- ui-sref="home.ratingsengine.ai.segment.prospect.products.refine.refinemodel" -->
            <button class="sub-action" title="Refine Modeling" ng-click="vm.showRefineModel()">
                <i class="fa fa-sliders fa-2x" aria-hidden="true"></i>
            </button>
            <span class="action-description">Refine Modeling</span>
        </div>
    </div>

    <div class="results-target">
        <div class="customer-rate" title="Customers">
            <i class="fa fa-users fa-2x" aria-hidden="true"></i>
            <spa class="result-target-value">{{vm.customers}}</spa>
        </div>
        <div class="learn-from" title="Successes">
            <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
            <spa class="result-target-value">{{vm.prospects}}</spa>
        </div>
        <!-- <div class="historical-records" title="Historical">
            <i class="fa fa-history fa-2x" aria-hidden="true" title="Historical"></i>
            <spa class="result-target-value">222222</spa>
        </div> -->
    </div>

    <div class="body-container">
        <!-- <div class="sell-charts-container">
            L
        </div> -->
        <div class="options-container">
            <div class="choises-container">
                <div class="choises">
                    <div class="choise">
                        <input type="radio" id="not-yet" name="type-notyet" value="new" ng-model="vm.sellType" 
                                ng-change="vm.sellTypeChosen('new')">
                        <label for="not-yet">Sell to "Not yet" group for the first time</label>
                    </div>
                    <div class="choise">
                        <input type="radio" id="resell" name="type-resell" value="resell" ng-model="vm.sellType" 
                                ng-change="vm.sellTypeChosen('resell')" disabled>
                        <label for="resell">Resell to customers who already bought</label>
                    </div>
                    <div class="choise" ng-show="vm.sellType === 'resell'">
                        <div class="selection">
                            <label for="customers-no-bought">Choose customers who haven't bought in last</label>
                            <select name="resell-group" id="resellGroup" class="multiple-selection" ng-model="vm.resellOption" 
                                    ng-options="resellOption.name for resellOption in vm.resellOptions"
                                    ng-change="vm.sellTypeChosen('resell')">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="choises">
                    <div class="choise">
                        <input type="radio" id="buy" name="prioritize" value="PROPENSITY" ng-model="vm.prioritizeOption"
                                ng-change="vm.prioritizeOptionChosen('PROPENSITY')">
                        <label for="buy">Prioritize by likelihood to buy</label>
                    </div>
                    <div class="choise">
                        <input type="radio" id="spend" name="prioritize" value="spend" ng-model="vm.prioritizeOption"
                                ng-change="vm.prioritizeOptionChosen('spend')" disabled>
                        <label for="spend">Prioritize by likely amount to spend</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>