$break-small: 1128px;
section.ai-rifine.container {
    .loading {
        background: url('/assets/images/spinners/spinner-lattice-dots-100x100.gif') no-repeat center top;
        padding-top: 115px;
        text-align: center;
        width: 100%;
        margin: 60px auto 0;
        font-size: 18px;
    }
}

section.ratings-engine-ai-refine.container {
    p {
        // border: 1px solid yellowgreen;
        margin: 10px 0 20px 0;
        font-size: 16px;
    }
    .wizard-content {
        width: 100%;
        font-size: 16px;
    }
    .multiple-selection {
        margin-bottom: 16px;
        height: 36px;
        font-size: 16px;
    }
    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 1.6em;
        .title-container {
            .title {
                font-size: 1.5em;
            }
        }
        .actions-container {
            .sub-action {
                padding: 5px;
                border: 1px solid gray;
                border-radius: 7px;
            }
            .action-description {
                font-size: 1em;
                white-space: nowrap;
                @media screen and (max-width: $break-small) {
                    font-size: 0.6em;
                }
            }
        }
    }
    .results-target {
        // border: 1px solid green;
        margin-bottom: 30px;
        height: 36px;
        width: 400px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .body-container {
        border: 0px solid red;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        .sell-charts-container {
            height: 100%;
            width: 100%;
            border: 0px solid green;
        }
        .options-container {
            height: 100%;
            width: 100%;
            border: 0px solid blue;
            display: flex;
            .choises-container {
                border: 0px solid pink;
                width: 100%;
                .choises {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding: 10px;
                    .choise {
                        padding-top: 10px;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        input[type="number"] {
                            width: 50px;
                        }
                        .lable-left {
                            padding-right: 10px;
                        }
                        .lable-right {
                            padding-left: 10px;
                        }
                        .selection {
                            border-left: 1px solid rgba(181, 180, 180, 0.8);
                            margin-left: 50px;
                            padding-left: 10px;
                        }
                        .multiple-selection {
                            width: 50%;
                        }
                    }
                }
                .results {
                    padding: 10px;
                    border-top: 1px solid gray;
                    border-bottom: 1px solid gray;
                    .result {
                        padding: 10px 0 10px 0;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        .counter-text {
                            padding-right: 5px;
                            padding-left: 5px;
                        }
                        .counter {
                            width: 55px;
                            font-size: 0.9em;
                            font-weight: bold;
                            text-align: center;
                            padding: 1px;
                            border-radius: 45%;
                            border: 0px solid gray;
                            background-color: rgba(92, 159, 232, 0.52);
                        }
                    }
                }
            }
        }
    }
    /* Options new implementation*/
    .options-container {
        .flex-grid {
            display: flex;
            margin: 0 0 20px 0;
            .col {
                flex: 1; // border: 1px solid rgba(233, 231, 231, 0.823);
                padding: 20px;
            }
            .col-bordered {
                border-right: 1px solid rgba(182, 181, 181, 0.659);
            }
        }
        .option {
            border: 1px solid rgb(220, 218, 218);
            margin: 5px;
            display: flex;
            flex-direction: column;
            .option-header {
                display: flex;
                flex-direction: column;
                align-items: center; // justify-content: space-around;
                .option-title {
                    border-bottom: 1px solid rgba(199, 197, 197, 0.734);
                    text-align: center;
                    margin: 10px 10px 10px 10px;
                    max-height: 50px;
                    min-height: 50px;
                    font-style: italic;
                    font-size: 14px;
                }
                .switch-container {
                    padding: 0 0 10px 0;
                    .switch {
                        position: relative;
                        display: inline-block;
                        width: 50px;
                        height: 26px;
                    }
                    .switch input {
                        display: none;
                    }
                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }
                    .slider:before {
                        position: absolute;
                        content: "";
                        height: 20px;
                        width: 20px;
                        left: 3px;
                        bottom: 3px;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }
                    input:checked+.slider {
                        background-color: rgba(57, 199, 1, 0.809);
                    }
                    input:focus+.slider {
                        box-shadow: 0 0 1px rgba(57, 199, 1, 0.809);
                    }
                    input:checked+.slider:before {
                        -webkit-transform: translateX(24px);
                        -ms-transform: translateX(24px);
                        transform: translateX(24px);
                    }
                    /* Rounded sliders */
                    .slider.round {
                        border-radius: 32px;
                    }
                    .slider.round:before {
                        border-radius: 50%;
                    }
                }
            }
            .option-body {
                padding: 10px;
            }
        }
    }
}