/*********************************/
/* text colors */
/*********************************/

$main-text-color: #222222; /*#767676;*/
$secondary-text-color: #222222;

$play-list-tile-value: #555555;
$play-list-tile-label: #888888;

$play-details-selected-tile-value: #ffffff;
$play-details-nav-tile-selected-label-color: #F1C900;
$play-details-nav-tile-arc-chart-value-color: #ffffff;
$play-details-name-color: #444444;

$collapsible-panel-header-text-color: #ffffff;

$dante-main-header-link-color: #eeeeee;

$dante-play-tile-header-color: #006DD9;
$dante-play-type-icon-color: #FF9326;

$positive-analytic-attribute-color: #35CD00;
$negative-analytic-attribute-color: #8C8C8C;

$attribute-value-color: #333333;
$attribute-name-color: #333333;
/*********************************/
/* solid background colors */
/*********************************/

$core-bg-color: #DFE9F4;
$secondary-bg-color: #ffffff;
$no-account-bg-color: #ffffff;
$play-tile-list-bg-color: transparent;
$play-details-nav-tile-selected-bg-color: #333333;
$collapsible-panel-header-bg-color: #666666;
$collapsible-panel-content-bg-color: #ffffff;
$collapsible-panel-button-color: #ffffff;
$dante-main-header-text-shadow-color: #666666;


/*********************************/
/* Gradients                */
/*********************************/

@mixin dante-main-header-gradient
{
    background: #477CBA;
}

@mixin dante-main-header-salesprism-gradient
{
    @include linear-gradient(-179deg, #FFFFFF 0%, #DDDDDD 100%);
}

@mixin dante-main-header-link-gradient
{
    @include linear-gradient(top, #363636 0%, #454545 100%);
}

@mixin analytic-attribute-list-header-gradient
{
    @include linear-gradient(top, #FFFFFF 0%, #F1F1F1 100%);
}
 
@mixin dante-active-tab-gradient
{
	@include linear-gradient(top, #EDEDED 0%, #FFFFFF 100%);
}

/*********************************/
/* Border colors                 */
/*********************************/

$dante-main-header-border: #333333;
$dante-main-header-link-border-left: #666666;
$dante-main-header-link-border-right: #444444;
$tile-separator-color: #ececec;

/*********************************/
/* Button colors                 */
/*********************************/