body.core-background {
    background-color: transparent;
}

div.initial-loading-spinner-container {
    top: 5em;
    border: none;
    box-shadow: none;
    width: 12.5em;
    background: transparent;
}

div#mainContentView {
    min-width: auto;
    min-height: 50px;
    padding: 10px 0px;
    overflow: hidden;
} 

.dante-hide-navigation div#mainContentView
{
    padding: 0;
}

.fillSpace.dante-tab-content
{
    padding:            5px;
    border-left:        1px solid $input-border-color;
    border-right:       1px solid $input-border-color;
    border-bottom:      1px solid $input-border-color;
}

.core-background
{
    /* background:         url('../images/lattice_background.png') $core-bg-color; */
    color:              $main-text-color;
    font-family:        'ProximaNova-Regular', Helvetica, Arial,sans-serif;
    font-size:          13px;
    text-rendering:     optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 512px) {
    div#mainContentView {
        padding: 0;
    }
} 