.dante-main-header.row
{
    z-index:            1002;
    border: none;
    @include transition(all .3s ease-in-out);
    @include dante-main-header-gradient;
	height:				43px;
	position: relative;
	background: #477cba url("../images/prism-color-bg.jpg") top right repeat-y;
}

body.dante-hide-navigation .dante-main-header {
    display: none;
}
.dante-main-header-logo
{
    margin-top: 8px;
    padding: 0px 16px 5px 12px;
    display: inline-block;
    float: left;
}

.dante-header-account-name
{
    margin-top: 0.68em;
    padding: 2px 16px 0 16px;
    color: $main-navigation-text-color;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    /* border-left: 1px solid #999999; */
}

.dropdown-navigation>li
{
    border: none;
    border-right: 1px solid #999999;
    /* border-left:        1px solid $dante-main-header-link-border-left; */
    /* border-right:       1px solid $dante-main-header-link-border-right; */
}
#dantePlaysTabLink {
	overflow: hidden;
	width: 11em;
	transform: translate3d(0,0,0);
	transition: all 250ms ease;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	transform-origin: left;
}
body.page-lead-details #dantePlaysTabLink,
body.page-play-list #dantePlaysTabLink {
	width: 0;
	transform: translate3d(-100%,0,0);
}
a.dante-main-header-link
{
    font-weight:        700;    
    @include transition(all .3s ease-in-out);
    @include dante-main-header-link-gradient;
}

a.dante-main-header-link:link,
a.dante-main-header-link:visited,
a.dante-main-header-link:hover,
a.dante-main-header-link:active
{
    padding: 7px 14px 11px;
    color: #fff;
    text-decoration: none;
    background: transparent;
    font-size: 16px;
    white-space: nowrap;
}
a.dante-main-header-link:hover {
    background:         #2A8AF8;
}
a.main-header-link:hover,
a.main-header-link:active
{
    color:              $dante-main-header-link-color;
}

.dropdown-navigation li a i 
{
    text-shadow:        0 2px 1px $dante-main-header-text-shadow-color;
    font-size:          1.5em;
    margin:             0;
    top:                2px;
    position:           relative;
}

.salesprism-link-container
{
    margin-top: 11px;
    margin-right: 20px;
    height: 20px;
}

.btn-salesprism-link {
  display:inline-block;
  font-size:12px;
  font-family: $helvetica;
  color:$dante-main-header-link-color;
  padding:4px 0px 0px 16px;
  cursor: pointer;
}

.btn-salesprism-link:hover {
  color:#ffffff;
}

