.no-notion-container
{
    background:         url('../images/lattice_background.png') $no-account-bg-color;
    width:              50%;
    min-width:          300px;
    height:             250px;
    border-radius:      3px;
    margin:             100px auto 0px auto;
}

.no-notion-title
{
    font-size:          17px;
    font-weight:        bold;
    color:              $play-details-name-color;
    text-align:         center;
    text-transform:     capitalize;
    padding:            20px;
}

.no-notion-body
{
    padding:            0px 20px;
}

.no-notion-image
{
    padding-right:      30px;
}

.no-association-message
{
	font-size: 14px;
	font-family: $helvetica;
	margin-top: 120px;
    margin-left: 120px;
    width: 625px;
}

.no-association-parent-container
{
    background: #F3F7FB;
}

.no-association-container {
    background: url("../images/lattice_logo_background.png") no-repeat center 130px fixed;
    padding-bottom: 10em;
}
