@import "./content/playlist/playlist.component.scss";
@import "./content/dashboard/dashboard.component.scss";
@import "./content/insights/insights.component";
@import "./content/launch/launch.component.scss";
@import "./content/preview/preview.component.scss";
@import "./content/rating/rating.component.scss";
@import "./content/segment_create/segment_create.component.scss";
@import "./content/name/name.component.scss";
@import "./content/crmselection/crmselection.component.scss";
@import "./content/segment/segment.component.scss";
@import "./content/settings/settings.component.scss";
@import "./content/targets/targets.component.scss";
@import "./content/launchhistory/launchhistory.component.scss";
@import "./content/newlaunch/newlaunch.component.scss";

.playbook-content.container,
section.playbook.container {
    *[ng-click]:not(.ignore-ngclick) {
        cursor: pointer;
    }
    h2 {
        padding-left: 30px;
    }
    .filters {
        .ng-search {
            .form-control {
                font-size: 14px;
            }
            a.button {
            }
        }
    }
    .more-info {
        padding: 0 7px;
        position: relative;
        z-index: 1;
        h1, h2, h3, h4 {
            font-size: 20px;
            color: inherit;
            text-transform: none;
        }
    }
    .content-body {
        padding: 10px 0;
        .list {
            .item {
                &:not(.header):nth-child(odd) {
                    background-color: #f2f1f1;
                }
                &.header {
                    font-weight: bold;
                    text-transform: uppercase;
                    border-bottom: 2px solid #d8d9d8; 
                }
                &.selected {
                    ul {
                        background-color: #498ad4;
                    }
                    li {
                        color: #fff;
                    }
                }
                &.centered-info-message {
                    text-align: center;
                    font-size: 15px;
                    margin-top: 18px;
                }
                ul {
                    @include flex-container;
                    & > li {
                        @include flex-item(1 1 auto);
                        width: 10%;
                        margin-left: 10px;
                        padding: 10px 5px;
                        transition: all 0ms ease-in-out;
                        @include text-ellipsis();
                        input[type="radio"] {
                            vertical-align: middle;
                            position: relative;
                            top: -3px;
                        }
                        label {
                            display: inline;
                            width: auto;
                            margin-left: 3px;
                        }
                    }
                }
            }
        }
    }
    textarea {
        transition: none;
        max-width: 100%;
    }
}

/** 
 * Vertical ratings css
 */
.playbook-ratings.graph {
    @include flex-container;
    justify-content: center;
    height: 100%; // control the height in your components css, this should just fill that height
    & > ._rating {
        @include flex-item(1 0 auto);
        @include flex-container;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0 15px;
        div {
            @include flex-item(0 0 auto);
            text-align: center;
        }
        color: rgba(0,0,0,.5);
        .rating-count {
            border-bottom: 5px solid rgba(0,0,0,.7);
            margin-bottom: 3px;
        }
        .rating-bar {
            background-color: rgba(0,0,0,.5);
            max-height: calc(100% - 55px);
        }
        &:nth-child(1) {
            color: #70bf4a;
            .rating-count {
                border-bottom-color: #0f9e4d;
            }
            .rating-bar {
                background-color: #70bf4a;
            }
        }
        &:nth-child(2) {
            color: #33bdb7;
            .rating-count {
                border-bottom-color: #149188;
            }
            .rating-bar {
                background-color: #33bdb7;
            }
        }
        &:nth-child(3) {
            color: #cd80bc;
            .rating-count {
                border-bottom-color: #aa5299;
            }
            .rating-bar {
                background-color: #cd80bc;
            }
        }
        &:nth-child(4) {
            color: #8e71b2;
            .rating-count {
                border-bottom-color: #7851a1;
            }
            .rating-bar {
                background-color: #8e71b2;
            }
        }
        &:nth-child(5) {
            color: #457eba;
            .rating-count {
                border-bottom-color: #26649b;
            }
            .rating-bar {
                background-color: #457eba;
            }
        }
    }
}
