ul.attr-list-results {
    li {
        border-bottom: 1px solid #ccc;
        height: 40px;
        vertical-align: middle;
        display: flex;
        align-items: center;
        
        &:first-child {
            font-weight: bold;
            
            label {
                font-weight: bold;
            }
        }

        & > div:hover {
        }
        
        div.attr-result-checkbox { 
            height: 100%;
            width: 40px;
            line-height: 45px;
            text-align: center;
            vertical-align: middle;
            
            input {
                display: inline-block;
                pointer-events: none;
            }
        }

        &:not(.category):hover {
            background: #fff;
            transition: none;
        }
        
        &.category div.attr-result-checkbox {
            &:hover {
                background: #fff; //#457eba;
                transition: none;
            }
        }

        i.fa-exclamation-triangle {
            color: #ef6a30;
        }

        div.attr-result-label {
            position: relative;
            height: 100%;
            width: 100%;
            line-height: 40px;
            vertical-align: middle;
            
            label {
                display: inline;
                padding-left: 1em;
            }

            i.fa-exclamation-circle {
                position: absolute;
                top: 2px;
                left: -0.4em;
                color: #ef6a30;
            }

            i.fa-chevron-right {
                position: relative;
                float: right;
                top: 1.1em;
                right: 2em;
                font-size: 12px;
            }
        
            &:hover {
                background: #fff;
            }
        }
        
        &.category div.attr-result-label {
            &:hover {
                background: #fff;
                transition: none;
            }
        }
    }
}