version: "3"

services:

  zookeeper:
    container_name: le_zookeeper
    image: latticeengines/zookeeper
    ports:
    - '2181:2181'
    volumes:
    - $DOCKER_DATA_ROOT/zookeeper/data:/usr/zookeeper/data
    - $DOCKER_DATA_ROOT/zookeeper/data-log:/usr/zookeeper/data-log

  mysql:
    container_name: le_mysql
    image: latticeengines/mysql
    ports:
    - '3306:3306'
    volumes:
    - $DOCKER_DATA_ROOT/mysql_data:/var/lib/mysql/data
    - $WSHOME/le-dev/mysql/my.cnf:/etc/my.cnf.d/lattice.cnf

  redis:
    container_name: le_redis
    image: latticeengines/redis
    ports:
    - '6379:6379'

  tez-ui:
    container_name: le_tez_ui
    image: latticeengines/tez-ui
    ports:
    - '8001:8080'
