<div class="expanded-{{jobRowExpanded}}">
    <div class="clearfix">
        <span class="columns three">{{job.timestamp | date : 'MM/dd/yyyy h:mma'}}</span>
        <span class="columns three">{{job.jobType}}</span>
        <span class="columns three">{{job.status}}<span data-ng-show="showStatusLink"> [<a href="#" data-ng-click="statusLinkClicked(jobId)">{{statusLinkText}}</a>]</span></span>
        <span class="columns three">{{job.user}}
        <a class="pull-right" href="javascript:void(0)" data-toggle="collapse" data-ng-click="expandJobStatus()" data-ng-show="! jobRowExpanded">
            <span><i class="fa fa-angle-double-down fa-lg"></i></span>
        </a>
        <a class="pull-right" href="javascript:void(0)" data-toggle="collapse" data-ng-click="unexpandJobStatus()" data-ng-show="jobRowExpanded">
            <span><i class="fa fa-angle-double-up fa-lg"></i></span>
        </a>
        </span>
    </div>
    <div class="chevron-row" data-ng-show="jobRowExpanded">
        <div class="breadcrumb flat">
            <div class="state-finished-{{jobStepsCompletedStates.load_data}}">
                <span class="chevron-content chevron-content-text">
                    Load Data
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsRunningStates.load_data">
                    <i class="fa fa-spinner fa-pulse"></i>
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsCompletedStates.load_data">
                    <i class="fa fa-check"></i>
                </span>
            </div>
            <div class="state-finished-{{jobStepsCompletedStates.match_data}}">
                <span class="chevron-content chevron-content-text">
                    Match Data
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsRunningStates.match_data">
                    <i class="fa fa-spinner fa-pulse"></i>
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsCompletedStates.match_data">
                    <i class="fa fa-check"></i>
                </span>
            </div>
            <div class="state-finished-{{jobStepsCompletedStates.generate_insights}}">
                <span class="chevron-content chevron-content-text">
                    Generate<br>Insights
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsRunningStates.generate_insights">
                    <i class="fa fa-spinner fa-pulse"></i>
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsCompletedStates.generate_insights">
                    <i class="fa fa-check"></i>
                </span>
            </div>
            <div class="state-finished-{{jobStepsCompletedStates.create_model}}">
                <span class="chevron-content chevron-content-text">
                    Create Universal<br>Model
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsRunningStates.create_model">
                    <i class="fa fa-spinner fa-pulse"></i>
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsCompletedStates.create_model">
                    <i class="fa fa-check"></i>
                </span>
            </div>
            <div class="state-finished-{{jobStepsCompletedStates.create_global_target_market}}">
                <span class="chevron-content chevron-content-text">
                    Create Universal<br>Target Market
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsRunningStates.create_global_target_market">
                    <i class="fa fa-spinner fa-pulse"></i>
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsCompletedStates.create_global_target_market">
                    <i class="fa fa-check"></i>
                </span>
            </div>
        </div>
    </div>
</div>