<div id="loginMainView" data-ng-controller="LoginController">
    <div class="login-body">
        <div class="container row">

            <div class="columns five offset-one">
                <img src="/login/assets/images/logo_login.png" alt="Lattice">
            </div><!-- End .columns.five -->

            <div class="columns five login-content">

                <!-- Messaging -->
                <div class="notification-forgot-password" data-ng-show="showSuccessMessage">
                    <p>{{successMessage}}</p>
                </div>
                <div class="global-error" data-ng-show="showForgotPasswordError">
                    <span><i class="fa fa-exclamation-circle fa-inverse"></i> {{forgotPasswordErrorMessage}}</span>
                    <button class="close btn btn-link" data-ng-click="showForgotPasswordError = false;"><i class="fa fa-times fa-inverse"></i></button>
                </div>
                <div class="global-error" data-ng-show="showLoginError">
                    <span><i class="fa fa-exclamation-circle fa-inverse"></i> {{loginErrorMessage}}</span>
                    <button class="close btn btn-link" data-ng-click="showLoginError = false;"><i class="fa fa-times fa-inverse"></i></button>
                </div>


                <!-- Login form -->
                <div class="form form-signin" data-ng-show="showLoginForm">

                    <div class="form-group">
                        <label>{{ResourceUtility.getString('LOGIN_USERNAME')}}</label>
                        <input type="text" id="username" autocomplete="on" 
                                data-ng-model="username" data-ng-enter="loginClick()" 
                                title="{{ResourceUtility.getString('LOGIN_USERNAME')}}"
                                class="form-control {{usernameInvalid ? 'error' : ''}}" 
                                autofocus>
                    </div>
                    <div class="form-group">
                        <label>{{ResourceUtility.getString('LOGIN_PASSWORD')}}</label>
                        <input  type="password"  
                                id="password"
                                autocomplete="off" 
                                data-ng-model="password" 
                                data-ng-enter="loginClick()" 
                                title="{{ResourceUtility.getString('LOGIN_PASSWORD')}}" 
                                class="form-control {{passwordInvalid ? 'error' : ''}}">
                    </div>
                    <div class="form-actions">
                        <button id="loginButton" type="submit" data-ng-click="loginClick()" class="button orange-button">
                            {{ResourceUtility.getString('LOGIN_LABEL')}}
                        </button>
                        <div class="forgot-pass">
                            <a data-toggle="modal" href="#myModal" data-ng-click="forgotPasswordClick($event)">
                                {{ResourceUtility.getString('LOGIN_FORGOT_PASSWORD_LABEL')}}
                            </a>
                        </div>
                    </div>

                </div>

                <!-- Forgot Password form -->
                <div class="form-signin" data-ng-show="!showLoginForm && showForgotPassword">
                    <h2 class="form-signin-heading">
                        {{ResourceUtility.getString('FORGOT_PASSWORD_TITLE')}}
                    </h2>
                    <p>{{ResourceUtility.getString('FORGOT_PASSWORD_MESSAGE')}}</p>
                    <div class="login-wrap">
                        <div class="user-login-info">
                            <label>{{ResourceUtility.getString('LOGIN_USERNAME')}}</label>
                            <input type="text" 
                                   class="form-control {{forgotPasswordUsernameInvalid ? 'error' : ''}}" 
                                   placeholder="{{ResourceUtility.getString('LOGIN_USERNAME')}}"
                                   autocomplete="off"
                                   data-ng-model="forgotPasswordUsername"
                                   data-ng-enter="forgotPasswordOkClick()"
                                   autofocus>
                        </div>
                        <div class="user-login-info-buttonforgot">
                            <a href="#" class="btn btn-secondary" data-ng-click="cancelForgotPasswordClick($event)">{{ResourceUtility.getString('BUTTON_CANCEL_LABEL')}}</a>
                            <button class="btn btn-primary" type="submit" data-ng-click="forgotPasswordOkClick()">{{ResourceUtility.getString('FORGOT_PASSWORD_SEND_EMAIL_BUTTON')}}</button>
                        </div>
                    </div>
                </div>

                <!-- Forgot Password success -->
                <div class="form-signin" data-ng-show="!showLoginForm && resetPasswordSuccess && !showForgotPassword">
                    <h2 class="form-signin-heading">{{ ResourceUtility.getString('FORGOT_PASSWORD_EMAIL_SENT_TITLE') }}</h2>
                    <p><strong>{{ email }}</strong></p>
                    <p>{{ ResourceUtility.getString('FORGOT_PASSWORD_EMAIL_SENT_BODY') }}</p>
                    <div class="login-wrap">
                        <div class="user-login-info-buttonforgot">
                            <button class="btn btn-primary" data-ng-click="showLoginForm = true;">{{ ResourceUtility.getString('RETURN_TO_LOGIN') }}</button>
                        </div>
                    </div>
                </div>

                <p class="footer smallest login-footer">© {{copyrightString}} <a href="#" data-ng-click="privacyPolicyClick($event)">{{ResourceUtility.getString('HEADER_PRIVACY_POLICY')}}</a></p>



            </div><!-- End .columns.five -->


        </div><!-- End .container -->
    </div><!-- End .login-body -->        
</div><!-- End #loginMainView -->