<header data-ng-controller="MainHeaderController" class="header">
    <div class="header-wrap clearfix">
        <div class="brand">
            <a class="logo" href="#" data-ng-click="modelListClicked($event)" data-ng-hide="mandatePasswordChange"> <img src="assets/images/logo_lattice.png" alt=""> </a> 
            <span class="logo" data-ng-show="mandatePasswordChange"> <img src="assets/images/logo_lattice.png" alt=""> </span> 
        </div>
        <ul class="top-nav">
            <li class="dropdown li-nav-personal">
                <a data-toggle="dropdown" class="dropdown-toggle nav-personal" href="#" data-ng-click="dropdownClicked($event)"> 
                    <span class="username">{{userDisplayName}}</span> <i class="fa fa-caret-down"></i></b>
                </a>
                <ul class="dropdown-menu dropdown-menu-2">
                    <li><a href="#" data-ng-click="updatePasswordClicked($event)" data-ng-hide="mandatePasswordChange">{{ResourceUtility.getString('HEADER_UPDATE_PASSWORD')}}</a></li>
                    <li data-ng-if="showUserManagement" data-ng-hide="mandatePasswordChange"><a href="#" data-ng-click="userManagementClicked($event)">{{ResourceUtility.getString('HEADER_MANAGE_USERS')}}</a></li>
                    <li data-ng-if="showSystemSetup" data-ng-hide="mandatePasswordChange"><a href="#" data-ng-click="systemSetupClicked($event)">{{ResourceUtility.getString('HEADER_SYSTEM_SETUP')}}</a></li>
                    <li data-ng-if="showSetup" data-ng-hide="mandatePasswordChange"><a href="#" data-ng-click="setupClicked($event)">{{ResourceUtility.getString('HEADER_MANAGE_FIELDS')}}</a></li>
                    <li><a href="#" data-ng-click="logoutClicked($event)">{{ResourceUtility.getString('HEADER_LOGOUT')}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>