<div data-ng-controller="MainViewController">
    <div id="mainHeaderView"></div>
    <div id="mainContentView">

        <div class="summary blue-fire" style="margin-top: 100px">
            <div class="content-header text-centered">
                <div class="container row">
                    <div class="columns twelve">
                        <h3><span>You are already logged in</span></h3>
                    </div>
                </div>
            </div>

            <div class="content-body">
                <div class="container row">
                    <button class="offset-four columns two button icon-button white-button">
                        <a ng-click="logoutClicked()">
                            Sign Out
                        </a>
                    </button>
                    <button class="columns two button icon-button orange-button">
                        <a href="/lp/">
                            Go to the model list
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>