
<nav id="nav" data-ng-controller="MainHeaderController">
    <div class="primary-nav">
        <div class="container row">
            <div class="columns two">
                <a class="logo" href="#" data-ng-click="modelListClicked($event)" data-ng-hide="mandatePasswordChange"> <img src="/login/assets/images/logo_lattice.png" alt="" /> </a> 
                <span class="logo" data-ng-show="mandatePasswordChange"> <img src="/login/assets/images/logo_lattice.png" alt=""> </span>
            </div>
            <div class="columns ten">
                <ul class="primary-menu">
                    <li class="dropdown">
                        <a href="#" title="" data-ng-click="dropdownClicked($event)">{{userDisplayName}}</a>
                        <ul>
                            <li><a href="#" data-ng-click="updatePasswordClicked($event)" data-ng-hide="mandatePasswordChange">{{ResourceUtility.getString('HEADER_UPDATE_PASSWORD')}}</a></li>
                            <li data-ng-if="showUserManagement" data-ng-hide="mandatePasswordChange"><a href="#" data-ng-click="userManagementClicked($event)">{{ResourceUtility.getString('HEADER_MANAGE_USERS')}}</a></li>
                            <li data-ng-if="showSystemSetup" data-ng-hide="mandatePasswordChange"><a href="#" data-ng-click="systemSetupClicked($event)">{{ResourceUtility.getString('HEADER_SYSTEM_SETUP')}}</a></li>
                            <li data-ng-if="showSetup" data-ng-hide="mandatePasswordChange"><a href="#" data-ng-click="setupClicked($event)">{{ResourceUtility.getString('HEADER_MANAGE_FIELDS')}}</a></li>
                            <li><a href="#" data-ng-click="logoutClicked($event)">{{ResourceUtility.getString('HEADER_LOGOUT')}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<script src="/demo/js/drop-down.js"></script>