<div id="tenantSelectionFormContainer" class="modal-dialog modal-sm" data-ng-controller="TenantSelectionController">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{ResourceUtility.getString("TENANT_SELECTION_FORM_TITLE")}}</h4>
        </div>
        <div class="modal-body" ng-init="SortDirection = ''">
            <div class="modal-tenant-select-controls">
                <span>LP Version:&nbsp;</span>
                <input id="tenantSelection2" type="radio" ng-model="version" value="2.0">
                <label for="tenantSelection2">2.0</label>&nbsp;
                <input id="tenantSelection3" type="radio" ng-model="version" value="3.0">
                <label for="tenantSelection3">3.0</label>&nbsp;
                <button 
                        type="button" 
                        class="button white-button" 
                        style="width:3em;padding:.25em;position:absolute;top:.7em;right:1em;"
                        ng-click="SortDirection = (SortDirection == '' ? '-' : '')" 
                    >
                    <span class="fa 
                            fa-sort-alpha-{{ 
                                SortDirection == '' 
                                    ? 'asc' 
                                    : 'desc' 
                            }}"
                        >
                    </span>
                </button>
            </div>
            <select id="tenantSelectionInput" data-ng-model="select_value" data-ng-change="handleTenantSelected()" size="20">
                <option 
                        data-ng-repeat="tenant in tenantList | filter: { 'UIVersion': version } | orderBy: SortDirection + 'DisplayName'" 
                        value="{{tenant.Identifier}}">
                    {{tenant.UIVersion}} - {{tenant.DisplayName}}
                </option>
            </select>
        </div>
    </div>
</div>