<style>
    button.button.icon-button, 
    a.button.icon-button, 
    .button.icon-button {
        padding: 0.4em 0.8em 0.4em;
        font-size: 16px;
        line-height: 1em;
        color: #555555;
        margin-bottom: 0.2em;
    }
    div.pd-pagination {
        text-align: center;
        font-size: .9em;
    }
    select#tenantSelectionInput {
        border: 1px solid #ccc;
        height: 24em;
        margin-top: .5em;
    }
    select#tenantSelectionInput option {
        padding: 0.2em 0.3em;
        cursor: pointer;
    }
    select#tenantSelectionInput option:hover {
        background: #26639b;
        color: #fff;
    }
    div#tenantSelectionFormContainer {
        width: 27em;
    }
    input.tenant-selection-search {
        width: 10em;
        display: inline;
        line-height: 1em;
    }
</style>
<div id="tenantSelectionFormContainer" class="modal-dialog modal-sm" data-ng-controller="TenantSelectionController">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{ResourceUtility.getString("TENANT_SELECTION_FORM_TITLE")}}</h4>
        </div>
        <div class="modal-body" ng-init="SortDirection = ''">
            <div class="modal-tenant-select-controls">
                <span>LP Version:&nbsp;</span>
                <label for="tenantSelection2">
                <input id="tenantSelection2" type="radio" ng-model="version" value="2.0">
                2</label>&nbsp;
                <label for="tenantSelection3">
                <input id="tenantSelection3" type="radio" ng-model="version" value="3.0">
                3</label>&nbsp;
                <input 
                        type="text" 
                        class="form-control tenant-selection-search" 
                        ng-model="SearchValue"
                        ng-init="$element.focus()"
                    />
                <button 
                        type="button" 
                        class="button white-button icon-button" 
                        ng-click="SortDirection = (SortDirection == '' ? '-' : '')" 
                    >
                    <span class="fa 
                            fa-sort-alpha-{{ 
                                SortDirection == '' 
                                    ? 'asc' 
                                    : 'desc' 
                            }}"
                        >
                    </span>
                </button>
            </div>
            <select 
                    id="tenantSelectionInput" 
                    data-ng-model="select_value" 
                    data-ng-change="handleTenantSelected()" 
                    size="15"
                >
                <option 
                        data-ng-repeat="tenant in tenantList | 
                            filter: { 'UIVersion': version, 'DisplayName': SearchValue } | 
                            orderBy: SortDirection + 'DisplayName'"
                        value="{{tenant.Identifier}}"
                    >
                    {{tenant.UIVersion}} - {{tenant.DisplayName}}
                </option>
            </select>
        </div>
    </div>
</div>