<style>
    button.button.icon-button, 
    a.button.icon-button, 
    .button.icon-button {
        padding: 0.6em 0.8em 0.5em .7em;
        font-size: 15px;
        line-height: 1em;
        color: #555555;
        margin-bottom: 0.2em;
    }
    div.pd-pagination {
        text-align: center;
        font-size: .9em;
    }
    select#tenantSelectionInput {
        border: 1px solid #ccc;
        height: 24em;
        margin-top: .5em;
    }
    select#tenantSelectionInput option {
        padding: 0.4em;
        cursor: pointer;
    }
    select#tenantSelectionInput option:nth-child(odd) {
        background-color: #f5f5f5;
    }
    select#tenantSelectionInput option:hover {
        background: #26639b;
        color: #fff;
    }
    div#tenantSelectionFormContainer {
        width: 27em;
    }
    input.tenant-selection-search {
        width: 8em;
        display: inline;
        line-height: 1em;
    }
    input.tenant-selection-search:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
        border-color: #ccc;
    }
    div.modal-tenant-select-controls-right {
        float: right;
        margin-top: -0.2em;
    }
</style>
<div id="tenantSelectionFormContainer" class="modal-dialog modal-sm" data-ng-controller="TenantSelectionController">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{ResourceUtility.getString("TENANT_SELECTION_FORM_TITLE")}}</h4>
        </div>
        <div class="modal-body" ng-init="SortDirection = ''">
            <div class="modal-tenant-select-controls">
                <span>LP Version:</span>&nbsp;
                <label for="tenantSelection2">
                <input id="tenantSelection2" type="radio" ng-model="version" value="2.0">
                2.0</label>&nbsp;
                <label for="tenantSelection3">
                <input id="tenantSelection3" type="radio" ng-model="version" value="3.0">
                3.0</label>

                <div class="modal-tenant-select-controls-right">
                    <input 
                            type="text" 
                            class="form-control tenant-selection-search" 
                            ng-model="SearchValue"
                            placeholder="Contains:" 
                        />
                    <button 
                            type="button" 
                            class="button white-button icon-button" 
                            ng-click="SortDirection = (SortDirection == '' ? '-' : '')" 
                        >
                        <span class="fa 
                                fa-sort-alpha-{{ 
                                    SortDirection == '' 
                                        ? 'asc' 
                                        : 'desc' 
                                }}"
                            >
                        </span>
                    </button>
                </div>
            </div>
            <select 
                    id="tenantSelectionInput" 
                    ng-model="select_value" 
                    ng-change="handleTenantSelected()" 
                    size="15" 
                >
                <option 
                        data-ng-repeat="tenant in tenantList | 
                            filter: { 'UIVersion': version, 'DisplayName': SearchValue } | 
                            orderBy: SortDirection + 'DisplayName'"
                        value="{{tenant.Identifier}}"
                    >
                    {{tenant.UIVersion}}: {{tenant.DisplayName}}
                </option>
            </select>
        </div>
    </div>
</div>