<div class="file-download-notification alert">
    <p>
        <%= fileDownloadLabel %>
    </p>
    <div class="file-download-button-container">
        <button type="button" class="js-file-download-button btn"><%= ResourceUtil.getString('BUTTON_DOWNLOAD_LABEL') %></button>
    </div>
</div>