.logo-area {
    position: relative;
}

.form-signin {
    h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }
    .secondary-actions_ {
        margin-top: 20px;
    }
}

.user-info {
    position: absolute;
    text-align: right;
    right: 1em;
    white-space: nowrap;
    
    li {
        font-size: 90%;
        line-height: 15px;
        
        &.label {
            font-weight: bold;
            font-size: 90%;
            
            .default {
                cursor: pointer;
                color: #aaa;
                font-weight: normal;
                font-size: 90%;
            }
            
            .default:hover {
                text-decoration: underline;
            }
        }
        
        &.value {
            margin-bottom: 1em;
        }
        
        &.control {
            margin-top: 2em;
        }
    }
    
    hr { 
        margin: 2em 0;
    }
    
    button {
        &.white-button,
        &.orange-button {
            margin-top: 1em;
            display: inline-block;
            width: auto;
        }
    }
}