.logo-area {
    position: relative;
}

.form-signin {
    h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }
    .secondary-actions_ {
        margin-top: 20px;
    }
}

.user-info {
    position: absolute;
    text-align: center;
    right: 1em;
    white-space: nowrap;
    
    li {
        font-size: 90%;
        line-height: 15px;
        float: right;
        clear: both;
        
        .recent-link {
            position: relative;
            display: block;
            font-size: 0.95em;
            text-overflow: ellipsis;
            max-width: 13.6em;
            text-align: left;
            padding: 0.333em 0.2em;
            overflow: hidden;
            color: #222;
            -webkit-transition: none;
            transition: none; 
            
            &:nth-child(odd) {
                background: #f9f9f9;
            }

            &:first-child {
                border-top: 1px solid #d0d0d0 ;
            }
            
            &:last-child {
                border-bottom: none;
            }

            &.default:hover {
                background: #65b7e5;
                color: white;
            }
            
            &.default:active {
                background: #3989c4;
                cursor: default;
            }
            
            .fa-spinner {
                position: absolute;
                top: 0.5em;
                left: -2em;
                color: black;
            }
        }

        &.label {
            font-weight: bold;
            font-size: 100%;
            width: 100%;
            
            .default {
                cursor: pointer;
                color: #999;
                font-weight: normal;
                font-size: 100%;
                position: absolute;
                right: 0;
            }

            .default:hover,
            .default:hover {
                color: #000;
            }
        }
        
        &.value {
            margin-bottom: 1.4em;
            width: 100%;
        }
        
        &.control {
            margin-top: 2em;
        }
    }
    
    hr { 
        margin: 2em 0;
    }
    
    button {
        &.white-button,
        &.orange-button {
            margin-top: 1em;
            display: inline-block;
            width: auto;
        }
    }
}

.login-label {
    font-size: 20px;
    margin-left: 5px;
}