<div id="loginMainView">
    <div class="login-body state-{{$ctrl.state.current.name.replace('.','-')}}">
        <div class="container row">
            <div class="columns two offset-three logo-area" ng-if="!$ctrl.state.params.disableLogoArea">
                <img src="/login/assets/images/logo_login.png" alt="Lattice">
                <ul class="user-info" ng-if="$ctrl.login.username">
                    <li class="label">username</li>
                    <li class="value">
                        <span class="recent-link">{{$ctrl.login.username}}</span>
                    </li>
                    <li class="label">
                        password
                        <span 
                            ui-sref="login.update" 
                            ng-if="$ctrl.state.current.name != 'login.update'" 
                            class="default fa fa-edit"
                            title="Change your password"></span>
                    </li>
                    <li class="value" ng-if="$ctrl.login.alreadyExpired && $ctrl.login.expireDays > 0">
                        <span class="recent-link">expired {{$ctrl.login.expireDays}} days ago</span>
                    </li>
                    <li class="value" ng-if="$ctrl.login.alreadyExpired && $ctrl.login.expireDays == 0">
                        <span class="recent-link">expired today</span>
                    </li>
                    <li class="value" ng-if="!$ctrl.login.alreadyExpired && $ctrl.login.expireDays > 90">
                        <span class="recent-link">expires on {{$ctrl.login.expires | date:'MM/dd/yyyy'}}</span>
                    </li>
                    <li class="value" ng-if="!$ctrl.login.alreadyExpired && $ctrl.login.expireDays <= 90">
                        <span class="recent-link">expires in {{$ctrl.login.expireDays}} days</span>
                    </li>
                    <li class="label" ng-if="$ctrl.login.tenant">
                        current tenant
                        <span 
                            ui-sref="login.tenants" 
                            ng-if="$ctrl.state.current.name != 'login.tenants'" 
                            class="default fa fa-edit"
                            title="Change your tenant"></span>
                    </li>

                    <li class="value" ng-if="$ctrl.login.tenant">
                        <a href="javascript:void(0)" ng-click="$ctrl.clickToLP()" class="default recent-link" title="{{$ctrl.login.tenant}}">
                            {{$ctrl.login.tenant}}
                        </a>
                    </li>
                    
                    <span ng-if="$ctrl.getHistory($ctrl.login.username).length > 0">
                        <li class="label">
                            recent tenants
                            <span 
                                ng-click="$ctrl.clearHistory($ctrl.login.username)" 
                                class="default fa fa-trash"
                                title="Delete recent tenants history"></span>
                        </li>
                        
                        <li class="value">
                            <a      href="javascript:void(0)" 
                                    class="default recent-link"
                                    title="[{{tenant.UIVersion}}] - {{tenant.DisplayName}} - {{tenant.RegisteredTime | date:'MM/dd/yyyy'}}"
                                    ng-click="$ctrl.clickTenant(tenant, $ctrl.login.username)"
                                    ng-repeat="tenant in $ctrl.history | limitTo: 5 track by tenant.Identifier"
                                    ng-style="{'pointer-events': $ctrl.loginInProgress[tenant.DisplayName] ? 'none' : 'initial'}">
                                <i ng-if="$ctrl.loginInProgress[tenant.DisplayName]" class="fa fa-spinner fa-pulse fa-fw"></i>
                                {{tenant.DisplayName}}
                            </a>
                        </li>
                    </span>
                    
                    <li class="value" ng-if="$ctrl.login.username && !$ctrl.login.tenant && $ctrl.state.current.name != 'login.tenants'">
                        <a ui-sref="login.tenants" class="default">
                            Choose a Tenant
                        </a>
                    </li>

                    <li class="" ng-if="$ctrl.login.username">
                        <button ng-click="$ctrl.clickLogout()" class="button white-button block-button">
                            Sign Out
                        </button>
                    </li>

                    <li class="" ng-if="!$ctrl.login.username">
                        <button ui-sref="login.form" class="button orange-button block-button">
                            Sign In
                        </button>
                    </li>
                </ul>
            </div><!-- End .columns.five -->

            <div class="columns five login-content">

                <div ng-if="$ctrl.state.loading">Loading</div>

                <div ui-view="FrameContent" ng-if="!$ctrl.state.loading"></div>
                
            </div><!-- End .columns.five -->

        </div><!-- End .container -->
    </div><!-- End .login-body -->        
</div><!-- End #loginMainView -->