<div data-ng-controller="CredentialsController">
    <div class="global-error local-error" data-ng-show="showError">
        <span><i class="fa fa-exclamation-circle fa-inverse"></i>&nbsp;{{errorMessage}}</span>
    </div>
    <div class="form-deployment">
        <div data-ng-show="loading">
            <div class="loader"> </div>
            <h2 class="text-center">{{ResourceUtility.getString('GENERAL_LOADING')}}</h2>
        </div>
        <div data-ng-show="!loading">
            <div class="form-title">
                <h1>{{ResourceUtility.getString('SETUP_CREDENTIALS_SF_TITLE')}}</h1>
                <span><span>&ast;</span>&nbsp;{{ResourceUtility.getString('SYSTEM_SETUP_REQUIRED_FIELDS')}}</span>
                <span class="sub-title">{{ResourceUtility.getString('SETUP_CREDENTIALS_SF_LABEL')}}</span>
            </div>
            <div class="formSF">
                <data-salesforce-credential
                    logo-left-align="logoLeftAlign"
                    production-complete="crmProductionComplete"
                    production-error="crmProductionError"
                    production-save-in-progress="crmProductionSaveInProgress"
                    production-credentials="crmProductionCredentials"
                    production-save-button-text="{{crmProductionSaveButtonText}}"
                    production-save-button-clicked="crmProductionSaveAndImportClicked()"
                    production-edit-button-text="{{crmProductionEditButtonText}}"
                    sandbox-complete="crmSandboxComplete"
                    sandbox-error="crmSandboxError"
                    sandbox-save-in-progress="crmSanboxSaveInProgress"
                    sandbox-credentials="crmSandboxCredentials"
                    sandbox-save-button-text="{{crmSandboxSaveButtonText}}"
                    sandbox-save-button-clicked="crmSandboxSaveAndImportClicked()"
                    sandbox-edit-button-text="{{crmSandboxEditButtonText}}"></data-salesforce-credential>
            </div>
        </div>
    </div>
</div>