<div class="modal-dialog modal-sm" data-ng-controller="DiscardEditFieldsController">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{ResourceUtility.getString('SETUP_MANAGE_FIELDS_DISCARD_EDIT_FIELDS_TITLE')}}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 text-center">
              <p>{{ResourceUtility.getString('SETUP_MANAGE_FIELDS_DISCARD_EDIT_FIELDS_LABEL')}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-ng-click="noClicked()">{{ResourceUtility.getString('BUTTON_NO_LABEL')}}</button>
            <a class="btn btn-primary" href="#" data-ng-click="yesClicked($event)">{{ResourceUtility.getString('BUTTON_YES_LABEL')}}</a>
        </div>
    </div>
</div>