global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  daemon

  tune.ssl.default-dh-param 4096

defaults
  log   global
  mode   http

  # logs which servers requests go to, plus current connections and a whole lot of other stuff 
  option   httplog
  option   dontlognull
  retries   3
  option    redispatch
  maxconn   2000
  timeout connect 5000
  timeout client  50000
  timeout server  50000

  balance roundrobin
  option forwardfor
  option http-server-close

  default-server inter 3s fall 3 rise 2

listen stats 
  bind *:81
  stats enable
  stats scope lpi
  stats scope adminconsole
  stats scope swagger
  stats scope pls
  stats scope admin
  stats scope scoringapi
  stats scope matchapi
  stats scope oauth2
  stats scope playmaker
  stats scope eai
  stats scope metadata
  stats scope dataflowapi
  stats scope workflowapi
  stats scope scoring
  stats scope modeling
  stats scope quartz
  stats scope modelquality
  stats scope datacloudapi
  stats scope dellebi
  stats scope cdl
  stats scope lp
  stats realm Haproxy\ Statistics
  stats uri /

frontend lpifront
  bind *:82 ssl crt /etc/ssl/private/server.pem

  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  http-response set-header Strict-Transport-Security "max-age=2629746;includeSubDomains"

  default_backend lpi

frontend adminconsolefront
  bind *:83 ssl crt /etc/ssl/private/server.pem

  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  http-response set-header Strict-Transport-Security "max-age=2629746;includeSubDomains"

  default_backend adminconsole

frontend http
  bind *:80
  bind *:443 ssl crt /etc/ssl/private/server.pem

  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  http-response set-header Strict-Transport-Security "max-age=2629746;includeSubDomains"

  acl pls_path path_beg /pls
  acl admin_path path_beg /admin
  acl scoringapi_path path_beg /score
  acl scoringapiinternal_path path_beg /scoreinternal
  acl matchapi_path path_beg /match
  acl oauth2_path path_beg /oauth2
  acl playmaker_path path_beg /playmaker

  acl eai_path path_beg /eai
  acl metadata_path path_beg /metadata
  acl scoring_path path_beg /scoring
  acl modeling_path path_beg /modeling
  acl dataflowapi_path path_beg /dataflowapi
  acl workflowapi_path path_beg /workflowapi
  acl objectapi_path path_beg /objectapi
  acl quartz_path path_beg /quartz
  acl modelquality_path path_beg /modelquality
  acl datacloudapi_path path_beg /datacloudapi
  acl dellebi_path path_beg /dellebi
  acl cdl_path path_beg /cdl
  acl lp_path path_beg /lp

  use_backend pls if pls_path
  use_backend admin if admin_path
  use_backend scoringapi if scoringapi_path
  use_backend scoringapi if scoringapiinternal_path
  use_backend matchapi if matchapi_path
  use_backend oauth2 if oauth2_path
  use_backend playmaker if playmaker_path

  use_backend eai if eai_path
  use_backend metadata if metadata_path
  use_backend scoring if scoring_path
  use_backend modeling if modeling_path
  use_backend dataflowapi if dataflowapi_path
  use_backend workflowapi if workflowapi_path
  use_backend objectapi if objectapi_path
  use_backend quartz if quartz_path
  use_backend modelquality if modelquality_path
  use_backend datacloudapi if datacloudapi_path
  use_backend dellebi if dellebi_path
  use_backend cdl if cdl_path
  use_backend lp if lp_path

  default_backend swagger

backend lpi
  option httpchk GET / HTTP/1.0
#{{lpi}}

backend adminconsole
  option httpchk GET / HTTP/1.0
#{{adminconsole}}

backend swagger
  option httpchk HEAD / HTTP/1.0
#{{swagger}}

backend pls
  option httpchk GET /pls/health HTTP/1.0
#{{pls}}

backend admin
  option httpchk GET /admin/health HTTP/1.0
#{{admin}}

backend scoringapi
  option httpchk GET /score/health HTTP/1.0
#{{scoringapi}}

backend matchapi
  option httpchk GET /match/health HTTP/1.0
#{{matchapi}}

backend oauth2
  option httpchk GET /oauth2/health HTTP/1.0
#{{oauth2}}

backend playmaker
  option httpchk GET /api/health HTTP/1.0
#{{playmaker}}

backend eai
  option httpchk GET /eai/v2/api-docs HTTP/1.0
#{{eai}}

backend metadata
  option httpchk GET /metadata/v2/api-docs HTTP/1.0
#{{metadata}}

backend dataflowapi
  option httpchk GET /dataflowapi/v2/api-docs HTTP/1.0
#{{dataflowapi}}

backend workflowapi
  option httpchk GET /workflowapi/v2/api-docs HTTP/1.0
#{{workflowapi}}

backend objectapi
  option httpchk GET /objectapi/health HTTP/1.0
#{{objectapi}}

backend scoring
  option httpchk GET /scoring/v2/api-docs HTTP/1.0
#{{scoring}}

backend modeling
  option httpchk GET /modeling/v2/api-docs HTTP/1.0
#{{modeling}}

backend quartz
  option httpchk GET /quartz/v2/api-docs HTTP/1.0
#{{quartz}}

backend modelquality
  option httpchk GET /modelquality/v2/api-docs HTTP/1.0
#{{modelquality}}

backend datacloudapi
  option httpchk GET /datacloudapi/v2/api-docs HTTP/1.0
#{{datacloudapi}}

backend dellebi
  option httpchk GET /dellebi/v2/api-docs HTTP/1.0
#{{dellebi}}

backend cdl
  option httpchk GET /cdl/health HTTP/1.0
#{{cdl}}

backend lp
  option httpchk GET /lp/health HTTP/1.0
#{{lp}}






