AccountMasterColumn*.csv
AccountMasterFact.csv
CategoricalAttribute.csv
CustomerSourceAttribute.csv
SourceAttribute.csv
SourceColumn.csv
PrimeColumn.csv
DataBlockElement.csv
DataBlockLevelMetadata.csv
DataBlockDomainEntitlement.csv
