<div class="expanded-{{jobRowExpanded}} {{jobType}}" style="position: relative;">
    <div class="clearfix">
        <span data-ng-if="job.timestamp == null" class="columns three">N/A</span>
        <span data-ng-if="job.timestamp != null" class="columns three">{{job.timestamp | date : 'MM/dd/yyyy h:mma'}}</span>
        <span class="columns three" ng-if="state == 'model'">{{job.source}}</span>
        <span class="columns three" ng-if="state != 'model'">{{job.displayName}}</span>
        <span class="columns one {{job.status}}">{{job.status}}</span>
        <span class="columns two">
            <span class="button {{job.status == 'Failed' ? 'orange' : 'blue'}}-button" data-ng-show="(jobCompleted || jobFailed) && job.id != null">
                <a  href="javascript:void(0)" 
                    data-ng-click="rescoreFailedJob({jobId: job.id})" 
                    ng-show="job.status == 'Failed'"
                    ng-if="false">
                        <i class="fa fa-refresh"></i>Restart
                </a>
                <a  ui-sref="home.jobs.status.ready({jobId: job.id})" 
                    ng-show="jobType == 'fitModelWorkflow'">
                        <i class="fa fa-list-alt"></i>View Report</a>
                <a  ui-sref="home.jobs.status.csv({jobId: job.id})" 
                    ng-show="jobType == 'importMatchAndModelWorkflow' || jobType == 'importMatchAndScoreWorkflow'">
                        <i class="fa fa-list-alt"></i>View Report</a>
                <a 
                    href="javascript:void(0)" 
                    data-ng-click="clickGetScoringResults()" 
                    data-ng-show="(jobType == 'scoreWorkflow' || jobType == 'importMatchAndScoreWorkflow') && job.status != 'Failed'"
                >
                    <i class="fa fa-download"></i>Download
                </a>
            </span>
            <span class="button orange-button" data-ng-show="jobRunning && !cancelClicked"> <a href="javascript:void(0)" data-ng-click="cancelJob(job.id)"><i class="fa fa-stop-circle"></i>Cancel Job</a></span>
            <span class="button white-button" data-ng-show="jobRunning && cancelClicked"> <span><i class="fa fa-stop-circle"></i>Cancelling...</span></span>
            
            <span ng-if="state != 'model'" style="position: absolute; right: 1em;">
                <a href="javascript:void(0)" data-toggle="collapse" data-ng-click="expandJobStatus()" data-ng-show="! jobRowExpanded && job.timestamp != null && job.id != null && (jobType == 'fitModelWorkflow' || jobType == 'importMatchAndModelWorkflow')">
                    <span><i class="fa fa-angle-double-down fa-lg"></i></span>
                </a>
                <a href="javascript:void(0)" data-toggle="collapse" data-ng-click="unexpandJobStatus()" data-ng-show="jobRowExpanded && job.timestamp != null && job.id != null && (jobType == 'fitModelWorkflow' || jobType == 'importMatchAndModelWorkflow')">
                    <span><i class="fa fa-angle-double-up fa-lg"></i></span>
                </a>
            </span>
            &nbsp
        </span>
        <span class="columns three job-status-username">{{job.user || 'Unknown'}}</span>
    </div>
    <div class="chevron-row" data-ng-show="jobRowExpanded">
        <div class="breadcrumb flat" ng-show="jobType == 'importMatchAndModelWorkflow'">
            <div class="state-finished-{{jobStepsCompletedStates.load_data}}">
                <span class="chevron-content chevron-content-text">
                    Processing File<br><span class="completion-times">{{ stepsCompletedTimes.load_data | date: 'MM/dd/yyyy h:mma' }}</span>
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsRunningStates.load_data">
                    <i class="fa fa-spinner fa-pulse"></i>
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsCompletedStates.load_data">
                    <i class="fa fa-check"></i>
                </span>
            </div>
            <div class="state-finished-{{jobStepsCompletedStates.generate_insights}}">
                <span class="chevron-content chevron-content-text">
                    Matching to Data Cloud<br><span class="completion-times">{{ stepsCompletedTimes.generate_insights | date: 'MM/dd/yyyy h:mma' }}</span>
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsRunningStates.generate_insights">
                    <i class="fa fa-spinner fa-pulse"></i>
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsCompletedStates.generate_insights">
                    <i class="fa fa-check"></i>
                </span>
            </div>
            <div class="state-finished-{{jobStepsCompletedStates.create_global_target_market}}">
                <span class="chevron-content chevron-content-text">
                    Building Model<br><span class="completion-times">{{ stepsCompletedTimes.create_global_target_market | date: 'MM/dd/yyyy h:mma' }}</span>
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsRunningStates.create_global_target_market">
                    <i class="fa fa-spinner fa-pulse"></i>
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsCompletedStates.create_global_target_market">
                    <i class="fa fa-check"></i>
                </span>
            </div>
        </div>
        <div class="breadcrumb flat" ng-show="jobType == 'fitModelWorkflow'">
            <div class="state-finished-{{jobStepsCompletedStates.load_data}}">
                <span class="chevron-content chevron-content-text">
                    Load Data
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsRunningStates.load_data">
                    <i class="fa fa-spinner fa-pulse"></i>
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsCompletedStates.load_data">
                    <i class="fa fa-check"></i>
                </span>
            </div>
            <div class="state-finished-{{jobStepsCompletedStates.match_data}}">
                <span class="chevron-content chevron-content-text">
                    Match Data
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsRunningStates.match_data">
                    <i class="fa fa-spinner fa-pulse"></i>
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsCompletedStates.match_data">
                    <i class="fa fa-check"></i>
                </span>
            </div>
            <div class="state-finished-{{jobStepsCompletedStates.generate_insights}}">
                <span class="chevron-content chevron-content-text">
                    Generate<br>Insights
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsRunningStates.generate_insights">
                    <i class="fa fa-spinner fa-pulse"></i>
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsCompletedStates.generate_insights">
                    <i class="fa fa-check"></i>
                </span>
            </div>
            <div class="state-finished-{{jobStepsCompletedStates.create_global_model}}">
                <span class="chevron-content chevron-content-text">
                    Create Universal<br>Model
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsRunningStates.create_global_model">
                    <i class="fa fa-spinner fa-pulse"></i>
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsCompletedStates.create_global_model">
                    <i class="fa fa-check"></i>
                </span>
            </div>
            <div class="state-finished-{{jobStepsCompletedStates.create_global_target_market}}">
                <span class="chevron-content chevron-content-text">
                    Create Universal<br>Target Market
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsRunningStates.create_global_target_market">
                    <i class="fa fa-spinner fa-pulse"></i>
                </span>
                <span class="chevron-content icon" data-ng-show="jobStepsCompletedStates.create_global_target_market">
                    <i class="fa fa-check"></i>
                </span>
            </div>
        </div>
        <div class="completion-times" ng-show="jobType == 'fitModelWorkflow'">
            <span>{{ stepsCompletedTimes.load_data | date: 'MM/dd/yyyy h:mma' }}</span>
            <span>{{ stepsCompletedTimes.match_data | date: 'MM/dd/yyyy h:mma' }}</span>
            <span>{{ stepsCompletedTimes.generate_insights | date: 'MM/dd/yyyy h:mma' }}</span>
            <span>{{ stepsCompletedTimes.create_global_model | date: 'MM/dd/yyyy h:mma' }}</span>
            <span>{{ stepsCompletedTimes.create_global_target_market | date: 'MM/dd/yyyy h:mma' }}</span>
        </div>
    </div>
</div>
