<div class="box-inner company-info round-box">
    <ul class="info">
        <li>
            <h2 title="{{vm.company_info.LDC_Name}}">
                <span class="attribute-feedback-container">
                    <attribute-feedback-button 
                        button-type="'infodot'" 
                        attribute="vm.company_info" 
                        icon-font="'fa fa-search'"
                        label="'Account Lookup'"
                        category-class="'category-growth-trends'"
                        show-lookup-store="true"
                        type="'incorrectlookups'"
                        value="vm.company_info.LDC_Name" />
                    {{vm.company_info.LDC_Name}}
                </span>
            </h2>
        </li>
        <li>{{vm.format('address')}}</li>
        <li><a href="tel:+1{{vm.company_info.LE_COMPANY_PHONE}}">{{vm.format('phone')}}</a></li>
        <li><a href="http://{{vm.company_info.LDC_Domain}}">{{vm.company_info.LDC_Domain}}</a></li>
    </ul>

    <div class="details">
        <ul>
            <li ng-if="vm.company_info.LDC_DUNS">
                <h3>Duns Number</h3> 
                <span class="attribute-feedback-container">
                    <attribute-feedback-button 
                        button-type="'infodot'" 
                        attribute="vm.company_info" 
                        attribute-key="'LDC_DUNS'"
                        icon-font="'fa fa-search'"
                        label="'Duns Number'"
                        category-class="'category-growth-trends'"
                        value="vm.company_info.LDC_DUNS" />
                    {{vm.company_info.LDC_DUNS}}</li>
                </span>
            <li ng-if="vm.company_info.LE_NUMBER_OF_LOCATIONS">
                <h3>Locations</h3> 
                <span class="attribute-feedback-container">
                    <attribute-feedback-button 
                        button-type="'infodot'" 
                        attribute="vm.company_info" 
                        attribute-key="'LE_NUMBER_OF_LOCATIONS'"
                        icon-font="'fa fa-search'"
                        label="'Locations'"
                        category-class="'category-growth-trends'"
                        value="vm.company_info.LE_NUMBER_OF_LOCATIONS" />
                    {{vm.company_info.LE_NUMBER_OF_LOCATIONS}}
                </span>
            </li>
            <li ng-if="vm.company_info.LE_IS_PRIMARY_LOCATION">
                <h3>Primary Location</h3> 
                <span class="attribute-feedback-container">
                    <attribute-feedback-button 
                        button-type="'infodot'" 
                        attribute="vm.company_info" 
                        attribute-key="'LE_IS_PRIMARY_LOCATION'"
                        icon-font="'fa fa-search'"
                        label="'Primary Location'"
                        category-class="'category-growth-trends'"
                        value="vm.company_info.LE_IS_PRIMARY_LOCATION" />
                    {{vm.company_info.LE_IS_PRIMARY_LOCATION}}
                </span>
            </li>
        </ul>

        <div class="industry" ng-if="vm.company_info.LE_INDUSTRY">
            <h3>Industry</h3>
            <span class="attribute-feedback-container">
                <attribute-feedback-button 
                    button-type="'infodot'" 
                    attribute="vm.company_info" 
                    attribute-key="'LE_INDUSTRY'"
                    icon-font="'fa fa-search'"
                    label="'Industry'"
                    category-class="'category-growth-trends'"
                    value="vm.company_info.LE_INDUSTRY" />
                {{vm.company_info.LE_INDUSTRY}}
            </span>
        </div>

        <div class="sales-employees">
            <div class="sales" ng-if="vm.company_info.LE_REVENUE_RANGE">
                <h3>Annual Sales</h3>
                <span class="attribute-feedback-container">
                    <attribute-feedback-button 
                        button-type="'infodot'" 
                        attribute="vm.company_info" 
                        attribute-key="'LE_REVENUE_RANGE'"
                        icon-font="'fa fa-search'"
                        label="'Annual Sales'"
                        category-class="'category-growth-trends'"
                        value="vm.format('range', vm.company_info.LE_REVENUE_RANGE)" />
                    {{vm.format('range', vm.company_info.LE_REVENUE_RANGE)}}
                </span>
            </div>

            <div class="employees" ng-if="vm.company_info.LE_EMPLOYEE_RANGE">
                <h3>Employees</h3>
                    <span class="attribute-feedback-container">
                        <attribute-feedback-button 
                            button-type="'infodot'" 
                            attribute="vm.company_info" 
                            attribute-key="'LE_EMPLOYEE_RANGE'"
                            icon-font="'fa fa-search'"
                            label="'Employees'"
                            category-class="'category-growth-trends'"
                            value="vm.format('range', vm.company_info.LE_EMPLOYEE_RANGE)" />
                        {{vm.format('range', vm.company_info.LE_EMPLOYEE_RANGE)}}
                    </span>
            </div>
        </div>
    </div>
</div>