<div class="box-inner company-info round-box">
    <ul class="info">
        <li><h2 title="{{vm.company_info.LDC_Name}}">{{vm.company_info.LDC_Name}}</h2></li>
        <li>{{vm.format('address')}}</li>
        <li><a href="tel:+1{{vm.company_info.LE_COMPANY_PHONE}}">{{vm.format('phone')}}</a></li>
        <li><a href="http://{{vm.company_info.LDC_Domain}}">{{vm.company_info.LDC_Domain}}</a></li>
    </ul>

    <div class="details">
        <ul>
            <li ng-if="vm.company_info.LDC_DUNS"><h3>Duns Number</h3> {{vm.company_info.LDC_DUNS}}</li>
            <li ng-if="vm.company_info.LE_NUMBER_OF_LOCATIONS"><h3>Locations</h3> {{vm.company_info.LE_NUMBER_OF_LOCATIONS}}</li>
            <li ng-if="vm.company_info.LE_IS_PRIMARY_LOCATION"><h3>Primary Location</h3> {{vm.company_info.LE_IS_PRIMARY_LOCATION}}</li>
        </ul>

        <div class="industry" ng-if="vm.company_info.LE_INDUSTRY">
            <h3>Industry</h3>
            {{vm.company_info.LE_INDUSTRY}}
        </div>

        <div class="sales-employees">
            <div class="sales" ng-if="vm.company_info.LE_REVENUE_RANGE">
                <h3>Annual Sales</h3>
                {{vm.format('range', company_info.LE_REVENUE_RANGE)}}
            </div>

            <div class="employees" ng-if="vm.company_info.LE_EMPLOYEE_RANGE">
                <h3>Employees</h3>
                {{vm.format('range', company_info.LE_EMPLOYEE_RANGE)}}
            </div>
        </div>
    </div>
</div>