section.ratings-engine-ai-prospect.container{
    p {
        // border: 1px solid yellowgreen;
        margin: 10px 0 20px 0;
        font-size: 16px;
    }
    .wizard-content {
        width: 100%;
        font-size: 16px;
       
    }
    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 1.6em;
    }
 
}

