@import "../../colors.scss";
.sort-container {
    padding: 0;
    line-height: 1;
    color: rgba(0,0,0,0.6);
}
.sort-container:hover {
	cursor: pointer;
	i {
	    color: rgba(0,0,0,1);
	}
}