<div class="playbook-insights container talking-point-container" ng-class="{'dashboard-content': vm.stateParams.section.indexOf('dashboard.') !== -1}">
    <div class="inner-container">
        <div class="talking-points-columns">
            <div class="talking-points">
                <div class="header">
                    <h2>Insights: Talking Points</h2>
                    <p>
                        Talking Points are dynamically generated account-specific insights for your sales team that are visible after campaign launch. Once launched, you can make changes at any time, but note that you may overwrite changes made by other users. 
                        <a href="/assets/files/talking-points/syntax.html" target="_syntax">Please refer to this guide for more details</a>.
                    </p>
                </div>
                <ul class="talkingpoints-top-controls">
                    <li class="saved">
                        <span ng-if="vm.saving && !vm.saved"><i class="fa fa-floppy-o"></i> Saving...</span>
                        <span ng-if="vm.saved && !vm.saving"><i class="fa fa-check"></i> Saved</span>
                    </li>
                    <li class="revert" ng-if="vm.stateParams.section.indexOf('dashboard.') !== -1 && vm.talkingPoints.length && vm.currentPlay.lastTalkingPointPublishTime">
                        <button class="button white-button" ng-click="vm.revertClick($event,true)">Revert To Last Published Version</button>
                        <div ng-if="vm.revertClicked" class="revert-confirm">
                            Revert To Last Published Version? 
                            <button class="button blue-button" ng-click="vm.revertTalkingPoints()">Revert</button>
                            <button class="button white-button" ng-click="vm.revertClick($event,false)">Cancel</button>
                        </div> 
                    </li>
                </ul>

                <div ng-if="vm.talkingPoints" ng-repeat="tp in vm.talkingPoints | orderBy:'offset' | startFrom: (vm.currentPage - 1) * vm.pageSize | limitTo: vm.pageSize" class="tp-entry" ng-class="{'has-errors': tp.uiError && !tp.IsNew}">
                    <ul class="tp-errors">
                        <li class="tp-error" ng-repeat="(error, message) in tp.uiError">
                            <em>{{message}}</em>
                        </li>
                    </ul>
                    <div class="cg-talking-point-editor-container">
                        <cg-talking-point-editor
                            tp="tp"
                            on-delete="vm.onDelete(tp, $index)">
                        </cg-talking-point-editor>
                        <ul class="controls" ng-if="!tp.IsNew">
                            <li class="tp-entry-sort" ng-if="vm.talkingPoints.length > 1">
                                 <div class="arrow">
                                    <i class="fa fa-arrow-up" ng-if="$index > 0" ng-click="vm.reorder($index, $index - 1)"></i>
                                 </div>
                                <div class="arrow">
                                    <i class="fa fa-arrow-down" ng-if="$index < vm.talkingPoints.length - 1" ng-click="vm.reorder($index, $index + 1)"></i>
                                </div>
                            </li>
                            <li class="tp-created" ng-if="!tp.IsNew">
                                <time>Created {{tp.created-1000|date:'M/d/yyyy h:mm a'}}</time>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row tp-footer">
                    <span ng-click="vm.addTalkingPoint()" class="tp-add-container" ng-disabled="vm.saving || !vm.allowAddTalkingPoint(vm.talkingPoints, vm.valid)">
                        <button class="add-tp-button button white-button"><i class="fa fa-plus"></i></button><span>Add Talking Point</span>
                    </span>
                </div>
            </div>
            <div class="attributes">
                <cg-tp-attribute-pane opts="vm.attributes" entities='vm.entities'></cg-tp-attribute-pane>
            </div>
        </div>
        <div class="footer" ng-if="vm.stateParams.section === 'dashboard.insights'" >
            <button ng-disabled="!vm.valid" class="preview button blue-button campaign-insights-preview" ng-click="vm.saveTalkingPoints()"><span ng-if="!vm.saveOnBlur">Save and </span>Preview</button>
        </div>
    </div>
</div>