div.advanced-query-builder {
    ul.query-input {
        display: inline;
        // vertical-align: text-top;
        
        li {
            display: inline;
            
            span {
                display: inline;
                cursor: default;
            }

            span.query-input-number {
                border-bottom: 2px solid #999;
                border-radius: 0px;
                color: #000;
                // font-weight: bold;
                margin: 0px 0px;
                display: inline-block;
                width: 1.4em;
                text-align: center;
                line-height: 1.2em;
                cursor: default;

                &.category-contact { border-bottom: 2px solid #ff9e64; }
                &.category-product { border-bottom: 2px solid #cd80bc; }
                &.category-firmographics { border-bottom: 2px solid #33bdb7; }
                &.category-intent { border-bottom: 2px solid #f15a5a; }
                &.category-technology_profile { border-bottom: 2px solid #70bf4a; }
                &.category-website_profile { border-bottom: 2px solid #26649b; }
                &.category-growth_trends { border-bottom: 2px solid #65b7e6; }
                &.category-engagement { border-bottom: 2px solid #aac43b; }
                &.category-online_presence { border-bottom: 2px solid #8e71b2; }
                &.category-website_keywords { border-bottom: 2px solid #fdbc49; }
            }

            span.query-input-operator {
                text-transform: uppercase;
                margin: 0 0em 0 0em;
            }

            span.query-input-parenthesis {
                display: inline-block;
                width: 0.3em;
                height: 1em;
            }

            span.query-input-parenthesis-label {
                // font-size: 1.6em;
                line-height: 1em;
                margin-top: 2px;
                display: inline;
                position: absolute;
                margin-left: 3px;
            }
            
            span.query-input-section-end .query-input-parenthesis-label {
                margin-left: -3px;
            }
        }

        li:last-child {
            > span.query-input-operator {
                display: none;
                
                .query-input-operator-alternate {
                    display: block;
                    margin-right: 0;
                    float: left;
                }
            }
        }

        &.query-input-root {
            .query-input {
                // border-top: 1px dashed #999;
                // margin-top: 2px;
                padding: 0 1px;
            }

            &.query-input,
            &.query-input > li > ul {
                border-top: none;
                margin-top: 0;
                padding: 0;
            }
        }

        &.query-input-root {
            > li {
                > .query-input-parenthesis,
                > span.query-input-operator-alternate {
                    display: none;
                }
            }
        }
    }

    .query-input-type-and {
        &> span > div.item-operator-and {
            display: inline;
        }

        &> span > div.item-operator-or {
            display: none;
        }
    }

    .query-input-type-or {
        &> span > div.item-operator-and {
            display: none;
        }

        &> span > div.item-operator-or {
            display: inline;
        }
    }
} 