div.advanced-query-builder {
    ul.query-input {
        display: inline;
        // vertical-align: text-top;
        
        li {
            display: inline;
            
            span {
                display: inline;
                cursor: default;
            }

            span.query-input-number {
                border-bottom: 2px solid #999;
                border-radius: 0px;
                color: #000;
                // font-weight: bold;
                margin: 0px 0px;
                display: inline-block;
                min-width: 1.1em;
                text-align: center;
                line-height: 1.2em;
                cursor: default;

                &.category-firmographics { border-bottom: 2px solid $datacloud-color-firmographics; }
                &.category-growth-trends { border-bottom: 2px solid $datacloud-color-growth-trends; }
                &.category-intent { border-bottom: 2px solid $datacloud-color-intent; }
                &.category-online-presence { border-bottom: 2px solid $datacloud-color-online-presence; }
                &.category-technology-profile { border-bottom: 2px solid $datacloud-color-technology-profile; }
                &.category-website-keywords { border-bottom: 2px solid $datacloud-color-website-keywords; }
                &.category-website-profile { border-bottom: 2px solid $datacloud-color-website-profile; }
                &.category-contact-attributes { border-bottom: 2px solid $datacloud-color-contact; }
                &.category-product-spend-profile, &.category-product-spend { border-bottom: 2px solid $datacloud-color-product; }
                &.category-engagement { border-bottom: 2px solid $datacloud-color-engagement; }
                &.category-curated-account-attributes { border-bottom: 2px solid $datacloud-color-curated-accounts; }
                &.category-my-attributes { border-bottom: 2px solid $datacloud-color-my-attributes; }
                &.category-lattice-ratings { border-bottom: 2px solid $datacloud-color-lattice-ratings; }
            }

            span.query-input-operator {
                text-transform: uppercase;
                font-weight: bold;
                display: inline-block;
                
                div {
                    font-size: 0.8em;
                    font-weight: normal;
                }
            }

            span.query-input-parenthesis {
                display: inline-block;
                width: 0.3em;
                height: 1em;
            }

            span.query-input-parenthesis-label {
                font-size: 1.1em;
                line-height: 1em;
                margin-top: 2px;
                display: inline;
                position: absolute;
                margin-left: 2px;
            }
            
            span.query-input-section-end .query-input-parenthesis-label {
                margin-left: -2px;
            }
        }

        li:last-child {
            > span.query-input-operator {
                display: none;
                
                .query-input-operator-alternate {
                    display: block;
                    margin-right: 0;
                    float: left;
                }
            }
        }

        &.query-input-root {
            .query-input {
                // border-top: 1px dashed #999;
                // margin-top: 2px;
                padding: 0 1px;
            }

            &.query-input,
            &.query-input > li > ul {
                border-top: none;
                margin-top: 0;
                padding: 0;
            }
        }

        &.query-input-root {
            > li {
                > .query-input-parenthesis,
                > span.query-input-operator-alternate {
                    display: none;
                }
            }
        }
    }

    .query-input-type-and {
        &> span > div.item-operator-and {
            display: inline;
        }

        &> span > div.item-operator-or {
            display: none;
        }
    }

    .query-input-type-or {
        &> span > div.item-operator-and {
            display: none;
        }

        &> span > div.item-operator-or {
            display: inline;
        }
    }
} 