<div data-ng-controller="ActivateModelController">
    <div class="summary blue-fire">
        <h1>{{ResourceUtility.getString('ACTIVATE_MODEL_TITLE')}}</h1>
    </div>
    <div class="container" data-ng-show="showError">
        <div class="global-error">
            <span><i class="fa fa-exclamation-circle fa-inverse"></i>{{errorMessage}}</span>
            <a class="close" href="#" data-ng-click="closeErrorClick($event)"><i class="fa fa-times fa-inverse"></i></a>
        </div>
    </div>
    <div data-ng-show="loading">
        <div class="loader"> </div>
        <h2 class="text-center">{{ResourceUtility.getString('GENERAL_LOADING')}}</h2>
    </div>      
    <section data-ng-show="!loading">
        <div class="panel panel-default user-list">
            <div novalidate>
                <div class="panel-body">
                    <table>
                        <thead>
                            <th>{{ResourceUtility.getString('ACTIVATE_MODEL_SEGMENT_NAME')}}</th>
                            <th>{{ResourceUtility.getString('ACTIVATE_MODEL_MODEL_NAME')}}</th>
                            <th>{{ResourceUtility.getString('ACTIVATE_MODEL_MODEL_ID')}}</th>
                            <th data-ng-hide="segments.length === 1">{{ResourceUtility.getString('ACTIVATE_MODEL_PRIORITY')}}</th>
                            <th data-ng-show="allowAddAndDelete">{{ResourceUtility.getString('ACTIVATE_MODEL_DELETE')}}</th>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="segment in segments" data-ng-class="{shaded: $index % 2}">
                                <td>{{segment.Name}}</td>
                                <td>
                                    <select class="js-model-select" data-ng-model="segment.NewModelId" data-ng-change="modelChanged(segment)">
                                        <option 
                                            data-ng-repeat="model in models" 
                                            value="{{model.Id}}" 
                                            data-ng-selected="segment.ModelId == model.Id">
                                            {{model.DisplayName}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <p data-ng-hide="segment.ModelId == 'FAKE_MODEL'">
                                        {{segment.ModelId}}
                                    </p>
                                </td>
                                <td data-ng-hide="segments.length === 1">
                                    <div class="priority-column">
                                        <div>
                                            <a href="#" 
                                               class="priority-arrow priority-arrow-down" 
                                               data-ng-show="showDecreasePriority(segment)" 
                                               data-ng-click="decreasePriorityClicked($event, segment)"></a>
                                        </div>
                                        <div>
                                            <a href="#" 
                                               class="priority-arrow priority-arrow-up" 
                                               data-ng-show="showIncreasePriority(segment)" 
                                               data-ng-click="increasePriorityClicked($event, segment)"></a>
                                        </div>
                                    </div>
                                </td>
                                <td class="edit-icons" data-ng-show="allowAddAndDelete">
                                    <a class="delete-user-link" data-ng-click="deleteSegmentClicked(segment)" href="#"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-left">
                        <button class="btn btn-primary" data-ng-click="addNewSegmentClicked()" data-ng-show="allowAddAndDelete">
                            {{ResourceUtility.getString('ACTIVATE_MODEL_ADD_NEW')}}
                        </button>
                    </div>
                    <div class="text-left" data-ng-show="!saving">
                        <button class="btn btn-primary" data-ng-click="saveSegmentsClicked()">
                            {{ResourceUtility.getString('BUTTON_SAVE_LABEL')}}
                        </button>
                    </div> 
                    <div class="loader" data-ng-show="saving">
                                
                    </div>                                        
                </div>
            </div>
        </div>
    </section>
</div>