<td>
    <div>
        <input 
                type="checkbox" 
                data-ng-click="warningExcludeToggled($event, columnWarning)"
                data-ng-checked="ruleNameToDataRules[columnWarning.dataRuleName].enabled" />
    </div>
    <div data-ng-repeat="columnName in columnWarning.flaggedColumnNames" ng-if="columnWarningExpanded">
        <input 
                type="checkbox" 
                data-ng-click="columnExcludeToggled($event, columnName)"
                data-ng-checked="columnRemediated(columnName) || (dataRule.enabled && dataRule.columnsToRemediate.length == 0)" />
    </div>
</td>

<td>
    <div>
        {{columnWarning.flaggedItemCount}}
    </div>
    <div data-ng-show="columnWarningExpanded" data-ng-repeat="columnName in columnWarning.flaggedColumnNames">
        {{columnName}}
    </div>
</td>

<td>{{ruleNameToDataRules[columnWarning.dataRuleName].displayName}}</td>

<td>{{ruleNameToDataRules[columnWarning.dataRuleName].description}}</td>

<td data-ng-click="expandColumnWarningClicked()">
    <i ng-if="columnWarning.flaggedItemCount > 0" class="fa fa-angle-double-{{columnWarningExpanded ? 'up' : 'down'}} fa-lg"></i>
</td>