<div data-ng-controller="ModelListController">
    
    <div class="summary blue-fire">
        <h1>{{ResourceUtility.getString('MODEL_LIST_TITLE')}}</h1>
        <p>Completed models are shown here. To create a new model, go back to the model creation section.</p>
    </div>

    <section id="main-content" class="wrapper">
        <div data-ng-show="loading">
            <div class="loader"> </div>
            <h2 class="text-center">{{ResourceUtility.getString('GENERAL_LOADING')}}</h2>
        </div>
        <div class="no-models text-center"  data-ng-show="showNoModels">
            <h2>{{ResourceUtility.getString('MODEL_LIST_NO_MODELs')}}</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">Displaying 4 of 4</div>
                <div class="pull-right">
                    <button type="button" class="button orange-button">Create Model</button>
                </div>
            </div>
        </div>
        <div class="row" data-ng-hide="showNoModels || loading">
            <section class="panel panel-clear">
                <div class="panel-body">
                    <div class="row" id="modelListContainer">
                        
                    </div>
                </div>
            </section>
        </div>
    </section>
    
</div>