.lp-model-list {
	.list-header {
		margin: 0 .5%;
		
		.number-of-items li {
			margin-right: 1em;
			float: left;
			/*
			cursor: pointer;
			
			&:hover span {
				text-decoration: underline;
			}
			*/
		}
	}

	.create-model-menu {
		position: relative;
		margin: 0;
		float: right;
		z-index: 10;
		border-bottom-color: transparent;
		border-bottom-width: 2px;
		border-style: solid;
						
		button {
			vertical-align: top;
			margin-left: .45em;
			
			&.open {
				background-color: #222;
				border-bottom-color: #aaa;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
			}

			span {
				margin-left: 0.75em;
			}
		}

		ul {
			border-radius: 6px;
			border-top-right-radius: 0;
			
			li {
				
			}
		}
	}
}