<section id="ModelRatingsView" class="model-ratings container">

    <div class="row">
        <div class="twelve columns">


            <ul class="tabs_">
                <li class="active" ui-sref="home.model.ratings">Rating Setup</li>
                <li ui-sref="home.model.ratings.history">History</li>
            </ul>


            <div class="chart-header">
                <div class="list-data pull-left">All Leads: <strong>93,893</strong></div>
                <div class="actions pull-right">
                	<button 
                		type="button" 
                		class="button orange-button"
                		data-ng-click="vm.publishConfiguration()"
                		ng-disabled="vm.chartNotUpdated"
                	>Publish Configuration</button>
                </div>
            </div><!-- End .chart-header -->

            <div class="bar-chart">

                <div class="ratings-chart">

                    <div class="sliders-container">
                        <div class="slider">
                            <div class="handle"></div>
                        </div>
                        <div class="slider">
                            <div class="handle"></div>
                        </div>
                        <div class="slider">
                            <div class="handle"></div>
                        </div>
                        <div class="slider">
                            <div class="handle"></div>
                        </div>
                    </div><!-- End .sliders-container -->

                    <ul class="data">
                        <li style="height:109px" class="bucket-one">&nbsp;</li>
                        <li style="height:90px" class="bucket-one">&nbsp;</li>
                        <li style="height:70px" class="bucket-one">&nbsp;</li>
                        <li style="height:70px" class="bucket-two">&nbsp;</li>
                        <li style="height:68px" class="bucket-two">&nbsp;</li>
                        <li style="height:67px" class="bucket-two">&nbsp;</li>
                        <li style="height:67px" class="bucket-two">&nbsp;</li>
                        <li style="height:67px" class="bucket-two">&nbsp;</li>
                        <li style="height:64px" class="bucket-three">&nbsp;</li>
                        <li style="height:42px" class="bucket-three">&nbsp;</li>
                        <li style="height:30px" class="bucket-three">&nbsp;</li>
                        <li style="height:26px" class="bucket-three">&nbsp;</li>
                        <li style="height:20px" class="bucket-four">&nbsp;</li>
                        <li style="height:18px" class="bucket-four">&nbsp;</li>
                        <li style="height:16px" class="bucket-four">&nbsp;</li>
                        <li style="height:18px" class="bucket-four">&nbsp;</li>
                        <li style="height:21px" class="bucket-four">&nbsp;</li>
                        <li style="height:20px" class="bucket-four">&nbsp;</li>
                        <li style="height:14px" class="bucket-four">&nbsp;</li>
                        <li style="height:17px" class="bucket-four">&nbsp;</li>
                        <li style="height:18px" class="bucket-four">&nbsp;</li>
                        <li style="height:16px" class="bucket-four">&nbsp;</li>
                        <li style="height:20px" class="bucket-four">&nbsp;</li>
                        <li style="height:20px" class="bucket-four">&nbsp;</li>
                        <li style="height:14px" class="bucket-four">&nbsp;</li>
                        <li style="height:9px" class="bucket-four">&nbsp;</li>
                        <li style="height:2px" class="bucket-four">&nbsp;</li>
                        <li style="height:8px" class="bucket-four">&nbsp;</li>
                        <li style="height:12px" class="bucket-four">&nbsp;</li>
                        <li style="height:10px" class="bucket-four">&nbsp;</li>
                    </ul>
                    <ul class="vertical-axis">
                        <li><span>4x</span></li>
                        <li><span>3x</span></li>
                        <li><span>2x</span></li>
                        <li><span>1x</span></li>
                    </ul>
                    <ul class="horizontal-axis">
                        <li><span>99</span></li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
                        <li><span>90</span></li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
                        <li><span>80</span></li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
                        <li><span>70</span></li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
                        <li><span>60</span></li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
                        <li><span>50</span></li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
                        <li><span>40</span></li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
                        <li><span>30</span></li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
                        <li><span>20</span></li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
                        <li><span>10</span></li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
                        <li><span>5</span></li>
                    </ul><!-- End .horizontal-axis -->
                </div><!-- End .chart -->

            </div>

            <ul class="bucket-tiles large-buckets">
            	<li ng-repeat="bucket in vm.buckets">
            		<div class="bucket-label">{{bucket.name}}</div>
            		<dl>
            			<dt>Lift</dt>
            			<dd class="lift">{{bucket.lift}}x</dd>
            			<dt>Leads %</dt>
            			<dd>XX%</dd>
            			<dt>Leads</dt>
            			<dd>{{bucket.num_leads}}</dd>
            		</dl>
            	</li>
            </ul><!-- End .bucket-tiles -->

            <hr/>

            <h3>Currently published configuration</h3>
            <ul class="bucket-tiles published">
                <li ng-repeat="bucket in vm.buckets">
                    <div class="bucket-label">{{bucket.name}}</div>
                    <dl>
                        <dt>Lift</dt>
                        <dd class="lift">{{bucket.lift}}x</dd>
                        <dt>Leads %</dt>
                        <dd>30%</dd>
                        <dt>Leads</dt>
                        <dd>{{bucket.num_leads}}</dd>
                    </dl>
                </li>
            </ul><!-- End .bucket-tiles -->
            
        </div><!-- End .twelve.columns -->
    </div><!-- End .row -->

</section>
