<section id="ModelRatingsDemoView" class="model-ratings">

    <div class="container row">
        <div class="twelve columns">

            <ul class="history-list">

            	<li>
		            <div class="chart-header clearfix">
		                <div class="list-data pull-right">Published on: 01/16/2017 at 1:45pm</div>
		            </div><!-- End .chart-header -->
		            <ul class="bucket-tiles published">
		            	<li>
		                    <div class="bucket-label">A</div>
		                    <dl>
		                        <dt>Lift</dt>
		                        <dd class="lift">3.0x</dd>
		                        <dt>Leads %</dt>
		                        <dd>39%</dd>
		                        <dt>Leads</dt>
		                        <dd>36,644</dd>
		                        <dt>Score Range</dt>
		                        <dd>99-95</dd>
		                    </dl>
		                </li>
		            	<li>
		                    <div class="bucket-label">B</div>
		                    <dl>
		                        <dt>Lift</dt>
		                        <dd class="lift">2.3x</dd>
		                        <dt>Leads %</dt>
		                        <dd>11%</dd>
		                        <dt>Leads</dt>
		                        <dd>10,757</dd>
		                        <dt>Score Range</dt>
		                        <dd>94-85</dd>
		                    </dl>
		                </li>
		            	<li>
		                    <div class="bucket-label">C</div>
		                    <dl>
		                        <dt>Lift</dt>
		                        <dd class="lift">1.3x</dd>
		                        <dt>Leads %</dt>
		                        <dd>16%</dd>
		                        <dt>Leads</dt>
		                        <dd>15,323</dd>
		                        <dt>Score Range</dt>
		                        <dd>84-50</dd>
		                    </dl>
		                </li>
		            	<li>
		                    <div class="bucket-label">D</div>
		                    <dl>
		                        <dt>Lift</dt>
		                        <dd class="lift">0.5x</dd>
		                        <dt>Leads %</dt>
		                        <dd>34%</dd>
		                        <dt>Leads</dt>
		                        <dd>31,169</dd>
		                        <dt>Score Range</dt>
		                        <dd>49-5</dd>
		                    </dl>
		                </li>
		            </ul><!-- End .bucket-tiles -->
		            <h4>Your ratings are available through <a ui-sref="home.model.jobs">file scoring</a> or API.</h4>
		        </li>

		    </ul><!-- End .history -->

        </div><!-- End .twelve.columns -->
    </div><!-- End .row -->

</section>
