<section id="ModelRatingsHistoryView" class="model-ratings container">

    <div class="row">
        <div class="twelve columns">


            <ul class="tabs_">
                <li ui-sref="home.model.ratings({ modelId: '{{ vm.modelId | escape }}' })">Rating Setup</li>
                <li class="active">History</li>
            </ul>


            <ul class="history-list">

            	<li ng-repeat="configuration in vm.historicalBuckets">
		            <div class="chart-header clearfix">
		                <div class="list-data pull-left">Created by: bnguyen@lattice-engines.com</div>
		                <div class="list-data pull-right">Published on: 01/03/17 at 1:45pm</div>
		            </div><!-- End .chart-header -->
		            <ul class="bucket-tiles published">
		            	<li ng-repeat="bucket in configuration">
		                    <div class="bucket-label">{{bucket.name}}</div>
		                    <dl>
		                        <dt>Lift</dt>
		                        <dd class="lift">{{Math.round(bucket.lift)}}x</dd>
		                        <dt>Leads %</dt>
		                        <dd>{{Math.round(100*bucket.num_leads/vm.summary.total_num_leads)}}%</dd>
		                        <dt>Leads</dt>
		                        <dd>{{bucket.num_leads | number}}</dd>
		                    </dl>
		                </li>
		            </ul><!-- End .bucket-tiles -->
		        </li>

		    </ul><!-- End .history -->



        </div><!-- End .twelve.columns -->
    </div><!-- End .row -->

</section>
