<div data-ng-controller="ModelCreationHistoryController">
    <div class="summary blue-fire">
        <h1>{{ResourceUtility.getString('MODEL_LIST_CREATION_HISTORY')}}</h1>
    </div>
    <div data-ng-show="loading">
        <div class="loader"> </div>
        <h2 class="text-center">{{ResourceUtility.getString('GENERAL_LOADING')}}</h2>
    </div>
    <div class="no-models text-center"  data-ng-show="showNoModels">
            <h2>{{ResourceUtility.getString('MODEL_LIST_NO_MODELs')}}</h2>
    </div>
    <div data-ng-hide="showNoModels || loading">
        <section id="modelCreationHistoryContainer">
        </section>
    </div>
</diV>