<section id="main-content" class="container review-model">

    <div class="row">
        <div class="twelve columns list-header">
            <div class="pull-left number-of-items">{{vm.showLatticeAttr ? vm.latticeWarnedColumnCount : vm.customWarnedColumnCount}} of {{vm.totalWarnedColumnCount}} columns excluded</div>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns list-header">
            <a href="javascript:void(0)" data-ng-click="vm.displayAllWarningsClicked()" data-ng-class="vm.showAll ? 'selected' : ''">All Warnings</a> | <a href="javascript:void(0)" data-ng-click="vm.displayNonLatticeWarningsClicked()" data-ng-class="vm.showCustomAttr ? 'selected' : ''">Custom Fields</a> | <a href="javascript:void(0)" data-ng-click="vm.displayLatticeWarningsClicked()" data-ng-class="vm.showLatticeAttr ? 'selected' : ''">Lattice Data Cloud</a>
        </div>
    </div>

    <div class="row">
        <div id="" class="twelve columns model-list">
            <div class="row panel-heading custom-heading">
                <span class="columns one">Exclude</span>
                <span class="columns two">Columns</span>
                <span class="columns three">Warning Type</span>
                <span class="columns four">Description</span>
                <span class="columns two">&nbsp;</span>
            </div>
            <div>
                <div
                    data-model-review-column-warning
                    data-ng-repeat="columnWarning in vm.columnWarningsToDisplay"
                    column="columnWarning"
                    rules="vm.ruleNameToDataRules"
                    data="vm.ReviewData">
                </div>
            </div>
        </div>
    </div>

</section>
