<section id="main-content" class="container review-model">

    <div class="row">
        <div class="twelve columns list-header">
            <div class="pull-left number-of-items">{{vm.showLatticeAttr ? vm.latticeWarnedColumnCount : vm.customWarnedColumnCount}} of {{vm.totalWarnedColumnCount}} columns excluded</div>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns list-header">
            <a href="javascript:void(0)" data-ng-click="vm.displayAllWarningsClicked()" data-ng-class="vm.showAll ? 'selected' : ''">All Warnings</a> | <a href="javascript:void(0)" data-ng-click="vm.displayNonLatticeWarningsClicked()" data-ng-class="vm.showCustomAttr ? 'selected' : ''">Custom Fields</a> | <a href="javascript:void(0)" data-ng-click="vm.displayLatticeWarningsClicked()" data-ng-class="vm.showLatticeAttr ? 'selected' : ''">Lattice Data Cloud</a>
        </div>
    </div>

    <div class="row">
        <div id="" class="twelve columns model-list">
            <table>
                <thead>
                  <tr>
                    <th>Exclude</th>
                    <th>Columns</th>
                    <th>Warning Type</th>
                    <th>Description</th>
                    <th>&nbsp;</th>
                    <!-- <th>{{ResourceUtility.getString('MODEL_LIST_MODEL_STATUS')}}</th> -->
                  </tr>
                </thead>
                <tbody>
                    <tr
                        data-model-review-column-warning
                        data-ng-repeat="columnWarning in vm.columnWarningsToDisplay"
                        column="columnWarning"
                        rules="vm.ruleNameToDataRules"
                        data="vm.ReviewData">
                    </tr>
                 </tbody>
            </table>
        </div>
    </div>

</section>