<section id="main-content" class="container review-model">

    <div class="row">
        <div class="twelve columns list-header">
            <div class="pull-left number-of-items">5,000 of 25,000 columns excluded</div>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns list-header">
            Custom Fields | <a href="#">Lattice Data Cloud</a>
        </div>
    </div>

    <div class="row">
        <div id="" class="twelve columns model-list">
        	

        	<table>
                <thead>
                  <tr>
                    <th>Exclude</th>
                    <th>Columns</th>
                    <th>Warning Type</th>
                    <th>Description</th>
                    <!-- <th>{{ResourceUtility.getString('MODEL_LIST_MODEL_STATUS')}}</th> -->
                  </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>
                        	<input type="checkbox" name="column-id" value="{{column}}" />
                        </td>
                        <td>20</td>
                        <td>Anonymous Leads</td>
                        <td>Description</td>
                    </tr>
                    <tr >
                        <td>
                            <input type="checkbox" name="column-id" value="{{column}}" />
                        </td>
                        <td>50</td>
                        <td>Anonymous Leads</td>
                        <td>Description</td>
                    </tr>
                    <tr >
                        <td>
                            <input type="checkbox" name="column-id" value="{{column}}" />
                        </td>
                        <td>30</td>
                        <td>Anonymous Leads</td>
                        <td>Description</td>
                    </tr>
                    <tr >
                        <td>
                            <input type="checkbox" name="column-id" value="{{column}}" />
                        </td>
                        <td>10</td>
                        <td>Anonymous Leads</td>
                        <td>Description</td>
                    </tr>
                 </tbody>
            </table>


        </div>
    </div>

</section>
