<section id="main-content" class="container review-model">

    <div class="row">
        <div class="twelve columns list-header">
            <div class="pull-left number-of-items">5,000 of 25,000 rows excluded</div>
        </div>
    </div>

    <div class="row">
        <div id="" class="twelve columns model-list">
        	

        	<table>
                <thead>
                  <tr>
                    <th>Exclude</th>
                    <th>Rows</th>
                    <th>Warning Type</th>
                    <th>Description</th>
                    <!-- <th>{{ResourceUtility.getString('MODEL_LIST_MODEL_STATUS')}}</th> -->
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        	<input type="checkbox" id="" />
                        </td>
                        <td>50</td>
                        <td>Exclude Records with Public Domains</td>
                        <td>Description</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="" />
                        </td>
                        <td>10</td>
                        <td>
                            Exclude specific domains<br/>
                            <input type="text" class="form-control" style="width: 20em;" />
                        </td>
                        <td>Description</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="" />
                        </td>
                        <td>30</td>
                        <td>Anonymous Leads</td>
                        <td>Description</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="" />
                        </td>
                        <td>40</td>
                        <td>Anonymous Leads</td>
                        <td>Description</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="" />
                        </td>
                        <td>10</td>
                        <td>Anonymous Leads</td>
                        <td>Description</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="" />
                        </td>
                        <td>20</td>
                        <td>Anonymous Leads</td>
                        <td>Description</td>
                    </tr>
                 </tbody>
            </table>


        </div>
    </div>

</section>
