<section id="main-content" class="container">

    <div class="row">
        <div class="twelve columns list-header">
            <div class="pull-left number-of-items">5,000 of 25,000 rows excluded</div>
        </div>
    </div>

    <div class="row">
        <div id="" class="twelve columns model-list">
        	

        	<table>
                <thead>
                  <tr>
                    <th>Excluded</th>
                    <th>Rows</th>
                    <th>Warning Type</th>
                    <th>Description</th>
                    <!-- <th>{{ResourceUtility.getString('MODEL_LIST_MODEL_STATUS')}}</th> -->
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        	<input type="checkbox" id="" class="custom" />
                        </td>
                        <td>50</td>
                        <td>Anonymous Leads</td>
                        <td>Description</td>
                    </tr>
                    <tr>
                        <td>
                        	<input type="checkbox" id="" class="custom" />
                        </td>
                        <td>50</td>
                        <td>Anonymous Leads</td>
                        <td>Description</td>
                    </tr>
                    <tr>
                        <td>
                        	<input type="checkbox" id="" class="custom" />
                        </td>
                        <td>50</td>
                        <td>Anonymous Leads</td>
                        <td>Description</td>
                    </tr>
                    <tr>
                        <td>
                        	<input type="checkbox" id="" class="custom" />
                        </td>
                        <td>50</td>
                        <td>Anonymous Leads</td>
                        <td>Description</td>
                    </tr>
                 </tbody>
            </table>


        </div>
    </div>

</section>
