<section id="main-content" class="container review-model">

    <div class="row">
        <div class="twelve columns list-header">
            <div class="pull-left number-of-items">5,000 of 25,000 rows excluded</div>
        </div>
    </div>

    <div class="row">
        <div id="" class="twelve columns model-list">
        	

        	<table>
                <thead>
                  <tr>
                    <th>Exclude</th>
                    <th>Rows</th>
                    <th>Warning Type</th>
                    <th>Description</th>
                    <!-- <th>{{ResourceUtility.getString('MODEL_LIST_MODEL_STATUS')}}</th> -->
                  </tr>
                </thead>

                <tbody>
                    <tr data-ng-repeat="rowWarning in vm.rowWarnings">
                        <td>
                            <input type="checkbox" id="" />
                        </td>
                        <td>{{rowWarning.flaggedItemCount}}</td>
                        <td>{{vm.ruleNameToDataRules[rowWarning.dataRuleName].displayName}}</td>
                        <td>{{vm.ruleNameToDataRules[rowWarning.dataRuleName].description}}</td>
                    </tr>
                 </tbody>
            </table>

        </div>
    </div>

</section>
