<section id="main-content" class="container tile-list">


    <div class="row">
        
        <div class="list-header">
            <div class="pull-left number-of-items" ng-if="vm.totalLength > 0">
                <search-filter query="vm.query"></search-filter>
            </div>
            <div class="pull-right">
                <a
                    class="button orange-button"
                    ng-click="vm.addSegment()">
                    Add Segment
                </a>
            </div>
        </div>

    </div>
    <div class="row" ng-init="pagesize = 12; current = 1" ng-show="max > 1">
        
        <div class="twelve columns">
            <pd-pagination-controls current="current" max="max = (vm.header.filter.filtered | filter: vm.query).length / pagesize">
            </pd-pagination-controls>
        </div>

    </div>



    <div class="row">
        <div class="twelve columns">
            <ul class="tiles">


                <li
                    ng-repeat="segment in vm.segments | orderBy: '-updated' | filter: vm.query"
                    ng-click="vm.tileClick($event, segment.name)"
                    ng-mouseleave="vm.tileStates[segment.name].showCustomMenu ? vm.customMenuClick($event, segment) : null"
                >
                    <div class="tile-header" ng-if="!vm.tileStates[segment.name].editSegment">
                        <h2 title="{{segment.display_name}}">{{segment.display_name | limitTo: 44 }}{{segment.display_name.length > 44 ? '&hellip;' : ''}}</h2>
                        <div class="edit">
                            <button
                                    type="button"
                                    ng-click="vm.customMenuClick($event, segment)"
                                    ng-class="{ 'open': vm.tileStates[segment.name].showCustomMenu }">
                                <span class="fa fa-ellipsis-v" ng-class="{ 'fa-rotate-180': vm.tileStates[segment.name].showCustomMenu }"></span>
                            </button>
                            <ul class="model-menu" ng-show="vm.tileStates[segment.name].showCustomMenu">
                                <li data-ng-click="vm.editSegmentClick($event, segment)">
                                    <a href="javascript:void(0)">Edit</a>
                                    <i class="fa fa-edit"></i>
                                </li>
                                <li data-ng-click="vm.duplicateSegmentClick($event, segment)">
                                    <a href="javascript:void(0)">Duplicate</a>
                                    <i class="fa fa-copy"></i>
                                </li>
                                <li data-ng-click="vm.showDeleteSegmentModalClick($event, segment)">
                                    <a href="javascript:void(0)">Delete</a>
                                    <i class="fa fa-trash"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tile-body" ng-if="!vm.tileStates[segment.name].editSegment">
                        <p title="{{segment.description}}" ng-if="segment.description != null">{{segment.description | limitTo: 250 }}{{segment.description.length > 250 ? '&hellip;' : ''}}</p>
                        <p ng-if="segment.description === null || segment.description === ''"><button class="button link-button" data-ng-click="vm.editSegmentClick($event, segment)">Add description</button></p>
                    </div>

                    <form
                        class="edit-form"
                        name="editSegmentForm"
                        ng-if="vm.tileStates[segment.name].editSegment"
                        ng-click="$event.stopPropagation()">
                        <div class="form-group">
                            <label for="segmentDisplayName">Name
                            <input
                                autofocus
                                type="text"
                                id="display_name"
                                name="display_name"
                                data-ng-model="segment.display_name"
                                class="form-control" />
                                </label>
                        </div>
                        <div class="form-group">
                            <label for="segmentDescription">Description</label>
                            <textarea
                                class="form-control"
                                id="description"
                                name="description"
                                data-ng-model="segment.description"
                            ></textarea>
                        </div>
                        <div class="actions">
                            <button
                                type="button"
                                class="button white-button pull-left"
                                ng-click="vm.cancelEditSegmentClicked($event, segment)">
                                Cancel</button>
                            <button
                                type="button"
                                class="button orange-button pull-right"
                                ng-disabled="editSegmentForm.$pristine"
                                ng-click="vm.saveSegmentClicked($event, segment)">
                                Save</button>
                        </div>
                    </form>

                    <div class="meta-data" ng-if="!vm.tileStates[segment.name].editSegment">
                        <!-- removed segment:demo:fixme -->
                        <!-- <dl class="stats">
                            <dt>Accounts</dt>
                            <dd class="small">{{segment.segment_properties[0].metadataSegmentProperty.value | number}}</dd>
                        </dl> -->
                    </div>
                </li>

                <li class="no-style">
                    <a
                        class="button new-tile-button"
                        ng-click="vm.addSegment()">
                        <span>&#43;</span>
                        Add Segment
                    </a>
                </li>


            </ul>
        </div>
    </div><!-- End .row -->

</section>