<section id="main-content" class="container tile-list">

    <div class="row">
        <div class="twelve columns">
            <ul class="tiles">


                <li
                    ng-repeat="segment in vm.segments"
                    ng-click="vm.tileClick($event, segment.name)"
                    ng-mouseleave="showCustomMenu ? customMenuClick($event) : null"
                >
                    <div class="tile-header" ng-if="!vm.editSegment">
                        <h2 title="{{segment.name}}">{{segment.name | limitTo: 36 }}{{segment.name.length > 36 ? '&hellip;' : ''}}</h2>
                        <div class="edit">
                            <button 
                                    type="button"
                                    ng-click="customMenuClick($event)"
                                    ng-class="{ 'open': showCustomMenu }">
                                <span class="fa fa-ellipsis-v" ng-class="{ 'fa-rotate-180': showCustomMenu }"></span>
                            </button>
                            <ul class="model-menu" ng-show="showCustomMenu">
                                <li data-ng-click="vm.editSegmentClick($event, segment)">
                                    <a href="javascript:void(0)">Edit</a>
                                    <i class="fa fa-edit"></i>
                                </li>
                                <li data-ng-click="vm.duplicateSegmentClick($event, segment)">
                                    <a href="javascript:void(0)">Duplicate</a>
                                    <i class="fa fa-copy"></i>
                                </li>
                                <li data-ng-click="vm.showDeleteSegmentModal($event, segment)">
                                    <a href="javascript:void(0)">Delete</a>
                                    <i class="fa fa-trash"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tile-body" ng-if="!vm.editSegment">
                        <p title="{{segment.description}}" ng-if="segment.description != null">{{segment.description | limitTo: 36 }}{{segment.description.length > 240 ? '&hellip;' : ''}}</p>
                        <p ng-if="segment.description === null"><button class="button link-button" data-ng-click="vm.editSegmentClick($event, segment)">Add description</button></p>
                    </div>

                    <div class="edit-form" ng-if="vm.editSegment">
                        <div class="form-group">
                            <label for="segmentName">Name
                            <input 
                                autofocus
                                type="text" 
                                id="segmentName" 
                                name="segmentName"
                                data-ng-model="vm.segmentName"
                                class="form-control" />
                                </label>
                        </div>
                        <div class="form-group">
                            <label for="segmentDescription">Description</label>
                            <textarea 
                                class="form-control"
                                id="segmentDescription" 
                                name="segmentDescription"
                                data-ng-model="vm.segmentDescription"
                            ></textarea>
                        </div>  
                        <div class="actions">
                            <button 
                                type="button" 
                                class="button white-button pull-left" 
                                ng-click="vm.cancelEditSegmentClicked($event, segment)">
                                Cancel</button>
                            <button 
                                type="button" 
                                class="button orange-button pull-right" 
                                ng-disabled="vm.canSave"
                                ng-click="vm.saveSegmentClicked($event, segment)">
                                Save</button>
                        </div>
                    </div>

                    <div class="meta-data" ng-if="!vm.editSegment">
                        <dl class="stats">
                            <dt>Accounts</dt>
                            <dd class="small">{{segment.segment_properties[0].metadataSegmentProperty.value}}</dd>
                        </dl>
                    </div>
                </li>

                <li class="no-style">
                    <a
                        class="button new-tile-button"
                        ng-click="createNewSegmentClick($event)">
                        <span>&#43;</span>
                        Add Segment
                    </a>
                </li>


            </ul>
        </div>
    </div><!-- End .row -->

</section>