<div    ng-if="vm.tree.logicalRestriction"
        class="row query-section noselect-children"
        ng-class="{
            'query-section-all': vm.tree.logicalRestriction.operator == 'AND',
            'query-section-any': vm.tree.logicalRestriction.operator == 'OR'
        }">

    <div class="query-section-operator label-operator item-operator-and">and</div>
    <div class="query-section-operator label-operator item-operator-or">or</div>

    <div class="query-section-type-dotline"></div>
    
    <div class="query-section-label">
        <i class="query-section-label-expand fa fa-{{ vm.tree.collapsed ? 'plus' : 'minus' }}-square-o" ng-click="vm.clickCollapsed()"></i>
        
        <div class="button-group" role="group" ng-click="vm.clickOperator(vm.tree.logicalRestriction.operator == 'AND' ? 'OR' : 'AND')">
            <button type="button" 
                    class="button icon-button {{vm.tree.logicalRestriction.operator == 'AND' ? 'white' : 'light-gray'}}-button" 
                    value="{{vm.tree.logicalRestriction.operator == 'AND' ? 'All' : 'Any'}}">
                <span ng-if="vm.tree.logicalRestriction.operator == 'AND'">All</span>
                <i class="fa fa-bars fa-rotate-90" ng-if="vm.tree.logicalRestriction.operator == 'OR'"></i>
            </button>
            <button type="button" 
                    class="button icon-button {{vm.tree.logicalRestriction.operator == 'OR' ? 'white' : 'light-gray'}}-button" 
                    value="{{vm.tree.logicalRestriction.operator == 'AND' ? 'All' : 'Any'}}">
                <i class="fa fa-bars fa-rotate-90" ng-if="vm.tree.logicalRestriction.operator == 'AND'"></i>
                <span ng-if="vm.tree.logicalRestriction.operator == 'OR'">Any</span>
            </button>
        </div>

        <span class="query-section-label-text">
            of the selected attribute value combinations ({{ vm.tree.logicalRestriction.operator }})
        </span>

        <div class="query-section-controls pull-right">
            <i class="fa fa-close" ng-click="vm.clickDelete()"></i>
        </div>
    </div>
</div>

<div    class="query-section-item noselect-children category-{{ vm.item.Category.replace(' ','_') | lowercase }}" 
        ng-if="vm.tree.bucketRestriction" 
        ng-init="data = vm.enrichments['LatticeAccount.'+vm.tree.bucketRestriction.attr]">
    <div class="query-section-operator item-operator item-operator-and">and</div>
    <div class="query-section-operator item-operator item-operator-or">or</div>

    <div class="query-section-item-label">
        <strong>{{vm.root.getBucketLabel(vm.tree)}}</strong>
    </div>

    <div class="query-section-item-content">
        <span class="query-section-item-category">{{vm.item.Category}}{{vm.item.Subcategory != 'Other' ? ' - ' + vm.item.Subcategory : ''}}</span>
        <span class="query-section-item-displayname">
            <span class="query-section-item-name"><strong>{{vm.item.DisplayName}}</strong></span>
            <span class="query-section-item-operation">has a value of</span>
            <span class="query-section-item-value"><strong>{{vm.tree.bucketRestriction.bkt.Lbl}}</strong></span>
        </span>
    </div>

    <div class="query-section-item-records">
        <span class="query-section-item-records-label">RECORDS</span>
        <span class="query-section-item-records-number">{{vm.tree.bucketRestriction.bkt.Cnt}}</span>
        <i class="fa fa-close" ng-click="vm.clickDelete($parent)"></i>
    </div>
</div>

<ul ng-if="vm.tree.logicalRestriction && !vm.tree.collapsed">
    <li     ng-repeat="item in vm.tree.logicalRestriction.restrictions"
            ng-class="{'query-section-item-box-subtree':item.logicalRestriction}" 
            class="query-section-item-box">
        <query-tree-directive 
                class="{{ vm.tree.logicalRestriction ? 'query-section-type-' + vm.tree.logicalRestriction.operator.toLowerCase() : '' }}" 
                items="vm.items" tree="item" root="vm.root" parent="vm.tree">
        </query-tree-directive>
    </li>

    <li class="query-section-item-box query-section-item-end" ng-repeat-end>
        <div class="query-section-item query-section-item-end noselect-children">
            <span>
                <i class="fa fa-plus"></i> Add 
                <a href="javascript:void(0)" ng-click="vm.addAttribute(vm.tree)">attribute</a> / 
                <a href="javascript:void(0)" ng-click="vm.addOperator(vm.tree)">operator</a>
            </span>
        </div>
    </li>
</ul>