.editing-container{
    min-width: 560px;
    min-height: 25px;
    .error-message{
        color: #B50A20;
        vertical-align: baseline;
        background-color: white;
    }
    .error-date{
        padding-top: .2em;
    }
    @media only screen and (max-width: 1000px) {
        min-height: 80px;
    }
    .edit-controller {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        align-items: center;
        
        .set,
        .unset {
            margin-top: -17px;
        }
    }
    .edit-controllers{
        // border: 1px solid red;
        min-width: 75px;
        height: 100%;
        width: 100%;
        margin-right: 20px;
        display: flex;
        justify-content: space-around; 
        align-items: center;
        margin: 0;

        @media only screen and (max-width: 1050px) {
            flex-direction: column;
            // width: 100%;
            flex-wrap: wrap;
            width: 100%;
            border: 1px solid green;
            .set{
                margin-top: -17px;
                margin-bottom: 10px;
            }
            .unset {

            }
        }
        .set,
        .unset {
            margin-top: -17px;
            // min-width: 70px;
        }
    }
}
div.advanced-query-builder {
    &, & * {
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        transition: none;
    }
            
    .query-helper-text-one {
        margin-bottom: .5em;
        margin-left: 0.15em;
    }

    .query-section-divider {
        display: flex;
        vertical-align: text-middle;
        margin: 2em 0em 1em 0em;
        
        span {
            display: inline-block;
            font-weight: bold;
            width: 5em;
            font-size: .8em;
            padding-top: 0.2em;
            text-align: center;
            
            i {
                position: relative;
            }
        }

        div {
            height: 0.8em;
            border-bottom: 1px dashed #888;
            width: 100%;
        }
    }

    .query-section-type-dotline {
        position: absolute;
        margin-top: 25px;
        left: -1.8em;
        width: 1.5em;
        border-bottom: 1px dashed #888;
        display: none;
        
        &.operation {
            margin-top: 16px;
            left: 0em;
        }
    }

    .query-section {
        li {
            position: relative;
            margin-left: 1.15em;
        }
        
        &.query-tree-root {
            span.query-helper-text {
                display: none;
                font-size: 13px;
            }

            div.query-section-type-dotline {
                display: block;
            }

            & > li > query-tree-directive > ul > li {
//                 margin-left: 1.5em;
            }
        }

        &.query-tree-root > li > query-tree-directive:first-child {
            & > div > div.query-section-label > span.query-helper-text {
                display: inline;
            }
            > div > .query-section-type-dotline {
                display: none;
            }
        }

        &.query-tree-root > li > query-tree-directive:first-child > .query-section {
            .query-section-operator {
                display: none;
            }

            & > .query-section-label > .query-section-label-expand {
                display: none;
            }

            .query-section-controls {
                display: none;
            }
        }

        .query-section-operator {
            position: absolute;
            background: #fafafa;
            font-weight: bold;
            text-transform: uppercase;
            font-size: .8em;
            width: 2em;
            text-align: center;
            z-index: 2;
            display: none !important;
        }
        
        .query-section-operator.label-operator {
            left: -1.1em;
            top: -1.3em; 
            cursor: default;
        }

        .query-section-operator.item-operator {
            display: none;
            top: -0.8em; 
            left: -3em;
            cursor: default;
        }

        >li {
            margin-left: 0em;
            margin-bottom: 1em;
        }

        .query-section-item-unused {
            display: none;
        }

        .query-section-item {
            position: relative;
            background: white;
//             border: 1px solid #ccc;
            border-left: 5px solid #999;
            border-right: 1px solid #ddd;
            display: flex;
            cursor: default;
            // z-index: 1;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            
            & *:not(a) {
                // cursor: default;
            }
            
            &.query-section-item-end {
                background: #fafafa;
                border: none;
                cursor: default;
            
                & {
                    * {
                        cursor: default;
                    }

                    a {
                        cursor: pointer;
                    }
                }
                
                > span {
                    display: inline-block;
                    margin: 1em 0em 0 0.25em;
                    vertical-align: baseline;
                    font-size: .9em;
                    
                    i {
                        margin: 0.2em 0.5em;
                        font-size: 1.2em;
                    }
                }

                span, span * {
                    display: inline-block;
                }                
            }

            .query-section-item-label {
//                 background-color: #33bdb7;
//                 border-right: 1px solid #ccc;
                min-width: 3em;
                text-align: center;
                z-index: 1;
                border: 1px solid #ddd;
                border-left: none;
                border-right: none;
                
                strong {
                    cursor: move;
                    display: inline-block;
                    color: #222;
                }

                & {
                    cursor: move;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: .5em 0em;
                }
            }

            .query-section-item-unused {
                position: absolute;
                right: 0;
                margin-top: 1em;
                margin-right: 7.75em;
                color: red;
                font-weight: bold;
            }
            
            .query-section-item-content {
                position: relative;
                width: 100%;
                line-height: 1.3em;
                padding: .5em 1em .5em 0;
                border: 1px solid #ddd;
                border-left: none;
                
                span.item-edit-controls {
//                     position: absolute;
//                     top: 0;
//                     right: 0;
//                     bottom: 0;
                    float: right;
                    
                    button {
                        border-radius: 0;
                        position: relative;
                        top: 0;
                        bottom: 0;
                        margin: 0 -1px 0 -3px;
                        height: 100%;
                        border-top: none;
                        border-bottom: none;
                                
                        &.blue-button {
                            border: none;
                        }

                        &.gray-button {
                            border: none;
                        }
                    }
                }

                &.cursor-pointer {
                    cursor: pointer;
                }
                            
                span.query-section-item-category,
                span.query-section-item-displayname {
                    float: left;
                }

                .query-section-item-category {
//                     margin-top: .2em;
                    font-size: 11px;
                    
                    strong {
                        max-width: 15em;
                        display: inline-block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        vertical-align: middle;
                        padding-right: 1em;
                    }
                }

                .query-section-item-displayname {
                    display: inline-block;
                    position: relative;
                    width: 100%; 
                    clear: both;
                    font-size: 12px;

                    .item-bucket-data {
//                         display: inline-block;
                        max-width: 70%;
//                         overflow: hidden;
//                         text-overflow: ellipsis;
//                         white-space: nowrap;
                    }
                    
                    .query-section-item-name {
//                         display: inline-block;
//                         max-width: 35%;
                        margin-right: .25em;
//                         overflow: hidden;
//                         text-overflow: ellipsis;
//                         white-space: nowrap;
                    }

                    .query-section-item-operation {
                        position: relative;
//                         display: inline-block;
                        margin: 0px .5em 0 0;
                        
                        numerical-range-directive {
                            .numerical-container.range-container {
                                display: inline-block;
                                padding: 0;
                            }
                            span {
                                padding-top: 0.3em;
                            }
                        }

                        .button-group {
                            overflow: hidden;
                            margin-top: 0px;
                            border: 1px solid #d0d0d0;
                            border-radius: 3px;
                            height: 2.2em;
                            
                            button {
                                font-size: 11px;
                                line-height: 1;
                                padding: 2px;
                                height: 2em;
                                margin: 1px;
                                border: none;
                                border-radius: 3px;
                            }
                        }

                        chips {
                            float: right;
                            
                            .chips-query-container .chips-container {
                                margin-bottom: 0;

                                .chip {
                                    margin: 0 3px 5px 0;
                                }
                            }
                            .ng-search {
                                height: 2.2em;
                            }

                            .text-container.dropdown {
                                .icon-button {
                                    padding: 0em 0.5em;
                                    line-height: 2.1em;
                                }
                                
                                input {
                                    padding: 0;
                                    margin-bottom: 0;
                                    width: 100%;
                                    height: 100%;
                                    border: none;
                                }
                            }
                        }

                        span {
                            margin: 0px .25em 0;
                        }
                        
                        *:not(a) {
                            // cursor: default;
                        }

                        select {
                            margin-right: 1em;
                            max-width: 45em;
                            font-size: 12px;
                        }

                        input,
                        select {
                            height: 2.2em;
                            padding: 4px;
                            border-radius: 3px;
                            border-color: #d0d0d0;
                            border-width: 1px;
                            border-style: solid;
                        }

                        span.operation-and {
                            // margin: .25em;
                            font-weight: bold;
                        }

                        input {
                            width: 10em;
                            cursor: text;
                            font-size: 12px;
                        }
                    }

                    button.unset-button,
                    button.set-button {
                        float: right;
                        margin: -0.25em 0 0 1em;
                        padding: 0.3em 0.8em .2em;
                        border-radius: 3px;
                        font-size: 0.8em;
                    }

                    .query-section-item-value {

                    }
                }
            }
 
            .query-section-item-records {
                position: relative;
//                 background: #ececec; 
//                 border-left: #ddd solid 1px;
                width: 10em;
                padding: .5em 1em;
                line-height: 1.4em;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid #ddd;
                border-left: none;
                border-right: none;
                
                span {
                    float: left;
                    
                    &.query-section-item-records-label {
//                         font-weight: bold;
                        color: #888;
                        font-size: 0.9em;
                    } 

                    &.query-section-item-records-number {
                        font-size: 1em;
                        display: flex;
                        flex-direction: column;
                    }
                } 

                i.fa-close {
//                     position: absolute;
//                     top: 0em;
//                     right: 0em;
//                     float: right;
//                     padding: 1.2em .8em;
                    font-size: 13px;
                    cursor: pointer;
                }
            } 
 
            &.category-contact_attributes {
                &,
                &.editing .query-section-type-dotline,
                &.editing .query-section-item-label,
                &.editing .query-section-item-content,
                &.editing .query-section-item-records {
                    border-left-color: #457eba;
                }
            }

            &.category-product {
                &,
                &.editing .query-section-type-dotline,
                &.editing .query-section-item-label,
                &.editing .query-section-item-content,
                &.editing .query-section-item-records {
                    border-left-color: #cd80bc;
                }
            }

            &.category-firmographics {
                &,
                &.editing .query-section-type-dotline,
                &.editing .query-section-item-label,
                &.editing .query-section-item-content,
                &.editing .query-section-item-records {
                    border-left-color: #33bdb7;
                }
            }

            &.category-intent {
                &,
                &.editing .query-section-type-dotline,
                &.editing .query-section-item-label,
                &.editing .query-section-item-content,
                &.editing .query-section-item-records {
                    border-left-color: #f15a5a;
                }
            }

            &.category-technology_profile {
                &,
                &.editing .query-section-type-dotline,
                &.editing .query-section-item-label,
                &.editing .query-section-item-content,
                &.editing .query-section-item-records {
                    border-left-color: #70bf4a;
                }
            }

            &.category-website_profile {
                &,
                &.editing .query-section-type-dotline,
                &.editing .query-section-item-label,
                &.editing .query-section-item-content,
                &.editing .query-section-item-records {
                    border-left-color: #26649b;
                }
            }

            &.category-growth_trends {
                &,
                &.editing .query-section-type-dotline,
                &.editing .query-section-item-label,
                &.editing .query-section-item-content,
                &.editing .query-section-item-records {
                    border-left-color: #65b7e6;
                }
            }

            &.category-engagement {
                &,
                &.editing .query-section-type-dotline,
                &.editing .query-section-item-label,
                &.editing .query-section-item-content,
                &.editing .query-section-item-records {
                    border-left-color: #aac43b;
                }
            }

            &.category-online_presence {
                &,
                &.editing .query-section-type-dotline,
                &.editing .query-section-item-label,
                &.editing .query-section-item-content,
                &.editing .query-section-item-records {
                    border-left-color: #8e71b2;
                }
            }

            &.category-website_keywords {
                &,
                &.editing .query-section-type-dotline,
                &.editing .query-section-item-label,
                &.editing .query-section-item-content,
                &.editing .query-section-item-records {
                    border-left-color: #fdbc49;
                }
            }

            &.category-product_spend, &.category-product_spend_profile {
                &,
                &.editing .query-section-type-dotline,
                &.editing .query-section-item-label,
                &.editing .query-section-item-content,
                &.editing .query-section-item-records {
                    border-left-color: #cd80bc;
                }
            }

            &.category-my_attributes {
                &,
                &.editing .query-section-type-dotline,
                &.editing .query-section-item-label,
                &.editing .query-section-item-content,
                &.editing .query-section-item-records {
                    border-left-color: #457eba;
                }
            }

            &.category-curated_account_attributes {
                &,
                &.editing .query-section-type-dotline,
                &.editing .query-section-item-label,
                &.editing .query-section-item-content,
                &.editing .query-section-item-records {
                    border-left-color: #457eba;
                }
            }

            &.category-lattice_ratings {
                &,
                &.editing .query-section-type-dotline,
                &.editing .query-section-item-label,
                &.editing .query-section-item-content,
                &.editing .query-section-item-records {
                    border-left-color: #26649b;
                }
            }

            .query-section-item-controls{
                display: flex; 
                align-items: center;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                padding: 0 1.5em;
                & > *{
                    cursor: pointer;
                }
                
            }

        }

        .query-section-item-box {
            position: relative;
            border-left: 1px dashed #666;
            padding: 0 0 0.25em 1.5em;
            margin-bottom: 0em;

            &.item-unused {
                border-bottom: none;
                
                .item-operator-and,
                .item-operator-or {
                    display: none;
                }

                // .query-section-item-label strong {
                //     visibility: hidden;
                // }
                
                .query-section-item-content {
                    border-right: transparent;
                }
                
                .query-section-item-unused {
                    display: block;
                }

                .item-bucket-data,
                .item-edit-bucket-data {
                    display: none;
                }
            }

            &.query-section-item-end:first-child div.query-section-item-end {
                top: -0.75em;
            }
        }

        .query-section-item-box-subtree {
            border-bottom: none;
            padding-top: 3px;
        }

        .query-section-all,
        .query-section-any {
            margin: 0.1em 0 0;
        }

        .query-section-item-end {
            border-color: #bbb;
        }

        .query-section-item-end {
            border-color: #bbb;
            border-right: none;
            margin-bottom: 1em;
            padding-bottom: 0;
        }

        .query-section-label {
    display: block;
    /* background: #E2E3E5; */
//     padding-left: 0.15em;
    padding-top: 3px;
            
            &, & * {
                -webkit-transition: none;
                -moz-transition: none;
                -ms-transition: none;
                transition: none;
            }

            button {
                border-radius: 3px;
            }

            .query-section-controls {
                border-radius: 100%;
                border: 1px dashed #666;
                padding: 0;
                margin: 0;
                margin-left: 3px;
                margin-right: 0.3em;
                float: left;

                &:hover {
                    border-style: solid;
                    border-color: #457EBA;
                    background: #fff;
                    -webkit-transition: none;
                    -moz-transition: none;
                    -ms-transition: none;
                    transition: none;
                
                    .fa:before {
                        color: #457EBA;
                        -webkit-transition: none;
                        -moz-transition: none;
                        -ms-transition: none;
                        transition: none;
                    }
                }
            }

            .query-section-label-expand.fa {
                position: absolute;
                left: -0.6em;
                top: 13px;
                font-size: 10pt;
                border: 2px solid #f9f9f9;
                border-bottom: transparent;
                background: #f9f9f9;
                cursor: pointer;
                color: #666;
            }

            select.query-section-operator-dropdown {
                font-size: 12px;
                background: transparent;
                border: none;
                margin: 0.55em 0em;
            }

            .query-section-label-text {
                padding: 0.333em 0em .333em .25em;
                display: inline-block;
            }
            
            .query-section-controls i.fa {
                display: inline-block;
                padding: 7px 8px;
                cursor: pointer;
                font-size: 13px;
            }
        }

        .query-section-any {
            
        }

        .query-section-all {
            
        }
    }

    .query-tree-root .query-section-type-and {
        &> div > div.item-operator-and {
            display: block;
        }

        &> div > div.item-operator-or {
            display: none;
        }
    }

    .query-tree-root .query-section-type-or {
        &> div > div.item-operator-and {
            display: none;
        }

        &> div > div.item-operator-or {
            display: block;
        } 
    }
    
    .query-section-item-box:first-child {
        padding-top: .75em;
        margin-top: 2px;

        &> query-tree-directive {
            &> div > .query-section-operator {
                display: none;
            }

            &> .query-section-item {
//                 top: .75em;
            }
            
            &> div > .query-section-label > .query-section-label-expand {
                top: 1.6em;
            }
        }
    }

    hr {
        margin-top: -0.9em;
        margin-left: 2.5em;
        border: none;
        border-top: 1px dashed #aaa;
    }

    .dragging,
    .dropped {
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }

    .dragging {
        pointer-events: none;
        position: absolute;
        top: 0px;
        left: 0px;
        perspective: 5px;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
        -webkit-transform-origin: bottom left;
        -moz-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        -o-transform-origin: bottom left;
        transform-origin: bottom left;
        opacity: .666;
        z-index: 999;
    }

    .dashed {
        background: white;
        border: 1px dashed #999;
        height: 52px;
        display: block;
        opacity: .5;
        
        .query-section-item-label {
            border: none;
        }
    } 
}

div.wizard-content div.advanced-query-builder {
    .query-section {
        .query-section-item.query-section-item-end {
            background: white;
        }

        .item-unused .query-section-item-content {
            border-right-color:  white;
        }
    }

}
.dragdrop-hover-bg {
    li {
        background: #fafafa;
    }
    &> li {
        background: #eee;
    }
}