div.advanced-query-builder {
    .query-helper-text-one {
        font-size: 1.2em;
        padding-left: 8px;
        margin-bottom: .8em;
    }

    .query-section-divider {
        display: flex;
        vertical-align: text-middle;
        margin: 2em 0em 1em 0em;
        
        span {
            display: inline-block;
            font-weight: bold;
            width: 5em;
            font-size: .8em;
            padding-top: 0.2em;
            text-align: center;
            
            i {
                position: relative;
            }
        }

        div {
            height: 0.8em;
            border-bottom: 1px dashed;
            width: 100%;
        }
    }

    .query-section {
        li {
            position: relative;
            margin-left: 1.5em;
        }

        &.query-tree-root > li > query-tree-directive:first-child > .query-section {
            .query-section-operator {
                display: none;
            }
            
            .query-section-type-dotline {
                display: none;
            }

            & > .query-section-label > .query-section-label-expand {
                display: none;
            }

            .query-section-controls {
                display: none;
            }
        }

        .query-section-type-dotline {
            position: absolute;
            margin-top: 1.15em;
            left: 0;
            width: 1.5em;
            border-bottom: 1px dashed;
        }

        .query-section-operator {
            position: absolute;
            background: #fafafa;
            font-weight: bold;
            text-transform: uppercase;
            font-size: .8em;
            width: 2em;
            text-align: center;
            z-index: 2;
        }
        
        .query-section-operator.label-operator {
            left: -1.1em;
            top: 1.3em;
            cursor: default;
        }

        .query-section-operator.item-operator {
            top: -1em;
            left: -3.4em;
            cursor: default;
        }

        >li {
            margin-left: 0em;
            margin-bottom: 2em;
        }

        .query-section-item-unused {
            display: none;
        }

        .query-section-item {
            position: absolute;
            top: 2em;
            left: 1.5em;
            right: 0;
            background: white;
            border: 1px solid #ccc;
            border-left: 5px solid #999;
            height: 3.5em;
            display: flex;
            cursor: default;
            z-index: 1;
            
            & * {
                cursor: default;
            }
            
            &.query-section-item-end {
                background: #fafafa;
                border: none;
                cursor: default;
            
                & {
                    * {
                        cursor: default;
                    }

                    a {
                        cursor: pointer;
                    }
                }
                
                > span {
                    display: inline-block;
                    margin: 1.2em 0em 0 0.2em;
                    vertical-align: baseline;
                    font-size: .9em;
                    
                    i {
                        margin: 0.2em 0.5em;
                        font-size: 1.2em;
                    }
                }

                span, span * {
                    display: inline-block;
                }                
            }

            .query-section-item-label {
                background-color: rgba(150,150,150,.1);
                border-right: 1px solid #ccc;
                min-width: 1.75em;
                max-width: 1.75em;
                padding-top: .9em;
                text-align: center;
                z-index: 1;
                
                strong {
                    display: inline-block;
                    color: rgb(51, 51, 51);
                }

                &,
                & * {
                    cursor: move;
                }
            }

            .query-section-item-unused {
                margin-top: 0.85em;
                margin-right: 7.75em;
                color: red;
                font-weight: bold;
            }
            
            .query-section-item-content {
                position: relative;
                border-right: 1px solid #ccc;
                width: 100%;
                padding-top: .2em;
                padding-left: 1em;
                line-height: 1.3em;
                
                span.item-edit-controls {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    
                    button {
                        border-radius: 0;
                        position: relative;
                        top: 0;
                        bottom: 0;
                        margin: 0 -1px 0 -3px;
                        height: 100%;
                        border-top: none;
                        border-bottom: none;
                                
                        &.blue-button {
                            border: none;
                        }

                        &.gray-button {
                            border: none;
                        }
                    }
                }

                &.cursor-pointer {
                    cursor: pointer;
                }
                            
                span.query-section-item-category,
                span.query-section-item-displayname {
                    float: left;
                }

                .query-section-item-category {
                    margin-top: .2em;
                    font-size: 11px;
                    
                    strong {
                        max-width: 15em;
                        display: inline-block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        vertical-align: middle;
                        padding-right: 1em;
                    }
                }

                .query-section-item-displayname {
                    display: inline-block;
                    position: relative;
                    width: 100%; 
                    clear: both;
                    font-size: 12px;

                    .item-bucket-data {
                        display: inline-block;
                        max-width: 35%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    
                    .query-section-item-name {
                        display: inline-block;
                        max-width: 35%;
                        margin-right: .25em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .query-section-item-operation {
                        position: relative;
                        display: inline-block;
                        margin: 0px .5em 0 0;
                        
                        .button-group {
                            overflow: hidden;
                            margin-top: 0px;
                            
                            button {
                                padding: 0;
                                height: 1.65em;
                                font-size: 11px;
                                line-height: 1;
                            }
                        }

                        span {
                            margin: 0px .25em 0;
                        }
                        
                        * {
                            cursor: default;
                        }

                        select {
                            height: 1.65em;
                            margin-right: 1em;
                            max-width: 45em;
                            font-size: 12px;
                        }

                        span.operation-and {
                            margin: .25em;
                            font-weight: bold;
                        }

                        input {
                            width: 10em;
                            cursor: text;
                            font-size: 12px;
                        }
                    }

                    button.unset-button,
                    button.set-button {
                        float: right;
                        margin: -0.25em 0 0 1em;
                        padding: 0.3em 0.8em .2em;
                        border-radius: 3px;
                        font-size: 0.8em;
                    }

                    .query-section-item-value {

                    }
                }
            }

            .query-section-item-records {
                border-left: #ddd solid 1px;
                position: absolute;
                height: 100%;
                right: 0;
                width: 9.5em;
                padding-top: .3em;
                padding-left: 1em;
                line-height: 1.4em;
                background: #fff;
                
                span {
                    float: left;
                    
                    &.query-section-item-records-label {
                        color: #bbb;
                        font-weight: bold;
                        font-size: .85em;
                    }

                    &.query-section-item-records-number {
                        clear: both;
                        font-size: 1.1em;
                    }
                }

                i.fa-close {
                    position: absolute;
                    top: 0em;
                    right: 0em;
                    float: right;
                    cursor: pointer;
                    padding: 1.2em .8em;
                }
            }

            &.category-contact_attributes { border-left-color: #457eba; }
            &.category-product { border-left-color: #cd80bc; }
            &.category-firmographics { border-left-color: #33bdb7; }
            &.category-intent { border-left-color: #f15a5a; }
            &.category-technology_profile { border-left-color: #70bf4a; }
            &.category-website_profile { border-left-color: #26649b; }
            &.category-growth_trends { border-left-color: #65b7e6; }
            &.category-engagement { border-left-color: #aac43b; }
            &.category-online_presence { border-left-color: #8e71b2; }
            &.category-website_keywords { border-left-color: #fdbc49; }
            &.category-product_spend { border-left-color: #cd80bc; }
        }

        .query-section-item-box {
            position: relative;
            border-left: 1px dashed #666;
            border-bottom: 1px dashed #666;
            padding: 2.5em 0 1.2em 1.5em;
            margin-bottom: 0em;
            

            &.item-unused {
                border-bottom: none;
                
                .item-operator-and,
                .item-operator-or {
                    display: none;
                }

                // .query-section-item-label strong {
                //     visibility: hidden;
                // }
                
                .query-section-item-unused {
                    display: block;
                }

                .item-bucket-data,
                .item-edit-bucket-data {
                    display: none;
                }
            }

            &.query-section-item-end:first-child div.query-section-item-end {
                top: 0.75em;
            }
        }

        .query-section-item-box-subtree {
            border-bottom: none;
        }

        .query-section-item-end {
            border-color: #bbb;
        }

        .query-section-item-end {
            border-color: #bbb;
        }

        .query-section-label {
            display: block;
            background: #f3f3f3;
            border: 1px solid #d0d0d0;
            cursor: move;
            padding-left: 0.8em;
            
            &, & * {
                -webkit-transition: none;
                -moz-transition: none;
                -ms-transition: none;
                transition: none;
            }

            button {
                border-radius: 3px;
            }

            .query-section-label-expand.fa {
                position: absolute;
                left: -0.6em;
                top: 3.3em;
                font-size: 10pt;
                border: 2px solid white;
                border-bottom: transparent;
                background: white;
                cursor: pointer;
                color: #666;
            }

            select.query-section-operator-dropdown {
                font-size: 1.0em;
                background: transparent;
                border: none;
                margin: 0.5em 0em;
            }

            .query-section-label-text {
                padding: 0.333em 0em .333em .25em;
                display: inline-block;
            }
            
            .query-section-controls i.fa {
                display: inline-block;
                padding: 0.7em 0.5em;
                margin-right: .3em;
                cursor: pointer;
            }
        }

        .query-section-any {
            
        }

        .query-section-all {
            
        }
    }

    .query-section-type-and {
        &> div > div.item-operator-and {
            display: block;
        }

        &> div > div.item-operator-or {
            display: none;
        }
    }

    .query-section-type-or {
        &> div > div.item-operator-and {
            display: none;
        }

        &> div > div.item-operator-or {
            display: block;
        }
    }
    
    .query-section-item-box:first-child {
        padding-top: 1.25em;

        &> query-tree-directive {
            &> div > .query-section-operator {
                display: none;
            }

            &> .query-section-item {
                top: .75em;
            }
            
            &> div > .query-section-label > .query-section-label-expand {
                top: 2em;
            }
        }
    }

    hr {
        margin-top: -0.9em;
        display: none;
    }

    .dragging,
    .dropped {
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }

    .dragging {
        opacity: .5 !important;
    }

    .dropped {
        border-bottom-color: black !important;
        border-bottom-width: 2px !important;
    }
}

div.wizard-content div.advanced-query-builder {
    .query-section {
        .query-section-item.query-section-item-end {
            background: white;
        }

        .item-unused .query-section-item-content {
            border-right-color:  white;
        }
    }

}
.dragdrop-hover-bg {
    li {
        background: #fafafa;
    }
    &> li {
        background: #eee;
    }
}