div.advanced-query-builder {
    .query-helper-text-one {
        font-size: 1.2em;
        padding-left: 8px;
        margin-bottom: .8em;
    }

    .query-section-divider {
        display: flex;
        vertical-align: text-middle;
        margin: 2em 0em 1em 0em;
        
        span {
            display: inline-block;
            font-weight: bold;
            width: 5em;
            font-size: .8em;
            padding-top: 0.2em;
            text-align: center;
            
            i {
                position: relative;
            }
        }

        div {
            height: 0.8em;
            border-bottom: 1px dashed;
            width: 100%;
        }
    }

    .query-section {
        li {
            position: relative;
            margin-left: 1.5em;
        }

        &.query-tree-root > li > query-tree-directive:first-child > .query-section {
            .query-section-operator {
                display: none;
            }
            
            .query-section-type-dotline {
                display: none;
            }

            & > .query-section-label > .query-section-label-expand {
                display: none;
            }

            .query-section-controls {
                display: none;
            }
        }

        .query-section-type-dotline {
            position: absolute;
            margin-top: 1.15em;
            left: 0;
            width: 1.5em;
            border-bottom: 1px dashed;
        }

        .query-section-operator {
            position: absolute;
            background: #fafafa;
            font-weight: bold;
            text-transform: uppercase;
            font-size: .8em;
            width: 2em;
            text-align: center;
            z-index: 2;
        }
        
        .query-section-operator.label-operator {
            left: -1.1em;
            top: 1.3em;
            cursor: default;
        }

        .query-section-operator.item-operator {
            top: -1em;
            left: -3.4em;
            cursor: default;
        }

        >li {
            margin-left: 0em;
            margin-bottom: 2em;
        }

        .query-section-item {
            position: absolute;
            top: 2em;
            left: 1.5em;
            right: 0;
            background: white;
            border: 1px solid #ccc;
            border-left: 5px solid #999;
            height: 3.5em;
            display: flex;
            cursor: default;
            z-index: 1;
            
            & * {
                cursor: default;
            }
            
            &.query-section-item-end {
                background: #fafafa;
                border: none;
                cursor: default;
            
                & {
                    * {
                        cursor: default;
                    }

                    a {
                        cursor: pointer;
                    }
                }
                
                span {
                    display: inline-block;
                    margin: 1.2em 0em 0 0.2em;
                    vertical-align: baseline;
                    font-size: .9em;
                    
                    i {
                        margin: 0.2em 0.5em;
                        font-size: 1.2em;
                    }
                }

                span, span * {
                    display: inline-block;
                }                
            }

            .query-section-item-label {
                background-color: #f6f6f6;
                border-right: 1px solid #ccc;
                width: 2em;
                padding-top: .9em;
                text-align: center;
                z-index: 1;
                
                &,
                & * {
                    cursor: move;
                }
            }

            .query-section-item-unused {
                margin-top: 0.85em;
                margin-right: 7em;
                color: red;
                font-weight: bold;
            }
            
            .query-section-item-content {
                border-right: 1px solid #ccc;
                width: 100%;
                padding-top: .4em;
                padding-left: 1em;
                line-height: 1.3em;
                
                &.cursor-pointer {
                    cursor: pointer;
                }
                            
                span.query-section-item-category,
                span.query-section-item-displayname {
                    float: left;
                }

                .query-section-item-category {
                    font-size: .85em;
                }

                .query-section-item-displayname {
                    clear: both;
                    
                    .button-group {
                        margin: 0 0.75em 0 0.25em;

                        button {
                            border-radius: 3px;
                            border-color: rgb(169, 169, 169);
                        }

                        &>.button:last-child:not(:first-child), 
                        &>.dropdown-toggle:not(:first-child) {
                            border-bottom-left-radius: 0;
                            border-top-left-radius: 0;
                        }

                        &>.button:first-child:not(:last-child):not(.dropdown-toggle) {
                            border-bottom-right-radius: 0;
                            border-top-right-radius: 0;
                        }

                        .button.icon-button, 
                        button.button.icon-button, 
                        a.button.icon-button, 
                        .button a:link.icon-button, 
                        .button a:focus.icon-button, 
                        .button a:visited.icon-button {
                            padding: 0;
                            font-size: 10pt;
                            vertical-align: baseline;
                            
                            &.white-button:hover,
                            &.white-button:focus {
                                background-color: white;
                            }
                            
                            &.light-gray-button {
                                background: #aaa;
                            }

                            span {
                                display: inline-block;
                                padding: 0.1em .4em 0;
                                color: #000;
                            }

                            i {
                                display: inline-block;
                                margin: 0.25em .2em 0.3em;
                                color: #eee;
                            }
                        }
                    }

                    .query-section-item-name {

                    }

                    .query-section-item-operation {
                        position: relative;
                        display: inline-block;
                        margin: -4px .5em 0;
                        
                        * {
                            cursor: default;
                        }

                        select {
                            height: 1.65em;
                            margin-right: 1em;
                        }

                        span.operation-and {
                            margin: .25em;
                            font-weight: bold;
                        }

                        input {
                            width: 5em;
                            cursor: text;
                        }
                    }

                    button.blue-button {
                        float: right;
                        margin: -0.25em 0 0 1em;
                        padding: 0.3em 0.8em .2em;
                        border-radius: 3px;
                        font-size: 0.8em;
                    }

                    .query-section-item-value {

                    }
                }
            }

            .query-section-item-records {
                border-right: none;
                width: 12em;
                padding-top: .3em;
                padding-left: 1em;
                line-height: 1.4em;
                
                span {
                    float: left;
                    
                    &.query-section-item-records-label {
                        color: #bbb;
                        font-weight: bold;
                        font-size: .85em;
                    }

                    &.query-section-item-records-number {
                        clear: both;
                        font-size: 1.1em;
                    }
                }

                i.fa-close {
                    position: absolute;
                    top: 0em;
                    right: 0em;
                    float: right;
                    cursor: pointer;
                    padding: 1.2em .8em;
                }
            }

            &.category-contact { border-left-color: #ff9e64; }
            &.category-product { border-left-color: #cd80bc; }
            &.category-firmographics { border-left-color: #33bdb7; }
            &.category-intent { border-left-color: #f15a5a; }
            &.category-technology_profile { border-left-color: #70bf4a; }
            &.category-website_profile { border-left-color: #26649b; }
            &.category-growth_trends { border-left-color: #65b7e6; }
            &.category-engagement { border-left-color: #aac43b; }
            &.category-online_presence { border-left-color: #8e71b2; }
            &.category-website_keywords { border-left-color: #fdbc49; }
        }

        .query-section-item-box {
            position: relative;
            border-left: 1px dashed #666;
            border-bottom: 1px dashed #666;
            padding: 2.5em 0 1.2em 1.5em;
            margin-bottom: 0em;
            
            &.query-section-item-end:first-child div.query-section-item-end {
                top: 0.75em;
            }
        }

        .query-section-item-box-subtree {
            border-bottom: none;
        }

        .query-section-item-end {
            border-color: #bbb;
        }

        .query-section-item-end {
            border-color: #bbb;
        }

        .query-section-label {
            display: block;
            background: #f3f3f3;
            border: 1px solid #d0d0d0;
            cursor: move;
            padding-left: 0.8em;
            
            &, & * {
                -webkit-transition: none;
                -moz-transition: none;
                -ms-transition: none;
                transition: none;
            }

            button {
                border-radius: 3px;
            }

            .query-section-label-expand.fa {
                position: absolute;
                left: -0.6em;
                top: 3.3em;
                font-size: 10pt;
                border: 2px solid white;
                border-bottom: transparent;
                background: white;
                cursor: pointer;
                color: #666;
            }

            select.query-section-operator-dropdown {
                font-size: 1.0em;
                background: transparent;
                border: none;
                margin: 0.5em 0em;
            }

            .query-section-label-text {
                padding: 0.333em 0em .333em .25em;
                display: inline-block;
            }
            
            .query-section-controls i.fa {
                display: inline-block;
                padding: 0.7em 0.5em;
                margin-right: .3em;
                cursor: pointer;
            }
        }

        .query-section-any {
            
        }

        .query-section-all {
            
        }
    }

    .query-section-type-and {
        &> div > div.item-operator-and {
            display: block;
        }

        &> div > div.item-operator-or {
            display: none;
        }
    }

    .query-section-type-or {
        &> div > div.item-operator-and {
            display: none;
        }

        &> div > div.item-operator-or {
            display: block;
        }
    }
    
    .query-section-item-box:first-child {
        padding-top: 1.25em;

        &> query-tree-directive {
            &> div > .query-section-operator {
                display: none;
            }

            &> .query-section-item {
                top: .75em;
            }
            
            &> div > .query-section-label > .query-section-label-expand {
                top: 2em;
            }
        }
    }

    hr {
        margin-top: -0.9em;
        display: none;
    }
}

div.wizard-content div.advanced-query-builder {
    .query-section {
        .query-section-item.query-section-item-end {
            background: white;
        }

        .query-section-item-content {
            border-right-color:  white;
        }
    }

}
.dragdrop-hover-bg {
    li {
        background: #fafafa;
    }
    &> li {
        background: #eee;
    }
}