<div    ng-if="vm.tree.logicalRestriction"
        class="row query-section noselect-children"
        ng-class="{
            'query-section-all': vm.tree.logicalRestriction.operator == 'AND',
            'query-section-any': vm.tree.logicalRestriction.operator == 'OR'
        }"
        ng-mousedown="vm.mouseDown()"
        ng-mouseup="vm.mouseUp()"
        ng-mouseover="vm.mouseOver()">

    <div class="query-section-operator label-operator item-operator-and">and</div>
    <div class="query-section-operator label-operator item-operator-or">or</div>
    <div class="query-section-type-dotline"></div>
    
    <div    class="query-section-label"
            ng-class="{ 
                'dragging': vm.root.draggedItem == vm,
                'dropped': vm.root.droppedItem == vm 
            }">
        <i class="query-section-label-expand fa fa-{{ vm.tree.collapsed ? 'plus' : 'minus' }}-square-o" ng-click="vm.clickCollapsed()"></i>
        
        <!--div class="button-group" role="group" ng-click="vm.clickOperator(vm.tree.logicalRestriction.operator == 'AND' ? 'OR' : 'AND')">
            <button type="button" 
                    class="button icon-button {{vm.tree.logicalRestriction.operator == 'AND' ? 'white' : 'light-gray'}}-button" 
                    value="{{vm.tree.logicalRestriction.operator == 'AND' ? 'All' : 'Any'}}">
                <span ng-if="vm.tree.logicalRestriction.operator == 'AND'">All</span>
                <i class="fa fa-bars fa-rotate-90" ng-if="vm.tree.logicalRestriction.operator == 'OR'"></i>
            </button>
            <button type="button" 
                    class="button icon-button {{vm.tree.logicalRestriction.operator == 'OR' ? 'white' : 'light-gray'}}-button" 
                    value="{{vm.tree.logicalRestriction.operator == 'AND' ? 'All' : 'Any'}}">
                <i class="fa fa-bars fa-rotate-90" ng-if="vm.tree.logicalRestriction.operator == 'AND'"></i>
                <span ng-if="vm.tree.logicalRestriction.operator == 'OR'">Any</span>
            </button>
        </div-->

        <select class="query-section-operator-dropdown" 
                ng-model="vm.tree.logicalRestriction.operator"
                ng-click="vm.clickOperator()">
            <option value="OR">
                Any of the selected attribute value combinations (OR)
            </option>
            <option value="AND">
                All of the selected attribute value combinations (AND)
            </option>
        </select>

        <!--span class="query-section-label-text">
            of the selected attribute value combinations ({{ vm.tree.logicalRestriction.operator }})
        </span-->

        <div class="query-section-controls pull-right">
            <i class="fa fa-close" ng-click="vm.clickDelete()"></i>
        </div>
    </div>
</div>

<div    class="query-section-item noselect-children category-{{ vm.item.Category.replace(' ','_') | lowercase }}" 
        ng-class="{ 
            'dragging': vm.root.draggedItem == vm,
            'dropped': vm.root.droppedItem == vm
        }"
        ng-if="vm.tree.bucketRestriction" 
        ng-init="data = vm.enrichments['LatticeAccount.'+vm.tree.bucketRestriction.attr]"
        ng-mousedown="vm.mouseDown()"
        ng-mouseup="vm.mouseUp()"
        ng-mouseover="vm.mouseOver()">
    <div class="query-section-operator item-operator item-operator-and">and</div>
    <div class="query-section-operator item-operator item-operator-or">or</div>

    <div class="query-section-item-label">
        <strong>{{vm.root.getBucketLabel(vm.tree)}}</strong>
    </div>

    <div    class="query-section-item-content" 
            ng-click="vm.editBucket()"
            ng-class="{ 
                'cursor-pointer': vm.type != 'Enum'
            }">
        <span class="query-section-item-category">{{vm.item.Category}}{{vm.item.Subcategory != 'Other' ? ' - ' + vm.item.Subcategory : ''}}</span>
        
        <span class="query-section-item-displayname">
            <span class="query-section-item-name"><strong>{{vm.item.DisplayName}}</strong></span>
            
            <span class="item-edit-bucket-data" ng-if="vm.editing && !vm.unused">

                <span ng-if="vm.type == 'Boolean'" class="query-section-item-operation">
                    <select ng-model="vm.item.topbkt.Lbl" ng-change="vm.updateBucketCount()">
                        <option value="Yes">is</option>
                        <option value="No">is not</option>
                        <option value="">is empty</option>
                    </select>

                    <span class="query-section-item-value" ng-if="vm.item.topbkt.Lbl != ''">
                        <strong>Yes</strong>
                    </span>
                </span>

                <span ng-if="vm.type == 'Enum'" class="query-section-item-operation">
                    <select ng-model="vm.item.topbkt.Lbl" ng-change="vm.updateBucketCount()">
                            <option ng-repeat="bucket in vm.item.cube.Bkts.List" ng-value="bucket.Lbl">{{ bucket.Lbl }}</option>
                    </select>

                    <span class="query-section-item-value" ng-if="vm.item.topbkt.Lbl != ''">
                        <strong>Yes</strong>
                    </span>
                </span>

                <span ng-if="vm.type == 'Numerical'" class="query-section-item-operation">
                    <div class="button-group" role="group" ng-click="vm.clickEditMode(vm.editMode == 'Custom' ? 'Preset' : 'Custom')">
                        <button type="button" 
                                class="button icon-button {{vm.editMode == 'Custom' ? 'white' : 'light-gray'}}-button" 
                                value="{{vm.editMode == 'Custom' ? 'Preset' : 'Custom'}}">
                            <span ng-if="vm.editMode == 'Custom'">Custom</span>
                            <i class="fa fa-bars fa-rotate-90" ng-if="vm.editMode == 'Preset'"></i>
                        </button>
                        <button type="button" 
                                class="button icon-button {{vm.editMode == 'Preset' ? 'white' : 'light-gray'}}-button" 
                                value="{{vm.editMode == 'Custom' ? 'Preset' : 'Custom'}}">
                            <i class="fa fa-bars fa-rotate-90" ng-if="vm.editMode == 'Custom'"></i>
                            <span ng-if="vm.editMode == 'Preset'">Preset</span>
                        </button>
                    </div>

                    <span ng-if="vm.editMode == 'Custom'">
                        <select ng-model="vm.operation" ng-change="vm.changeOperation()">
                            <option value="is">is</option>
                            <option value="between">is between</option>
                            <option value="less">is less than</option>
                            <option value="greater_equal">is greater than</option>
                            <option value="empty">is empty</option>
                        </select>

                        <input  ng-if="vm.operation != 'less' && vm.operation != 'empty'" 
                                ng-model="vm.range[0]" 
                                ng-keyup="vm.changeOperation()"
                                ng-value="vm.range[0]"></input>

                        <span ng-if="vm.operation == 'between'" class="operation-and">-</span>
                        
                        <input  ng-if="vm.operation != 'is' && vm.operation != 'empty' && vm.operation != '' && vm.operation != 'greater_equal'" 
                                ng-model="vm.range[1]" 
                                ng-keyup="vm.changeOperation()"
                                ng-value="vm.range[1]"></input>
                    </span>
                    
                    <span ng-if="vm.editMode == 'Preset'">
                        <select ng-model="vm.presetOperation" ng-change="vm.changePreset()">
                            <option ng-repeat="bucket in vm.item.cube.Bkts.List" ng-value="bucket.Lbl" ng-init="vm.checkSelected(bucket)">{{ bucket.Lbl }}</option>
                        </select>
                    </span>
                </span>
            </span>

            <span class="item-bucket-data" ng-if="!vm.editing && !vm.unused">
                <span class="query-section-item-operation">
                    <span class="query-section-item-operation">{{vm.getOperationLabel()}}</span>

                    <span class="query-section-item-value" ng-if="vm.type == 'Boolean' && vm.item.topbkt.Lbl != ''">
                        <strong>Yes</strong>
                    </span>

                    <span class="query-section-item-value" ng-if="vm.type == 'Numerical'">
                        <strong ng-if="vm.range[0] != null && vm.operation != 'empty'">{{vm.range[0]}}</strong>
                        <span ng-if="(vm.range[0] != null && vm.range[1] != null) && vm.operation == 'between'" class="operation-and">-</span>
                        <strong ng-if="vm.range[1] != null && vm.operation != 'empty' && vm.operation != 'is'">{{vm.range[1]}}</strong>
                    </span>

                    <span class="query-section-item-value" ng-if="vm.type == 'Enum'">
                        <strong>{{vm.item.topbkt.Lbl}}</strong>
                    </span>
                </span>
            </span>
        </span>

        <span class="item-edit-controls" ng-if="vm.editing && !vm.unused">
            <button class="button blue-button set-button" 
                    ng-click="vm.setBucket($event)">SET</button>
            <button class="button white-button unset-button" 
                    ng-if="vm.root.mode == 'rules'"
                    ng-click="vm.setBucket($event, true)">UNSET</button>
        </span>
    </div>

    <div class="query-section-item-records" ng-if="!vm.unused">
        <span class="query-section-item-records-label">RECORDS</span>
        
        <span ng-if="vm.tree.bucketRestriction.bkt.Cnt >= 0" class="query-section-item-records-number">
            {{vm.tree.bucketRestriction.bkt.Cnt}}
        </span>

        <span ng-if="vm.tree.bucketRestriction.bkt.Cnt < 0" class="query-section-item-records-number">
            <i class="fa fa-spinner fa-spin"></i>
        </span>
        
        <i class="fa fa-close" ng-click="vm.clickDelete($parent)"></i>
    </div>

    <div class="query-section-item-unused">
        UNUSED
    </div>
</div>

<ul ng-if="vm.tree.logicalRestriction && !vm.tree.collapsed">
    <li     ng-repeat="item in vm.tree.logicalRestriction.restrictions"
            ng-class="{
                'query-section-item-box-subtree':item.logicalRestriction,
                'item-unused': item.bucketRestriction && !item.bucketRestriction.bkt.Id
            }" 
            class="query-section-item-box">
        <query-tree-directive 
                class="{{ vm.tree.logicalRestriction ? 'query-section-type-' + vm.tree.logicalRestriction.operator.toLowerCase() : '' }}" 
                items="vm.items" tree="item" root="vm.root" parent="vm.tree">
        </query-tree-directive>
    </li>

    <li class="query-section-item-box query-section-item-end" ng-repeat-end>
        <div class="query-section-item query-section-item-end noselect-children">
            <span>
                <i class="fa fa-plus"></i> Add 
                <a href="javascript:void(0)" ng-click="vm.addAttribute(vm.tree)">attribute</a> 
                <span class="add-operator"> / 
                    <a href="javascript:void(0)" ng-click="vm.addOperator(vm.tree)">operator</a>
                </span>
            </span>
        </div>
    </li>
</ul>