<div>
    <div class="analytic-attribute-list-header">
        <div class="analytic-attribute-header-label float-left">
            <%= ResourceUtil.getString('ANALYTIC_ATTRIBUTE_HEADER_LABEL') %>
        </div>
        <a class="js-analytic-attribute-lift-header-label 
                    analytic-attribute-header-label 
                    analytic-attribute-lift-header-label 
                    <% if(options.SortDescending === true) { %> lift-descending <% } %> <% if(options.SortDescending === false) { %> lift-ascending <% } %>
                    float-right">
            <% if (options.ShowLift == true) {%>
                <%= ResourceUtil.getString('ANALYTIC_ATTRIBUTE_LIFT_HEADER_LABEL') %>
            <% } else { %>
                <%= ResourceUtil.getString('ANALYTIC_ATTRIBUTE_PROBABILITY_HEADER_LABEL') %>
            <% } %> 
        </a>
    </div>
    <div class="js-analytic-attribute-list analytic-attribute-list">
        
    </div>
</div>