<div class='collapsible-panel-container'>
    <div class='js-collapsible-panel-header collapsible-panel-header'>
        <span class='collapsible-panel-title-container'><%=title%></span>
        <span class='js-collapsible-panel-button collapsible-panel-button float-right fa fa-minus-square'></span>
    </div>
    <div class='js-collapsible-panel-content collapsible-panel-content'></div>
</div>