<div class="empty-analytic-list-container">
    <img class="empty-analytic-list-image" src="assets/images/gray_line_chart_icon.png"/>
    <span class="empty-analytic-list-description">
        <%= ResourceUtil.getString('DANTE_LEAD_NO_INSIGHTS_DESCRIPTION') %>
    </span>
</div>