<div class='tab-container'>
  <ul class='nav nav-tabs'>
        <% for(var i=0; i<widgets.length; i++) {%>
           <li class=" <% if (i==0) { %> active <% } %> " >
            <a href='#<%=widgets[i].ID%>'><%= ResourceUtil.getString(widgets[i].TitleString) %></a>
           </li>
        <% } %>
  </ul>
  
  <div class='tab-content'>
    <% for(var i=0; i<widgets.length; i++) {%>
      <div class='tab-pane <% if (i==0) { %> active <% } %> ' id="<%=widgets[i].ID%>"></div>
    <% } %>
  </div>
</div>