.logo-area {
    position: relative;
}
.user-info {
    position: absolute;
    text-align: right;
    right: 1em;
    white-space: nowrap;
}
.user-info li {
    font-size: 90%;
    line-height: 15px;
}
.user-info li.label {
    font-weight: bold;
    font-size: 90%;
}
.user-info li.label .default {
    cursor: pointer;
    color: #aaa;
    font-weight: normal;
    font-size: 90%;
}
.user-info li.label .default:hover {
    text-decoration: underline;
}
.user-info li.value {
    margin-bottom: 1em;
}
.user-info li.control {
    margin-top: 2em;
}
.user-info hr {
    margin: 2em 0;
}
.user-info button.white-button,
.user-info button.orange-button {
    margin-top: 1em;
    display: inline-block;
    width: auto;
}

div.pd-pagination {
    text-align: center;
    font-size: .9em;
}
select#tenantSelectionInput {
    border: 1px solid #ccc;
    height: 24em;
    margin-top: .5em;
}
select#tenantSelectionInput option {
    padding: 0.5em;
    cursor: pointer;
}
select#tenantSelectionInput option:nth-child(odd) {
    background-color: #f5f5f5;
}
select#tenantSelectionInput option:hover {
    background: #26639b;
    color: #fff;
}
div#tenantSelectionFormContainer {
    width: 30em;
}
input.tenant-selection-search {
    width: 9em;
    display: inline;
    line-height: 1em;
    border-radius: 3px;
    border-color: #d0d0d0;
}
input.tenant-selection-search:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #ccc;
}
div.panel-body .columns {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#tenantSelectionInput {
    margin: 0;
}
.panel .panel-heading.custom-heading .columns:hover {
    text-decoration: underline;
    cursor: pointer;
}
.panel .panel-heading.custom-heading .columns {
    text-align: center;
}
.panel .panel-heading.custom-heading {
    padding: 4px 0;
}
.panel .panel-body .tenant-date,
.panel .panel-body .tenant-version {
    text-align: center;
}
.panel .panel-body {
    overflow: auto;
    height: 25em;
    border: 1px solid #d0d0d0;
    border-top: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: white; 
}
.tenant-select-list {
    margin: 0.5em 0 1em;
}
.tenant-select-list.deactivated {
}
.panel .panel-body .job-td-row {
    min-height: 2.2em;
    padding: 0.333em 0;
}
.tenant-header {
    font-size: 14pt;
    text-align: center;
    margin-bottom: 1em;
    padding-bottom: .5em;
    border-bottom: 1px solid #d0d0d0;
}
.tenant-total {
    float: right;
}
.tenant-list-item,
.tenant-list-item * {
    transition: none;
}
.tenant-list-item:hover {
    background: #65b7e5;
    cursor: pointer;
    transition: none;
    color: #fff;
}
.tenant-list-item:hover .columns {
}
.tenant-list-item i {
    position: absolute;
}
.tenant-list-item span.badge {
    margin-top: -3px;
}
.tenant-list-spinner i.fa-spinner {
    display: inline-block;
    margin: 0;
}
.tenant-list-spinner span {
    display: block;
    text-align: center;
    margin-top: 1em;
}
.tenant-list-spinner {
    padding-top: 8em;
    color: #888;
}
.tenant-list-spinner,
.tenant-list-spinner * {
    position: relative;
}
.button.link-button.close-button {
    color: #fff;
    margin-top: -0.7em;
    margin-right: -0.3em;
}
.ng-search a.button {

}
.ng-search.open-absolute .form-control,
.ng-search .form-control {
    width: 115px;
    left: inherit;
    right: 2em;
}
.button-group>.button:first-child:not(:last-child):not(.dropdown-toggle) {
    border-right: none;
}
.button-group>.button:last-child:not(:first-child), .button-group>.dropdown-toggle:not(:first-child) {
    border-left: none;
}