<div id="adminInfoSummaryTable" class="panel panel-default" data-ng-controller="AdminInfoSummaryWidgetController">
    <section id="userManagementContainer" class="container">
    <div class="row">
    <div class="columns ten offset-one box-outline model-admin-info">
        <div class="section-header">
            <h4>Model Summary</h4>
        </div>
        <table class="section-body">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!IsPmml">
                    <td>{{ResourceUtility.getString('MODEL_ADMIN_HEALTH_SCORE_LABEL')}}</td>
                    <td><health-score score="ModelHealthScore"></health-score></td>
                </tr>
                <tr>
                    <td>{{ResourceUtility.getString('MODEL_ADMIN_DATA_CLOUD_VERSION')}}</td>
                    <td>{{DataCloudVersion}}</td>
                </tr>
                <tr>
                    <td>{{ResourceUtility.getString('MODEL_ADMIN_TENANT_ID_LABEL')}}</td>
                    <td>{{TenantId}}</td>
                </tr>
                <tr>
                    <td>{{ResourceUtility.getString('MODEL_ADMIN_TENANT_NAME_LABEL')}}</td>
                    <td>{{TenantName}}</td>
                </tr>
                <tr>
                    <td>{{ResourceUtility.getString('MODEL_ADMIN_INTERNAL_ID_LABEL')}}</td>
                    <td>{{ModelId}}</td>
                </tr>
                <tr>
                    <td>{{ResourceUtility.getString('MODEL_ADMIN_EVENT_TABLE_NAME_LABEL')}}</td>
                    <td>{{EventTableName}}</td>
                </tr>
                <tr>
                    <td>{{ResourceUtility.getString('MODEL_ADMIN_MODEL_DETAILS_LABEL')}}</td>
                    <td>
                        <span>{{ResourceUtility.getString('MODEL_ADMIN_MODEL_SUMMARY_LINK')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/files/datafiles/modeljson?modelId={{ModelId}}&Authorization={{AuthToken}}&TenantId={{TenantId}}&TenantId={{TenantId}}">{{ResourceUtility.getString('MODEL_ADMIN_DOWNLOAD')}}</a><br/></span>
                        <span ng-if="!IsPmml && TrainingFileExist">{{ResourceUtility.getString('MODEL_ADMIN_EXTRA_TRAINING_SET_LINK')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <a ng-if="!IsPmml && TrainingFileExist" href="/files/datafiles/trainingfilecsv?modelId={{ModelId}}&Authorization={{AuthToken}}&TenantId={{TenantId}}" ng-if="TrainingFilePath">{{ResourceUtility.getString('MODEL_ADMIN_DOWNLOAD')}}</a><a ng-if="!TrainingFilePath">N/A</a>
                        <br/></span>

                    </td>
                </tr>
                <tr ng-if="!IsPmml">
                    <td>{{ResourceUtility.getString('MODEL_ADMIN_MODEL_DIAGNOSTICS_LABEL')}}</td>
                    <td>
                        {{ResourceUtility.getString('MODEL_ADMIN_RF_MODEL_LINK')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/files/datafiles/rfmodelcsv?modelId={{ModelId}}&Authorization={{AuthToken}}&TenantId={{TenantId}}">{{ResourceUtility.getString('MODEL_ADMIN_DOWNLOAD')}}</a>
                        <br/>
                        <span ng-if="!IsPmml">{{ResourceUtility.getString('MODEL_ADMIN_TOP_PREDICTORS_LINK')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/files/datafiles/predictorcsv?modelId={{ModelId}}&Authorization={{AuthToken}}&TenantId={{TenantId}}">{{ResourceUtility.getString('MODEL_ADMIN_DOWNLOAD')}}</a><br/></span>
                        <span ng-if="isCDL">{{ResourceUtility.getString('MODEL_ADMIN_SCORED_ACCOUNT_FILE')}}</span>
                        <span ng-if="!isCDL">{{ResourceUtility.getString('MODEL_ADMIN_SCORED_TRAINING_FILE')}}</span>
                        :&nbsp;&nbsp;&nbsp;&nbsp;
                        <a data-ng-if="modelCreationJobFinished" href="/files/datafiles/scoredeventtablecsv/score?modelId={{ModelId}}&Authorization={{AuthToken}}&TenantId={{TenantId}}">{{ResourceUtility.getString('MODEL_ADMIN_DOWNLOAD')}}</a><a data-ng-if="!modelCreationJobFinished">N/A</a>
                        <br/>
                        {{ResourceUtility.getString('MODEL_ADMIN_BUCKET_TOOL')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <a data-ng-if="modelCreationJobFinished" href="/files/datafiles/scoredeventtablecsv/pivot?modelId={{ModelId}}&Authorization={{AuthToken}}&TenantId={{TenantId}}">{{ResourceUtility.getString('MODEL_ADMIN_DOWNLOAD')}}</a><a data-ng-if="!modelCreationJobFinished">N/A</a>
                    </td>
                </tr>
                <tr ng-if="!IsPmml">
                    <td>{{ResourceUtility.getString('MODEL_ADMIN_ADVANCED_DIAGNOSTICS_LABEL')}}</td>
                    <td>
                        <span>{{ResourceUtility.getString('MODEL_ADMIN_EXTRA_PIVOT_FILE_LINK')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/files/datafiles/pivotmappingcsv?modelId={{ModelId}}&Authorization={{AuthToken}}&TenantId={{TenantId}}" ng-if="showPivotMapping && PivotArtifactPath">{{ResourceUtility.getString('MODEL_ADMIN_DOWNLOAD')}}</a><a ng-if="!showPivotMapping || !PivotArtifactPath">N/A</a><br/></span>
                        <span ng-if="!IsPmml">{{ResourceUtility.getString('MODEL_ADMIN_DIAGNOSTICS_LINK')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/files/datafiles/diagnosticsjson?modelId={{ModelId}}&Authorization={{AuthToken}}&TenantId={{TenantId}}">{{ResourceUtility.getString('MODEL_ADMIN_DOWNLOAD')}}</a><br/></span>
                        <span>{{ResourceUtility.getString('MODEL_ADMIN_METADATA_LINK')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/files/datafiles/metadataavsc?modelId={{ModelId}}&Authorization={{AuthToken}}&TenantId={{TenantId}}">{{ResourceUtility.getString('MODEL_ADMIN_DOWNLOAD')}}</a><br/></span>
                        <span ng-if="!IsPmml">{{ResourceUtility.getString('MODEL_ADMIN_EXTRA_MODEL_PROFILE_LINK')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/files/datafiles/modelprofileavro?modelId={{ModelId}}&Authorization={{AuthToken}}&TenantId={{TenantId}}" ng-if="EventTableName">{{ResourceUtility.getString('MODEL_ADMIN_DOWNLOAD')}}</a><a ng-if="!EventTableName">N/A</a>
                        <br/></span>
                    </td>
                </tr>
                <tr ng-if="!IsPmml">
                    <td>{{ResourceUtility.getString('MODEL_ADMIN_MODEL_PERFORMANCE_LABEL')}}</td>
                    <td>
                        {{ResourceUtility.getString('MODEL_ADMIN_THRESHOLD_EXPLORER_CSV_LINK')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="javascript:void(0)" data-ng-click="exportThresholdClicked()">{{ResourceUtility.getString('MODEL_ADMIN_DOWNLOAD')}}</a>
                        <br/>

                    </td>
                </tr>
                <tr ng-if="!IsPmml">
                    <td>{{ResourceUtility.getString('MODEL_POST_MATCH_EVENT_TABLE_LABEL')}}</td>
                    <td>
                        {{ResourceUtility.getString('MODEL_TRAINING_CSV')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/files/datafiles/postmatcheventtablecsv/training?modelId={{ModelId}}&Authorization={{AuthToken}}&TenantId={{TenantId}}">{{ResourceUtility.getString('MODEL_ADMIN_DOWNLOAD')}}</a>
                        <br/>
                        {{ResourceUtility.getString('MODEL_TRAININT_EXPORT_CSV')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/files/datafiles/postmatcheventtablecsv/exportrftrain?modelId={{ModelId}}&Authorization={{AuthToken}}&TenantId={{TenantId}}">{{ResourceUtility.getString('MODEL_ADMIN_DOWNLOAD')}}</a>
                        <br/>
                        {{ResourceUtility.getString('MODEL_TESTING_CSV')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/files/datafiles/postmatcheventtablecsv/test?modelId={{ModelId}}&Authorization={{AuthToken}}&TenantId={{TenantId}}">{{ResourceUtility.getString('MODEL_ADMIN_DOWNLOAD')}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="global-error model-admin-info-error" data-ng-show="Error.ShowError">
            <span><i class="fa fa-exclamation-circle fa-inverse"></i> {{Error.ErrorMsg}}</span>
            <button class="close btn btn-link" data-ng-click="Error.ShowError = false;"><i class="fa fa-times fa-inverse"></i></button>
        </div>
    </div>
    </div>
    </section>
</div>
