<div ng-if="vm.debug" style="display:none;">[{{vm.section}}]{{enrichment|json}}</div>
<div class="box-inner {{vm.categoryClass(enrichment.Category)}} color border-top round-box ngAnimate"
     ng-class="{'active': enrichment.IsSelected}">
    <div class="header">
        <h2 title="{{enrichment.DisplayName}}">
            <div class="category-icon">
                <div class="highlighted-decoration {{vm.categoryClass(enrichment.Category)}} color" ng-if="enrichment.HighlightState.highlighted && vm.showHighlighting()">
                    <i ng-repeat="i in vm.getArray(5) track by $index" class="fa fa-star" aria-hidden="true"></i>
                </div>

                <img ng-src="{{vm.subcategoryIcon(enrichment.Category, enrichment.Subcategory)}}" fallback-src="{{vm.categoryIcon(enrichment.Category)}}" class="ico noselect" onerror="this.style.display='none'" />
                
                <div class="highlighted-decoration {{vm.categoryClass(enrichment.Category)}} color" ng-if="enrichment.HighlightState.highlighted && vm.showHighlighting()">
                    <i ng-repeat="i in vm.getArray(5) track by $index" class="fa fa-star" aria-hidden="true"></i>
                </div>
            </div>
            <strong>{{enrichment.DisplayName}}</strong>
        </h2>
        <!--// keep this below the h2 so that the z-indexes work with out setting z-index in the css -->
        <ul class="tags">
            <li data-corner-ribbon="premium" ng-if="enrichment.IsPremium && vm.section != 'insights'" class="premium noselect-children"><strong>premium</strong></li>
            <li data-corner-ribbon="internal" ng-if="enrichment.IsInternal" class="internal noselect-children"><strong>internal</strong></li>
        </ul>
    </div>

    <p class="description" title="{{enrichment.Description}}">
        <a ng-if="enrichment.FundamentalType === 'URI'" ng-href="{{vm.lookupFiltered[enrichment.ColumnId]}}" target="_blank" class="{{vm.categoryClass(enrichment.Category)}} color"><strong>{{vm.lookupFiltered[enrichment.ColumnId]}}</strong></a>
        <strong ng-if="vm.lookupFiltered[enrichment.ColumnId] && enrichment.FundamentalType !== 'URI'" title="{{vm.lookupFiltered[enrichment.ColumnId]}}">{{vm.filterLookupFiltered(vm.lookupFiltered[enrichment.ColumnId], enrichment.FundamentalType)}}</strong>
        <span ng-if="!vm.lookupFiltered[enrichment.ColumnId]">{{enrichment.Description}}</span>
    </p>

    <span class="lesser-description" ng-if="vm.lookupMode">
        {{ enrichment.Description }}
    </span>
    <!--
    <div class="stats-boolean" ng-if="vm.cube.Stats[enrichment.ColumnId].Bkts.List && vm.cube.Stats[enrichment.ColumnId].Bkts.List.length && !vm.lookupMode && vm.cube.Stats[enrichment.ColumnId].Bkts.Type == 'Boolean' && vm.section == 'team'">
        <h3>{{vm.booleanStats(vm.cube.Stats[enrichment.ColumnId].Bkts.List).Yes.Cnt|number}}</h3>
        <h4>Businesses with this product</h4>
        <p>
            About {{vm.NumberUtility.AbbreviateLargeNumber(vm.booleanStats(vm.cube.Stats[enrichment.ColumnId].Bkts.List).No.Cnt, 1)}} mid-sized and enterprise companies don't use this.
        </p>
    </div>
    -->
    <div class="stats" ng-if="  vm.cube.data.Stats[enrichment.ColumnId].Bkts.List && 
                                vm.cube.data.Stats[enrichment.ColumnId].Bkts.List.length && 
                                !vm.lookupMode">
<!-- && (vm.cube.Stats[enrichment.ColumnId].Bkts.Type == 'Boolean' || vm.cube.Stats[enrichment.ColumnId].Bkts.Type == 'Numerical' ? (vm.section == 'segment.analysis' ? true : false) : true)*/"> -->
        <h5><label>Attribute range</label><label>Records</label></h5>
        <ul class="attribute-stats">
            <li ng-repeat="stat in vm.cube.data.Stats[enrichment.ColumnId].Bkts.List | limitTo: 5"
                class="attribute-stat"
                ng-class="{
                            'select-range': vm.section == 'segment.analysis', 
                            'disabled-grayout': vm.section == 'segment.analysis' && !vm.segmentAttributeInputRange[vm.makeSegmentsRangeKey(enrichment,stat.Rng)]
                          }"
                ng-click="vm.selectSegmentAttributeRange(enrichment, stat, (vm.section != 'segment.analysis'))">
<!--'disable-bar': (vm.section != 'segment.analysis' && vm.cube.Stats[enrichment.ColumnId].Bkts.Type == 'Boolean')-->
                <ul class="graph">
                    <li class="label" title="{{stat.Lbl}}">
                        <input  type="checkbox"
                                ng-model="vm.segmentAttributeInputRange[vm.makeSegmentsRangeKey(enrichment,stat.Rng)]" 
                                ng-checked="vm.segmentAttributeInputRange[vm.makeSegmentsRangeKey(enrichment,stat.Rng)]" 
                                name="{{vm.makeSegmentsRangeKey(enrichment,stat.Rng)}}" 
                                id="{{vm.makeSegmentsRangeKey(enrichment,stat.Rng)}}"
                                ng-if="vm.section == 'segment.analysis'" />
                        {{stat.Lbl}}
                    </li>
                    <li class="bar_">
                        <div style="width: 100%;" ng-style="{width:vm.percentage(stat.Cnt, vm.cube.data.Stats[enrichment.ColumnId].Cnt, '%', 0)}" title="{{vm.percentage(stat.Cnt, vm.cube.data.Stats[enrichment.ColumnId].Cnt, '%', 0)}}">
                            <span class="{{vm.categoryClass(enrichment.Category)}} background-color"></span>
                        </div>
                    </li>
                    <li class="count">
                        <span>{{stat.Cnt|number}}</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <ul class="controls noselect" ng-if="!vm.lookupMode">

        <li class="control enrich" ng-if="vm.section == 'edit'">
            <button class="button"
                    ng-class="{'msg': enrichment.button_msg, 'error': enrichment.button_error, 'selected': enrichment.IsSelected}"
                    ng-click="enrichment.WasDirty = enrichment.IsDirty || false; enrichment.IsDirty = true; enrichment.IsSelected = !enrichment.IsSelected; vm.selectEnrichment(enrichment)">
                <span>
                    {{!enrichment.IsSelected ? enrichment.button_select || vm.label.button_select : (enrichment.IsDirty ? vm.label.button_deselect : vm.label.button_selected)}}
                </span>
            </button>
        </li>
        
        <li class="control highlight dropdown-container" ng-if="vm.section == 'team'" ng-init="vm.openHighlighter[enrichment.ColumnId] = {}">
            <!-- this can't be a <button> element because IE and FF don't like it -->
            <div class="button"
                    ng-class="{'selected': vm.openHighlighter[enrichment.ColumnId].open, 'enabled': enrichment.HighlightState.enabled}"
                    ng-click="vm.closeHighlighterButtons(); vm.openHighlighter[enrichment.ColumnId].open = !vm.openHighlighter[enrichment.ColumnId].open">
                <span class="highlight-icon {{vm.openHighlighter[enrichment.ColumnId].state.type || enrichment.HighlightState.type}}">
                    {{vm.openHighlighter[enrichment.ColumnId].state.label || enrichment.HighlightState.label || 'Set'}}
                </span>
                <ul ng-class="{open: vm.openHighlighter[enrichment.ColumnId].open}" class="highlightOptions button-dropdown">
                    <li ng-repeat="(type, label) in vm.highlightTypes" class="highlight-icon {{type}}" ng-class="{current: type == enrichment.HighlightState.type}" ng-click="vm.openHighlighter[enrichment.ColumnId].state = vm.setFlags(type, enrichment)">{{label}}</li>
                </ul>
            </div>
        </li>

    </ul>
</div>