<div class="box-inner {{vm.categoryClass(enrichment.Category)}} color border-top round-box ngAnimate" ng-class="{
                    'active': enrichment.IsSelected,
                    'has_warning': vm.section == 're.model_iteration'
                }">
    <div class="attribute-importance" ng-if="vm.section == 're.model_iteration'">
        <div class="attribute-warning show-tooltip top" ng-if="enrichment.HasWarnings">
            <div class="tooltip_">
                <div class="cover" ng-repeat="warning in enrichment.AssociatedDataRules">
                    <em>{{ vm.getWarning(warning).displayName + ' (' + warning + ')' || warning; }}</em>
                    <p>{{ vm.getWarning(warning).description || 'description not found.'; }}</p>
                </div>
            </div>
            <i class="fa fa-warning pull-left"></i>Warning
        </div>
        <span class="attribute-importance-label" ng-if="enrichment.ImportanceOrdering">
            Feature Importance
        </span>
        <span class="attribute-importance-number" ng-if="enrichment.ImportanceOrdering">
            {{ enrichment.ImportanceOrdering }}
        </span>
    </div>
    <span ng-class="{ 'disabled': vm.section == 're.model_iteration' && !vm.checkApprovedUsage(enrichment) }">
        <span class="attribute-count background-color show-tooltip delay bottom left" ng-if="(totalcount = vm.getAttributeRules(enrichment)).length > 0">
            <strong>{{ totalcount.length }}</strong>
            <div class="tooltip_">
                <div class="cover" ng-if="totalcount.length == 1" ng-init="type = vm.cube.data[enrichment.Entity].Stats[enrichment.ColumnId].Bkts.Type">
                    <h3>Attribute Selected</h3>
                    <p>This attribute has been used already and can be used again in another query condition. Go to
                        Refine Query to make changes.</p>
                    <em>Query Snippet:</em>
                    <ul>
                        <li ng-repeat="rule in totalcount">
                            {{vm.getQuerySnippet(enrichment, rule, type)}}
                        </li>
                    </ul>
                </div>
                <div class="cover" ng-if="totalcount.length >= 2">
                    <h3>Multiple Uses</h3>
                    <p>This attribute has been used more than once.<br>Go to Refine Query to make changes.</p>
                    <em>Query Snippets:</em>
                    <ul>
                        <li ng-repeat="rule in totalcount | limitTo: 3">{{vm.getQuerySnippet(enrichment, rule, type)}}</li>
                        <li ng-if="totalcount.length == 4">{{vm.getQuerySnippet(enrichment, totalcount[3], type)}}</li>
                        <li ng-if="totalcount.length > 4">
                            And {{totalcount.length - 3}} other instances
                        </li>
                    </ul>
                </div>
            </div>
        </span>


        <attribute-feedback-button button-type="'menu'" attribute="enrichment" value="vm.filterLookupFiltered(vm.lookupFiltered[enrichment.ColumnId], enrichment.FundamentalType)"
            icon-image="vm.categoryIcon(enrichment.Category)" category-class="vm.categoryClass(enrichment.Category)"
            ng-if="vm.lookupMode && vm.hasCompanyInfo" />

        <div class="header">
            <h2 alt="{{enrichment.DisplayName}}">
                <div class="category-icon">
                    <div class="highlighted-decoration {{vm.categoryClass(enrichment.Category)}} color" ng-if="enrichment.HighlightState.highlighted && vm.showHighlighting()">
                        <i ng-repeat="i in vm.getArray(5) track by $index" class="fa fa-star" aria-hidden="true"></i>
                    </div>

                    <img ng-src="{{vm.subcategoryIcon(enrichment.Category, enrichment.Subcategory)}}" fallback-src="{{vm.categoryIcon(enrichment.Category)}}"
                        class="ico noselect" onerror="this.style.display='none'" />

                    <div class="highlighted-decoration {{vm.categoryClass(enrichment.Category)}} color" ng-if="enrichment.HighlightState.highlighted && vm.showHighlighting()">
                        <i ng-repeat="i in vm.getArray(5) track by $index" class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="category-label">
                    <span class="category-label-span">{{enrichment.DisplayName}}</span>
                    <span class="more-info show-tooltip top right delay" ng-if="enrichment.LastDataRefresh">
                        i
                        <div class="tooltip_ small">
                            <div class="cover">
                                <p>
                                    {{enrichment.LastDataRefresh}}
                                </p>
                            </div>
                        </div>
                    </span>
                </div>
            </h2>
            <!--// keep this below the h2 so that the z-indexes work with out setting z-index in the css -->
            <ul class="tags">
                <li data-corner-ribbon="premium" ng-if="enrichment.IsPremium && vm.section != 'insights'" class="premium noselect-children"><strong>premium</strong></li>
                <li data-corner-ribbon="internal" ng-if="enrichment.IsInternal" class="internal noselect-children"><strong>internal</strong></li>
            </ul>
        </div>
        <p>{{enrichment.SecondaryDisplayName}}</p>
        <p class="description" title="{{enrichment.Description}}">
            <a ng-if="enrichment.FundamentalType === 'URI'" ng-href="{{vm.lookupFiltered[enrichment.ColumnId]}}" target="_blank"
                class="{{vm.categoryClass(enrichment.Category)}} color"><strong>{{vm.lookupFiltered[enrichment.ColumnId]}}</strong></a>
            <strong ng-if="vm.lookupFiltered[enrichment.ColumnId] && enrichment.FundamentalType !== 'URI'" title="{{vm.lookupFiltered[enrichment.ColumnId]}}">{{vm.filterLookupFiltered(vm.lookupFiltered[enrichment.ColumnId],
                enrichment.FundamentalType)}}</strong>
            <span ng-if="!vm.lookupFiltered[enrichment.ColumnId]">{{enrichment.Description}}</span>
        </p>

        <span class="lesser-description" ng-if="vm.lookupMode">
            {{ enrichment.Description }}
        </span>
        <!--
        <div class="stats-boolean" ng-if="vm.cube.Stats[enrichment.ColumnId].Bkts.List && vm.cube.Stats[enrichment.ColumnId].Bkts.List.length && !vm.lookupMode && vm.cube.Stats[enrichment.ColumnId].Bkts.Type == 'Boolean' && vm.section == 'team'">
            <h3>{{vm.booleanStats(vm.cube.Stats[enrichment.ColumnId].Bkts.List).Yes.Cnt|number}}</h3>
            <h4>Businesses with this product</h4>
            <p>
                About {{vm.NumberUtility.AbbreviateLargeNumber(vm.booleanStats(vm.cube.Stats[enrichment.ColumnId].Bkts.List).No.Cnt, 1)}} mid-sized and enterprise companies don't use this.
            </p> 
        </div>
        -->
        <!-- Rating -->
        <bar-chart 
            ng-if="
                vm.cube.data[enrichment.Entity].Stats[enrichment.ColumnId].Bkts.List && 
                vm.cube.data[enrichment.Entity].Stats[enrichment.ColumnId].Bkts.List.length && 
                !vm.lookupMode && 
                ['wizard.ratingsengine_segment','edit','team'].indexOf(vm.section) == -1 && 
                enrichment.Entity === 'Rating'"
            vm='vm' 
            statcount="statcount = vm.getAttributeRules(enrichment, stat).length" 
            config="vm.getChartConfig(vm.getBktListRating(enrichment))"
            bktlist="vm.getBktListRating(enrichment)" 
            callback="vm.chartRowClicked" 
            enrichment="enrichment">
        </bar-chart>
        <div 
            class="attributes-more noselect" 
            ng-click="vm.goToEnumPicker(vm.cube.data[enrichment.Entity].Stats[enrichment.ColumnId], enrichment)"
            ng-if="enrichment.Entity === 'Rating' 
                            && vm.cube.data[enrichment.Entity].Stats[enrichment.ColumnId].Bkts.Type == 'Enum' 
                            && vm.cube.data[enrichment.Entity].Stats[enrichment.ColumnId].Bkts.List.length > 5">
            See {{ vm.cube.data[enrichment.Entity].Stats[enrichment.ColumnId].Bkts.List.length - 5 | number }} More
        </div>
        <!-- End Rating  -->
        <!-- Account - Contacts - PurchaseHistory Entity -->

        <span ng-if="vm.cube == null && vm.section == 're.model_iteration'"><i class="fa fa-spinner fa-pulse fw"></i></span>



        <div 
            class="stats" 
            ng-if="
                vm.cube.data[enrichment.Entity].Stats[enrichment.ColumnId].Bkts.List && 
                vm.cube.data[enrichment.Entity].Stats[enrichment.ColumnId].Bkts.List.length && 
                !vm.lookupMode && 
                ['wizard.ratingsengine_segment','edit','team'].indexOf(vm.section) == -1 && 
                enrichment.Entity !== 'Rating'">
            <!-- && (vm.cube.Stats[enrichment.ColumnId].Bkts.Type == 'Boolean' || vm.cube.Stats[enrichment.ColumnId].Bkts.Type == 'Numerical' ? (vm.section == 'segment.analysis' ? true : false) : true)*/"> -->

            <h5>
                <label>{{vm.cube.data[enrichment.Entity].Stats[enrichment.ColumnId].Bkts.Type == 'Numerical' ?
                    'Attribute range' : 'Attribute values'}}
                </label>
                <label>
                    <span ng-if="vm.section == 're.model_iteration'">Lift &nbsp; &nbsp; &nbsp;</span>
                    <span ng-if="vm.section == 're.model_iteration'">% ACCTS</span>
                    <span ng-if="vm.section != 're.model_iteration'">Records</span>
                </label>
            </h5>

            <ul class="attribute-stats">
                <li ng-repeat="
                    stat in vm.cube.data[enrichment.Entity].Stats[enrichment.ColumnId].Bkts.List | 
                    limitTo: 5 | 
                    orderBy: vm.getStatSort()"
                    class="attribute attribute-stat delay top" ng-class="{
                                'select-range': vm.section == 'segment.analysis', 
                                'disabled-grayout': vm.section == 'segment.analysis' && (statcount = vm.getAttributeRules(enrichment, stat).length) == 0,
                                'show-tooltip': vm.section == 'segment.analysis',
                                'non-interactive': vm.section == 're.model_iteration'
                              }"
                    ng-click="vm.selectSegmentAttributeRange(enrichment, stat, (vm.section != 'segment.analysis'))"
                    ng-init="
                        highest = vm.getHighestStat(vm.cube.data[enrichment.Entity].Stats[enrichment.ColumnId].Bkts.List);
                        highestLift = vm.getHighestLift(vm.cube.data[enrichment.Entity].Stats[enrichment.ColumnId].Bkts.List);
                        totalBucketsCounts = vm.getTotalBucketCounts(vm.cube.data[enrichment.Entity].Stats[enrichment.ColumnId].Bkts.List | limitTo: 5)"
                    >
                    <div class="tooltip_" ng-if="vm.section == 'segment.analysis' && statcount == 0">
                        <div class="cover">
                            <h3>Select Attribute</h3>
                            <p>Match accounts that have this condition. By default this is an AND condition with other
                                selections. Go to Refine Query to make changes and use advanced query language</p>
                            <em>Click to select this attribute</em>
                        </div>
                    </div>
                    <ul class="graph">
                        <li class="label column checkspace show-tooltip delay top left" title="{{stat.Lbl}}">
                            <!--input  type="checkbox"
                                    ng-model="vm.segmentAttributeInputRange[vm.makeSegmentsRangeKey(enrichment,stat.Rng,stat.Lbl)]" 
                                    ng-checked="vm.segmentAttributeInputRange[vm.makeSegmentsRangeKey(enrichment,stat.Rng,stat.Lbl)]" 
                                    name="{{vm.makeSegmentsRangeKey(enrichment,stat.Rng,stat.Lbl)}}" 
                                    id="{{vm.makeSegmentsRangeKey(enrichment,stat.Rng,stat.Lbl)}}"
                                    ng-if="vm.section == 'segment.analysis'" /-->
                            <i class="plus fa fa-plus" ng-if="statcount == 0"></i>
                            <i class="plus fa fa-check" ng-if="statcount == 1"></i>
                            <i class="plus attribute-use-count" ng-if="statcount >= 2">{{ statcount }}</i>
                            <i class="fa fa-check" ng-if="statcount == 1"></i>
                            <i class="attribute-use-count" ng-if="statcount >= 2">
                                {{ statcount }}
                            </i>
                            {{stat.Lbl}}
                        </li>
                        <li class="bar_" ng-if="vm.section == 're.model_iteration'">
                            <div style="width: 100%;" ng-style="{width:vm.percentage(stat.Lift|number:1, highestLift, '%', 0)}" title="{{vm.percentage(stat.Lift|number:1, highestLift, '%', 0)}}">
                                <span class="{{vm.categoryClass(enrichment.Category)}} background-color"></span>
                            </div>
                        </li>
                        <li class="bar_" ng-if="vm.section != 're.model_iteration'">
                            <div style="width: 100%;" ng-style="{width:vm.percentage(stat.Cnt, highest, '%', 0)}" title="{{vm.percentage(stat.Cnt, highest, '%', 0)}}">
                                <span class="{{vm.categoryClass(enrichment.Category)}} background-color"></span>
                            </div>
                        </li>
                        <li class="lift" ng-if="vm.section == 're.model_iteration'">
                            <span>{{stat.Lift|number:1}}x</span>
                        </li>
                        <li class="count">
                            <span ng-if="vm.section == 're.model_iteration'">
                            {{vm.percentage(stat.Cnt, totalBucketsCounts, '%', 0)}}</span>
                            <span ng-if="vm.section != 're.model_iteration'">{{stat.Cnt|number}}</span>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="attributes-more noselect" ng-click="vm.goToEnumPicker(vm.cube.data[enrichment.Entity].Stats[enrichment.ColumnId], enrichment)"
                ng-if="vm.cube.data[enrichment.Entity].Stats[enrichment.ColumnId].Bkts.Type == 'Enum' && vm.cube.data[enrichment.Entity].Stats[enrichment.ColumnId].Bkts.List.length > 5 && vm.section != 're.model_iteration'">
                See {{ vm.cube.data[enrichment.Entity].Stats[enrichment.ColumnId].Bkts.List.length - 5 | number }} More
            </div>
        </div>

        <!--  -->
        <div ng-if="vm.showFreeTextAttributeCard(enrichment) && vm.section != 're.model_iteration'" class="free-text-attribute">
            {{'Free Text Attribute' | uppercase}}
            <div ng-if="vm.section != 're.model_iteration'">
                <button class="{{vm.categoryClass(enrichment.Category)}} button attribute-count show-tooltip delay top left"
                    ng-click="vm.addFreeTextAttribute(enrichment, vm.cube.data[enrichment.Entity].Stats[enrichment.ColumnId])">
                    <span ng-if="totalcount.length == 0" class="free-text fa fa-plus"></span>
                    <span ng-if="totalcount.length == 1" class="free-text fa fa-check" ng-class="{'selected': totalcount.length == 1}"></span>
                    <span ng-if="totalcount.length > 1" class="free-text" ng-class="{'selected': totalcount.length > 1}">
                        {{totalcount.length}} </span>
                    Add To Query
                </button>
            </div>
        </div>
        <div ng-if="vm.showInvalidAttributeCard(enrichment) && vm.section != 're.model_iteration'" class="free-text-attribute">
            {{'No Data Available' | uppercase}}
        </div>

        <div ng-if="vm.isBktEmpty(enrichment) && vm.section == 're.model_iteration'" class="free-text-attribute">
            {{'Profiling Data is Not Available' | uppercase}}
        </div>

        <div class="attribute-modeliteration-toggle" ng-if="vm.section == 're.model_iteration'">
            <i ng-click="vm.toggleApprovedUsage(enrichment)" class="fa fa-toggle-on" ng-class="{ 
                    'fa-rotate-180': !vm.checkApprovedUsage(enrichment)
                }">
            </i>
        </div>
    </span>
    <ul class="controls noselect" ng-if="!vm.lookupMode">
        <li class="control enrich" ng-if="vm.section == 'edit'">
            <button class="button" ng-class="{'msg': enrichment.button_msg, 'error': enrichment.button_error, 'selected': enrichment.IsSelected}"
                ng-click="enrichment.WasDirty = enrichment.IsDirty || false; enrichment.IsDirty = true; enrichment.IsSelected = !enrichment.IsSelected; vm.selectEnrichment(enrichment)">
                <span>
                    {{!enrichment.IsSelected ? enrichment.button_select || vm.label.button_select : (enrichment.IsDirty
                    ? vm.label.button_deselect : vm.label.button_selected)}}
                </span>
            </button>
        </li>

        <li class="control highlight dropdown-container" ng-if="vm.section == 'team'" ng-init="vm.openHighlighter[enrichment.ColumnId] = {}">
            <!-- this can't be a <button> element because IE and FF don't like it -->
            <div class="button" ng-class="{'selected': vm.openHighlighter[enrichment.ColumnId].open, 'enabled': enrichment.HighlightState.enabled}"
                ng-click="vm.closeHighlighterButtons(); vm.openHighlighter[enrichment.ColumnId].open = !vm.openHighlighter[enrichment.ColumnId].open">
                <span class="highlight-icon {{vm.openHighlighter[enrichment.ColumnId].state.type || enrichment.HighlightState.type}}">
                    {{vm.openHighlighter[enrichment.ColumnId].state.label || enrichment.HighlightState.label || 'Set'}}
                </span>
                <ul ng-class="{open: vm.openHighlighter[enrichment.ColumnId].open}" class="highlightOptions button-dropdown">
                    <li ng-repeat="(type, label) in vm.highlightTypes" class="highlight-icon {{type}}" ng-class="{current: type == enrichment.HighlightState.type}"
                        ng-click="vm.openHighlighter[enrichment.ColumnId].state = vm.setFlags(type, enrichment)">{{label}}</li>
                </ul>
            </div>
        </li>

        <li class="control ratings-selection" ng-if="vm.section == 'wizard.ratingsengine_segment' && vm.mode != 'dashboardrules'">
            <button class="button" ng-class="{'selected': enrichment.IsRatingsEngineAttribute}" ng-click="vm.selectRatingsEngineAttribute(enrichment)">
                <span>
                    {{!enrichment.IsRatingsEngineAttribute ? 'Select Attribute' : 'Remove Attribute'}}
                </span>
            </button>
        </li>

        <li class="control ratings-selection dashboardrules" ng-if="vm.section == 'wizard.ratingsengine_segment' && vm.mode == 'dashboardrules'">
            <button class="button" ng-class="{'selected': totalcount.length > 0}" ng-click="vm.selectRatingsEngineAttribute(enrichment)">
                <span>
                    {{totalcount.length > 0 ? 'Attribute Selected' : 'Select Attribute'}}
                </span>
            </button>
        </li>
    </ul>
</div>