<div class="fillSpace contact-support-container">
<ul>
  <li class="contact-support-email ">
    <h2>Email</h2>
    <p>Have a question or feedback?<br />
      Please email us 24/7 at:<br />
      <a href="mailto:support@lattice-engines.com">support@lattice-engines.com</a> </p>
  </li>
  <li>
    <p class="contact-support-disclaimer"> Note: We will respond to you as soon as possible. <br />
      During heavy support volume it may take 1 business day. </p>
  </li>
</ul>
</div>