# Eclipse
*.classpath
*.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
*.mvn/
**/.mvn/
**/target/

# python
__pycache__
python_model_workspace/

# generated ddl
/ddl_*.sql
/dumps/

# jacoco output
jacoco/
*.exec
