# Eclipse
*.classpath
*.project
*.pydevproject
.settings/
*.factorypath
# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
*.mvn/
**/.mvn/
**/target/

# python
__pycache__
python_model_workspace/

# generated ddl
/ddl_*.sql
/dumps/

# jacoco output
jacoco/
*.exec

#npm modules
**/node_modules/**
#Folder/files created during build process
**/dist/**
**/.sass-cache/**
**/.vscode/
**/storybook-static/
**/uicomponents/.cache
**/uicomponents/storybook-static/**

# tez
*.dot

/le-ui.tar.gz
/.metadata/
