<section id="main-content" class="container play-list">

    <div class="row">
        
        <div class="list-header">
            <div class="pull-left number-of-items" ng-if="vm.current.plays.length > 0">
                <menu-filter-by config="vm.header.filter" store="playlist.filter" current="vm.currentPage"></menu-filter-by>
                <menu-sort-by config="vm.header.sort" store="playlist.sort"></menu-sort-by>
                <search-filter query="vm.query" current="vm.currentPage"></search-filter>
            </div>
            <div class="pull-right">
                <a
                    class="button blue-button"
                    ui-sref="home.playbook.create">
                    Create
                </a>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="twelve columns">
            <ul class="tiles">
                <li
                    ng-repeat="
                        play in vm.current.plays |
                        filter: vm.query |
                        filter: vm.header.filter.value : true | 
                        orderBy: vm.header.sort.order + vm.header.sort.property |
                        startFrom: (vm.currentPage - 1) * pagesize |
                        limitTo: pagesize"
                    data="play"
                    ng-click="vm.tileClick($event, play)"
                    ng-mouseleave="vm.current.tileStates[play.name].showCustomMenu ? vm.customMenuClick($event, play) : null"
                    ng-if="vm.current.plays.length > 0"
                    class="playtype-{{play.playType.displayName|lowercase}}"
                    ng-class="{editing: vm.current.tileStates[play.name].editPlay}">
                    

                    <div class="tile-header" ng-if="!vm.current.tileStates[play.name].editPlay">
                        <h2 title="{{play.displayName}}">{{play.displayName | limitTo: 30 }}{{play.displayName.length > 30 ? '&hellip;' : ''}}</h2>
                        <div class="edit">
                            <button
                                    type="button"
                                    ng-click="vm.customMenuClick($event, play)"
                                    ng-class="{ 'open': vm.current.tileStates[play.name].showCustomMenu }">
                                <span class="fa fa-ellipsis-v" ng-class="{ 'fa-rotate-180': vm.current.tileStates[play.name].showCustomMenu }"></span>
                            </button>
                            <ul class="model-menu" ng-show="vm.current.tileStates[play.name].showCustomMenu">
                                <li data-ng-click="vm.editPlayClick($event, play)">
                                    <a href="javascript:void(0)">Rename</a>
                                    <i class="fa fa-edit"></i>
                                </li>
                                <li data-ng-click="vm.showDeletePlayModalClick($event, play)">
                                    <a href="javascript:void(0)">Delete</a>
                                    <i class="fa fa-trash"></i>
                                </li>
                            </ul>
                        </div>

                    </div><!-- End .tile-header -->
                    <div 
                        class="tile-metadata"
                        ng-if="!vm.current.tileStates[play.name].editPlay">
                        <ul>
                            <li>Last Edited by: <span class="blue-text">{{play.updatedBy || '--'}}</span></li>
                            <li>Last Edited: <span class="blue-text">{{play.updated | date}}</span></li>
                            <li>Segment: <span class="blue-text">{{play.targetSegment.display_name || '--'}}</span></li>
                            <li>Model: <span class="blue-text">{{play.ratingEngine.displayName || '--'}}</span></li>
<!--
                             <li class="text-ellipsis">
                                Segment: 
                                <span ng-if="play.ratingEngine.segment != null" class="blue-text">{{play.ratingEngine.segment.display_name}}</span>
                                <span ng-if="play.ratingEngine.segment == null" class="gray-text">Segment not selected</span>
                            </li>
                            <li>
                                Last Data Refresh: 
                                <span class="red-text" ng-if="!play.ratingEngine.lastRefreshedDate">No refresh data yet</span></span>
                                <span class="blue-text" ng-if="play.ratingEngine.lastRefreshedDate">{{play.ratingEngine.lastRefreshedDate | date}}</span></span>
                            </li>
 -->
                         </ul>

                    </div><!-- End .tile-metadata -->

                    <div class="tile-body" ng-if="!vm.current.tileStates[play.name].editPlay">

                        <!-- Created Play with no previous launch history -->
                        <div ng-if="(play.launchHistory.lastCompletedLaunch === null || ['UnLaunched'].indexOf(play.launchHistory.lastCompletedLaunch.launchState) >= 0) && vm.current.tileStates[play.name].launching != true">This campaign was started but not launched.</div>

                        <!-- Created Play with no previous launch history -->
                        <!-- <div ng-if="
                            play.launchHistory.playLaunch == null && 
                            play.segment != null && 
                            vm.current.tileStates[play.name].launching == false && play.launchHistory.mostRecentLaunch.launchState != 'Failed'">Play has been created and is ready for launch.</div> -->

                        <!-- Launching messaging -->
                        <div ng-if="vm.current.tileStates[play.name].launching == true">Launching...</div>

                        <!-- Failed Launch messaging -->
                        <div ng-if="vm.failedStates.indexOf(play.launchHistory.lastCompletedLaunch.launchState) >= 0" class="error-text">Your most recent launch, has failed.</div>

                        <!-- Ratings chart if play has Launched -->
                        <div 
                            ng-if="vm.startedStates.indexOf(play.launchHistory.lastCompletedLaunch.launchState) !== -1 && vm.current.tileStates[play.name].launching != true"
                            class="{{ play.ratingEngine.tileClass }}">
                            <bar-chart
                                config="play.ratingEngine.chartConfig" 
                                bktlist="play.ratingEngine.newBucketMetadata">
                            </bar-chart>
                        </div>

                    </div><!-- End .tile-body -->
                    <div class="tile-footer">
                        <button 
                            type="button"
                            class="button blue-button pull-right"
                            ng-if="!vm.alwaysOnCampaigns && ((vm.completedStates.indexOf(play.launchHistory.lastCompletedLaunch.launchState) < 0 && !play.talkingPoints.length) && vm.current.tileStates[play.name].launching !== true)"
                            ui-sref="home.playbook.launch({play_name:play.name, status: 'Launch'})">    
                            Launch
                        </button>
                         <button 
                            type="button"
                            class="button blue-button pull-right"
                            ng-if="!vm.alwaysOnCampaigns && ((vm.completedStates.indexOf(play.launchHistory.lastCompletedLaunch.launchState) < 0 && play.talkingPoints.length) || vm.current.tileStates[play.name].launching == true)"
                            ng-disabled="vm.current.tileStates[play.name].launching == true"
                            ui-sref="home.playbook.launch({play_name:play.name, status: 'Launch'})">    
                            {{vm.launchButtonLabel(play)}} <!-- // Launch, Launching or ReLaunch -->
                        </button>
                        <!-- to handle always on cases --> 
                         <button 
                            type="button"
                            class="button blue-button pull-right"
                            ng-if="vm.alwaysOnCampaigns && ((vm.completedStates.indexOf(play.launchHistory.lastCompletedLaunch.launchState) < 0 && !play.talkingPoints.length) && vm.current.tileStates[play.name].launching !== true)"
                            ui-sref="home.playbook.overview({play_name:play.name})">    
                            Overview
                        </button>
                         <button 
                            type="button"
                            class="button blue-button pull-right"
                            ng-if="vm.alwaysOnCampaigns && ((vm.completedStates.indexOf(play.launchHistory.lastCompletedLaunch.launchState) < 0 && play.talkingPoints.length) || vm.current.tileStates[play.name].launching == true)"
                            ui-sref="home.playbook.overview({play_name:play.name})">    
                            Overview
                        </button>
                         <span ng-if="!vm.current.tileStates[play.name].launching">
                                <span 
                                    class="launch-success pull-right"
                                    ng-if="vm.completedStates.indexOf(play.launchHistory.lastCompletedLaunch.launchState) >= 0">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    {{play.launchHistory.lastCompletedLaunch.launchState == 'Launched' ? 'Launched' : 'Synced'}} 

                                    {{play.launchHistory.lastCompletedLaunch.updated | date}}
                                </span>
                        </span>

                    </div><!-- End .tile-footer -->
                    <form
                        class="edit-form"
                        name="editPlayForm"
                        ng-if="vm.current.tileStates[play.name].editPlay"
                        ng-click="$event.stopPropagation()">
                        <div class="form-group">
                            
                            <label for="playDisplayName">Name
                            <input
                                autofocus
                                type="text"
                                id="display_name"
                                name="display_name"
                                data-ng-model="play.displayName"
                                ng-change="vm.nameChanged(play)"
                                maxlength="50"
                                ng-trim="false"
                                class="form-control"
                                ng-disabled="vm.saveInProgress" />
                            </label>
                            <span>{{50 - play.displayName.length}} characters remaining</span>
                        </div>
                        <div class="actions">

                            <button
                                type="button"
                                class="button white-button pull-left"
                                ng-click="vm.cancelEditPlayClicked($event, play)"
                                ng-disabled="vm.saveInProgress  ">
                                Cancel</button>
                            <button
                                type="button"
                                class="button blue-button pull-right"
                                ng-disabled="vm.current.tileStates[play.name].saveEnabled === false"
                                ng-click="vm.savePlayClicked($event, play)"
                                ng-if="!vm.saveInProgress">
                                Save</button>
                            <button
                                type="button"
                                class="button gray-button pull-right"
                                ng-disabled="vm.saveInProgress"
                                ng-if="vm.saveInProgress">
                                Saving...</button>

                        </div>
                    </form>

                </li>
                <li class="create-tile" ng-if="vm.current.plays.length < 1">
                    <a
                        class="button new-tile-button"
                        ui-sref="home.playbook.create">
                        <span>&#43;</span>
                        Create Campaign
                    </a>
                </li>

            </ul>
        </div>
    </div><!-- End .row -->
    <div class="row" ng-init="pagesize = 12" ng-show="max > 1">
        <div class="twelve columns">
            <pd-pagination-controls 
                current="vm.currentPage" 
                max="max = (vm.header.filter.filtered | filter: vm.query).length / pagesize"
                class="pull-right">
            </pd-pagination-controls>
        </div>
    </div>

</section>