.pd-summary-links {
    background: #00223A;
    color: #fff;
    height: 50px;

    ul {


        li {
            display: inline-block;
            padding: 13px;
            font-size: 1.2em;
        }
    }
}