.pd-summary-links {
    background: #00223A;
    color: #fff;
    height: 50px;

    ul {
        dl {
            padding: 0;
            border-left: 1px solid #26639b;
        }
        dl a:visited,
        dl a:active,
        dl a {
            color: #ccc;
            font-size: 16px;
            padding: 0.8em 1em;
            display: inline-block;
            transition: all 100ms ease;
        }
        dl:first-child a {
            padding-left: 4px;
        }
        dl a:hover {
            color: #eee;
        }
        dl.active a {
            color: #eee;
            text-shadow: none;
        }
    }
}