<div class="talking-point-editor" ng-class="{'expanded':vm.expanded}">
    <div class="row">
        <button ng-click="vm.expand()" class="button white-button expand-button" ng-class="{'rotate': vm.expanded}"><i class="fa fa-chevron-down"></i></button>
        <input ng-blur="vm.saveTitle()" type="text" class="form-control" placeholder="Section Heading (required)" ng-model="tp.title" ng-class="{'required': !tp.title}" />
        <div class="pull-right" ng-if="!vm.deleteClicked">
            <button class="button white-button delete-button" ng-click="vm.deleteClick($event,true)">&times;</button>
        </div>
        <div ng-if="vm.deleteClicked" class="tp-delete-confirm">
            Delete Talking Point? <button class="button orange-button" ng-click="onDelete()">Delete</button><button class="button white-button" ng-click="vm.deleteClick($event,false)">Cancel</button>
        </div>
        <div class="tinymce-container">
            <textarea class="form-control" ng-model="tp.content" ui-tinymce="vm.tinyMceConfig"></textarea>
        </div>
    </div>
</div>
