.le_modal {
  display: none;
  position: fixed;
  z-index: 33;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);

  .le-orange-style {
    background-color: orange;
  }
  /* Modal Content Box */
  .le-modal-content {
      font-family: 'ProximaNova-Regular', Arial, sans-serif;
      display: flex;
      max-height: 80vh;
      flex-direction: column;
      background-color: #fefefe;
      margin: 8em auto;
      padding: 0px;
      width: 50%;
      max-height: 80vh;
      border-radius: 5px;
      border-radius: 6px;
      &.sm {
          width: 380px;
      }
      &.md {
          width: 640px;
      }
      &.lg {
          width: 1024px;
      }
      .le-modal-header {
          height: 10%;
          // min-height: 50px;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          /* The Close Button */
          .close {
              font-size: 28px;
              font-weight: bold;
              padding: 10px;
              padding-right: 1em;
              &:hover,
              &:focus {
                  color: #666;
                  text-decoration: none;
                  cursor: pointer;
                  -webkit-transition: none;
                  transition: none;
              }
          }
          .le-title-container {
              font-size: 20px;
              width: 100%;
              padding: 17px 1.2em;
              display: flex;
              align-items: center;

              .ico-container{
                background-color: white;
              }
              .title-icon {
                  // padding-right: 10px;
              }
              .le-title {
                margin-left: 0.5em;
                font-size: 16pt;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 1.6em;
                white-space: nowrap;
              }
          }
      }
      .le-modal-body {
          border-top: 1px solid rgba(153, 152, 152, 0.405);
          border-bottom: 1px solid rgba(153, 152, 152, 0.405);
          overflow: auto;
          padding: 10px;
          max-height: 80%;
          padding: 2em 2em;

          br {
            display: none;
          }

          .le-modal-message{
            display: flex;
            font-size: 26px;
            font-family: 'ProximaNova-Regular', Arial, sans-serif;
          }

          .le-modal-spinner{
            display: flex;
            justify-content: center;
            height: 100%;
            padding: 20px;
          }
      }
      .le-modal-footer {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: center;
          padding: 0.75em 2em;
          height: 10%;

          button {
            width: 50%;
            padding: 1em 0;
            margin: 1em;

            &:last-child {
              margin-left: 0;
            }

            &:first-child {
              margin-right: 0;
            }
          }
      }
  }
  &.opened {
      display: block;
      opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: .12s;
      
  }
  &.closed {
      display: none;
  }

    @keyframes fadeInOpacity {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  
}