<header data-ng-controller="MainHeaderCtrl">
    <div class="secondary-nav">

        <button id="toggleNav" class="nav-button" data-ng-click="handleSidebarToggle($event)">
            <span class="fa fa-bars"></span>
        </button>

        <img class="no-nav-logo" src="/assets/images/logo-lattice-color.png" alt="Lattice Logo" />

        <div class="profile-nav dropdown">
            <a href="javascript:void(0)" title="" data-ng-click="handleClick($event, 'dropdown')">
                {{userDisplayName}} <span class="fa fa-angle-down"></span>
            </a>
            <ul>
                <li data-ng-click="handleClick($event, 'settings')">
                    <a href="javascript:void(0)" title="">{{ResourceUtility.getString('HEADER_SETTINGS')}}</a>
                </li>
                <li data-ng-click="handleClick($event, 'logout')">
                    <a href="javascript:void(0)" title="">{{ResourceUtility.getString('HEADER_LOGOUT')}}</a>
                </li>
            </ul>
        </div>

    </div>

    <!--
    <div id="outer-wrap">
        <div id="inner-wrap">
            <nav id="nav" class="primary-nav" role="navigation">
                <div id="mainHeaderView"></div>
            </nav>
            
            <section id="main" role="main" class="main-content">
                
                <div class="secondary-nav">
                    <button id="toggleNav" class="nav-button"><span class="fa fa-bars"></span></button>
                    <div class="profile-nav dropdown">
                        <a href="#" title="">superuser <span class="fa fa-angle-down"></span></a>
                        <ul>
                            <li><a href="#" title="">Settings</a></li>
                            <li><a href="#" title="">Sign Out</a></li>
                        </ul>
                    </div>
                </div>

                <div id="mainContentView" ui-view></div>
            </section>

        </div>
    </div>


    <ul class="columns ten nav nav-pills top-nav">
        <li class="dropdown li-nav-personal">
            <a data-toggle="dropdown" class="dropdown-toggle nav-personal" style="color:black;" href="javascript:void(0)" data-ng-click="handleClick($event, 'dropdown')"> 
                <span class="username">{{userDisplayName}}</span> <i class="fa fa-caret-down"></i></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-2">
                <li>
                    <a href="javascript:void(0)" data-ng-click="handleClick($event, 'logout')">
                        {{ResourceUtility.getString('HEADER_LOGOUT')}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    -->

</header>