#mainHeaderView {
    border-bottom: 1px solid #ddd;
    background: #fff;

    header {
        box-shadow: none;

        div.brand {
            margin-top: 1.3em;
        }

        div.row {
            height: 5.5em;
        }

        a.logo {
            padding: 5px 0;
        }
        
        #toggleNav {
            padding: 1em;
        }

        .pd-header-dropdown-container {

            span {
                color: black;
            }

            .pd-header-avatar {
                background: #ccc;
                border-radius: 50%;
                padding: 6px 7px;
                font-size: 1.3em;
            }

            .pd-header-username {
                margin: 0 .5em;
            }
        }
    }
}