<header data-ng-controller="MainHeaderCtrl">
    
    <div class="secondary-nav">
        <div class="pull-right">
            <div class="profile-nav dropdown">
                <a ng-click="headerClicked($event)" href="javascript:void(0)" ng-class="{'active' : showProfileNav}">
                    <img src="/assets/images/ico-user-profile.svg" />
                    <div>
                        <div class="pd-header-username" title="{{userDisplayName}}">{{userDisplayName}}</div>
                        <div class="tenant-name" title="{{tenantName}}">{{tenantName}}</div>
                    </div>
                    <span class="fa fa-chevron-down"></span>
                </a>
                <ul ng-show="showProfileNav" ng-click="headerClicked($event)">
                    <li data-ng-click="handleClick($event, 'settings')">
                        <a href="javascript:void(0)" title="">{{ResourceUtility.getString('HEADER_SETTINGS')}}</a>
                    </li>
                    <li data-ng-click="handleClick($event, 'logout')">
                        <a href="javascript:void(0)" title="">{{ResourceUtility.getString('HEADER_LOGOUT')}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</header>