<header data-ng-controller="MainHeaderCtrl">
    <div class="secondary-nav">

        <button id="toggleNav" class="nav-button" data-ng-click="handleSidebarToggle($event)">
            <span class="fa fa-bars"></span>
        </button>

        <img class="no-nav-logo" src="/assets/images/logo-lattice-color.png" alt="Lattice Logo" />

        <div class="profile-nav dropdown">
            <a class="pd-header-dropdown-container" href="javascript:void(0)" title="" data-ng-click="handleClick($event, 'dropdown')">
                <span class="pd-header-username">{{userDisplayName}}</span>
                <span class="pd-header-downarrow fa fa-angle-down"></span>
            </a>
            <ul>
                <li data-ng-click="handleClick($event, 'settings')">
                    <a href="javascript:void(0)" title="">{{ResourceUtility.getString('HEADER_SETTINGS')}}</a>
                </li>
                <li data-ng-click="handleClick($event, 'logout')">
                    <a href="javascript:void(0)" title="">{{ResourceUtility.getString('HEADER_LOGOUT')}}</a>
                </li>
            </ul>
        </div>

    </div>
</header>