#mainHeaderView {
    border-bottom: 1px solid #ddd;
    background: #fff;

    header {
        box-shadow: none;

        div.brand {
            margin-top: 1.3em;
        }

        div.row {
            height: 5.5em;
        }

        a.logo {
            padding: 5px 0;
        }
    }
}