@import '../colors.scss';
@import '../menu/le-menu.scss';

.button-actions-container {
    display: inline-flex;
    position: relative;
    max-width: 200px;
  & > ul {
    margin-left: 1px;
  }
  .button-actions {
    display: inline-block;
    padding: 0em 1.2em;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: $dark-gray;
    border-radius: 3px;
    font-weight: normal;
    outline: none;
    background-color: $pearl-white;
    border-radius: 0;
    border-color: $silver;
    
    &.menu-opened {
      background-color: $dark-gray;
      color: $pearl-white;
    }
    &.button-label{
      min-width: 100px;
      padding: 0em 1.2em;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &.actions-drop{
      border-left: 1px solid white;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    & > span{
      padding: 1em;
    }
  }
  
  
  

  .menu-content {
    display: none;
    position: absolute;
    background-color: $dark-gray;
    color: $pearl-white;
    min-width: 0px;
    box-shadow: 0px 8px 16px 0px $dark-gray;
    z-index: 1;
  }
  .le-menu-show {
    display: block;
    margin-top: 38px;
    border-top: 1px solid black;
    text-decoration-style: none;
    width: 100%;
  }
}
