.button-actions-container {
    display: inline-flex;

  .button-actions {
    display: inline-block;
    padding: 0em 1.2em;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: #ffffff;
    border-radius: 3px;
    font-weight: normal;
    transition: all 133ms ease;
    outline: none;
    background-color: black;
    border-radius: 0;
  }
  .actions-drop{
      border-left: 1px solid white;
  }
}
