<section class="container setup-import">
<form name="uploadForm" ng-controller="csvImportController as vm" novalidate>
  <div class="row">
    <div class="columns eight offset-two">
      <h2>Settings</h2>
      <div csv-uploader-container="vm_uploader_container.csvFile" class="form-group file-upload" ng-class="{ 'has-error' : uploadForm.csvFileName.$invalid && !uploadForm.modelDisplayName.$pristine, 'is-pristine' : uploadForm.csvFileName.$pristine }">

      </div>
      
      <div class="form-group">
        <label>Model Type</label>
        <div class="toggle-check">
          <div>
            <label>
              <input type="radio" value="SalesforceAccount" ng-model="vm.accountLeadCheck" ng-change="vm.changeType()" required />
              {{vm.ResourceUtility.getString('MODEL_IMPORT_CSV_LABEL_ACCOUNT')}} <span ng-if="vm.accountLeadCheck == 'SalesforceAccount' && vm.showTypeDefault">(default)</span>
            </label>
          </div>
          <div>
            <label>
              <input type="radio" value="SalesforceLead" ng-model="vm.accountLeadCheck" ng-change="vm.changeType()" required />
              {{vm.ResourceUtility.getString('MODEL_IMPORT_CSV_LABEL_LEAD')}} <span ng-if="vm.accountLeadCheck == 'SalesforceLead' && vm.showTypeDefault">(default)</span>
            </label>
          </div>
        </div>          
      </div>
      
      <div class="form-group" ng-class="{ 'has-error' : uploadForm.modelDisplayName.$invalid && !uploadForm.modelDisplayName.$pristine, 'is-pristine' : uploadForm.modelDisplayName.$pristine }">
        <label>{{vm.ResourceUtility.getString('MODEL_IMPORT_CSV_LABEL_MODELNAME')}}</label>
        <input 
          type="text" 
          class="form-control" 
          id="modelDisplayName"
          name="modelDisplayName"
          ng-change="vm.changeName()"
          ng-model="vm.modelDisplayName"
          ng-value="vm.modelDisplayName"
          ng-minlength="2"
          ng-maxlength="50"
          placeholder="Example: US-Enterprise-model"
          required />
        <p class="help-block">{{vm.ResourceUtility.getString('MODEL_IMPORT_CSV_ERROR_MODELNAME')}}</p>
      </div>
      
      <div class="form-group">
        <label>{{vm.ResourceUtility.getString('MODEL_IMPORT_CSV_LABEL_MODELDESCRIPTION')}} <span>(optional)</span></label>
        <textarea 
          row="8"
          cols="30"
          name="modelDescription" 
          ng-model="vm.modelDescription"
          ng-keyup="vm.keyupTextArea($event)"
          id="modelDescription" 
          class="form-control" />
      </div>
      <div class="row form-actions">
        <div class="pull-left">
            <button 
                type="button" 
                ui-sref="home.models"
                class="button white-button block-button">
              {{vm.ResourceUtility.getString('MODEL_IMPORT_CSV_BUTTON_CANCEL')}}</button>
        </div>
        <div class="pull-right">
            <button 
                type="button" 
                class="button orange-button block-button"
                ng-disabled="uploadForm.$invalid || (!vm_uploader.uploaded)"
                ng-click="vm.clickNext(vm_uploader.choosenFileName)">
              {{vm.ResourceUtility.getString('MODEL_IMPORT_CSV_BUTTON_NEXT')}}
            </button>
        </div>
      </div>
    </div><!-- End .six.columns -->
  </div><!-- End .container.row -->
</form>
</section>
