<section class="container setup-import">
<form name="uploadForm" ng-controller="csvImportController" novalidate>
  <div class="row">
    <div class="columns six offset-three">
        <!-- Error messaging
        <div data-ng-show="showError">
            <div class="alert alert-danger">
                <span><i class="fa fa-exclamation-circle fa-inverse"></i>Error messaging goes here</span>
                <a class="close" href="javascript:void(0)" data-ng-click="closeErrorClick($event)"><i class="fa fa-times fa-inverse"></i></a>
            </div>
        </div>
        -->
        <div class="form-group" ng-class="{ 'has-error' : uploadForm.modelName.$invalid && !uploadForm.modelName.$pristine }">
          <label>Model Name <span class="more-info" tooltips tooltip-append-to-body="true" tooltip-template="tooltip" tooltip-side="right">&#105;</span></label>
          <input 
            type="text" 
            class="form-control" 
            name="modelName" 
            ng-model="modelName" 
            ng-minlength="1"
            placeholder="Example: US Enterprise model"
            required />
          <p class="help-block">* Model Name must be specified.</p>
        </div>

        <div class="form-group file-upload" ng-class="{ 'has-error' : uploadForm.csvFileName.$invalid && !uploadForm.csvFileName.$pristine }">

          <label for="loadfile">Upload CSV File <span class="more-info" tooltips tooltip-append-to-body="true" tooltip-template="tooltip">&#105;</span></label>
          <input 
            id="uploadFile" 
            class="form-control" 
            disabled="disabled"
            placeholder="Choose File" />
          <div class="fileUpload button blue-button">
              <span>Browse...</span>
              <input 
                id="uploadBtn"
                name="csvFileName"
                ng-model="csvFileName"
                required
                type="file" 
                class="upload"
                csv-uploader="csvFile" />
          </div>
          <p class="help-block">* Please choose a file to upload.</p>
        </div>

        <!-- Script needed to get filepath and place it into the input field -->
        <script>
          document.getElementById("uploadBtn").onchange = function () {
              document.getElementById("uploadFile").value = this.value.substring(12);
          };
        </script>

        <div class="form-group">
          <div class="toggle-check">
            <label for="account-lead-check">Account Based</label>
            <input type="checkbox" name="account-lead-check" ng-model="accountLeadCheck" id="account-lead-check" class="toggle-switch" />
            <label for="account-lead-check">Lead Based</label>
          </div>          
        </div>

    </div><!-- End .six.columns -->
  </div><!-- End .container.row -->

  <div class="row form-actions">
    <div class="three columns offset-three">
        <button 
            type="button" 
            ui-sref="models"
            class="button gray-button block-button">
          Cancel</button>
    </div>
    <div class="three columns">
        <button 
            type="button" 
            class="button orange-button block-button"
            ng-disabled="uploadForm.$invalid"
            ng-click="uploadFile()">
          Start the Data Import
        </button>
    </div>
  </div>

</form>
</section>