section.container.setup-import {
    font-size: 1.4em;
    margin-top: 2em;
    
    label {
        color: #000;
        
        span {
            color: #999;
        }
        span.more-info {
            color: #fff;
        }
    }
}