section.container.setup-import {
    font-size: 1.4em;
    margin-top: 2em;
    
    label {
        color: #000;
        
        span {
            color: #999;
        }
        span.more-info {
            color: #fff;
        }
    }
}
.lattice-mapping {
    .summary {
        padding: 20px;
        margin-bottom: 30px;
        text-align: left;
    }
    .modal-body {
        padding: 20px;
    }
    tr td:nth-child(2) {
        text-align: right;
    }
}