section.container.setup-import {
    font-size: 1.4em;
    margin-top: 2em;
    
    label {
        color: #000;
        
        span {
            color: #999;
        }
        span.more-info {
            color: #fff;
        }
    }
    
    textarea {
        overflow: hidden;
    }

    div.toggle-check {
        vertical-align: top;
        font-size: 1em;
        margin-right: .8em;
        margin-top: 0.2em;
        
        div {
            
        }
        label {

        }
        input {
            margin-top: 0.5em;
            margin-right: 0.5em;
            margin-left: 1.5em;
        }
    }

    div.progress {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border-radius: 0;
        box-shadow: 1px 0 1px 0px #aaa;
        transition: all 500ms linear;

        &.processing {
            background: #e2e2e2;
        }
        &.compressing {
            transition: all 1000ms linear;
            background: #dfdfdf;
        }
        &.uploading {
            background: #85d7ff;
        }
        &.uploading.finished {
            background: #a2e264;
            width: 100%;
        }
    }

    i {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 0.6em;

        &.fa-close {
            color: #666;
        }

        &.fa-check {
            color: darkolivegreen;
        }
        &.fa-save {
            pointer-events: none;
        }
    }
}


/*
Create Model: Custom Fields Page
================================================================== */
section.container.custom-fields {
    margin-top: 3em;
    hgroup {
        position: relative;
        margin-bottom: 49px;
        padding-top: 19px;
        margin-top: 14px;
        &:before,
        &:after {
            display: none;
            content: '';
            position: absolute;
            top: 0;
        }
        &:before {
            background-image: url("../images/bkg-field-mapping-import.png");
            background-position: top left;
            background-repeat: no-repeat;
            background-size: 150px 95px;
            top: 24px;
            width: 150px;
            height: 95px;
        }
        &:after {    
            background-image: url("../images/bkg-field-mapping-lattice.png");
            background-position: top right;
            background-repeat: no-repeat;
            background-size: 166px 82px;
            right: 0;
            top: 30px;
            width: 166px;
            height: 82px;
        }
    }
    h2, h3 {
        text-align: center;
    }
    h2 {
        font-size: 36px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    h3 {
        font-size: 20px;
        font-weight: normal;
        text-transform: none;
    }
    thead {
        border-bottom: #333 solid 1px;
    }
    tr {
        display: flex;
        align-items: stretch;
        th {
            padding: .5em 1em 1em;
            margin: 0;
            &:last-child {
                flex: 1;
            }
            &:first-child {
                text-align: right;
                border-right: #b0b0b0 solid 1px;
            }
            &:nth-child(3) {
                font-style: italic;
                color: #b0b0b0;
            }
        }
        td.field_mapping_label {
            border-right: #b0b0b0 solid 1px;
            padding-right: 1em;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            label {
                word-wrap: break-word;
                padding: 0;
                margin: 0;
            }
        }
        td {
            padding: 0.3em 0em .3em 1em;
            margin: 0;
            vertical-align: middle;
            display: flex;
            align-items: center;
                
            &:last-child {
                flex: 1;
            }
            &:first-child {
                text-align: right;
            }
            &:nth-child(3) {
                /*width: 137px;*/
                padding-right: 0;
            }
            select {
                display: inline-block;
                font-size: 14px;
                height: 35px;
                border-radius: 0;
                -moz-border-radius: 0;
                -webkit-border-radius: 0;
                /*
                &:nth-child(1) {
                    width:40%;
                    margin-right: 3%;
                }
                &:nth-child(2) {
                    width: 56%;
                }
                */
            }
            input {
                display: inline-block;
            }
        }
    }
    .actions {
        padding-top: 20px;
        margin-top: 50px;
        border-top: #b0b0b0 solid 1px;
    }
    div.error-message {
        width: 600px;
        margin: 0 auto 2em;
        overflow: hidden;
        height: 2.4em;
        background: #f03213;
        color: white;
        font-size: 1.2em;
        padding: 0.5em;
    }
}

/* Map to Lattice Fields Modal */
.lattice-mapping {
    .summary {
        padding: 20px;
        margin-bottom: 30px;
        text-align: left;
    }
    .modal-body {
        padding: 20px;
        height: 44em;
    }
    tbody {
        color: #3488c6;
    }
    tr td:nth-child(2) {
        text-align: right;
    }
    tbody tr:hover, tbody tr:nth-child(odd):hover {
        cursor: pointer;
        background: #f1f1f1;
    }
}



/*
Create Model: Validate Import View
================================================================== */
.import-summary {
    h2 {
        font-size: 1.35em;
        font-weight: bold;
        margin-bottom: 10px;
        height: 2.4em;
    }
    h3 {
        text-align: center;
        font-size: 3em;
        margin: 0;
    }
    .summary-list dt {
        color: #333;
        font-size: 0.9em;
        text-transform: initial;
    }
}
.uploaded-leads, .excluded-leads, .used-leads {
    padding-top: 110px;  
    background-repeat: no-repeat;
}
.uploaded-leads {
    background-image: url("../images/ico-uploaded-lead-23.svg");
    background-position: center 48px;
    background-size: 114px;
}
.excluded-leads {
    background-image: url("../images/ico-excluded-lead-24.svg");
    background-position: center 42px;
    background-size: 56px;
}
.used-leads {
    background-image: url("../images/ico-used-lead-25.svg");
    background-position: center 43px;
    background-size: 53px;
}



/*
Media Queries
=================================================================== */
@media screen and (min-width: 768px) {
    section.container.custom-fields {
        hgroup {
            &:before,
            &:after {
                display: block;
            }
        }
    }
}
@media screen and (min-width: 960px) {
    section.container.custom-fields {
        hgroup {
            &:before {
                background-size: 212px 122px;
                top: 16px;
                width: 212px;
                height: 122px;
            }
            &:after {    
                background-size: 230px 105px;
                top: 25px;
                width: 230px;
                height: 105px;
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    section.container.custom-fields {
        hgroup {
            &:before {
                background-size: 247px 148px;
                width: 247px;
                height: 148px;
                top: 0;
            }
            &:after {    
                background-size: 271px 121px;
                top: 8px;
                width: 271px;
                height: 121px;
            }
        }
    }
}
