<style type="text/css">
	section.custom-fields td select {
	    font-size: 1.3em;
	    border: 1px solid #bbb;
	    color: #666;
	    padding: 6px;
	}
</style>
<section class="container row custom-fields">
		<div class="six columns offset-three">

			<p>Displaying {{ vm.data.length }}.</p>

			<table class="unstyled">
				<thead>
					<tr>
						<th>Custom Field Name</th>
						<th>Type</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.data">
						<td>
							<label class="form-control" for="columnType_{{$index}}">{{ item.columnName }}</label>
						</td>
						<td>
							<select class="custom-select" name="columnType_{{$index}}" ng-model="item.columnType" value="{{item.columnType}}">
								<option value="STRING" selected>STRING</option>
								<option value="DOUBLE">DOUBLE</option>
								<option value="BOOLEAN">BOOLEAN</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="row">
				<div class="six columns">
					<button ui-sref="models.import" class="button gray-button block-button" type="button">Go Back</button>
				</div>
				<div class="six columns">
					<button ng-click="vm.csvSubmitColumns($event)" class="button orange-button block-button" type="button">Looks Fine, Next</button>
				</div>
			</div>
			<ul>
				<li>
					<div class="row">
						<div class="six columns">

						</div>
						<div class="six columns">
						</div>
					</div>
				</li>
			</ul>

		</div>
</section>
<!--
<script>
  $( document ).ready(function() {
    $(".custom-select").selectpicker();
  });
</script>
-->