<section class="container row custom-fields">
		<div class="six columns offset-three">

			<p>Displaying 1-3 of 3.</p>

			<table class="unstyled">
				<thead>
					<tr>
						<th>Custom Field Name</th>
						<th>Type</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="text" class="form-control" value="Custom_Field_01" /></td>
						<td>
							<select class="custom-select">
								<option>VarChar</option>
								<option>VarChar</option>
								<option>VarChar</option>
								<option>VarChar</option>
							</select>
						</td>
					</tr>
					<tr>
						<td><input type="text" class="form-control" value="Custom_Field_02" /></td>
						<td>
							<select class="custom-select">
								<option>VarChar</option>
								<option>VarChar</option>
								<option>VarChar</option>
								<option>VarChar</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="row">
				<div class="six columns"><button type="button" class="button gray-button block-button">Go Back</button></div>
				<div class="six columns"><button type="button" class="button orange-button block-button">Looks Fine, Next</button></div>
			</div>
			<ul>
				<li>
					<div class="row">
						<div class="six columns">

						</div>
						<div class="six columns">
						</div>
					</div>
				</li>
			</ul>

		</div>
</section>

<script>
  $( document ).ready(function() {
    $(".custom-select").selectpicker();
  });
</script>