<section class="container custom-fields">

	<div class="row">
		<div class="error-message text-center" ng-show="errors">
			<div>{{ errors }}</div>
		</div>
	</div>

	<div class="row">
		<div class="ten columns offset-one">
			<hgroup>
				<h2>Field Mapping</h2>
				<h3>You must map to Lattice Fields: <br/><span class="orange-text">email</span>, <span class="orange-text">website</span>, <span class="orange-text">record ID</span></h3>
			</hgroup>
		</div>
	</div>

	<div class="row">
		<div class="ten offset-one columns">

			<!-- <p ng-hide="errors">{{ResourceUtility.getString('MODEL_COLUMNS_CSV_LABEL_DISPLAYING', [data.length])}}</p> -->

			<table ng-hide="errors" class="unstyled">
				<thead>
					<tr>
						<th class="three columns">{{ResourceUtility.getString('MODEL_COLUMNS_CSV_LABEL_FIELDNAME')}}</th>
						<th class="four columns">{{ResourceUtility.getString('MODEL_COLUMNS_CSV_LABEL_TYPE')}}</th>
						<th class="four columns">&nbsp;</th>
						<th class="one columns">{{ResourceUtility.getString('MODEL_COLUMNS_CSV_CUSTOM_FIELD_TYPE')}}</th>
					</tr>
				</thead>
				<tbody>
                    <tr ng-repeat="fieldMapping in fieldMappings">
						<td class="three columns field_mapping_label">
							<label for="fieldType_{{$index}}">{{ fieldMapping.userField }}</label>
						</td>
						<td class="four columns field_mapping_inputs">
                            <select class="form-control" ng-init="selectedOption = (fieldMapping.mappedToLatticeField) ? mappingOptions[1] : mappingOptions[0]" ng-model="selectedOption" ng-change="mappingChanged(fieldMapping, selectedOption)"
									ng-options="mappingOption as mappingOption.name for mappingOption in mappingOptions">
                            </select>
						</td>
						<td class="four columns field_mapping_inputs">

					        <input 
					          type="text" 
					          class="form-control" 
					          name="fieldMappingInput"
					          ng-model="fieldMapping.mappedField"
					          ng-value="fieldMapping.mappedField"
					          ng-hide="selectedOption.id == 2"
					          ng-show="fieldMapping.mappedField || selectedOption.id == 0"
					          ng-disabled="fieldMapping.mappedToLatticeField"
					          placeholder="" />
						</td>
						<td class="one columns field_mapping_type">
							<select 
									class="custom-select" 
									name="columnType_{{$index}}" 
									ng-model="fieldMapping.fieldType" 
									ng-init="fieldMapping.fieldType=fieldMapping.fieldType" 
									ng-disabled="fieldMapping.mappedToLatticeField"
									ng-hide="selectedOption.id == 2"
									value="{{fieldMapping.fieldType}}">
								<option value="TEXT" selected>Text</option>
								<option value="NUMBER">Number</option>
								<option value="BOOLEAN">Boolean</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

	<div class="row">
		<div class="ten columns offset-one actions">
			<div class="pull-left" ng-if="errors">
				<button ui-sref="home.models.import" class="button gray-button" type="button">
					{{ResourceUtility.getString('MODEL_COLUMNS_CSV_BUTTON_BACK')}}
				</button>
			</div>
			<div class="pull-left" ng-hide="errors">
				<button ui-sref="home.models.import" class="button gray-button" type="button">
					{{ResourceUtility.getString('MODEL_COLUMNS_CSV_BUTTON_BACK')}}
				</button>
			</div>
			<div class="pull-right" ng-hide="errors">
				<button ng-click="csvSubmitColumns(); NextClicked = true;" ng-disabled="NextClicked" class="button orange-button" type="button">
					{{ResourceUtility.getString('MODEL_COLUMNS_CSV_BUTTON_NEXT')}}
				</button>
			</div>
		</div>
	</div>


</section>
<!-- 
<script>
  $( document ).ready(function() {
    $(".custom-select").selectpicker();
  });
</script>
 -->