<section class="import-job-status ng-scope">
    <div class="row">
        <div class="six columns offset-three">    

            <h2>Build Model: {{modelDisplayName}}</h2>
            <dl data-ng-if="jobStatus != null">
                <dt>Job Started</dt>
                <dd>
                    <span class="chevron-content icon" data-ng-if="jobStatus == 'Pending'">
                        <i class="fa fa-spinner fa-pulse"></i>
                    </span>
                    <span class="chevron-content icon" data-ng-if="startTimestamp">
                        <i class="fa fa-check"></i>
                    </span>
                    <span>{{startTimestamp | date: 'MM/dd/yyyy h:mma'}}</span>
                </dd>
            </dl>
            <dl data-ng-if="jobStepsRunningStates.load_data || jobStepsCompletedStates.load_data || stepFailed == 'load_data'">
                <dt>Loading Data</dt>
                <dd>
                    <span class="chevron-content icon" data-ng-if="jobStepsRunningStates.load_data">
                        <i class="fa fa-spinner fa-pulse"></i>
                    </span>
                    <span class="chevron-content icon" data-ng-if="jobStepsCompletedStates.load_data">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="icon" data-ng-if="stepFailed == 'load_data'">
                        <i class="fa fa-close"></i>
                    </span>
                    <span>{{stepsCompletedTimes.load_data | date: 'MM/dd/yyyy h:mma'}}</span>
                </dd>
            </dl>
            <dl data-ng-if="jobStepsRunningStates.generate_insights || jobStepsCompletedStates.generate_insights || stepFailed == 'generate_insights'">
                <dt>Matching to Data Cloud</dt>
                <dd>
                    <span class="chevron-content icon" data-ng-if="jobStepsRunningStates.generate_insights">
                        <i class="fa fa-spinner fa-pulse"></i>
                    </span>
                    <span class="chevron-content icon" data-ng-if="jobStepsCompletedStates.generate_insights">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="icon" data-ng-if="stepFailed == 'generate_insights'">
                        <i class="fa fa-close"></i>
                    </span>
                    <span>{{stepsCompletedTimes.generate_insights | date: 'MM/dd/yyyy h:mma'}}</span>
                </dd>
            </dl>
            <dl data-ng-if="jobStepsRunningStates.create_global_target_market || jobStepsCompletedStates.create_global_target_market || stepFailed == 'create_global_target_market'">
                <dt>Building Models...</dt>
                <dd>
                    <span class="chevron-content icon" data-ng-if="jobStepsRunningStates.create_global_target_market">
                        <i class="fa fa-spinner fa-pulse"></i>
                    </span>
                    <span class="chevron-content icon" data-ng-if="jobStepsCompletedStates.create_global_target_market">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="icon" data-ng-if="stepFailed == 'create_global_target_market'">
                        <i class="fa fa-close"></i>
                    </span>
                    <span>{{stepsCompletedTimes.create_global_target_market | date: 'MM/dd/yyyy h:mma'}}</span>
                </dd>
            </dl>

            <div data-ng-if="jobStatus == 'Failed'">
                <span>Create Model Job: Failed</span>
            </div>


            <div data-ng-if="jobStatus == 'Completed'">
                <a ui-sref="home.jobs.status.csv({jobId: job.id})">
                    <i class="fa fa-list-alt"></i>View Report
                </a>
            </div>


        </div>
    </div>
</section>
