<div class="modal-dialog modal-md lattice-mapping" data-ng-controller="SelectFieldsController">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{ResourceUtility.getString('MAP_FIELD_TITLE')}}</h4>
        </div>
        <div class="modal-body">
            <div class="summary gray-summary-list">
                <p>Select which field {{fieldName}} should map to.</p>
            </div>
            <div class="row">
                <table class="no-stripes">
                    <thead>
                        <tr>
                            <th>{{ResourceUtility.getString('SELECT_FIELDS_FIELD_NAME')}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="latticeSchemaField in latticeSchemaFields |
                                        startFrom: (current - 1) * pagesize |
                                        limitTo: pagesize" 
                            ng-click="mapLatticeField(latticeSchemaField)">
                            <td>{{latticeSchemaField.name}}</td>
                            <td>{{getRequiredType(latticeSchemaField)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" ng-init="pagesize = 10; current = 1" ng-show="max > 1">
                <div class="twelve columns">
                    <pd-pagination-controls current="current" max="max = latticeSchemaFields.length / pagesize">
                    </pd-pagination-controls>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="button gray-button" type="button" ng-click="cancelClicked()">Close</button>
        </div>
    </div>
</div>
