<section class="container import-summary">
	<div class="row text-center">

		<div class="three columns offset-two uploaded-leads">
			<h2>All Leads that <br/>were Uploaded</h2>
			<h3 class="blue-text">10,000</h3>
		</div>
		<div class="three columns excluded-leads">
			<h2>All Leads that <br/>were Excluded</h2>
			<h3 class="error-text">2,100</h3>

			<dl class="summary-list">
				<dt>Required Field Missing</dt>
				<dd class="error-text">1,500</dd>
				<dt>Field Malformed</dt>
				<dd class="error-text">500</dd>
				<dt>Row Error</dt>
				<dd class="error-text">100</dd>
			</dl>

		</div>
		<div class="three columns used-leads">
			<h2>Leads Used to <br/>Create the Model</h2>
			<h3 class="success-text">7,900</h3>
		</div>

	</div>

	<div class="row">
		<div class="three columns offset-three">
			<button type="button" class="button gray-button block-button">Go Back</button>
		</div>
		<div class="three columns">
			<button type="button" class="button orange-button block-button">Create Model</button>
		</div>
	</div>

</section>