#setup {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 34px;
}

#setup .setup-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom:0;
  width: 240px;
  background: white;
}

#setup .setup-sidebar .fa {
  width: 12px;
}

#setup .setup-sidebar .nav-stacked > li {
  margin-top: 0;
}

#setup .setup-sidebar li.active > a,
#setup .setup-sidebar li.active > a:focus,
#setup .setup-sidebar li.active > a:hover {
  color: white;
  background-color: #337ab7;
}

#setup .setup-sidebar .ident {
  margin-left: 16px;
}

#setup .setup-main-panel {
  position: absolute;
  left: 243px;
  top: 0;
  right: 0;
  bottom:0;
  padding: 10px;
  background: white;
  overflow: auto;
}

#setup .setup-main-panel .manage-fields {
  position: relative;
}

#setup .setup-main-panel .title h2 {
  display: inline-block;
}

#setup .setup-main-panel .title button {
  margin: 10px 0 0 20px;
  float: right;
}

#setup .setup-main-panel .form-control {
  display: inline-block;
  width: 240px;
  margin-right: 32px;
}

#setup .setup-main-panel .form-group .btn {
  margin-top: -1px;
}

#setup .setup-main-panel .checkbox {
  display: inline-block;
  margin-left: 20px;
}

#setup .setup-main-panel .fields-panel {
  overflow: hidden;
}

#setup .setup-main-panel table {
  table-layout: fixed;
}

#setup .setup-main-panel table th.k-state-focused {
  box-shadow: none;
}

#setup .setup-main-panel table td {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

#setup .setup-main-panel table td .disabled {
  color: #bbb;
}

#setup .setup-main-panel .k-grid table input[type="text"] {
  height: 2em;
  text-indent: 0;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

#setup .setup-main-panel table .k-dropdown .k-input {
  height: 1.7em;
  line-height: 1.7em;
  text-indent: .6em;
}

#setup .setup-main-panel .warning:after {
   content: "\f071";
}

#setup .setup-main-panel .k-icon {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.k-animation-container, .k-list-container > *, .k-list-container ul, .k-list-container li {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

#setup .field-details {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
}

#setup .field-details .data-table {
  width: 580px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

#setup .field-details tbody {
  border: none;
}

#setup .field-details th {
  padding: .5em 1em;
  background: #f5f5f5;
  font-size: 14px;
}

#setup .field-details td {
  padding: .2em 1em;
}

#setup .field-details th.key {
  width: 200px;
}

#setup .field-details .data-table tr:nth-child(odd) {
  background: white;
}

#setup .field-details .data-table tr:nth-child(even) {
  background: #f5f5f5;
}

#setup .field-details .form-control {
  width: 320px;
}