.import-validatetemplate {
    .fa-check {
        color: green;
    }
    .fa-exclamation-triangle {
        color: red;
    }
    strong {
        font-weight: bold;
    }
    ul {
        margin-top: 20px;
    }
    h2 {
        margin-bottom: 0;
    }
}