<div class="js-blocking-event-container">
    <div class="fillSpace blocking-event"></div>
    <%if(message !== ""  ) {  %> <span class="blocking-event-message"><%= message %></span> <%} %>
    <img class="centered blocking-event-spinner" src="assets/CommonAssets/images/spinner_loading_with_background.gif"/>
</div>