<div class="js-dante-play-details-container dante-play-details-container">
    <!--
    <div class='js-dante-play-details-nav-container dante-play-details-nav-container scroll-y'>
        <div class='js-dante-play-details-nav-tiles-container dante-play-details-nav-tiles-container'></div>
    </div>
    -->
    <div class='js-dante-play-details-content-container dante-play-details-content-container scroll-y'>
        <!--
        <div class='js-dante-play-details-header-container'> </div>
        -->
        <div class='js-dante-play-details-tab-container'> </div>
    </div>
</div>