<form name="form">
    <ul class="fields">
        <li>
            <label for="options">% Margin in last</label>
            <select id="options"
                class="form-control"
                required="true"
                ng-class="{'required': true}"
                ng-init="vm.options['Margin']['WITHIN']['Val'] = vm.getVals('WITHIN', vm.steps[vm.step].data.Margin)" 
                ng-model="vm.options['Margin']['WITHIN']['Val']" 
                ng-change="vm.setOptions()"
                ng-options="option for option in vm.newArray(vm.periods[vm.options['Margin']['WITHIN']['Period']])"></select>
            <select id="options"
                class="form-control"
                ng-init="vm.options['Margin']['WITHIN']['Period'] = vm.getPeriod('WITHIN', vm.steps[vm.step].data.Margin, null, 's')" 
                ng-model="vm.options['Margin']['WITHIN']['Period']" 
                ng-change="vm.setOptions()"
                ng-options="key as key for (key, value) in vm.periods"></select>
        </li>
    </ul>
</form>