<form name="form">
    <ul class="fields">
        <li>
            <label for="options">% Change Spend in last</label>
            <select id="options"
                class="form-control"
                required="true"
                ng-class="{'required': true}"
                ng-init="vm.options['SpendChange']['WITHIN']['Val'] = vm.getVals('WITHIN', vm.steps[vm.step].data.SpendChange)" 
                ng-model="vm.options['SpendChange']['WITHIN']['Val']" 
                ng-change="vm.setOptions()"
                ng-options="option for option in vm.newArray(vm.periods[vm.options['SpendChange']['WITHIN']['Period']])"></select>
            <select id="options"
                class="form-control"
                ng-init="vm.options['SpendChange']['WITHIN']['Period'] = vm.getPeriod('WITHIN', vm.steps[vm.step].data.SpendChange, null, 's')" 
                ng-model="vm.options['SpendChange']['WITHIN']['Period']" 
                ng-change="vm.setOptions()"
                ng-options="key as key for (key, value) in vm.periods"></select>
        </li>
        <li>
            <label for="options">% Change Spend prior to</label>
            <select id="options"
                class="form-control"
                required="true"
                ng-class="{'required': true}"
                ng-init="vm.options['SpendChange']['BETWEEN']['Val'] = vm.getVals('BETWEEN', vm.steps[vm.step].data.SpendChange)" 
                ng-model="vm.options['SpendChange']['BETWEEN']['Val']" 
                ng-change="vm.setOptions()"
                ng-options="option for option in vm.newArray(vm.periods[vm.options['SpendChange']['BETWEEN']['Period']])"></select>

            <strong ng-init="vm.options['SpendChange']['BETWEEN']['Period'] = vm.getPeriod('BETWEEN', vm.steps[vm.step].data.SpendChange, null, 's')">{{vm.getPeriod('BETWEEN', vm.steps[vm.step].data.SpendChange, null, 's')}}</strong>
        </li>
    </ul>
</form>