@import "../colors.scss";
#react-banner-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 16px;

  .le-banner {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: 30px;

    .le-banner-icon-container {
      padding: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: $saphire-three;
      // border: 1px solid $saphire-three;
    }

    &.banner-error {
      @extend .le-banner;
      border: 1px solid $ruby-two;
      .le-banner-icon-container{
        background-color: $saphire-three;
        border: 1px solid $saphire-three;
      }
      .le-banner-icon::after {
        content: "\f071";
        font-family: FontAwesome;
      }
    }

    &.banner-info {
      @extend .le-banner;
      border: 1px solid $saphire-three;
      .le-banner-icon-container{
        background-color: $saphire-three;
        border: 1px solid $saphire-three;
      }
      .le-banner-icon::after {
        content: "\f05a";
        font-family: FontAwesome;
      }
    }

    &.banner-success {
      @extend .le-banner;
      border: 1px solid $jade;

      .le-banner-icon-container{
        background-color: $saphire-three;
        border: 1px solid $saphire-three;
      }

      .le-banner-icon::after {
        content: "\f05a";
        font-family: FontAwesome;
      }
    }

    &.banner-warning {
      @extend .le-banner;
      border: 1px solid $amber-two;
      
      .le-banner-icon-container{
        background-color: $amber-two;
        border: 1px solid $amber-two;
      }

      .le-banner-icon::after {
        content: "\f071";
        font-family: FontAwesome;
      }
    }
    .le-banner-content{
      flex: 1;
      display: flex;
      border: 1px solid orange;
      flex-direction: column;
      .le-banner-title {
        font-weight: bold;
      }
    }

    .le-banner-close-container{
      padding: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .blue-badge {
      cursor: pointer;
    }
    .long-word {
      //overflow-wrap: break-word;
      word-wrap: break-word;
    }
  }
}
