@import '../colors.scss';

.le-tool-bar {
    margin-top: 2em;
    padding: 0 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &.vertical{
        margin-top: 0;
        flex-direction: column;
    }
    .left {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    .right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
    &.space-between{
      justify-content: space-between;
    }
  }