.pd-summary-navdash {
    background: #e7e7e7;
    color: #333;
    height: 150px;

    .container .row {
        height: 100%;
        display: flex;

        .pd-summary-panel {
            background-color: #f1f1f1;
            padding: 1em;
            margin-top: 1em;
            margin-bottom: 1em;
            text-align: center;

            div.graph {
                height: 60px;
            }

            span {

            }
        }
    }
}