<div class="container pd-industry" ng-controller="BuilderCtrl">
    <div class="row page-header">
        <h4 class="columns two">{{ParentKey}} > {{AttrKey}} ({{total}})</h4>
        <span class="columns ten">
            <button type="button" class="button icon-button white-button">
                <span class="fa fa-filter"></span>
            </button>
            <button type="button" class="button icon-button white-button">
                <span class="fa fa-sort-amount-desc"></span>
            </button>
            <button class="button orange-button">
                Save Attributes
            </button>
        </span>
    </div>
    <div class="row builder-subheader">
    	<ul class="columns twelve link-nav">
    		<li><a href="#">Show All</a></li>
    		<li><a href="#">Only Selected</a></li>
    	</ul>
    </div>

    <div class="row industry-list" ng-repeat="items in lists">

        <div class="four columns list-item" ng-repeat="item in items">
        	<div class="tile">
        		<div class="row">
        			<div class="nine columns">
	        			<input type="checkbox" id="tile1" />
	        			<label for="tile1">{{item.AttrValue}}</label>
        			</div>
        			<div class="three columns">
        				{{item.lift || "1.9x"}} {{item.revenue || "$12,543,210"}}
        			</div>
        		</div>
        		<div class="row">
        			<div class="six columns">
        				<dl class="stats">
        					<dt>Available from Lattice</dt>
        					<dd><a href="#">{{item.lattice || "2,456,789"}}</a></dd>
        				</dl>
        				<dl class="stats">
        					<dt>All in your database</dt>
        					<dd><a href="#">{{item.database || "154,321"}}</a></dd>
        				</dl>
        				<dl class="stats">
        					<dt>Your customers</dt>
        					<dd><a href="#">{{item.customers || "123"}}</a></dd>
        				</dl>
        			</div>
        			<div class="six columns">
        				visualization
        			</div>
        		</div>
        	</div><!-- End .tile -->
        </div><!-- End .three.columns -->

    </div><!-- End .row -->
</div>