@import "entry/entry.component.scss";
@import "entry/accounts/accounts.component.scss";
@import "entry/contacts/contacts.component.scss";
@import "entry/productpurchases/productpurchases.component.scss";
@import "entry/productbundles/productbundles.component.scss";
@import "content/accountids/accountids.component.scss";
@import "content/contactids/contactids.component.scss";
@import "content/transactionids/transactionids.component.scss";
@import "content/productids/productids.component.scss";
@import "content/thirdpartyids/thirdpartyids.component.scss";
@import "content/latticefields/latticefields.component.scss";
@import "content/customfields/customfields.component.scss";
@import "content/jobstatus/jobstatus.component.scss";

.file-import-content {
    .header h2 {
        background: none;
        padding: 0;
    }
    .ng-pristine .form-control.required,
    .ng-pristine .form-control:required {
        border-left-width: 5px;
        border-left-color: #EF6A30;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
}

