<div class="query-filter query-{{group}}">
    <div class="query-filter-action">
        <a href ng-click="onMove()" data-stooltip="Move to {{group.toUpperCase() === 'ANY' ? 'All' : 'Any'}}">
            <i class="fa arrow"></i>
        </a>
    </div>
    <div class="query-filter-name">
        <div class="query-filter-table">
            <p class="category-{{attribute.categoryClassName}}">{{attribute.category}}</p>
            <p>{{attribute.displayName}}</p>
        </div>
    </div>
    <div class="query-filter-type">
        <div class="query-filter-table">
            <div class="query-filter-row">
                <div class="query-filter-cell">has a value of</div>
            </div>
        </div>
    </div>
    <!-- leads removed for segment:demo:fixme -->
    <div class="query-filter-buckets">
        <div class="query-filter-table">
            <div class="query-filter-row query-filter-header">
                <div class="query-filter-cell query-filter-value">Value</div>
                <!-- <div class="query-filter-cell query-filter-lead">Leads</div> -->
                <div ng-if="showLift" class="query-filter-cell query-filter-lift">Lift</div>
                <div class="query-filter-cell query-filter-delete">&nbsp;</div>
            </div>
            <div class="query-filter-row" ng-repeat="b in attribute.buckets">
                <div class="query-filter-cell query-filter-value">{{b.range | QueryRange}}</div>
                <!-- <div class="query-filter-cell query-filter-lead"></div> -->
                <div ng-if="showLift" class="query-filter-cell query-filter-lift">
                    <div ng-if="b.lift" class="query-lift-highlight">{{b.lift}}</div>
                    <div ng-if="b.lift === undefined"><i class="fa fa-spinner fa-spin"></i></div>
                </div>
                <div class="query-filter-cell query-filter-delete"><a href ng-click="vm.deleteBucket($index)">&times;</a></div>
            </div>
        </div>
    </div>
</div>
