<div class="query-filter query-{{group}}">
    <div class="query-filter-action">
        <a href ng-click="onMove()" data-stooltip="Move to {{group.toUpperCase() === 'ANY' ? 'All' : 'Any'}}">
            <i class="fa arrow"></i>
        </a>
    </div>
    <div class="query-filter-name">
        <div class="query-filter-table">
            <p>{{attribute.category}}</p>
            <p>{{attribute.column}}</p>
        </div>
    </div>
    <div class="query-filter-type">
        <div class="query-filter-table">
            <div class="query-filter-row">
                <div class="query-filter-cell">has a value of</div>
            </div>
        </div>
    </div>
    <div class="query-filter-buckets">
        <div class="query-filter-table">
            <div class="query-filter-row query-filter-header">
                <div class="query-filter-cell">Value</div>
                <div class="query-filter-cell">Leads</div>
                <div class="query-filter-cell">Lift</div>
                <div class="query-filter-cell query-filter-delete">&nbsp;</div>
            </div>
            <div class="query-filter-row" ng-repeat="b in attribute.buckets">
                <div class="query-filter-cell">{{b.value}}</div>
                <div class="query-filter-cell">{{b.leads}}</div>
                <div class="query-filter-cell"><div class="query-filter-lift">{{b.lift}}</div></div>
                <div class="query-filter-cell query-filter-delete"><a href ng-click="vm.deleteBucket($index)">&times;</a></div>
            </div>
        </div>
    </div>
</div>
