@import "../../../../../common/widgets/layout/layout.scss";
@import "../../../../../common/widgets/colors.scss";
.le-summary-header {
    .title {
        padding-left: 35px!important;
        background: url(/assets/images/campaignoverview/campaign-ico.png) no-repeat 0.7% center;
        background-size: contain;
    }
}
.le-summary-box {
    // border: 5px solid green;
    flex: 1;
    background: rgba(28, 56, 75, 0.5);
    padding: 0.8em;
    justify-content: center;
    .title {
        font-size: 12px;
        text-transform: uppercase;
        opacity: .7;
    }
    .body {
        font-size: 14px;
        font-weight: bold;
    }
}
