<div data-ng-controller="PlayDetailsController">
    <div class="dante-play-details-container">
        
            <!-- 
            <div class="dante-play-details-nav-container float-left scroll-y" data-ng-show="showPlayDetailsNav">
                <div id="playDetailsNav" class="dante-play-details-nav-tiles-container"></div>
            </div>
            -->
        
        <div class="dante-play-details-content-container">
            <!-- 
                <div id="playDetailsHeader"> </div>
            -->
            <div id="playDetailsContent" class="dante-play-details-tab-container"> </div>
    </div>
</div>