global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  daemon

defaults
  log   global
  mode   http

  # logs which servers requests go to, plus current connections and a whole lot of other stuff 
  option   httplog
  option   dontlognull
  retries   3
  option    redispatch
  maxconn   2000
  timeout connect 5000
  timeout client  50000
  timeout server  50000

  balance roundrobin
  option forwardfor
  option http-server-close

listen stats 
  bind *:81
  stats enable
  stats scope http
  stats scope swagger
  stats scope pls
  stats scope admin
  stats scope scoringapi
  stats scope matchapi
  stats scope oauth2
  stats scope playmaker
  stats scope eai
  stats scope metadata
  stats scope dataflowapi
  stats scope workflowapi
  stats scope quartz
  stats scope modelquality
  stats scope propdata
  stats scope dellebi
  stats realm Haproxy\ Statistics
  stats uri /

frontend http
  bind *:80

  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }

  acl pls_path path_beg /pls
  acl admin_path path_beg /admin
  acl scoringapi_path path_beg /score
  acl scoringapiinternal_path path_beg /scoreinternal
  acl matchapi_path path_beg /match
  acl oauth2_path path_beg /oauth2
  acl playmaker_path path_beg /playmaker

  acl eai_path path_beg /eai
  acl metadata_path path_beg /metadata
  acl scoring_path path_beg /scoring
  acl modeling_path path_beg /modeling
  acl dataflowapi_path path_beg /dataflowapi
  acl workflowapi_path path_beg /workflowapi
  acl quartz_path path_beg /quartz
  acl modelquality_path path_beg /modelquality
  acl propdata_path path_beg /propdata
  acl dellebi_path path_beg /dellebi

  use_backend pls if pls_path
  use_backend admin if admin_path
  use_backend scoringapi if scoringapi_path
  use_backend scoringapi if scoringapiinternal_path
  use_backend matchapi if matchapi_path
  use_backend oauth2 if oauth2_path
  use_backend playmaker if playmaker_path

  use_backend eai if eai_path
  use_backend metadata if metadata_path
  use_backend scoring if scoring_path
  use_backend modeling if modeling_path
  use_backend dataflowapi if dataflowapi_path
  use_backend workflowapi if workflowapi_path
  use_backend quartz if quartz_path
  use_backend modelquality if modelquality_path
  use_backend propdata if propdata_path
  use_backend dellebi if dellebi_path

  default_backend swagger

backend swagger
  option httpchk HEAD / HTTP/1.1\r\nHost:localhost
#{{swagger}}

backend pls
  option httpchk HEAD /pls/health HTTP/1.1\r\nHost:localhost
#{{pls}}

backend admin
  option httpchk HEAD /admin/health HTTP/1.1\r\nHost:localhost
#{{admin}}

backend scoringapi
  option httpchk HEAD /scoringapi/health HTTP/1.1\r\nHost:localhost
#{{scoringapi}}

backend matchapi
  option httpchk HEAD /match/health HTTP/1.1\r\nHost:localhost
#{{matchapi}}

backend oauth2
  option httpchk HEAD /oauth2/health HTTP/1.1\r\nHost:localhost
#{{oauth2}}

backend playmaker
  option httpchk HEAD /playmaker/health HTTP/1.1\r\nHost:localhost
#{{playmaker}}

backend eai
  option httpchk HEAD /eai/v2/api-docs HTTP/1.1\r\nHost:localhost
#{{eai}}

backend metadata
  option httpchk HEAD /metadata/v2/api-docs HTTP/1.1\r\nHost:localhost
#{{metadata}}

backend dataflowapi
  option httpchk HEAD /dataflowapi/v2/api-docs HTTP/1.1\r\nHost:localhost
#{{dataflowapi}}

backend workflowapi
  option httpchk HEAD /workflowapi/v2/api-docs HTTP/1.1\r\nHost:localhost
#{{workflowapi}}

backend scoring
  option httpchk HEAD /scoring/v2/api-docs HTTP/1.1\r\nHost:localhost
#{{scoring}}

backend modeling
  option httpchk HEAD /modeling/v2/api-docs HTTP/1.1\r\nHost:localhost
#{{modeling}}

backend quartz
  option httpchk HEAD /quartz/v2/api-docs HTTP/1.1\r\nHost:localhost
#{{quartz}}

backend modelquality
  option httpchk HEAD /modelquality/v2/api-docs HTTP/1.1\r\nHost:localhost
#{{modelquality}}

backend propdata
  option httpchk HEAD /propdata/v2/api-docs HTTP/1.1\r\nHost:localhost
#{{propdata}}

backend dellebi
  option httpchk HEAD /dellebi/v2/api-docs HTTP/1.1\r\nHost:localhost
#{{dellebi}}






