<p class="product_hierarchy">
    Upload a CSV file containing one row for each product ID with its attributes in separate columns. 
    You can always update and add new hierarchy later.
</p>

<div>
    <a href="assets/downloads/product-hierarchy-sample.csv" target="_self" class="download-link"><i class="fa fa-download"></i> Download a sample CSV file that has all of the required fields.</a>
    
    <p ng-if="$ctrl.calendarInfo.mode == 'NONE'" class="configure-calendar">Note: Business calendar is not configured. <a ui-sref="home.import.calendar">Click here to setup.</a></p>
    <p ng-if="$ctrl.calendarInfo.mode !== 'NONE'" class="configure-calendar">Note: The current calendar used is {{$ctrl.calendarInfo.modeDisplayName}} Calendar. <a ui-sref="home.import.calendar">Click here to change, if required.</a></p>

    <p>{{$ctrl.ResourceUtility.getString('IMPORT_SAMPLE_FILE_LABEL')}}:</p>
    <div class="table example-table">
        <table>
            <thead>
                <tr>
                    <th>Product&nbsp;ID</th>
                    <th>Product&nbsp;Level&nbsp;1&nbsp;</th>
                    <th>Product&nbsp;Level&nbsp;2&nbsp;</th>
                    <th>Product&nbsp;Level&nbsp;3&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>721</td>
                    <td>Digital&nbsp;Goods</td>
                    <td>Multimedia</td>
                    <td>T256</td>
                </tr>
                <tr>
                    <td>722</td>
                    <td>Software</td>
                    <td>Design&nbsp;Software</td>
                    <td>T360</td>
                </tr>
                <tr>
                    <td>723</td>
                    <td>Software</td>
                    <td>Computer&nbsp;Software</td>
                    <td>T361</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>