section.ratings-engine-ai-products.container{
    p {
        // border: 1px solid yellowgreen;
        margin: 10px 0 20px 0;
        font-size: 16px;
    }
    .wizard-content {
        width: 100%;
        font-size: 16px;
       
    }
    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 1.6em;

        .title-container{
            .title{
                font-size: 1.5em;
            }
        }
    }
    .product-table-container{
        width: 100%;
        
        .product-table-toolbar{
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .search-container {
            border: 1px solid rgba(128, 128, 128, 0.44);  
            border-radius: 10px; 
            padding-left: 5px;
            padding-right: 10px;
            .search-input {
                border: 0px solid red;
                padding-left: 10px;
                padding-right: 5px;
            }
        }
        .product-selection{
            width: 20%;
        }
        
        .table-selection{
            padding: .5em 1em;
        }
    }

    .pagination-container{
        padding-top: 10px;
        padding-right: 5px;
        display: flex;
        flex-direction: row-reverse;
        border-top: 1px solid gray;
        margin: 1px;
        
        .pagination {
            width: 120px;
            height: 26px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .pagination-left {
                padding-right: 2px;
                cursor: pointer;
            }

            .pagination-right {
                padding-left: 5px;
                cursor: pointer;
            }
    
            .max-pages{
                width: 45px;
                text-align: right;
                border: 0px solid rgba(182, 178, 178, 0.309);
            }

        }
       
    }
}
