<div data-ng-controller="LeadDetailsController">
    <div class="js-dante-lead-details-container dante-play-details-container">
        <div class='js-dante-lead-details-nav-container dante-play-details-nav-container scroll-y'>
            <div class='js-dante-lead-details-nav-tiles-container dante-play-details-nav-tiles-container'></div>
        </div>
        <div class="dante-play-details-content-container">
            <div class="js-lead-details-external-container lead-details-insights-container">
                
            </div>
            <div class="js-lead-details-internal-container lead-details-insights-container">
                
            </div>
        </div>
    </div>
</div>
