input, 
textarea 
{ 
    color:              $input-text-color; 
}

input[readonly],
textarea[readonly]
{
    -ms-filter:         "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE8, IE9 */
    opacity:            .8;
    background-color:   $input-disabled-bg-color;
}

.error-message,
.invalid-input
{
    color:              $error-text-color;
}

.invalid-input
{
    border:             1px solid $error-text-color !important;
    border-radius:      2px;
}

input.search-box
{
    background: #FFFFFF url('../images/search.png') no-repeat 3% center !important;
    margin: 0px;
    padding: 0.3em 0px 0.3em 25px;
    border: 1px solid $primary-border-color;
}

.SFDC-input-container select,
.select-input select,
.text-area textArea,
.text-input-with-button input,
.select-input-with-button select,
.select-input-with-button input,
.text-input input,
.multi-select-search-control input
{
    min-width:          100%;
    border:             1px solid $input-border-color;
    font-size:          12px;
    color:              $input-text-color;
    padding:            7px;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
    -moz-outline-style: none;
    outline:            none;
	max-width:			200px;
}

.SFDC-input-container p,
.select-input p,
.text-area p,
.text-input p,
.text-input-with-button p,
.select-input-with-button p,
.multi-select-search-control p
{
    color:              $label-text-color;
    padding-bottom:     2px;
    padding-top:        4px;
}

.select-input p {
    margin-bottom:      5px;
}

.select-input select
{
    font-size:          12px;
    padding:            5px 5px;
}

.text-input
{
    margin:             5px 0px;
}

.requiredField 
{
    color:              Red;
}

.text-input-with-button .input,
.select-input-with-button .input
{
    overflow:           hidden;
}

.text-input-with-button input,
.select-input-with-button select,
.select-input-with-button input
{
    width:              100%;
    min-width:          50%;
}

.select-input-with-button input
{
    padding-top:        8px;
    padding-bottom:     8px;
}

.text-input-with-button .addButton,
.select-input-with-button .addNewButton,
.select-input-with-button .cancelButton,
.multiSelectOption .removeButton,
.targetFilterContent .target-filter-delete-button,
.standardAddButton
{
    width:              25px;
    height:             25px;
    float:              right;
    cursor:             pointer;
    margin-top:         5px;
    padding-left:       5px;
    background:         url('../images/add_icon.png') no-repeat right center;
}

.multiSelectOption .removeButton 
{
    margin-top:         11px;
}

.text-input-with-button 
{
    margin-left:        0px;
}

.select-input-with-button .cancelButton,
.multiSelectOption .removeButton,
.targetFilterContent .target-filter-delete-button,
.standardDeleteButton
{
    margin-top:         4px;
    width:              14px;
    height:             14px;
    background:         url('../images/remove_icon.png') no-repeat right center;
    cursor:             pointer;
}

.standardRemoveButton
{
    margin-top:         4px;
    width:              14px;
    height:             14px;
    background:         url('../images/delete.png') no-repeat right center;
}

.multiSelectOption
{
    width:              100%;
    height:             30px;
    padding-left:       2px;
    padding-right:      16px;
    clear:              both;
}
.multiSelectOption > p
{
    font-size:          12px;
    color:              $input-text-color;
    padding-top:        9px;
    float:              left;
}

.multiSelectOption .removeButton
{
    margin-right:       16px;
    margin-top:         11px;
}

.multiselect-result-container,
.multiselect-search-result-container
{
    margin-top:         5px;
    max-height:         150px;
    overflow-x:         hidden;
}

.multiselect-result-container p,
.multiselect-search-result-container p
{
    text-indent:        23px;
}

.minimizeButton
{
    float:              left;
    cursor:             pointer;
    width:              25px;
    height:             26px;
    background:         url('../images/icn-expand-collapse-med.png') no-repeat;
    padding:            0;
    margin-top:         2px;
    margin-right:       3px;
    display:            block;
    opacity:           .3;
}
.minimizeButton:hover {
    opacity:.6;
}
.minimizeButton:active {
    opacity:1;
}

.minimizeButtonDown 
{
    padding-top:    7px;
    cursor:         pointer;
    margin-right:   8px;
    background-position:0px 2px;
}

.minimizeButtonRight 
{
    padding-top:    7px;
    cursor:         pointer;
    background-position:0 -29px;
}

.deletePrompt 
{
    padding :           10px;
    position:           absolute;
    right:              0;
    background-color:   white;
    border:             1px solid #F0F0F0;
    width:              350px;
    height:             20px;
    z-index:            500;
    margin-left:        -73px;
    box-shadow:         2px 2px 5px rgba(0,0,0,0.5);
    margin-top:         -2px;
    border-radius:      3px;
    color:              #666;
}

.deletePrompt .deletePromptButton
{
    height:             20px;
    float:              right;
}

.text-input-with-button input
{
    font-size:          12px;
}

.label-field
{
    color:              $label-text-color;
    font-weight:        normal;
}

.check_box-renderer label {  
    display: block;  
    cursor: pointer;
    height: 17px;
    width: 17px;
    border-radius: 17px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid $primary-border-color;

    /* IE8 specific styles */
    display:            none\9;
}  

.check_box-renderer input[type="checkbox"]{
    opacity:            0;
    display:           none;
    filter:             progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    
    /* IE8 specific styles */
    opacity:            1\9;
    filter:             none\9;
    display:            block\9;
}

.check_box-renderer input[type="checkbox"][disabled] + label,
.check_box-renderer input[type="checkbox"][disabled] + label:hover,
.check_box-renderer input[type="checkbox"][disabled] + label:active{
    border:            none;
    background-color:  transparent;
    cursor:            default
}

.check_box-renderer input[type=checkbox]:checked + label:before {
    content: "\2713";
    color: $success-text-color;

    /* IE8 specific styles */
    display:            none\9;
}

.check_box-renderer label:hover {  
    background-color: $secondary-bg-color;
    border: 2px solid $table-header-border-color;

    /* IE8 specific styles */
    display:            none\9;
}

.check_box-renderer + label:active,
.check_box-renderer:checked + label:active {
    content: "\2713";
    color: $primary-border-color;

    /* IE8 specific styles */
    display:            none\9;
}

.input-warning 
{
    border:             2px solid $dark-warning-border-color !important;
}

.input-attached
{
    display: inline;
    border: 1px solid $input-border-color;
    background-color: $secondary-bg-color;
    padding: 2px 7px 2px 7px;
}

.input-attached > div
{
    display: inline;
}

.min-value
{
    border-radius: 4px 0px 0px 4px;
    margin-right: -4px;
    border-right: none;
}

.max-value
{
    border-radius: 0px 4px 4px 0px;
    margin-left: -4px;
    border-left: none;

}

.datepicker-input,
.ui-datepicker-trigger
{
    cursor:             pointer;
}
/* START: toggle switch slider*/

.toggleSwitchSlider 
{
    position:           relative; 
    width:              80px;
    -webkit-user-select:none; 
    -moz-user-select:   none; 
    -ms-user-select:    none;
}

.toggleSwitchSlider-checkbox 
{

}

.toggleSwitchSlider-label 
{
    display:            block; 
    overflow:           hidden; 
    cursor:             pointer;
    border:             1px solid $input-border-color;
    border-radius:      3px;
    height:             25px;
    text-shadow:        1px 1px 1px rgba(0,0,0,.3);
    box-shadow:         inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    position:           relative;
}

.toggleSwitchSlider-inner 
{
    width:              200%; 
    margin-left:        -100%;
    -moz-transition:    margin 0.3s ease-in 0s; 
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition:      margin 0.3s ease-in 0s; 
    transition:         margin 0.3s ease-in 0s;
}

.toggleSwitchSlider-inner:before, .toggleSwitchSlider-inner:after 
{
    float:              left; 
    width:              50%; 
    height:             30px; 
    padding:            0; 
    line-height:        30px;
    font-size:          14px;
    color:              $toggle-slider-text-color;    /* white */
    font-family:        Helvetica, Arial, sans-serif; 
    font-weight:        400;
    text-transform:     uppercase;
    -moz-box-sizing:    border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing:         border-box;
    margin-top:         0px;
}

.toggleSwitchSlider-inner:before 
{
    padding-left:       10px;
    background-color:   $slider-or-bg-color;    /* green-yellow */
    box-shadow:         inset 0 1px 3px rgba(0,0,0,0.2);
    text-indent:        2px;
    font-size:          12px;
    line-height:        27px;
}

.toggleSwitchSlider-inner:after 
{
    padding-right:      10px;
    text-align:         right;
    box-shadow:         inset 0 1px 3px rgba(0,0,0,0.2);
    // TODO: why does this have a gradient but above doesn't?
    background-color:   $slider-and-bg-color; /* Old browsers */ /* red-orange */ 
    background:         -moz-linear-gradient(left,  #ff4000 0%, #b20000 100%); /* FF3.6+ */
    background:         -webkit-gradient(linear, left top, right top, color-stop(0%,#ff4000), color-stop(100%,#b20000)); /* Chrome,Safari4+ */
    background:         -webkit-linear-gradient(left,  #ff4000 0%,#b20000 100%); /* Chrome10+,Safari5.1+ */
    background:         -o-linear-gradient(left,  #ff4000 0%,#b20000 100%); /* Opera 11.10+ */
    background:         -ms-linear-gradient(left,  #ff4000 0%,#b20000 100%); /* IE10+ */
    background:         linear-gradient(to right,  #ff4000 0%,#b20000 100%); /* W3C */
    position:           static;
    font-size:          12px;
    line-height:        27px;
}

.toggleSwitchSlider-button 
{
    width:              35px;
    height:             27px;
    margin:             0px;
    background:         url('../images/toggle_switch_slider_button.png') no-repeat;
    background-size:    cover;
    background-position:0px 0px;
    /* Scaled background image fix for IE8 */
    filter:             progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/images/toggle_switch_slider_button.png',sizingMethod='scale');
    position:           absolute; 
    top:                0; 
    bottom:             0; 
    right:              45px;
    -moz-transition:    right 0.3s ease-in 0s; 
    -webkit-transition: right 0.3s ease-in 0s;
    -o-transition:      right 0.3s ease-in 0s; 
    transition:         right 0.3s ease-in 0s; 
    box-shadow:         0px 2px 3px rgba(0,0,0,0.3);
}

.toggleSwitchSlider-inner-checked 
{
    margin-left:        0 !IMPORTANT;
}

.toggleSwitchSlider-button-checked
{
    right:              0px !IMPORTANT; 
}

.toggleSwitchSlider-label[disabled='disabled']
{
    opacity:            .5;
    filter:             alpha(opacity=100);
}

.toggle-container-small .toggleSwitchSlider-inner:before 
{
    background:         $slider-yes-bg-color;
}

.toggle-container-small .toggleSwitchSlider-inner:after 
{
    background:         $slider-no-bg-color;
}

.toggle-container-small .toggleSwitchSlider-label 
{
    height:             25px;
}

.toggle-container-small .toggleSwitchSlider 
{
    width:              64px;
    margin-top:         5px;
}

.toggle-container-small .toggleSwitchSlider-button 
{
    right:              33px;
    width:              29px;
    background-position:-4px 0px;
    box-shadow:         none;
    height:             27px;
}

.toggle-container-small .tempClass-Yes-No.toggleSwitchSlider-inner:before 
{
    font-size:          11px;
    text-indent:        -4px;
    line-height:        26px;
}
.toggle-container-small .tempClass-Yes-No.toggleSwitchSlider-inner:after 
{
    font-size:          11px;
    text-indent:        -4px;
    line-height:        26px;
}

/* END: toggle switch slider */

/* START: Placeholder styling */
/* This is used for text hinting where a default text appears until the user focuses out */
.placeholder 
{ 
    color:              $placeholder-text-color; 
}

/* webkit */
::-webkit-input-placeholder 
{ 
    color:              $placeholder-text-color 
}
/* firefox 4+ */
:-moz-placeholder 
{ 
    color:              $placeholder-text-color 
}

/* END: Placeholder styling */

/*BEGIN: Support Ticket form styles*/
#supportTicketForm div
{
    margin-top:         15px;
    padding-right:      5px;
}

#supportTicketSummary
{
    width:              100%;
    height:             28px;
    padding-left:       5px;
}

#supportTicketDescription
{
    width:              100%;
    max-height:         200px;
    height:             80px;
    padding-left:       5px;
    padding-top:        5px;
}

.supportTicketLabel
{
    font-weight:        bold;
}
/*END: Support Ticket form styles*/

/*Start : Stacked Bar chart and Stacked Area Chart styles */

.le-stacked-bar-chart-anchor-end
{
    text-anchor:        end;
}

.le-stacked-bar-chart-total-number
{
    font-size:          13px;
}

/*END : Stacked Bar chart and Stacked Area Chart styles */