/*
* Namespace: grids
*/


/* BEGIN:Styles used for the Grid Control */
/* Ref: http://datatables.net/blog/Creating_beautiful_and_functional_tables_with_DataTables */

table.gridControl
{
    clear:              both;
    width:              100%;
    border-spacing:     0;  /* remove cell spacing - non IE 5-7 */
    border-collapse:    collapse; /* remove cell spacing - IE 5-7 */
    table-layout:       fixed;
}

table.gridControl tr
{
    height:             32px;
}

table.gridControl thead th
{
    background:         url('../CommonAssets/images/light_gray_background_gradient.png') 100% 100% repeat-x;
    border:             1px solid $table-header-border-color; /* gray */
    border-left:        0;
    border-top:         0;
    padding:            5px;
    padding-left:       10px;
    padding-right:      10px;
    font-weight:        bold;
    text-align:         left;
    color:              $grid-header-bg-color;  /*grey*/
    cursor:             pointer;
}

table.gridControl thead th:last-child
{
    border-right:       0;
}

table.gridControl thead th .grid-title 
{
    padding:            10px;
}

table.gridControl thead th > .grid-control-column-header,
table.gridControl thead th > .launch-header-stacked-title  
{
    padding-right:      8px;
}

table.gridControl thead th.sorting_asc > .grid-control-column-header,
table.gridControl thead th.sorting_asc > .launch-header-stacked-title
{
    background:         url('../CommonAssets/images/arrow_up.png') no-repeat right center;
}

table.gridControl thead th.sorting_desc > .grid-control-column-header,
table.gridControl thead th.sorting_desc > .launch-header-stacked-title
{
    background:         url('../CommonAssets/images/arrow_down.png') no-repeat right center;
}

table.gridControl thead th.sorting_asc,
table.gridControl thead th.sorting_desc
{
    background:         none;
}

table.gridControl tbody td
{
    padding:            0px 11px;
    color:              $text-color;
}
table.gridControl tbody td.play_name_template_image-renderer,
table.gridControl tbody td.play_icon_name-renderer 
{
    padding-left:       0px;
}

/* No results found message */
table.gridControl tbody td.dataTables_empty
{
    text-align:         center;
    padding-top:        10px;
    padding-bottom:     10px;
}

.dataTable td.dataTables_empty 
{
    background:         #fff !important;
}

tr.odd,
table.gridControl tbody tr.odd td
{
    background-color:   $grid-row-odd-bg-color; /* light gray */
}

tr.even,
table.gridControl tbody tr.even td
{
    background-color:   $grid-row-even-bg-color; /* white */
}

tr.odd.highlighted-row,
table.gridControl tbody tr.odd.highlighted-row td,
tr.even.highlighted-row,
table.gridControl tbody tr.even.highlighted-row td
{
    background-color:   $grid-row-highlighted-bg-color;
}


.monetary-renderer > div 
{
    font-weight:        600;
    padding-right:      8px;
}

.percentage-renderer > div, 
.numeric-renderer > div,
.date-renderer > span
{
    padding-right:      8px;
}

table.gridControl .monetary-renderer,
table.gridControl .percentage-renderer,
table.gridControl .numeric-renderer,
table.gridControl .date-renderer
{
    text-align:         right;
}

table.gridControl tbody td.monetary-renderer
{
    font-weight:        400;
    color:              $text-color; //TODO wat
}

table.gridControl .play_name_template_image-renderer
{
    min-width:          200px;
}

table.gridControl td.play_name_template_image-renderer table td
{
    padding:             0px 0px 0px 0px;
}

table.gridControl td.play_name_template_image-renderer table
{
    border-spacing:     0px
}

table.gridControl .dropdown-renderer select
{
   min-width:          100px;
   max-width:          250px;
}

table.gridControl .date-renderer
{
   max-width:          100px;
}

/* style used to denote disabled rows */
.grid-disabled-row
{
    -ms-filter:         "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE8, IE9 */
    opacity:            .8;
}

.grid-disabled-row a 
{
	color:              $text-color !important;
}

.grid-disabled-row, .grid-disabled-row select, .grid-disabled-row button, .grid-disabled-row div, .grid-disabled-row a 
{
	cursor:             default;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select:   none; /* Firefox */
	-ms-user-select:    none; /* IE10+ */
	user-select:        none;
}

/* END:Styles used for the Grid Control */

.grids.data-grid
{
    border-spacing: 0;          /* remove cell spacing - non IE 5-7 */
    border-collapse: collapse;  /* remove cell spacing - IE 5-7 */
    width: 100%;
}

.grids.data-grid > thead > tr > th
{
    background: url('../CommonAssets/images/light_gray_background_gradient.png') 100% 100% repeat-x;
    border: 1px solid $table-header-border-color; /* gray */
    border-left: 0;
    border-top: 0;
    font-weight: bold;
    text-align: left;
    color: $text-color;  /*grey*/
}

.grids.data-grid > tbody > tr > td
{
    padding: 1px;
    padding-right: 2px;
    color: $text-color;  /*grey*/
}

.grids.data-grid-empty
{
    text-align:         center;
    padding-top:        10px;
    padding-bottom:     10px;
}

.grids.data-grid .monetary-renderer,
.grids.data-grid .percentage-renderer,
.grids.data-grid .numeric-renderer,
.grids.data-grid .date-renderer
{
    text-align:         right;
}

.grids.column-header
{
    padding-right: 8px;
    margin: 10px;
}

.grids.sorting-asc > .grids.column-header
{
    background: url('../CommonAssets/images/arrow_up.png') no-repeat right center;
}

.grids.sorting-desc > .grids.column-header
{
    background: url('../CommonAssets/images/arrow_up.png') no-repeat right center;
}

.grids.odd
{
    background-color:   $sub-header-bg-color; /* light gray */
}

.grids.even
{
    background-color:   $primary-bg-color; /* white */
}

.grids.grid-divider-row,
.dataTable .grid-divider-row /*TODO remove when above works*/
{
    font-weight:        bolder;
    padding-top:        5px;
    padding-bottom:     5px;
    padding-left:       11px;
    border-top:         1px solid $table-header-border-color;
    border-bottom:      1px solid $table-header-border-color;
    background-color:   $grid-divider-bg-color;
    margin-left:        -5px;
    margin-right:       -5px;
    margin-top:         -1px;
}

td.checkbox-renderer
{
    text-align:         center;
}

/*Styling for top predictor header shared between apps*/

.grid-divider-row > .top-predictors-header-title-container
{
    margin-left:        4px;
}

.grid-divider-row > .top-predictors-tip-container
{
    display:            inline-block;
    margin-left:        115px;
    font-weight:        normal;
    font-style:         italic;
}

.playmaker-predictive-attr-grid .grid-divider-row > .top-predictors-tip-container
{
    float:              right;
    margin-left:        0px;
    margin-right:       10px;
}

/* START: Styling used for grid footers */
.grid-footer-row
{
    background-color:   $primary-bg-color;
}

.grid-footer-separator
{
    border-top:         2px solid $primary-border-color;
}

.grid-footer-cell
{
    color:              $primary-text-color;
    font-size:          16px;
    padding:            7px 10px;
    text-align:         center;
    text-shadow:        none;
}

.grid-footer-value
{
    font-weight:        bold;
}
/* END: Styling used for grid footers */

// super special styling because datatables

#predictiveAttributesGrid table.gridControl thead th.checkbox-renderer
{
    width:              63px;
    min-width:          63px;
}