<p class="contact">
	Upload a CSV file containing one row for each contact with its attributes in separate columns.
	You can always update and add new contacts later.
</p>

<div>
	<a href="assets/downloads/contact-sample.csv" target="_self" class="download-link"><i class="fa fa-download"></i> Download a sample CSV file that has all of the required fields.</a>

	<p>{{$ctrl.ResourceUtility.getString('IMPORT_SAMPLE_FILE_LABEL')}}:</p>
	<div class="table example-table">
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Account ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Title</th>
					<th>Company&nbsp;Name&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>Petey</td>
					<td>Cruiser</td>
					<td>contact.name@intel.com</td>
					<td>Buyer</td>
					<td>Intel</td>
				</tr>
				<tr>
					<td>2</td>
					<td>1</td>
					<td>Anna</td>
					<td>Sthesia</td>
					<td>contact.name@intel.com</td>
					<td>TECHNICAL&nbsp;ASSOCIATE</td>
					<td>Intel</td>
				<tr>
					<td>3</td>
					<td>1</td>
					<td>Paul</td>
					<td>Molive</td>
					<td>contact.name@intel.com</td>
					<td>Purchasing&nbsp;Agent</td>
					<td>Intel</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>