.dante-play-details-nav-container
{
    background-color:   $play-tile-list-bg-color;
    /*border-bottiom:     1px solid $primary-border-color;*/
    margin-bottom: -44px;
}

.dante-play-details-nav-tiles-container
{
    width:              280px;
    margin:             0 auto;
}

.dante-play-details-content-container
{
    width: 100%;
}

.dante-play-details-container {
  margin: 0px;
}

// Play Details Tiles

.dante-play-details-nav-tile
{
    background-color:   $primary-bg-color;
    width:              250px;
    /*height:             180px;*/
    margin:             0 auto;
    text-align:         center;
    /*box-shadow:         0 1px 1px rgba(0,0,0,.25);*/
    cursor:             pointer;
    overflow:           hidden;
}

.js-dante-lead-details-nav-container.dante-play-details-nav-container.float-left.scroll-y {
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.dante-play-details-nav-tile-score
{
    margin-top:         15px;
    margin-left:        10px;
    /* FIXME:  Hacky solution to hide duplicate scores */
    height:             101px;
    overflow:           hidden;
    color: black;
    /* end hack */
}

.dante-play-details-nav-tile.dante-play-details-nav-tile-selected
{
    background-color:   transparent; /*$play-details-nav-tile-selected-bg-color;*/
}

.dante-play-details-nav-tile.dante-play-details-nav-tile-selected .dante-play-tile-header
{
    color:              $play-details-nav-tile-selected-label-color;
}

.dante-play-details-nav-tile.dante-play-details-nav-tile-selected .dante-play-tile-metric-value
{
    color:              $play-details-selected-tile-value;
}

.dante-play-details-nav-tile.dante-play-details-nav-tile-selected .arc-chart-value
{
    fill:              gray;/*$play-details-nav-tile-arc-chart-value-color !important; */
}

.dante-play-details-nav-tile-selected-arrow
{
    width:              0px;
    height:             0px;
    border-style:       solid;
    border-width:       10.5px 0 10.5px 8px;
    border-color:       transparent transparent transparent $play-details-nav-tile-selected-bg-color;
    margin-top:         60px;
    margin-right:       -8px;
}

.dante-play-details-tile-metric-container
{
    margin:             10px;
}

.no-plays-message {
    margin: 45px 0;
    margin-left: 120px;
    width: 625px;
}

.no-plays-message p {
    font-size: 14px;
    color: #333333;
    font-family: $helvetica;
}

.no-plays-background {
    background-color: #F3F7FB;
    background: url("../images/lattice_logo_background.png") no-repeat center 130px fixed;
}

/* general CSS fixes */
.dante-play-details-content-container {
    left: 0px;
    overflow: hidden;
}
.analytic-attribute-tile {
    background:transparent;
}
.tab-container>.nav-tabs {
    margin-bottom:-1px;
    display: block;
}

/* sub 1000px adjustments */
/*
@media (max-width: 1000px) {

.dante-play-details-content-container {left:0}
.dante-play-details-nav-tiles-container {width:200%;}
.dante-play-details-nav-tiles-container > div {float:left;}
.js-dante-play-details-tab-container {margin-left:20px;}
.dante-play-details-nav-tile {width:200px;height:168px;position:relative;z-index:2000;}
.dante-play-details-nav-tile-selected-arrow, .dante-lead-details-tile-selected-arrow {width: 0;height: 0; border-left: 20px solid transparent;border-right: 20px solid transparent;border-top: 20px solid #333;position:absolute;top:100px;left:84px;}

}
*/


