<config-entry ng-if="!hasChildren" is-valid="isValid" expandable="false" class="config-entry" is-valid="isValid" config="config"></config-entry>

<accordion-group ng-if="hasChildren" is-open="isOpen">
    <accordion-heading class="accordion-heading" is-open="isOpen">
        <config-entry expandable="true" is-valid="isValid" is-open="isOpen" ng-show="hasData" config="config"></config-entry>
    </accordion-heading>
    <camille-config config="child" is-valid="isValid" ng-repeat="child in config.children"></camille-config>
</accordion-group>