
<accordion ng-if="!loading" close-others="oneAtATime" class="tenant-config">
    <accordion-group ng-repeat="component in data" is-open="accordion[component.component].open">
        <accordion-heading>
            <i class="fa" ng-class="{'fa-caret-down': accordion[component.component].open, 'fa-caret-right': !accordion[component.component].open}"></i>
            {{component.component}}
            <span ng-if="readonly" ng-bind-html="getStatusHtml(component.state)"></span>
        </accordion-heading>
        <camille-config config="child" is-valid="isValid" readonly="readonly" ng-repeat="child in component.configuration"></camille-config>
    </accordion-group>
</accordion>