<p class="readonly-config-entry" ng-if="readonly && !isObject">
    <i ng-show="expandable" class="fa" ng-class="{'fa-caret-down': isOpen, 'fa-caret-right': !isOpen}"></i>
    <span class="node">{{ config.Node }}</span> :
    <span>{{ config.Data }}</span>
</p>

<form name="configform" ng-hide="isObject" class="form-inline" ng-class='{"has-error": showError}' novalidate>
    <div ng-if="!readonly">
        <label class="control-label">
            <i ng-show="expandable" class="fa" ng-class="{'fa-caret-down': isOpen, 'fa-caret-right': !isOpen}"></i>
            {{ config.Node }}
        </label>

        <input ng-if="isInput" class="form-control"
               type="{{ inputType }}" ng-model="config.Data"
               ng-model-options="{ debounce: 200 }"
               ng-change="validateInput()" required />

        <input ng-if="isBoolean" class="checkbox"
               type="checkbox" ng-model="config.Data"
               ng-model-options="{ debounce: 200 }"
               ng-change="validateInput()" />

        <select ng-if="isSelect" class="form-control"
                ng-options="option for option in options"
                ng-model="config.Data"
                ng-model-options="{ debounce: 200 }"
                ng-change="validateInput()"></select>

        <label ng-if="showError" class="control-label">
            <span class="text-danger">{{ errorMsg }}</span>
        </label>
    </div>
</form>

<accordion-group ng-if="isObject" ng-init="isOpen = !readonly" is-open="isOpen">
    <accordion-heading class="accordion-heading" is-open="isOpen">
        <p class="readonly-config-entry">
            <i class="fa" ng-class="{'fa-caret-down': isOpen, 'fa-caret-right': !isOpen}"></i>
            <span ng-class="{node: readonly}">{{ config.Node }}</span>
        </p>
    </accordion-heading>
    <pre ng-if="readonly">{{ jsonData | json }}</pre>
    <object-entry ng-if="!readonly" key="key" value="value" json="jsonData" is-valid="isValid" updater="objectUpdater()" ng-repeat="(key, value) in jsonData"></object-entry>
</accordion-group>
