<form name="configform" ng-hide="isObject" class="form-inline" ng-class='{"has-error": showError}' novalidate>
    <label class="control-label">
        <i ng-show="expandable" class="fa" ng-class="{'fa-caret-down': isOpen, 'fa-caret-right': !isOpen}"></i>
        {{ key }}
    </label>

    <input ng-if="isInput" class="form-control"
           type="{{ inputType }}" ng-model="json[key]"
           ng-model-options="{ debounce: 500 }"
           ng-change="validateInput()" required />

    <input ng-if="isBoolean" class="checkbox"
           type="checkbox" ng-model="json[key]"
           ng-model-options="{ debounce: 500 }"
           ng-change="validateInput()" />

    <label ng-if="showError" class="control-label">
        <span class="text-danger">{{ errorMsg }}</span>
    </label>
</form>