<div ng-controller="TenantConfigCtrl">
    <div class="panel panel-default tenant-info-panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Contract: <strong>{{ contractId }}</strong>
                &nbsp;&nbsp;&nbsp;&nbsp;
                Tenant: <strong>{{ tenantId }}</strong>
            </h3>
        </div>
        <div class="panel-body">
            <h4>Tenant Info</h4>
            <div ng-if="readonly" class="row">
                <div class="col col-md-12 col-sm-12 col-xs-12">
                    <p class="well">{{ tenantInfo.properties.description }}</p>
                </div>
                <div class="col col-md-4 col-sm-4 col-xs-6 readonly-config-entry">
                    <span class="node">Name</span> :
                    {{ tenantInfo.properties.displayName }}
                </div>
                <div class="col col-md-4 col-sm-4 col-xs-6 readonly-config-entry">
                    <span class="node">Created at</span> :
                    {{ tenantInfo.properties.created | date : "yyyy-MM-dd HH:mm:ss Z" }}
                </div>
                <div class="col col-md-4 col-sm-4 col-xs-6 readonly-config-entry">
                    <span class="node">Last modified</span> :
                    {{ tenantInfo.properties.lastModified | date : "yyyy-MM-dd HH:mm:ss Z" }}
                </div>
            </div>
            <form ng-if="!readonly" class="row form-inline">
                <div class="col col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">
                        Name
                    </label>
                    <input type="text" class="form-control" ng-model="tenantInfo.properties.displayName">
                    </input>
                </div>
                <div class="col col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">
                        Description
                    </label>
                </div>
                <div class="col col-md-12 col-sm-12 col-xs-12">
                    <textarea class="form-control" ng-model="tenantInfo.properties.description"></textarea>
                </div>
            </form>
            <br>
            <h4>Space Configuration</h4>
            <form ng-if="!readonly" class="space-config">
                <div class="row form-inline">
                    <div class="col col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label">
                            Products
                        </label>
                        <div ng-repeat="product in availableProductsNames">
                            <div class="action-checkbox">
                                <input id="{{product}}" type="checkbox" value="{{product}}" ng-checked="selectedProductNames.indexOf(product) > -1" ng-click="toggleSelection(product)" />
                                <label for="{{product}}"></label>
                                {{product}}
                            </div>
                        </div>
                    </div>
                    <div ng-show = LPAisSelected(selectedProducts)>
	                    <div class="col col-md-12 col-sm-12 col-xs-12">
	                        <label class="control-label">
	                            CRM Topology
	                        </label>
	                        <select class="form-control"
	                                ng-options="option for option in availableTopologies"
	                                ng-model="spaceConfig.Topology">
	                        </select>
	                    </div>
	                    <div class="col col-md-12 col-sm-12 col-xs-12">
	                        <label class="control-label">
	                            Data Loader URL
	                        </label>
	                        <select class="form-control"
	                                ng-options="option for option in availableDLAddresses"
	                                ng-model="spaceConfig.DL_Address">
	                        </select>
	                    </div>
                    </div>
                </div>
            </form>
            <form ng-if="readonly" class="row form-inline">
                <div class="col col-md-4 col-sm-4 col-xs-6 readonly-config-entry">
                    <span class="node">Products</span> :
                        <div ng-repeat="product in spaceConfig.Products" class="selected-item">
                            {{ product }}
                        </div>
                </div>
                <div ng-show = LPAisSelected(selectedProducts)>
	                <div class="col col-md-4 col-sm-4 col-xs-6 readonly-config-entry">
	                    <span class="node">Topology</span> :
	                    {{ spaceConfig.Topology }}
	                </div>
	                <div class="col col-md-12 col-sm-12 col-xs-12 readonly-config-entry">
	                    <span class="node">Data Loader URL</span> :
	                    {{ spaceConfig.DL_Address }}
	                </div>
                </div>
            </form>
            <br>
            <h4>Feature Flags</h4>
            <div ng-repeat="featureFlag in selectedFeatureFlags">
                <feature-flag show={{!featureFlag.Configurable}} flag="featureFlag.Value" name={{featureFlag.DisplayName}} readonly="readonly"></feature-flag>
            </div>

        </div>
    </div>
    <div ng-show="loading">
        <div class="loader"> </div>
        <h2 class="text-center">Loading tenant configuration ...</h2>
    </div>
    <div ng-if="!loading">
        <button class="btn btn-primary" ng-if="new" ng-disabled="!isValid.valid" ng-click="onSaveClick()">INSTALL</button>
        <button class="btn btn-primary" ng-if="!new" ng-click="onDeleteClick()"><i class="fa fa-trash-o"></i> DELETE</button>
        <br/>
        <p ng-show="!isValid.valid" class="alert alert-danger">The configuration is invalid. Please check error messages below.</p>
        <br/>
        <components-config data="selectedComponents" readonly="readonly" is-valid="isValid"></components-config>
        <p ng-show="!isValid.valid" class="alert alert-danger">The configuration is invalid. Please check error messages above.</p>
        <button class="btn btn-primary" ng-if="new" ng-disabled="!isValid.valid" ng-click="onSaveClick()">INSTALL</button>
        <button class="btn btn-primary" ng-if="!new" ng-click="onDeleteClick()"><i class="fa fa-trash-o"></i> DELETE</button>
        <br/>
        <br/>
    </div>
</div>