<div ng-controller="TenantConfigCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Tenant Info</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col col-md-4 col-sm-4 col-xs-6">Tenant ID: {{ tenantId }}</div>
                <div class="col col-md-4 col-sm-4 col-xs-6">Contract ID: {{ contractId }}</div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">CustomerSpace Info</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col col-md-4 col-sm-4 col-xs-6">Product: {{ spaceInfo.properties.product }}</div>
            </div>
        </div>
    </div>
    <div ng-show="loading">
        <div class="loader"> </div>
        <h2 class="text-center">Loading tenant configuration ...</h2>
    </div>
    <div ng-if="!loading">
        <components-config data="components" readonly="readonly" is-valid="isValid"></components-config>
        <p ng-show="!isValid.valid" class="alert alert-danger">The configuration is invalid. Please check error messages above.</p>
        <button class="btn btn-primary" ng-if="new" ng-disabled="!isValid.valid" ng-click="onSaveClick()">SAVE</button>
        <button class="btn btn-primary" ng-if="!new" ng-click="onDeleteClick()"><i class="fa fa-trash-o"></i> DELETE</button>
    </div>
</div>