<div ng-controller="TenantConfigCtrl">
    <div class="well">
    Tenant ID: {{ tenantId }}
    </div>
    <div ng-show="loading">
        <div class="loader"> </div>
        <h2 class="text-center">Loading tenant configuration ...</h2>
    </div>
    <accordion ng-if="!loading" close-others="oneAtATime" class="tenant-config">
        <accordion-group ng-repeat="component in data" is-open="accordion[$index].open">
            <accordion-heading>
                <i class="fa" ng-class="{'fa-caret-down': accordion[$index].open, 'fa-caret-right': !accordion[$index].open}"></i>
                {{component.node}}
                <span ng-bind-html="getStatusHtml(component.state)"></span>
            </accordion-heading>
            <camille-config config="child" is-valid="isValid" ng-repeat="child in component.children"></camille-config>
        </accordion-group>
    </accordion>
    <div ng-if="!loading">
        <p ng-show="!isValid.valid" class="alert alert-danger">The configuration is invalid. Please check error messages above.</p>
        <button class="btn btn-primary" ng-disabled="!isValid.valid" ng-click="onSaveClick()">SAVE</button>
    </div>
</div>