.ratingengine-training {
    .header {
        h2 {
            padding-left: 0;
            // background-image: url('/assets/images/ico-segments.png');
        }
    }
    .content-body {
        @include flex-container;
    }
    .checkbox-list {
        width: 60%;
        .form-group {
            @include flex-container;
            margin-bottom: 18px;
            & > input {
                width: 15px;
                margin-right: 6px;
                margin-top: 6px;
            }       
            div {
                width: 100%;
                p {
                    font-size: 14px;
                }
                select {
                    display: inline-block;
                    width: auto;
                    margin-right: 10px;
                }
                &.input-group {
                    display: inline-block;
                    width: auto;
                    input, span {
                        display: inline-block;
                        width: auto;
                    }
                }
            }
            .chip div {
                width: auto;
            }
            &.auto-select-group > div {
                margin-left: 0;
                .chips-query-container .text-container .query {
                    margin-bottom: 0;
                }
            }
        }
    }
    .dropdown-content {
        height: 218px;
        overflow: auto;
    }
    .data {
        width: 40%;
        padding-left: 20px;
        li {
            background: #efefef;
            margin-bottom: 10px;
            padding: 20px;
            border-radius: 4px;
        }
        h3 {
            font-size: 20px;
            padding: 14px 0;
            text-align: center;
            text-transform: none;
            font-weight: normal;
        }
        dt {
            text-transform: uppercase;
            font-size: 12px;
        }
        dd {
            font-size: 14px;
        }
    }
}