<div class="ratingengine-training playbook-content container">
    <div class="inner-container">
        <ng-form name="trainingForm" form-on-change="$ctrl.formOnChange()" ng-model-options="{ debounce: 800 }" novalidate>
        
            <div class="header">
                <h2>{{ $ctrl.pageTitle }}</h2>
                <p ng-if="$stateParams.section != 'wizard.ratingsengine_segment'">Changing these settings will probably result in a different set of attributes.</p>
            </div>

            <div class="content-body">

                <ul class="checkbox-list">
                    <li class="form-group">
                        <input 
                            type="checkbox"
                            class="form-control"
                            ng-model="checkboxModel.spend" />
                        <div>
                            <p>Only use successes where spend in the quarter was</p>
                            <select 
                                class="form-control"
                                ng-disabled="!checkboxModel.spend"
                                ng-model="$ctrl.spendCriteria">
                                <option value="GREATER_OR_EQUAL">At least</option>
                                <option value="LESS_OR_EQUAL">At most</option>
                            </select>
                            <div class="input-group prepend" >
                                    <numerical-range-directive
                                        mainconfig="{{ $ctrl.getNumericalConfig() }}"
                                        config="{{ $ctrl.getSpendConfigString() }}"
                                        showfrom="true"
                                        fromlabel="$"
                                        fromdisabled="!checkboxModel.spend" 
                                        initialvalidation="false"
                                        showto="false"
                                        vm="$ctrl"
                                        form="trainingForm"
                                        type="" 
                                        bucketrestriction=""
                                        invalidcallback="true"
                                        showmessage="true"
                                        changed="$ctrl.callbackSpend(type, position, value)">
                                    </numerical-range-directive>
                            </div>
                        </div>
                    </li>
                    <li class="form-group">
                        <input 
                            type="checkbox"
                            class="form-control"
                            ng-model="checkboxModel.quantity" />
                        <div>
                            <p>Only use successes where quantity bought in the quarter was</p>
                            <select 
                                class="form-control"
                                ng-disabled="!checkboxModel.quantity"
                                ng-model="$ctrl.quantityCriteria">
                                <option value="GREATER_OR_EQUAL">At least</option>
                                <option value="LESS_OR_EQUAL">At most</option>
                            </select>
                            <div class="input-group append">
                                <numerical-range-directive 
                                    mainconfig="{{ $ctrl.getNumericalConfig() }}"
                                    config="{{ $ctrl.getQuantityConfigString() }}"
                                    fromdisabled="!checkboxModel.quantity" 
                                    initialvalidation="false"
                                    showfrom="true"
                                    showtolabel="true"
                                    tolabel="Units"
                                    showto="false"
                                    vm="$ctrl" 
                                    form="trainingForm"
                                    type="" 
                                    bucketrestriction=""
                                    invalidcallback="true"
                                    changed="$ctrl.callbackQuantity(type, position, value)">
                                </numerical-range-directive>
                            </div>
                        </div>
                    </li>
                    <li class="form-group">
                        <input 
                            type="checkbox"
                            class="form-control"
                            ng-model="checkboxModel.periods" />
                        <div>
                            <p>When modeling, only use historical records from the last</p>
                            <div class="input-group append">
                                <numerical-range-directive 
                                    mainconfig="{{ $ctrl.getNumericalConfig() }}"
                                    config ="{{ $ctrl.getPeriodConfigString() }}"
                                    initialvalidation="false"
                                    fromdisabled="!checkboxModel.periods" 
                                    showfrom="true"
                                    showtolabel="true"
                                    tolabel="months"
                                    showto="false"
                                    vm="$ctrl"
                                    form="trainingForm"
                                    type="" 
                                    bucketrestriction=""
                                    invalidcallback="true"
                                    changed="$ctrl.callbackPeriod(type, position, value)">
                                </numerical-range-directive>
                            </div>
                        </div>
                    </li>
                    <li class="form-group auto-select-group">
                        <div>
                            <p>Let me model on a similar segment, not exactly the one I want to sell into</p>
                            <chips
                                placeholder="Search for a similar segment"
                                datasource="$ctrl.segments" 
                                callback-function="$ctrl.segmentCallback(args)"
                                single-selection="true"
                                id="name"
                                displayname="display_name"
                                queryscope="display_name"
                                ng-model="trainingSegment"
                                showicon="true"></chips>
                        </div>
                    </li>
                    <li class="form-group auto-select-group">
                        <div>
                            <p>Let me model on similar products, not exactly the ones I want to sell too</p>
                            <chips
                                placeholder="Search for similar products" 
                                datasource="$ctrl.products"
                                callback-function="$ctrl.productsCallback(args)"
                                single-selection="false"
                                id="ProductId"
                                displayname="ProductName"
                                queryscope="ProductName"
                                ng-model="trainingProducts"
                                showicon="true"></chips>
                        </div>
                    </li>
                </ul><!-- End .checkbox-list -->
                <ul class="data">
                    <li>
                        <h3>Effect on Modeling</h3>
                        <div class="stats-group">
                            <dl class="stats">
                                <dt>Records Selected</dt>
                                <dd>
                                    <span ng-if="!$ctrl.recordsCountReturned"><i class="fa fa-spinner fa-pulse fw"></i></span>
                                    <span ng-if="$ctrl.recordsCountReturned">{{ $ctrl.recordsCount | number }}</span>
                                </dd>  
                            </dl>
                            <dl class="stats">
                                <dt ng-if="$ctrl.modelingStrategy === 'CROSS_SELL_FIRST_PURCHASE'">First Purchases</dt>
                                <dt ng-if="$ctrl.modelingStrategy === 'CROSS_SELL_REPEAT_PURCHASE'">Repeat Purchases</dt>
                                <dd>
                                    <span ng-if="!$ctrl.purchasesCountReturned"><i class="fa fa-spinner fa-pulse fw"></i></span>
                                    <span ng-if="$ctrl.purchasesCountReturned">{{ $ctrl.purchasesCount | number }}</span>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <h3>Effect on Scoring</h3>
                        <div class="stats-group">
                            <dl class="stats">
                                <dt>Accounts to be scored</dt>
                                <dd>
                                    <span ng-if="!$ctrl.scoringCountReturned"><i class="fa fa-spinner fa-pulse fw"></i></span>
                                    <span ng-if="$ctrl.scoringCountReturned">{{ $ctrl.scoringCount | number }}</span>
                                </dd>
                            </dl>
                        </div>
                    </li>
                </ul>

            </div><!-- End .content-body -->

        </ng-form>
    </div>
</div>