<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="SHUTDOWN">
    <Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
    <!-- Security listener. Documentation at /docs/config/listeners.html
    <Listener className="org.apache.catalina.security.SecurityListener" />
    -->
    <!--APR library loader. Documentation at /docs/apr.html -->
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on"/>
    <!-- Prevent memory leaks due to use of particular java/javax APIs-->
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>

    <GlobalNamingResources>
        <Resource name="UserDatabase" auth="Container"
                  type="org.apache.catalina.UserDatabase"
                  description="User database that can be updated and saved"
                  factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
                  pathname="conf/tomcat-users.xml"/>

        <Resource name="jdbc/PLS_MultiTenant"
                  auth="Container"
                  type="javax.sql.DataSource"
                  driverClassName="com.mysql.jdbc.Driver"
                  url="jdbc:mysql://localhost:3306/PLS_MultiTenant?autoReconnect=true&amp;useSSL=false"
                  username="root"
                  password="welcome"

                  maxTotal="16"
                  maxIdle="2"
                  maxWaitMillis="10000" />

        <Resource name="jdbc/GlobalAuthentication"
                  auth="Container"
                  type="javax.sql.DataSource"
                  driverClassName="com.mysql.jdbc.Driver"
                  url="jdbc:mysql://localhost:3306/GlobalAuthentication?autoReconnect=true&amp;useSSL=false"
                  username="root"
                  password="welcome"

                  maxTotal="4"
                  maxIdle="1"
                  maxWaitMillis="10000" />

        <Resource name="jdbc/QuartzDB"
                  auth="Container"
                  type="javax.sql.DataSource"
                  driverClassName="com.mysql.jdbc.Driver"
                  url="jdbc:mysql://localhost:3306/QuartzDB?autoReconnect=true&amp;useSSL=false"
                  username="root"
                  password="welcome"

                  maxTotal="4"
                  maxIdle="1"
                  maxWaitMillis="10000" />

        <Resource name="jdbc/Data_MultiTenant"
                  auth="Container"
                  type="javax.sql.DataSource"
                  driverClassName="com.mysql.jdbc.Driver"
                  url="jdbc:mysql://localhost:3306/Data_MultiTenant?autoReconnect=true&amp;useSSL=false"
                  username="root"
                  password="welcome"

                  maxTotal="8"
                  maxIdle="1"
                  maxWaitMillis="10000" />
    </GlobalNamingResources>

    <Service name="MatchAPI">
        <Executor name="tomcat" namePrefix="catalina-exec-" minSpareThreads="4" maxThreads="64"/>
        <Connector port="9076" protocol="org.apache.coyote.http11.Http11NioProtocol" executor="tomcat"
                   SSLEnabled="true" scheme="https" secure="true"
                   sslImplementationName="org.apache.tomcat.util.net.openssl.OpenSSLImplementation"
                   useAsyncIO="true" connectionTimeout="60000"
                   compression="on" compressibleMimeType="text/plain,application/json" >
            <UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol"
                             readTimeout="60000" writeTimeout="60000" compression="on" />
            <SSLHostConfig protocols="TLSv1.2" insecureRenegotiation="true">
                <Certificate certificateKeyFile="/etc/ledp/tls/server.key"
                             certificateFile="/etc/ledp/tls/server.crt"
                             type="RSA" />
            </SSLHostConfig>
        </Connector>
        <Engine name="MatchApiEngine" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
            </Realm>
            <Host name="localhost" appBase="webapps/matchapi" unpackWARs="true" autoDeploy="true"/>
        </Engine>
    </Service>

    <Service name="Admin">
        <Executor name="tomcat" namePrefix="catalina-exec-" minSpareThreads="4" maxThreads="64"/>
        <Connector port="9085" protocol="org.apache.coyote.http11.Http11NioProtocol" executor="tomcat"
                   SSLEnabled="true" scheme="https" secure="true"
                   sslImplementationName="org.apache.tomcat.util.net.openssl.OpenSSLImplementation"
                   useAsyncIO="true" connectionTimeout="60000"
                   compression="on" compressibleMimeType="text/plain,application/json" >
            <UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol"
                             readTimeout="60000" writeTimeout="60000" compression="on" />
            <SSLHostConfig protocols="TLSv1.2" insecureRenegotiation="true">
                <Certificate certificateKeyFile="/etc/ledp/tls/server.key"
                             certificateFile="/etc/ledp/tls/server.crt"
                             type="RSA" />
            </SSLHostConfig>
        </Connector>
        <Engine name="AdminEngine" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
            </Realm>
            <Host name="localhost" appBase="webapps/admin" unpackWARs="true" autoDeploy="true"/>
        </Engine>
    </Service>

    <Service name="PlayMaker">
        <Executor name="tomcat" namePrefix="catalina-exec-" minSpareThreads="4" maxThreads="64"/>
        <Connector port="9071" protocol="org.apache.coyote.http11.Http11NioProtocol" executor="tomcat"
                   SSLEnabled="true" scheme="https" secure="true"
                   sslImplementationName="org.apache.tomcat.util.net.openssl.OpenSSLImplementation"
                   useAsyncIO="true" connectionTimeout="60000"
                   compression="on" compressibleMimeType="text/plain,application/json" >
            <UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol"
                             readTimeout="60000" writeTimeout="60000" compression="on" />
            <SSLHostConfig protocols="TLSv1.2" insecureRenegotiation="true">
                <Certificate certificateKeyFile="/etc/ledp/tls/server.key"
                             certificateFile="/etc/ledp/tls/server.crt"
                             type="RSA" />
            </SSLHostConfig>
        </Connector>
        <Engine name="PlayMakerEngine" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
            </Realm>
            <Host name="localhost" appBase="webapps/playmaker" unpackWARs="true" autoDeploy="true"/>
        </Engine>
    </Service>

    <Service name="OAuth">
        <Executor name="tomcat" namePrefix="catalina-exec-" minSpareThreads="4" maxThreads="64"/>
        <Connector port="9072" protocol="org.apache.coyote.http11.Http11NioProtocol" executor="tomcat"
                   SSLEnabled="true" scheme="https" secure="true"
                   sslImplementationName="org.apache.tomcat.util.net.openssl.OpenSSLImplementation"
                   useAsyncIO="true" connectionTimeout="60000"
                   compression="on" compressibleMimeType="text/plain,application/json" >
            <UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol"
                             readTimeout="60000" writeTimeout="60000" compression="on" />
            <SSLHostConfig protocols="TLSv1.2" insecureRenegotiation="true">
                <Certificate certificateKeyFile="/etc/ledp/tls/server.key"
                             certificateFile="/etc/ledp/tls/server.crt"
                             type="RSA" />
            </SSLHostConfig>
        </Connector>
        <Engine name="OAuthEngine" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
            </Realm>
            <Host name="localhost" appBase="webapps/oauth" unpackWARs="true" autoDeploy="true"/>
        </Engine>
    </Service>

    <Service name="ScoringAPI">
        <Executor name="tomcat" namePrefix="catalina-exec-" minSpareThreads="4" maxThreads="64"/>
        <Connector port="9073" protocol="org.apache.coyote.http11.Http11NioProtocol" executor="tomcat"
                   SSLEnabled="true" scheme="https" secure="true"
                   sslImplementationName="org.apache.tomcat.util.net.openssl.OpenSSLImplementation"
                   useAsyncIO="true" connectionTimeout="60000"
                   compression="on" compressibleMimeType="text/plain,application/json" >
            <UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol"
                             readTimeout="60000" writeTimeout="60000" compression="on" />
            <SSLHostConfig protocols="TLSv1.2" insecureRenegotiation="true">
                <Certificate certificateKeyFile="/etc/ledp/tls/server.key"
                             certificateFile="/etc/ledp/tls/server.crt"
                             type="RSA" />
            </SSLHostConfig>
        </Connector>
        <Engine name="ScoringApiEngine" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
            </Realm>
            <Host name="localhost" appBase="webapps/scoringapi" unpackWARs="true" autoDeploy="true"/>
        </Engine>
    </Service>

    <Service name="SAML">
        <Executor name="tomcat" namePrefix="catalina-exec-" minSpareThreads="4" maxThreads="64"/>
        <Connector port="9087" protocol="org.apache.coyote.http11.Http11NioProtocol" executor="tomcat"
                   SSLEnabled="true" scheme="https" secure="true"
                   sslImplementationName="org.apache.tomcat.util.net.openssl.OpenSSLImplementation"
                   useAsyncIO="true" connectionTimeout="60000"
                   compression="on" compressibleMimeType="text/plain,application/json" >
            <UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol"
                             readTimeout="60000" writeTimeout="60000" compression="on" />
            <SSLHostConfig protocols="TLSv1.2" insecureRenegotiation="true">
                <Certificate certificateKeyFile="/etc/ledp/tls/server.key"
                             certificateFile="/etc/ledp/tls/server.crt"
                             type="RSA" />
            </SSLHostConfig>
        </Connector>
        <Engine name="SAMLEngine" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
            </Realm>
            <Host name="localhost" appBase="webapps/saml" unpackWARs="true" autoDeploy="true"/>
        </Engine>
    </Service>

    <Service name="API">
        <Executor name="tomcat" namePrefix="catalina-exec-" minSpareThreads="4" maxThreads="64"/>
        <Connector port="9074" protocol="org.apache.coyote.http11.Http11NioProtocol" executor="tomcat"
                   SSLEnabled="true" scheme="https" secure="true"
                   sslImplementationName="org.apache.tomcat.util.net.openssl.OpenSSLImplementation"
                   useAsyncIO="true" connectionTimeout="60000"
                   compression="on" compressibleMimeType="text/plain,application/json" >
            <UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol"
                             readTimeout="60000" writeTimeout="60000" compression="on" />
            <SSLHostConfig protocols="TLSv1.2" insecureRenegotiation="true">
                <Certificate certificateKeyFile="/etc/ledp/tls/server.key"
                             certificateFile="/etc/ledp/tls/server.crt"
                             type="RSA" />
            </SSLHostConfig>
        </Connector>
        <Engine name="ApiEngine" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
            </Realm>
            <Host name="localhost" appBase="webapps/api" unpackWARs="true" autoDeploy="true"/>
        </Engine>
    </Service>

    <Service name="Ulysses">
        <Executor name="tomcat" namePrefix="catalina-exec-" minSpareThreads="4" maxThreads="64"/>
        <Connector port="9075" protocol="org.apache.coyote.http11.Http11NioProtocol" executor="tomcat"
                   SSLEnabled="true" scheme="https" secure="true"
                   sslImplementationName="org.apache.tomcat.util.net.openssl.OpenSSLImplementation"
                   useAsyncIO="true" connectionTimeout="60000"
                   compression="on" compressibleMimeType="text/plain,application/json" >
            <UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol"
                             readTimeout="60000" writeTimeout="60000" compression="on" />
            <SSLHostConfig protocols="TLSv1.2" insecureRenegotiation="true">
                <Certificate certificateKeyFile="/etc/ledp/tls/server.key"
                             certificateFile="/etc/ledp/tls/server.crt"
                             type="RSA" />
            </SSLHostConfig>
        </Connector>
        <Engine name="UlyssesEngine" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
            </Realm>
            <Host name="localhost" appBase="webapps/ulysses" unpackWARs="true" autoDeploy="true"/>
        </Engine>
    </Service>

    <Service name="MS">
        <Executor name="tomcat" namePrefix="catalina-exec-" minSpareThreads="16" maxThreads="256"/>
        <Connector port="9080" protocol="org.apache.coyote.http11.Http11NioProtocol" executor="tomcat"
                   SSLEnabled="true" scheme="https" secure="true"
                   sslImplementationName="org.apache.tomcat.util.net.openssl.OpenSSLImplementation"
                   useAsyncIO="true" connectionTimeout="60000"
                   compression="on" compressibleMimeType="text/plain,application/json" >
            <UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol"
                             readTimeout="60000" writeTimeout="60000" compression="on" />
            <SSLHostConfig protocols="TLSv1.2" insecureRenegotiation="true">
                <Certificate certificateKeyFile="/etc/ledp/tls/server.key"
                             certificateFile="/etc/ledp/tls/server.crt"
                             type="RSA" />
            </SSLHostConfig>
        </Connector>
        <Engine name="MicroserviceEngine" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
            </Realm>
            <Host name="localhost" appBase="webapps/ms" unpackWARs="true" autoDeploy="true" startStopThreads="4"/>
        </Engine>
    </Service>

    <Service name="PLS">
        <Executor name="tomcat" namePrefix="catalina-exec-" minSpareThreads="4" maxThreads="64"/>
        <Connector port="9081" protocol="org.apache.coyote.http11.Http11NioProtocol" executor="tomcat"
                   SSLEnabled="true" scheme="https" secure="true"
                   sslImplementationName="org.apache.tomcat.util.net.openssl.OpenSSLImplementation"
                   useAsyncIO="true" connectionTimeout="60000"
                   compression="on" compressibleMimeType="text/plain,application/json" >
            <UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol"
                             readTimeout="60000" writeTimeout="60000" compression="on" />
            <SSLHostConfig protocols="TLSv1.2" insecureRenegotiation="true">
                <Certificate certificateKeyFile="/etc/ledp/tls/server.key"
                             certificateFile="/etc/ledp/tls/server.crt"
                             type="RSA" />
            </SSLHostConfig>
        </Connector>
        <Engine name="PlsEngine" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
            </Realm>
            <Host name="localhost" appBase="webapps/pls" unpackWARs="true" autoDeploy="true"/>
        </Engine>
    </Service>

</Server>
