<div id="add-user-modal">
    <div class="modal-dialog" data-ng-controller="AddUserController">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ResourceUtility.getString('ADD_USER_TITLE')}}</h4>
            </div>
            <form novalidate name="form">
                <div class="modal-body">
                    <div data-ng-show="saveInProgress && !showExistingUser">
                        <div class="loader"> </div>
                        <h2 class="text-center">{{ResourceUtility.getString('ADD_USERS_WAIT')}}</h2>
                    </div>

                    <div class="messaging error-messaging" data-ng-show="showAddUserError">
                        <span>{{addUserErrorMessage}}</span>
                        <!-- <button class="close btn btn-link" data-ng-click="showAddUserError = false;"><i class="fa fa-times fa-inverse"></i></button> -->
                    </div>
                    <div class="messaging success-messaging" data-ng-show="showAddUserSuccess">
                        <span>{{addUserSuccessMessage}}</span>
                        <!-- <button class="close btn btn-link" data-ng-click="showAddUserSuccess = false;"><i class="fa fa-times fa-inverse"></i></button> -->
                    </div>
                    <div class="row" data-ng-hide="saveInProgress">
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <label class="control-label">{{ResourceUtility.getString('ADD_USER_FIRST_NAME_LABEL')}}</label>
                                <input type="text" class="form-control" name="{{ResourceUtility.getString('ADD_USER_TITLE')}}: {{ResourceUtility.getString('ADD_USER_FIRST_NAME_LABEL')}}" data-ng-model="user.FirstName" ng-disabled="showAddUserSuccess" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">{{ResourceUtility.getString('ADD_USER_LAST_NAME_LABEL')}}</label>
                                <input type="text" class="form-control" name="{{ResourceUtility.getString('ADD_USER_TITLE')}}: {{ResourceUtility.getString('ADD_USER_LAST_NAME_LABEL')}}" data-ng-model="user.LastName" ng-disabled="showAddUserSuccess" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">{{ResourceUtility.getString('ADD_USER_EMAIL_LABEL')}}</label>
                                <input type="email" class="form-control" name="{{ResourceUtility.getString('ADD_USER_TITLE')}}: {{ResourceUtility.getString('ADD_USER_EMAIL_LABEL')}}" data-ng-model="user.Email" ng-change="emailChange()" ng-disabled="showAddUserSuccess" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">{{ResourceUtility.getString('ADD_USER_ACCESS_LEVEL_LABEL')}}</label>
                                <select data-ng-options="ResourceUtility.getString('ACCESS_LEVEL_' + level) for level in levelsToSelect"
                                        class="form-control" data-ng-model="user.AccessLevel" name="{{ResourceUtility.getString('ADD_USER_ACCESS_LEVEL_LABEL')}}" 
                                        ng-disabled="!allowAccessSelect() || disableExpire()"></select>
                            </div>
                             <div class="form-group" ng-if="allowExpireSelect()">
                                <label class="control-label">{{ResourceUtility.getString('ADD_USER_EXPIRE_PERIOD_LABEL')}}</label>
                                 <input type="date" class="form-control" data-ng-model="user.ExpirationDate" ng-disabled="showAddUserSuccess" />
                            </div>
                        </div>
                    </div>
                    <div data-ng-show="showExistingUser">
                        <p>{{ResourceUtility.getString('ADD_USER_EXISTING_P1')}}</p>
                        <table class="existing-user-info">
                            <tr><th>{{ResourceUtility.getString('ADD_USER_FIRST_NAME_LABEL')}}</th><td>{{existingUser.FirstName}}</td></tr>
                            <tr><th>{{ResourceUtility.getString('ADD_USER_LAST_NAME_LABEL')}}</th><td>{{existingUser.LastName}}</td></tr>
                            <tr><th>{{ResourceUtility.getString('ADD_USER_EMAIL_LABEL')}}</th><td>{{existingUser.Email}}</td></tr>
                        </table>
                        <br/>
                        <p>{{ResourceUtility.getString('ADD_USER_EXISTING_P2', [ResourceUtility.getString('ACCESS_LEVEL_' + user.AccessLevel)])}}</p>
                    </div>
                </div>
                <div class="modal-footer" data-ng-hide="saveInProgress || showExistingUser">
                    <div class="row">
                        <div class="six columns">
                            <button id="add-user-btn-cancel" class="button gray-button block-button" type="button" data-ng-click="cancelClick()" data-ng-hide="showAddUserSuccess">{{ResourceUtility.getString('BUTTON_CANCEL_LABEL')}}</button>
                        </div>
                        <div class="six columns">
                            <button id="add-user-btn-save" class="button orange-button block-button" data-ng-click="addUserClick($event)" data-ng-hide="showAddUserSuccess">{{ResourceUtility.getString('BUTTON_SAVE_LABEL')}}</button>
                            <button id="add-user-btn-ok" class="button orange-button block-button" data-ng-click="refreshClick()" data-ng-show="showAddUserSuccess">{{ResourceUtility.getString('BUTTON_OK_LABEL')}}</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" data-ng-show="showExistingUser">
                    <div class="row">
                        <div class="six columns">
                            <button id="add-user-btn-no" class="button gray-button block-button" type="button" data-ng-click="noClick()">{{ResourceUtility.getString('BUTTON_NO_LABEL')}}</button>
                        </div>
                        <div class="six columns">
                            <button id="add-user-btn-ok-2" class="button gray-button block-button" data-ng-click="yesClick($event)">{{ResourceUtility.getString('BUTTON_YES_LABEL')}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>