<section ng-controller="SidebarRootController">
    <button class="open-button open" data-ng-click="handleSidebarToggle($event)">
        <span class="ico ico-arrow-open"></span>
    </button>
    <ul class="menu">
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="home.models"><span class="ico-container"><span class="ico ico-model ico-light-gray" title="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_MODEL_LIST')}}"></span></span><span class="label">{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_MODEL_LIST')}}</span> <span class="badge blue-badge pull-right" ng-show="totalmodels">{{totalmodels}}</span></a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="home.model.attributes"><span class="ico-container"><span class="ico ico-attributes ico-light-gray" title="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ATTRIBUTES')}}"></span></span><span class="label">{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ATTRIBUTES')}}</span></a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="home.model.performance"><span class="ico-container"><span class="ico ico-performance ico-light-gray" title="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_PERFORMANCE')}}"></span></span><span class="label">{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_PERFORMANCE')}}</span></a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="home.model.leads"><span class="ico-container"><span class="ico ico-leads ico-light-gray" title="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_LEADS')}}"></span></span><span class="label">{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_LEADS')}}</span></a>
        </li>
        <li data-ng-if="showModelSummary" role="presentation" ui-sref-active="active">
            <a ui-sref="home.model.summary"><span class="ico-container"><span class="ico ico-datatable ico-light-gray" title="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SUMMARY')}}"></span></span><span class="label">{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SUMMARY')}}</span></a>
        </li>
        <li data-ng-if="showAlerts" role="presentation" ui-sref-active="active">
            <a ui-sref="home.model.alerts"><span class="ico-container"><span class="ico ico-alerts ico-light-gray" title="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ALERTS')}}"></span></span><span class="label">{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ALERTS')}}</span></a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="home.model.jobs"><span class="ico-container"><span class="ico ico-scoring ico-light-gray" title="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SCORING')}}"></span></span><span class="label">{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SCORING')}}</span></a>
        </li>
        <li>
            <a ui-sref="home.model.review.columns"><span class="ico-container"><span class="ico ico-light-gray" title="{{ResourceUtility.get('NAVIGATION_SIDEBAR_LP_REVIEW')}}"></span></span><span class="label">{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_REVIEW')}}</span></a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="home.model.refine"><span class="ico-container"><span class="ico ico-refine ico-light-gray" title="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_REFINE')}}"></span></span><span class="label">{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_REFINE')}}</span></a>
        </li>
    </ul>
    <div class="logo-container">
        <a href="#/" class="logo" style="float: none;padding: 0;">
            <img src="/assets/images/logo-lattice-white.png" alt="Lattice Logo" />
        </a>
    </div>
</section>
