<div ng-controller="SidebarRootController">
    <div class="menu-header">
        <a ui-sref="home.models" class="button button-blue icon-button">
            <span class="fa fa-angle-left"></span>
        </a>
        <h3>{{ name }}</h3>
    </div>
    <ul class="menu">
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="home.model.attributes"><span class="ico ico-attributes ico-light-gray"></span>{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ATTRIBUTES')}}</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="home.model.performance"><span class="ico ico-performance ico-light-gray"></span>{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_PERFORMANCE')}}</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="home.model.leads"><span class="ico ico-leads ico-light-gray"></span>{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_LEADS')}}</a>
        </li>
        <li data-ng-if="showModelSummary" role="presentation" ui-sref-active="active">
            <a ui-sref="home.model.summary"><span class="ico ico-datatable ico-light-gray"></span>{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SUMMARY')}}</a>
        </li>
        <li data-ng-if="showAlerts" role="presentation" ui-sref-active="active">
            <a ui-sref="home.model.alerts"><span class="ico ico-alerts ico-light-gray"></span>{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ALERTS')}}</a>
        </li>
        
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="home.model.jobs"><span class="ico ico-scoring ico-light-gray"></span>{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SCORING')}}</a>
        </li>
        
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="home.model.refine"><span class="ico ico-refine ico-light-gray"></span>{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_REFINE')}}</a>
        </li>
    </ul>
</div>