<section ng-controller="SidebarRootController" class="lp-sidebar-menu noselect-children" ng-click="handleSidebarToggle($event)">
    <div class="logo-container">
        <a href="#/" class="logo" style="float: none;padding: 0;">
            <img src="/assets/images/logo-lattice-white.png" alt="Lattice Logo" />
        </a>
    </div>
    <ul class="menu">
        <li ng-if="showAnalysisPage" role="presentation" ui-sref-active="active">
            <a 
                
                ui-sref="home.segment.explorer.attributes({segment:'Create'})"
                ui-sref-opts="{reload: true}"
                analytics-on="click"
                analytics-event="{{::ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_MYDATA')}}">
                
                    <span class="ico-container" data-stooltip="{{::ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_MYDATA')}}">
                        <span class="ico ico-analysis ico-light-gray"></span>
                    </span>
                    <span class="label">{{::ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_MYDATA')}}</span>
            </a>
        </li>
        <li ng-if="showSegmentationPage" role="presentation" ui-sref-active="active">
            <a ui-sref="home.segments" analytics-on="click" analytics-event="{{::ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SEGMENTATION')}}">
                <span class="ico-container" data-stooltip="{{::ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SEGMENTATION')}}">
                    <span class="ico ico-segments ico-light-gray"></span>
                </span>
                <span class="label">{{::ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SEGMENTATION')}}</span>
            </a>
        </li>
        <li role="presentation" ng-class="{active: $state.includes('home.models') || $state.includes('home.models.history')}">
            <a ui-sref="home.models" analytics-on="click" analytics-event="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_MODEL_LIST')}}" ui-sref-opts="{reload: true}">
                <span class="ico-container" data-stooltip="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_MODEL_LIST')}}">
                    <span class="ico ico-model ico-light-gray"></span>
                </span>
                <span class="label">
                    {{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_MODEL_LIST')}}
                </span>
            </a>
        </li>
        <li ng-if="showCampaignsPage" role="presentation" ng-class="{active: $state.includes('home.campaigns')}">
            <a ui-sref="home.campaigns" analytics-on="click" analytics-event="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_CAMPAIGNS')}}" ui-sref-opts="{reload: true}">
                <span class="ico-container" data-stooltip="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_CAMPAIGNS')}}">
                    <span class="ico ico-campaign ico-light-gray"></span>
                </span>
                <span class="label">
                    {{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_CAMPAIGNS')}}
                </span>
            </a>
        </li>
        <li ng-if="showPlayBook" role="presentation" ng-class="{active: $state.includes('home.playbook')}">
            <a ui-sref="home.playbook" analytics-on="click" analytics-event="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_PLAY_BOOK')}}">
                <span class="ico-container tool-tip" data-stooltip="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_PLAY_BOOK')}}">
                    <span class="ico ico-playbook"></span>
                </span>
                <span class="label">
                    {{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_PLAY_BOOK')}}
                </span>
            </a>
        </li>
        <li role="presentation" ng-class="{active: $state.includes('home.datacloud.explorer') || $state.includes('home.datacloud.lookup')}">
            <a ui-sref="home.datacloud.explorer({section:'edit',category:'',subcategory:''})" ui-sref-opts="{reload:true}" analytics-on="click" analytics-event="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_DATA_CLOUD')}}">
                <span class="ico-container tool-tip" data-stooltip="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_DATA_CLOUD')}}">
                    <span class="ico ico-enrichment ico-light-gray"></span>
                </span>
                <span class="label">
                    {{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_DATA_CLOUD')}}
                </span>
            </a>
        </li>
        <li ng-if="showMarketoSettings" role="presentation" ng-class="{active: $state.includes('home.marketosettings')}">
            <a ui-sref="home.marketosettings.apikey" analytics-on="click" analytics-event="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_MARKETO')}}">
                <span class="ico-container" data-stooltip="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_MARKETO')}}">
                    <span class="ico ico-marketo ico-light-gray"></span>
                </span>
                <span class="label">
                    {{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_MARKETO')}}
                </span>
            </a>
        </li>
        <li ng-if="showEloquaSettings" role="presentation" ng-class="{active: $state.includes('home.eloquasettings')}">
            <a ui-sref="home.eloquasettings.apikey" analytics-on="click" analytics-event="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ELOQUA')}}">
                <span class="ico-container" data-stooltip="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ELOQUA')}}">
                    <span class="ico ico-eloqua ico-light-gray"></span>
                </span>
                <span class="label">
                    {{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ELOQUA')}}
                </span>
            </a>
        </li>
        <li ng-if="showSalesforceSettings" role="presentation" ui-sref-active="active">
            <a ui-sref="home.sfdcsettings" analytics-on="click" analytics-event="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SFDC')}}">
                <span class="ico-container" data-stooltip="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SFDC')}}">
                    <span class="ico ico-salesforce ico-light-gray"></span>
                </span>
                <span class="label">
                    {{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SFDC')}}
                </span>
            </a>
        </li>
        <li ng-if="showApiConsole" role="presentation" ui-sref-active="active">
            <a ui-sref="home.apiconsole" analytics-on="click" analytics-event="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_API_CONSOLE')}}">
                <span class="ico-container" data-stooltip="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_API_CONSOLE')}}">
                    <span class="ico ico-api-console ico-light-gray"></span>
                </span>
                <span class="label">
                    {{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_API_CONSOLE')}}
                </span>
            </a>
        </li>
        <li ng-if="showContactUs" role="presentation" ui-sref-active="active">
            <a target="_contact_us" href="https://docs.google.com/forms/d/e/1FAIpQLSdxVGLgkna6zA_m2z6TF4eVH5OtF_qHPtyq80Oiy53vu9Of3A/viewform" analytics-on="click" analytics-event="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_CONTACT_US')}}">
                <span class="ico-container" data-stooltip="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_CONTACT_US')}}">
                    <span class="ico ico-contact-us ico-light-gray"></span>
                </span>
                <span class="label">
                    {{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_CONTACT_US')}}
                </span>
            </a>
        </li>
    </ul>
    <button class="open-button open">
        <span class="ico ico-arrow-open"></span>
    </button>
</section>
