<section ng-controller="SidebarRootController">
    <button class="open-button open" data-ng-click="handleSidebarToggle($event)">
        <span class="ico ico-arrow-open"></span>
    </button>
    <ul class="menu">
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="home.models"><span class="ico-container"><span class="ico ico-model ico-light-gray" title="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_MODEL_LIST')}}"></span></span><span class="label">{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_MODEL_LIST')}}</span> <span class="badge blue-badge pull-right" ng-show="totalmodels">{{totalmodels}}</span></a>
        </li>
        <li ng-if="showUserManagement" role="presentation" ui-sref-active="active">
            <a ui-sref="home.users"><span class="ico-container"><span class="ico ico-user ico-light-gray" title="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_USERS')}}"></span></span><span class="label">{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_USERS')}}</span></a>
        </li>
        <li ng-if="showLeadEnrichmentPage" role="presentation" ui-sref-active="active">
            <a ui-sref="home.enrichment"><span class="ico-container"><span class="ico ico-history ico-light-gray" title="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ENRICHMENT')}}"></span></span><span class="label">{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ENRICHMENT')}}</span></a>
        </li>
        <li ng-if="showJobsPage" role="presentation" ui-sref-active="active">
            <a ui-sref="home.jobs.status" ui-sref-opts="{reload: true}"><span class="ico-container"><span class="ico ico-cog ico-light-gray" title="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_JOBS')}}"></span></span><span class="label">{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_JOBS')}}</span></a>
        </li>   
        <li ng-if="showMarketoSettings" role="presentation" ng-class="{active: $state.includes('home.marketosettings')}">
            <a ui-sref="home.marketosettings.apikey"><span class="ico-container"><span class="ico ico-marketo ico-light-gray" title="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_MARKETO')}}"></span></span><span class="label">{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_MARKETO')}}</span></a>
        </li>
        <li ng-if="showEloquaSettings" role="presentation" ng-class="{active: $state.includes('home.eloquasettings')}">
            <a ui-sref="home.eloquasettings.apikey"><span class="ico-container"><span class="ico ico-eloqua ico-light-gray" title="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ELOQUA')}}"></span></span><span class="label">{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_ELOQUA')}}</span></a>
        </li>
        <li ng-if="showSalesforceSettings" role="presentation" ui-sref-active="active">
            <a ui-sref="home.sfdcsettings"><span class="ico-container"><span class="ico ico-salesforce ico-light-gray" title="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SFDC')}}"></span></span><span class="label">{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_SFDC')}}</span></a>
        </li>
        <li ng-if="showApiConsole" role="presentation" ui-sref-active="active">
            <a ui-sref="home.apiconsole"><span class="ico-container"><span class="ico ico-api-console ico-light-gray" title="{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_API_CONSOLE')}}"></span></span><span class="label">{{ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_API_CONSOLE')}}</span></a>
        </li>
    </ul>
    <div class="logo-container">
        <a href="#/" class="logo" style="float: none;padding: 0;">
            <img src="/assets/images/logo-lattice-white.png" alt="Lattice Logo" />
        </a>
    </div>
</section>
