<div>
    <div>
        <a href="#/" class="logo" style="float: none;padding: 0;">
            <img src="/assets/images/logo-lattice-white.png" alt="Lattice Logo" />
        </a>
    </div>
    <ul class="menu">
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="models"><span class="ico ico-model ico-light-gray"></span>Prediction Models <span class="badge blue-badge pull-right" ng-show="totalmodels">{{totalmodels}}</span></a>
            <ul data-ng-if="showCreateModel" >
                <li role="presentation" ui-sref-active="active"><a ui-sref="models.import">Create a Model</a></li>
            </ul>
        </li>
        <li data-ng-if="showUserManagement" role="presentation" ui-sref-active="active">
            <a ui-sref="users"><span class="ico ico-user ico-light-gray"></span>Manage Users</a>
        </li>
        <li data-ng-if="showModelCreationHistory" role="presentation" ui-sref-active="active">
            <a ui-sref="history"><span class="ico ico-history ico-light-gray"></span>Model Creation History</a>
        </li>
        <!--
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="fields"><span class="fa fa-columns"></span>Manage Fields</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="setup"><span class="fa fa-database"></span>System Setup</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="activate"><span class="fa fa-rocket"></span>Activate Model</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="enrichment"><span class="fa fa-area-chart"></span>Enrichment</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="dashboard"><span class="fa fa-dashboard"></span>Scoring Dashboard</a>
        </li>
        -->
        <li data-ng-if="showJobs" role="presentation" ui-sref-active="active">
            <a ui-sref="jobs.status" ui-sref-opts="{reload: true}"><span class="ico ico-cog ico-light-gray"></span>Jobs</a>
        </li>
        <li data-ng-if="showMarketoSettings" role="presentation" ui-sref-active="active">
            <a ui-sref="marketosettings.apikey"><span class="ico ico-marketo ico-light-gray"></span>Marketo Settings</a>
        </li>
    </ul>
</div>