<section class="ratings-engine-ai-prospect container">
    <div class="header-container">
        <div class="title-container">
            <h2>You have {{vm.prospect}} Prospect and {{vm.customers}} Customers in the Segment</h2>
        </div>
        <div class="actions-container">
            
        </div>
    </div>

    <div class="row">
        <div ui-view="prospect-graph"></div>
        <div class="columns seven prospect-choises">
            <p>What would you like to build?</p>
            <form name="myForm" ng-repeat="opt in vm.buildOptions">
                <label>
                    <input type="radio" ng-model="vm.buildOption" value="{{opt.id}}" ng-disabled="{{opt.disabled}}"> {{opt.label}}
                </label>
                <br/>
            </form>
        </div>
    </div>
</section>