<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="SHUTDOWN">
    <Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
    <!-- Security listener. Documentation at /docs/config/listeners.html
    <Listener className="org.apache.catalina.security.SecurityListener" />
    -->
    <!--APR library loader. Documentation at /docs/apr.html -->
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on"/>
    <Listener className="org.apache.catalina.core.JasperListener"/>
    <!-- Prevent memory leaks due to use of particular java/javax APIs-->
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>

    <GlobalNamingResources>
        <Resource name="UserDatabase" auth="Container"
                  type="org.apache.catalina.UserDatabase"
                  description="User database that can be updated and saved"
                  factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
                  pathname="conf/tomcat-users.xml"/>
    </GlobalNamingResources>

    <Service name="MS">
        <Connector port="8080" protocol="HTTP/1.1" connectionTimeout="20000"/>

        <Engine name="MicroserviceEngine" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
                       resourceName="UserDatabase"/>
            </Realm>

            <Host name="localhost" appBase="webapps/ms" unpackWARs="false" autoDeploy="true" undeployOldVersions="true"
                  startStopThreads="8">
                <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve" threshold="60"/>
            </Host>
        </Engine>
    </Service>


    <Service name="PLS">
        <Connector port="8081" protocol="HTTP/1.1" connectionTimeout="20000"/>


        <Engine name="PlsEngine" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
                       resourceName="UserDatabase"/>
            </Realm>

            <Host name="localhost" appBase="webapps/pls" unpackWARs="false" autoDeploy="true"
                  undeployOldVersions="true">
                <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve" threshold="60"/>
            </Host>
        </Engine>
    </Service>

    <Service name="Admin">
        <Connector port="8085" protocol="HTTP/1.1" connectionTimeout="20000"/>

        <Engine name="AdminEngine" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
                       resourceName="UserDatabase"/>
            </Realm>

            <Host name="localhost" appBase="webapps/admin" unpackWARs="false" autoDeploy="true"
                  undeployOldVersions="true">
                <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve" threshold="60"/>
            </Host>
        </Engine>
    </Service>

    <Service name="PlayMaker">
        <Connector port="8071" protocol="HTTP/1.1" connectionTimeout="20000"/>


        <Engine name="PlayMakerEngine" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
                       resourceName="UserDatabase"/>
            </Realm>

            <Host name="localhost" appBase="webapps/playmaker" unpackWARs="false" autoDeploy="true"
                  undeployOldVersions="true">
                <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve" threshold="60"/>
            </Host>
        </Engine>
    </Service>

    <Service name="OAuth">
        <Connector port="8072" protocol="HTTP/1.1" connectionTimeout="20000"/>

        <Engine name="OAuthEngine" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
                       resourceName="UserDatabase"/>
            </Realm>

            <Host name="localhost" appBase="webapps/oauth" unpackWARs="false" autoDeploy="true"
                  undeployOldVersions="true">
                <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve" threshold="60"/>
            </Host>
        </Engine>
    </Service>

    <Service name="ScoringAPI">
        <Connector port="8073" protocol="HTTP/1.1" connectionTimeout="20000"/>

        <Engine name="ScoringApiEngine" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
                       resourceName="UserDatabase"/>
            </Realm>

            <Host name="localhost" appBase="webapps/scoringapi" unpackWARs="false" autoDeploy="true"
                  undeployOldVersions="true">
                <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve" threshold="60"/>
            </Host>
        </Engine>
    </Service>

    <Service name="API">
        <Connector port="8074" protocol="HTTP/1.1" connectionTimeout="20000"/>

        <Engine name="ApiEngine" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
                       resourceName="UserDatabase"/>
            </Realm>

            <Host name="localhost" appBase="webapps/api" unpackWARs="false" autoDeploy="true"
                  undeployOldVersions="true">
                <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve" threshold="60"/>
            </Host>
        </Engine>
    </Service>

    <Service name="Job">
        <Connector port="8075" protocol="HTTP/1.1" connectionTimeout="20000"/>

        <Engine name="JobEngine" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
                       resourceName="UserDatabase"/>
            </Realm>

            <Host name="localhost" appBase="webapps/job" unpackWARs="false" autoDeploy="true"
                  undeployOldVersions="true">
                <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve" threshold="60"/>
            </Host>
        </Engine>
    </Service>

</Server>
