.ratingsengine-type {
    .wizard-content {
        font-size: 16px;
        h3 {
            text-transform: none;
            font-size: 23px;
            text-align: center;
            font-weight: normal;
            margin-bottom: 20px;
        }
    }
    .types {
        @include flex-container;
        flex-flow: row wrap;
        justify-content: center;
        align-content: flex-start;
        margin: 0;
        &:before, &:after {
            content: '';
            width: 100%;
            order: 1;
        }
        & > li {
            @include flex-container;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            width: 160px;
            height: 160px;
            padding: 10px;
            margin: 5px;
            font-size: 13px;
            line-height: 17px;
            border-radius: 4px;
            border: 1px solid #d0d0d0;
            text-align: center;
            svg {
                width: 40px;
                path, polygon, rect {
                    fill: #3f7bbd;
                }
            }
            &:nth-child(-n + 4) {
                order: 1;
            }
            &:nth-child(n + 5) {
                order: 2;
            }
            &:hover {
                border-color: #6A9ACE;
                -webkit-box-shadow: 0px 3px 8px 0px rgba(128, 211, 239, 0.35);
                -moz-box-shadow: 0px 3px 8px 0px rgba(128, 211, 239, 0.35);
                box-shadow: 0px 3px 8px 0px rgba(128, 211, 239, 0.35);
                cursor: pointer;
                path, polygon, rect {
                    fill: #3f7bbd;
                }
            }
            &.disabled {
                border-color: #d0d0d0;
                background: #fefefe;
                color: #bbb;
                pointer-events: none;
                path, polygon, rect {
                    fill: #bbb;
                }
                &:hover {
                    path, polygon, rect {
                        fill: #bbb;
                    }
                }
            }
            &.first-purchase svg {
                height: 39px;
            }
            &.return-purchase svg {
                height: 42px;
            }
            &.product-prospects svg {
                height: 48px;
            }
            &.business-prospects svg {
                height: 48px;
            }
            &.rules-prospects svg {
                height: 43px;
            }
            &.custom-event svg {
                height: 48px;
            }
            &.import-pmml svg {
                width: 42px;
                height: 46px;
            }
            &.ai {
                strong {
                    background-image: url(/assets/images/ratingsengine-type-ai-black.png);
                }
                &.selected {
                    strong {
                        background-image: url(/assets/images/ratingsengine-type-ai-white.png);
                    }
                }
            }
            &.rulebased {
                strong {
                    background-image: url(/assets/images/ratingsengine-type-rulebased-black.png);
                }
                &.selected {
                    strong {
                        background-image: url(/assets/images/ratingsengine-type-rulebased-white.png);
                    }
                }
            }
            .fa-spinner,
            .fa-exclamation-circle {
                position: absolute;
                bottom: 6px;
                right: 6px;
                color: #a9a9a9;
            }
        }
        &.disabled li {
                border-color: #d0d0d0;
                background: #fefefe;
                color: #bbb;
                pointer-events: none;
                path, polygon, rect {
                    fill: #bbb;
                }
                &:hover {
                    path, polygon, rect {
                        fill: #bbb;
                    }
                }
            }
    }
}