.filters {
    .dropdown-container {
        position: relative;
        
        &.open button {
            background: #1a1a1a;
            color: #fafafa;
            border-bottom-right-radius: 0;
        }

        &:not(.open) button.selected {
            background-color: #457EBA;
            border: 1px solid #457EBA;
            color: #eee;
        }
        
        ul {
            position: absolute;
            bottom: 0; 
            right: 1px;
            transform: translateY(100%);
            background: #1a1a1a;
            color: #fafafa;
            white-space: nowrap;
            padding: 10px 5px;
            border-radius: 4px;
            border-top-right-radius: 0;
            display: none;
            z-index: 2;
            
            li {
                padding: 0.3em 1em 0.4em 0.6em;
                
                input {
                    position: relative;
                    top: 2px;
                }
            }
        }

        &.open ul.dropdown {
            display: inline-block;
        }
    }
}