.filters {
    .dropdown-container {
        position: relative;
        
        &.open button {
            background: #1a1a1a;
            color: #fafafa;
            border-bottom-right-radius: 0;
        }
        
        ul {
            position: absolute;
            bottom: 0; 
            right: 1px;
            transform: translateY(100%);
            background: #1a1a1a;
            color: #fafafa;
            white-space: nowrap;
            padding: 5px;
            border-radius: 4px;
            border-top-right-radius: 0;
            display: none;
            z-index: 2;
            
            li {
                padding: 0.3em 0.6em;
            }
        }

        &.open ul.dropdown {
            display: inline-block;
        }
    }
}