<form class="form form-tenant-select" name="tenant-select-form" *ngIf="initialize">
    <div class="messaging error-messaging" *ngIf="showTenantError">
        <button id="close-button" type="button" class="close" (click)="showTenantError = false;">x</button>
        <i class="fa fa-warning"></i>
        <span>{{tenantErrorMessage}}</span>
    </div>
    <div class="tenant-select-header row">
        <h4 class="tenant-header">{{strings.getString("TENANT_SELECTION_FORM_TITLE")}}</h4>
    </div>
    <div class="tenant-select-body">
        <div class="tenant-select-controls">
            <div class="button-group" role="group" aria-label="Basic example">
                <button (click)="version = '3.0'" type="button" class="button {{version=='3.0'?'green':'white'}}-button icon-button">3.0</button>
                <button (click)="version = '2.0'" type="button" class="button {{version=='2.0'?'green':'white'}}-button icon-button">2.0</button>
                <button (click)="version = ''" type="button" class="button {{!version?'green':'white'}}-button icon-button">All</button>
            </div>
            <div class="tenant-select-controls-right pull-right">
                <div class="select-menu ng-search open-absolute">
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Search" 
                        name="SearchValue"
                        [(ngModel)]="SearchValue" 
                        *ngIf="visible"
                        (keydown)="keyDown($event)"
                        autofocus
                    />
                    <a class="button icon-button white-button" (click)="toggle()">
                        <span class="fa fa-search" *ngIf="!visible"></span>
                        <span class="fa fa-times" *ngIf="visible"></span>
                    </a>
                </div>
            </div>
        </div>
        <div 
            class="columns twelve panel panel-default tenant-select-list"
            ngClass="{ 'deactivated': deactivated }"
            name="select_value"
        >
            <div class="row panel-heading custom-heading">
                <div class="columns two" (click)="sort('UIVersion')">
                    Ver.<i *ngIf="SortProperty == 'UIVersion'" class="fa fa-caret-{{SortDirection ? 'up' : 'down'}}"></i>
                </div>
                <div class="columns six" (click)="sort('DisplayName')">
                    Name<i *ngIf="SortProperty == 'DisplayName'" class="fa fa-caret-{{SortDirection ? 'up' : 'down'}}"></i>
                </div>
                <div class="columns four" (click)="sort('RegisteredTime')">
                    Created<i *ngIf="SortProperty == 'RegisteredTime'" class="fa fa-caret-{{SortDirection ? 'up' : 'down'}}"></i>
                </div>
            </div>
            <div class="row panel-body tenant-selection-list" (mouseover)="hover()" *ngIf="!deactivated">
                <div 
                    *ngFor="let tenant of tenantList | filter : 'UIVersion' : version | filter : 'DisplayName' : SearchValue | orderby : [ SortDirection + SortProperty ]"
                    class="job-td-row tenant-list-item {{$index}}"
                    id="{{tenant.Identifier}}"
                    (click)="select(tenant)"
                >
                    <div class="columns two tenant-version"><span class="badge {{tenant.UIVersion == '3.0' ? 'blue' : 'gray'}}-badge">{{tenant.UIVersion}}</span></div>
                    <div class="columns seven tenant-name">{{tenant.DisplayName}}</div>
                    <div class="columns three tenant-date">{{tenant.RegisteredTime | date:'MM/dd/yyyy'}}</div>
                </div>
                <div class="text-center tenant-list-spinner" *ngIf="deactivated">
                    <section class="loading-spinner lattice show-spinner"> 
                        <h2 class="text-center">Launching LP{{selected.UIVersion == '2.0' ? ' 2.0' : 'I' }}</h2>
                        <div class="meter"><span class="indeterminate"></span></div> 
                    </section>
                </div>
            </div>
            <span class="tenant-total">Displaying {{ (tenantList | filter : 'UIVersion' : version | filter : 'DisplayName' : SearchValue).length || 0 }} tenants</span>
        </div>
    </div>
</form>
