<section class="analysis-tabs tabs interior containerx">
    <ul>
        <li class="tab-browse"
            ui-sref="{{ vm.attributes }}"
            ui-sref-active="active" 
            ng-class="{'active':vm.checkState('builder')}">
            <div class="tab-container">
                <h2>Attributes
                    <span class="more-info">&#105;
                        <div class="tooltip_">
                            <div class="cover">
                                <h3>Attributes</h3>
                                <p>
                                    Select the attributes which contacts/accounts in the segment must have.  In query language these are AND conditions.
                                </p>
                                <p>
                                    You can further refine the segment using [ Refine Query ]
                                </p>
                            </div>
                        </div>
                    </span>
                </h2>
                <div class="enrichmentCounts">
                    <span class="count">{{(vm.DataCloudStore.metadata.enrichmentsTotal || 0) | number}}</span>
                    <span class="count">{{ vm.getRuleCount() }}</span>
                    SELECTIONS
                </div>
            </div>
        </li>
        <li class="tab-edit info noselect-children" ui-sref="{{ vm.accounts }}" ui-sref-active="active">
            <div class="tab-container">
                <h2>Accounts</h2>
                <div class="enrichmentCounts">
                    <span ng-if="!vm.counts.accounts.loading" class="count">{{vm.counts.accounts.value|number}}</span>
                    <span ng-if="vm.counts.accounts.loading" class="count"><i class="fa fa-spinner fa-spin"></i></span>
                </div>
            </div>
        </li>
        <li class="tab-team" ui-sref="{{ vm.contacts }}" ui-sref-active="active">
            <div class="tab-container">
                <h2>Contacts</h2>
                <div class="enrichmentCounts">
                    <span ng-if="!vm.counts.contacts.loading" class="count">{{vm.counts.contacts.value|number}}</span>
                    <span ng-if="vm.counts.contacts.loading" class="count"><i class="fa fa-spinner fa-spin"></i></span>
                </div>
            </div>
        </li>
        <!-- removing for segments:demo:fixme
        <li class="tab-edit" ng-if="vm.inModel()">
            <div class="tab-container">
                <h2>Lift</h2>
                <div class="enrichmentCounts">
                    <span class="count">1.0x</span>
                </div>
            </div>
        </li>
        -->
    </ul>

</section>
