<section id="AnalysisTabsView" class="containerx">
    <ul>
        <li class="tab-browse" ui-sref="home.model.analysis.explorer" ui-sref-active="active">
            <div class="tab-container">
                <h2>Attributes
                    <span class="more-info">&#105;
                        <div class="tooltip_">
                            <div class="cover">
                                <h3>Attributes</h3>
                                <p>
                                    Select the attributes which contacts/accounts in the segment must have.  In query language these are AND conditions.
                                </p>
                                <p>
                                    You can further refine the segment using [ Refine Query ]
                                </p>
                            </div>
                        </div>
                    </span>
                </h2>
                <div class="count" ng-if="vm.DataCloudStore.metadata.enrichmentsTotal">{{vm.DataCloudStore.metadata.enrichmentsTotal|number}}</div>
            </div>
        </li>
        <li class="tab-edit info noselect-children" ui-sref="home.model.analysis.accounts" ui-sref-active="active">
            <div class="tab-container">
                <h2>Accounts</h2>
                <div class="enrichmentCounts">
                    <span ng-if="vm.counts.accounts.state === 'done'" class="count">{{vm.counts.accounts.count|number}}</span>
                    <span ng-if="vm.counts.accounts.state === 'loading'" class="count"><i class="fa fa-spinner fa-spin"></i></span>
                </div>
            </div>
        </li>
        <li class="tab-team" ui-sref="home.model.analysis.contacts" ui-sref-active="active">
            <div class="tab-container">
                <h2>Contacts</h2>
                <div class="enrichmentCounts">
                    <span class="count">28,752</span>
                </div>
            </div>
        </li>
        <li class="tab-edit">
            <div class="tab-container">
                <h2>Lift</h2>
                <div class="enrichmentCounts">
                    <span class="count">1.0x</span>
                </div>
            </div>
        </li>
    </ul>
</section>