<section class="analysis-tabs tabs interior stretched">
    <ul class="noselect-children">
        <li ui-sref="{{vm.attributes}}" ng-class="{'active':vm.checkState('builder') || vm.checkState('attributes')}">
            <div class="tab-container">
                <h2>
                    Attributes
                    <span class="more-info show-tooltip bottom left delay">
                        &#105;
                        <div class="tooltip_">
                            <div class="cover">
                                <h3>
                                    Attributes
                                </h3>
                                <p>
                                    Select the attributes which contacts/accounts in the segment 
                                    must have.  In query language these are AND conditions.
                                </p>
                                <p>
                                    You can further refine the segment using [ Refine Query ]
                                </p>
                            </div>
                        </div>
                    </span>
                </h2>
                <div class="enrichmentCounts">
                    <span class="count">{{(vm.DataCloudStore.metadata.enrichmentsTotal || 0) | number}}</span>
                    <span class="count">{{ vm.getRuleCount() }}</span>
                    SELECTED
                </div>
            </div>
        </li>
        <li ui-sref="{{vm.accounts}}" ng-class="{'active':vm.checkState('accounts')}">
            <div class="tab-container">
                <h2>Accounts</h2>
                <div class="enrichmentCounts">
                    <span class="count">
                        <div class="expanding-bars-init" ng-class="{'expanding-bars-spinner':vm.counts.accounts.loading}">
                            <div ng-repeat="number in (vm.counts.accounts.value|number).toString() track by $index">{{ number }}</div>
                        </div>
                    </span>
                </div>
            </div>
        </li>
        <li ui-sref="{{vm.contacts}}" ng-class="{'active':vm.checkState('contacts')}">
            <div class="tab-container">
                <h2>Contacts</h2>
                <div class="enrichmentCounts">
                    <span class="count">
                        <div class="expanding-bars-init" ng-class="{'expanding-bars-spinner':vm.counts.contacts.loading}">
                            <div ng-repeat="number in (vm.counts.contacts.value|number).toString() track by $index">{{ number }}</div>
                        </div>
                    </span>
                </div>
            </div>
        </li>
    </ul>
</section>
