.segments-list {
    .tile-header h2 {
        background-image: url('/assets/images/ico-segments.png');
    }
    form textarea {
        max-width: 100%;
    }
    p.description {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

// 


input[type=text].invalid-field {
  border-left: 3px solid #B50A20;
  padding-left: 4px;
}