<%== $.View('assets/CommonAssets/views/renderers/BaseRenderer.ejs',{itemValue: data, renderType: RenderWorker.STRING_RENDERER}) %>

<%
	var elementName = StringUtil.GenerateUniqueExternalID("string");
%>
<div class='fixed-width-string single-line-ellipsis' name="<%= elementName %>" title='<%= tooltip %>'>
	<%= (data != null && typeof data == "string") ? data : "" %>
</div>

<%
    if (tooltip == null){
        // trigger ejs render to be completed before calling the tooltip plugin method
        setTimeout(function(){
            DOMUtil.showToolTipForElement($("[name=" + elementName + "]"));
        },0);
    }
%>