<div class="container">
    <div class="row">
        <div class="twelve columns">
            <div data-ng-if="vm.showDownloadMessage" class="success-message">
			    <h3> Your download has now begun. </h3>
			    <i class="fa fa-times fa-inverse" data-ng-click="vm.hideDownloadMessage()"></i>
            </div>
            <div data-ng-if="vm.showErrorMessage" class="warning-message">
                <h3> Your download has expired. </h3>
            </div>
            <div class="text-center" data-ng-show="!loading">
				<a style="margin-top: 50px" class="button icon-button orange-button" ng-class="{'disabled': vm.disableDownload}" href="/files/datacollection/segments/export/{{vm.exportId}}/download?Authorization={{vm.auth}}&TenantId={{vm.tenantId}}" ng-disabled="vm.disableDownload">
				    Download Your Exported Segment
				</a>
            </div>
        </div>
    </div>
</div>