	<div class="success-message subheader-success-message" style="margin-top: 20px" ng-if="vm.showDownloadMessage"> 
	    <h3> Your download has now begun. </h3>
	    <i class="fa fa-times fa-inverse" data-ng-click="vm.hideDownloadMessage()"></i>
	</div>

<div class="container">
    <section id="main-content" class="container">
    	<div class="row">
    		<div class="list-header">
    		</div>
    	</div>

    	<div class="row" >
    		<div class="twelve columns">
		    	<div class="create-tile">
				 	<div class="new-tile-button">
						<div class="text-center">
							<a style="margin-top: 50px" class="button icon-button orange-button" ng-click="vm.downloadSegmentExport()">
							    Download Your Exported Segment
							</a>
				        </div>
			    	</div>
				</div>
			</div>
		</div>
    </section>
</div>




