<section id="main-content" class="container lp-campaign-models">
    <div class="row">
        <div class="twelve columns">
            <div class="header">
            	<a class="back" ui-sref="home.campaigns"><i class="fa fa-arrow-left"></i> Back to all campaigns</a>
                <h2>Campaign {{vm.campaignId}} name</h2>
                <ul class="tabs_">
                    <li class="active">tab 1</li>
                    <li>tab 2</li>
                </ul>
                <div class="filters">
                    [filters]
                </div>
            </div>
            [models] [+ add model]
        </div>
    </div><!-- End .row -->
</section>