<div class="modal-dialog create-campaign-modal" data-ng-controller="CreateCampaignController">

  <div class="row">
    <div class="six columns">
      <button class="button gray-button block-button" type="button" data-ng-click="createAccountCampaignClick()">
        Account Campaign
      </button>
    </div>
    <div class="six columns">
      <button class="button gray-button block-button" type="button" data-ng-click="createLeadCampaignClick()">
        Lead Campaign
      </button>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns text-center">    
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
  </div>

</div>