<div class="modal-dialog create-campaign-modal" data-ng-controller="CreateCampaignController">

  <div class="row">
    <div class="twelve columns">    
      <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <button class="button gray-button block-button" type="button" data-ng-click="createAccountCampaignClick()">
        Account Campaign
      </button>
    </div>
    <div class="six columns">
      <button class="button gray-button block-button" type="button" data-ng-click="createLeadCampaignClick()">
        Lead Campaign
      </button>
    </div>
  </div>


</div>