<div class="lattice-fields container file-import-content">

    <div class="header">
        <h2>Lattice Fields</h2>
        <p>
            <strong>Please review the mapping between your data and Lattice Fields.</strong>
            <!-- {{vm.latticeFieldsDescription(vm.importType)}} -->
        </p>
    </div>

    <h3 class="{{vm.importType}}-matching">
        {{vm.importType + (vm.importType == 'Contacts' ? ' Fields' : ' Matching Fields')}}</h3>
    <p ng-if="vm.importType == 'Account'">
        These fields are used to match to Lattice Data Cloud. Mapping as many as possible will allow for a better match.
    </p>
    <form name="form">
        <ul ng-init="vm.fieldMapping = vm.fieldMapping || {}; vm.checkFieldsDelay(form)">
            <li ng-repeat="field in vm.matchingFieldsList">
                <label>{{field.displayName || field.name}}</label>
                <select class="form-control" ng-model="vm.fieldMapping[field.name].userField"
                    ng-init="vm.checkValidDelay(form)" ng-change="vm.changeLatticeField(vm.fieldMapping, form)"
                    ng-required="field.required" ng-class="{'required': field.required}">

                    <option value="">{{vm.ignoredFieldLabel}}</option>
                    <option ng-repeat="availableField in vm.availableFields"
                        value="{{field.name}}^/{{availableField.userField}}"
                        ng-disabled="vm.unavailableFields.indexOf(availableField.userField) !== -1"
                        ng-init="(availableField.mappedField == field.name ? vm.fieldMapping[field.name].userField = field.name + '^/' + availableField.userField : '')">
                        {{availableField.userField}}
                    </option>

                </select>
            </li>
        </ul>
        <div class="analysis-container" ng-if="(vm.analysisFieldsList && vm.analysisFieldsList.length > 0)">
            <div>
                <h3 class="analysis">Analysis Fields</h3>
                <p>These optional fields are used for analysis and are useful if you can provide them.</p>
                <ul>
                    <li ng-repeat="field in vm.analysisFieldsList | filter : {'type': 'TEXT'}">
                        <label>{{field.displayName || field.name}}</label>
                        <select class="form-control" ng-model="vm.fieldMapping[field.name].userField"
                            ng-change="vm.changeLatticeField(vm.fieldMapping, form)" ng-required="field.required"
                            ng-class="{'required': field.required}">

                            <option value="">{{vm.ignoredFieldLabel}}</option>
                            <option ng-repeat="availableField in vm.availableFields"
                                value="{{field.name}}^/{{availableField.userField}}"
                                ng-disabled="vm.unavailableFields.indexOf(availableField.userField) !== -1"
                                ng-init="(availableField.mappedField == field.name ? vm.fieldMapping[field.name].userField = field.name + '^/' + availableField.userField : '')">
                                {{availableField.userField}}
                            </option>
                        </select>
                    </li>
                </ul>
            </div>

            <div>
                <ul>
                    <li ng-repeat="field in vm.analysisFieldsList | filter : {'type': 'DATE'}">
                        <label>{{field.displayName || field.name}}
                            <span class="more-info">&#105;
                                <div class="tooltip_">
                                    <div class="cover">
                                        <p>
                                            {{vm.fieldDateTooltip}}
                                        </p>
                                    </div>
                                </div>
                            </span>
                        </label>
                        <div class="date-field">
                            <select class="form-control" ng-model="vm.fieldMapping[field.name].userField"
                                ng-change="vm.changeLatticeField(vm.fieldMapping, form)" ng-required="field.required"
                                ng-class="{'required': field.required}">

                                <option value="">{{vm.ignoredFieldLabel}}</option>
                                <option ng-repeat="availableField in vm.availableFields"
                                    value="{{field.name}}^/{{availableField.userField}}"
                                    ng-disabled="vm.unavailableFields.indexOf(availableField.userField) !== -1"
                                    ng-init="(availableField.mappedField == field.name ? vm.fieldMapping[field.name].userField = field.name + '^/' + availableField.userField : '')">
                                    {{availableField.userField}}
                                </option>
                            </select>
                            <date-field-component field="vm.getAnalysisField(field)" 
                            update-type="vm.chageDateFormat(fieldMapping)"></date-field-component>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </form>

</div>