@import "../colors.scss";

.le-autocomplete {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  .le-autocomplete-selected {
    padding: 0;
    list-style: none;
    margin: 0;
    display: inline-flex;
    align-items: center;
    .le-autocomplete {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      align-items: center;
      margin: 0.1em;
      padding: 0.5em;
      background-color: $palladium;
      border-radius: 6px;
      .le-autocomplete-name {
        margin-right: 0.8em;
      }
      .le-autocomplete-remove {
        cursor: pointer;
      }
    }
  }

  .le-autocomplete-input {
    background-color: $pearl-white;
    border-radius: 0px;
    justify-content: flex-end;
    padding-top: 0;
    padding-bottom: 0;
    & > i {
      margin-right: 0.5em;
    }
    input[type="text"] {
      width: 300px;
      height: 2.4em;
      display: inline-block;
      border: 0px solid;
      border-bottom: 1px solid $silver;
      border-radius: 1px;
      box-sizing: border-box;
      margin-left: 0.1em;
      margin-right: 0.1em;
    }
    input[type="text"]:focus {
      outline: none;
      border-bottom: 1px solid $gold-four;
    }

    .le-autocomplete-dropdown {
      position: relative;
      display: inline-block;
    }

    .le-autocomplete-dropdown-content {
      width: 100%;
      display: none;
      position: absolute;
      background-color: $white-gold;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px $cobalt;
      padding: 0;
      z-index: 1;
      list-style-type: none;

      .le-autocomplete-list-item{
        padding: 0.5em;
        cursor: pointer;
        &.selected{
          background-color: $silver;
        }
      }
      .le-autocomplete-list-item:hover{
        background-color: $palladium;
      }
      
    }
    .le-autocomplete-dropdown-show {
      margin-left: 0.7em;
      margin-top: 0;
      display: block;
      max-width: 250px;
    }
  }
}
