.s3files {
	h5 {
		font-size: 14px;
		font-weight: bold;
	}
	.le-table {
		.le-table-cell {
			.le-cell-template {
				flex: 1;
			}
		}
	}
	.fa-spinner {
		font-size: 13px;
	    color: #909090;
	    margin-right: 6px;
	}
}