<div class="box-inner lattice-rating round-box">
    <h2>
        <div class="category-icon ratings-logo">
            <img src="/lp/assets/images/logoonly_lattice.png" />
        </div>
        <div class="category-label">
            Lattice Rating
        </div>
    </h2>
    <div class="lattice-ratings">
        <ul>
            <li class="lattice-rating-list labels">
                <ul class="rating-item">
                    <li class="rating-label">Attribute</li>
                    <li class="rating-bar">
                    </li>
                    <li class="rating-lift">Lift</li>
                    <li class="rating-count">Records</li>
                </ul>
            </li>
            <li class="lattice-rating-list {{rating.Classname}}" 
                ng-repeat="rating in vm.latticeRatings.ratings | limitTo:6"
                ng-click="vm.selectBucketInput('Lattice_Ratings', rating.Lbl)">
                <ul class="rating-item">
                    <li class="rating-label">
                        <input  type="checkbox" 
                                ng-model="vm.segmentBucketInput['Lattice_Ratings' + rating.Lbl]" 
                                ng-checked="vm.segmentBucketInput['Lattice_Ratings' + rating.Lbl]" 
                                name="{{'Lattice_Ratings' + rating.Lbl}}" 
                                id="{{'Lattice_Ratings' + rating.Lbl}}" 
                                ng-if="vm.section == 'segment.analysis'" />
                        {{rating.Lbl}}
                    </li>
                    <li class="rating-bar">
                        <div class="{{rating.Classname}}" style="width: 100%;" ng-style="{width:vm.percentage(rating.Lift, vm.latticeRatings.top_lift, '%', 0)}">
                    </li>
                    <li class="rating-lift">{{rating.Lift.toFixed(1)}}x</li>
                    <li class="rating-count">{{rating.Cnt|number}}</li>
                </ul>
            </li>
        </ul>
        <div class="rating-slices">
            <div class="rating-slice" ng-repeat="slice in vm.latticeRatings.slices">
                <strong>{{slice}}x</strong>
            </div>
        </div>
    </div>
</div>