<div class="box-inner lattice-rating round-box">
    <h2>
        <div class="category-icon ratings-logo">
            <img src="https://localhost:3000/lp/assets/images/logoonly_lattice.png" />
        </div>
        <div class="category-label">
            Lattice Rating
        </div>
    </h2>
    <div class="lattice-ratings">
        <ul>
            <li class="lattice-rating-list labels">
                <ul class="rating-item">
                    <li class="rating-label">Attribute</li>
                    <li class="rating-bar">
                    </li>
                    <li class="rating-lift">Lift</li>
                    <li class="rating-count">Records</li>
                </ul>
            </li>
            <li class="lattice-rating-list" ng-repeat="rating in vm.latticeRatings.ratings | limitTo:6">
                <ul class="rating-item">
                    <li class="rating-label">
                        <input type="checkbox" />
                        {{rating.Lbl}}
                    </li>
                    <li class="rating-bar">
                        <div style="width: 100%;" ng-style="{width:vm.percentage(rating.Lift, vm.latticeRatings.top_lift, '%', 0)}">
                    </li>
                    <li class="rating-lift">{{rating.Lift.toFixed(1)}}x</li>
                    <li class="rating-count">{{rating.Cnt|number}}</li>
                </ul>
            </li>
        </ul>
        <div class="rating-slices">
            <div class="rating-slice" ng-repeat="slice in vm.latticeRatings.slices">
                <strong>{{slice}}x</strong>
            </div>
        </div>
    </div>
</div>