<div class="menu-header">
	<a ui-sref="markets.list" class="button icon-button">
	    <span class="fa fa-angle-left"></span>
	</a>
	<h3>Create Target Market</h3>
</div>
<ul class="menu progress-menu" ng-controller="BuilderSidebarCtrl">
    <li role="presentation" ui-sref-active="active">
        <a ui-sref="builder.category({AttrKey: 'Industry'})"><span class="fa fa-circle-thin"></span>Select Attributes<span class="badge badge-blue pull-right">{{ TotalAttributes }}</span></a>
        <span class="pd-sidebar-accordion-list">
            <ul>
                <li ng-repeat="item in Industry">
                    <a href="#"><span class="fa fa-bank blue-text"></span> {{ item.AttrValue }}</a>
                </li>
            </ul>
            <ul>
                <li ng-repeat="item in State">
                    <a href="#"><span class="fa fa-map-marker jade-text"></span> {{ item.AttrValue }}</a>
                </li>
            </ul>
            <ul>
                <li ng-repeat="item in EmployeesRange">
                    <a href="#"><span class="fa fa-bar-chart-o gold-text"></span> {{ item.AttrValue }}</a>
                </li>
            </ul>
        </span>
    </li>
    <li role="presentation" ui-sref-active="active">
        <a ui-sref="builder.intent({AttrKey: 'Industry'})"><span class="fa fa-circle-thin"></span>Select Intent Topics<span class="badge badge-blue pull-right">{{ TotalIntent || "0" }}</span></a>
        <ul>
        </ul>
    </li>
    <li role="presentation" ui-sref-active="active">
        <a ui-sref="builder.filtercontacts"><span class="fa fa-circle-thin"></span>Filter the Contacts</a>
        <ul>
        </ul>
    </li>
    <li role="presentation" ui-sref-active="active">
        <a ui-sref="builder.fitmodel"><span class="fa fa-circle-thin"></span>Build the Fit Model</a>
        <ul>
        </ul>
    </li>
    <li role="presentation" ui-sref-active="active">
        <a ui-sref="builder.intentmodel"><span class="fa fa-circle-thin"></span>Build the Intent Model</a>
        <ul>
        </ul>
    </li>
    <li role="presentation" ui-sref-active="active">
        <a ui-sref="builder.setup"><span class="fa fa-circle-thin"></span>Setup Prospecting</a>
        <ul>
        </ul>
    </li>
</ul>