.primary-nav {
    overflow: hidden;

    &>div {
        transition: all 250ms ease;
        transform-origin: 50% 50%;
    }

    &>div.ng-enter {
        opacity: 0;
        transform: scale(.5,.5);
    }

    &>div.ng-enter-active {
        opacity: 1;
        transform: scale(1,1);
    }

    &>div.ng-leave {
        position:absolute;
        top: 0;
        opacity: 1;
        transform: scale(1,1);
    }
    
    &>div.ng-leave-active {
        opacity: 0;
        transform: scale(1.333,1.333);
    }
    
    .progress-menu .jade-text {
        color: #6fbe4a;
    }

    .progress-menu .gold-text {
        color: #ffbd48;
    }

    .progress-menu ul li span {
        width: 1.4em;
        text-align: center;
    }
}