.primary-nav {
    .progress-menu .amber-text {
        color: #f16a22;
    }

    .progress-menu ul li span.pd-sidebar-category-total {
        float: right;
    }

    .pd-sidebar-category {
        max-height: 20em;
        overflow: auto;
        margin-right: 1.4em;
        position: relative;
        overflow-x: hidden;
        
        li {
            transition: all 150ms ease 50ms;
            transform-origin: 50% -100%;
            overflow: hidden;
        }
        li.ng-enter {
            max-height: 0;
            opacity: 0;
            transform: translate3d(0,-50%,0);
        }
        li.ng-enter-active {
            max-height: 50em;
            opacity: 1;
            transform: translate3d(0,0,0);
        }
        li.ng-leave {
            max-height: 50em;
            opacity: 1;
            transform: translate3d(0,0,0);
        }
        li.ng-leave-active {
            max-height: 0;
            opacity: 0;
            transform: translate3d(0,-50%,0);
        }

        >li input {
            margin-left: 3px;
            margin-right: 2px;
        }

        span.fa, span.ico {
            margin-right: 5px;
            vertical-align: text-top;
        }

        em {
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 12.5em;
            display: inline-block;
            overflow: hidden;
            height: 1.4em;
            vertical-align: sub;
            color: #ccc;
        }
    }

    .pd-sidebar-header span {
        vertical-align: bottom;
    }

    .pd-sidebar-header span.badge {
        margin-top: 5px;
    }

    .pd-sidebar-subcategory {
        >li input {
            margin-left: 50px;
            margin-right: 0;
        }

        >li label {
            color: #888;
            font-size: 0.9em;
            vertical-align: top;
            margin-left: .3em;
            max-width: 14em;
        }
    }
}