<div>
    <div class="modal-body" data-ng-show="!importing && !showImportSuccess">
        <input type="file" json-uploader="jsonFile"/>
        <div class="global-error" data-ng-show="showImportError">
            <span><i class="fa fa-exclamation-circle fa-inverse"></i> {{importErrorMsg}}</span>
            <button class="close btn btn-link" data-ng-click="showImportError = false;"><i class="fa fa-times fa-inverse"></i></button>
        </div>
    </div>
    <div class="modal-body" data-ng-show="showImportSuccess">
        <h2 class="text-center">{{ResourceUtility.getString('MODEL_IMPORT_SUCCESS')}}</h2>
    </div>
    <div class="modal-footer">
        <button data-ng-hide="showImportSuccess" class="btn btn-primary" data-ng-click="uploadFile()" data-ng-class="{disabled: importing}">{{ResourceUtility.getString('MODEL_IMPORT_UPLOAD')}}</button>
        <button data-ng-show="showImportSuccess" class="btn btn-primary" data-ng-click="okClicked()">{{ResourceUtility.getString('BUTTON_OK_LABEL')}}</button>
    </div>
</div>