.create-pipeline-main > * {
  transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.pipeline-list,
.pipeline-step-list {
  font-size: 13px;
  line-height: 24px;
}
.pipeline-list {
  padding-left: 1em;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}
.pipeline-list .selected {
  background-color: #f5f5f5;
}
.pipeline-step-list {
  padding: 0;
}
.pipeline-step-list li {
  position: relative;
  padding-right: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pipeline-step-list li:nth-child(even) {
  background-color: #f5f5f5;
}
.list-bullet {
  padding-right: 20px;
}
.pipeline-editor td {
  min-width: 32px;
  text-align: center;
}
.pipeline-editor i {
  cursor: pointer;
  color: #3d7fcd;
}
.pipeline-editor i :hover {
  opacity: 0.8;
}
.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}
.line {
  fill: none;
  stroke-width: 1.5px;
}
.chart-container {
  display: block;
  width: 100%;
  height: 240px;
  margin-bottom: 32px;
}
.chart-title {
  text-anchor: middle;
  font-size: 16px;
}
.chart-hover-line {
  stroke-width: 1px;
  stroke: #ccc;
}
.chart-tooltip {
  display: inline;
  position: absolute;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3px;
  font-weight: bold;
  user-select: none;
}
.error {
  color: red;
}
.success {
  color: green;
}
.align-right {
  position: absolute;
  right: 0;
  top: 0;
}
.json-panel {
  position: relative;
  word-wrap: break-word;
}
.json-panel pre {
  resize: both;
}
.json-panel i {
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 18px;
}
body {
  font-family: 'Open Sans', Verdana, Arial, sans-serif;
  color: black;
  font-size: 10pt;
  background-color: white;
}
h1.logo-title {
  font-family: 'Squada One', sans-serif;
  text-transform: uppercase;
}
header {
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.25);
  background: #477cba url(/assets/img/bg_header.jpg) no-repeat bottom right;
}
header h1 {
  margin: 0;
  line-height: 140%;
  color: white;
}
section.container {
  max-width: 1024px;
}
a.logo {
  position: absolute;
  top: 5px;
  left: 5px;
}
a.logo img {
  height: 24px;
}
nav {
  font-size: 12pt;
}
nav li.dropdown a:hover {
  cursor: pointer;
}
.login-title {
  font-size: 28pt;
  margin-top: 100px;
  color: #477cba;
}
.login-form {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  border: 3px solid #477cba;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 30px;
}
.login-form h2 {
  text-align: center;
  margin: 0 0 20px 0;
}
.login-form h2 img {
  height: 50px;
}
.login-form .control-label {
  font-size: small;
}
.login-form .button-row {
  margin-top: 10px;
}
.login-form .alert {
  margin: 5px 0;
}
.tenants-grid {
  font-size: 9pt;
}
.tenants-grid tr:hover {
  background-color: #a3bedc;
  cursor: pointer;
}
.tenant-info-panel h4 {
  color: #e96339;
}
.tenant-info-panel div.col .form-control {
  margin: 5px;
}
.tenant-info-panel div.col textarea.form-control {
  width: 95%;
}
.tenant-info-panel .form-feature-flags {
  width: 100%;
  margin-left: auto;
}
.tenant-info-panel .form-feature-flags input.checkbox {
  margin: 5px 10px 5px 10px;
}
.tenant-info-panel .feature-flag {
  margin: 15px;
}
.tenant-config .form-control {
  width: 55%;
  margin: 0 10px;
}
.tenant-config .component-status {
  margin-left: 25px;
}
.tenant-config .required-mark {
  font-weight: bold;
  color: red;
}
.config-entry .form-control {
  margin: 5px;
}
.config-entry .checkbox {
  margin: 10px;
}
.config-entry .alert {
  height: 10px;
}
.config-entry b {
  font-size: 10pt;
}
.config-entry label.control-label {
  font-size: 10pt;
  width: 180px;
}
.config-entry label.derived-label,
.config-entry label.readonly-label {
  margin: 10px;
  width: 75%;
}
.space-config label.control-label,
.tenant-info label.control-label {
  font-size: 10pt;
  width: 150px;
}
.readonly-config-entry {
  margin: 5px 0;
}
.readonly-config-entry .node {
  font-weight: bold;
  color: #477cba;
  font-size: 10pt;
}
table.readonly-table {
  width: 100%;
}
table.readonly-table .node {
  font-weight: bold;
  color: #477cba;
  font-size: 10pt;
}
table.readonly-table td.readonly-label {
  width: 200px;
}
.list-entry-form .input-group {
  margin: 5px;
}
.list-entry-form .input-group .form-control {
  margin: 0;
}
.list-entry-form .control-label .btn {
  padding: 6px 9px;
  border: none;
}
.file-downloader {
  margin-left: 2em;
}
img.error-image {
  width: 400px;
}
i.component-status {
  margin-right: 1em;
}
.btn {
  font-weight: bold;
  text-transform: uppercase;
}
.btn:disabled {
  background: #ccc;
  color: #aaa;
  border-color: #aaa;
}
#add-new-model-btn {
  margin: 10px 0;
}
.add-tenant-form .control-label {
  width: 20%;
}
.add-tenant-form .form-control {
  width: 75%;
  margin: 5px;
}
.btn-primary {
  background: #e96339;
}
.btn-primary:hover {
  background: #f35321;
}
.btn-primary:active {
  background: #df4d1f;
}
.btn-primary:focus {
  background: #e96339;
}
.btn-default {
  background: #477CBA;
  text-transform: uppercase;
}
.btn-default:hover {
  background: #3d7fcd;
  color: #fff;
}
.btn-default:active {
  background: #4070a8;
}
.btn-default:focus {
  background: #477CBA;
}
a.accordion-toggle {
  text-decoration: none;
}
div.panel-heading:hover {
  background-color: #a3bedc;
}
/* extend bootstrap */
li {
  list-style-type: none;
}
.no-border.list-group .list-group-item {
  border: none;
}
.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid {
  margin-left: 0;
  margin-right: 0;
}
.no-gutter,
.no-gutter > [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}
/*
Spinner
*/
.loader {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0.8em auto;
  position: relative;
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #428bca, -0.11em -0.83em 0 -0.42em #428bca, -0.11em -0.83em 0 -0.44em #428bca, -0.11em -0.83em 0 -0.46em #428bca, -0.11em -0.83em 0 -0.477em #428bca;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #428bca, -0.11em -0.83em 0 -0.42em #428bca, -0.11em -0.83em 0 -0.44em #428bca, -0.11em -0.83em 0 -0.46em #428bca, -0.11em -0.83em 0 -0.477em #428bca;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #428bca, -0.51em -0.66em 0 -0.42em #428bca, -0.75em -0.36em 0 -0.44em #428bca, -0.83em -0.03em 0 -0.46em #428bca, -0.81em 0.21em 0 -0.477em #428bca;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #428bca, -0.29em -0.78em 0 -0.42em #428bca, -0.43em -0.72em 0 -0.44em #428bca, -0.52em -0.65em 0 -0.46em #428bca, -0.57em -0.61em 0 -0.477em #428bca;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #428bca, -0.11em -0.83em 0 -0.42em #428bca, -0.11em -0.83em 0 -0.44em #428bca, -0.11em -0.83em 0 -0.46em #428bca, -0.11em -0.83em 0 -0.477em #428bca;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #428bca, -0.11em -0.83em 0 -0.42em #428bca, -0.11em -0.83em 0 -0.44em #428bca, -0.11em -0.83em 0 -0.46em #428bca, -0.11em -0.83em 0 -0.477em #428bca;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #428bca, -0.11em -0.83em 0 -0.42em #428bca, -0.11em -0.83em 0 -0.44em #428bca, -0.11em -0.83em 0 -0.46em #428bca, -0.11em -0.83em 0 -0.477em #428bca;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #428bca, -0.51em -0.66em 0 -0.42em #428bca, -0.75em -0.36em 0 -0.44em #428bca, -0.83em -0.03em 0 -0.46em #428bca, -0.81em 0.21em 0 -0.477em #428bca;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #428bca, -0.29em -0.78em 0 -0.42em #428bca, -0.43em -0.72em 0 -0.44em #428bca, -0.52em -0.65em 0 -0.46em #428bca, -0.57em -0.61em 0 -0.477em #428bca;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #428bca, -0.11em -0.83em 0 -0.42em #428bca, -0.11em -0.83em 0 -0.44em #428bca, -0.11em -0.83em 0 -0.46em #428bca, -0.11em -0.83em 0 -0.477em #428bca;
  }
}
.metadata-grid {
  font-size: 8pt;
}
.metadata-grid tr:hover {
  background-color: #a3bedc;
  cursor: pointer;
}
