<%
    var dynamicID = StringUtil.GenerateUniqueExternalID("serviceErrorMessage_");
    setTimeout(function () {
        if (options.serviceErrorMessage) {
           $("#"+dynamicID).html(options.serviceErrorMessage);
        }
    }, 0);
    
%>

<div class="service-error-container">
    <div class="alert alert-error">
        <%= options.serviceErrorTitle %>
    </div>
    <p id="<%=dynamicID%>" class="service-error-message-container">
        
    </p>
</div>