.playbook-content.container,
section.playbook.container {
    .playbook-ratings {
    	.header {
    		h2 {
    			//background-image: url('/assets/images/ico-ratings.png');
    			//padding-left: 27px;
                background-image: url('/assets/images/ico-segments.png');
    		}
    	}
        .content-body {
            .list {
                .item {
                    ul {
                        & > li {
                            &.accounts,
                            &.contacts {
                                @include flex-item(0 1 auto);
                                text-align: right;
                                min-width: 150px;
                            }
                        }
                    }
                    &[disabled] {
                        pointer-events: none;
                        opacity: .5;
                    }
                }
            }
        }
    }
}