<div class="le_modal" ng-class="$ctrl.opened ? 'opened' : 'closed'">

    <div class="le-modal-content" ng-class="$ctrl.config.type">
        <div class="le-modal-header" ng-style="$ctrl.config.headerconfig">
            <span class="close" ng-if="$ctrl.config.showclose" ng-click="$ctrl.forceDischarge()">&times;</span>
            <div class="le-title-container">
                <span class="ico-container" ng-style="$ctrl.config.headerconfig">
                    <i class="title-icon" ng-class="$ctrl.config.icon" aria-hidden="true" ng-style="$ctrl.config.iconstyle"></i>
                </span>
                <p class="le-title">
                    {{$ctrl.config.title | cut:true:config.titlelength:' ...'}}
                </p>
            </div>

        </div>
        <div class="le-modal-body">
            <div ng-transclude ng-show="!$ctrl.showModalMsg && !$ctrl.showWaiting"></div>
            <div class="le-modal-message" ng-if="$ctrl.showModalMsg">{{modalMsg}}</div>
            <div class="le-modal-spinner" ng-if="$ctrl.showWaiting">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </div>
        </div>
        <div class="le-modal-footer">
            <button ng-click="$ctrl.confirm()" class="button" ng-style="$ctrl.config.confirmstyle" ng-class="$ctrl.config.confirmcolor" ng-disabled="$ctrl.confirmDisabled">{{$ctrl.config.confirmtext}}</button>
            <button ng-click="$ctrl.discharge()" class="button  gray-button" ng-disabled="$ctrl.dischargeDisabled">{{$ctrl.config.dischargetext}}</button>

        </div>
    </div>

</div>