<div data-ng-controller="TopPredictorWidgetController" id="attributes">
    <div class="tab-header">
        <div class="wrapper" data-ng-show="!backToSummaryView">
            <span>{{topPredictorTitle}} </span>&nbsp;|&nbsp;<a href="#" class="secondary" data-ng-click="exportClicked()">{{ResourceUtility.getString('TOP_PREDICTORS_EXPORT_LABEL')}}</a>
            
        </div>
        <div class="wrapper" data-ng-show="backToSummaryView">
            <a id="back-to-summary-link" data-ng-click="backToSummaryClicked()"><i class="fa fa-angle-double-left"></i> {{ResourceUtility.getString('TOP_PREDICTORS_BACK_TO_SUMMARY_LABEL')}}</a>
        </div>
    </div>
    <div id="top-predictor-wrapper" class="wrapper">
        <h3>{{chartHeader}}</h3>
        <div class="data">
            <div class="attributes lattice-attributes" data-ng-show="showExternalCategories">
                <h4>{{externalPredictorTotal}}</h4>
                <ul>    
                    <li data-ng-repeat="category in externalCategories | orderBy: 'name'" data-ng-click="categoryClicked(category)">
                        <a href="#" class="{{category.activeClass}}" data-ng-bind-html="generateCategoryLabel(category)"></a>
                    </li>
                </ul>
            </div>
            <div id="chart" class="js-top-predictor-donut">
                
            </div>
            <div class="attributes lattice-attributes" data-ng-show="showInternalCategories">
                <h4>{{internalPredictorTotal}}</h4>
                <ul>
                    <li data-ng-repeat="category in internalCategories | orderBy: 'name'" data-ng-click="categoryClicked(category)">
                        <a href="#" data-ng-bind-html="generateCategoryLabel(category)"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="topPredictorAttributeHover">
        
    </div>
</div>