@import "header/HeaderStyles";
@import "jobs/status/StatusStyles";
@import "jobs/import/ready/ReadyStyles";
@import "builder/BuilderStyles";
@import "builder/category/CategoryStyles";
@import "builder/prospects/ProspectsSettingsStyles";
@import "markets/MarketsStyles";
@import "markets/prospect/ProspectsStyles";
@import "markets/createmarket/CreateMarketStyles";
@import "navigation/sidebar/SidebarStyles";
@import "navigation/subnav/SubNavStyles";
@import "navigation/table/TableStyles";
@import "navigation/message/MessageStyles";
@import "navigation/links/LinksStyles";
@import "navigation/navdash/NavDashStyles";

body {
    background: #fff;
    overflow-x: hidden;
    
    .container {
        max-width: 1280px;
    }

    .page-header {
        padding-top: 25px;
        padding-bottom: 10px;
        
        h4 {
            text-align: left;
        }
        span {
            text-align: right;
        }
    }
    
    .prospecting-settings-actions {
        &:after {
            display: table;
            content: "";
            clear: both;
        }
        button.button {
            width: 48%;
            float: left;
            padding: 0.75em 0;
            &:first-of-type {
                margin-right: 4%;
            }
        }
    }

    a.view-samples {
        margin-top: -45px;
        padding-top: 25px;
        color: #fff;
        background: url("../img/ico-user-card.svg") no-repeat top;
        font-size: 12px;
    }

    .switch-tab {
        display: none;
        &.open {
            display: block;
        }
    }


    .tmb-summary {
        margin-bottom: 120px;
    }
    .tmb-summary .carousel {
        margin-top: 0;
    }
}

/* hack for demo, until the framework is updated */
h4 {
    font-size: 200%;
}

@media (max-width: 1280px) {
    body .container {
        width: auto;
        margin: 0 5em;
    }
}
