@import "header/HeaderStyles";
@import "jobs/status/StatusStyles";
@import "jobs/import/ready/ReadyStyles";
@import "markets/MarketsStyles";
@import "markets/prospect/ProspectsStyles";
@import "navigation/table/TableStyles";
@import "navigation/message/MessageStyles";
@import "navigation/links/LinksStyles";
@import "navigation/subnav/SubNavStyles";
@import "navigation/navdash/NavDashStyles";

body {
    background: #fff;
    overflow-x: hidden;
    
    .container {
        max-width: 1280px;
    }
}

/* hack for demo, until the framework is updated */
table th {
    background: #d0d0d0;
    color: #000;
    padding: 1em;
}
table td {
    color: #000;
    padding: 1em;
}
h4 {
    font-size: 220%;
}

@media (max-width: 1280px) {
    body .container {
        width: auto;
        margin: 0 5em;
    }
}
