<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="app">pls</Property>
        <Property name="log.dir">/var/log/ledp</Property>
        <Property name="pattern.console">%d{yyyy-MM-dd'T'HH:mm:ss,SSSXXX}{UTC} %highlight{[$${app}]}{FATAL=magenta, ERROR=magenta, WARN=magenta, INFO=magenta, DEBUG=magenta, TRACE=magenta} %highlight{[%t]}{FATAL=cyan, ERROR=cyan, WARN=cyan, INFO=cyan, DEBUG=cyan, TRACE=cyan} %highlight{%-5p}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=white, TRACE=black} %highlight{%c{1.}:%L}{FATAL=cyan, ERROR=cyan, WARN=cyan, INFO=cyan, DEBUG=cyan, TRACE=cyan} - %m%n</Property>
        <Property name="pattern.file">%d{yyyy-MM-dd'T'HH:mm:ss,SSSXXX}{UTC} [%t] %-5p %c{1.}:%L - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleInfo" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${pattern.console}"/>
        </Console>
        <Console name="ConsoleWarn" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${pattern.console}"/>
        </Console>
        <Console name="DebugGateway" target="SYSTEM_OUT">
            <Filters>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ContextMapFilter onMatch="ACCEPT" onMismatch="DENY" operator="or">
                    <KeyValuePair key="DebugGateway" value="ON"/>
                </ContextMapFilter>
            </Filters>
            <PatternLayout pattern="${pattern.console}"/>
        </Console>
        <RollingFile
                name="RollingFile"
                fileName="${log.dir}/le-${app}.log"
                filePattern="${log.dir}/le-${app}-%d{yyyy-MM-dd}-%i.log.gz"
                ignoreExceptions="false">
            <PatternLayout pattern="${pattern.file}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleWarn"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
        <Logger name="com.latticeengines" additivity="false" level="DEBUG">
            <AppenderRef ref="ConsoleInfo"/>
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="DebugGateway"/>
        </Logger>
    </Loggers>

</Configuration>
