$height: 40px;
.input-float{
    display: inline-flex;
    flex:1;
    border: 1px solid red;
    height: $height;
    max-height: $height;
    min-height: $height;
    input {
        flex: 1;
    }


}