.analytic-attribute-list-header
{
    height: 1.4em;
}

.analytic-attribute-lift-header-label
{
    cursor:             pointer;
}

.lift-descending:after
{
    content:            '\25BC';
}

.lift-ascending:after
{
    content:            '\25B2';
}
.analytic-attribute-header-label
{
    position: relative;
    margin: 0;
    margin-left: -8px;
    font-size: 8pt;
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
}

.analytic-attribute-header-label div {
    width: 11px;
    height: 11px;
    background-color: #aaa;
    float: left;
    margin-right: 0.3em;
}

.analytic-attribute-header-label div::before {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 3px 0;
    border-color: transparent #666666 transparent transparent;
    display: block;
    position: absolute;
    bottom: -2px;
}

.empty-analytic-list-container
{
    margin-top: 1em;
    margin-left: 0;
    padding: 35px;
    background-color: #fff;
}

.empty-analytic-list-image
{
    vertical-align:     middle;
}

.empty-analytic-list-description
{
    font-size: 11pt;
    color: #000;
}

a.tooltip.fa.fa-info-circle {
    color: #888;
}

.analytic-attribute-heading, 
.analytic-attribute-title, 
.analytic-attribute-description {
    margin-right: 100px;
}