.analytic-attribute-tile
{
  background-color: #fff;
  padding: 0;
  height: 7.5em;
  position: relative;
  border: 1px solid #ccc;
  margin: 0.5em 0;
  overflow: hidden;

  .analytic-attribute-tile-position {
    position: absolute;
    top: 50%;
    left: 5.75em;
    right: 0;
    -webkit-transform: translate(0%,-50%);
    -moz-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
  }

  .analytic-attribute-title
  {
    font-size: 8pt;
    color: #FE690F;
  }

  .analytic-attribute-heading
  {
    font-size: 10pt;
    color: #333;
    font-weight: bold;
  }
  
  .analytic-attribute-description
  {
    /* margin-top:   10px; */
    font-size:    8pt;
    color:        $attribute-name-color;
    padding: 3px 0 3px;
  }

  img.analytic-attribute-tile-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 1.7em;
  }
    
  .lift
  {
    font-size: 13pt;
    font-weight: bold;
  }
  
  .lift:after
  {
    content: "x";
  }
  
  .lift-super-label,
  .lift-sub-label
  {
    font-size: 6pt;
    text-transform: uppercase;
    color: #666;
  }

  .lift-super-label {
    margin-top: 2.1em;
  }
  
  .lift-image
  {
    vertical-align: middle;
    color: white;
    font-size: 2.3em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
  }
  
  .lift-image-description
  {
    position: absolute;
    top: 50%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 6.65pt;
    line-height: 1.5em;
    margin-top: -1.5em;
  }
  .lift-indicator-below  .lift-image-description
  {
    color: #477cba;
  }
  .analytic-attribute.glyphicon
  {
    font-size: 2em;
    padding: 0px 8px;
    float: left;
    color: $secondary-text-color;
  }
  
  .float-right
  {
    float: right;
  }

  .details-picker
  {
    cursor: pointer;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    border: 1px solid $primary-border-color;
    text-align: center;
    line-height: 26px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    @include filter-node-gradient;
  }
  .lift-container,
  .lift-indicator-below, 
  .lift-indicator-above {
    color: #FE690F;
    position: absolute;
    top: 50%;
    right: 1em;
    width: 70px;
    height: 70px;
    text-align: center;
    background-color: #f3f3f3;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    border-radius: 50%;
  }
  &.attr-lift-negative .lift-container,
  &.attr-lift-positive .analytic-attribute-title,
  .lift-indicator-below {
    color: #477cba;
  }
  /*
  .lift-container::before,
  .lift-indicator-below::before, 
  .lift-indicator-above::before {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 5px 0;
    border-color: transparent #666666 transparent transparent;
    display: block;
    position: absolute;
    bottom: -5px;
  }
  */
}
