.collapsible-panel-container
{
    margin: 1em 0.3em 0;
}

#playTalkingPointsScreenWidget .collapsible-panel-container
{
    margin: 0px;
    background: #fff;
    margin-bottom: 1px;
    padding: 1em;
}

.collapsible-panel-header
{
    /* background: $collapsible-panel-header-bg-color; */
    padding: 0em 0 1.1em;
    border-radius: 3px 3px 0px 0px;
    position: relative;
   	pointer-events: none;
}

.js-lead-details-internal-container .collapsible-panel-header,
.layout-column-1 .collapsible-panel-header {
    text-align: right;
}

.js-lead-details-internal-container .collapsible-panel-title-sub,
.layout-column-1 .collapsible-panel-title-sub {
    text-align: right;
}

.js-lead-details-external-container span.collapsible-panel-title-container.ng-binding:after,
.layout-column-0 span.collapsible-panel-title-container.ng-binding:after {
    content: '- Top 5';
    margin-left: 0.5em;
    color: #ccc;
}

.js-lead-details-internal-container span.collapsible-panel-title-container.ng-binding:before,
.layout-column-1 span.collapsible-panel-title-container.ng-binding:before {
    content: 'Top 5 -';
    margin-right: 0.5em;
    color: #ccc;
}

.js-collapsible-panel-content.collapsible-panel-content {
    overflow: hidden;
}

#playTalkingPointsScreenWidget .collapsible-panel-header {
    padding: 0;
    height: 2em;
    cursor: pointer;
    pointer-events: initial;
	pointer-events: auto; // IE11 Fix
}

.collapsible-panel-title-container
{
    color: #333;
    font-weight: bold;
    font-size: 9pt;
    text-transform: uppercase;
    text-shadow: 0px 0px #fff;
    position: relative;
}

#playTalkingPointsScreenWidget .collapsible-panel-title-container {
    left: 0;
    top: 4px;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: normal;
}
.collapsible-panel-content
{
    /* background: $collapsible-panel-content-bg-color; */
    /* border: 1px solid #D2D2D2; */
    /* border-top: 0 none; */
    /* border-radius: 0px 0px 5px 5px; */
}

.collapsible-panel-button {
    color: #666;
    cursor: pointer;
    font-size: 9pt;
    text-align: center;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    padding: 0;
    margin-right: .4em;
    display: none;
    margin-top: 0.5em;
}
.collapsible-panel-button.fa-plus-square {
    color: #A1C0E6;
}
.collapsible-panel-button:hover {
    color: #2A8AF8;
}

#playTalkingPointsScreenWidget .collapsible-panel-button {
    display: block;
}

@media screen and (max-width: 1260px) {
	.tab-content > div.tab-pane {
        padding: 1em .1em 0.25em;
    }
}

@media screen and (max-width: 768px) {
    .js-lead-details-internal-container .collapsible-panel-header,
    .layout-column-1 .collapsible-panel-header {
        padding-top: 1em;
        text-align: left;
    }
    .float-left.layout-column.layout-column-0,
    .float-left.layout-column.layout-column-1 {
        display: block;
        float: none;
        width: auto !important;
    }
    .js-lead-details-internal-container span.collapsible-panel-title-container.ng-binding:before,
	.layout-column-1 span.collapsible-panel-title-container.ng-binding:before {
		display: none;
	}
	.js-lead-details-internal-container span.collapsible-panel-title-container.ng-binding:after,
	.layout-column-1 span.collapsible-panel-title-container.ng-binding:after {
		content: '- Top 5';
		margin-left: 0.5em;
		color: #ccc;
	}
}

@media screen and (max-width: 512px) {
	.analytic-attribute-tile img.analytic-attribute-tile-icon {
		left: 1.2em;
	}
	.analytic-attribute-tile .analytic-attribute-tile-position {
		left: 5em;
	}
}

@media screen and (max-width: 360px) {
	.dante-main-header-logo-container,
	.analytic-attribute-tile-icon {
		display: none;
	}
	.analytic-attribute-tile .analytic-attribute-tile-position {
		left: .5em;
	}
	.collapsible-panel-container {
		margin: 1em 0 0;
	}
	.analytic-attribute-heading, .analytic-attribute-title, .analytic-attribute-description {
		margin-right: 85px;
	}
	.analytic-attribute-tile .lift-container, .analytic-attribute-tile .lift-indicator-below, .analytic-attribute-tile .lift-indicator-above {
		right: 0.5em;
	}
	.analytic-attribute-tile {
    	height: 8.2em;
	}
}