$ph-gray: #D0D0D0;
$ph-blue: #467DBA;
$ph-orange: #F16A24;
$ph-bright-blue: #80D3EF;
$ph-hyperlink-blue: #3488C6;
$ph-light-silver: #E7E7E7; 
$ph-ultra-light-silver: #F1F1F1;
$ph-green: #70BF4A; 
$ph-yellow: #FDBC49; 

@mixin table-layout-fixed() {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* purchase history */
.purchase-history {
  font-size: 12px;
  min-width: 1200px;
  min-height: 600px;
}
.ph-overflow-x {
  -ms-overflow-x: auto !important;
  overflow-x: auto !important;
}

/* purchsae history nav */
.ph-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 80px;
  overflow: hidden;
  .ph-nav-item {
    width: 33%;
    min-height: 80px;
    box-sizing: border-box;
    padding: 15px;
    display: inline-block;
    position: relative;
    background-color: $ph-blue;
    color: white !important;
    &+.ph-nav-item {
      margin-left: 0.5%;
    }
    &:not(.disabled) {
      cursor: pointer;
    }
    &.disabled {
      pointer-events: none;
    }
    &.selected {
      background-color: $ph-orange;
      cursor: default;
      .ph-segment-label {
        color: $ph-yellow;
      }
    }
    .ph-segment-label {
      color: $ph-bright-blue; 
    }
    .ph-nav-content {
      width: 80%;
      &>div {
        &:nth-child(1) {
          text-transform: uppercase;
        }
        &:nth-child(2) {
          font-size: 25px; // IE11, must be same size as icon
          word-spacing: nowrap;
          text-overflow: ellipsis;
          margin-top: 6px;
          span {
            margin-left: 5px;
            vertical-align: bottom;
          }
        }
      }
    }
    &>.ph-header-icon {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}

/*.ph-icon {
  background: url("../images/ico-purchase-history.png");
  display: inline-block;
  border: none;
  width: 17px;
  height: 18px;
  opacity: 0.2;
  -webkit-transition: opacity 300ms ease-out 100ms;
   -moz-transition: opacity 300ms ease-out 100ms;
   -o-transition: opacity 300ms ease-out 100ms;
   transition: opacity 300ms ease-out 100ms;
  &.grid-chart {
    background-position: -120px 0px;
  }
  &.bar-chart {
    background-position: -86px 0px;
  }
  &.quarterly-view {
    background-position: -70px 0px;
  }
  &.monthly-view {
    background-position: -53px 0px;
  }
  &.show-value {
    background-position: 0px 0px;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  &.active {
    opacity: 1;
  }
}*/

.ph-header-icon {
  background: url("../images/ico-purchase-history-mixed.png");
  display: inline-block;
  border: none;
  &.chart {
    width: 67px;
    height: 51px;
    background-position: 0px 0px;
  }
  &.calendar {
    width: 43px;
    height: 51px;
    background-position: -67px 0px;
  }
  &.building {
    height: 51px;
    width: 38px;
    background-position: -109px 0px;
  }
  &.up-arrow-long {
    height: 25px;
    width: 18px;
    background-position: -302px 0px;
    transform: rotate(180deg);
  }
  &.down-arrow-long {
    height: 25px;
    width: 18px;
    background-position: -302px 0px;
  }
}

ul.ph-tooltip {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  background: #000;
  font-weight:  normal;
  font-size:  12px;
  text-align: left;
  width:  180px;
  height: 70px;
  padding: 10px;
  list-style-type: none;
  display: none;
  opacity: 0;
  z-index: 999;
  &.active {
    display: inline-block;
    opacity: 1;
  }
  &:after {
    content: " ";
    position: absolute;
    bottom: -8px;
    right: 90px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000;
  }
}
div.ph-timeline-toolip {
  color: #fff;
  background: #000;
  font-weight:  normal;
  font-size:  12px;
  text-align: center;
  white-space: nowrap;
  padding: 10px;
  width: 140px;
  height: 30px;
  z-index: 999;
  &:after {
    content: " ";
    position: absolute;
    bottom: -8px;
    right: 75px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000;
  }
}

.ph-sub-header {
  height: 27px;
  margin: 8px 0;
  .ph-search-group {
    display: inline-block;
    width: 320px;
    border-radius: 0px 6px 6px 0px;
    position: relative;
    overflow: hidden;
    input {
      padding: 5px 30px 5px 5px;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid $ph-gray;
      &:focus {
        outline: none;
      }
    }
    label {
      position: absolute;
      height: 100%;
      width: 26px;
      display: inline-block;
      text-align: center;
      top: 0;
      right: 0;
      background-color: $ph-gray;
      &:after {
        background: url("../images/ico-purchase-history-mixed.png");
        content: " ";
        height: 18px;
        width: 18px;
        background-position: -147px 0px;
        position: absolute;
        top: 4px;
        right: 4px;
      }
    }
  }
}

.ph-legend {
  font-weight: bold;
  text-align: center;
  border: 1px solid $ph-gray;
  padding: 5px;
  .ph-legend-group {
    margin: 0 12px;
    div {
      vertical-align: middle;
      display: inline-block;
      &+div {
        margin-left: 5px;
      }
      &.square {
        vertical-align: middle;
        height: 15px;
        width: 15px;
      }
      &.circle {
        vertical-align: middle;
        height: 15px;
        width: 15px;
        border-radius: 50%;
      }
      &.blue {
        background-color: $ph-blue;
      }
      &.orange {
        background-color: $ph-orange;
      }
      &.gray {
        background-color: $ph-gray;
      }
    }
  }
}

.toggle {
  display: inline-block;
  padding: 0px 3px;
  border: #bbb solid 1px;
  border-radius: 4px;
  line-height: 13px;
  cursor: pointer;
  &:hover {
    background-color: rgba(70,125,186,0.2);
  }
  &.collapsed:after {
    font-family: FontAwesome;
    content: "\f067";
    font-size: 8px;
    line-height: 11px;
    vertical-align: bottom;
  }
  &.expanded:after {
    font-family: FontAwesome;
    content: "\f068";
    font-size: 8px;
    line-height: 11px;
    vertical-align: bottom;
  }
}

/* purchase history chart */
.ph-chart {
  z-index: 3;
  position: relative;
  height: 116px;
  text {
    font-size: 12px;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
  .bar {
    fill: rgb(70, 125, 186);
    cursor: pointer;
  }
  .bar-text text {
    cursor: pointer;
  }
  .tick {
    text {
      font-family: Helvetica, sans-sarif;
    }
  }
  .prev-year-line {
    path {
      stroke-width: 1;
      fill: none;
      stroke: $ph-orange;
    }
    circle {
      fill: $ph-orange;
      cursor: pointer;
    }
  }
}

$spend-first-column-width: 240px;
$spend-last-column-width: 120px;
$table-border: 1px solid #d0d0d0;
.ph-chart-table {
  table {
    @include table-layout-fixed();
    border-top: $table-border;
    td {
      padding: 0;
      &:first-child {
        width: $spend-first-column-width;
        max-width: $spend-first-column-width;
        border-right: $table-border;
      }
      &:last-child {
        width: $spend-last-column-width;
        max-width: $spend-last-column-width;
        border-left: $table-border;
      }
    }
  }
}

.ph-chart-container {
  pointer-events: auto; // IE11 Fix
  position: relative;
  .prev-button, .next-button {
    background-size: cover;
    position: absolute;
    width: 31px;
    height: 31px;
    top: 35%;
    z-index: 2;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background: url("../images/ico-purchase-history-mixed.png");
    cursor: pointer;
    span {
      display: block;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .prev-button {
    background-position: -178px 0px;
    left: -16px;
    &:disabled {
      cursor: default;
      background-position: -240px 0px;
    }
  }
  .next-button {
    background-position: -210px 0px;
    right: -16px;
    &:disabled {
      cursor: default;
      background-position: -272px 0px;
    }
  }
}

.ph-table-row:hover {
  background-color: $ph-ultra-light-silver;
}
.ph-spend-table {
  position: relative;
  .ph-table-header {
    border-top: $table-border;
    table {
      @include table-layout-fixed();
      td {
        padding: 8px 8px;
        text-align: center;
        font-weight: bold;
        &:first-child {
          width: $spend-first-column-width - 16px;
          max-width: $spend-first-column-width - 16px;
          text-align: left;
        }
        &:last-child {
          text-align: right;
          width: $spend-last-column-width - 16px;
          max-width: $spend-last-column-width - 16px;
        }
      }
    }
  }

  .ph-tree-table-container {
    border: $table-border;
    border-left: none;
    table {
      @include table-layout-fixed();
      td {
        text-align: right;
        padding: 8px 8px;
        &:first-child {
          width: $spend-first-column-width - 16px;
          max-width: $spend-first-column-width - 16px;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &.ph-table-tree-row {
            padding: 0;
            width: 100%;
            overflow: visible;
          }
        }
        &:last-child {
          width: $spend-last-column-width - 16px;
          max-width: $spend-last-column-width - 16px;
        }
        &+td {
          border-left: $table-border;
          border-top: $table-border;
        }
      }
    }
    &>table:first-child>tbody>tr:first-child>td {
      border-top: none;
    }
  }
}

$year-first-column-width: 300px;
$year-last-column-width: 140px;
.ph-year-table {
  .ph-table-header {
    border-top: $table-border;
    border-bottom: $table-border;
    table {
      @include table-layout-fixed();
      td {
        padding: 8px 8px;
        text-align: left;
        font-weight: bold;
        &:first-child {
          width: $year-first-column-width - 16px;
          max-width: $year-first-column-width - 16px;
        }
        &:last-child {
          width: $year-last-column-width - 16px;
          max-width: $year-last-column-width - 16px;
        }
      }
    }
  }

  .ph-tree-table-container {
    border-bottom: $table-border;
    table {
      @include table-layout-fixed();
      td {
        text-align: left;
        padding: 4px 8px;
        &:nth-child(1) {
          width: $year-first-column-width - 16px;
          max-width: $year-first-column-width - 16px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &.ph-table-tree-row {
            padding: 0;
            width: 100%;
            overflow: visible;
          }
        }
        &:nth-child(2) {
          padding-left: 0;
          font-size: inherit;
        }
        &:nth-child(3) {
          text-align: right;
          width: $year-last-column-width - 16px;
          max-width: $year-last-column-width - 16px;
        }
        &+td {
          border-left: $table-border;
        }
      }
    }
  }
}
.ph-year-bar {
  width: 100%;
  height: 16px;
  vertical-align: middle;
  &>div {
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    &.ph-year-cur {
      background-color: $ph-blue;
    }
    &.ph-year-prev {
      background-color: $ph-gray;
    }
  }
  &>span {
    vertical-align: middle;
  }
}


$segment-first-column-width: 300px;
$segment-center-column-width: 140px;
.ph-segment-table {
  .ph-table-header {
    border-top: $table-border;
    border-bottom: $table-border;
    table {
      @include table-layout-fixed();
      td {
        padding: 8px 8px;
        text-align: left;
        font-weight: bold;
        &:nth-child(1) {
          width: $segment-first-column-width - 16px;
          max-width: $segment-first-column-width - 16px;
        }
        &:nth-child(2),
        &:nth-child(3) {
          width: $segment-center-column-width - 16px;
          max-width: $segment-center-column-width - 16px;
        }
        &:nth-child(4) {
          text-align: center;
        }
      }
    }
  }

  .ph-tree-table-container {
    border-bottom: $table-border;
    table {
      width: 100%;
      border-collapse: collapse;
      padding: 0;
      table-layout: fixed;
      td {
        padding: 8px 8px;
        &:nth-child(1) {
          text-align: left;
          width: $segment-first-column-width - 16px;
          max-width: $segment-first-column-width - 16px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &.ph-table-tree-row {
            padding: 0;
            width: 100%;
            overflow: visible;
          }
        }
        &:nth-child(2),
        &:nth-child(3) {
          text-align: right;
          width: $segment-center-column-width - 16px;
          max-width: $segment-center-column-width - 16px;
        }
        &:nth-child(4) {
          text-align: right;
          padding: 6px 0;
        }
        &:nth-child(5) {
          text-align: left;
          padding: 6px 0;
        }
        &+td {
          border-left: $table-border;
        }
      }
    }
  }
}

.ph-segment-bar {
  width: 100%;
  &>div {
    height: 24px;
    vertical-align: middle;
    display: inline-block;
    background-color: $ph-blue;
  }
  &>span {
    vertical-align: middle;
  }
}

.wrap-arrow {
  &:before {
    color: $ph-gray;
    font-family: FontAwesome;
    text-anchor: middle;
    content: "\f177";
    margin-right: 3px;
  }
  &:after {
    color: $ph-gray;
    font-family: FontAwesome;
    text-anchor: middle;
    content: "\f178";
    margin-left: 3px;
  }
}

.ph-cell-arrow {
  min-height: 15px;
  padding-right: 10px;
  position: relative;
  &.increase:after {
    content: " ";
    position: absolute;
    background: url("../images/ico-purchase-history-mixed.png");
    background-position: -165px 0px;
    top: 2px;
    right: -2px;
    width: 6px;
    height: 10px;
  }
  &.decrease:after {
    content: " ";
    position: absolute;
    top: 2px;
    right: -2px;
    background: url("../images/ico-purchase-history-mixed.png");
    background-position: -172px 0px;
    width: 6px;
    height: 10px;
  }
}

.ph-sortable {
  position: relative;
  cursor: pointer;
}
.ph-sortable:after {
  font-family: FontAwesome;
  content: "\f0dc";
  text-anchor: middle;
  opacity: 0.4;
  margin-left: 5px;
}
.ph-sortable.ph-sort:after {
  font-family: FontAwesome;
  content: "\f0de";
  text-anchor: middle;
  color: $ph-blue;
  opacity: 1;
  margin-left: 5px;
}
.ph-sortable.ph-sort.ph-sort-reverse:after {
  font-family: FontAwesome;
  content: "\f0dd";
  text-anchor: middle;
  color: $ph-blue;
  opacity: 1;
  margin-left: 5px;
}

.ph-filter-group+.ph-filter-group {
  &:before {
    content: "|";
    text-anchor: middle;
    margin: 0px 10px;
    color: $ph-gray;
  }
}
.ph-filter {
  font-size: 12px;
  font-weight: bold;

  /****** dropdown-select *******/
  .wrap-dd-select {
    display: inline-block;
    position: relative;
    // width: 80px;
    // padding: 6px 2px;

    width: auto;
    padding: 6px 18px 6px 4px;

    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;

    border-radius: 0;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
    font-weight: bold;

    -webkit-transition: border 300ms ease-in;
     -moz-transition: border 300ms ease-in;
     -o-transition: border 300ms ease-in;
     transition: border 300ms ease-in;
  
    > span {
      color: $ph-hyperlink-blue;
    }
    &:hover {
      border: 1px solid rgba(50,50,50,0.3);
      box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    }

    &:after {
      position: absolute;
      font-family: FontAwesome;
      content: "\f107";
      font-size: 12px;
      text-anchor: middle;
      right: 4px;
      top: 7px;
    }

    &.datepicker {
      padding-right: 24px;
    }

    &.datepicker:after {
      position: absolute;
      content: " ";
      top: 3px;
      right: 2px;
      width: 16px;
      height: 16px;
      background: url("../images/ico-purchase-history.png");
      background-position: -53px 0px;
    }

    .dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      /*right: 0;*/
      margin: 0;
      z-index: 10;
      background: white;
      padding: 0;
      border-radius: inherit;
      border: 1px solid rgba(0,0,0,0.17);
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
      font-weight: normal;
      list-style: none;
      visibility: hidden;
      max-height: 300px;
      overflow-y: auto;
      overflow-x: hidden;
    }
      
    .dropdown li {
      width: 100%;
      display: inline-block;
      white-space: nowrap;
      /*hacky for scrollbar*/
      padding-right: 20px;
      border-bottom: 1px solid #e6e8ea;
    }

    .dropdown li a {
      display: block;
      padding: 6px;
      text-decoration: none;
      box-shadow: inset 0 1px 0 rgba(255,255,255,1);
      cursor: pointer;
    }

    .dropdown li:hover a {
      background: rgba(255,255,255,0.3);
    }
    
    &.active .dropdown {
      visibility: visible;
    }
  }
}

.ph-table-header-button-container {
  color: $ph-hyperlink-blue;
  text-anchor: bottom;
  position: absolute; 
  bottom: 0px;
  right: 0;
  .ph-table-header-button {
    position: relative;
    &:hover {
      opacity: 0.8;
    }
    &+.ph-table-header-button {
      margin-left: 10px;
      &:before {
        position: absolute;
        left: -7px;
        font-weight: bold;
        content: "|";
        text-anchor: middle;
      }
    }
  }
}

