.tab-container
{
    padding:          0px;
	margin:           0px;
	/* background-color: $primary-bg-color; */
}

.tab-container>.nav-tabs
{
    background-color: transparent;
    border: none;
    display: block;
}

.dante-hide-navigation .tab-container>.nav-tabs
{
	display: none;
}

.tab-content
{
    position: relative;
    border: 1px solid #ccc;
    background-color: #fff;
	/*
    border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
    */
}

.dante-hide-navigation .tab-content
{
	border: none;
}

.tab-content > .tab-pane {
	overflow: hidden;
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
	padding: 1em 2em 1.5em;
    display: block;
 	pointer-events: none; 
}
.tab-content > .tab-pane.active {
    opacity: 1;
    top: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    position: relative;
    z-index: 1;
    pointer-events: initial;
 	pointer-events: auto; // IE11 fix
}
// KETToDo: we need a way to target this tab panel without referencing the id
#playAttributesScreenWidget .collapsible_panel_widget
{
    float: left;
    width: 50%;
}

/* sub 623px adjustments */
@media (max-width: 623px) {
    #playAttributesScreenWidget .collapsible_panel_widget,
    .collapsible_panel_widget {width:100%;}
}

.nav-tabs>li>a
{
    background: transparent;
    color: #333;
    position: relative;
    bottom: 0px;
    z-index: 2;
	font-size: 9pt;
    padding: 1em 2em;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
}

.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a
{
	font-weight: bold;
}

.nav-tabs>li.active>a:hover {
	color: #000;
}

.nav-tabs > li > a:hover {
	/* border: none; */
}

.nav > li > a:hover {
  background-color: transparent
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: 1px solid #ccc;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
} 

.nav-tabs > li > a:active {
	background: #eee;
	color: black;
}

.nav-tabs > li.active > a:active {
	background: white;
	color: initial;
}
@media screen and (max-width: 512px) {
	.tab-container>.nav-tabs {
		padding-left: 1em;
	}
	.js-dante-lead-details-nav-container.dante-play-details-nav-container.float-left.scroll-y 
    {
        margin-top: 1em;
        margin-bottom: 0em;
    }
}