<?xml version="1.0"?>
<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Default" logWarningsWhenNoCategoriesMatch="true">
  <listeners>
    <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="LatticeEngines.DataBroker.ApplicationLog.ConsoleTracer, ApplicationLog" name="POET Console Logger" initializeData="" formatter="POET Text Formatter" />
    <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="LatticeEngines.DataBroker.ApplicationLog.OutputWindowTracer, ApplicationLog" name="POET Output Window Logger" initializeData="" formatter="POET Text Formatter" />
    <add fileName="..\logs\LMLog.txt" rollSizeKB="5000" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="POET Single-Line Text Formatter" header="" footer="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="POET TXT File Logger" />
    <add fileName="..\logs\LMSqlLog.txt" rollSizeKB="5000" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="POET Single-Line Text Formatter" header="" footer="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="POET TXT SQL Logger" />
    <add databaseInstanceName="LoggingDB" writeLogStoredProcName="LELog_WriteLog" formatter="POET Text Formatter" listenerDataType="LatticeEngines.DataBroker.ApplicationLog.LEFormattedDatabaseTraceListenerData, ApplicationLog" traceOutputOptions="None" type="LatticeEngines.DataBroker.ApplicationLog.LEFormattedDatabaseTraceListener, ApplicationLog" name="POET Database Trace Listener" />
  </listeners>
  <formatters>
    <add template="{dictionary({key}={value}|)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="POET Text Formatter" />
    <add template="{timestamp}{tab}{severity}{tab}{category}{tab}{message}{tab}{title}{tab}{machine}{tab}{dictionary({key}={value}|)}" type="LatticeEngines.DataBroker.ApplicationLog.SingleLineTextFormatter, ApplicationLog, Culture=neutral, PublicKeyToken=76c5644dd94472c6" name="POET Single-Line Text Formatter" />
  </formatters>
  <logFilters>
    <add showDebug="False" type="LatticeEngines.DataBroker.ApplicationLog.ShowDebugFilter, ApplicationLog" name="Set to True to show verbose output, false otherwise" />
    <add showSql="False" type="LatticeEngines.DataBroker.ApplicationLog.ShowSqlFilter, ApplicationLog" name="Set to True to show sql output, false otherwise" />
  </logFilters>
  <categorySources>
    <add switchValue="All" name="Default">
      <listeners>
        <add name="POET Output Window Logger" />
        <add name="POET TXT File Logger" />
        <add name="POET Database Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="Sql">
      <listeners>
        <add name="POET Output Window Logger" />
        <add name="POET TXT File Logger" />
<!--        <add name="POET TXT SQL Logger" />  -->
        <add name="POET Database Trace Listener" />
      </listeners>
    </add>
  </categorySources>
  <specialSources>
    <allEvents switchValue="All" name="All Events" />
    <notProcessed switchValue="All" name="Unprocessed Category" />
    <errors switchValue="All" name="Logging Errors &amp; Warnings">
      <listeners>
        <add name="POET TXT File Logger" />
        <add name="POET Database Trace Listener" />
      </listeners>
    </errors>
  </specialSources>
</loggingConfiguration>
