<?xml version="1.0"?>
<leApplicationConfiguration connectionStringName="LMInternalDB" installerQueuePrefix="">

  <uriRewriteRules>
    <rewriteRules>
      <rewriteRule  initialName="localComputerName" convertedName="externalComputerName"/>
    </rewriteRules>
  </uriRewriteRules>

</leApplicationConfiguration>
