<section id="ModelRatingsHistoryView" class="model-ratings history container">

    <div class="row">
        <div class="ten columns offset-one">

            <ul class="tabs_">
                <li ui-sref="home.model.ratings({ modelId: '{{ vm.modelId | escape }}' })" ui-sref-opts="{reload: true}">Rating Setup</li>
                <li class="active">History</li>
            </ul>

            <div class="iteration-selection-header">
                <menu-filter-by config="vm.header.filter" current="vm.currentPage"></menu-filter-by>
                <menu-sort-by config="vm.header.sort"></menu-sort-by>
            </div>
            <ul 
                class="history-list">
            	<li ng-repeat="
                    configuration in vm.scoringHistory | 
                    filter: vm.header.filter.value : true | 
                    orderBy: vm.header.sort.order + vm.header.sort.property |
                    startFrom: (vm.currentPage - 1) * vm.pageSize |
                    limitTo: vm.pageSize">

		            <div class="chart-header">
		                <div class="list-data clearfix">

                            <span class="pull-left">
                                <a 
                                    ui-sref="home.model.attributes({ 
                                        rating_id: vm.rating_id, 
                                        modelId: configuration.modelSummaryId,
                                        viewingIteration: true
                                    })">
                                    Iteration {{ configuration.iteration }}</a><span ng-if="configuration.publishedBy">, published by {{ configuration.publishedBy }}</span>
                            </span>

                            <span class="pull-right">{{ configuration.publishedTimestamp | date : 'MMM d, y h:mm:ss a'}} </span>

                        </div>
		            </div><!-- End .chart-header -->
		            <ul class="bucket-tiles published buckets-{{configuration.publishedMetadata.length}}">
		            	<li ng-repeat="bucket in configuration.publishedMetadata">
		                    <div class="bucket-label">{{ bucket.bucket_name }}</div>
		                    <dl>
		                        <dt>Lift</dt>
		                        <dd class="lift">{{vm.math.max(bucket.lift).toFixed(1)}}x</dd>
		                        <dt>Score Range</dt>
		                        <dd>{{bucket.left_bound_score}}-{{bucket.right_bound_score}}</dd>

                                <dt ng-if="vm.predictionType == 'EXPECTED_VALUE'">
                                    Average<br/>Weighted Revenue
                                </dt>
                                <dd ng-if="vm.predictionType == 'EXPECTED_VALUE'">
                                    ${{ bucket.avg_expected_revenue | number: 2 }}
                                </dd>

                                <!-- <dt ng-if="vm.predictionType != 'EXPECTED_VALUE'">
                                    Conversion Rate
                                </dt>
                                <dd ng-if="vm.predictionType != 'EXPECTED_VALUE'">
                                    {{ (((bucket.num_converted * bucket.num_leads) / (bucket.num_leads * bucket.num_leads)) * 100) }}
                                </dd> -->
		                    </dl>
		                </li>
		            </ul><!-- End .bucket-tiles -->
		        </li>
		    </ul><!-- End .history -->

        </div><!-- End .twelve.columns -->
    </div><!-- End .row -->
    <div 
        class="row"
        ng-show="max > 1">
        <div class="ten columns offset-one">
            <pd-pagination-controls 
                class="pull-right"
                current="vm.currentPage" 
                max="max = (vm.header.filter.filtered).length / vm.pageSize">
            </pd-pagination-controls>
        </div>
    </div>

</section>
