<section class="tabs interior containerx">
    <ul>
        <li
            ui-sref="home.ratingsengine.list.ratings"
            ui-sref-active="active">
            <div class="tab-container">
                <h2>Models</h2>
                <div class="enrichmentCounts">
                    <span class="count">{{vm.count('ACTIVE')}}</span> active
                    <span class="count">{{vm.count('INACTIVE')}}</span> inactive
                </div>
            </div>
        </li>
        <li ui-sref="home.ratingsengine.list.history" ui-sref-active="active">
            <div class="tab-container">
                <h2>Creation History</h2>
                <div class="enrichmentCounts">
                    <span class="count">{{vm.current.ratings.length}}</span> total
                </div>
            </div>
        </li>
    </ul>
</section>