<div class="js-dante-play-details-nav-tile dante-play-details-nav-tile dante-play-details-nav-tile-selected dante-lead-details-tile">
    <!--
    <div class="js-dante-play-tile-header dante-play-tile-header">
        <%= ResourceUtil.getString('DANTE_LEAD_TILE_HEADER') %>
    </div>
    -->
    
    <div class="js-dante-lead-tile-score dante-lead-details-tile-score">
        
    </div>
    
    <!--
    <div class='dante-lead-details-tile-selected-arrow'></div>
    -->
</div>