<section class="container">
	<div class="row">
		<div class="ten columns offset-one">

			<!-- Error Messaging -->
<!--             <div class="messaging error-messaging" data-ng-show="vm.showAddCredentialError">
                <span>{{vm.addCredentialErrorMessage}}</span>
            </div> -->


			<div class="content-panel add-profile">
				<form novalidate name="credentialForm">

					<div class="panel-header">
						<div class="form-group">
			      			<label for="credentialName">Profile Name
			      				<input
			      					autofocus
			      					required
			      					type="text" 
			      					id="credentialName" 
			      					name="credentialName"
			      					ng-blur="vm.onBlur($event)"
			      					data-ng-model="vm.credentialName" 
			      					ng-class="{ 'has-error' : credentialForm.credentialName.$invalid && !credentialForm.credentialName.$pristine }"
			      					class="form-control" 
			      					placeholder="NA Accounts" />
			      			</label>
			      		</div>
					</div><!-- End .panel-header -->


			      	<div class="panel-body">
			      		<h2>Refer to Marketo for the following credentials:</h2>

			      		<div class="row">
							<div class="six columns">
					      		<div class="form-group">
					      			<h3>Marketo > Admin > Webservices</h3>
					      			<label for="endpointSOAP">Endpoint (SOAP)
					      				<input 
					      					required
					      					type="url" 
					      					id="endpointSOAP" 
					      					name="endpointSOAP"
					      					ng-class="{ 'has-error' : credentialForm.endpointSOAP.$invalid && !credentialForm.endpointSOAP.$pristine }"
					      					class="form-control" 
					      					data-ng-model="vm.soapEndpoint" />
					      			</label>
					      		</div>
					      		<div class="form-group">
					      			<label for="userIDSOAP">User Id (SOAP)
					      				<input
					      					required
					      					type="text" 
					      					id="userIDSOAP" 
					      					name="userIDSOAP"
					      					ng-class="{ 'has-error' : credentialForm.userIDSOAP.$invalid && !credentialForm.userIDSOAP.$pristine }"
					      					class="form-control" 
					      					data-ng-model="vm.soapUserId" />
					      			</label>
					      		</div>
					      		<div class="form-group">
					      			<label for="encryptionKeySOAP">Encryption Key (SOAP)
					      				<input
					      					required
					      					type="text" 
					      					id="encryptionKeySOAP" 
					      					name="encryptionKeySOAP"
					      					ng-class="{ 'has-error' : credentialForm.encryptionKeySOAP.$invalid && !credentialForm.encryptionKeySOAP.$pristine }"
					      					class="form-control" 
					      					data-ng-model="vm.soapEncryptionKey" />
					      			</label>
					      		</div>
					      		<div class="form-group">
					      			<label for="endpointREST">Endpoint (REST API)
					      				<input
					      					required
					      					type="url" 
					      					id="endpointREST" 
					      					name="endpointREST"
					      					ng-class="{ 'has-error' : credentialForm.endpointREST.$invalid && !credentialForm.endpointREST.$pristine }"
					      					class="form-control" 
					      					data-ng-model="vm.restEndpoint" />
					      			</label>
					      		</div>
					      		<div class="form-group">
					      			<label for="identityREST">Identity Endpoint (REST API)
					      				<input
					      					required
					      					type="text" 
					      					id="identityREST" 
					      					name="identityREST"
					      					ng-class="{ 'has-error' : credentialForm.identityREST.$invalid && !credentialForm.identityREST.$pristine }"
					      					class="form-control" 
					      					data-ng-model="vm.restIdentityEndpoint" />
					      			</label>
					      		</div>
					      	</div><!-- End .six.columns -->
					      	<div class="six columns">
					      		<div class="form-group">
					      			<h3>Marketo > Admin > Launchpoint > Service Details</h3>
					      			<label for="clientId">Client Id (REST API)
					      				<input
					      					required
					      					type="text" 
					      					id="clientId" 
					      					name="clientId"
					      					ng-class="{ 'has-error' : credentialForm.clientId.$invalid && !credentialForm.clientId.$pristine }"
					      					class="form-control" 
					      					data-ng-model="vm.restClientId" />
					      			</label>
					      		</div>
					      		<div class="form-group">
					      			<label for="clientSecret">Client Secret (REST API)
					      				<input
					      					required
					      					type="text" 
					      					id="clientSecret" 
					      					name="clientSecret"
					      					ng-class="{ 'has-error' : credentialForm.clientSecret.$invalid && !credentialForm.clientSecret.$pristine }"
					      					class="form-control" 
					      					data-ng-model="vm.restClientSecret" />
					      			</label>
					      		</div>
					      		<div class="form-group" ng-if="vm.showSecretKey">
					      			<label for="clientSecret">Lattice Secret Key
					      				<input
					      					type="text" 
					      					id="latticeKey" 
					      					name="latticeKey"
					      					ng-class="{ 'has-error' : credentialForm.clientSecret.$invalid && !credentialForm.clientSecret.$pristine }"
					      					class="form-control" 
					      					data-ng-model="vm.latticeSecretKey"
					      					ng-disabled="true" />
					      			</label>
					      		</div>
					      	</div><!-- End .six.columns -->
					    </div><!-- End .row -->
			      	</div><!-- End .panel-body -->

			      	<div class="panel-footer">	
			      		<button 
			      			type="button"
			      			ng-click="vm.cancelCredentialCreate()"
			      			class="button gray-button pull-left"
			      		>
			      			Cancel
			      		</button>
			      		<button 
			      			type="button"
			      			ng-click="vm.createCredentialClicked()"
							ng-if="vm.state == 'create' && !vm.saveInProgress"
			      			class="button orange-button pull-right"
			      			ng-disabled="credentialForm.$invalid"
			      		>
			      			Create
			      		</button>
						<button
								type="button"
								ng-click="vm.saveCredentialClicked()"
								ng-if="vm.state == 'edit' && !vm.saveInProgress"
								class="button orange-button pull-right"
			      				ng-disabled="credentialForm.$invalid"
								>
							Save
						</button>
						<button
								type="button"
								disabled="disabled"
								ng-show="vm.saveInProgress"
								class="button orange-button pull-right"
								>
							<i class="fa fa-spinner fa-spin"></i> Saving...
						</button>
			      	</div><!-- End .panel-footer -->




			    </form>

		    </div><!-- End .content-panel -->
		</div><!-- End .columns -->
	</div><!-- End .row -->
</section>