
div.num-edit-row {
    display: flex;
    justify-content: flex-start;
    
}

.flex-container{
    // padding-top: 10px;
    display: flex;
    // border: 1px solid red;
    flex-wrap: wrap;
}
.flex-container-controller{
    display: flex;
    flex-wrap: wrap;
    // border: 1px solid green;
    justify-content: center;
    // padding: 10px 0;
    justify-content: space-around;
    height: 100%;
    width: 100%;

    & .set, & .unset{
        max-height: 30px;
    }

}


// @media only screen and (max-width: 1000px) {
//     .flex-container-controller{
//         flex-direction: column;
//         justify-content: center;
        

//     }
// }


