div[data-ng-controller="UpdatePasswordSuccessController"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    h1 {
        button {
            vertical-align: middle;
            font-size: 20px;
            margin-left: 20px;
            margin-top: -5px;
        }
    }
}