.query-results {
    min-width: 680px;

    .pd-pagination {
        float: right;
        display: inline-block;
        text-align: right;
    }

    .filters {
        @include flex-container;
        justify-content: center;

        .query {
            @include flex-item(0 1 auto);
        }

        .buttons {
            @include flex-item(1 1 auto);
            text-align: right;
            margin: 0 8px;
        }
    }

    table {
        font-weight: bold;

        thead {
            border: 1px solid #d0d2d3;
            border-width: 2px 0;
        }

        th {
            border: none;
            cursor: pointer;
        }

        .sort:after {
          font-family: FontAwesome;
          text-anchor: middle;
          margin-left: 5px;
          position: absolute;
        }

        .sort-dsc .sort:after {
          content: "\f0d7";
        }

        .sort-asc .sort:after {
          content: "\f0d8";
        }
    }
}

.query-builder {
    margin-top: 1.5em;

    hr {
        opacity: 0.25;
        margin: 24px 0;
        border-style: dashed;
    }

    .controls {
        margin-bottom: 10px;
    }

    strong {
        font-weight: bold;
    }

    .row {
        padding: 0 1em;
    }

    .row.filter-group.disabled {
        pointer-events: none;
    }
}

.query-filter {
    display: flex;
    flex-direction: row;
    position: relative;
    background: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    margin: 1em 0;
    padding: 0.3em 0;
}

.query-filter-action {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: black;
    }
}
.query-filter-name {
    flex: 1 0 auto;
    max-width: 500px;
    .category-firmographics {
        color: $datacloud-color-firmographics;
    }
    .category-growth-trends {
        color: $datacloud-color-growth-trends;
    }
    .category-intent {
        color: $datacloud-color-intent;
    }
    .category-online-presence {
        color: $datacloud-color-online-presence;
    }
    .category-technology-profile {
        color: $datacloud-color-technology-profile;
    }
    .category-website-keywords {
        color: $datacloud-color-website-keywords;
    }
    .category-website-profile {
        color: $datacloud-color-website-profile;
    }
}
.query-filter-type {
    width: 120px;
    padding-top: 20px;
    padding-left: 2px;
    color: #888888;
}
.query-filter-buckets {
    flex: 0 0 auto;
    width: 300px;
}

.query-filter-table {
    display: table;
    width: 100%;
}
.query-filter-row {
    display: table-row;
    height: 1.8em;
}
.query-filter-cell {
    display: table-cell;
    vertical-align: top;
    padding: 1px 4px;
}
.query-filter-header {
    text-transform: uppercase;
    color: #bbb;
    font-size: 12px;
    height: auto;
}

.query-filter-delete {
    color: black;
    text-align: center;
    a {
        color: black;
        text-decoration: none;
    }
}

.query-filter.query-any .fa.arrow:before {
    content: "\f062"; /* up */
}

.query-filter.query-all .fa.arrow:before {
    content: "\f063"; /* down */
}

.query-filter-lift {
    .query-lift-highlight {
        display: inline-block;
        text-align: center;
        color: white;
        background: black;
        width: 42px;
        border-radius: 4px;
    }
}
.query-filter-value {
    width: 50%;
}

.query-filter-category {
    font-size: 12px;
}
