.header, .body, .footer{
    border: 1px solid gray;
    background-color: antiquewhite
}
.nav{
    border: 0.01em solid rgb(233, 233, 233);
    background-color: white;
}
.main{
    border: 0.01em solid rgb(233, 233, 233);
    background-color: white;
}
.info{
    border: 0.01em solid rgb(233, 233, 233);
    background-color: white;
}