<div>
    <div class="pull-left">
        <button 
            ng-if="!vm.item.hideBack"
            type="button" 
            class="button white-button block-button"
            ng-click="vm.click(true)">
          Back
        </button>
    </div>
    
    <div class="pull-right">
        <button 
            ng-if="!vm.item.hideNext"
            type="button" 
            class="button blue-button"
            ng-click="vm.click()"
            ng-disabled="!vm.isValid() || vm.nextDisabled">
            {{vm.item.nextLabel || 'Next'}}
        </button>
    </div>
</div>