<div>
    <div class="pull-left">
        <button 
            ng-if="!vm.item.hideBack"
            type="button" 
            class="button white-button block-button"
            ng-click="vm.click(true)">
          {{vm.item.prevLabel || 'Back'}}
        </button>
    </div>
    <div class="pull-right">
        <button
            ng-if="(vm.secondaryLink || vm.item.secondaryLink || vm.item.secondaryFn) && vm.item.lastRoute"
            class="button white-button"
            ng-class="vm.item.secondaryClass"
            ng-click="vm.clickSecondary()"
            ng-disabled="(vm.item.secondaryLinkValidation && !vm.isValid())">
            {{vm.item.secondaryLinkLabel}}
        </button>
        <button 
            ng-if="!vm.item.hideNext"
            type="button" 
            class="button blue-button"
            ng-class="vm.item.nextClass"
            ng-click="vm.click()"
            ng-disabled="!vm.isValid() || vm.nextDisabled">
            {{vm.item.nextLabel || 'Next'}}
            <i ng-if="vm.item.showNextSpinner && vm.nextDisabled" class="fa fa-spinner fa-pulse fa-fw"></i>
        </button>
    </div>
</div>