<section data-ng-controller="SimpleTabWidgetController" class="tab-widget">
    <div class="tab-panel blue-background" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="{{tab.IsActive ? 'active' : ''}}" data-ng-repeat="tab in tabs">
                <a href="#{{tab.ID}}" aria-controls="home" role="tab" data-toggle="tab">{{tab.Title}}</a>
            </li>
        </ul>
        <div class="tab-contents">
            <div role="tabpanel" class="tab-pane {{tab.IsActive ? 'active' : ''}} tab-content" id="{{tab.ID}}" data-ng-repeat="tab in tabs">
                
            </div>
        </div>
    </div>
</section>