

<section class="playbook playbook-launch-history container">
    <div class="card-content" ng-class="{'has-footer': !vm.allPlaysHistory}">

        <chips 
            ng-show="vm.allPlaysHistory"
            placeholder="All Launched Plays" 
            datasource="vm.defaultPlayLaunchList" 
            callback-function="vm.playSelectChange(args)"
            single-selection="true">
        </chips>
        
        <ul class="history-metadata">
        	<li>
        		<dl>
        			<dt>Selected Targets</dt>
        			<dd class="blue-text">{{vm.summaryData.selectedTargets | number}}</dd>
        		</dl>
        	</li>
        	<li>
        		<dl>
        			<dt>Suppressed</dt>
        			<dd class="red-text">{{vm.summaryData.suppressed | number}}</dd>
        		</dl>
        	</li>
            <li>
                <dl>
                    <dt>Errors</dt>
                    <dd class="red-text">{{vm.summaryData.errors | number}}</dd>
                </dl>
            </li>
        	<li>
        		<dl>
        			<dt>Launched Recommendations</dt>
        			<dd class="green-text">{{vm.summaryData.recommendationsLaunched | number}}</dd>
        		</dl>
        	</li>
        	<li>
        		<dl>
        			<dt>Contacts within Recommendations</dt>
        			<dd class="green-text">{{vm.summaryData.contactsWithinRecommendations | number}}</dd>
        		</dl>
        	</li>
        </ul>

    	<div class="table-metadata">
    		{{vm.launches.launchSummaries.length}} play launches
    	</div>

    	<table>
    		<thead>
    			<tr>
    				<th>
                        Launch Date
                        <i  aria-hidden="true" 
                            ng-class="{
                                'fa fa-sort': vm.sortBy != 'launchTime',
                                'fa fa-sort-desc': vm.sortBy === 'launchTime' && vm.sortDesc, 
                                'fa fa-sort-asc': vm.sortBy === 'launchTime' && !vm.sortDesc}"></i>
                    </th>
                    <th ng-if="vm.allPlaysHistory">
                        Play Name
                        <i  aria-hidden="true" 
                            ng-class="{
                                'fa fa-sort': vm.sortBy != 'playDisplayName',
                                'fa fa-sort-desc': vm.sortBy === 'playDisplayName' && vm.sortDesc, 
                                'fa fa-sort-asc': vm.sortBy === 'playDisplayName' && !vm.sortDesc}"></i>
                    </th>
    				<th>
                        Selected Targets
                        <i  aria-hidden="true" 
                            ng-class="{
                                'fa fa-sort': vm.sortBy != 'stats.selectedTargets',
                                'fa fa-sort-desc': vm.sortBy === 'stats.selectedTargets' && vm.sortDesc, 
                                'fa fa-sort-asc': vm.sortBy === 'stats.selectedTargets' && !vm.sortDesc}"></i>
                   </th>
    				<th>
                        Suppressed
                        <i  aria-hidden="true" 
                            ng-class="{
                                'fa fa-sort': vm.sortBy != 'stats.suppressed',
                                'fa fa-sort-desc': vm.sortBy === 'stats.suppressed' && vm.sortDesc, 
                                'fa fa-sort-asc': vm.sortBy === 'stats.suppressed' && !vm.sortDesc}"></i>
                   </th>
                    <th>
                        Errors
                        <i  aria-hidden="true" 
                            ng-class="{
                                'fa fa-sort': vm.sortBy != 'stats.errors',
                                'fa fa-sort-desc': vm.sortBy === 'stats.errors' && vm.sortDesc, 
                                'fa fa-sort-asc': vm.sortBy === 'stats.errors' && !vm.sortDesc}"></i>
                   </th>
    				<th>
                        Recommendation <br/>Launched
                        <i  aria-hidden="true" 
                            ng-class="{
                                'fa fa-sort': vm.sortBy != 'stats.recommendationsLaunched',
                                'fa fa-sort-desc': vm.sortBy === 'stats.recommendationsLaunched' && vm.sortDesc, 
                                'fa fa-sort-asc': vm.sortBy === 'stats.recommendationsLaunched' && !vm.sortDesc}"></i>
                   </th>
    				<th>
                        Contacts within <br/>Recommendation
                        <i  aria-hidden="true" 
                            ng-class="{
                                'fa fa-sort': vm.sortBy != 'stats.contactsWithinRecommendations',
                                'fa fa-sort-desc': vm.sortBy === 'stats.contactsWithinRecommendations' && vm.sortDesc, 
                                'fa fa-sort-asc': vm.sortBy === 'stats.contactsWithinRecommendations' && !vm.sortDesc}"></i>
                   </th>
                    <th>
                        Status
                        <i  aria-hidden="true" 
                            ng-class="{
                                'fa fa-sort': vm.sortBy != 'launchState',
                                'fa fa-sort-desc': vm.sortBy === 'launchState' && vm.sortDesc, 
                                'fa fa-sort-asc': vm.sortBy === 'launchState' && !vm.sortDesc}"></i>
                   </th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr ng-repeat="launch in vm.launches.launchSummaries">
    				<td>{{launch.launchTime | date:'hh:mm a on MM/dd/yyyy'}}</td>
                    <td ng-if="vm.allPlaysHistory">{{launch.playDisplayName}}</td>
    				<td class="blue-text">{{launch.stats.selectedTargets | number}}</td>
    				<td class="red-text">{{launch.stats.suppressed | number}}</td>
    				<td class="red-text">{{launch.stats.errors | number}}</td>
                    <td class="green-text">{{launch.stats.recommendationsLaunched | number}}</td>
    				<td class="green-text">{{launch.stats.contactsWithinRecommendations | number}}</td>
                    <td>
                        <span class="fa fa-check" ng-if="launch.launchState === 'Launched'"></span>
                        <span class="fa fa-spinner fa-pulse fw" ng-if="launch.launchState === 'Launching'"></span>
                        <span class="fa fa-exclamation-triangle red-text" ng-if="launch.launchState === 'Failed'"></span>
                        {{launch.launchState}}
                    </td>
    			</tr>
    		</tbody>
    	</table>

        <pd-pagination-controls
            ng-if="vm.showPagination"
            current="vm.current"
            max="vm.launches.launchSummaries.length / vm.pagesize"
            class="pull-right">
        </pd-pagination-controls>

    </div><!-- End .content -->
    <div class="card-footer" ng-if="!vm.allPlaysHistory">
        <button 
            type="button"
            class="button blue-button pull-right"
            ng-disabled="vm.launching"
            ng-click="vm.relaunchPlay()">
            <span ng-show="!vm.launching">Re-Launch</span>
            <span ng-show="vm.launching">Launching...</span>
        </button>
    </div><!-- End .footer -->
</section>


