

<section class="playbook playbook-launch-history container">
    <div 
        ng-if="vm.noData"
        class="no-data">
        <h2>There are no campaigns launched. The launch history will be available once you launch campaigns.</h2>
        <a 
            class="button white-button"
            ui-sref="home.playbook.create">
            Create a Campaign
        </a>
    </div>
    <div
        ng-if="!vm.noData" 
        class="card-content" 
        ng-class="{'has-footer': !vm.allPlaysHistory}">
        <menu-filter-by 
            config="vm.header.filter"
            callback-function="vm.filterChange(args)"
            ng-if="vm.stateParams.section != 'dashboard.launchhistory'">
        </menu-filter-by>
        <chips 
            ng-show="vm.allPlaysHistory"
            placeholder="All Launched Campaigns" 
            datasource="vm.defaultPlayLaunchList" 
            callback-function="vm.playSelectChange(args)"
            single-selection="true"
            id="pid"
            queryscope="displayName"
            displayname="displayName">
        </chips>
        <ul class="history-metadata" ng-if="!vm.externalIntegrationEnabled">
        	<li class="cell-border">
        		<dl>
        			<dt>Total Recommendations</dt>
        			<dd class="blue-text">{{vm.summaryData.selectedTargets | number}}</dd>
        		</dl>
        	</li>
        	<li class="cell-border">
        		<dl>
        			<dt>Suppressed</dt>
        			<dd class="red-text">{{vm.summaryData.accountsSuppressed | number}}</dd>
        		</dl>
        	</li>
            <li class="cell-border">
                <dl>
                    <dt>Errors</dt>
                    <dd class="red-text">{{vm.summaryData.accountErrors | number}}</dd>
                </dl>
            </li>
            <li class="cell-border">
                <dl>
                    <dt>Launched Recommendations</dt>
                    <dd class="green-text">{{vm.summaryData.recommendationsLaunched | number}}</dd>
                </dl>
            </li>
            <li class="cell-border">
                <dl>
                    <dt>Contacts within Recommendations</dt>
                    <dd class="green-text">{{vm.summaryData.contactsWithinRecommendations | number}}</dd>
                </dl>
            </li>
        </ul>
        <ul class="history-metadata" ng-if="vm.externalIntegrationEnabled"> 
            <li>
                <dl>
                    <dt class="centered">Accounts</dt>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>Selected</dt>
                    <dd class="blue-text">{{vm.summaryData.selectedTargets | number}}</dd>
                </dl>
            </li>
        	<li>
        		<dl>
        			<dt>Suppressed</dt>
        			<dd class="blue-text">{{vm.summaryData.accountsSuppressed || 0 | number}}</dd>
        		</dl>
        	</li>
            <li>
                <dl>
                    <dt>Errors</dt>
                    <dd class="red-text">{{vm.summaryData.accountErrors | number}}</dd>
                </dl>
            </li>
        	<li>
        		<dl>
        			<dt>Launched</dt>
        			<dd class="green-text">{{vm.summaryData.recommendationsLaunched | number}}</dd>
        		</dl>
        	</li>
            
            <li>
                <dl>
                    <dt class="centered">Contacts</dt>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>Selected</dt>
                    <dd class="blue-text">{{ (vm.summaryData.selectedContacts || 0) | number}}</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>Suppressed</dt>
                    <dd class="blue-text">{{ (vm.summaryData.contactsSuppressed || 0) | number}}</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>Errors</dt>
                    <dd class="red-text">{{vm.summaryData.contactErrors | number}}</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>Launched</dt>
                    <dd class="green-text">{{vm.summaryData.contactsWithinRecommendations | number}}</dd>
                </dl>
            </li>
        </ul>

    	<div class="table-metadata">
    		{{vm.launchesCount}} campaign launch<span ng-if="vm.launchesCount > 1">es</span>
    	</div>

    	<table>
    		<thead>
    			<tr>
    				<th class="sortable" ng-click="vm.sort('created'); vm.sortDesc = !vm.sortDesc">
                        Launch Time
                        <i  aria-hidden="true" 
                            ng-class="{
                                'fa fa-sort': vm.sortBy != 'created',
                                'fa fa-sort-desc': vm.sortBy === 'created' && vm.sortDesc, 
                                'fa fa-sort-asc': vm.sortBy === 'created' && !vm.sortDesc}"></i>
                    </th>
                    <th ng-if="vm.allPlaysHistory">
                        Campaign Name
                        <!-- <i  aria-hidden="true" 
                            ng-class="{
                                'fa fa-sort': vm.sortBy != 'playDisplayName',
                                'fa fa-sort-desc': vm.sortBy === 'playDisplayName' && vm.sortDesc, 
                                'fa fa-sort-asc': vm.sortBy === 'playDisplayName' && !vm.sortDesc}"></i> -->
                    </th>
                    <th>
                        System Name
                    </th>
                    <th ng-if="!vm.allPlaysHistory">
                        Destination
                    </th>
    				<th class="sortable" ng-click="vm.sort('accountsSelected'); vm.sortDesc = !vm.sortDesc">
                        Selected
                        <i  aria-hidden="true" 
                            ng-class="{
                                'fa fa-sort': vm.sortBy != 'accountsSelected',
                                'fa fa-sort-desc': vm.sortBy === 'accountsSelected' && vm.sortDesc, 
                                'fa fa-sort-asc': vm.sortBy === 'accountsSelected' && !vm.sortDesc}"></i>
                   </th>
    				<th class="sortable" ng-click="vm.sort('accountsSuppressed'); vm.sortDesc = !vm.sortDesc">
                        Suppressed
                        <i  aria-hidden="true" 
                            ng-class="{
                                'fa fa-sort': vm.sortBy != 'accountsSuppressed',
                                'fa fa-sort-desc': vm.sortBy === 'accountsSuppressed' && vm.sortDesc, 
                                'fa fa-sort-asc': vm.sortBy === 'accountsSuppressed' && !vm.sortDesc}"></i>
                   </th>
                    <th class="sortable" ng-click="vm.sort('accountsErrored'); vm.sortDesc = !vm.sortDesc">
                        Errors
                        <i  aria-hidden="true" 
                            ng-class="{
                                'fa fa-sort': vm.sortBy != 'accountsErrored',
                                'fa fa-sort-desc': vm.sortBy === 'accountsErrored' && vm.sortDesc, 
                                'fa fa-sort-asc': vm.sortBy === 'accountsErrored' && !vm.sortDesc}"></i>
                   </th>
                    <th ng-if="vm.externalIntegrationEnabled && !vm.allPlaysHistory">
                        Duplicates
                   </th>
    				<th>
                        Accounts
                   </th>
    				<th>
                        Contacts
                    </th>
                    <th class="sortable" ng-click="vm.sort('launchState'); vm.sortDesc = !vm.sortDesc">
                        Status
                        <i  aria-hidden="true" 
                            ng-class="{
                                'fa fa-sort': vm.sortBy != 'launchState',
                                'fa fa-sort-desc': vm.sortBy === 'launchState' && vm.sortDesc, 
                                'fa fa-sort-asc': vm.sortBy === 'launchState' && !vm.sortDesc}"></i>
                   </th>
    			</tr>
    		</thead>
    		<tbody ng-if="!vm.noFilteredData">
    			<tr ng-repeat="launch in vm.launches.launchSummaries">
    				<td>{{launch.launchTime | date:'hh:mm a on MM/dd/yyyy'}}</td>
                    <td ng-if="vm.allPlaysHistory" class="text-ellipsis" title="{{launch.playDisplayName}}">{{launch.playDisplayName}}</td>
                    <td class="text-ellipsis" title="{{vm.systemMap[launch.destinationOrgId].orgName}}">{{vm.systemMap[launch.destinationOrgId].orgName}}</td>
                    <td ng-if="!vm.allPlaysHistory" class="text-ellipsis" >
                        <span ng-if="launch.audienceName" title="{{launch.audienceName}}"> {{launch.audienceName}} </span>
                        <span ng-if="vm.isS3Launch(launch) && !launch.audienceName" title="{{vm.getSourceFilePath(launch)}}"> {{vm.getSourceFilePath(launch)}} </span>
                    </td>
    				<td class="blue-text">
                        <span ng-if="vm.isAccountBasedLaunch(launch)"> {{launch.stats.selectedTargets | number}}</span>
                        <span ng-if="!vm.isAccountBasedLaunch(launch)"> {{launch.stats.selectedContacts || 0 | number}}</span>
                    </td>

    				<td class="red-text">
                        <span ng-if="vm.isAccountBasedLaunch(launch)"> {{launch.stats.accountsSuppressed | number}} </span>
                        <span ng-if="!vm.isAccountBasedLaunch(launch)"> {{launch.stats.contactsSuppressed || 0 | number}}</span>                    
                    </td>
                    <td class="red-text">
                        <a href="/files/datafiles/sourcefile?fileName={{vm.getErrorFileName(launch)}}&filePath={{vm.getErrorFilePath(launch)}}&bucketName={{launch.integrationStatusMonitor.s3Bucket}}&Authorization={{vm.auth}}&TenantId={{vm.tenantId}}" ng-if="launch.integrationStatusMonitor && launch.integrationStatusMonitor.s3Bucket && launch.integrationStatusMonitor.errorFile">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </a>

                        <span ng-class="{'indent-count': !launch.integrationStatusMonitor || !launch.integrationStatusMonitor.s3Bucket || !launch.integrationStatusMonitor.errorFile}"> 
                            <span ng-if="vm.isAccountBasedLaunch(launch)"> {{launch.stats.accountErrors | number}} </span>
                            <span ng-if="!vm.isAccountBasedLaunch(launch)"> {{launch.stats.contactErrors | number}}</span>
                        </span>

                    </td>
                    <td class="blue-text" ng-if="vm.externalIntegrationEnabled && !vm.allPlaysHistory">
                        <span ng-if="vm.isAccountBasedLaunch(launch)"> {{launch.stats.accountsDuplicated | number}} </span>
                        <span ng-if="!vm.isAccountBasedLaunch(launch)"> {{launch.stats.contactsDuplicated | number}}</span>
                    </td>
                    <td class="green-text">{{launch.stats.recommendationsLaunched | number}}</td>
                    <td class="green-text">
                        <a href="/files/datafiles/sourcefile?fileName={{vm.getSourceFileName(launch)}}&filePath={{vm.getSourceFilePath(launch)}}&bucketName={{launch.integrationStatusMonitor.s3Bucket}}&Authorization={{vm.auth}}&TenantId={{vm.tenantId}}" ng-if="launch.integrationStatusMonitor && launch.integrationStatusMonitor.s3Bucket && launch.integrationStatusMonitor.sourceFile">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </a>

                        <span ng-class="{'indent-count': !launch.integrationStatusMonitor || !launch.integrationStatusMonitor.s3Bucket || !launch.integrationStatusMonitor.sourceFile}"> {{launch.stats.contactsWithinRecommendations | number}} </span>
                    </td>

                    <td ng-if="launch.launchState != 'PartialSync' && launch.launchState != 'SyncFailed'">
                        <span class="fa fa-check" ng-if="launch.launchState === 'Launched' || launch.launchState === 'Synced'"></span>
                        <span class="fa fa-spinner fa-pulse fw" ng-if="launch.launchState === 'Launching' || launch.launchState === 'Syncing'"></span>
                        <span class="fa fa-hourglass-start gray-text" ng-if="launch.launchState === 'Queued'"></span>
                        <span class="fa fa-exclamation-triangle red-text" ng-if="launch.launchState === 'Failed'"></span>
                        {{launch.launchState}}
                    </td>
                    <td ng-if="launch.launchState === 'PartialSync' || launch.launchState === 'SyncFailed'">
                        <span class="fa fa-exclamation-triangle orange-text" ng-if="launch.launchState === 'PartialSync'"></span>
                        <span ng-if="launch.launchState === 'PartialSync'">Partially Synced</span>


                        <span class="show-tooltip top delay" ng-if="launch.launchState === 'SyncFailed'">
                            <span class="fa fa-exclamation-triangle red-text" ng-if="launch.launchState === 'SyncFailed'"> </span>
                            <div class="tooltip_ small" ng-if="launch.integrationStatusMonitor && launch.integrationStatusMonitor.errorMessage">
                                <div class="cover">
                                    <p class="white">
                                        Error: {{launch.integrationStatusMonitor.errorMessage}}
                                    </p>
                                </div>
                            </div>
                        </span>
                        <span ng-if="launch.launchState === 'SyncFailed'">Sync Failed</span>
                    </td>
    			</tr>
    		</tbody>
            <tbody ng-if="vm.noFilteredData">
                <tr>
                    <td colspan="8">No campaign launches matches your criteria.</td>
                </tr>
            </tbody>
    	</table>

        <pd-pagination-controls
            current="vm.currentPage"
            max="max = vm.launchesCount / vm.pagesize"
            ng-if="vm.launchesCount > 10"
            class="pull-right">
        </pd-pagination-controls>

    </div><!-- End .content -->
    <div class="card-footer" ng-if="!vm.allPlaysHistory && !vm.alwaysOnCampaigns">
        <button 
            type="button"
            class="button blue-button pull-right"
            ng-disabled="vm.launching"
            ui-sref="home.playbook.launch({play_name:vm.currentPlay.name,status:(vm.launching?'Launching...':'ReLaunch')})">
            <span ng-show="!vm.launching">ReLaunch</span>
            <span ng-show="vm.launching">Launching...</span>
        </button>
    </div><!-- End .footer -->
</section>


