.playbook-launch-history {

	select {
		margin-bottom: 16px;
		height: 36px;
    	font-size: 16px;
	}

	.card-content, .card-footer {
		background: #fff;
		border-color: #ddd;
		border-style: solid;
		padding: 20px;
	}
	.card-content {
		border-width: 1px;
		border-radius: 4px;
		&.has-footer {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		&:after {
			display: table;
			content: "";
			clear: both;
		}
	}
	.card-footer {
		border-width: 0 1px 1px;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		&:after {
			display: table;
			content: "";
			clear: both;
		}
	}

	.chips-query-container {
		width: 300px;
		display: inline-block;
		.chips-container {
			margin-bottom: 0;
			.chip-container {
				padding: 7px;
			}
		}
		.text-container .query {
			padding: 6px;
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.table-metadata {
		float: left;
		margin-bottom: 8px;
	}
	.pagination {
		float: right;
	}
	h2, h3 {
		color: #fff;
		margin-bottom: 0;
		font-weight: normal
	}
	h2 {
		font-size: 20px;
		padding-left: 0 !important;
	}
	h3 {
		font-size: 12px;
		text-transform: uppercase;
	}
	table {
		thead th {
			font-size: 13px;
			white-space: nowrap;
		}
		thead th, tbody td {
			&:last-of-type {
				min-width: 100px;
			}
			&:nth-child(2) {
				min-width: 140px;
				max-width: 250px;
			}
			&:nth-child(3) {
				min-width: 50px;
				max-width: 150px;
			}
		}
	}
	i.fa.fa-download {
		font-size: 10px;
		color: black;
	}
	span {
		&.indent-count {
			margin-left: 18px;
		}
	}
}

.history-metadata {
	display: flex;
	margin-top: 14px;
	margin-bottom: 14px;
	background: #fff;
	li {
		width: 25%;
		border-color: #ddd;
		border-style: solid;
		border-width: 1px 0px;
		padding: 12px 16px;
		&:first-child {
			border-left-width: 1px;
		}
		&:nth-child(6) {
			border-left-width: 1px;
		}
		&:last-child {
			border-right-width: 1px;
		}
	}
	dt, dd {
		float: none;
		clear: none;
		text-align: left;
		width: 100%;
		margin: 0;
		line-height: 1;
	}
	dt {
		color: #9a9a9a;
		text-transform: uppercase;
		font-size: 12px;
		&.centered {
			padding: 12px;
		}
	}
	dd {
		font-size: 18px;
	}
}