section.export-jobs {
    .le-grid .le-header{
        border-top: 0;
    }
    .info-row {
        border-top: 0.5px solid rgba(0,0,0,0.22); 
        border-bottom: 0.5px solid rgba(0,0,0,0.22);
        font-size: 16px;
    }

    .le-row.export-row {
        border-top: 0.5px solid rgba(0,0,0,0.22); 
        border-bottom: 0.5px solid rgba(0,0,0,0.22);
    }

    .spinner-icon {
        padding: 2px;
        color: #F16A24;
    }

    .grid-footer {
        margin-top: 20px;
    }
}

.text-ellipsis {
    word-wrap: break-word;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
