<div data-ng-controller="AdminInfoController">
    <div class="summary blue-fire">
        <div class="pull-left"><a href="#" ng-click="onBackClicked()" class="model-admin-back-button"><i class="fa fa-angle-double-left"></i> {{ResourceUtility.getString('ADMIN_INFO_PAGE_BACK_TO_MODEL')}}</a></div>
        <h1>{{ResourceUtility.getString('ADMIN_INFO_PAGE_TITLE')}} - {{displayName}}</h1>
    </div>

    <div data-ng-show="loading">
        <div class="loader"> </div>
        <h2 class="text-center">{{ResourceUtility.getString('GENERAL_LOADING')}}</h2>
    </div>
    <section id="adminInfoContainer" class="model-details">
    </section>
</diV>