<section id="ModelRatingsHistoryView" class="model-ratings history container">

    <div class="row">
        <div class="ten columns offset-one">
            <ul class="tabs_">
                <li ui-sref="home.model.ratings({ modelId: '{{ vm.modelId | escape }}' })" ui-sref-opts="{reload: true}">Rating Setup</li>
                <li class="active">History</li>
            </ul>
            <ul 
                class="history-list">
                <li ng-repeat="
                    configuration in vm.scoringHistoryArray | 
                    orderBy: -timestamp
                    ">
                    <div class="chart-header clearfix">
                        <div class="list-data pull-left"><span ng-if="configuration.buckets[0].last_modified_by_user">Created by: {{configuration.buckets[0].last_modified_by_user}}</span></div>
                        <div class="list-data pull-right">Published on: {{configuration.buckets[0].creation_timestamp | date : 'MMM d, y h:mm:ss a'}}</div>
                    </div><!-- End .chart-header -->
                    <ul class="bucket-tiles published buckets-{{configuration.buckets.length}}">
                        <li ng-repeat="bucket in configuration.buckets">
                            <div class="bucket-label">{{bucket.bucket_name}}</div>
                            <dl>
                                <dt>Lift</dt>
                                <dd class="lift">{{vm.math.max(bucket.lift).toFixed(1);}}x</dd>
                                <dt>Score Range</dt>
                                <dd>{{bucket.left_bound_score}}-{{bucket.right_bound_score}}</dd>
                            </dl>
                        </li>
                    </ul><!-- End .bucket-tiles -->
                </li>
                <h4>Your ratings are available through <a ui-sref="home.model.jobs">file scoring</a> or API.</h4>
            </ul><!-- End .history -->
        </div><!-- End .twelve.columns -->
    </div><!-- End .row -->

</section>
