/*
Model Details
================================================================== */
.model-details .nav {
    width: 412px;
    margin: 0 auto;
    padding-top: 15px;
    border: 0;
}

.model-details .nav-tabs > li > a {
    line-height: 14px;
    padding: 10px 20px;
}

.model-details .nav li.active a {
    background: #fff;
    color: #333;
    border-color: #a5bbd4;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    /*padding-bottom: 11px;*/
}
.model-details .nav li:first-of-type a {
    border-width: 1px 0 0 1px;
}
.model-details .nav li:nth-child(2) a {
    border-width: 1px 0 0 0;
}
.model-details .nav li:last-of-type a {
    border-width: 1px 1px 0 0;
}
/*.model-details .nav li:nth-child(2) a {
    border-left: #fff solid 1px;
    border-right: #fff solid 1px;
}
.model-details .nav li:last-of-type.active a {
    border-width: 1px 1px 0 0;
}
.model-details .nav li:first-of-type.active a {
    border-width: 1px 0 0 1px;
}*/
.model-details .nav li:first-of-type a {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
}
.model-details .nav li:nth-child(2) a {
    border-left: #fff solid 1px;
    border-right: #fff solid 1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.model-details .nav li:last-of-type a {
    border-top-left-radius: 0;
    border-top-right-radius: 4px;   
}

.model-details .nav-tabs > li {
    font-family:'ProximaNova-Bold','Open Sans',sans-serif;
    margin-right: 0 !important;
}
    .model-details .nav-tabs > li.active > a {
        border-bottom: none;
    }
    .model-details .nav-tabs > li > a {
        background: #487bba;
        color: #fff;
        border-radius:0;
    }
        .model-details .nav-tabs > li > a:hover {
            background: #3888e8;
            color: #fff;
        }
        .model-details .nav-tabs > li.active > a:hover {
            background: #f5f5f5;
            color: #333;
        }


.model-details .tab-content {
    border-color: #a5bbd4;
    border-style: solid;
    border-width: 1px 0 0px;
}
.model-details .tab-header {
    border-bottom: #f2f2f2 solid 1px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family:'ProximaNova-Bold','Open Sans',sans-serif;
}
.tab-content h3 {
    text-transform: none;
}
.nav-tabs li {
    text-transform: uppercase;
}
.nav-tabs > li > a {
    margin-right: 0 !important;
}
.model-details .data-table {
    background: #fff;
    border: #c9d4e2 solid 1px;
    margin-top: 3em;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
}
    .model-details .data-table h2 {
        padding: 8px 13px;
        margin: 0;
        font-size: 1.25em;
        font-family:'ProximaNova-Bold','Open Sans',sans-serif;
    }
        .model-details .data-table.threshold-data h2 {
            text-align: center;
        }
    #scoring-leads .data-table {
        border: none;
    }
.model-details .page-title {
    padding-top: 0;
    position: relative;
    box-sizing: border-box;
    border-bottom: #a5bad5 solid 1px;
    -webkit-box-shadow: 0 1px 0 0 #d9e2eb;
       -moz-box-shadow: 0 1px 0 0 #d9e2eb;
            box-shadow: 0 1px 0 0 #d9e2eb;
}
.model-details .page-title .primary {
    padding: 0;   
    margin-bottom: 0;
    border-bottom: #d3d7da solid 1px;
}



    .model-details .page-title .back-button, .model-details .page-title dl {
        float: left;
    }
        .primary dl {
            margin-top: 13px;
        }
            .model-details .page-title dt {
                font-size: 10px;
                line-height: 10px;
                margin-bottom: 0;
            }
            .model-details .page-title .back-button {
                padding: 20px 50px 20px 0;
                background: url('/atlas/assets/images/bg_back_button.png') no-repeat left center;
                color: #999;
            }
                .model-details .page-title .back-button:hover {
                    background: url('/atlas/assets/images/bg_back_button_hover.png') no-repeat left center;
                }
            .model-details .page-title h1 {
                margin: 0;
                line-height: 27px;
                font-size: 28px;
                font-family:'ProximaNova-Bold','Open Sans',sans-serif;
            }
        .secondary dl {
            margin-top: 15px;
        }

        .tertiary dl {
            margin-top: 0;
        }

        .model-details .page-title .primary:after {
            display: table;
            content: "";
            clear: both;
        }
        
.secondary .wrapper:after, .tertiary .wrapper:after {
    display: table;
    content: "";
    clear: both;
}
.toggleDetails {
    float: right;
    text-transform: uppercase;
    padding: 4px 29px 0px;
    background: url('/atlas/assets/images/bg_more_button.jpg') no-repeat right center;
    color: #477cba;
    margin-top: 17px;
}
    .toggleDetails:hover {
        background: url('/atlas/assets/images/bg_more_button_hover.jpg') no-repeat right center;
        color:#3888e8;
    }
    .toggleDetails.less {
        background: url('/atlas/assets/images/bg_less_button.jpg') no-repeat right center;
    }
        .toggleDetails.less:hover {
            background: url('/atlas/assets/images/bg_less_button_hover.jpg') no-repeat right center;
        }
.meta-group {
    float: left;
    /*width: 30%;*/
    width: 33%;
    /*margin-right: 1em;*/
    padding-right: 1.5em;
    border-right: #ddd solid 1px;   
}
    .meta-group:nth-child(2), .meta-group:last-of-type {
        padding-left: 6em;
    }
    .meta-group:last-of-type {
        margin-right: 0;
        padding-right: 0;
        border-right: 0;
    }
    .secondary .meta-group:last-of-type {
        padding-left: 0;
    }
    .meta-group:after {
        display: table;
        content: "";
        clear: both;
    }
    .meta-group h3 {
        margin-top: 0;
        margin-bottom: 9px;
        font-family:'ProximaNova-Semibold','Open Sans',sans-serif;
        font-size: 14px;
    }
    .meta-group dl {
        float: left;
        /*margin-right: 1.25em;
        padding-right: 1.25em;*/
        margin-right: 1em;
        padding-right: 1em;
        border-right: #ddd solid 1px;
    }
        .meta-group dl:last-of-type {
            margin-right: 0;
            padding-right: 0;
            border-right: none;
        }
.tertiary {
    display: none;
}
    .tertiary .wrapper {
        border-top: #ddd solid 1px;
        margin-top: 17px;
        padding-top: 1em;
    }

.tab-header {
    font-family: 'ProximaNova-Bold';
}
.tab-header a.secondary {
    text-transform: uppercase;
    font-size: 0.85em;
}
#attributes h3 {
    text-align: center;
    font-family:'ProximaNova-Regular','Open Sans',sans-serif;
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 30px;
}
    #attributes .data:after {
        display: table;
        content: "";
        clear: both;
    }
    #attributes .data > div {
        float: left;
    }   
        #attributes .data > div#chart {
            width: 590px;
            text-align: center;
        }

            #chart span {
                color: #477cba;
                cursor: pointer;                
            }
.data .attributes h4 {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0.5em;
    border-bottom: #ddd solid 1px;
    text-align: left;
    font-family:'ProximaNova-Bold','Open Sans',sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.lattice-attributes {
    padding-right: 7px;
}
.marketo-attributes {
    padding-left: 7px;
}

.attributes.lattice-attributes h4 {
    text-align: right;
}
    .lattice-attributes a, .marketo-attributes a {
        text-align: right;
        color: #666;
        display: block;
        border-top: transparent solid 1px;
        border-bottom: #fff solid 1px;
        font-family:'ProximaNova-Regular','Open Sans',sans-serif;
        font-size: 14px;
    }
    .lattice-attributes a {
        padding: 7px 0 7px 7px;
    }
    .marketo-attributes a {
        padding: 7px 7px 7px 0;
        text-align: left;
    }
        .marketo-attributes a:after {
            clear: both;
            content: '';
            display: table;
        }
        .attributes a:hover {
            color: #747474;
            background: #e1eefd;
            border-top: #ddd solid 1px;
        }
    .attributes span {
        display: inline-block;
        color: #fff;
        width: 33px;
        height: 26px;
        vertical-align: middle;
        text-align: center;
        line-height: 2em;
        -webkit-border-radius: 4px; 
        -moz-border-radius: 4px; 
        border-radius: 4px;
        font-family:'ProximaNova-Bold','Open Sans',sans-serif;
    }
        .lattice-attributes span {
            margin-left: 1em;
        }
            .firmographics span {
                background: #85e7d7;
            }
            .growth-trends span {
                background: #0fb6e0;
            }
        .marketo-attributes span {
            margin-right: 1em;
            float: left;
        }
            .marketing-response span {
                background: #4095e1;
            }
            .other span {
                background: #fe864b;
            }

