<div class="messaging error-messaging" ng-if="$ctrl.showForgotPasswordError">
    <button id="close-button" type="button" class="close" ng-click="$ctrl.showForgotPasswordError = false;">x</button>
    <ico class="fa fa-warning"></ico>
    <span>{{$ctrl.forgotPasswordErrorMessage}}</span>
</div>
<div class="form-signin" ng-if="!$ctrl.resetPasswordSuccess">
    <div class="form-header">
        <h3 class="form-signin-heading">
            {{$ctrl.ResourceUtility.getString('FORGOT_PASSWORD_TITLE')}}
        </h3>
        <p>{{$ctrl.ResourceUtility.getString('FORGOT_PASSWORD_MESSAGE')}}</p>
    </div>

    <div class="form">
        <div class="form-group">
            <input type="text" 
                   class="form-control {{$ctrl.forgotPasswordUsernameInvalid ? 'error' : ''}}" 
                   placeholder="{{$ctrl.ResourceUtility.getString('LOGIN_USERNAME')}}"
                   autocomplete="off"
                   data-ng-model="$ctrl.forgotPasswordUsername"
                   data-ng-enter="$ctrl.forgotPasswordOkClick()"
                   autofocus>
        </div>
        <div class="form-actions">
            <button class="button orange-button" type="submit" data-ng-click="$ctrl.forgotPasswordOkClick($ctrl.forgotPasswordUsername)">{{$ctrl.ResourceUtility.getString('FORGOT_PASSWORD_SEND_EMAIL_BUTTON')}}</button>
            <div class="secondary-actions">
                <a href="#" class="btn btn-secondary" data-ng-click="$ctrl.cancelForgotPasswordClick($event)">{{$ctrl.ResourceUtility.getString('BUTTON_CANCEL_LABEL')}}</a>
            </div>
        </div>
    </div>
</div>

<!-- Forgot Password success -->
<div class="form-signin" ng-if="$ctrl.resetPasswordSuccess">
    <div class="form-header">
        <h3 class="form-signin-heading">{{ $ctrl.ResourceUtility.getString('FORGOT_PASSWORD_EMAIL_SENT_TITLE') }}</h3>
        <p><strong>{{ $ctrl.email }}</strong></p>
        <p>{{ $ctrl.ResourceUtility.getString('FORGOT_PASSWORD_EMAIL_SENT_BODY') }}</p>
    </div>
    <div class="form">
        <div class="form-group">
            <button class="button orange-button" data-ng-click="$ctrl.cancelForgotPasswordClick($event)">{{ $ctrl.ResourceUtility.getString('RETURN_TO_LOGIN') }}</button>
        </div>
    </div>
</div>