<div class="messaging error-messaging" data-ng-show="showForgotPasswordError">
    <button class="button link-button close-button" data-ng-click="showForgotPasswordError = false;"><i class="fa fa-times"></i></button>
    <span><i class="fa fa-exclamation-circle"></i> {{forgotPasswordErrorMessage}}</span>
</div>
<div class="form-signin" ng-if="!resetPasswordSuccess">
    <div class="form-header">
        <h3 class="form-signin-heading">
            {{ResourceUtility.getString('FORGOT_PASSWORD_TITLE')}}
        </h3>
        <p>{{ResourceUtility.getString('FORGOT_PASSWORD_MESSAGE')}}</p>
    </div>

    <div class="form">
        <div class="form-group">
            <label>{{ResourceUtility.getString('LOGIN_USERNAME')}}</label>
            <input type="text" 
                   class="form-control {{forgotPasswordUsernameInvalid ? 'error' : ''}}" 
                   placeholder="{{ResourceUtility.getString('LOGIN_USERNAME')}}"
                   autocomplete="off"
                   data-ng-model="forgotPasswordUsername"
                   data-ng-enter="forgotPasswordOkClick()"
                   autofocus>
        </div>
        <div class="form-actions">
            <button class="button orange-button" type="submit" data-ng-click="forgotPasswordOkClick(forgotPasswordUsername)">{{ResourceUtility.getString('FORGOT_PASSWORD_SEND_EMAIL_BUTTON')}}</button>
            <div class="secondary-actions">
                <a href="#" class="btn btn-secondary" data-ng-click="cancelForgotPasswordClick($event)">{{ResourceUtility.getString('BUTTON_CANCEL_LABEL')}}</a>
            </div>
        </div>
    </div>
</div>

<!-- Forgot Password success -->
<div class="form-signin" ng-if="resetPasswordSuccess">
    <div class="form-header">
        <h3 class="form-signin-heading">{{ ResourceUtility.getString('FORGOT_PASSWORD_EMAIL_SENT_TITLE') }}</h3>
        <p><strong>{{ email }}</strong></p>
        <p>{{ ResourceUtility.getString('FORGOT_PASSWORD_EMAIL_SENT_BODY') }}</p>
    </div>
    <div class="form">
        <div class="form-group">
            <button class="button orange-button" data-ng-click="cancelForgotPasswordClick($event)">{{ ResourceUtility.getString('RETURN_TO_LOGIN') }}</button>
        </div>
    </div>
</div>