.create-pipeline-main > * {
          transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.pipeline-list,
.pipeline-step-list {
  font-size: 13px;
  line-height: 24px;
}

.pipeline-list {
  padding-left: 1em;
  overflow-y: auto;
  border-right: 1px solid #ccc;

  .selected {
    background-color: #f5f5f5;
  }
}

.pipeline-step-list {
  padding: 0;

  li {
    position: relative;
    padding-right: 100px;
    text-overflow: ellipsis;
    overflow: hidden;

    &:nth-child(even) {
      background-color: #f5f5f5;
    }
  }
}

.list-bullet {
  padding-right: 20px;
}

.pipeline-editor {
  td {
    min-width: 32px;
    text-align: center;
  }

  i {
    cursor: pointer;
    color: #3d7fcd;

    & :hover {
      opacity: 0.8;
    }
  }
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.chart-container {
  display: block;
  width: 100%;
  height: 240px;
  margin-bottom: 32px;
}

.chart-title {
  text-anchor: middle;
  font-size: 16px;
}

.chart-hover-line {
  stroke-width: 1px;
  stroke: #ccc;
}

.chart-tooltip {
  display: inline;
  position: absolute;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgba(255,255,255,0.6);
  padding: 3px;
  font-weight: bold;
  user-select: none;
}

.error {
  color: red;
}

.success {
  color: green;
}

.align-right {
  position: absolute;
  right: 0;
  top: 0;
}

.json-panel {
  position: relative;
  word-wrap: break-word;

  pre {
    resize: both;
  }

  i {
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 18px;
  }
}
