<style>
    .container-bar-chart {
        display: flex;
        flex-direction: row;
    }

    .widget {
        flex: 2;
    }

    .controllers {
        min-width: 350px;
        border: 1px solid gray;
        margin-left: 4px;
        padding-left: 4px;
        display: flex;
        flex-direction: column;
    }
</style>

<div class="container-bar-chart">
    <le-bar-chart ng-if="$ctrl.draw" class="widget" bktlist="$ctrl.getData()" callback="$ctrl.clicked()" config="$ctrl.getConfig()"
        statcount="0">
    </le-bar-chart>
    <form class="controllers">
        <p>Pick a Config and Click 'Redraw':</p>
        <div>
            <input type="radio" ng-model="$ctrl.type" value="normal">Normal
            <input type="radio" ng-model="$ctrl.type" value="long">Long
            <input type="radio" ng-model="$ctrl.type" value="bug">Bug
        </div>
        <button ng-click="$ctrl.reset()" style="width: 80px; margin-top: 20px;">Redraw</button>
    </form>
</div>