section.ratingsengine {
    .ratingengine-summary {
        .header {
            h2 {
                background-image: url('/assets/images/ico-ratings.png');
            }
        }
        .content-body {
            .list {
                .item {
                    ul {
                        & > li {
                            &.accounts,
                            &.contacts {
                                @include flex-item(0 1 auto);
                                text-align: right;
                            }
                        }
                    }
                    &[disabled] {
                        pointer-events: none;
                        opacity: .5;
                    }
                }
            }
        }
    }
}