<div id="loginMainView">
    <div class="login-body">
        <div class="container row">

            <div class="columns two offset-three logo-area">
                <img src="/login/assets/images/logo_login.png" alt="Lattice">
                <ul class="user-info" *ngIf="login.username">
                    <li class="label">username</li>
                    <li class="value">{{login.username}}</li>
                    <li class="label">
                        <span 
                            uiSref="app.login.update" 
                            *ngIf="state.current.name != 'app.login.update'" 
                            class="default">[change]</span>
                        password
                    </li>
                    <li class="value" *ngIf="login.expireDays > 90">expires on {{login.expires | date:'MM/dd/yyyy'}}</li>
                    <li class="value" *ngIf="login.expireDays <= 90">expires in {{login.expireDays}} days</li>
                    <li class="label" *ngIf="login.tenant">
                        <span 
                            uiSref="app.login.tenants" 
                            *ngIf="state.current.name != 'app.login.tenants'" 
                            class="default">[change]</span>
                        current tenant
                    </li>
                    <li class="value" *ngIf="login.tenant">{{login.tenant}}</li>
                    
                    <li class="value" *ngIf="login.username && !login.tenant && state.current.name != 'app.login.tenants'">
                        <a uiSref="app.login.tenants" class="default">
                            Choose a Tenant
                        </a>
                    </li>
                    
                    <li class="value" *ngIf="login.tenant">
                        <a href="javascript:void(0)" (click)="clickModelList()" class="default">
                            View Models
                        </a>
                    </li>

                    <li *ngIf="login.username">
                        <button (click)="clickLogout()" class="button white-button block-button">
                            Sign Out
                        </button>
                    </li>

                    <li *ngIf="!login.username">
                        <button uiSref="app.login.form" class="button orange-button block-button">
                            Sign In
                        </button>
                    </li>
                </ul>
            </div><!-- End .columns.five -->

            <div class="columns five login-content">

                <ui-view name="content"></ui-view>
                
            </div><!-- End .columns.five -->

        </div><!-- End .container -->
    </div><!-- End .login-body -->        
</div><!-- End #loginMainView -->
<ui-view name="modal" class="modal-container"></ui-view>