global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  daemon

defaults
  log   global
  mode   http

  # logs which servers requests go to, plus current connections and a whole lot of other stuff 
  option   httplog
  option   dontlognull
  retries   3
  option redispatch
  maxconn   2000
  contimeout   5000
  clitimeout   50000
  srvtimeout   50000

  # check webservers for health, taking them out of the queue as necessary 
  option httpchk HEAD / HTTP/1.1\r\nHost:localhost

  balance roundrobin
  option forwardfor
  option http-server-close

listen stats 
  bind *:80
  stats enable
  stats scope schema-registry
  stats scope schema-registry-nodes
  stats scope kafka-rest
  stats scope kafka-rest-nodes
  stats realm Haproxy\ Statistics
  stats uri /

frontend schema-registry
  bind *:9022
  default_backend schema-registry-nodes
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }

backend schema-registry-nodes
#{{SR_HOSTS}}

frontend kafka-rest
  bind *:9023
  default_backend kafka-rest-nodes
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }

backend kafka-rest-nodes
   mode http
#{{KR_HOSTS}}
