

/*
Search
============================================================ */
.search {
  display: inline-block;
  button, input {
    display: inline-block;
  }
  input {
    width: 140px;
    margin-left: -4px;
    padding: 7px 10px 12px;
  }
}

/*
Buttons
============================================================ */
button.button, a.button, .button {
	display: inline-block;
  padding: 0.8em;
  margin-bottom: 0;
  font-family: 'ProximaNova-Regular',Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  color: $pearl-white;
  &.link-button {
  	display: inline;
  	padding: 0;
  	margin: 0;
  	border: none;
  	background: none;
  }
  &.close-button {
  	float: right;
  }
  &.default-button {
    border: $black-titanium solid 1px;
  }
  &.blue-button {
		background-color: $saphire;
		&:hover {
			background-color: $saphire-two;
		}
		&:active {
			background-color: $saphire-three;
		}
	}
  &.orange-button {
		background-color: $amber;
		&:hover {
			background-color: $amber-two;
		}
		&:active {
			background-color: $amber-three;
		}
	}
  &.white-button {
		color: $black-titanium;
		background-color: $pearl-white;
		border-color: $silver;
		&:hover {
			background-color: $white-gold;
		}
		&:active {
			background-color: $palladium;
		}
	}
  &.gray-button {
		color: $silver;
		background-color: $black-titanium;
		&:hover {
			background-color: $onyx;
		}
		&:active {
			background-color: $jet;
		}
	}
  &.block-button {
    display: block;
    width: 100%;
  }
	@include media(">medium") {
    display: inline-block;
    padding: 0.75em 3em;
    &.icon-button {
    	padding: 0.75em 1.5em;
    }
    &.dropdown-toggle {
        padding: 0.75em;
    }
  }
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  &.blue-button, &.orange-button,
  &.white-button, &.gray-button {
    cursor: default;
    border: #e2e2e4 solid 1px;
    background-color: #fff;
    color: #c2c2c2;
    &:hover {
      background-color: #fff;
    }
    &:active {
      background-color: #fff;
    }
  }
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}



.button-group,
.button-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.button-group > .button,
.button-group-vertical > .button {
  position: relative;
  float: left;
}
.button-group > .button:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.button-group > .button:first-child {
  margin-left: 0;
}
.button-group > .button:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.button-group > .button:last-child:not(:first-child),
.button-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.button-group > .button-group {
  float: left;
}
.button-group > .button-group:not(:first-child):not(:last-child) > .button {
  border-radius: 0;
}
.button-group > .button-group:first-child:not(:last-child) > .button:last-child,
.button-group > .button-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.button-group > .button-group:last-child:not(:first-child) > .button:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.button-group .dropdown-toggle:active,
.button-group.open .dropdown-toggle {
  outline: 0;
}
.button-group > .button + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}
.button-group > .button-lg + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}
.button-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.button-group.open .dropdown-toggle.button-link {
  -webkit-box-shadow: none;
  box-shadow: none;
}





/*
Angled Buttons

Use this structure for angled buttons:
<a class="button angled-button">
  <span>Create a model</span>
</a>
============================================================ */
.button.angled-button {
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(20deg);
    -ms-transform:skewX(20deg);
    -webkit-transform:skewX(20deg);
  text-transform: uppercase;
  padding: 10px 30px 8px;
  span {
    display: inline-block;
    transform: skewX(-20deg);
    -ms-transform:skewX(-20deg);
    -webkit-transform:skewX(-20deg);
    color: #fff;
    letter-spacing: 2px;
  }
  &.active {
    background: rgba(255, 255, 255, 1);
    span {
      color: #333;
    }
  }
}
.create-model-summary .button.angled-button:first-of-type {
  padding-left: 50px;
  margin-left: -20px;
}



