

/*
Search
============================================================ */
.search {
  display: inline-block;
  button, input {
    display: inline-block;
  }
  input {
    width: 140px;
    margin-left: -4px;
    padding: 7px 10px 12px;
  }
}

/*
Buttons
============================================================ */
button.button, a.button, .button {
	display: inline-block;
  padding: 0.8em;
  margin-bottom: 0;
  font-family: 'ProximaNova-Regular',Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  color: $pearl-white;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;
  
  &.link-button {
  	display: inline;
  	padding: 0;
  	margin: 0;
  	border: none;
  	background: none;
  }
  &.close-button {
  	float: right;
  }
  &.default-button {
    border: $black-titanium solid 1px;
  }
  &.blue-button {
		background-color: $saphire;
		&:hover {
			background-color: $saphire-two;
		}
		&:active {
			background-color: $saphire-three;
		}
	}
  &.orange-button {
		background-color: $amber;
		&:hover {
			background-color: $amber-two;
      color: $pearl-white;
		}
		&:active {
			background-color: $amber-three;
		}
    &:focus {
      color: $pearl-white; 
    }
	}
  &.white-button {
		color: $black-titanium;
		background-color: $pearl-white;
		border-color: $silver;
		&:hover {
			background-color: $white-gold;
		}
		&:active {
			background-color: $palladium;
		}
	}
  &.gray-button {
		color: $silver;
		background-color: $black-titanium;
		&:hover {
			background-color: $onyx;
		}
		&:active {
			background-color: $jet;
		}
	}
  &.block-button {
    display: block;
    width: 100%;
  }
	@include media(">medium") {
    display: inline-block;
    padding: 0.85em 3em 0.8em;
    &.icon-button {
    	padding: 0.75em 1.5em;
    }
    &.dropdown-toggle {
        padding: 0.75em;
    }
  }
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  &.blue-button, &.orange-button,
  &.white-button, &.gray-button {
    cursor: default;
    border: #b7b7b7 solid 1px;
    background-color: #e7e7e7;
    color: #b7b7b7;
    &:hover {
      background-color: #e7e7e7;
    }
    &:active {
      background-color: #e7e7e7;
    }
  }
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}



.button-group,
.button-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.button-group > .button,
.button-group-vertical > .button {
  position: relative;
  float: left;
}
.button-group > .button:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.button-group > .button:first-child {
  margin-left: 0;
}
.button-group > .button:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.button-group > .button:last-child:not(:first-child),
.button-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.button-group > .button-group {
  float: left;
}
.button-group > .button-group:not(:first-child):not(:last-child) > .button {
  border-radius: 0;
}
.button-group > .button-group:first-child:not(:last-child) > .button:last-child,
.button-group > .button-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.button-group > .button-group:last-child:not(:first-child) > .button:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.button-group .dropdown-toggle:active,
.button-group.open .dropdown-toggle {
  outline: 0;
}
.button-group > .button + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}
.button-group > .button-lg + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}
.button-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.button-group.open .dropdown-toggle.button-link {
  -webkit-box-shadow: none;
  box-shadow: none;
}





/*
Angled Buttons

Use this structure for angled buttons:
<a class="button angled-button">
  <span>Create a model</span>
</a>
============================================================ */
.button.angled-button {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;         
  margin-right: 8px;
  margin-bottom: 0;
  width: 169px;
  padding: 0;

  &:before, &:after {
    content: "";
    position: absolute;
    display: block;
    background: #3d6590;
   
    width: 90px;
    height: 100%;
    top: 0;
    z-index: 1;
    
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    transform-origin: bottom left;
  }
  &:before {
    left: -0.25em;
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    transform: skewX(20deg);
    border-right: none;
  }
  &:after {  
    right: -0.25em;
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    transform: skewX(20deg);
    border-left: none;
  }
  a {
    display: inline-block;
    padding: 11px 24px 11px 0;
    position: relative;
    z-index: 2;
  }
  span {
    color: #fff;
  }
  &.active {
    margin-bottom: -2px;
    &:before, &:after {
      background: #fff;
    }
    &:before {
      left: 0;
      -webkit-transform: none;
      -moz-transform: none;
      transform: none;
      border-right: none;
    }
    a {
      background: #fff;
    }
    span {
      color: #333;
    }
  }
  &.active:nth-child(2):before {
      width: 39px;
      margin-left: -16px;
  }
  &.active:nth-child(3):before {
      width: 39px;
      margin-left: -12px;
  }
}
.create-model-summary .button.angled-button:first-of-type {
  padding-left: 50px;
  margin-left: -20px;
}



