
/* 
Logo
==================================================== */
.logo {
  display: inline-block;
  width: 100px;
  margin: 20px 0;
  opacity: 0.7;
  filter: alpha(opacity=70);
  img {
    width: 100%;
  }
}
.no-nav-logo {
  width: 110px;
  margin-top: 12px;
}
.open-nav .no-nav-logo {
  display: none;
}


/*
Main Content & Page Header
=================================================== */
.page-header {
	text-align: center;
}
.main-content {
	padding-bottom: 8em;
}

/* 
Page Summary / Sub-Nav Headers
==================================================== */
.summary {
  padding: 40px 0;
  text-align: center;
  background: $palladium;
  &.blue-steel, &.blue-fire {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    h1, h2, h3, h4, p {
      color: #fff;
      &.summary-title {
        color: #222;
      }
    }
    .black-summary-list.stats h3.summary-title {
      color: #fff;
      text-align: left;
    }
  }
  &.blue-steel {
    background-image: url("../images/bkg-blue-steel.jpg");
  }
  &.blue-fire{
    background-image: url("../images/bkg-blue-fire.jpg");
  }
  .twelve .summary-list {
  	float: left;
  	width: 100%;
  	margin-bottom: 4px;
  	@include media(">small") {
  		width: calc(50% - 4px);
  		&:nth-child(odd) {
  			margin-right: 4px;
  		}
  	}
  	@include media(">xlarge") {
  		width: calc(25% - 4px);
  		&:nth-child(-n+3) {
  			margin-right: 4px;
  		}
  	}
  }
}


/* 
Toggle UI Components
====================================================== */
.toggle {
  & > ul, & > div {
    display: none;
  }
  &.open {
    & > ul, & > div {
      display: block;
    }
  }
}


/* 
Basic Lists
========================================================= */
.unordered-list, .ordered-list { 
	margin-left: 20px; 
}
.unordered-list { 
	list-style-type: disc; 
}
.ordered-list { 
	list-style: decimal; 
}


/* 
Summary Cards
====================================================== */
.summary .summary-list, .summary .stats {
	padding: 20px;
	background: rgba(255, 255, 255, 0.9);
	color: $dark-gray;
	&.black-summary-list {
		background: rgba(0, 0, 0, 0.5);
		color: #fff;
	}
}

.summary-list {
	padding: 20px;
	background: rgba(255, 255, 255, 0.9);
	color: $dark-gray;
	min-height: 180px;
}
.gray-summary-list {
	background: $white-gold;
}

.summary-title {
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 8px;
}
.summary-list dt {
	@include media(">large") {
		float: left;
		clear: left;
		text-align: left;
		width: 60%;
	}
}
.summary-list dt:after {
	content: ":";
}
.summary-list dd {
	a {
		color: #497eb8;
	}
	@include media(">medium") {
		margin: 0 0 0 60%;
		padding: 0;
		text-align: right;
	}
}


/* 
Statistic Displays
====================================================== */
.stats-group:after {
  display: table;
  content: "";
  clear: both;
}
.stats-group dl {
	border-left: #999 solid 1px;
	padding: 0 0.75em;
	float: left;
}
.four .stats-group dl, .two .stats-group dl {
  padding: 0 0.5em
}
.stats-group dl:first-of-type {
	border-left: 0;
	padding-left: 0;
}
.stats dt, .stats dd {
	text-align: left;
}
.stats dt {
	text-transform: uppercase;
	font-size: 0.8em;
	margin-bottom: 2px;
}
.stats dd {
	font-size: 2em;
	line-height: 1;
}
.black-summary-list.stats dd {
  color: #fff;
  font-size: 1em;
}



/* 
sdjcduisnio sdniosdn oisn jkncsjkn dsjk ndsjkn jkcsd
sd hhusbdjk bdhjks jkcsb jk bkj
csdjh k cbjkjkb jk bcs
====================================================== */




