/*
Icons
======================================================== */
.ico {
	display: inline-block;
	width: 12px;
	height: 12px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	&.ico-small {
		width: 12px;
	}
	&.ico-search {
		background-color: $jet;
		-webkit-mask: url("/assets/images/ico-search.svg");
		mask: url("/assets/images/ico-search.svg");
	}
	&.ico-filter {
		background-color: $jet;
		-webkit-mask: url("/assets/images/ico-filter.svg");
		mask: url("/assets/images/ico-filter.svg");
	}
	&.ico-sort {
		background-color: $jet;
		-webkit-mask: url("/assets/images/ico-sort.svg");
		mask: url("/assets/images/ico-sort.svg");
	}
	&.ico-grid {
		background-color: $jet;
		-webkit-mask: url("/assets/images/ico-grid.svg");
		mask: url("/assets/images/ico-grid.svg");
	}
	&.ico-list {
		background-color: $jet;
		-webkit-mask: url("/assets/images/ico-list.svg");
		mask: url("/assets/images/ico-list.svg");
	}
	&.ico-fingerprint {
		background-color: $pearl-white;
		-webkit-mask: url("/assets/images/ico-fingerprint.svg");
		mask: url("/assets/images/ico-fingerprint.svg");
		height: 28px !important;
    	width: 20px !important;
	}
	&.ico-bullseye {
		background-color: $pearl-white;
		-webkit-mask: url("/assets/images/ico-bullseye.svg");
		mask: url("/assets/images/ico-bullseye.svg");
	}
	&.ico-back {
		background-color: transparent;
		&:after {
			font-size: 21px;
			content: '\f053';
			display: block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			margin-left: -2px;
		}
	}
	&.ico-model {
		background-color: $pearl-white;
		-webkit-mask-image: url("/assets/images/ico-model.svg");
		mask: url("/assets/images/ico-model.svg");
	}
	&.ico-ratings {
		background-color: transparent !important;
		background-image: url("/assets/images/ico-ratings-navigation.png");
		background-size: 16px;
		&.ico-black {
			background-color: transparent;
			background-image: url("/assets/images/ico-ratings-header.png");
		}
	}
	&.ico-campaign {
		background-color: transparent !important;
		background-image: url("/assets/images/ico-campaign-white.png");
		background-size: 16px;
		&.ico-black {
			background-color: transparent;
			background-image: url("/assets/images/ico-campaign-dark.png");
		}
	}
	&.ico-segments {
		background-color: transparent !important;
		background-image: url("/assets/images/ico-segments-white.png");
		background-size: 18px;
	}
	&.ico-analysis {
		background-color: transparent !important;
		background-image: url("/assets/images/ico-analysis-white.png");
		background-size: 18px;
	}
	&.ico-notes {
		background-color: transparent !important;
		background-image: url("/assets/images/ico-notes.png");
		background-size: 18px;
	}
	&.ico-contact-us {
		background-color: transparent !important;
        position: relative;
        &:before {
            @include font-awesome-inline("\f003");
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);

        }
	}
	&.ico-marketo-apikey {
		-webkit-mask-image: url("/assets/images/ico-marketo-apikey.svg");
		mask: url("/assets/images/ico-marketo-apikey.svg");
	}
	&.ico-marketo-models {
		-webkit-mask-image: url("/assets/images/ico-marketo-models.svg");
		mask: url("/assets/images/ico-marketo-models.svg");
	}
	&.ico-cog {
		background-color: $pearl-white;
		-webkit-mask-image: url("/assets/images/ico-cog.svg");
		mask: url("/assets/images/ico-cog.svg");
	}
	&.ico-step-open {
		background-image: url("/assets/images/ico-step-open.svg");
	}
	&.ico-step-current {
		background-image: url("/assets/images/ico-step-current.svg");
	}
	&.ico-step-checked {
		background-image: url("/assets/images/ico-step-checked.svg");
	}
	&.ico-user {
		background-color: $pearl-white;
		-webkit-mask-image: url("/assets/images/ico-user.svg");
		mask: url("/assets/images/ico-user.svg");
	}
	&.ico-user-card {
		background-color: $pearl-white;
		-webkit-mask-image: url("/assets/images/ico-user-card.svg");
		mask: url("/assets/images/ico-user-card.svg");
	}
	&.ico-industry {
		background-color: $pearl-white;
		-webkit-mask: url("/assets/images/ico-industry.svg");
		mask: url("/assets/images/ico-industry.svg");
	}
	&.ico-locations {
		background-color: $pearl-white;
		-webkit-mask: url("/assets/images/ico-locations.svg");
		mask: url("/assets/images/ico-locations.svg");
	}
	&.ico-tmb-user {
		background-color: $pearl-white;
		-webkit-mask: url("/assets/images/ico-employee-range.svg");
		mask: url("/assets/images/ico-user.svg");
	}
	&.ico-tmb-chart {
		background-color: $pearl-white;
		-webkit-mask: url("/assets/images/ico-revenue-range.svg");
		mask: url("/assets/images/ico-chart.svg");
	}
	&.ico-tech-profile {
		background-color: $pearl-white;
		-webkit-mask: url("/assets/images/ico-web.svg");
		mask: url("/assets/images/ico-web.svg");
	}
	&.ico-web {
		background-color: $pearl-white;
		-webkit-mask: url("/assets/images/ico-web.svg");
		mask: url("/assets/images/ico-web.svg");
	}
	&.ico-chip {
		background-color: $pearl-white;
		-webkit-mask: url("/assets/images/ico-chip.svg");
		mask: url("/assets/images/ico-chip.svg");
	}
	&.ico-history {
		background-color: $pearl-white;
		-webkit-mask-image: url("/assets/images/ico-model-history-10.svg");
		mask: url("/assets/images/ico-model-history-10.svg");
	}
	&.ico-enrichment {
		background-color: $pearl-white;
		-webkit-mask-image: url("/assets/images/ico-enrichment.svg");
		mask: url("/assets/images/ico-enrichment.svg");
	}
	&.ico-datatable {
		background-color: $pearl-white;
		-webkit-mask-image: url("/assets/images/ico-datatable.svg");
		mask: url("/assets/images/ico-datatable.svg");
	}
	&.ico-performance {
		background-color: $pearl-white;
		-webkit-mask-image: url("/assets/images/ico-performance.svg");
		mask: url("/assets/images/ico-performance.svg");
	}
	&.ico-alerts {
		-webkit-mask-image: url("/assets/images/ico-alerts.svg");
		mask: url("/assets/images/ico-alerts.svg");
	}
	&.ico-scoring {
		background-color: $pearl-white;
		-webkit-mask-image: url("/assets/images/ico-scoring.svg");
		mask: url("/assets/images/ico-scoring.svg");
	}
	&.ico-refine {
		background-color: $pearl-white;
		-webkit-mask-image: url("/assets/images/ico-refine.svg");
		mask: url("/assets/images/ico-refine.svg");
	}
	&.ico-remodel {
		background-color: $pearl-white;
		-webkit-mask-image: url("/assets/images/ico-remodel.svg");
		mask: url("/assets/images/ico-remodel.svg");
	}
	&.ico-remodel-large {
		-webkit-mask-image: url("/assets/images/ico-remodel-large.svg");
		mask: url("/assets/images/ico-remodel-large.svg");
	}
	&.ico-attributes {
		background-color: $pearl-white;
		-webkit-mask-image: url("/assets/images/ico-attributes.svg");
		mask: url("/assets/images/ico-attributes.svg");
	}
	&.ico-leads {
		background-color: $pearl-white;
		-webkit-mask-image: url("/assets/images/ico-leads.svg");
		mask: url("/assets/images/ico-leads.svg");
	}
	&.ico-marketo {
		background-color: $pearl-white;
		-webkit-mask-image: url("/assets/images/ico-marketo.svg");
		mask: url("/assets/images/ico-marketo.svg");
	}
	&.ico-eloqua {
		background-color: $pearl-white;
		-webkit-mask-image: url("/assets/images/ico-app-settings.svg");
		mask: url("/assets/images/ico-app-settings.svg");
	}
	&.ico-salesforce {
		background-color: $pearl-white;
		-webkit-mask-image: url("/assets/images/ico-salesforce.svg");
		mask: url("/assets/images/ico-salesforce.svg");
	}
	&.ico-api-console {
		background-color: $pearl-white;
		-webkit-mask-image: url("/assets/images/ico-api-console.svg");
		mask: url("/assets/images/ico-api-console.svg");
	}
    &.ico-arrow-open {
		-webkit-mask-image: url("/assets/images/ico-arrow-open.svg");
		mask: url("/assets/images/ico-arrow-open.svg");
    }
    &.ico-attr-firmographics {
		-webkit-mask-image: url("/assets/images/enrichments/ico-attr-firmographics.svg");
		mask: url("/assets/images/enrichments/ico-attr-firmographics.svg");
    }
    &.ico-attr-geography {
		-webkit-mask-image: url("/assets/images/enrichments/ico-attr-geography.svg");
		mask: url("/assets/images/enrichments/ico-attr-geography.svg");
    }
    &.ico-attr-growth-trends {
		-webkit-mask-image: url("/assets/images/enrichments/ico-attr-growth-trends.svg");
		mask: url("/assets/images/enrichments/ico-attr-growth-trends.svg");
    }
    &.ico-attr-industry {
		-webkit-mask-image: url("/assets/images/enrichments/ico-attr-industry.svg");
		mask: url("/assets/images/enrichments/ico-attr-industry.svg");
    }
    &.ico-attr-intent {
		-webkit-mask-image: url("/assets/images/enrichments/ico-attr-intent.svg");
		mask: url("/assets/images/enrichments/ico-attr-intent.svg");
    }
    &.ico-attr-lead-information {
		-webkit-mask-image: url("/assets/images/enrichments/ico-attr-lead-information.svg");
		mask: url("/assets/images/enrichments/ico-attr-lead-information.svg");
    }
    &.ico-attr-online-presence {
		-webkit-mask-image: url("/assets/images/enrichments/ico-attr-online-presence.svg");
		mask: url("/assets/images/enrichments/ico-attr-online-presence.svg");
    }
    &.ico-attr-technology-profile {
		-webkit-mask-image: url("/assets/images/enrichments/ico-attr-technology-profile.svg");
		mask: url("/assets/images/enrichments/ico-attr-technology-profile.svg");
    }
    &.ico-attr-website-keywords {
		-webkit-mask-image: url("/assets/images/enrichments/ico-attr-website-keywords.svg");
		mask: url("/assets/images/enrichments/ico-attr-website-keywords.svg");
    }
    &.ico-attr-website-profile {
		-webkit-mask-image: url("/assets/images/enrichments/ico-attr-website-profile.svg");
		mask: url("/assets/images/enrichments/ico-attr-website-profile.svg");
    }
    &.ico-lattice-dots {
    	height: 15px;
    	width: 14px;
    	opacity: .5;
    	background: url(/assets/images/ico-lattice-dots.png) no-repeat center center;
    }
	&.ico-light-grey,
	&.ico-light-gray {
		background-color: #b3b5b8;
	}
	&.ico-black {
		background-color: #222;
	}
	&.ico-white {
		background-color: $pearl-white;
	}
	&.ico-jet {
		background-color: $jet;
	}
	&.ico-saphire {
		background-color: $saphire;
	}
	&.ico-ruby {
		background-color: $ruby;
	}
	&.ico-amber {
		background-color: $amber;
	}
	&.ico-gold {
		background-color: $gold;
	}
	&.ico-jade {
		background-color: $jade;
	}
	&.ico-amethyst {
		background-color: $amethyst;
	}
}
.no-cssmask {
	.ico, .menu .active .ico {
		background-color: transparent;
	}
	.ico {
		-webkit-mask-image:  none;
		mask: none; // added to make debuging easier, remove if you see issues with svg masks moving forward. - ben2
		&.ico-search {
			background-image: url("/assets/images/ico-search.png");
		}
		&.ico-filter {
			background-image: url("/assets/images/ico-filter.png");
		}
		&.ico-sort {
			background-image: url("/assets/images/ico-sort.png");
		}
		&.ico-grid {
			background-image: url("/assets/images/ico-grid.png");
		}
		&.ico-list {
			background-image: url("/assets/images/ico-list.png");
		}
		&.ico-fingerprint {
			background-image: url("/assets/images/ico-fingerprint.png");
		}
		&.ico-bullseye {
			background-image: url("/assets/images/ico-bullseye.png");
		}
		&.ico-model {
			background-image: url("/assets/images/ico-model.png");
			&.ico-black {
				background-image: url("/assets/images/ico-model-black.png");
			}
		}
		&.ico-campaign {
			background-image: url("/assets/images/ico-campaign-white.png");
			&.ico-black {
				background-image: url("/assets/images/ico-campaign-black.png");
			}
		}
		&.ico-cog {
			background-image: url("/assets/images/ico-cog.png");
			background-size: 20px;
			&.ico-black {
				background-image: url("/assets/images/ico-cog-black.png");
                background-color: transparent;
			}
		}
		&.ico-step-open {
			background-image: url("/assets/images/ico-step-open.png");
		}
		&.ico-step-current {
			background-image: url("/assets/images/ico-step-current.png");
		}
		&.ico-step-checked {
			background-image: url("/assets/images/ico-step-checked.png");
		}
		&.ico-user {
			background-image: url("/assets/images/ico-user.png");
			&.ico-black {
				background-image: url("/assets/images/ico-user-black.png");
			}
		}
		&.ico-user-card {
			background-image: url("/assets/images/ico-user-card.png");
		}
		&.ico-industry {
			background-image: url("/assets/images/ico-industry.png");
		}
		&.ico-locations {
			background-image: url("/assets/images/ico-locations.png");
		}
		&.ico-alerts {
			background-image: url("/assets/images/ico-alerts.png");
		}
		&.ico-scoring {
			background-image: url("/assets/images/ico-scoring.png");
		}
		&.ico-refine {
			background-image: url("/assets/images/ico-refine.png");
		}
		&.ico-remodel, &.ico-remodel-large {
			background-image: url("/assets/images/ico-remodel.png");
			&.ico-black {
				background-image: url("/assets/images/ico-remodel-black.png");
			}
		}
		&.ico-marketo-apikey {
			background-image: url("/assets/images/ico-marketo-apikey.png");
			background-size: 20px;
		}
		&.ico-marketo-models {
			background-image: url("/assets/images/ico-marketo-models.png");
			background-size: 20px;
		}
		&.ico-performance {
			background-image: url("/assets/images/ico-performance.png");
		}
		&.ico-tmb-user {
			background-image: url("/assets/images/ico-employee-range.png");
		}
		&.ico-tmb-chart {
			background-image: url("/assets/images/ico-revenue-range.png");
		}
		&.ico-tech-profile {
			background-image: url("/assets/images/ico-web.png");
		}
		&.ico-web {
			background-image: url("/assets/images/ico-web.png");
		}
		&.ico-chip {
			background-image: url("/assets/images/ico-chip.png");
		}
		&.ico-history {
			background-image: url("/assets/images/ico-model-history-10.png");
			background-size: 16px;
		}
		&.ico-enrichment {
			background-image: url("/assets/images/ico-enrichment.png");
			&.ico-black {
				background-image: url("/assets/images/ico-enrichment-black.png");
			}
		}
		&.ico-attributes {
			background-image: url("/assets/images/ico-attributes.png");
			background-size: 20px;
		}
		&.ico-leads {
			background-image: url("/assets/images/ico-leads.png");
			background-size: 20px;
		}
		&.ico-datatable {
			background-image: url("/assets/images/ico-datatable.png");
			background-size: 18px;
		}
		&.ico-marketo {
			background-image: url("/assets/images/ico-marketo.png");
			background-size: 16px;
			&.ico-black {
				background-image: url("/assets/images/ico-marketo-black.png");
			}
		}
		&.ico-eloqua {
			background-image: url("/assets/images/ico-app-settings.png");
			background-size: 16px;
			&.ico-black {
				background-image: url("/assets/images/ico-app-settings-black.png");
			}
		}	
		&.ico-salesforce {
			background-image: url("/assets/images/ico-salesforce.png");
			background-size: 16px;
			&.ico-black {
				background-image: url("/assets/images/ico-salesforce-black.png");
			}
		}
		&.ico-api-console {
			background-image: url("/assets/images/ico-api-console.png");
			background-size: 16px;
			&.ico-black {
				background-image: url("/assets/images/ico-api-console-black.png");
			}
		}
		&.ico-arrow-open {
			background-image: url("/assets/images/ico-arrow-open.png");
			background-size: 16px;
		}
		&.ico-attr-firmographics {
			background-image: url("/assets/images/enrichments/ico-attr-firmographics.png");
		}
		&.ico-attr-geography {
			background-image: url("/assets/images/enrichments/ico-attr-geography.png");
		}
		&.ico-attr-growth-trends {
			background-image: url("/assets/images/enrichments/ico-attr-growth-trends.png");
		}
		&.ico-attr-industry {
			background-image: url("/assets/images/enrichments/ico-attr-industry.png");
		}
		&.ico-attr-intent {
			background-image: url("/assets/images/enrichments/ico-attr-intent.png");
		}
		&.ico-attr-lead-information {
			background-image: url("/assets/images/enrichments/ico-attr-lead-information.png");
		}
		&.ico-attr-online-presence {
			background-image: url("/assets/images/enrichments/ico-attr-online-presence.png");
		}
        &.ico-attr-technology-profile {
			background-image: url("/assets/images/enrichments/ico-attr-technology-profile.png");
		}
		&.ico-attr-website-keywords {
			background-image: url("/assets/images/enrichments/ico-attr-website-keywords.png");
		}
		&.ico-attr-website-profile {
			background-image: url("/assets/images/enrichments/ico-attr-website-profile.png");
		}
		&.ico-light-grey-from-black,
		&.ico-light-gray-from-black {
			opacity: .4;
		}
	}
}
