
.lp .secondary-nav button {
    padding: 13px;
}

.model {
	background-image: url(../images/bkg-active-model-lp.jpg);
	background-color: #fff;
	background-position: center center;
	background-size: 160px;
	border: #dcdcdc solid 2px;
	min-height: 310px;
	&.inactive {
        background-color: #f1f1f1;
        background-image: url(../images/bkg-inactive-model-lp.jpg);
        background-repeat: no-repeat;
        background-position: center center;
    }
	.status {
		background: none;
		border-top: none;
	}
}

.model-details {
	.back-button {
	    padding: 20px 50px 20px 0;
	    margin-left: 20px;
	    background: url(../images/bg_back_button.png) no-repeat left center;
	    color: #999;
	    &:hover {
	    	background: url(../images/bg_back_button_hover.png) no-repeat left center;
	    }
	}
    h1 {
    	float: left;
        padding: 20px 50px 20px 0;
        line-height: 1;
        font-size: 28px;
        font-family:'ProximaNova-Bold','Open Sans',sans-serif;
    }
}