.login-body, .update-password-body {
	padding-top: 20px;
	@include media(">medium") {
		padding-top: 5%;
	}
	img {
		width: 100%;
		//margin-top: 80px;
	}
	i.fa-spinner {
		vertical-align: baseline;
		margin-left: 0.6em;
	}
	.company-regmark {
		margin-left: 5px;
	}
}
.update-password-body {
	@include media(">medium") {
		padding-top: 0;
	}
}
.login-content {
	padding-left: 40px;
	border-left: $palladium solid 1px;
}
.form-signin .form-control.error {
	border: #f03213 solid 2px;
}