.login-body {
	padding-top: 20px;
	@include media(">medium") {
		padding-top: 5%;
	}
	img {
		width: 100%;
		margin-top: 80px;
	}
	i.fa-spinner {
		vertical-align: baseline;
		margin-left: 0.6em;
	}
}
.login-content {
	padding-left: 40px;
	border-left: $palladium solid 1px;
}