.messaging {
	position: relative;
	padding: 10px 20px;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	border-radius: 4px;
	vertical-align: baseline;
    word-wrap: break-word;
	&.error-messaging {
		color: #fff;
		background-color: #D22027;
		border-color: #94060b;
		font-size: 1.1em;
		text-align: center;
		padding: 1.2em;
		line-height: 1.5em;
	}
	&.success-messaging {
	    color: #3c763d;
	    background-color: #dff0d8;
	    border-color: #d6e9c6;
	}
	ico {
		font-size: 1.3em;
		padding-right: 0.25em;
		vertical-align: middle;
	}
	.close, .link-button.close-button {
		position: absolute;
		top: 2px;
		right: 3px;
		border: none;
		background: transparent;
		color: white;
		font-size: 17px;
		font-weight: bold;
	}
}

.status-alert-box {
    @include flex-container;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: white;
    border-radius: 4px;
    border: 1px solid rgb(253,188,84);
    padding: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &.no_results {
        position: absolute;
        top: 75px;
    }
    .icon {
        @include flex-item(0 0 auto);
        color: white;
        background: rgb(253,188,84);
        position: relative;
        width: 70px;
        &:after {
            @include font-awesome-inline("\f071");
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            transform: translateY(-50%);
            font-size: 33px;
        }
    }
    .message {
        @include flex-item(1 1 auto);
        padding: 15px;
        padding-right: 35px;
        strong {
            font-weight: bold;
        }
        i {
            vertical-align: middle;
        }
        p {
            line-height: normal;
            margin-bottom: 10px;
        }
    }
    &.saved {
        border-color: rgb(111,190,74);
        .icon {
            background: rgb(111,190,74);
            &:after {
                @include font-awesome-inline("\f00c");
            }
        }
    }
    &.error {
        border-color: rgb(210, 32, 39);
        .icon {
            background: rgb(210, 32, 39);
            &:after {
                @include font-awesome-inline("\f071");
            }
        }
    }
    & > .close {
        position: absolute;
        top: 18px;
        right: 10px;
    }
}

.service-error-banner {
	.messaging {
		    margin: 1em 1em;
	}
}

.page-error {
	text-align: center;
	background: url(/assets/images/ico-error.png) center top no-repeat;
	background-size: 60px;
    padding-top: 6em;
    margin-top: 2.5em;
    h2 {
    	margin-bottom: 10px;
    }
	h3 {
		color: #a1a0a1;
	    font-size: 1em;
	    margin-bottom: 40px;
	    text-transform: initial;
	    font-weight: normal;
	}
}