.messaging {
	position: relative;
	padding: 10px 20px;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	vertical-align: baseline;
    word-wrap: break-word;
	&.error-messaging {
		color: #fff;
		background-color: #D22027;
		border-color: #D22027;
		font-size: 1.2em;
		text-align: center;
		padding: 1em;
	}
	&.success-messaging {
	    color: #3c763d;
	    background-color: #dff0d8;
	    border-color: #d6e9c6;
	}
	ico {
		font-size: 1.4em;
		padding-right: .5em;
		vertical-align: middle;
	}
	.close, .link-button.close-button {
		position: absolute;
		top: 0;
		right: 0;
		opacity: .8;
		border: none;
		background: transparent;
		color: white;
		font-size: 18px;
    	font-weight: bold;
	}
}

.service-error-banner {
	.messaging {
		    margin: 1em 1em;
	}
}

.page-error {
	text-align: center;
	background: url(/assets/images/ico-error.png) center top no-repeat;
	background-size: 60px;
    padding-top: 6em;
    margin-top: 2.5em;
    h2 {
    	margin-bottom: 10px;
    }
	h3 {
		color: #a1a0a1;
	    font-size: 1em;
	    margin-bottom: 40px;
	    text-transform: initial;
	    font-weight: normal;
	}
}