.messaging {
	padding: 10px 20px;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	&.error-messaging {
		color: #a94442;
	    background-color: #f2dede;
	    border-color: #ebccd1;
	}
	&.success-messaging {
	    color: #3c763d;
	    background-color: #dff0d8;
	    border-color: #d6e9c6;
	}
	.close {
		float: right;
		opacity: .8;
		font-size: 24px;
		border: none;
		background: transparent;
		margin-top: -3px;
	}
}

.page-error {
	text-align: center;
	background: url(/assets/images/ico-error.png) center top no-repeat;
	background-size: 60px;
    padding-top: 6em;
    margin-top: 2.5em;
    h2 {
    	margin-bottom: 10px;
    }
	h3 {
		color: #a1a0a1;
	    font-size: 1em;
	    margin-bottom: 40px;
	    text-transform: initial;
	    font-weight: normal;
	}
}