.messaging {
    display: flex;
    justify-items: space-between;
    position: relative;
    background: white;
    border: 1px solid #888;
    margin: 1.1em 0 0.5em;
    min-height: 4em;
    
    &.error-messaging {
        border-color: #D0242F;
        .messaging-icon {
            // background: repeating-linear-gradient(
            //   -45deg,
            //   #D0242F,
            //   #D0242F 10px,
            //   #e83a3a 1
            //   #e83a3a 20px
            // );
            background: #D0242F;
        }
        &.old-error {
            min-height: 2em;
            border-top: none;
            border-bottom: none;
            border-right: none;
            border-left-width: 3px;
            padding-left: 10px;
            background: none;
            display: flex;
            align-items: center;
            position: relative;
            ico {
                margin-right: 5px;
            }
            button {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                background: none;
                border: none;
                font-size: 20px;
            }
        }
    }

    &.warning-messaging {
        border-color: #ffbd48;
        .messaging-icon {
            // background: repeating-linear-gradient(
            //   -45deg,
            //   #ffbd48,
            //   #ffbd48 10px,
            //   #ffcd6f 1
            //   #ffcd6f 20px
            // );
            background: #ffbd48;
        }
    }

    &.success-messaging {
        border-color: #6fbe4a;
        .messaging-icon {
            background: #6fbe4a;
        }
    }

    &.info-messaging {
        border-color: #629acc;
        .messaging-icon {
            background: #629acc;
        }
    }

    i.badge {
        position: absolute;
        top: -.5em;
        left: -1.2em;
    }

    .messaging-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4em;
        color: white;
        position: absolute; 
        top: -1px;
        bottom: -1px;
        left: 0;

        ico {
            font-size: 17pt;
            vertical-align: middle;
        }
    } 
    .messaging-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: .6em 1.2em;
        margin-left: 4em;
        width: 100%;
        color: #222;
        
        .messaging-title {
            font-weight: bold;
            font-size: .9em;
        }
        .messaging-message {

        }
        strong {
            font-weight: bold;
        }
    }

    .messaging-controls {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4em;

        &:hover .close {
            color: #457EBA;
        }

        .close, .link-button.close-button {
            border: none;
            background: transparent;
            font-size: 11pt;
            display: flex;
            color: #222;
            
            &, & *, & *:before {
                -webkir-transition: none;
                transition: none;
            }
    	}
    }
}
.modal-content {
    .messaging.error-messaging.old-error {
        margin: 0 30px;
    }
}

.status-alert-box {
    @include flex-container;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: white;
    border-radius: 4px;
    border: 1px solid rgb(253,188,84);
    padding: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &.no_results {
        position: absolute;
        top: 75px;
    }
    .icon {
        @include flex-item(0 0 auto);
        color: white;
        background: rgb(253,188,84);
        position: relative;
        width: 70px;
        &:after {
            @include font-awesome-inline("\f071");
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            transform: translateY(-50%);
            font-size: 33px;
        }
    }
    .message {
        @include flex-item(1 1 auto);
        padding: 15px;
        padding-right: 35px;
        strong {
            font-weight: bold;
        }
        i {
            vertical-align: middle;
        }
        p {
            line-height: normal;
            margin-bottom: 10px;
        }
    }
    &.alert {
        position: fixed;
        border-color: rgb(253,188,84);
    }
    &.saved {
        border-color: rgb(111,190,74);
        .icon {
            background: rgb(111,190,74);
            &:after {
                @include font-awesome-inline("\f00c");
            }
        }
    }
    &.error {
        border-color: rgb(210, 32, 39);
        .icon {
            background: rgb(210, 32, 39);
            &:after {
                @include font-awesome-inline("\f071");
            }
        }
    }
    & > .close {
        position: absolute;
        top: 18px;
        right: 10px;
    }
}

.page-error {
	text-align: center;
	background: url('/assets/images/ico-error.png') center top no-repeat;
	background-size: 60px;
    padding-top: 6em;
    margin-top: 2.5em;
    h2 {
    	margin-bottom: 10px;
    }
	h3 {
		color: #a1a0a1;
	    font-size: 1em;
	    margin-bottom: 40px;
	    text-transform: initial;
	    font-weight: normal;
	}
}