$max-height: 500px;
$slide-transition: 200ms;

@import "./mixins.scss";
/*
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin flex-container($args...) {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex-item($args...) {
    -webkit-flex: $args;
    -ms-flex: $args;
    flex: $args;
}

@mixin text-ellipsis() {
    text-transform: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
*/
#inner-wrap {
    @include flex-container;
    min-height: 100vh;
}

section.insights-content {
    @include flex-item(1 1 auto);
    position: relative;
}
section.main-content {
    @include flex-item(1 1 auto);
    @include transition(padding $slide-transition ease);
    position: relative;
    padding-left: 60px;
    @media screen and (max-height: $max-height) {
        padding-left: 70px;
    }
}

span.ico-container {
    display: inline-block;
    height: 36px;
    width: 36px;
    padding: 4px;
    border-radius: 50%;
    background: rgba(255,255,255,.08);
    text-align: center;
    position: relative;
    animation-duration: 5s;
    &.page-icon {
        .ico {
            &.ico-marketo {
                height: 15px;
                width: 23px;
            }
        }
    }
    .ico {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        height: 24px;
        width: 24px;
        &.ico-marketo {
            height: 16px;
        }
        &.ico-user {
            height: 21px;
            width: 21px;
        }
        &.ico-salesforce {
            height: 40px;
            width: 45px;
        }
        &.ico-campaign {
            background-size: 21px;
        }
        &.ico-remodel-large {
            height: 26px;
            width: 24px;
        }
    }
}

.menu.model-view {
    .ico {
        height: 20px;
        width: 20px;
    }
}

nav.primary-nav {
    @include flex-item(0 1 auto);
    @include transition(width $slide-transition ease);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5; // for tabs to hide left edge of first tab since this used to be position fixed
    min-height: 100%; // on page load make sure sidebar is 100% high
    width: 60px;
    min-width: 60px; // protection for IE
    @media screen and (max-height: $max-height) {
        //overflow: auto;
        //overflow-x: hidden;
        width: 70px;
    }
    .lp-sidebar-menu, .pd-sidebar-menu {
        background: #222831;
        padding-left: 10px;
        padding-bottom: 75px;
        height: 100vh;
    }
    .pd-sidebar-menu {
        padding-top: 16px;
    }
    .lp-sidebar-menu {
        padding-top: 70px;
    }
    .label {
        display: inline-block;
        font-size: 12px;
        opacity: 0;
        position: relative;
        padding: 0 10px;
        vertical-align: middle;
        top: calc(-30px/2);
        width: calc(100% - 50px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        letter-spacing: 1px;
        .badge {
            display: none;
        }
    }
    .open-button {
        background: rgba(255,255,255,.05);
        border: 0;
        border-top: 1px solid rgba(255,255,255,.05);
        width: 38px;
        text-align: center;
        font-size: 20px;
        padding: 10px 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        overflow: hidden;
        height: 40px;
        width: 100%;
        &:after {
            content: 'collapse';
            color: white;
            text-transform: uppercase;
            font-size: 12px;
            position: relative;
            top: -3px;
            opacity: 0;
        }
        .ico-arrow-open {
            position: absolute;
            left: 0;
            height: 50px;
            width: 50px;
            color: white;
            top: -2px;
        }
    }
    .logo-container {
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
        text-align: center;
        .logo {
            margin: 0;
            overflow: hidden;
            width: 23px;
            img {
                width: auto;
                vertical-align: top;
                height: 26px;
            }
        }
    }
    .menu {
        text-align: left;
        text-transform: uppercase;
        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
        ul {
            display: none;
            margin: -12px 0 26px 47px;
            a {
                padding: 4px 0;
            }
        }
        li {
            white-space: nowrap;
        }
        a {
            display: inline-block;
            width: 37px;
        }
        li {
            &> a {
                font-size: 14px;
                color: rgba(255, 255, 255, 0.7);
            }
            &:hover > a {
                color: rgba(255, 255, 255, 0.85);
                transition: none;
            }
            &:hover > a span:first-of-type {
                background-color: #464646;
                transition: none;
                span:not(.no-svg) {
                    background-color: white;
                }
            }
            &.active > a span:first-of-type,
            &.active:hover > a span:first-of-type {
                background-color: rgba(239, 106, 48, 1);
                transition: all 250ms ease 1ms;
                span {
                    background-color: white;
                    &.ico-campaign {
                        background-color: transparent;
                    }
                }
            }
        }
        & > li > a span:first-of-type {
            font-size: 27px;
        }
        li.active > a {
            color: rgba(255, 255, 255, 1);
        }
        .fa, .ico {
            color: #fff;
            &.blue-text {
                color: $blue-text;
            }
        }
        .fa-circle-thin, .fa-check-circle-o {
            background-color: #222831;
        }

        &.progress-menu {
            li > a {
                position: relative;
            }
            ul {
                margin-top: 0;
                margin-left: 44px;
                span.badge {
                    margin-top: 6px;
                }
            }
            li:after {
                display: table;
                content: "";
                clear: both;
            }
            .label {
                width: calc(100% - 80px);
                top: -10px;
            }
            li:hover .label {
            }
            span.badge {
                margin-top: 13px;
                margin-right: 10px;
                position: absolute;
                top: 0;
            }
            & > li.active>a span:first-of-type span, & > li.active:hover>a span:first-of-type {
                background: none;
            }
            li:hover>a span:first-of-type span:not(.no-svg) {
                background-color: inherit;
            }
            & > li>a span:first-of-type span {
                background: none;
                vertical-align: top;
            }
            & > li>a span:first-of-type .pd-sidebar-category-icon span {
                background: inherit;
            }
        }
    }
    .menu-header {
        padding: 10px 0;
        &:after {
            display: table;
            content: "";
            clear: both;
        }
        a.button.icon-button {
            float: left;
            background: #65696f;
            border-radius: 50%;
            height: 38px;
            width: 38px;
            padding: 4px;
            font-size: 27px;
            text-align: center;
            .fa {
                vertical-align: top;
                position: relative;
                left: -2px;
            }
        }
        h3 {
            @include text-ellipsis;
            opacity: 0;
            width: calc(100% - 50px);
            color: #65696f;
            font-size: 12px;
            font-weight: normal;
            padding: 0 10px;
            margin-top: 11px;
            text-transform: uppercase;
        }
    }
}

html.no-cssmask {
    nav.primary-nav {
        .menu {
            & > li {
                &:hover > a span:first-of-type {
                    .ico:not(.no-svg) {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

html:not(.no-cssmask) {
    nav.primary-nav {
        .ico:not(.no-svg) {
            background-color: #fff;
        }
        .ico.ico-campaign:not(.no-svg) {
            background-color: none;
        }
    }
}

html.no-cssmask {
    .menu {
        & > li {
            &:hover > a span:first-of-type {
                span {
                    background-color: transparent;
                }
            }
            &.active > a span:first-of-type,
            &.active:hover > a span:first-of-type {
                span {
                    background-color: transparent;
                }
            }
        }
    }
    .secondary-nav {
        .page-icon {
            span {
                background-color: transparent;
            }
        }
    }
}

.open-nav {
    nav.primary-nav {
        width: 250px;
        .menu-header h3 {
            opacity: 1;
        }
        .label {
            opacity: 1;
            .badge {
                display: inline;
                position: absolute;
                right: 0.5em;
            }
        }
        .open-button {
            &:after {
                opacity: .5;
            }
            .ico-arrow-open {
                top: -9px;
                transform: rotate(180deg);
            }
        }
        .menu {
            a {
                width: 100%;
            }
            ul {
                display: block;
            }
        }
        .logo-container {
            .logo {
                width: 100%;
            }
        }
    }
    section.main-content {
        padding-left: 250px;
    }
    .menu-header {
        h3 {
            display: inline-block;
        }
    }
}

//Link Navigation

.link-nav {
    display: inline-block;
    margin-top: 10px;
    li {
        display: inline-block;
        &.divider {
            padding: 0 10px;
        }
        a {
            color: $jet;
            &.active {
                color: $saphire;
            }
        }
    }
}

// Secondary Nav (Hamburger and Profile Nav)
.secondary-nav {

    & > .ico {
        height: 40px;
        width: 40px;
        margin: 10px;
    }
    button {
        float: left;
        padding: 10px;
        &:focus {
            outline: 0;
        }
    }

    ul.secondary-nav-grid {
        @include flex-container;
        & > li {
            @include flex-item(0 1 auto);
            position: relative;
            &:nth-last-child(2) {
                @include flex-item(1 1 auto);
            }
        }
    }
    .page-icon,
    .page-name,
    .model-name {
        display: inline-block;
        /*font-family: 'ProximaNova-Bold','Open Sans',sans-serif;*/
        color: #333;
        font-size: 22px;
        margin-top: 17px;
        margin-left: .5em;
        vertical-align: middle;
        transition: none;
        animation: none;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .page-icon {
        margin-left: 1em;
        background-color: #e5e5e5;
        span {
            -webkit-transition: all 250ms linear, transform 0s linear;
            -moz-transition: all 250ms linear, transform 0s linear;
            -ms-transition: all 250ms linear, transform 0s linear;
            transition: all 250ms linear, transform 0s linear;
            width: 16px;
            height: 16px;
        }
    }
    .model-name {
        @include text-ellipsis;
        position: relative;
        max-width: 500px;
        padding-right: 15px;
        border-right: 1px solid #ededed;
        padding-left: 20px;
        margin-top: 20px;
        font-size: 16px;
        &:before {
            @include font-awesome-inline("\f053");
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
    .header-tenant-name {
        padding: 20px 20px 20px 52px;
        display: inline-block;
        color: $dark-gray;
        background-image: url("/assets/images/ico-tenant.svg");
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: 12px 50%;
        &:hover {
            cursor: default;
        }
    }
    .profile-nav {
        max-width: 250px;
        z-index: 30;
        & > a {
            padding: 16px 20px 16px 20px;
            display: block;
            color: $dark-gray;

            &:hover,
            * {
                -webkit-transition: none;
                -moz-transition: none;
                -o-transition: none;
                transition: none;
            }
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            &:hover {
                background-color: #efefef;
                text-decoration: none;
            }
            &.active {
                background-color: #222;
                color: rgba(255, 255, 255, 0.8);
            }
            img, & > div, span {
                float: left;
                width: 11em;
                overflow: hidden;
            }
            img {
                width: 30px;
                height: 30px;
                margin: 4px 10px 0 0;
            }
            span {
                margin: 1em 0 0 1em;
                width: 1em;
            }
            .fa-chevron-down {
                margin: 12px 0 0;
            }
            .pd-header-username {
                font-family: 'ProximaNova-Semibold','Open Sans',sans-serif;
                font-size: 14px;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .tenant-name {
                font-family: 'ProximaNova-Regular','Open Sans',sans-serif;
                font-size: 12px;
                margin-top: -4px;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .pd-header-downarrow {
                margin-left: 10px;
            }
        }
        ul {
            display: block;
            z-index: 20;
            padding-bottom: 1em;
            margin-top: 0;
            width: 100%;
            border: none;
            -webkit-box-shadow: none;
            -moz-box-shadow:    none;
            box-shadow:         none;
            background: #222;
            & > li {
                text-align: left;
                border-bottom: none;
                & > a {
                    display: block;
                    padding: 4px 28px;
                    color: #fff;
                    width: inherit;
                    &:first-of-type {
                        padding-top: 8px;
                    }
                    &:last-child {
                        padding-bottom: 8px;
                    }
                    &:hover {
                        background: #0d0d0d;
                        color: rgba(255, 255, 255, 1);
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &:after {
        display: table;
        content: "";
        clear: both;
    }
}
.profile-nav.dropdown>a.open {
    background-image: url("/assets/images/ico-user-profile.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 12px 50%;
}
body.open-nav .primary-nav [data-stooltip] {
    &:hover {
        &:after {
            display: none;
        }
    }
}
.primary-nav [data-stooltip] {
    perspective: 500px;
    &:after {
        visibility: hidden;
        letter-spacing: 1px; /* makes it look more like sidebar nav */
        color: #eee;
        background: #222831; /* sidebar background */
        transform: rotateY(85deg); /* perspective makes 90deg too far */
        margin-top: -1.8em; /* this isn't great, but translatex(-50%) disables font smoothing/aliasing */
        margin-left: 13px;
        padding: 10px 15px 10px 5px;
        border-radius: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        -webkit-transition: all 150ms ease-out 150ms, opacity 0ms linear 300ms;
        transition: all 150ms ease-out 150ms, opacity 0ms linear 300ms;

        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        pointer-events: none;
        opacity: 0;
    }
    &:hover {
        &:after {
            visibility: visible;
            opacity: 1;

            -webkit-transition: none;
            transition: none;

            -webkit-transform: none;
            transform: none;
        }
    }
}