@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin flex-container($args...) {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
}

@mixin flex-item($args...) {
    -webkit-flex: $args;
    -ms-flex: $args;
    flex: $args;
}

@mixin text-ellipsis() {
    text-transform: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#inner-wrap {
    @include flex-container;
    min-height: 100vh;
}

nav.primary-nav {
    @include flex-item(0 1 auto);
    position: relative;
    z-index: 2; // for tabs to hide left edge of first tab since this used to be position fixed
}
section.main-content {
    @include flex-item(1 1 auto);
    position: relative;
    z-index: 1;
}

.primary-nav {
    @include transition(all 250ms ease);
    padding-left: 10px;
    min-height: 100vh; // on page load make sure sidebar is 100% hi
    width: 60px;
    min-width: 60px; // protection for IE
    background: #222831;
    position: relative;
    padding-bottom: 75px;
    .label {
        font-size: 12px;
        display: none;
        position: relative;
        padding: 0 10px;
        vertical-align: middle;
        top: calc(-30px/2);
        width: calc(100% - 50px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .ico-container {
        display: inline-block;
        height: 38px;
        width: 38px;
        padding: 4px;
        overflow: hidden;
        border-radius: 50%;
        background: rgba(255,255,255,.08);
        text-align: center;
        position: relative;
        .ico {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            height: 18px;
            width: 18px;
            &.ico-marketo {
                height: 12px;
            }
            &.ico-history {
                height: 16px;
            }
            &.ico-salesforce {
                height: 30px;
                width: 30px;
            }
            &.ico-eloqua {
                height: 28px;
                width: 28px;
            }
        }
    }
    .active > a > .ico-container {
        background: rgba(239, 106, 48, 1);
    }
    padding-top: 40px;
    .open-button {
        color: white;
        background: transparent;
        border: 0;
        width: 38px;
        text-align: center;
        font-size: 20px;
        padding: 10px 0;
        position: absolute;
        top: 0;
        left: 10px;
        opacity: .5;
        &:hover {
          opacity: 1;
        }
        .fa {
          color: rgba(255,255,255,.7);
        }
        .fa-arrow-left {
            transform: rotate(180deg);
        }
        .fa-compress {
            @include transition(all 250ms ease);
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 0;
        }
        .fa-expand {
            @include transition(all 250ms ease);
            position: absolute;
            top: 10px;
            left: 10px;
            opacity: 1;
        }
    }
    .logo-container {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
    }
    .menu {
        text-align: left;
        text-transform: uppercase;
        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
        ul {
            margin-left: 55px;
        }
        & > li {
            white-space: nowrap;
        }
        a, li > div {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.7);
            &:hover {
                color: rgba(255, 255, 255, 0.8);
            }
        }
        & > li > a span:first-of-type {
            font-size: 27px;
        }
        li.active > a {
            color: rgba(255, 255, 255, 1);
        }
        .fa, .ico {
            color: #fff;
            &.blue-text {
                color: $blue-text;
            }
        }
        .fa-circle-thin, .fa-check-circle-o {
            background-color: #222831; 
        }
        &.progress-menu {
            a, li > div {    
                background-image: url("/assets/images/bkg-nav-full-piping.png");
                background-repeat: no-repeat;
                background-position: 31px;
            }
            li ul li a {
                padding: 0 0.5em 0 4em;
            }
            &> li:first-of-type > a {
                background-position: 31px 20px;
            }
            &> li:last-child > a {
                background-position: 31px -320px;
            }
            li > div {
                padding-top: 10px;
                p, ul {
                    margin-bottom: 10px;
                }
            }
            li:last-child > div {
                background-image: none;
            }
            .ico {
                height: 20px;
                &.ico-tmb-user {
                    width: 19px;
                }
                &.ico-industry {
                    height: 16px;
                    width: 20px;
                }
                &.ico-tmb-chart {
                    width: 16px;
                }
            }
        }
    }
    .menu-header {
        padding: 10px 0;
        &:after {
            display: table;
            content: "";
            clear: both;
        }
        a.button.icon-button {
            float: left;
            background: #65696f;
            border-radius: 50%;
            height: 38px;
            width: 38px;
            padding: 4px;
            font-size: 27px;
            text-align: center;
            .fa {
              vertical-align: top;
              position: relative;
              left: -2px;
            }
        }
        h3 {
            @include text-ellipsis;
            display: none;
            width: calc(100% - 50px);
            color: #65696f;
            font-size: 12px;
            font-weight: normal;
            padding: 0 10px;
            margin-top: 11px;
            text-transform: uppercase;
        }
    }
}

html:not(.no-cssmask) {
    .primary-nav .ico {
        background-color: #fff;
    }
}

#inner-wrap {
    @include transition(all 250ms ease);
}

.open-nav {
    .primary-nav {
        width: 250px;
        .menu-header h3 {
            display: block;
        }
        .label {
            display: inline-block;
        }
    }
    .open-button {
        .fa-arrow-left {
            transform: rotate(0deg);
        }
        .fa-compress {
            opacity: 1;
        }
        .fa-expand {
            opacity: 0;
        }
    }
    .logo-container {
        display: block; 
    }
    .menu-header {
        h3 {
            display: inline-block;
        }
    }
}

//Link Navigation

.link-nav {
    display: inline-block;
    margin-top: 10px;
    li {
        display: inline-block;
        &.divider {
            padding: 0 10px;
        }
        a {
            color: $jet;
            &.active {
                color: $saphire;
            }
        } 
    }
}

// Secondary Nav (Hamburger and Profile Nav)
.secondary-nav {
    border-bottom: #ddd solid 1px;
    & > .ico {
        height: 40px;
        width: 40px;
        margin: 10px;
    }
    button {
        float: left;
        padding: 10px;
        &:focus {
            outline: 0;
        }
    }
    .model-name {
        display: inline-block;
        font-family: 'ProximaNova-Bold','Open Sans',sans-serif;
        color: #333;
        font-size: 22px;
        padding-top: 13px;
        margin-left: 20px;
    }
    .header-tenant-name {
        padding: 20px 20px 20px 52px;
        display: inline-block;
        color: $dark-gray;
        background-image: url("/assets/images/ico-tenant.svg");
        background-size: 30px 30px;
        background-repeat: no-repeat; 
        background-position: 12px 50%;
        &:hover {
          cursor: default;
        }
    }
    .profile-nav {
        float: right;
        & > a {
            padding: 20px 20px 20px 52px;
            display: block;
            color: $dark-gray;
            background-image: url("/assets/images/ico-user-profile.svg");
            background-size: 30px 30px;
            background-repeat: no-repeat; 
            background-position: 12px 50%;
            &:hover {
                background-color: #efefef;
                text-decoration: none;
            }
            &.active {
                background-color: #222;
                color: rgba(255, 255, 255, 0.8);
            }
        }
        ul {
            display: block;
            z-index: 2;

            margin-top: 0;
            min-width: 200px;
            border: none;
            -webkit-box-shadow: none;
            -moz-box-shadow:    none;
            box-shadow:         none;
            & > li {
                text-align: left;
                border-bottom: none;
                & > a {
                    display: block;
                    padding: 4px 28px;
                    background: #222;
                    color: #fff;
                    width: inherit;
                    &:first-of-type {
                        padding-top: 8px;
                    }
                    &:last-child {
                        padding-bottom: 8px;
                    }
                    &:hover {
                        background: #0d0d0d;
                        color: rgba(255, 255, 255, 1);
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &:after {
        display: table;
        content: "";
        clear: both;
    }
}
.profile-nav.dropdown>a.open {
    background-image: url("/assets/images/ico-user-profile.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat; 
    background-position: 12px 50%;
}

