$max-height: 500px;
$slide-transition: 200ms;

@import "./mixins.scss";
/*
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin flex-container($args...) {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex-item($args...) {
    -webkit-flex: $args;
    -ms-flex: $args;
    flex: $args;
}

@mixin text-ellipsis() {
    text-transform: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
*/

#inner-wrap {
    @include flex-container;
    min-height: 100vh;
}

section.insights-content {
    @include flex-item(1 1 auto);
    position: relative;
}
section.main-content {
    @include flex-item(1 1 auto);
    @include transition(padding $slide-transition ease);
    position: relative;
    padding-left: 60px;
    @media screen and (max-height: $max-height) {
        padding-left: 60px;
    }
}
section.summary-blank-line {
    border-top: 3px solid #E2E3E5;

    &, &:last-child {
        margin: 0;
        padding: 0;
    }
}

span.ico-container {
    display: inline-block;
    height: 36px;
    width: 36px;
    padding: 4px;
    border-radius: 50%;
    background: #444;
    text-align: center;
    position: relative;
    animation-duration: 5s;
    &.page-icon {
        .ico {
            &.ico-marketo {
                height: 15px;
                width: 23px;
            }
            &.ico-api-console {
                height: 16px;
            }
            &.ico-analysis {
                height: 21px;
                width: 18px;
            }
            &.ico-segments {
                height: 24px;
                width: 24px;
            }
            &.ico-model {
                height: 22px;
                width: 22px;
            }
            &.ico-attributes {
                height: 22px;
                width: 22px;
            }
            &.ico-eloqua {
                height: 22px;
                width: 22px;
            }
            &.ico-jobs {
                height: 24px;
                width: 24px;
            }
            &.ico-connectors {
                height: 24px;
                width: 24px;
            }
        }
    }
    .ico {
        position: absolute;
        top: 50%;
        left: 50%;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        transform: translateY(-50%) translateX(-50%);
        height: 24px;
        width: 24px;
        &.ico-marketo {
            height: 16px;
        }
        &.ico-user {
            height: 21px;
            width: 21px;
        }
        &.ico-api-console {
            height: 23px;
        }
        &.ico-salesforce {
            height: 40px;
            width: 45px;
        }
        &.ico-connectors {
            height: 24px;
            width: 24px;
        }
        &.ico-campaign {
            background-size: 21px;
        }
        &.ico-remodel-large {
            height: 26px;
            width: 24px;
        }
    }
}

li.transitioning {
    .ico-container {
        animation-name: transitioning;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

@keyframes transitioning {
  0% {
    background-color: #555;
  }
  50% {
    background-color: #ef6a30;
  }
  100% {
    background-color: #555;
  }
}

.menu.model-view {
    .ico {
        height: 20px;
        width: 20px;
    }
}

nav.primary-nav {
    @include flex-item(0 1 auto);
    @include transition(width $slide-transition ease);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5; // for tabs to hide left edge of first tab since this used to be position fixed
    min-height: 100%; // on page load make sure sidebar is 100% high
    width: 60px;
    min-width: 60px; // protection for IE
    @media screen and (max-height: $max-height) {
        //overflow: auto;
        //overflow-x: hidden;
        width: 60px;
    }
    *[disabled] {
        pointer-events: none;
        opacity: .5;
    }
    .lp-sidebar-menu, .pd-sidebar-menu {
        background: #222831;
        padding-left: 11px;
        padding-bottom: 75px;
        height: 100vh;
    }
    .pd-sidebar-menu {
        padding-top: 16px;
    }
    .lp-sidebar-menu {
        padding-top: 70px;
    }
    .label {
        display: inline-block;
        font-size: 12px;
        opacity: 0;
        position: relative;
        padding: 0 10px;
        vertical-align: middle;
        top: calc(-30px/2);
        width: calc(100% - 50px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        letter-spacing: 1px;
        .badge {
            display: none;
        }
    }
    .open-button {
        background: rgba(255,255,255,.05);
        border: 0;
        border-top: 1px solid rgba(255,255,255,.05);
        width: 38px;
        text-align: center;
        font-size: 20px;
        padding: 0; 
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        overflow: hidden;
        height: 40px;
        width: 100%;
        &:after {
            content: 'collapse';
            font-family: 'ProximaNova-Regular',Arial,sans-serif;
            color: white;
            text-transform: uppercase;
            font-size: 12px;
            position: relative;
            top: -5px;
            opacity: 0;
            display: inline;
        }
        .ico-arrow-open {
            position: absolute;
            left: 4px;
            height: 50px;
            width: 50px;
            color: white;
            top: -4px;
        }
    }
    .logo-container {
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
        text-align: center;
        .logo {
            margin: 0;
            overflow: hidden;
            width: 23px;
            img {
                width: auto;
                vertical-align: top;
                height: 26px;
            }
        }
    }
    .menu {
        text-align: left;
        text-transform: uppercase;
        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
        ul {
            display: none;
            margin: -12px 0 26px 47px;
            a {
                padding: 4px 0;
            }
        }
        li {
            white-space: nowrap;
        }
        a {
            display: inline-block;
            width: 37px;
        }
        li {
            & > a {
                font-size: 14px;
                color: rgba(255, 255, 255, 0.7);
            }
            &:hover > a {
                color: rgba(255, 255, 255, 0.85);
                transition: none;
                span:first-of-type {
                    background-color: #505050;
                    transition: none;
                    span:not(.no-svg) {
                        background-color: white;
                    }
                } 
                &.disabled {
                    color: rgba(255,255,255,0.7);
                    span:first-of-type {
                        background-color: #444;
                        cursor: default;
                        transition: none;
                        span:not(.no-svg) {
                            background-color: rgba(255,255,255,0.2);
                            &.ico-ratings {
                                background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 25'><g data-name='Layer 2'><g id='Content'><path fill='%235E5E5E' d='M13,11.05A4.95,4.95,0,1,0,18,16,5,5,0,0,0,13,11.05Zm2.13,8.22L13,17.73l-2.13,1.54.82-2.5L9.56,15.23h2.63l.81-2.5.81,2.5h2.63l-2.12,1.54Z'/><polygon fill='%235E5E5E' points='9 0 9 4 13 4 9 0'/><path fill='%235E5E5E' d='M13,9V5H8V0H0V16H6a7,7,0,0,1,7-7Z'/></g></g></svg>") no-repeat 4px 3px;
                            }
                        }
                    }
                }
            }
            &.active > a span:first-of-type,
            &.active:hover > a span:first-of-type,
            &.activate > a span:first-of-type,
            &.activate:hover > a span:first-of-type {
                background-color: rgba(239, 106, 48, 1);
                transition: all 250ms ease 1ms;
                span {
                    background-color: white;
                    &.ico-campaign {
                        background-color: transparent;
                    }
                }
            }
        }
        & > li > a span:first-of-type {
            font-size: 27px;
        }
        li.active > a {
            color: rgba(255, 255, 255, 1);
        }
        .fa, .ico {
            color: #fff;
            &.blue-text {
                color: $blue-text;
            }
        }
        .fa-circle-thin, .fa-check-circle-o {
            background-color: #222831;
        }

        &.progress-menu {
            li > a {
                position: relative;
            }
            ul {
                margin-top: 0;
                margin-left: 44px;
                span.badge {
                    margin-top: 6px;
                }
            }
            li:after {
                display: table;
                content: "";
                clear: both;
            }
            .label {
                width: calc(100% - 80px);
                top: -10px;
            }
            li:hover .label {
            }
            span.badge {
                margin-top: 13px;
                margin-right: 10px;
                position: absolute;
                top: 0;
            }
            & > li.active>a span:first-of-type span, & > li.active:hover>a span:first-of-type {
                background: none;
            }
            li:hover>a span:first-of-type span:not(.no-svg) {
                background-color: inherit;
            }
            & > li>a span:first-of-type span {
                background: none;
                vertical-align: top;
            }
            & > li>a span:first-of-type .pd-sidebar-category-icon span {
                background: inherit;
            }
        }
    }
    .menu-header {
        padding: 10px 0;
        &:after {
            display: table;
            content: "";
            clear: both;
        }
        a.button.icon-button {
            float: left;
            background: #65696f;
            border-radius: 50%;
            height: 38px;
            width: 38px;
            padding: 4px;
            font-size: 27px;
            text-align: center;
            .fa {
                vertical-align: top;
                position: relative;
                left: -2px;
            }
        }
        h3 {
            @include text-ellipsis;
            opacity: 0;
            width: calc(100% - 50px);
            color: #65696f;
            font-size: 12px;
            font-weight: normal;
            padding: 0 10px;
            margin-top: 11px;
            text-transform: uppercase;
        }
    }
}

html.no-cssmask {
    nav.primary-nav {
        .menu {
            & > li {
                &:hover > a span:first-of-type {
                    .ico:not(.no-svg) {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

html:not(.no-cssmask) {
    nav.primary-nav {
        .ico:not(.no-svg) {
            background-color: #fff;
        }
        .ico.ico-campaign:not(.no-svg) {
            background-color: none;
        }
        .disabled {
            .ico:not(.no-svg) {
                background-color: rgba(255,255,255,0.2);
                &.ico-ratings {
                    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 25'><g data-name='Layer 2'><g id='Content'><path fill='%235E5E5E' d='M13,11.05A4.95,4.95,0,1,0,18,16,5,5,0,0,0,13,11.05Zm2.13,8.22L13,17.73l-2.13,1.54.82-2.5L9.56,15.23h2.63l.81-2.5.81,2.5h2.63l-2.12,1.54Z'/><polygon fill='%235E5E5E' points='9 0 9 4 13 4 9 0'/><path fill='%235E5E5E' d='M13,9V5H8V0H0V16H6a7,7,0,0,1,7-7Z'/></g></g></svg>") no-repeat 4px 3px; 
                }
            }
        }
    }
}

html.no-cssmask {
    .menu {
        & > li {
            &:hover > a span:first-of-type {
                span {
                    background-color: transparent;
                }
            }
            &.active > a span:first-of-type,
            &.active:hover > a span:first-of-type {
                span {
                    background-color: transparent;
                }
            }
        }
    }
    .secondary-nav {
        .page-icon {
            span {
                background-color: transparent;
            }
        }
    }
}

.open-nav {
    nav.primary-nav {
        width: 250px;
        .menu-header h3 {
            opacity: 1;
        }
        .label {
            opacity: 1;
            .badge {
                display: inline;
                position: absolute;
                right: 0.5em;
            }
        }
        .open-button {
            &:after {
                opacity: .5;
            }
            .ico-arrow-open {
                transform: rotateY(180deg);
            }
        }
        .menu {
            a {
                width: 100%;
            }
            ul {
                display: block;
            }
        }
        .logo-container {
            .logo {
                width: 100%;
            }
        }
    }
    section.main-content {
        padding-left: 250px;
    }
    .menu-header {
        h3 {
            display: inline-block;
        }
    }
}

//Link Navigation

.link-nav {
    display: inline-block;
    margin-top: 10px;
    li {
        display: inline-block;
        &.divider {
            padding: 0 10px;
        }
        a {
            color: $jet;
            &.active {
                color: $saphire;
            }
        }
    }
}

// Secondary Nav (Hamburger and Profile Nav)
html:not(.no-cssmask) .secondary-nav ul.secondary-nav-grid > li .jobs-nav-gear span.ico-container .ico {
    //background-color: #333;
}

.secondary-nav {

    & > .ico {
        height: 40px;
        width: 40px;
        margin: 10px;
    }
    button {
        float: left;
        padding: 10px;
        &:focus {
            outline: 0;
        }
    }

    ul.secondary-nav-grid {
        @include flex-container;
        height: 70px;

        & > li {
            @include flex-item(0 1 auto);
            position: relative;
            white-space: nowrap;
            display: flex;
            align-items: center;
            width: 100%;
            &:nth-last-child(2) {
                @include flex-item(1 1 auto);
            }
            &.header-back-name-container {
                flex-shrink: 3;
            }
            &.page-icon-container {
                width: 5em;
            }
            &.jobs-nav-container {
                width: 5em;
            }
            &.profile-nav-container {
                width: 250px;
            }
            .profile-user-icon,
            .jobs-nav-gear {
                float: right;
                height: 100%;
                position: relative;
                padding: 0em .8em;
                line-height: 0.8em;
                display: flex;
                align-items: center;

                span.ico-container {
                    background: transparent;
                    width: 36px;
                    margin: 0;

                }
                
                &:hover {
                    background-color: #f9f9f9;

                    span.ico-container {
                        background: #E2E3E5;
                    }
                }

                &,
                span.ico-container,
                span.fa:before {
                    -webkit-transition: none;
                    transition: none;
                }

                &.active {
                    background: #222831;

                    span.ico-container {
                        background: #ef6a30;
                        color: #fff;
                    }

                    .fa-chevron-down {
                        color: #ef6a30;
                        transform: rotateX(180deg);
                    }
                }

                span.jobs-nav-number {
                    position: absolute;
                    top: 3.5em;
                    padding: 3px 6px 2px;
                    font-size: 10px;
                    right: 1.5em;
                }

                > span {
                }
            }
            .profile-user-icon {
                float: none;
                display: flex;
                align-items: center;
                justify-content: center;

                span.ico-container {
                    margin-right: 0.8em;
                    margin-left: .2em;
                    min-width: 2.6em;
                    color: #222;
                    
                    span {
                        margin: 3px;
                        font-size: 1.65em;
                    }
                }
            }
        }
    }
    .page-icon,
    .page-name,
    .header-back-name,
    .model-name {
        display: inline-block;
        font-family: 'ProximaNova-Semibold','Open Sans',sans-serif;
        font-size: 15px;
        letter-spacing: 0px;
        vertical-align: middle;
        text-transform: uppercase;
        color: #555;
        //margin-top: 17px;
        margin-left: 1em;
        //padding-top: 6px;
        transition: none;
        animation: none;
    }
    &.model-details-page {
        .page-icon,
        .page-name,
        .header-back-name,
        .model-name {
            font-size: 15px;
        }
        .page-name {
        }
    }
    .page-icon {
        margin-left: 1.5em;
        background-color: rgba(239, 106, 48, 1);
        span {
            -webkit-transition: all 250ms linear, transform 0s linear;
            -moz-transition: all 250ms linear, transform 0s linear;
            -ms-transition: all 250ms linear, transform 0s linear;
            transition: all 250ms linear, transform 0s linear;
            width: 16px;
            height: 16px;
            &.ico-insights,
            &.ico-targets,
            &.ico-playbook {
                height: 24px;
                width: 24px;
            }
        }
    }
    .header-back-name,
    .model-name {
        @include text-ellipsis;
        position: relative;
        max-width: 500px;
        padding-right: 15px;
        border-right: 1px solid #ededed;
        padding-left: 25px;
        margin-left: 20px;
        font-size: 15px;
        &:before {
            @include font-awesome-inline("\f053");
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            margin-top: 1px;
        }
    }
    .header-tenant-name {
        padding: 20px 20px 20px 52px;
        display: inline-block;
        color: $dark-gray;
        background-image: url("/assets/images/ico-tenant.svg");
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: 12px 50%;
        &:hover {
            cursor: default;
        }
    }
    .profile-nav-container {
        div {
            height: 100%;
            line-height: 100%;
            vertical-align: middle;
        }
    }
    .profile-nav {
        width: 250px;
        z-index: 30;
        & > a {
            padding: 16px 20px 16px 20px;
            display: block;
            color: #555;

            &:hover,
            * {
                -webkit-transition: none;
                -moz-transition: none;
                -o-transition: none;
                transition: none;
            }
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            &:hover {
                background-color: #f9f9f9;
                text-decoration: none;
            }
            &.active {
                background-color: #222;
                color: rgba(255, 255, 255, 0.8);
            }
            img, & > div, span {
                //float: left;
                width: 11em;
                overflow: hidden;
            }
            img {
                width: 30px;
                height: 30px;
                margin: 4px 10px 0 0;
            }
            span {
                margin: 1em 0 0 1em;
                width: 1em;
            }
            span.ico-container,
            ul.profile-nav-info,
            span.fa-chevron-down {
                display: inline-block;
                width: 100%;
            }
            .fa-chevron-down {
                margin: 0;
                margin-right: 1em;
                max-width: 1em;
                color: #222;
                transition: transform 166ms ease-in;
            }
            .pd-header-username {
                font-family: 'ProximaNova-Semibold','Open Sans',sans-serif;
                font-size: 14px;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 150px;
                //margin-top: .4em;
            }
            .tenant-name {
                font-family: 'ProximaNova-Semibold','Open Sans',sans-serif;
                font-size: 12px;
                margin-top: .25em;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 150px;
            }
            .pd-header-downarrow {
                margin-left: 10px;
            }
        }
        ul.profile-nav-dropdown-menu {
            display: block;
            z-index: 20;
            padding-bottom: 1em;
            margin-top: 0;
            width: 100%;
            border: none;
            -webkit-box-shadow: none;
            -moz-box-shadow:    none;
            box-shadow:         none;
            background: #222;
            & > li {
                text-align: left;
                border-bottom: none;
                & > a {
                    display: block;
                    padding: 4px 28px;
                    color: #fff;
                    width: inherit;
                    &:first-of-type {
                        padding-top: 8px;
                    }
                    &:last-child {
                        padding-bottom: 8px;
                    }
                    &:hover {
                        background: #0d0d0d;
                        color: rgba(255, 255, 255, 1);
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &:after {
        display: table;
        content: "";
        clear: both;
    }
    // @media (max-width: 700px) { 
    //     .page-icon-container {
    //         display: none;
    //     }
    //     .profile-nav {
    //         width: 70px;
    //         div, span {
    //             display: none;
    //         }
    //         .dropdown > ul {
    //             width: 200px;
    //             right: auto;
    //             left: calc(-200px - -70px);
    //         }
    //     }
    // }
}
.profile-nav.dropdown>a.open {
    background-image: url("/assets/images/ico-user-profile.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 12px 50%;
}
body.open-nav .primary-nav [data-stooltip] {
    &:hover {
        &:after {
            display: none;
        }
    }
}
.primary-nav [data-stooltip] {
    perspective: 500px;
    &:after {
        visibility: hidden;
        letter-spacing: 1px; /* makes it look more like sidebar nav */
        color: #eee;
        background: #222831; /* sidebar background */
        transform: rotateY(85deg); /* perspective makes 90deg too far */
        margin-top: -1.8em; /* this isn't great, but translatex(-50%) disables font smoothing/aliasing */
        margin-left: 13px;
        padding: 10px 15px 10px 5px;
        border-radius: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        -webkit-transition: all 150ms ease-out 150ms, opacity 0ms linear 300ms;
        transition: all 150ms ease-out 150ms, opacity 0ms linear 300ms;

        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        pointer-events: none;
        opacity: 0;
    }
    &:hover {
        &:after {
            visibility: visible;
            opacity: 1;

            -webkit-transition: none;
            transition: none;

            -webkit-transform: none;
            transform: none;
        }
    }
}