.progress {
	h2 {
		margin: 0 0 10px;
	}
}

/* 
Spinner Balls 
============================================================ */
.loading {
	width: 18px;
	height: 18px;
	display: inline-block;
	background: url("../img/spin.svg") no-repeat center;
	background-size: 18px 18px;
}
.loading-small {
	width: 18px;
	height: 18px;
	display: inline-block;
	background: url("../images/ajax-loader.gif") no-repeat center;
	background-size: 18px 18px;
}


/* 
Progress Bar 
============================================================ */
.meter {
	height: 36px; 
	position: relative;
	background: #fefefe;
	border: #ccc solid 1px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
	display: block;
	-webkit-transition: width 4s;
    transition: width 4s;
	height: 100%;
	background-color: #a2e264;
	position: relative;
	overflow: hidden;
	&.indeterminate {
		width: 100%;
	}
}
.meter > span:after, .animate > span > span {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image:
	   -webkit-gradient(linear, 0 0, 100% 100%,
	      color-stop(.25, rgba(255, 255, 255, .2)),
	      color-stop(.25, transparent), color-stop(.5, transparent),
	      color-stop(.5, rgba(255, 255, 255, .2)),
	      color-stop(.75, rgba(255, 255, 255, .2)),
	      color-stop(.75, transparent), to(transparent)
	   );
	background-image:
		-moz-linear-gradient(
		  -45deg,
	      rgba(255, 255, 255, .1) 25%,
	      transparent 25%,
	      transparent 50%,
	      rgba(255, 255, 255, .1) 50%,
	      rgba(255, 255, 255, .1) 75%,
	      transparent 75%,
	      transparent
	   );
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	background-size: 50px 50px;
	-webkit-animation: move 2.5s linear infinite;
	-moz-animation: move 2.5s linear infinite;
	animation: move 2.5s linear infinite;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	overflow: hidden;
}
.animate > span:after {
	display: none;
}
@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

@-moz-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}
.orange > span {
	background-color: #f1a165;
	background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
	background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
}
.red > span {
	background-color: #f0a3a3;
	background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
	background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
}
.nostripes > span > span, .nostripes > span:after {
	-webkit-animation: none;
	-moz-animation: none;
	animation: none;
	background-image: none;
}


/* 
Wizard Steps 
============================================================ */

/* Sliding Doors with Sprites
1. Using CSS and Image Sliding Door Technique from 2001 or whenever. 
2. Borders and hovers. 
3. Most scalable. 
4. Most flexible in terms of design.  
==================================== */
.wizard {
	margin: 0;
	padding: 0;
	list-style: none;
	&:after {
		display: table;
		content: "";
		clear: both;
	}
	a, span {
		background-repeat: no-repeat;
		display: block;
	}
	&.job-status {
		float: left;
		margin: 10px 20px 10px 10px;
		li {
			float: left;
			margin-left: -18px;
			& > span {
				background-image: url("/assets/images/bkg-wizard-arrow-end.png");
  				background-position: right -86px;
				margin: 0;
				padding-right: 30px;
				height: 87px;
	    		& > span {
	    			background-image: url("/assets/images/bkg-wizard-arrow-start.png");
	    			background-position: left -92px;
	    			padding:31px 10px 0 50px;
	    			height: 87px;
	    			.pull-right {
	    				margin-left: 20px;
	    			}
	    		}
			}
			&:first-of-type {
				margin-left: 0;
				& > span > span {
		    		background-image: url("/assets/images/bkg-wizard-box-start.png");
	  				background-position: left -92px;
	  				padding-left: 30px;
				}
			}
			&:last-of-type > span {
				background-image: url("/assets/images/bkg-wizard-box-end.png");
  				background-position: right -87px;
  				& > span {
  					padding-right: 6px;
  				}
			}
			&.success {
				& > span {
	  				background-position-y: 0px;
		    		& > span {
	  					background-position-y: -2px;
		    		}
				}
				&:first-of-type > span {
	  				background-position-y: 0px;
				}
				&:last-of-type > span > span {
	  				background-position-y: -2px;
				}
			}
			&.error {
				& > span {
	  				background-position-y: -173px;
		    		span {
	  					background-position-y: -183px;
		    		}
				}
				&:first-of-type > span {
	  				background-position-y: -183px;
				}
				&:last-of-type > span span {
	  				background-position-y: -183px;
				}
				i {
					color: #ff0000;
				}
			}
		}
		.completion-times {
			margin: -6px 0 0;
		}
	}
	&.summary {
		a, span {
			height: 130px;
		}
		li {
			float: left;
			margin: 0;
			padding: 0;
			a {
				background-position: -5px -5px;
	    		padding:5px 15px;
				span {
					background-position: -5px -5px;
				}
			}
			&.active {
				& > span {
					background-position: -5px -5px;
					span {
						background-position: -5px -5px;
					}
				}
			}
		}
	}
}





/* Pure CSS
1. Using pure CSS. 
2. No border support. 
3. Transparent space in between supported, but with pixelized diagonals. 
4. This example is unstyled. 
================================= */
// .wizard {
//   display:table;
//   overflow:hidden;
//   white-space:nowrap;
//   font-size: 18px;
// }
// .wizard li {
//   display:inline-block;
//   margin-right: -18px;
//   line-height: 1.2em;
//   padding: 20px 60px;
//   background:linear-gradient(70deg, transparent  1em, lightgray 1em, lightgray 50%, transparent 50%) top  left no-repeat,
//     linear-gradient(-110deg, transparent 1em, lightgray 1em, lightgray 55%, transparent 55%) top   no-repeat,
//     linear-gradient(-70deg, transparent  1em, lightgray 1em, lightgray 50%, transparent 50%) bottom  left no-repeat,
//     linear-gradient(110deg, transparent 1em, lightgray 1em, lightgray 55%, transparent 55%) bottom   no-repeat;
//   background-size:100% 51.5% ;
  
// }
// .wizard li.active, .wizard li:hover {
//    background:linear-gradient(70deg, transparent  1em, #FF0000 1em, #FF0000 50%, transparent 50%) top  left no-repeat,
//     linear-gradient(-110deg, transparent 1em, #FF0000 1em, #FF0000 55%, transparent 55%) top   no-repeat,
//     linear-gradient(-70deg, transparent  1em, #FF0000 1em, #FF0000 50%, transparent 50%) bottom  left no-repeat,
//     linear-gradient(110deg, transparent 1em, #FF0000 1em, #FF0000 55%, transparent 55%) bottom   no-repeat;
//   background-size:100% 51.5% ;
//   }
// .wizard li.active a {
//   text-decoration:none;
//   transition:0.2s;
// }
// .wizard li.active a, .wizard li:hover a {  
//   color:white;  
// }
