/* 
Page Summary / Sub-Nav Headers
==================================================== */
.summary {
  text-align: center;
  background-color: #11507B;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &.blue-steel {
    background-image: url("/assets/images/bkg-blue-steel.jpg");
  }
  &.blue-fire{
    background-image: url("/assets/images/bkg-blue-fire.jpg");
  }

  h1, h2, h3, h4, p {
    color: #fff;
    &.summary-title {
      color: #222;
    }
  }
  p {
    font-size: 20px;
  }

  .headers {
    padding: 40px 0;
  }

  .data {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    & > div {
        margin: 7px;
        min-height: auto;
    }
    @include media(">470px") {
      flex-direction: row;
      flex-wrap: wrap;
      & > div {
        width: 46%;
      }
    }
    @include media(">740px") {
      padding: 40px 0;
      flex-wrap: nowrap;
      & > div {
        width: inherit;
      }
    }
  }

  .nav {
    padding: 3px 0 0;
    margin-left: -1px;
    text-align: left;
    position: relative;
    left: -1px;
    p {
      float: right;
      margin-right: 20px;
      font-style: italic;
    }
    .nav-primary-button {
      margin-right: 3px;
    }
    &.review-model {
      .button.angled-button:before, .button.angled-button:after {
        width: 113px;
      }
      .button.angled-button {
        width: 219px;
      }
    }
  }

  .wizard {
    padding: 40px 0;
  }

  .black-summary-list.stats dt {
    color: rgba(255, 255, 255, 0.8);  
  }
  .black-summary-list.stats dd {
    font-size: 1em;
  }
  .black-summary-list.stats h3.summary-title {
    color: #fff;
    text-align: left;
  }
  .twelve .summary-list {
  	float: left;
  	width: 100%;
  	margin-bottom: 4px;
  	@include media(">small") {
  		width: calc(50% - 4px);
  		&:nth-child(odd) {
  			margin-right: 4px;
  		}
  	}
  	@include media(">xlarge") {
  		width: calc(25% - 4px);
  		&:nth-child(-n+3) {
  			margin-right: 4px;
  		}
  	}
  }
  .summary-list, .stats {
  	padding: 18px;
  	background: rgba(255, 255, 255, 0.9);
  	color: $dark-gray;
  	&.black-summary-list {
  	  background: rgba(0, 0, 0, 0.5);
  	  color: #fff;
  	}
  }
}
