/*
Simple Tabs
==================================== */
ul.tabs_ {
    @include flex-container;
    border-bottom: 1px solid #d0d0d0;
    font-weight: bold;
    margin-bottom: 15px;
    li {
        @include flex-item(0 1 auto);
        padding: 0.6em 1.5em;
        margin-right: .5em;
        background: #f1f1f1;
        border: 1px solid #d0d0d0;
        position: relative;
        top: 1px;
        border-radius: 4px 4px 0 0;
        cursor: pointer;
        &.active {
            background: inherit;
            cursor: default;
            border-bottom: 1px solid #fafafa;
        }
        &.disabled {
          color: #b5b5b5;
          &:hover {
            cursor: default;
          }
        }
    }
}


/* 
Toggle Switch Tabs
==================================================== */

.toggle-check {
    & > label:first-of-type {
        float: left;
        margin-right: 7px;
        margin-top: 3px;
    }
}
input.toggle-switch:empty
{
    margin-left: -9999px;
}

input.toggle-switch:empty ~ label
{
    position: relative;
    float: left;
    line-height: 1.6em;
    text-indent: 4em;
    margin: 0.2em 0;
    cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.toggle-switch:empty ~ label:before, 
input.toggle-switch:empty ~ label:after
{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    width: 3.6em;
    background-color: #d0d0d0;
    border-radius: 20px;
    -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

input.toggle-switch:empty ~ label:after
{
    width: 16px;
    height: 16px;
    top: 3px;
    bottom: 0.1em;
    margin-left: 3px;
    background-color: #000;
    border-radius: 100%;
}

input.toggle-switch:checked ~ label:after
{
    margin-left: 32px;
}



/* 
Link Tabs
==================================================== */
.link-tabs {
  margin: 0;
  padding: 0;
  li {
    display: inline;
    &:after {
      content: " | ";
      color: #bbb;
    }
    &:last-of-type:after {
      content: "";
    }
    a {
      padding: 4px;
      font-size: 16px;
      &.selected {
        color: #333;
        font-family: 'ProximaNova-Bold','Open Sans',sans-serif;
      }
    }
  }
}

/*
Standard Navigation Tabs
================================================== */
section.tabs.navigation:last-child,
.tabs.navigation {
    position: relative;
    background: #E2E3E5;
    margin: 0;
    
    & > ul {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        border-left: 3px solid #F9F9F9;
        display: flex;
        
        & > li {
            display: inline-block;
            cursor: pointer;
            border-right: 3px solid #F9F9F9;
            
            & > a {
                display: inline-block;
                border-top: 3px solid transparent;
                padding: 1em 3em;
                font-size: 12px;
                color: #222;
            }

            &:hover > a {
                //background-color: #ffffff;
                border-top-color: #457EBA;
            }
            &.disabled {
                & > a {
                    color: #8e8e8e;
                }
                &:hover > a {
                    border-top-color: transparent;
                    background-color: #E2E3E5;
                }
            }
            
            &.active > a {
                background-color: #fafafa;
                border-top-color: #ef6a30;
            }
        }
    }
}

/*
Chunky Interior Tabs (My Data, Play List, etc...)
================================================== */
.tabs,
.tabs * {
    -webkit-transition: none;
    transition: none;
}
.tabs.interior {
    @include flex-container;
    position: relative;
    z-index: 3;
    &:hover {
        z-index: 6;
    }
    background: #E2E3E5;
    margin-top: 0;
    margin-bottom: 2em;
    &.stretched > ul > li {
            @include flex-item(1 1 auto);
            max-width: 100%;
    }
    &:not(.stretched) > ul > li > div {
        position: relative;
    }
    & > ul {
        @include flex-container;
        @include flex-item(1 1 auto);
        border-left: 3px solid #FFFFFF;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        & > li {
            border-right: 3px solid #FFFFFF;
            font-size: 9px;
            position: relative;
            height: 60px;
            cursor: pointer;
            .tab-container {
                margin: 0;
                padding: 11px 20px;
                border-top: 3px solid transparent;
                border-bottom: 1px solid transparent;
                height: calc(100% + 1px);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 2;
                cursor: pointer;
            }
            &:last-child {
                border-right: 3px solid #F9F9F9;
            }
            &:hover {
                .tab-container {
                    border-top-color: #457EBA;
                    border-bottom-color: transparent;
                    z-index: 1;
                }
            }
            &:active {
                .tab-container {
                    border-top-color: #ef6a30;
                }
            }
            &.active {
                background: #fafafa;
                pointer-events: none;
                .more-info {
                    pointer-events: all;
                    z-index: 999;
                }
                .tab-container {
                    border-top-color: #ef6a30;
                    border-bottom-color: transparent;
                    background: #f9f9f9;
                    z-index: 1;
                    //cursor: default;
                }
            }
            .count {
                color: #222;
                font-size: 15px;
            }
            &.disabled {
                display: none;
            }
            .enrichmentCounts {
                    white-space: nowrap;
                    text-transform: uppercase;
                    color: #222;
                    .count {
                        margin-right: 5px;
                        &:not(:first-child) {
                            margin-left: 8px;
                            padding-left: 9px;
                            border-left: 1px solid #999;
                        }
                    }
                }
            & > .tab-container > h2 {
                position: relative;
                text-transform: uppercase;
                font-size: 11px;
                color: #222;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    margin-top: -1px;
                    height: 20px;
                    width: 20px;
                    background-size: contain;
                }
            }
            &.tab-browse {
                .tab-container > h2 {
                    padding-left: 24px;
                    &:after {
                        height: 16px;
                        width: 16px;
                        background: url(/assets/images/enrichments/tabs/attribute.png) no-repeat center center;
                    }
                }
            }
            &.tab-edit {
                .tab-container > h2 {
                    padding-left: 24px;
                    &:after {
                        height: 16px;
                        width: 16px;
                        background: url(/assets/images/enrichments/tabs/accounts.png) no-repeat center center;
                    }
                }
            }
            &.tab-team {
                .tab-container > h2 {
                    padding-left: 24px;
                    &:after {
                        height: 16px;
                        width: 16px;
                        background: url(/assets/images/enrichments/tabs/contacts.png) no-repeat center center;
                    }
                }
            }
            &.tab-lookup {
                &.active {
                    pointer-events: none;
                }
                h2 {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    padding: 0;
                    text-align: center;
                }
            }
            h2, h3 {
                font-weight: normal;
            }
            h2 {
                font-size: 13px;
            }
            h3 {
                font-size: 18px;
                color: white;
            }
            .more-info {
                padding: 2px;
                text-align: center;
                width: 11px;
                height: 11px;
                position: relative;
                top: -1px;
                font-size: 8px;
                margin-left: 1em;
                text-transform: none;
                .tooltip_{
                    text-align: left;
                }
            }
        }
    }
}



// /* 
// Tabs
// ==================================================== */
// .tabs {
//   position: relative;   
//   min-height: 410px; /* This part sucks */
//   clear: both;
//   margin: 25px 0;
// }
// .tab {
//   float: left;
// }
// .tab > label {
//   padding: 12px 16px;  
//   margin-left: -1px; 
//   position: relative;
//   left: 1px; 
//   display: inline;
// }
// .tab > [type=radio] {
//   display: none;   
// }
// .content {
//   position: absolute;
//   top: 28px;
//   left: 0;
//   right: 0;
//   background: white;
//   bottom: 0;
//   padding-top: 20px;
//   border-top: 1px solid #ccc; 
//   &:after {
//     display: table;
//     content: "";
//     clear: both;
//   }
// }
// [type=radio]:checked ~ label {
//   background: white;
//   color: #498ad4;
//   border-top: 1px solid #ccc; 
//   border-left: 1px solid #ccc; 
//   border-right: 1px solid #ccc; 
//   border-bottom: 1px solid white;
//   z-index: 2;
//   outline: none;
//   border: none;
// }
// [type=radio]:checked ~ label ~ .content {
//   z-index: 1;
// }