<div class="success-message subheader-success-message" ng-if="vm.displayExportBanner"> 
    <h3> Your export request was accepted. You will receive an email with a download link once it is complete.  </h3>
    <i class="fa fa-times fa-inverse" data-ng-click="vm.hideExportBanner()"></i>
</div>

<div class="enrichment-wizard-container container explorer-subheader-tabs">
    <ul class="subheader-tabs-links" ng-if="vm.checkState('builder') || vm.checkState('attributes')">
        <li ng-click="vm.clickAttributes()" ng-class="{'active':vm.checkState('attributes')}">Select Attributes</li>
        <li>|</li>
        <li ng-click="vm.clickBuilder()" ng-class="{'active':vm.checkState('builder')}">Query Builder</li>
    </ul>
    <ul class="subheader-tabs-links" ng-if="vm.checkState('accounts')">
        <li>Accounts</li>
    </ul>
    <ul class="subheader-tabs-links" ng-if="vm.checkState('contacts')">
        <li>Contacts</li>
    </ul>
    <ul class="subheader-tabs-buttons">
        <li class="save-segment">
<!--             <button class="save button white-button dropdown-container" ng-click="vm.toggleExportDropdown($event)" ng-mouseover="vm.showExportDropdown=true"> 
                <div> 
                    Export 
                    <span class="fa fa-chevron-down" ng-class="{'fa-rotate-180' : vm.showExportDropdown}"></span>
                    <div>
                </div>
                <div ng-show="vm.showExportDropdown">
                    <ul class="model-menu">
                        <li data-ng-click="vm.exportSegment('ACCOUNT')">
                            <a href="javascript:void(0)"> Accounts
                                <i class="fa fa-building-o"></i> 
                            </a>
                        </li>
                        <li data-ng-click="vm.exportSegment('CONTACT')">
                            <a href="javascript:void(0)"> Contacts
                                <i class="fa fa-users"></i>
                            </a>
                        </li>
                        <li data-ng-click="vm.exportSegment('ACCOUNT_AND_CONTACT')">
                            <a href="javascript:void(0)"> Accounts and Contacts 
                                <i class="fa fa-briefcase"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </button> -->
            <menu-dropdown config="vm.header.exportSegment" class="button" style="padding-right:0px;"></menu-dropdown>
            &nbsp;
            <button class="clear button white-button" 
                    ng-click="vm.clearSegment()" 
                    ng-if="vm.segment == 'Create'"
                    ng-disabled="true">
                Clear
            </button>
            &nbsp;
            <button class="save button blue-button" 
                    ng-click="vm.saveSegment()" 
                    ng-disabled="!vm.public.enableSaveSegmentButton">
                    {{ vm.segment == 'Create' ? 'Creat' : 'Sav' }}{{vm.isSaving ? 'ing' : 'e'}} Segment
            <i class="fa fa-spinner fa-spin fa-fw" ng-if="vm.isSaving"></i>
            </button>
        </li>
    </ul>
</div>
