<div class="chips-query-container">

    <div class="chips-container">
        <div class="chip" ng-repeat="(key, item) in chips">
            <div class="chip-container">
                <span>{{getDisplayName(item)}}</span>
                <i class="chip-remove fa fa-times" aria-hidden="true" ng-click="removeItem(item)"></i>
            </div>
        </div>
    </div>

    <div class="text-container dropdown" ng-class="{
                'show-dropdown': showQueryList,
                'show-header': showHeader
            }">
        <div ng-class="{'ng-search': showIcon}" ng-show="!isSelectionDone()">
            <a class="button icon-button white-button" ng-if="showIcon">
                <span class="{{getClassIcon()}}"></span>
            </a>
            <input id="id" class="query" type="text" placeholder="{{placeholder}}" ng-keyup="queryKeyPressed($event)"
                ng-focus="focusInput($event)" ng-blur="blurText()" ng-model="query" ng-show="!isSelectionDone()"
                autocomplete="off">
        </div>

        <i ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
            <div class="dropdown-content query-result-header" ng-class="(showQueryList) ?'show-dropdown' : ''"
                ng-if="showHeader && (filteredItems || []).length > 0">
                <div class="query-result-row">
                    <span>
                        <span class="pull-right" ng-if="header[1]" ng-click="sort(altlabel)">{{header[1]}}<i
                                ng-if="sortId == altlabel" class="fa" ng-class="{
                        'fa-chevron-down': !sortreverse,
                        'fa-chevron-up': sortreverse
                    }"></i></span>
                        <span ng-click="sort(id)">{{header[0]}}<i ng-if="sortId == id" class="fa" ng-class="{
                        'fa-chevron-down': !sortreverse,
                        'fa-chevron-up': sortreverse
                    }"></i></span>
                    </span>
                </div>
            </div>
            <div class="dropdown-content" ng-class="(showQueryList) ?'show-dropdown' : ''"
                ng-show="(filteredItems || []).length > 0">
                <div class="query-result-row"
                    ng-repeat="item in (filteredItems = (queryItems | filter: filterFunction ))"
                    ng-class="(isRowSelected($index)) ?'query-result-selected-test' : ''">
                    <span ng-click="chooseItem(item)" title="{{getDisplayName(item)}}">
                        <span class="pull-right" ng-if="getAltLabel(item)">{{getAltLabel(item)}}</span>
                        {{getDisplayName(item)}}
                    </span>
                    <i class="fa fa-trash-o" aria-hidden="true" ng-if="showRemove()" ng-click="removeRow(item)"></i>
                </div>
            </div>
        </i>
    </div>

</div>

<!-- ng-mouseover="hoverIn()"  -->
<!-- ng-mouseleave="hoverOut()" -->