<p>
    Upload a CSV file containing one row for each product ID with its attributes in separate columns. 
    You can always update and add new heiarchy later.
</p>

<a href="assets/downloads/product-sample.csv" target="_self" class="download-link"><i class="fa fa-download"></i> Download a sample CSV file that has all of the required fields.</a>

<p>{{vm.ResourceUtility.getString('IMPORT_SAMPLE_FILE_LABEL')}}:</p>
<div class="table example-table">
    <table>
        <thead>
            <tr>
                <th>Product&nbsp;ID</th>
                <th>Product&nbsp;Category</th>
                <th>Product&nbsp;Family</th>
                <th>Product&nbsp;Line&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>721</td>
                <td>Multimedia</td>
                <td>Digital&nbsp;Goods</td>
                <td>T256</td>
            </tr>
            <tr>
                <td>722</td>
                <td>Design&nbsp;Software</td>
                <td>Software</td>
                <td>T360</td>
            </tr>
            <tr>
                <td>723</td>
                <td>Computer&nbsp;Software</td>
                <td>Software</td>
                <td>T361</td>
            </tr>
        </tbody>
    </table>
</div>