#api-console {
    margin-top: 1px;

    .summary {
        position: relative;
        padding: 16px 0;
    }
    .summary .caption {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 25%;
        background: transparent;
    }
    .summary .caption.left {
        left: 0;
        border-width: 0px 32px 32px 0px;
        border-style: none solid solid none;
        border-color: transparent transparent #FFF transparent;
    }
    .summary .caption.right {
        right: 0;
        border-width : 0 32px 32px 32px;
        border-style : none solid solid solid;
        border-color : transparent #FFF #FFF transparent;
    }
    .summary .fa-exchange {
        position: absolute;
        left: 50%;
        top: 7px;
        color: #FFF;
        font-size: 1.4em;
        margin-left: -10px;
    }
    .summary label {
        margin: 5px 0 0 0 !important;
        font-size: 1.3em !important;
        text-transform: uppercase !important;
        letter-spacing: 4px !important;
    }
    .main-content, #mainView {
        padding: 0 !important;
    }
    .row-group {
        margin-bottom: 20px;
    }
    .row {
        margin-bottom: 8px;
    }
    .columns.left {
        width: 41%;
    }
    .columns.right {
        width: 55%;
    }
    .columns.half {
        width: 50%;
        margin: 0;
        padding-top: 30px;
        min-height: 700px;
    }
    .columns.border-right {
        border-right: 1px solid #CCC;
    }
    .columns.second {
        padding-left: 2.5%;
    }
    .title {
        margin: 7px 0 3px 7px !important;
        font-size: 18px;
        text-transform: uppercase;
    }
    .button {
        padding: 0.4em 0.9em !important;
        margin: 0.2em !important;
    }
    label.form-control {
        margin: 0;
        border-color: transparent !important;
    }
    input.mandatory {
        border-left: #ef6a30 solid 5px;
    }
    .score {
        margin-top: 16px;
    }
    .score label.form-control {
        border: none;
        padding: 0;
    }
    .local-error {
        text-align: left;
        text-indent: 2px;
        font-size: 1.1em;
        font-style: normal;
    }
    .local-error i {
        margin-right: 6px;
    }
    .resonse-json {
        margin: 16px 0;
        border: 1px solid #CCC;
        padding: 8px 16px;
    }
    .resonse-json pre {
        overflow: auto;
        max-height: 600px;
    }
}