@import '../../colors.scss';
@import '../../layout/layout.scss';


.le-tile{
    
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 1px solid $silver;
    border-radius: 5px;
    max-width: 450px;
    .le-header{
        border-bottom: 1px solid $silver;
        align-items: center;
        flex-wrap: nowrap;
    }
    .le-footer{
        border-top: 1px solid $silver;
        align-items: center;
    }
}