@import '../../colors.scss';
@import '../../layout/layout.scss';


.le-tile{
    max-width: 350px;
    min-width: 100px;
    padding: 0;
    border: 1px solid $silver;
    border-radius: 5px;

    .le-header{
        border-bottom: 1px solid $silver;
        align-items: center;
    }
    .le-footer{
        border-top: 1px solid $silver;
        align-items: center;
    }
}