
<div class="box-inner {{vm.categoryClass(vm.category)}} background color border-top round-box"
     ng-class="{active: vm.subcategory == subcategory}">
    <span>

        <h2 class="noselect-children">
            <div class="category-icon-container">
                <div class="category-icon"></div>
            </div>
            <div class="category-label">{{subcategory}}</div>
        </h2>

        <span class="count noselect-children">
            <strong>{{ count|number }}</strong>
        </span>

        <div class="attributes-container">
            <ul class="attributes noselect-children">
                <li class="header" ng-show="subcategoryAttributes.length > 0">
                    <div class="column label">{{ vm.lookupMode ? 'Attribute' : vm.generateTileTableLabel(subcategoryAttributes) }}</div>
                    <div class="column data" ng-if="vm.section == 'segment.analysis'">Value</div>
                    <div class="column data">{{ vm.lookupMode ? 'Value' : 'Records' }}</div>
                </li>

                <!-- | filter: vm.enrichmentsFilter() -->
                <li     class="attribute delay top"
                        ng-repeat="attribute in (subcategoryAttributes = (vm.getTileTableItems(vm.category, subcategory).other
                            | filter: vm.enrichmentsFilter()
                            | filter: vm.filterHideTrue
                            | orderBy: vm.categoryOrderBy(vm.category, subcategory)
                            | limitTo: 5))"
                        ng-class="{
                            'ignore-ngclick': vm.section !== 'segment.analysis',
                            'show-tooltip': vm.section == 'segment.analysis'
                        }"
                        ng-click="vm.selectSegmentAttribute(attribute)"
                        ng-style="{'pointer-events': (vm.section == 'segment.analysis' ? 'all' : 'none')}">

                    {{ Rules = vm.getAttributeRules(attribute); "" }}
                    {{ Value = vm.formatAttributeValue(attribute, Rules); "" }}

                    <div class="column checkspace show-tooltip delay top left" ng-if="vm.section == 'segment.analysis' || vm.mode == 'dashboardrules'">
                        <!--input  type="checkbox" 
                                id="{{attribute.Attribute || attribute.ColumnId}}" 
                                name="{{attribute.Attribute || attribute.ColumnId}}" 
                                ng-show="false"
                                ng-model="vm.segmentAttributeInput[attribute.Attribute || attribute.ColumnId]" 
                                ng-checked="vm.segmentAttributeInput[attribute.Attribute || attribute.ColumnId] || attribute.SegmentChecked" 
                                ng-if="vm.section == 'segment.analysis'" /-->
                        <i class="plus fa fa-plus" ng-if="Rules.length == 0"></i>
                        <i class="plus fa fa-check" ng-if="Rules.length == 1"></i>
                        <i class="plus attribute-use-count" ng-if="Rules.length >= 2">{{ Rules.length }}</i>
                        <i class="fa fa-check" ng-if="Rules.length == 1"></i>
                        <i class="attribute-use-count" ng-if="Rules.length >= 2">
                            {{ Rules.length }}
                        </i>
                        <div class="tooltip_" ng-if="Rules.length >= 1">
                            <div class="cover" ng-if="Rules.length == 1">
                                <h3>Attribute Selected</h3>
                                <p>This attribute has been used already and can be used again in another query condition. Go to Refine Query to make changes.</p>
                                <em>Query Snippet:</em>
                                <ul>
                                    <li ng-repeat="rule in Rules">{{attribute.DisplayName}} is {{rule.bucketRestriction.bkt.Lbl}}</li>
                                </ul>
                            </div>
                            <div class="cover" ng-if="Rules.length >= 2">
                                <h3>Multiple Uses</h3>
                                <p>This attribute has been used more than once.<br>Go to Refine Query to make changes.</p>
                                <em>Query Snippets:</em>
                                <ul>
                                    <li ng-repeat="rule in Rules | limitTo: 3">{{attribute.DisplayName}} is {{rule.bucketRestriction.bkt.Lbl}}</li>
                                    <li ng-if="Rules.length == 4">{{attribute.DisplayName}} is {{Rules[3].bucketRestriction.bkt.Lbl}}</li>
                                    <li ng-if="Rules.length > 4">
                                        And {{Rules.length - 3}} other instances
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--i class="plus fa fa-plus" ng-if="!(vm.segmentAttributeInput[attribute.Attribute || attribute.ColumnId] || attribute.SegmentChecked)"></i>
                        <i class="plus fa fa-check" ng-if="(vm.segmentAttributeInput[attribute.Attribute || attribute.ColumnId] || attribute.SegmentChecked)"></i>
                        <i class="fa fa-check" ng-if="vm.getAttributeUseCount(attribute) == 1"></i>
                        <i class="attribute-use-count" ng-if="vm.getAttributeUseCount(attribute) > 1">{{ vm.getAttributeUseCount(attribute) }}</i-->
                    </div>
                    <div class="tooltip_" ng-if="vm.section == 'segment.analysis' && vm.getAttributeRules(attribute).length == 0">
                        <div class="cover">
                            <h3>Select Attribute</h3>
                            <p>Match accounts that have this condition. By default this is an AND condition with other selections. Go to Refine Query to make changes and use advanced query language</p>
                            <em>Click to select this attribute</em>
                        </div>
                    </div>
                    <div class="column label" title="{{attribute.DisplayName}}">
                        <strong ng-if="attribute.DisplayName">{{ attribute.DisplayName }}</strong>
                        <strong ng-if="!attribute.DisplayName">{{ attribute.Attribute }}</strong>
                    </div>
                    <div    class="column data data-value-{{ attribute.Value == 'Yes' ? 'yes' : 'no' }} values" 
                            ng-class="{ 'inherit-color': vm.isSpecialAttributeValue(Value) }"
                            ng-if="vm.lookupMode || vm.section == 'segment.analysis'">
                        <div class="attribute-feedback-container">
                            <attribute-feedback-button 
                                button-type="'infodot'" 
                                attribute="attribute" 
                                value="vm.filterLookupFiltered(attribute.Value, attribute.FundamentalType)" 
                                icon-image="vm.categoryIcon(vm.category)"
                                category-class="vm.categoryClass(vm.category)"
                                ng-if="vm.lookupMode && vm.hasCompanyInfo" />

                            <strong ng-if="attribute.Value">{{ vm.filterLookupFiltered(attribute.Value, attribute.FundamentalType) }}</strong>
                            <strong ng-if="!attribute.Value && attribute.TopBkt.Lbl">{{ Value }}</strong>

                        </div>
                    </div>

                    <div class="column data records" ng-if="!vm.lookupMode">
                        <strong ng-if="vm.section != 'segment.analysis'">{{ vm.getCount(attribute) | number }}</strong>
                        <strong ng-if="vm.section == 'segment.analysis'">{{ vm.formatAttributeRecords(Value, (attribute.TopBkt.Cnt|number)) }}</strong>
                    </div>

                </li>
            </ul>

            <div class="attributes-more noselect" ng-if="count > 5">More</div>
        </div>
    </span>
    <ul class="controls noselect" ng-if="!vm.lookupMode">
        <li class="control highlight dropdown-container" ng-if="vm.section == 'team'" ng-init="vm.openHighlighter[vm.category + subcategory] = {}">
            <!-- this can't be a <button> element because IE and FF don't like it -->
            <div class="button"
                    ng-class="{'selected': vm.openHighlighter[vm.category + subcategory].open, 'enabled': vm.highlightTypesCategoryLabel(vm.category, subcategory).type == 'enabled' || vm.highlightTypesCategoryLabel(vm.category, subcategory).type == 'dirty'}"
                    ng-click="vm.closeHighlighterButtons(vm.category + subcategory); vm.openHighlighter[vm.category + subcategory].open = !vm.openHighlighter[vm.category + subcategory].open">
                <span class="highlight-icon {{vm.highlightTypesCategoryLabel(vm.category, subcategory).type}}">
                    {{vm.highlightTypesCategoryLabel(vm.category, subcategory).label}} 
                </span>
                <ul ng-class="{open: vm.openHighlighter[vm.category + subcategory].open}" class="highlightOptions button-dropdown">
                    <li ng-repeat="(type, label) in vm.highlightTypesCategory" class="highlight-icon {{type}}" ng-class="{'disable-enable-all': vm.highlightTypesCategoryLabel(vm.category, subcategory).type == type}" ng-click="vm.setFlagsByCategory(type, vm.category, subcategory)">{{label}}</li>
                </ul>

            </div>
        </li>
    </ul>
</div>