<div class="attribute-stats">
    <div>
        <div class="flex-row header">
            <div class="flex-item flex-item-left flex-graph-container text-ellipsis">
                <span>{{$ctrl.header}}</span>
            </div>
            <div class="flex-item flex-value flex-item-right text-ellipsis" ng-repeat="column in $ctrl.getColumns()">{{column.label}}</div>
        </div>
        <div class="nostats-container" ng-if="$ctrl.bktlist.length == 0">{{$ctrl.emptymsg}}</div>
        <div class="row-container" ng-repeat="stat in $ctrl.bktlist" ng-mouseenter="$ctrl.rowHover=$index" ng-mouseleave="$ctrl.rowHover = -1">
            <div class="flex-row content-item" ng-click="$ctrl.clicked(stat)">
                <div class="flex-item flex-actions text-ellipsis flex-item-left" ng-if="$ctrl.showstatcount">
                    <i class="plus fa fa-plus" ng-if="$ctrl.getStatCount(stat) == 0 && ($index == $ctrl.rowHover)"></i>
                    <i class="plus fa fa-check" ng-if="$ctrl.getStatCount(stat) == 1" ng-style="{'color': color}"></i>
                    <i class="plus attribute-use-count" ng-if="$ctrl.getStatCount(stat) >= 2">{{ $ctrl.getStatCount(stat) }}</i>
                </div>
                <div class="flex-item flex-lable text-ellipsis flex-item-right"><span>{{stat.Lbl}}{{stat.bucket_name}}</span></div>
                <div class="flex-item flex-graph-container flex-item-left">
                    <div class="bar-graph" style="width: 0%;" ng-style="{'width': $ctrl.getHorizontalPercentage(stat, 0), 'background-color': $ctrl.getBarColor(stat)}">
                    </div>
                </div>
                <div class="flex-item flex-value text-ellipsis flex-item-right" ng-repeat="column in $ctrl.getColumns()">{{$ctrl.getValue(stat, column)}}</div>
            </div>
            <!-- Mouse Hover layer -->
            <div class="mouse-over" ng-if="$ctrl.mousehover" ng-style="$index===$ctrl.rowHover ? {'background-color': $ctrl.getMouseOverColor()} : {'background-color':''}"
                ng-click="$ctrl.clicked(stat)"></div>
            <!--  -->
        </div>

        <!-- X axis Layer -->
        <div class="vlines-container" ng-if="$ctrl.showVerticalLines()">
            <ul class="flex-row">
                <li class="flex-item flex-lable">
                </li>
                <ul class="flex-item flex-graph-container flex-item-left">
                    <li class="vline" ng-style="{'width': line.perc}" ng-repeat="line in $ctrl.getVerticalLines()">
                        <div></div>
                        <span>{{line.label}}</span>
                    </li>
                </ul>
                <li class="flex-item flex-value" ng-repeat="column in $ctrl.getColumns()"></li>
            </ul>

        </div>
        <!--  -->
    </div>
</div>