<form action="" name="$ctrl.attr_edit_form" class="attr-results-container">
    <ul class="attr-pagination-top" ng-if="filteredList.length > $ctrl.filters.pagesize">
        <li class="attr-pagination">
            <pd-pagination-controls
                    current="$ctrl.filters.page"
                    max="$ctrl.max = filteredList.length / $ctrl.filters.pagesize">
            </pd-pagination-controls>
        </li>
    </ul>

    <div class="attr-list-noresults" ng-if="!filteredList || filteredList.length === 0">
        No Results.
    </div>

    <ul class="attr-list-results attr-edit-list noselect-children">
        <li ng-if="filteredList && filteredList.length > 0">
            <div class="attr-result-label edit-attribute-name" ng-click="$ctrl.toggleAll()">
                <label>
                    Attribute Name
                </label>
            </div>

            <div class="attr-result-label edit-attribute-displayname" ng-click="$ctrl.toggleAll()">
                <label>
                    Display Name
                </label>
            </div>

            <div class="attr-result-label edit-attribute-description" ng-click="$ctrl.toggleAll()">
                <label>
                    Description
                </label>
            </div>
        </li>

        <li ng-repeat="item in (filteredList = ($ctrl.getResults()
                        | filter: $ctrl.filters.queryText
                        | filter: $ctrl.getFiltering()))
                        | orderBy: [ $ctrl.filters.sortPrefix + 'Attribute' ]
                        | startFrom: ($ctrl.filters.page - 1) * $ctrl.getPageSize()
                        | limitTo: $ctrl.getPageSize()">

            <div class="edit-attribute-name">
                <label for="attrDisplayName_{{$index}}" title="{{ item.Attribute }}">
                    {{ item.Attribute }}
                </label>
            </div>
            
            <div class="edit-attribute-displayname">
                <input 
                        name="attrDisplayName_{{$index}}" 
                        id="attrDisplayName_{{$index}}" 
                        type="text" 
                        class="form-control"
                        maxlength="63"
                        ng-model="item.DisplayName"
                        ng-blur="$ctrl.onBlur(item, 'attrDisplayName_' + $index)"
                        ng-disabled="$ctrl.isStartsDisabled()">
                </input>
            </div>

            <div class="edit-attribute-description">
                <textarea
                        ng-init="maxlength = 63;"
                        maxlength="{{maxlength}}"
                        name="attrDescription_{{$index}}" 
                        id="attrDescription_{{$index}}" 
                        class="form-control"
                        ng-model="item.Description" 
                        ng-blur="$ctrl.onBlur(item, 'attrDescription_' + $index)"
                        ng-disabled="$ctrl.isStartsDisabled()">
                </textarea>
                <em ng-class="{'low': item.Description.length < maxlength/3, 'medium': item.Description.length > maxlength/3 && item.Description.length < maxlength/3*2, 'high': item.Description.length > maxlength/3*2}">({{item.Description.length}})</em>
            </div>

        </li>
    </ul>

    <ul class="attr-pagination-bottom" ng-if="filteredList.length > $ctrl.filters.pagesize">
        <li class="attr-pagination pull-right">
            <pd-pagination-controls
                    current="$ctrl.filters.page"
                    max="$ctrl.max = filteredList.length / $ctrl.filters.pagesize">
            </pd-pagination-controls>
        </li>
    </ul>
</form>