.ie-9, .ie-10, .ie-11 {

	.uploaded-leads {
		background-position: center 0px;
	}

	.secondary-nav .profile-nav {
		max-width: 300px;
	}

	.ratings-chart .data {
		background: transparent;
		z-index: 3;
		li {
			background-color: rgba(255,255,255,0.7);
			border-top: rgba(255,255,255,0.9) solid 3px;	
		}
	}


	.bar-colors {
		z-index: 2;
		&.buckets-6 {
			.overlay {
				&:nth-child(1) {
					background-color: rgba(81, 166, 253, 1);
				}
				&:nth-child(2) {
					background-color: rgba(84, 152, 221, 1);
				}
				&:nth-child(3) {
					background-color: rgba(71, 136, 202, 1);
				}
				&:nth-child(4) {
					background-color: rgba(53, 122, 193, 1);
				}
				&:nth-child(5) {
					background-color: rgba(26, 102, 180, 1);
				}
				&:nth-child(6) {
					background-color: rgba(17, 84, 153, 1);
				}
			}
		}
		&.buckets-5 {
			.overlay {
				&:nth-child(1) {
					background-color: rgba(81, 166, 253, 1);
				}
				&:nth-child(2) {
					background-color: rgba(84, 152, 221, 1);
				}
				&:nth-child(3) {
					background-color: rgba(71, 136, 202, 1);
				}
				&:nth-child(4) {
					background-color: rgba(53, 122, 193, 1);
				}
				&:nth-child(5) {
					background-color: rgba(17, 84, 153, 1);
				}
			}
		}
		&.buckets-4 {
			.overlay {
				&:nth-child(1) {
					background-color: rgba(81, 166, 253, 1);
				}
				&:nth-child(2) {
					background-color: rgba(84, 152, 221, 1);
				}
				&:nth-child(3) {
					background-color: rgba(71, 136, 202, 1);
				}
				&:nth-child(4) {
					background-color: rgba(17, 84, 153, 1);
				}
			}
		}
		&.buckets-3 {
			.overlay {
				&:nth-child(1) {
					background-color: rgba(81, 166, 253, 1);
				}
				&:nth-child(2) {
					background-color: rgba(84, 152, 221, 1);
				}
				&:nth-child(3) {
					background-color: rgba(17, 84, 153, 1);
				}
			}
		}
		&.buckets-2 {
			.overlay {
				&:nth-child(1) {
					background-color: rgba(81, 166, 253, 1);
				}
				&:nth-child(2) {
					background-color: rgba(17, 84, 153, 1);
				}
			}
		}
	}

}