<div id="adminInfoAlertsTable" class="panel panel-default" data-ng-controller="AdminInfoAlertsWidgetController">
    <div class="panel-body model-admin-info">
        <div class="global-error local-error", data-ng-show="showErrorMessage === true" >
            <span><i class="fa fa-exclamation-circle fa-inverse"></i> {{alertTabErrorMessage}}</span>
       </div>
        <table class="table", data-ng-show="showErrorMessage === false">
            <thead>
                <tr>
                    <th><h3>{{warnings.modelQualityWarningsTitle}}</h3>{{warnings.modelQualityWarningsLabel}}</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="warning in warnings.modelQualityWarnings">
                    <td><h4>{{warning.title}}</h4>{{warning.description}}<div class="impacted-elems" data-ng-if="warning.impactedContent != null">{{warning.impactedLabel}}<h5>&nbsp;{{warning.impactedContent}}</h5></div></td>
                </tr>
                <tr data-ng-if="warnings.noModelQualityWarnings">
                    <td><h4>{{warnings.noWarning}}</h4></td>
                </tr>
            </tbody>
        </table>
        <table class="table", data-ng-show="showErrorMessage === false">
            <thead>
                <tr>
                    <th><h3>{{warnings.missingMetaDataWarningsTitle}}</h3>{{warnings.missingMetaDataWarningsLabel}}</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="warning in warnings.missingMetaDataWarnings">
                    <td><h4>{{warning.title}}</h4>{{warning.description}}<div class="impacted-elems" data-ng-if="warning.impactedContent != null">{{warning.impactedLabel}}<h5>&nbsp;{{warning.impactedContent}}</h5></div></td>
                </tr>
                <tr data-ng-if="warnings.noMissingMetaDataWarnings == true">
                    <td><h4>{{warnings.noWarning}}</h4></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>