
<div data-ng-controller="ModelDetailsWidgetController">
    <header class="header">
        <div class="page-title">
            <div class="meta primary">
                <div class="wrapper">
                    <a href="#" class="back-button" data-ng-click="backButtonClick($event)">{{ResourceUtility.getString('MODEL_DETAIL_BACK_BUTTON')}}</a>
                    <dl>
                        <dt>{{ResourceUtility.getString('MODEL_DETAIL_BACK_LABEL')}}</dt>
                        <dd><h1>{{displayName}}</h1></dd>
                    </dl>
                </div>
            </div>
            <div class="meta secondary">
                <div class="wrapper">
                    <div class="meta-group">
                        <dl>
                            <dt>{{ResourceUtility.getString('MODEL_TILE_STATUS_LABEL')}}</dt>
                            <dd>{{status}}</dd>
                        </dl>
                        <dl>
                            <dt>{{ResourceUtility.getString('MODEL_TILE_CREATED_DATE_LABEL')}}</dt>
                            <dd>{{createdDate}}</dd>
                        </dl>
                  </div>
                  <a href="#" class="toggleDetails {{dataExpanded ? 'less' : ''}}" data-ng-click="showMoreClicked($event)">{{showMoreLabel}}</a>
                </div>
            </div>
            <div id="moreDataPoints" class="meta tertiary">
                <div class="wrapper">
                    <div class="meta-group">
                        <h3>{{ResourceUtility.getString('MODEL_DETAILS_LEADS_TITLE')}}</h3>
                        <dl>
                            <dt>{{ResourceUtility.getString('MODEL_DETAILS_TOTAL_LEADS_LABEL')}}</dt>
                            <dd>{{totalLeads}}</dd>
                        </dl>
                        <dl>
                            <dt>{{ResourceUtility.getString('MODEL_DETAILS_TEST_SET_LABEL')}}</dt>
                            <dd>{{testSet}}</dd>
                        </dl>
                        <dl>
                            <dt>{{ResourceUtility.getString('MODEL_DETAILS_TRAINING_SET_LABEL')}}</dt>
                            <dd>{{trainingSet}}</dd>
                        </dl>
                    </div>
                    <div class="meta-group">
                        <h3>{{ResourceUtility.getString('MODEL_DETAILS_CONVERSIONS_TITLE')}}</h3>
                        <dl>
                            <dt>{{ResourceUtility.getString('MODEL_DETAILS_SUCCESS_EVENTS_LABEL')}}</dt>
                            <dd>{{totalSuccessEvents}}</dd>
                        </dl>
                        <dl>
                            <dt>{{ResourceUtility.getString('MODEL_DETAILS_CONVERSION_RATE_LABEL')}}</dt>
                            <dd>{{conversionRate}}%</dd>
                        </dl>
                    </div>
                    <div class="meta-group">
                        <h3>{{ResourceUtility.getString('MODEL_DETAILS_ATTRIBUTES_TITLE')}}</h3>
                        <dl>
                            <dt>{{ResourceUtility.getString('MODEL_TILE_INTERNAL_LABEL')}}</dt>
                            <dd>{{internalAttributes}}</dd>
                        </dl>
                        <dl>
                            <dt>{{ResourceUtility.getString('MODEL_TILE_EXTERNAL_LABEL')}}</dt>
                            <dd>{{externalAttributes}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>