<section id="main-content" class="container lp-campaign-list">

    <div class="row">
        <div class="twelve columns">
            <ul class="tiles">
                <!-- <li 
                    data-campaign-list-tile-widget
                    class="campaign"
                    ng-repeat="campaign in campaigns"
                    data="campaign">
                </li> -->


                <li
                    ng-repeat="campaign in vm.campaigns"
                    ng-click="tileClick($event)" 
                    ui-sref="home.campaigns.models({campaignId:1234})"
                    ng-mouseleave="showCustomMenu ? customMenuClick($event) : null"
                >
                    <div class="tile-header">
                        <h2 title="{{campaign.name}}">{{campaign.name | limitTo: 36 }}{{campaign.name.length > 36 ? '&hellip;' : ''}}</h2>
                        <div class="edit">
                            <button 
                                    type="button"
                                    ng-click="customMenuClick($event)" 
                                    ng-class="{ 'open': showCustomMenu }">
                                <span class="fa fa-ellipsis-v" ng-class="{ 'fa-rotate-180': showCustomMenu }"></span>
                            </button>
                            <ul class="model-menu" ng-if="showCustomMenu">
                                <li data-ng-click="campaignNameEditClick($event)">
                                    <a href="javascript:void(0)" data-title="Enter Model Name">Rename</a>
                                    <i class="fa fa-edit"></i>
                                </li>
                                <li data-ng-click="deleteCampaignClick($event)">
                                    <a href="javascript:void(0)">Delete</a>
                                    <i class="fa fa-trash"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tile-body">
                        <p title="{{campaign.name}}">{{campaign.name | limitTo: 36 }}{{campaign.name.length > 240 ? '&hellip;' : ''}}</p>
                    </div>
                    <div class="meta-data">
                        <dl class="stats">
                            <dt>Models</dt>
                            <dd class="small">0</dd>
                        </dl>
                        <dl class="stats">
                            <dt>Last Model</dt>
                            <dd class="small">N/A</dd>
                        </dl>
                        <dl class="stats">
                            <dt>Talking Points</dt>
                            <dd class="small">0</dd>
                        </dl>
                    </div>
                </li>
                
                

                <li class="create-tile" ng-if="vm.showCreateCampaignForm">
                    <div class="form-group">
                        <label>Name
                        <input 
                            autofocus
                            type="text" 
                            id="campaignName" 
                            name="campaignName"
                            data-ng-model="vm.campaignName"
                            class="form-control" />
                            </label>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea 
                            class="form-control"
                            id="campaignDesc" 
                            name="campaignDesc"
                            data-ng-model="vm.campaignDescription"
                        ></textarea>
                    </div>  
                    <div class="actions">
                        <button 
                            type="button" 
                            class="button white-button pull-left" 
                            ng-click="vm.cancelCreateCampaignClicked($event)">
                            Cancel</button>
                        <button 
                            type="button" 
                            class="button orange-button pull-right" 
                            ng-click="vm.createCampaignClicked($event)">
                            Create</button>
                    </div>
                </li>

                <li class="no-style" ng-if="!vm.showCreateCampaignForm">
                    <button 
                        type="button" 
                        class="button new-tile-button"
                        ng-click="vm.showCreateCampaignClicked($event)">
                        <span>&#43;</span>
                        Create Campaign
                    </button>
                </li>

                <li class="no-style" ng-if="vm.showCreateCampaignForm">
                    <button 
                        type="button" 
                        class="button new-tile-button disabled"
                        ng-click="vm.showCreateCampaignClicked($event)">
                        <span>&#43;</span>
                        Create Campaign
                    </button>
                </li>
            </ul>
        </div>
    </div><!-- End .row -->

</section>