@charset "UTF-8";

@font-face {
  font-family: "playtypes";
  src:url("plays/playtypes/fonts/playtypes.eot");
  src:url("plays/playtypes/fonts/playtypes.eot?#iefix") format("embedded-opentype"),
    url("plays/playtypes/fonts/playtypes.ttf") format("truetype"),
    url("plays/playtypes/fonts/playtypes.svg#playtypes") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "playtypes";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="pt-"]:before,
[class*=" pt-"]:before {
  font-family: "playtypes";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pt-crosssell:before {
  content: "a";
}

.pt-winbackplay:before {
  content: "g";
}

.pt-customplay:before {
  content: "b";
}

.pt-rulebasedplay:before {
  content: "c";
}

.pt-firstpurchase:before {
  content: "d";
}

.pt-listplay:before {
  content: "e";
}

.pt-renewal:before {
  content: "f";
}

.pt-winbackplay:before {
  content: "g";
}

.pt-inboundactivity:before {
  content: "h";
}

.pt-analyticbuildplay:before {
  content: "i";
}

.pt-prospecting:before {
  content: "j";
}

.pt-retention:before {
  content: "k";
}

.pt-trigger:before {
  content: "l";
}

.pt-whitespace:before {
  content: "m";
}

.pt-leadscoringplay:before {
  content: "n";
}


.play-type-icon
{
    font-size:          18px;
    color:              $dante-play-type-icon-color;
    display:            inline-block;
    vertical-align:     middle;
}

.play-type-icon:hover
{
    color:              $dante-play-type-icon-color;
}
