.ratingsengine-ratingsenginetype.container {
    & > .inner-container {
        margin: 50px;
        border-radius: 4px;
        border: 1px solid #d0d0d0;
        & > .header {
            padding: 10px 20px;
            border-bottom: 1px solid #d0d0d0;
        }
        & > .content-body {
            padding: 10px 20px;
        }
    }
    ul.types {
        @include flex-container;
        & > li.type {
            @include flex-item(0 1 auto);
            width: 50%;
            padding: 50px;
            margin: 50px;
            text-align: center;
            border-radius: 4px;
            border: 1px solid #d0d0d0;
            &.selected {
                background-color: rgba(67, 125, 187, 1);
                color: white;
            }
            &[disabled] {
                opacity: .5;
                pointer-events: none;
            }
        }
    }
}