.ratingsengine-type {
    .wizard-content {
        font-size: 16px;
        h3 {
            text-transform: none;
            font-size: 23px;
            text-align: center;
            font-weight: normal;
            margin-bottom: 20px;
        }
    }
    .types {
        @include flex-container;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        margin: 0;
        & > li {
            @include flex-container;
            flex-wrap: wrap;
            justify-content: center;
            align-content: flex-end;
            width: 160px;
            height: 160px;
            padding: 10px;
            margin: 5px;
            font-size: 13px;
            line-height: 17px;
            border-radius: 4px;
            border: 1px solid #d0d0d0;
            &:hover {
                border-color: #6A9ACE;
                -webkit-box-shadow: 0px 3px 8px 0px rgba(128, 211, 239, 0.35);
                -moz-box-shadow: 0px 3px 8px 0px rgba(128, 211, 239, 0.35);
                box-shadow: 0px 3px 8px 0px rgba(128, 211, 239, 0.35);
                cursor: pointer;
            }
            &.disabled {
                opacity: .35;
                pointer-events: none;
            }
            &.ai {
                strong {
                    background-image: url(/assets/images/ratingsengine-type-ai-black.png);
                }
                &.selected {
                    strong {
                        background-image: url(/assets/images/ratingsengine-type-ai-white.png);
                    }
                }
            }
            &.rulebased {
                strong {
                    background-image: url(/assets/images/ratingsengine-type-rulebased-black.png);
                }
                &.selected {
                    strong {
                        background-image: url(/assets/images/ratingsengine-type-rulebased-white.png);
                    }
                }
            }
        }
    }
}