<section class="container ratingsengine-type">
  <div class="row">
    <div class="columns twelve box-outline">

      <div class="section-header">
        <h4>Create Rating Engine</h4>
      </div>

      <hr />

      <div class="section-body with-padding">
        <div class="wizard-content" ui-view="wizard_content">

            <h3>What do you want to predict?</h3>

            <ul class="types">
                <li 
                    class="first-purchase" 
                    ng-click="vm.setType('productpurchase', 'CROSS_SELL_FIRST_PURCHASE')">
                    Customers That Will Purchase A Product For The First Time
                </li>
                <li 
                    class="return-purchase" 
                    ng-click="vm.setType('productpurchase', 'CROSS_SELL_RETURNING_PURCHASE')">
                    Customers That Will Purchase Again Next Quarter
                </li>
                <li 
                    class="product-prospects disabled">
                    Prospects For My Products
                </li>
                <li 
                    class="business-prospects disabled">
                    Prospects For My Overall Business
                </li>
            </ul>
            <ul class="types">
                <li 
                    class="rules-prospects" 
                    ng-click="vm.setType('rulesprospects', 'RULE_BASED')">
                    Prospects Based On Specific Rules
                </li>
                <li 
                    class="custom-event disabled">
                    A Custom Event (Upload a Training File)
                </li>
                <li 
                    class="import-pmml disabled">
                    Import a Pre-Created Model (PMML File)
                </li>
            </ul>

        </div>
      </div>

    </div>
  </div>
</section>