<div id="mainHeaderView" class="row dante-main-header"> </div>
<div class="content row border scroll-y scroll-x">
    <div id="dantePlaysTab" class="dante-tab-content"> </div>
    <div id="dantePurchaseTrendsTab" class="dante-tab-content"> </div>
    <div id="danteCompanyDetailsTab" class="dante-tab-content"> </div>
    <div id="danteContactsTab" class="dante-tab-content"> </div>
</div>
