<div class="no-notion-container">
    <div class="no-notion-title">
        <%= ResourceUtil.getString('NO_NOTION_FOUND_TITLE', [notionName]) %>
    </div>
    <div class="no-notion-body">
        <img width="117" height="145" class="no-notion-image float-left" src="assets/images/lattice_mark.png"/>
        <%= ResourceUtil.getString('NO_NOTION_FOUND_MESSAGE_1', [notionName]) %>
        <br/><br/>
        <%= ResourceUtil.getString('NO_NOTION_FOUND_MESSAGE_2', [notionName]) %>
    </div>
</div>