@import '../colors.scss';

.le-menu-button {
    .hcontainer {
        display: flex;
        height: 100%;
        align-items: center;
    }
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 100%;
    
    &.showMenu {
        background-color: $onyx;
        color: $pearl-white;
    }
    .le-menu-button-container {
        position: relative;
        height: 100%;
        cursor: pointer;
        min-width: 250px;
        .button-container {
            display: flex;
            height: 100%;
            margin-left: 0.5em;
            align-items: center; // border: 1px solid red;
            justify-content: space-between;
            cursor: pointer;
            min-width: 250px;
            .icon-container {
                border-radius: 50%;
                background-color: $amber;
                color: $pearl-white;
                padding: 10px;
            }
            .info-container {
                display: flex;
                flex-direction: column;
                margin-left: 0.8em;
                .main-info {
                    font-size: 14px;
                }
                .secondary-info {
                    font-size: 12px;
                }
            }
            .tool-icon{
                margin-right: 0.8em;
            }
        }
        .menu-content {
            display: none;
            position: absolute;
            background-color: $pearl-white;
            width: 100%;
            box-shadow: 0px 0px 0px 0px;
            margin-top: 0em;
            z-index: 1;
            &.showMenu {
                display: block;
                background-color: $dark-gray;
                color: $pearl-white;
            }
        }
    }
}
.le-menu-button:hover{
    background-color: $palladium;
}

.le-menu-button:hover.showMenu{
    background-color: $onyx;
}