@import '../colors.scss';
.le-menu {
    position: relative;
    display: inline-flex;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0em .8em;
    .menu-container{
        box-sizing: border-box;
        padding: 0.5em;
        transition: 0s background-color, box-shadow 0s;
        display: inline-flex;
        // border: 1px solid red;
        justify-content: space-evenly;

        .label {
            padding: 0 0.8em;
        }
    }
}

.menu-content {
    display: none;
    position: absolute;
    // background-color: $pearl-white;
    background-color: $dark-gray;
    color: $pearl-white;
    min-width: 160px;
    // box-shadow: 0px 8px 16px 0px $dark-gray;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.5);
    // padding: 12px 6px;
    // margin-top: 0.5rem; // margin-left: -8px;
    z-index: 1;
    .le-menu-item {
        cursor: pointer;
        height: 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        // padding-bottom: 3px;
        justify-content: space-between; // border: 1px solid white;
        &>div {
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 160px;
        }
        .place-holder{
            margin-right: 16px;
            margin-left: 0.5em;
        }
        .item-img {
            margin-left: 0.5em;
            min-width: 16px;
        }
        .label {
            margin-left: 0.2rem;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 100px;
        }
    }
    .le-menu-item:hover{
        background-color: $onyx;
    }
}

.menu-container:hover {
    background-color: $palladium;
    box-shadow: 0px 2px 2px 0px $silver;
    transition-delay:.1s;
}

.le-menu-show {
    .menu-content {
        display: block;
        margin-top: 30px;
    }
    .menu-container{
        background-color: $dark-gray;
        color: $pearl-white;
    }
}

.submenu {
    padding-right: 0px;
    margin-right: -8px; 
}
