<div class="ratingengine-prioritization playbook-content container">
    <div class="inner-container">
        <form name="segment_form">
        
            <div class="header">
                <h2>How do you want to prioritize?</h2>
            </div>

            <div class="content-body">

                <ul class="prediction-types">
                    <li 
                        ng-click="vm.setPredictionType('PROPENSITY')"
                        ng-class="{ 'selected' : vm.predictionType === 'PROPENSITY' }">
                        <button type="button">
                            Likely to Buy
                        </button>
                        <p>Will a purchase be made or not?</p>
                    </li>
                    <li
                        ng-click="vm.setPredictionType('EXPECTEDVALUE')"
                        ng-class="{ 'selected' : vm.predictionType === 'EXPECTEDVALUE' }">
                        <button type="button">
                            Likely Amount of Spend
                        </button>
                        <p>Will a larger purchase be made or not?</p>
                    </li>
                </ul>

            </div>

        </form>
    </div>
</div>