<section ng-controller="SidebarRootController" class="lp-sidebar-menu noselect-children" ng-click="handleSidebarToggle($event)">
    <div class="logo-container">
        <a href="#/" class="logo" style="float: none;padding: 0;">
            <img src="/assets/images/logo-lattice-white.png" alt="Lattice Logo" />
        </a>
    </div>
    <ul class="menu ratingsengine-view">
        <li role="presentation">
            <a ui-sref="home.ratingsengine">
                <span class="ico-container" data-stooltip="{{::ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_BACK_TO_RATING_ENGINE')}}">
                    <span class="ico ico-back no-svg"></span>
                </span>
                <span class="label">{{::ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_BACK_TO_RATING_ENGINE')}}</span>
            </a>
        </li>
        <li role="presentation" ng-class="{active: stateName() == 'home.ratingsengine.wizard.segment.attributes'}" ng-disabled="menuDisabled || dashboardDisabled">
            <a ui-sref="home.ratingsengine.wizard.segment.attributes({rating_id: stateParams.rating_id, wizard_steps: 'attributes'})">
                <span class="ico-container" data-stooltip="{{::ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_RATING_ENGINE_ATTRIBUTES')}}">
                    <span class="ico ico-attributes ico-light-gray"></span>
                </span>
                <span class="label">{{::ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_RATING_ENGINE_ATTRIBUTES')}}</span>
            </a>
        </li>
        <li role="presentation" ng-class="{active: stateName() == 'home.ratingsengine.wizard.segment.attributes.rules'}" ng-disabled="menuDisabled || dashboardDisabled">
            <a ui-sref="home.ratingsengine.wizard.segment.attributes.rules({rating_id: stateParams.rating_id, wizard_steps: 'rules'})">
                <span class="ico-container" data-stooltip="{{::ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_RATING_ENGINE_RULES')}}">
                    <span class="ico ico-performance ico-light-gray"></span>
                </span>
                <span class="label">{{::ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_RATING_ENGINE_RULES')}}</span>
            </a>
        </li>
    </ul>
    <button class="open-button open">
        <span class="ico ico-arrow-open"></span>
    </button>
</section>