<div data-ng-controller="ModelListCreationHistoryWidgetController" class="model-list-creation-history">
    <div data-ng-if="showUploadModel" class="row table-header">
        <div class="eight columns offset-two">
            <button id="model-mgmt-import-model-btn" class="button orange-button" data-ng-click="importClicked()">{{ResourceUtility.getString('MODEL_LIST_MODEL_IMPORT_LABEL')}}</button>
        </div>
    </div>
    <div class="row">
        <div class="eight columns offset-two">
            <table>
                <thead>
                  <tr>
                    <th>{{ResourceUtility.getString('MODEL_LIST_MODEL_NAME')}}</th>
                    <th>{{ResourceUtility.getString('MODEL_LIST_MODEL_INTERNAL_ID')}}</th>
                    <th>{{ResourceUtility.getString('MODEL_LIST_MODEL_CREATION_DATE')}}</th>
                    <th>{{ResourceUtility.getString('MODEL_LIST_MODEL_STATUS')}}</th>
                  </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="model in models">
                        <td>{{model.DisplayName}}</td>
                        <td>{{model.Id}}</td>
                        <td>{{model.CreatedDate}}</td>
                        <td>{{model.Status}}&nbsp;
                            <a data-ng-show="model.Status == 'Deleted'"
                             href="javascript:void(0)" data-ng-click="undoDeleteModel(model.Id)">{{ResourceUtility.getString('MODEL_LIST_MODEL_DELETED_UNDO_LABEL')}}</a>
                         </td>
                    </tr>
                 </tbody>
            </table>
        </div>
    </div>
</div>