<le-modal-window 
    config="vm.config" 
    callback-function="vm.modalCallback(args)">
    <div ng-include="vm.viewUrl()"></div>
</le-modal-window>

<section 
    class="rating-engine dashboard {{ vm.modelingStrategy }}">
    <div class="container row">
        <div class="ten columns offset-one">


            <div class="header">
                <h2 class="pull-left">Model Dashboard</h2>

                <div class="actions pull-right">
                    <!-- ng-model="vm.status_toggle" -->
                    <button
                        class="button"
                        ng-class="{ 'orange-button': !vm.status_toggle, 'gray-button': vm.status_toggle }"
                        ng-if="vm.isRulesBased"
                        ng-click="vm.toggleActive()"
                        ng-disabled="vm.modelSummary === null">
                        {{ vm.toggleScoringButtonText }}
                    </button>
                    <button
                        class="button orange-button"
                        ng-if="vm.isRulesBased"
                        ui-sref="home.playbook.create.rating({ rating_id: vm.ratingEngine.id })" 
                        ng-disabled="!vm.status_toggle"
                        ng-disabled="vm.modelSummary === null">
                        Create Play
                    </button>

                    <button
                        class="button orange-button"
                        ui-sref="home.ratingsengine.dashboard.activatescoring({modelId: vm.ratingEngine.activeModel.AI.id})"
                        ng-if="!vm.isRulesBased"
                        ng-disabled="vm.modelSummary === null">
                        Activate Scoring
                    </button>
                    <button
                        class="button orange-button"
                        ng-if="!vm.isRulesBased"
                        ui-sref="home.playbook.create.rating({ rating_id: vm.ratingEngine.id })"
                        ng-disabled="vm.modelSummary === null">
                        Create Play
                    </button>
                </div>
            </div>
            <div class="content">
                <div ng-if="!vm.isRulesBased">
                    <h3>Creation Settings</h3>
                    <dl>
                        <dt>Model Type:</dt>
                        <dd>{{ vm.ratingEngineType }}</dd>
                        <dt ng-if="vm.ratingEngine.segment">Segment:</dt>
                        <dd ng-if="vm.ratingEngine.segment" class="text-ellipsis">{{ vm.ratingEngine.segment.display_name }}</dd>
                        
                        <dt>Products:</dt>
                        <dd ng-if="vm.targetProducts.length === 1">{{ vm.targetProductName }}</dd>
                        <dd ng-if="vm.targetProducts.length > 1">{{ vm.targetProducts.length }} selected</dd>

                        <dt ng-if="vm.configFilters['PURCHASED_BEFORE_PERIOD']">Time range:</dt>
                        <dd ng-if="vm.configFilters['PURCHASED_BEFORE_PERIOD']">More than {{ vm.configFilters['PURCHASED_BEFORE_PERIOD'].value }} months</dd>

                        <dt>Prioritize by:</dt>
                        <dd>{{ vm.prioritizeBy }}</dd>

                        <dt ng-if="vm.hasSettingsInfo">Model Settings:</dt>
                        <dd ng-if="vm.hasSettingsInfo">
                            <ul>
                                <li 
                                    ng-if="vm.configFilters['SPEND_IN_PERIOD']">
                                    Spend in the quarter was {{ vm.spendCriteria }} ${{ vm.configFilters['SPEND_IN_PERIOD'].value | number }}
                                </li>
                                <li
                                    ng-if="vm.configFilters['QUANTITY_IN_PERIOD']">
                                    Quantity bought was {{ vm.quantityCriteria }} {{ vm.configFilters['QUANTITY_IN_PERIOD'].value | number }} units
                                </li>
                                <li
                                    ng-if="vm.configFilters['TRAINING_SET_PERIOD']">
                                    {{ vm.configFilters['TRAINING_SET_PERIOD'].value }} months of historical records
                                </li>
                                <li
                                    ng-if="vm.trainingSegment !== null">
                                    Model with similar segment: {{ vm.trainingSegment.display_name }}
                                </li>
                                <li
                                    ng-if="vm.trainingProducts.length !== 0">
                                    Model with similar product(s): 
                                    <span ng-if="vm.trainingProducts.length === 1">{{ vm.trainingProductName }}</span>
                                    <span ng-if="vm.trainingProducts.length > 1">{{ vm.trainingProducts.length }} selected</span>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div>
                    <h3>Ratings</h3>
                    <bar-chart 
                        config="vm.getChartConfig(vm.ratingEngine)" 
                        bktlist="vm.getData()">
                    </bar-chart>
                </div>
                <div>
                    <h3>Creation History (1)</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Created</th>
                                <th>User</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ vm.ratingEngine.created | date }}</td>
                                <td>{{ vm.ratingEngine.createdBy }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h3>Used by ({{ vm.relatedItems.length }})</h3>
                    <table ng-if="vm.relatedItems.length > 0">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.relatedItems">
                                <td>Play</td>
                                <td>{{ item.displayName }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="vm.relatedItems.length == 0">
                        This model is currently not being used by any plays or segments.
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>