.dashboard {
    &.CROSS_SELL_FIRST_PURCHASE {
        .bar-graph {
            background-color: #4BAEB5 !important;   
        }
    }
    &.CROSS_SELL_REPEAT_PURCHASE {
        .bar-graph {
            background-color: #218F73 !important;   
        }           
    }
    &.CUSTOM_EVENT {
        .bar-graph {
            background-color: #5EA83D !important;   
        }
    }
    &.RULE_BASED {
        .bar-graph {
            background-color: #8166A3 !important;   
        }
    }
    &.noRatings {
            .attribute-stats {
                .row-container{
                    color: #bbb;
                    &:nth-child(even) {
                        background-color: #f7f7f7;
                    }
                }
                .vlines-container .vline {
                    & > div {
                        border-color: #e2e2e2;
                    }
                    & > span {
                        color: #bbb;
                    }
                }
            }
            .bar-graph {
                background-color: #eaeaea !important;
            }
            .no-ratings {
                position: absolute;
                z-index: 2;
                display: block;
                left: 50%;
                width: 200px;
                margin-top: 54px;
                margin-left: -100px;
                padding: 20px 14px;
                background: rgba(255,255,255,0.8);
                border-radius: 4px;
                box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
                h4 {
                    font-size: 12px;
                    text-transform: uppercase;
                }
            }
        }
    .header {
        margin-bottom: 20px;
        &:after {
            content: '';
            clear: both;
            display: table;
        }
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & > div {
            width: 49%;
            margin-bottom: 20px;
        }
        h3 {
            font-size: 16px;
            margin: 12px 0;
        }
        dt, dd {
            font-size: 14px;
        }
        dt {
            width: 30%;
        }
        dd {
            margin-left: 30%;
        }
        table {
            th, td {
                padding: 0px 10px 4px 0;
            }
            th {
                font-weight: normal;
                text-transform: uppercase;
                color: #333;
                font-size: 10px;
            }
            td {
                padding-top: 4px;
            }
        }
    }
    &.CUSTOM_EVENT {
        .content {
            dt {
                width: 50%;
            }
            dd {
                margin-left: 50%;
            }
        }
    }
    .attribute-stats .header {
        background-color: transparent;
        color: #333;
        margin-bottom: 4px;
    }
}