<div class="container pd-industry" ng-controller="BuilderCtrl">
    <div class="row page-header">
        <div class="twelve columns">

            <h4 class="pull-left">Industries</h4>

            <ul class="link-nav">
                <li><a href="#" ui-sref-active="active">Show All</a></li>
                <li class="divider">|</li>
                <li><a href="#" ui-sref-active="active">Only Selected</a></li>
            </ul>

            <div class="pull-right">
                <button type="button" class="button icon-button white-button">
                    <span class="fa fa-ellipsis-h"></span>
                </button>
            </div>

        </div>
    </div>

    <div class="row industry-list" ng-repeat="items in lists">

        <div class="three columns list-item" ng-repeat="item in items">
        	<div class="tile">
        		<div class="row">
        			<div class="nine columns">
	        			<input type="checkbox" id="tile1" />
	        			<label for="tile1">{{item.category}}</label>
        			</div>
        			<div class="three columns">
        				{{item.lift}} {{item.revenue}}
        			</div>
        		</div>
        		<div class="row">
        			<div class="six columns">
        				<dl class="stats">
        					<dt>Available from Lattice</dt>
        					<dd><a href="#">{{item.lattice}}</a></dd>
        				</dl>
        				<dl class="stats">
        					<dt>All in your database</dt>
        					<dd><a href="#">{{item.database}}</a></dd>
        				</dl>
        				<dl class="stats">
        					<dt>Your customers</dt>
        					<dd><a href="#">{{item.customers}}</a></dd>
        				</dl>
        			</div>
        			<div class="six columns">
        				visualization
        			</div>
        		</div>
        	</div><!-- End .tile -->
        </div><!-- End .three.columns -->

    </div><!-- End .row -->
</div>