.pd-industry {
    .industry-list.row {
        transition: all 500ms ease;
        margin-bottom: 2em;
        color: #000;
    }

    .industry-list.row.ng-enter  {
        opacity: 0;
    }

    .industry-list.row.ng-enter-active {
        opacity: 1;
    }

    .industry-list.row.ng-enter-stagger {
        transition-delay: 250ms;
        transition-duration: 0s;
    }
}