<div class="box-inner noselect-children background {{vm.categoryClass(category)}} border-top color round-box active-glow" ng-class="{active: vm.category == category}">
    <span>
        <h2 title="{{category}}">
            <div class="category-icon">
                <img ng-src="{{vm.categoryIcon(category)}}" onerror="this.style.display='none'" />
            </div>
            <div class="category-label"><span class="category-label-span">{{category}}</span></div>
        </h2>

        <span class="count">
            <strong>{{ count|number }}</strong>
        </span>

        <div class="attributes-container" ng-if="!vm.category">
            <ul class="attributes noselect-children">
                <li class="header" ng-show="highlightAttributes.length > 0">
                    <div class="column label">Highlighted Insights</div>
                    <div class="column data">{{ vm.lookupMode ? 'Value' : 'Records' }}</div>
                </li>

                <li ng-repeat="attribute in (highlightAttributes = ((TileTableItems = vm.getTileTableItems(category, false, 'HighlightHighlighted', 5)).HighlightHighlighted 
                        | filter: vm.enrichmentsFilter                        
                        | filter: vm.filterHideTrue
                        | orderBy: vm.categoryOrderBy()
                        | limitTo: (vm.showHighlighting() ? 5 : 0)))"
                        class="attribute"
                        ng-class="{'has-highlight': attribute.HighlightHighlighted,'no-highlight': !attribute.HighlightHighlighted}">
                    <div class="column label" title="{{attribute.DisplayName}}">{{ attribute.DisplayName }}</div>
                    <div class="column data values" ng-if="vm.lookupMode">{{ vm.filterLookupFiltered(attribute.AttributeValue, attribute.FundamentalType) }}</div>
                    <div class="column data records" ng-if="!vm.lookupMode">{{ attribute.TopBkt.Cnt|number }}</div>
                </li>
            </ul>
            <ul class="attributes noselect-children">

                <li class="header" ng-show="vm.categoryAttributes.length > 0">
                <!-- <li class="header"> -->
                    <div class="column label">{{ vm.lookupMode ? 'Attribute' : vm.generateTileTableLabel(categoryAttributes) }}</div>
                    <div class="column data" ng-if="!highlightAttributes.length && vm.section == 'segment.analysis'">Value</div>
                    <div class="column data" ng-if="!highlightAttributes.length">{{ vm.lookupMode ? 'Value' : (vm.section == 'segment.analysis' && vm.inModel() ? 'Lift' : 'Records') }}</div>
                </li>


                <li ng-repeat="attribute in (categoryAttributes = (TileTableItems.other
                        | filter: vm.enrichmentsFilter()
                        | filter: vm.filterHideTrue
                        | orderBy: vm.categoryOrderBy()
                        | limitTo: 5 - (highlightAttributes.length || 0)))"
                        class="attribute"
                        ng-class="{
                            'has-highlight': attribute.HighlightHighlighted && vm.showHighlighting(),
                            'no-highlight': !attribute.HighlightHighlighted || !vm.showHighlighting(),
                            'no-highlights': highlightAttributes.length == 0 || !vm.showHighlighting(),
                            'ignore-ngclick': vm.section !== 'segment.analysis'
                        }"
                        ng-click="vm.selectSegmentAttribute(attribute)">

                    <div class="column label" title="{{attribute.DisplayName}}">
                        <input  type="checkbox" ng-if="vm.section == 'segment.analysis' && !vm.cube.Stats" ng-disabled="true" />
                        <input  type="checkbox" 
                                ng-model="vm.segmentAttributeInput[attribute.Attribute || attribute.ColumnId]"
                                ng-checked="vm.segmentAttributeInput[attribute.Attribute || attribute.ColumnId] || attribute.SegmentChecked" 
                                name="{{attribute.Attribute || attribute.ColumnId}}" 
                                id="{{attribute.Attribute || attribute.ColumnId}}" 
                                ng-if="vm.section == 'segment.analysis' && vm.cube.Stats" />
                        {{ attribute.DisplayName }}
                    </div>
                    <div class="column data loading" ng-if="vm.section == 'segment.analysis' && !vm.cube.Stats"><i class="fa fa-spinner fa-pulse fa-fw"></i></div>
                    <div class="column data value" ng-if="vm.section == 'segment.analysis' && vm.cube.Stats">{{ attribute.TopBkt.Lbl }}</div>
                    <div class="column data lift" ng-if="vm.section == 'segment.analysis' && vm.cube.Stats && vm.inModel()"><em ng-if="vm.displayAttributeValue(attribute, 'Lift')"><div class="{{vm.categoryClass(category)}} background-color">{{ vm.displayAttributeValue(attribute, 'Lift') }}</div></em></div>
                    <div class="column data records" ng-if="!vm.lookupMode && !vm.inModel()">{{ attribute.TopBkt.Cnt|number }}</div>
                    <div class="column data values" ng-if="vm.lookupMode && vm.section != 'segment.analysis'">{{ vm.filterLookupFiltered(attribute.AttributeValue, attribute.FundamentalType) }}</div>
                </li>
            </ul>
        </div>
    </span>
    <ul class="controls noselect" ng-if="!vm.lookupMode && !vm.category">
        <li class="control highlight dropdown-container" ng-if="vm.section == 'team'">
            <div class="button"
                    ng-class="{'selected': vm.openHighlighter[category].open, 'enabled': vm.highlightTypesCategoryLabel(category).type == 'enabled' || vm.highlightTypesCategoryLabel(category).type == 'dirty'}"
                    ng-click="vm.closeHighlighterButtons(category); vm.openHighlighter[category].open = !vm.openHighlighter[category].open;">
                <span class="highlight-icon {{vm.highlightTypesCategoryLabel(category).type}}">
                    {{vm.highlightTypesCategoryLabel(category).label}} 
                </span>
                <ul ng-class="{open: vm.openHighlighter[category].open}" class="highlightOptions button-dropdown">
                    <li ng-repeat="(type, label) in vm.highlightTypesCategory" class="highlight-icon {{type}}" ng-class="{'disable-enable-all': vm.highlightTypesCategoryLabel(category).type == type}" ng-click="vm.setFlagsByCategory(type, category)">
                        {{label}}
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>