<div class="box-inner noselect-children background {{vm.categoryClass(category)}} border-top color round-box active-glow" ng-class="{active: vm.category == category}">
    <span>
        <h2 alt="{{category}}" ng-init="lastDataRefresh = vm.getDateMap(category)">
            <div class="category-icon">
                <img ng-src="{{vm.categoryIcon(category)}}" onerror="this.style.display='none'" />
            </div>
            <div class="category-label">
                <span class="category-label-span">{{category}}</span>
                <span class="more-info show-tooltip top right delay" ng-if="lastDataRefresh && !vm.category">
                    i
                    <div class="tooltip_ small">
                        <div class="cover">
                            <p>
                                {{lastDataRefresh}}
                            </p>
                        </div>
                    </div>
                </span>
            </div>
        </h2>

        <span class="count">
            <strong>{{ count|number }}</strong>
        </span>

        <div class="attributes-container" ng-if="!vm.category">
            <ul class="attributes noselect-children">
                <li class="header" ng-show="highlightAttributes.length > 0">
                    <div class="column label">Highlighted Insights</div>
                    <div class="column data">{{ vm.lookupMode ? 'Value' : 'Records' }}</div>
                </li>

                <li ng-repeat="attribute in (highlightAttributes = ((TileTableItems = vm.getTileTableItems(category, false, 'HighlightHighlighted', 5)).HighlightHighlighted 
                        | filter: vm.enrichmentsFilter
                        | filter: vm.filterHideTrue
                        | orderBy: vm.categoryOrderBy()
                        | limitTo: (vm.showHighlighting() ? 5 : 0)))"
                        class="attribute"
                        ng-class="{'has-highlight': attribute.HighlightHighlighted,'no-highlight': !attribute.HighlightHighlighted}">
                    <div class="column label" title="{{attribute.DisplayName}}">{{ attribute.DisplayName }}</div>
                    <div class="column data values" ng-if="vm.lookupMode">
                        <strong class="attribute-feedback-container">
                            <attribute-feedback-button 
                                button-type="'infodot'" 
                                attribute="attribute" 
                                value="vm.filterLookupFiltered(attribute.AttributeValue, attribute.FundamentalType)" 
                                icon-image="vm.categoryIcon(category)"
                                category-class="vm.categoryClass(category)"
                                ng-if=" vm.lookupMode && vm.hasCompanyInfo" />
                                {{ vm.filterLookupFiltered(attribute.AttributeValue, attribute.FundamentalType) }}
                        </strong>
                    </div>

                    <div class="column data records" ng-if="!vm.lookupMode && vm.section != 'segment.analysis'">{{ attribute.Count|number }}</div>

                    <div class="column data records" ng-if="!vm.lookupMode && vm.section === 'segment.analysis'">{{ attribute.TopBkt.Cnt|number }}</div>
                </li>
            </ul>
            <ul class="attributes noselect-children">

                <li class="header" ng-show="categoryAttributes.length > 0">
                    <div class="column label">{{ vm.lookupMode ? 'Attribute' : vm.generateTileTableLabel(categoryAttributes) }}</div>
                    <div class="column data" ng-if="!highlightAttributes.length && vm.section == 'segment.analysis'">Value</div>
                    <div class="column data" ng-if="!highlightAttributes.length">{{ vm.lookupMode ? 'Value' : (vm.section == 'segment.analysis' && vm.inModel() ? 'Lift' : 'Records') }}</div>
                </li>


                <li ng-repeat="attribute in (categoryAttributes = (TileTableItems.other
                        | filter: vm.enrichmentsFilter()
                        | filter: vm.filterHideTrue
                        | orderBy: vm.categoryOrderBy(category, null, TileTableItems.other)
                        | limitTo: 5 - (highlightAttributes.length || 0)))"
                        class="attribute delay top"
                        ng-class="{
                            'has-highlight': attribute.HighlightHighlighted && vm.showHighlighting(),
                            'no-highlight': !attribute.HighlightHighlighted || !vm.showHighlighting(),
                            'no-highlights': highlightAttributes.length == 0 || !vm.showHighlighting(),
                            'ignore-ngclick': vm.section !== 'segment.analysis',
                            'show-tooltip': vm.section == 'segment.analysis'
                        }"
                        ng-click="vm.selectSegmentAttribute(attribute)"
                        ng-style="{'pointer-events': (vm.section == 'segment.analysis' ? 'all' : 'none')}"
                        title="{{vm.getTitleTooltip(attribute)}}">
                    
                    {{ Rules = vm.getAttributeRules(attribute, attribute.TopBkt); "" }}
                    {{ Value = vm.formatAttributeValue(attribute, Rules); "" }}

                    <!--input  type="checkbox" ng-if="vm.section == 'segment.analysis' && !attribute.TopBkt" ng-disabled="true" /-->
                    <div class="column checkspace show-tooltip delay top left" ng-if="vm.section == 'segment.analysis'">
                        <!--input  type="checkbox" 
                                ng-model="vm.segmentAttributeInput[attribute.Attribute || attribute.ColumnId]"
                                ng-checked="vm.segmentAttributeInput[attribute.Attribute || attribute.ColumnId] || attribute.SegmentChecked" 
                                name="{{attribute.Attribute || attribute.ColumnId}}" 
                                id="{{attribute.Attribute || attribute.ColumnId}}"
                                ng-show="false"
                                ng-if="vm.section == 'segment.analysis' && attribute.TopBkt" /-->

                        <i class="plus fa fa-plus" ng-if="Rules.length == 0"></i>
                        <i class="plus fa fa-check" ng-if="Rules.length == 1"></i>
                        <i class="plus attribute-use-count" ng-if="Rules.length >= 2">{{ Rules.length }}</i>
                        <i class="fa fa-check" ng-if="Rules.length == 1"></i>
                        <i class="attribute-use-count" ng-if="Rules.length >= 2">
                            {{ Rules.length }}
                        </i>
                        <div class="tooltip_" ng-if="Rules.length >= 1">
                            <div class="cover" ng-if="Rules.length == 1">
                                <h3>Attribute Selected</h3>
                                <p>This attribute has been used already and can be used again in another query condition. Go to Refine Query to make changes.</p>
                                <em>Query Snippet:</em>
                                <ul>
                                    <li ng-repeat="rule in Rules">{{attribute.DisplayName}} is {{vm.generateBucketLabel(rule.bucketRestriction.bkt)}}</li>
                                </ul>
                            </div>
                            <div class="cover" ng-if="Rules.length >= 2">
                                <h3>Multiple Uses</h3>
                                <p>This attribute has been used more than once.<br>Go to Refine Query to make changes.</p>
                                <em>Query Snippets:</em>
                                <ul>
                                    <li ng-repeat="rule in Rules | limitTo: 3">{{attribute.DisplayName}} is {{vm.generateBucketLabel(rule.bucketRestriction.bkt)}}</li>
                                    <li ng-if="Rules.length == 4">{{attribute.DisplayName}} is {{ vm.generateBucketLabel(Rules[3].bucketRestriction.bkt) }}</li>
                                    <li ng-if="Rules.length > 4">
                                        And {{Rules.length - 3}} other instances
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tooltip_" ng-if="vm.section == 'segment.analysis' && vm.getAttributeRules(attribute).length == 0">
                        <div class="cover">
                            <h3>Select Attribute</h3>
                            <p>Match accounts that have this condition. By default this is an AND condition with other selections. Go to Refine Query to make changes and use advanced query language</p>
                            <em>Click to select this attribute</em>
                        </div>
                    </div>
                    <div class="column label" title="{{attribute.DisplayName}}">{{ attribute.DisplayName }}</div>
                    <!-- <div class="column data loading" ng-if="vm.section == 'segment.analysis' && !attribute.TopBkt"><i class="fa fa-spinner fa-pulse fa-fw"></i></div> -->
                    <div    class="column data value" 
                            ng-class="{ 'inherit-color': vm.isSpecialAttributeValue(Value) }"
                            ng-if="vm.section == 'segment.analysis'">
                        {{ Value }}
                    </div>
                    <div class="column data lift" ng-if="vm.section == 'segment.analysis' && vm.cube.data[attribute.Entity].Stats && vm.inModel()"><em ng-if="vm.displayAttributeValue(attribute, 'Lift')"><div class="{{vm.categoryClass(category)}} background-color">{{ vm.displayAttributeValue(attribute, 'Lift') }}</div></em></div>

                    <div class="column data records" ng-if="!vm.lookupMode && !vm.inModel()">
                        <strong ng-if="vm.section === 'segment.analysis'" class="attribute-feedback-container">
                            <attribute-feedback-button 
                                button-type="'infodot'" 
                                attribute="attribute" 
                                value="attribute.TopBkt.Cnt|number" 
                                icon-image="vm.categoryIcon(category)"
                                category-class="vm.categoryClass(category)"
                                ng-if="vm.lookupMode && vm.hasCompanyInfo" />
                                {{ attribute.TopBkt ? vm.formatAttributeRecords(Value, (attribute.TopBkt.Cnt|number)) : vm.formatAttributeRecords(Value, (vm.cube.data[attribute.Entity].Stats[attribute.Attribute].Cnt|number))}}
                        </strong>
                        <strong ng-if="vm.section != 'segment.analysis'" class="attribute-feedback-container">
                            <attribute-feedback-button 
                                button-type="'infodot'" 
                                attribute="attribute" 
                                value="attribute.Count|number" 
                                icon-image="vm.categoryIcon(category)"
                                category-class="vm.categoryClass(category)"
                                ng-if="vm.lookupMode && vm.hasCompanyInfo" />
                                {{ attribute.Count|number }}
                        </strong>
                    </div>
                    <div 
                        class="column data values" 
                        ng-if="vm.lookupMode && vm.section != 'segment.analysis'">
                        
                        <strong class="attribute-feedback-container">
                            <attribute-feedback-button 
                                button-type="'infodot'" 
                                attribute="attribute" 
                                value="vm.filterLookupFiltered(attribute.AttributeValue, attribute.FundamentalType)" 
                                icon-image="vm.categoryIcon(category)"
                                category-class="vm.categoryClass(category)"
                                ng-if="vm.lookupMode && vm.hasCompanyInfo" />

                            {{ vm.filterLookupFiltered(attribute.AttributeValue, attribute.FundamentalType) }}
                        </strong>

                    </div>
                </li>
            </ul>

            <div class="attributes-more noselect" ng-if="count > 5">More</div>
        </div>
    </span>
    <ul class="controls noselect" ng-if="!vm.lookupMode && !vm.category">
        <li class="control highlight dropdown-container" ng-if="vm.section == 'team'">
            <div class="button"
                    ng-class="{'selected': vm.openHighlighter[category].open, 'enabled': vm.highlightTypesCategoryLabel(category).type == 'enabled' || vm.highlightTypesCategoryLabel(category).type == 'dirty'}"
                    ng-click="vm.closeHighlighterButtons(category); vm.openHighlighter[category].open = !vm.openHighlighter[category].open;">
                <span class="highlight-icon {{vm.highlightTypesCategoryLabel(category).type}}">
                    {{vm.highlightTypesCategoryLabel(category).label}} 
                </span>
                <ul ng-class="{open: vm.openHighlighter[category].open}" class="highlightOptions button-dropdown">
                    <li ng-repeat="(type, label) in vm.highlightTypesCategory" class="highlight-icon {{type}}" ng-class="{'disable-enable-all': vm.highlightTypesCategoryLabel(category).type == type}" ng-click="vm.setFlagsByCategory(type, category)">
                        {{label}}
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>