<p>
    Upload a CSV file containing one row for each product with its attributes in separate columns.
    You can always update and add new products later.
</p>

<a href="assets/downloads/product-sample.csv" target="_self" class="download-link"><i class="fa fa-download"></i> Download a sample CSV file that has all of the required fields.</a>

<p>{{vm.ResourceUtility.getString('IMPORT_SAMPLE_FILE_LABEL')}}:</p>
<div class="table example-table">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Product Bundle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>CMT4: Autosampler Vials and Closures</td>
                <td>CMT4: Autosampler Vials </td>
                <td>Auto, Cliosures</td>
            </tr>
            <tr>
                <td>2</td>
                <td>CMT3: Other Plasticware</td>
                <td>and Closures</td>
                <td>Plastic, Other</td>
            </tr>
            <tr>
                <td>3</td>
                <td>CMT3: Diagnostics</td>
                <td>CMT3: Other Plasticware</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>