<p>Please provide product bundle names Lattice platform should use to aggregate your products into logical groupings you would like to use to run sales plays and marketing campaigns.  The csv file should contain one row for each product x product bundle combination.</p>

<a href="assets/downloads/product-sample.csv" target="_self" class="download-link"><i class="fa fa-download"></i> Download a sample CSV file that has all of the required fields.</a>

<p>Please use the same data structure:</p>
<div class="table example-table">
    <table>
        <thead>
            <tr>
                <th>Product_ID</th>
                <th>Product_Bundle_ID</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>100</td>
                <td>office application products</td>
            </tr>
            <tr>
                <td>001</td>
                <td>200</td>
                <td>office enterprise application products</td>
            </tr>
            <tr>
                <td>002</td>
                <td>100</td>
                <td>office application products</td>
            </tr>
            <tr>
                <td>002</td>
                <td>300</td>
                <td>office application premium products</td>
            </tr>
        </tbody>
    </table>
</div>