.import-summary-title {
    position: relative;
    margin-top: 30px;
}
.import-summary-title div {
    position: absolute;
    bottom: 0px;
    left: 60px;
    font-size: 22px;
    color: black;
}
.import-summary {
    h5 {
        padding-bottom: 20px;
    }
    
    div.three {
        background: gray;
    }
}
.summary-desc {
    clear: both;
    padding-top: 15px;
    color: black;
}
.summary-desc .breadcrumb {
    /*centering*/
    display: inline-block;
    overflow: hidden;
    margin-bottom: 0px;
    text-align: center;
}

.summary-desc .breadcrumb div {
    color: black !important;
    text-decoration: none;
    outline: none;
    display: table;
    float: left;
    font-size: 15px;
    margin-top: 10px;
    position: relative;
}
.summary-desc .breadcrumb div:first-child:before {
    left: 14px;
}
/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.summary-desc .breadcrumb div:after {
    content: '';
    position: absolute;
    top: 0;
    right: -30px; /*half of square's length*/
    /*same dimension as the line-height of .breadcrumb a */
    width: 60px; 
    height: 60px;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
    length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
    if diagonal required = 1; length = 1/1.414 = 0.707*/
    transform: scale(0.707) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/
    z-index: 1;
    /*background same as links but the gradient will be rotated to compensate with the transform applied*/
    background: white;
    /*stylish arrow design using box shadow*/
    box-shadow: 
        5px -5px 0 5px white;
    border-radius: 0 0px 0 50px;
}
/*we dont need an arrow after the last link*/
.summary-desc .breadcrumb div:last-child:after {
    content: none;
}

.summary-desc .breadcrumb.flat {
    background: white !important;
    padding: 0px 0px;
    border-radius: 0px
}
.summary-desc .flat div, .summary-desc .flat div:after {
    background: #f1f1f1;
    transition: all 0.5s;
}
.summary-desc .flat div .icon {
    right: 0;
    z-index: 99;
    top: 0;
    padding-right: 17px;
}
.summary-desc .flat div span:last-child, .summary-desc .flat div span:nth-last-child(2) {
    right: 15px;
}
.pd-summary.import-summary {
    background: white;
    margin-top: 30px;
}
.ready-view-completion-times {
    text-align: justify;
    padding-left: 20px;
}
.ready-view-completion-times span {
    display: inline-block;
    font-weight: lighter;
    font-size: 0.6em;
}
.ready-view-completion-times span:not(:first-child) {
    margin-left: 120px;
}
.ready-view-completion-times span:first-child {
    padding-left: 35px
}
