<div class="container">



    <div class="table-header">
        <div class="row">
            <div class="twelve columns">
                <h2>Most Recent New Opportunities</h2>
            </div>
        </div><!-- End .row -->
        <div class="row">
            <div class="four columns meta">
                <small>Displaying 1-8 of 12</small>
            </div>
            <div class="eight columns text-right">
                <select class="custom-select">
                    <option>Last Quarter</option>
                </select>
                <select class="custom-select">
                    <option>All Target Markets</option>
                </select>
                <a ui-sref="markets.builder" class="button icon-button white-button"><span class="fa fa-sort-amount-desc"></span></a>
            </div>
        </div><!-- End .row -->
    </div><!-- End .table-header -->

    <div class="row">
        <div class="columns twelve">
            <table class="responsive">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Opportunity Name</th>
                        <th>Stage</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="targetMarket in targetMarkets" data-ng-hide={{targetMarket.isOutOfDate}}>
                        <td>{{targetMarket.name}}</td>
                        <td>{{targetMarket.creationTimestamp | date: "yyyy-MM-dd"}}</td>
                        <td>{{targetMarket.targetMarketStatistics.expectedLift}}</td>
                        <td>{{targetMarket.targetMarketStatistics.numCompanies}}</td>
                    </tr>

                    <!-- fake data for testing purposes -->
                    <tr>
                        <td>Customer Name</td>
                        <td>Opportunity Name</td>
                        <td>Stage</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Customer Name</td>
                        <td>Opportunity Name</td>
                        <td>Stage</td>
                        <td>Date</td>                        
                    </tr>
                    <tr>
                        <td>Customer Name</td>
                        <td>Opportunity Name</td>
                        <td>Stage</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Customer Name</td>
                        <td>Opportunity Name</td>
                        <td>Stage</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Customer Name</td>
                        <td>Opportunity Name</td>
                        <td>Stage</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Customer Name</td>
                        <td>Opportunity Name</td>
                        <td>Stage</td>
                        <td>Date</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>





    <div class="table-header">
        <div class="row">
            <div class="twelve columns">
                <h2>Most Recent New Opportunities</h2>
            </div>
        </div><!-- End .row -->
    </div><!-- End .table-header -->

    <div class="row target-market-prospect-table">
        <div class="columns twelve">
            <table class="responsive">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Opportunity Name</th>
                        <th>Stage</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="targetMarket in targetMarkets" data-ng-hide={{targetMarket.isOutOfDate}}>
                        <td>{{targetMarket.name}}</td>
                        <td>{{targetMarket.creationTimestamp | date: "yyyy-MM-dd"}}</td>
                        <td>{{targetMarket.targetMarketStatistics.expectedLift}}</td>
                        <td>{{targetMarket.targetMarketStatistics.numCompanies}}</td>
                    </tr>

                    <!-- fake data for testing purposes -->
                    <tr>
                        <td>Customer Name</td>
                        <td>Opportunity Name</td>
                        <td>Amount</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Customer Name</td>
                        <td>Opportunity Name</td>
                        <td>Amount</td>
                        <td>Date</td>                        
                    </tr>
                    <tr>
                        <td>Customer Name</td>
                        <td>Opportunity Name</td>
                        <td>Amount</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Customer Name</td>
                        <td>Opportunity Name</td>
                        <td>Amount</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Customer Name</td>
                        <td>Opportunity Name</td>
                        <td>Amount</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Customer Name</td>
                        <td>Opportunity Name</td>
                        <td>Amount</td>
                        <td>Date</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    $( document ).ready(function() {
    $(".custom-select").selectpicker();
  });
</script>