<ul ng-controller="SidebarRootController as vm" class="menu ratingsengine-view">
    <li role="presentation">
        <a ui-sref="home.ratingsengine">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_BACK_TO_RATING_ENGINE')}}">
                <span class="ico ico-back no-svg"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_BACK_TO_RATING_ENGINE')}}</span>
        </a>
    </li>
    
    <li role="presentation" ng-class="{active: stateName() == 'home.ratingsengine.dashboard'}" ng-disabled="menuDisabled || dashboardDisabled">
        <a ui-sref="home.ratingsengine.dashboard">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_DASHBOARD')}}">
                <span class="ico ico-dashboard ico-light-gray"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_DASHBOARD')}}</span>
        </a>
    </li>
    <li ng-if="!isRuleBased" role="rating" ui-sref-active="active">
        <a ng-if="modelIsReady" ui-sref="home.model.ratings({ rating_id: rating_id, modelId: modelId, section: 'dashboard.ratings', ratingEngine: ratingEngine })" analytics-on="click" analytics-event="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_RATINGS')}}">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_RATINGS')}}">
                <span class="ico ico-ratings ico-light-gray"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_RATINGS')}}</span>
        </a>
        <a ng-if="!modelIsReady" class="disabled">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_RATINGS')}}">
                <span class="ico ico-ratings ico-light-gray"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_RATINGS')}}</span>
        </a>
    </li>
    <li ng-if="isRuleBased" role="presentation" ng-class="{active: stateName() == 'home.ratingsengine.dashboard.segment.attributes.rules'}" ng-disabled="menuDisabled || dashboardDisabled">
        <a ui-sref="home.ratingsengine.dashboard.segment.attributes.rules({rating_id: rating_id})">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_RATING_ENGINE_RULES')}}">
                <span class="ico ico-performance ico-light-gray"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_RATING_ENGINE_RULES')}}</span>
        </a>
    </li>
    <li ng-if="!isRuleBased"role="presentation" ui-sref-active="active" ng-disabled="!modelIsReady">
        <a ui-sref="home.ratingsengine.dashboard.notes({ rating_id: rating_id, modelId: modelId })" analytics-on="click" analytics-event="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_NOTES')}}">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_NOTES')}}">
                <span class="ico ico-notes"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_NOTES')}}</span>
        </a>
    </li>
    <li ng-if="isRuleBased" role="presentation" ui-sref-active="active" ng-disabled="menuDisabled || dashboardDisabled">
        <a 
            ui-sref="home.ratingsengine.dashboard.notes({ rating_id: rating_id, modelId: modelId })" 
            analytics-on="click" 
            analytics-event="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_NOTES')}}">
            <span class="ico-container" data-stooltip="{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_NOTES')}}">
                <span class="ico ico-notes"></span>
            </span>
            <span class="label">{{::vm.ResourceUtility.getString('NAVIGATION_SIDEBAR_LP_NOTES')}}</span>
        </a>
    </li>
</ul>