<div id="adminInfoSummaryTable" class="panel panel-default" data-ng-controller="AdminInfoSummaryWidgetController">
    <div class="panel-body model-admin-info">
        <table class="table">
            <tbody>
                <tr>
                    <th>{{ResourceUtility.getString('MODEL_ADMIN_HEALTH_SCORE_LABEL')}}</th>
                    <td><health-score score="ModelHealthScore"></health-score></td>
                </tr>
                <tr>
                    <th>{{ResourceUtility.getString('MODEL_ADMIN_TENANT_ID_LABEL')}}</th>
                    <td>{{TenantId}}</td>
                </tr>
                <tr>
                    <th>{{ResourceUtility.getString('MODEL_ADMIN_INTERNAL_ID_LABEL')}}</th>
                    <td>{{ModelId}}</td>
                </tr>
                <tr>
                    <th>{{ResourceUtility.getString('MODEL_TEMPLATE_VERSION_LABEL')}}</th>
                    <td>{{TemplateVersion}}</td>
                </tr>
                <tr>
                    <th>{{ResourceUtility.getString('MODEL_ADMIN_MODEL_DETAILS_LABEL')}}</th>
                    <td>
                        {{ResourceUtility.getString('MODEL_ADMIN_MODEL_SUMMARY_LINK')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <data-file-downloader url="/pls/datafiles/modeljson/{{ModelId}}" filename="modelsummary.json" filetype="application/json"></data-file-downloader>
                        <br/>
                        {{ResourceUtility.getString('MODEL_ADMIN_TOP_PREDICTORS_LINK')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <data-file-downloader url="/pls/datafiles/predictorcsv/{{ModelId}}" filename="predictors.csv" filetype="text/csv"></data-file-downloader>
                        <br/>
                        {{ResourceUtility.getString('MODEL_ADMIN_DIAGNOSTICS_LINK')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <data-file-downloader url="/pls/datafiles/diagnosticsjson/{{ModelId}}" filename="diagnostics.json" filetype="application/json"></data-file-downloader>
                        <br/>
                        {{ResourceUtility.getString('MODEL_ADMIN_METADATA_LINK')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <data-file-downloader url="/pls/datafiles/metadataavsc/{{ModelId}}" filename="metadata.avsc" filetype="application/json"></data-file-downloader>
                    </td>
                </tr>
                <tr>
                    <th>{{ResourceUtility.getString('MODEL_ADMIN_SCORED_LEADS_LABEL')}}</th>
                    <td>
                        {{ResourceUtility.getString('MODEL_ADMIN_READOUT_SAMPLE_LINK')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <data-file-downloader url="/pls/datafiles/readoutcsv/{{ModelId}}" filename="readout.csv" filetype="text/csv"></data-file-downloader>
                        <br/>
                        {{ResourceUtility.getString('MODEL_ADMIN_SCORES_LINK')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <data-file-downloader url="/pls/datafiles/scorecsv/{{ModelId}}" filename="scores.csv" filetype="text/csv"></data-file-downloader>
                    </td>
                </tr>
                <tr>
                    <th>{{ResourceUtility.getString('MODEL_ADMIN_MODEL_PERFORMANCE_LABEL')}}</th>
                    <td>
                        {{ResourceUtility.getString('MODEL_ADMIN_THRESHOLD_EXPLORER_CSV_LINK')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" data-ng-click="exportThresholdClicked()">{{ResourceUtility.getString('MODEL_ADMIN_DOWNLOAD')}}</a>
                        <br/>
                        {{ResourceUtility.getString('MODEL_ADMIN_RF_MODEL_LINK')}}:&nbsp;&nbsp;&nbsp;&nbsp;
                        <data-file-downloader url="/pls/datafiles/rfmodelcsv/{{ModelId}}" filename="rfmodel.csv" filetype="text/csv"></data-file-downloader>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="global-error model-admin-info-error" data-ng-show="Error.ShowError">
            <span><i class="fa fa-exclamation-circle fa-inverse"></i> {{Error.ErrorMsg}}</span>
            <button class="close btn btn-link" data-ng-click="Error.ShowError = false;"><i class="fa fa-times fa-inverse"></i></button>
        </div>
    </div>
</div>