.ratings-engine-ai-prospect.container{
    .graphs {
        height: 250px;
        border: 1px solid #c3c3c3;
        display: -webkit-flex; /* Safari */
        -webkit-flex-direction: row; /* Safari 6.1+ */
        display: flex;
        flex-direction: row;
        -ms-flex-align: end;
        align-items: flex-end;
        justify-content: space-around;
    }

    .graph {
        color: rgb(0, 0, 0);
        border: 1px solid gray;
        background-color: rgba(21, 181, 0, 0.624);
        padding-right: 5px;
        padding-left: 5px;
        font-weight: bold;
    }
}