.k-panelbar .k-state-selected {
  background-color: #B5CBE3;
  color: black;
}
.k-panelbar .k-state-selected > .k-link,
.k-panelbar > li > .k-state-selected,
.k-panelbar > li.k-state-default > .k-link.k-state-selected {
  color: black;
}
.k-panelbar .k-state-focused.k-state-selected {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
