.pd-summary-message {
    background: #e7e7e7;
    color: #333;
    height: 200px;
    text-align: center;

    h1 {
        color: #333;
        padding: 1.2em 0 0.4em;
        font-size: 3.3em;
        
        .saphire-three-color {
            color: #65b7e5;
        }

        .amber-three-color {
            color: #f16a22;
        }

    }

    p {
        color: #cde;
        font-size: 1.65em;
    }
}