<div class="messaging success-messaging" *ngIf="showSuccessMessage">
    <p>{{successMessage}}</p>
</div>
<div class="messaging error-messaging" *ngIf="showLoginError">
    <button id="close-button" type="button" class="close" (click)="showLoginError = false;">x</button>
    <i class="fa fa-warning"></i>
    <span>{{loginErrorMessage}}</span>
</div>
<form class="form form-signin" name="login-form" ng-if="visible" (submit)="loginClick()">
    <div class="form-group">
        <label>{{strings.getString('LOGIN_USERNAME')}}</label>
        <input  type="text" 
                id="username" 
                autocomplete="on" 
                name="le-login_username"
                [(ngModel)]="username" 
                title="{{strings.getString('LOGIN_USERNAME')}}"
                class="form-control {{usernameInvalid ? 'error' : ''}}" 
                autofocus>
    </div>
    <div class="form-group">
        <label>{{strings.getString('LOGIN_PASSWORD')}}</label>
        <input  type="password"  
                id="password"
                name="le-login_password"
                autocomplete="on" 
                [(ngModel)]="password" 
                title="{{strings.getString('LOGIN_PASSWORD')}}" 
                class="form-control {{passwordInvalid ? 'error' : ''}}">
    </div>
    <div class="form-actions">
        <button 
                id="loginButton" 
                type="submit" 
                (click)="loginClick()" 
                class="button orange-button"
                [disabled]="loginInProgress">
            {{strings.getString('LOGIN_LABEL')}}
        </button>
        <i *ngIf="loginInProgress" class="fa fa-spinner fa-pulse fa-fw"></i>
        <div class="secondary-actions">
            <a uiSref="app.login.forgot">
                {{strings.getString('LOGIN_FORGOT_PASSWORD_LABEL')}}
            </a>
        </div>
    </div>
    <p class="footer smallest login-footer">© {{copyrightString}}
        <a href="http://lattice-engines.com/about/privacy-policy">
            {{strings.getString('HEADER_PRIVACY_POLICY')}}
        </a>
    </p>

</form>