<div id="main-content" class="form-systemSetup" data-ng-controller="ManageCredentialsController">
    <div class="form-title">
        <h1>{{ResourceUtility.getString('SYSTEM_SETUP_TITLE')}}</h1>
        <span><span>&ast;</span> {{ResourceUtility.getString('SYSTEM_SETUP_REQUIRED_FIELDS')}}</span>
    </div>
    <div class="formSF">
        <img src="assets/images/logo_salesForce_2.png" />
        <div class="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a href="#formProduction" aria-controls="profile" role="tab" data-toggle="tab">{{ResourceUtility.getString('SYSTEM_SETUP_PRODUCTION_TAB')}}</a>
                </li>
                <li>
                    <a href="#formSandbox" aria-controls="profile" role="tab" data-toggle="tab">{{ResourceUtility.getString('SYSTEM_SETUP_SANDBOX_TAB')}}</a>
                </li>
            </ul>
            <!-- SFDC Production -->
            <div class="tab-content">
                <div id="formProduction" role="tabpanel" class="tab-pane active">
                    <div data-ng-show="crmProductionError != ''" class="alert alert-danger">
                        {{crmProductionError}}
                    </div>
                    <div>
                        <label>{{ResourceUtility.getString('SYSTEM_SETUP_USER_NAME')}} <span>&ast;</span></label>
                        <input type="text" class="form-control" data-ng-model="crmProductionCredentials.UserName" autocomplete="off">
                    </div>
                    <div>
                        <label>{{ResourceUtility.getString('SYSTEM_SETUP_PASSWORD')}} <span>&ast;</span></label>
                        <input type="password" class="form-control" data-ng-model="crmProductionCredentials.Password" autocomplete="off">
                    </div>
                    <div>
                        <label>{{ResourceUtility.getString('SYSTEM_SETUP_SECURITY_TOKEN')}} <span>&ast;</span></label>
                        <input type="password" class="form-control" data-ng-model="crmProductionCredentials.SecurityToken" autocomplete="off">
                    </div>
                    <button class="btn btn-primary" type="submit" data-ng-click="crmProductionSaveClicked()">
                        {{ResourceUtility.getString('BUTTON_SAVE_AND_VERIFY')}}
                    </button>
                </div>
                <!-- SFDC Sandbox -->
                <div id="formSandbox" role="tabpanel" class="tab-pane">
                    <div data-ng-show="crmSandboxError != ''" class="alert alert-danger">
                        {{crmSandboxError}}
                    </div>
                    <div>
                        <label>{{ResourceUtility.getString('SYSTEM_SETUP_USER_NAME')}} <span>&ast;</span></label>
                        <input type="text" class="form-control" data-ng-model="crmSandboxCredentials.UserName" autocomplete="off">
                    </div>
                    <div>
                        <label>{{ResourceUtility.getString('SYSTEM_SETUP_PASSWORD')}} <span>&ast;</span></label>
                        <input type="password" class="form-control" data-ng-model="crmSandboxCredentials.Password" autocomplete="off">
                    </div>
                    <div>
                        <label>{{ResourceUtility.getString('SYSTEM_SETUP_SECURITY_TOKEN')}} <span>&ast;</span></label>
                        <input type="text" class="form-control" data-ng-model="crmSandboxCredentials.SecurityToken">
                    </div>
                    <button class="btn btn-primary" type="submit" data-ng-click="crmSandboxSaveClicked()">
                        {{ResourceUtility.getString('BUTTON_SAVE_AND_VERIFY')}}
                    </button>
                </div>
            </div>
        </div>
        <div class="secondary-actions">
            <a href="#">Need an Account?</a>
            <a href="#">SFDC Package Instructions</a>
        </div>
    </div>
    <!-- Marketo -->
    <div class="formMT" data-ng-show="isMarketo">
        <img src="assets/images/logo_marketo_2.png" />
        <div>
            <label>{{ResourceUtility.getString('SYSTEM_SETUP_USER_ID')}} <span>&ast;</span></label>
            <input type="text" class="form-control" autocomplete="off">
        </div>
        <div>
            <label>{{ResourceUtility.getString('SYSTEM_SETUP_ENCRYPTION_KEY')}} <span>&ast;</span></label>
            <input type="text" class="form-control">
        </div>
        <div>
            <label>{{ResourceUtility.getString('SYSTEM_SETUP_URL')}} <span>&ast;</span></label>
            <input type="text" class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">{{ResourceUtility.getString('BUTTON_SAVE_AND_VERIFY')}}</button>
        <div class="secondary-actions">
            <a href="#">Need an Account?</a>
        </div>
    </div>
    <!-- Eloqua -->
    <div class="formMT" data-ng-show="!isMarketo">
        <img src="assets/images/logo_eloqua.png" />
        <div>
            <label>{{ResourceUtility.getString('SYSTEM_SETUP_USER_ID')}} <span>&ast;</span></label>
            <input type="text" class="form-control" autocomplete="off">
        </div>
        <div>
            <label>{{ResourceUtility.getString('SYSTEM_SETUP_PASSWORD')}} <span>&ast;</span></label>
            <input type="password" class="form-control" autocomplete="off">
        </div>
        <div>
            <label>{{ResourceUtility.getString('SYSTEM_SETUP_COMPANY')}} <span>&ast;</span></label>
            <input type="text" class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">{{ResourceUtility.getString('BUTTON_SAVE_AND_VERIFY')}}</button>
        <div class="secondary-actions">
            <a href="#">Need an Account?</a>
        </div>
    </div>
</div>

    <!--<section class="wrapper">
        <div class="row">
            <div class="col-md-12">
                <section class="panel panel-base">
                    <div class="panel-body main-panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>{{ResourceUtility.getString('MANAGE_CREDENTIALS_TITLE')}}</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h2>{{ResourceUtility.getString('MANAGE_CRM_CREDENTIALS_TITLE')}} <span class="fa fa-check-circle {{crmCredentialsCompleteClass}}"></span></h2>
                                <p>{{ResourceUtility.getString('MANAGE_CRM_CREDENTIALS_MESSAGE')}}</p>
                                <button class="btn btn-primary" 
                                        type="button" 
                                        data-dismiss="modal" 
                                        data-toggle="modal"
                                        data-ng-click="enterCrmCredentialsClicked()">{{ResourceUtility.getString('MANAGE_CRM_CREDENTIALS_BUTTON')}}</button>
                            </div>
                            <div class="col-md-6">
                                <h2>{{ResourceUtility.getString('MANAGE_MAP_CREDENTIALS_TITLE')}} <span class="fa fa-check-circle {{mapCredentialsCompleteClass}}"></span></h2>
                                <p>{{ResourceUtility.getString('MANAGE_MAP_CREDENTIALS_MESSAGE')}}</p>
                                <button class="btn btn-primary" 
                                        type="button" 
                                        data-dismiss="modal"
                                        data-toggle="modal"
                                        data-ng-click="enterMapCredentialsClicked()">{{ResourceUtility.getString('MANAGE_MAP_CREDENTIALS_BUTTON')}}</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <img src="assets/images/illustration-ru-topper.jpg" style="margin:0px auto;display:block;max-height:300px;max-width:100%;">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>-->