<?xml version="1.0" encoding="utf-8" ?>
<serviceAddresses>
  <add name = "LoginWebsite" value = "http://localhost:57055/Poet/salesprism.aspx" />
  <add name = "GriotWebsite" value = "http://localhost:65357/GriotWebSite/index.aspx" />
  <add name = "UserAuthenticator" value = "poet.lattice-engines.com/Poet/UserAuthenticationService.svc" />
  <add name = "ConfigurationStore" value = "localhost/Bard/ConfigurationStore" />
  <add name = "DataLoaderShim" value = "localhost/Bard/DataLoaderShim" />
  <add name = "DataLoader" value="ServerName=http://10.41.1.238;TenantName=Sable_Marketo;UserID=msable@lattice-engines.com;Password=Lattice1" />
  <add name = "DanteModelService" value ="localhost:52259/DanteWebSite/DanteModelService.svc"/>
  
  <!-- Global Auth -->
  
  <add name = "GlobalAuthService" value="localhost/Bard/GlobalAuthService" />
  <add name = "GlobalAuthSessionManager" value="localhost/Bard/GlobalAuthSessionManager" />
  <add name = "GlobalAuthTenantManager" value="localhost/Bard/GlobalAuthTenantManager" />
  <add name = "GlobalAuthUserManager" value="localhost/Bard/GlobalAuthUserManager" />
  
  <!-- Pretzel -->
  
  <add name = "Pretzel" value="localhost/Pretzel/PretzelService.svc" />

  <!-- Poet -->
  <add name = "FeatureUniverseMetadataProvider" value = "https://localhost/Poet/FeatureUniverseMetadataProvider"/>
</serviceAddresses>