<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commandTimeouts" type="LatticeEngines.DataBroker.LEObjectModel.Utilities.CommandTimeoutSettings, LEObjectModel"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <section name="leApplicationConfiguration" type="LatticeEngines.DataBroker.LEObjectModel.ApplicationConfigSettings, LEObjectModel"/>
    <section name="serviceAddresses" type="LatticeEngines.DataBroker.LEObjectModel.ServiceAddressSettings, LEObjectModel"/>
  </configSections>
  <serviceAddresses configSource="Services.config"/>
  <loggingConfiguration configSource="Logging.config"/>
  <leApplicationConfiguration configSource="Poet.config"/>
  <connectionStrings configSource="Connections.config"/>
  <commandTimeouts configSource="Timeouts.config"/>
  <!-- Section below is for detailed web service logging; off by default -->
  <!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add name="xmlTrace" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xmlTrace" type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="web_messages.svclog"  traceOutputOptions="Timestamp"/>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>  
  -->
  <system.serviceModel>
    <!-- Section below is for detailed web service logging; off by default -->
    <!--
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false"
      logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" />
    </diagnostics>
    -->
    <!-- Section below is needed in order to enable the request validator extensions.
         My intent was to leave this in here but there is a requirement that the assembly
         is referenced exactly, including version number and publicKeyToken.  Not worth 
         maintaining, so the whole thing is completely commented out.
    -->
    <!--
    <extensions>
      <behaviorExtensions>
        <add name="requestValidator" type="LatticeEngines.DataBroker.LEApplicationInterface.Security.MessageSecurity.SchemaValidationBehaviorExtensionElement, LEApplicationInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=76c5644dd94472c6"/>
      </behaviorExtensions>
    </extensions>
    -->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="GriotHttpBehavior">
          <webHttp automaticFormatSelectionEnabled="true" defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="GriotServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="GriotBasicBinding" allowCookies="true" maxBufferSize="5242888" maxBufferPoolSize="5242888" maxReceivedMessageSize="5242888">
          <readerQuotas maxStringContentLength="5242888"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="LEApplicationBasicBinding" allowCookies="true" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <!-- Remove the line below when working with unsecured HTTP connections -->
          <!--security mode="Transport"/-->
        </binding>
        <binding name="DeploymentRegistryServiceBinding" allowCookies="true" maxBufferSize="5242888" maxBufferPoolSize="5242888" maxReceivedMessageSize="5242888">
          <readerQuotas maxStringContentLength="5242888"/>
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="GriotWebHttpBinding" crossDomainScriptAccessEnabled="false" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="5242888"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="GriotServiceBehavior"
        name="LatticeEngines.Griot.WebInterface.ServiceContracts.LoginService">
        <endpoint address="" behaviorConfiguration="GriotHttpBehavior" bindingConfiguration="GriotWebHttpBinding"
          binding="webHttpBinding" contract="LatticeEngines.Griot.WebInterface.ServiceContracts.ILoginService"/>
      </service>
      <service behaviorConfiguration="GriotServiceBehavior"
        name="LatticeEngines.Griot.WebInterface.ServiceContracts.GriotService">
        <endpoint address="" behaviorConfiguration="GriotHttpBehavior" bindingConfiguration="GriotWebHttpBinding"
          binding="webHttpBinding" contract="LatticeEngines.Griot.WebInterface.ServiceContracts.IGriotService" />
      </service>
    </services>
    <client>
      <endpoint binding="basicHttpBinding" bindingConfiguration="DeploymentRegistryServiceBinding" name="DeploymentRegistryEndpoint" contract="LatticeEngines.DataBroker.LEObjectModel.Deployment.Service.IDeploymentService"/>
      <endpoint binding="basicHttpBinding" bindingConfiguration="DeploymentRegistryServiceBinding" name="DeploymentAlertEndpoint" contract="LatticeEngines.DataBroker.LEObjectModel.Deployment.Service.IDeploymentAlertService"/>
    </client>
  </system.serviceModel>
  <system.web>
    <machineKey
      validationKey="429EEADB8EDBBDC7C7310DFCCE54A3B57AAE43F7C3745B8CD5EE94B6AD04DED6068C61495FCEF349BA5BCA178439A26A53A2AF6BBFD732603AA3575BD2C1BDB7"
      decryptionKey="29F8709BB7C6925031507A9884501C6D2C0385F5E734498F9AA4CB74B44F92FF"
      validation="SHA1"
      decryption="AES"
      />
    <httpRuntime requestValidationMode="2.0" enableVersionHeader="false"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpModules>
      <!--add name="GriotServiceAuthenticationModule" type="LatticeEngines.Griot.WebInterface.Security.ServiceAuthenticationModule, GriotWebInterface, Version=1.0.0.0, Culture=neutral"/-->
    </httpModules>
    <authentication mode="None"/>
    <webServices/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>