<div class="container pd-industry" ng-controller="BuilderCtrl">
    <div class="row page-header">
        <h4 class="columns four">{{AttrKey}} ({{total}})</h4>
        <span class="columns eight">
            <button type="button" class="button icon-button white-button">
                <span class="fa fa-ellipsis-h"></span>
            </button>
        </span>
    </div>
    <div class="row builder-subheader">
    	<ul class="columns twelve link-nav">
    		<li><a href="#">Show All</a></li>
    		<li><a href="#">Only Selected</a></li>
    	</ul>
    </div>

    <div class="row industry-list" ng-repeat="items in lists">

        <div class="four columns list-item" ng-repeat="item in items">
        	<div class="tile">
        		<div class="row">
        			<div class="nine columns">
	        			<input type="checkbox" id="tile1" />
	        			<label for="tile1">
                            {{ item.AttrValue | limitTo: truncate_limit }}{{item.AttrValue.length > truncate_limit ? '&hellip;' : ''}}
                            &nbsp;(<a ui-sref="builder">{{ item.total || "5" }}</a>)
                        </label>
        			</div>
        			<div class="three columns">
        				{{ item.lift || "1.9x" }} ${{ item.revenue | number:0 }}
        			</div>
        		</div>
        		<div class="row">
        			<div class="six columns">
        				<dl class="stats">
        					<dt>Available from Lattice</dt>
        					<dd><a href="#">{{ item.lattice | number:0 }}</a></dd>
        				</dl>
        				<dl class="stats">
        					<dt>All in your database</dt>
        					<dd><a href="#">{{ item.database | number:0 }}</a></dd>
        				</dl>
        				<dl class="stats">
        					<dt>Your customers</dt>
        					<dd><a href="#">{{ item.customers | number:0 }}</a></dd>
        				</dl>
        			</div>
                    <div class="six columns">
                        <div class="circle-container">
                            <div 
                                class="big-circle saphire-bkg">
                            </div>
                            <div 
                                class="medium-circle gun-metal-bkg"
                                style="width:{{ item.mediump }}%;height:{{ item.mediump }}%;">
                            </div>
                            <div 
                                class="small-circle jet-bkg"
                                style="width:{{ item.smallp }}%;height:{{ item.smallp }}%;">
                            </div>
                        </div>
        			</div>
        		</div>
        	</div><!-- End .tile -->
        </div><!-- End .three.columns -->

    </div><!-- End .row -->
</div>