<div class="container pd-builder-attributes" ng-controller="AttributesCtrl as vm">
    <div class="row page-header">
        <h4 class="columns four">
            <span ng-if="!vm.ParentValue">{{ vm.AttrKey }}</span> 
            <span ng-if="vm.ParentValue">
                <button 
                    type="button" 
                    class="button icon-button white-button"
                    ui-sref="builder.category({AttrKey: '{{ vm.ParentKey == 'Region' ? 'Locations' : vm.ParentKey }}', ParentKey: '', ParentValue: ''})"
                >
                    <span class="fa fa-arrow-left"></span>
                </button>
                &nbsp;{{ vm.ParentValue }}&nbsp;
            </span>
            <span class="smaller" ng-if="vm.total">({{ vm.total }})</span>
        </h4>
        <span class="columns eight">
            <input 
                type="text" 
                class="form-control" 
                ng-model="vm.SearchValue.AttrValue"
                ng-show="vm.ShowSearch" 
            />
            <button type="button" class="button icon-button white-button" ng-click="vm.ShowSearch = !vm.ShowSearch">
                <span class="fa fa-search"></span>
            </button>
            <button type="button" class="button icon-button white-button" ng-click="vm.FilterChecked = !vm.FilterChecked">
                <span class="fa fa-check-square{{ vm.FilterChecked ? '' : '-o' }}"></span>
            </button>
            <select 
                    class="custom-select" 
                    ng-model="vm.SortProperty"
                >
                <option value="AttrValue">Name</option>
                <option value="lift">Lift</option>
                <option value="revenue">Revenue</option>
                <option value="customer_percent_of_theirs">Potential</option>
            </select>
            <button 
                    type="button" 
                    class="button icon-button white-button" 
                    ng-click="vm.SortDirection = (vm.SortDirection == '' ? '-' : '')" 
                >
                <span class="fa 
                        fa-sort-{{ 
                            vm.SortProperty == 'AttrValue' 
                                ? 'alpha' 
                                : (vm.SortProperty == 'customer_percent_of_theirs' 
                                    ? 'amount' 
                                    : 'numeric') 
                        }}-{{ 
                            vm.SortDirection == '' 
                                ? 'asc' 
                                : 'desc' 
                        }}"
                    >
                </span>
            </button>
            <a ui-sref="jobs.import.credentials"><button class="button orange-button">Save Attributes</button></a>
        </span>
    </div>
    
    <div class="row" ng-init="pagesize = 9; current = 1" ng-show="max > 1">
        <div class="twelve columns">
            <pd-pagination-controls current="current" max="max = vm.list.length / pagesize">
            </pd-pagination-controls>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns tile-list">
            <div 
                    class="list-item
                            {{ vm.SubCategory ? ' has-sub' : '' }}
                            {{ item.selected ? ' selected' : '' }}
                            {{ vm.FilterChecked ? ' filter-checked' : '' }}"
                    ng-repeat="
                            (col, item) in filtered = vm.list | 
                            filter: vm.SearchValue | 
                            orderBy: vm.SortDirection + vm.SortProperty |
                            startFrom: (current - 1) * pagesize |
                            limitTo: pagesize"
                    ng-click="vm.handleTileClick($event, item)"
                >                
                <div class="tile">
            		<div class="tile-head">
            			<div class="pull-left" ng-click="$event.stopPropagation()">
    	        			<input 
                                type="checkbox" 
                                id="attr-checkbox_{{ row }}_{{ col }}" 
                                class="attr-checkbox custom"
                                ng-model="item.selected"
                                ng-change="vm.handleTileSelect(item)"
                            />
    	        			<label for="attr-checkbox_{{ row }}_{{ col }}" class="attr-label">
                                {{ item.AttrValue | limitTo: vm.TruncateLimit }}{{item.AttrValue.length > vm.TruncateLimit ? '&hellip;' : ''}}
                                &nbsp;<span ng-if="item.total">( <span class="blue-text">{{ item.total }}</span> )</span>
                            </label>
            			</div>
            			<div class="text-right pull-right">
            				<h3 class="lift">{{ item.lift || "1.0x" }}</h3>
                            <span class="success-text">${{ item.revenue | number:0 }}</span>
            			</div>
            		</div><!-- End .tile-head ; $event.stopPropagation();-->
            		<div class="tile-meta">
            			<div class="stats-container pull-left">
            				<dl class="stats">
            					<dt>Available from Lattice</dt>
            					<dd class="blue-text">{{ item.lattice_companies | number:0 }}</dd>
            				</dl>
            				<dl class="stats">
            					<dt>All in your database</dt>
            					<dd class="in-database">
                                    {{ item.their_companies | number:0 }}&nbsp;
                                <span class="smaller">
                                    ({{ item.companies_percent | number:1 }}%)
                                </span></dd>
            				</dl>
            				<dl class="stats">
            					<dt>Your customers</dt>
            					<dd class="your-customers">
                                    {{ item.customers | number:0 }}&nbsp;
                                <span class="smaller">
                                    ({{ item.customer_percent_of_theirs | number:1 }}%)
                                </span></dd>
            				</dl>
            			</div>
                        <div class="circle-container pull-right">
                            <div 
                                class="big-circle saphire-bkg">
                            </div>
                            <div 
                                class="medium-circle gun-metal-bkg"
                                style="width:{{ item.companies_percent }}%;height:{{ item.companies_percent }}%;">
                            </div>
                            <div 
                                class="small-circle jet-bkg"
                                style="width:{{ item.customer_percent }}%;height:{{ item.customer_percent }}%;">
                            </div>
                        </div>
            		</div><!-- End .tile-meta -->
                </div><!-- End .tile -->
            </div><!-- End .list-item -->

        </div><!-- End .twelve.columns -->
    </div><!-- End .row -->

</div>