.pd-builder-attributes {
    perspective: 7000px;
    perspective-origin: 50% 0%;
    min-height: 1024px;

    .list-item {
        margin-bottom: 2em;
        color: #000;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: all 300ms ease;
        transform-origin: 50% 0%;

        .tile.filter-checked {
            display: none;
        }
    }

    .list-item.selected {
        .tile.filter-checked {
            display: block;
        }
    }

    .list-item:nth-child(3n-1) {
        margin-left: 0;
    }

    .list-item.ng-enter  {
        transform: rotateX(180deg);
    }

    .list-item.ng-enter-active {
        transform: rotateX(0deg);
    }

    .list-item.ng-enter-stagger {
        transition-delay: 50ms;
        transition-duration: 0s;
    }

    div.list-item.has-sub {
        cursor: pointer;
    }
    
    .list-item:hover,
    .list-item {
        cursor: default;
        
        .attr-select-container {
            position: relative;
            
            input {
                
            }

            label {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding-left: 1.5em;
                margin: 0;
            }
        }

        div.circle-container {
            position: relative;
            width: 120px;
            height: 120px;
            text-align: center;
            margin: 0.75em auto 0;

            div.big-circle,
            div.medium-circle,
            div.small-circle {
                display: inline-block;
                position: absolute;
                bottom: 0;
                height: 100%;
                width: 100%;
                border: 2px solid #fff;
                border-radius: 50%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
            }

            div.big-circle {
            }

            div.medium-circle {
                background: #888888;
                width: 70%;
                height: 70%;
            }

            div.small-circle {
                background: #464646;
                width: 30%;
                height: 30%;
            }
        }
    }
}