.pd-builder-attributes {
    perspective: 7000px;
    perspective-origin: 50% 0%;
    min-height: 1024px;
    
    .page-header {
        padding-top: 0px;
    }

    span.subcategory-header {
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
        vertical-align: middle;
        max-width: calc(100% - 3.5em);
    }

    span.subcategory-header-controls {
        min-width: 33em;
        float: right;
        margin: 0;

        select.custom-select {
            height: 43px;
            border: 1px solid #ccc;
            width: auto !important;
            font-size: 12pt;
            vertical-align: bottom;
        }
    }

    .category-results {
        position: relative;
        min-height: 735px;
    }

    .tile-list {
        justify-content: space-around;
    }
    
    .list-item {
        margin-bottom: 2em;
        color: #000;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: all 150ms ease;
        transform-origin: 50% 50%;

        .tile.filter-checked {
            display: none;
        }

        label.attr-label {
            word-wrap: break-word;
            
            span.attr-label-subcategory-total {
                white-space: nowrap;
                display: inherit;
            }
        }
    }

    .list-item.selected {
        .tile.filter-checked {
            display: block;
        }
    }

    .list-item:nth-child(3n-1) {
        margin-left: 0;
    }

    .list-item.ng-enter  {
        transform: scaleY(0);
        position: absolute;
        top: 0;
    }

    .list-item.ng-enter-active {
        transform: scaleY(100%);
        position: absolute;
        top: 0;
    }

    .list-item.ng-leave  {
        transform: scaleY(100%);
    }

    .list-item.ng-leave-active {
        transform: scaleY(0);
    }

    div.list-item.has-sub {
        cursor: pointer;
    }
    
    .list-item:hover,
    .list-item {
        cursor: default;
        
        .attr-select-container {
            position: relative;
            
            input {
                
            }

            label {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding-left: 1.5em;
                margin: 0;
            }
        }

        div.circle-container {
            position: relative;
            width: 120px;
            height: 120px;
            text-align: center;
            margin: 0.75em auto 0;

            div.big-circle,
            div.medium-circle,
            div.small-circle {
                display: inline-block;
                position: absolute;
                bottom: 0;
                height: 100%;
                width: 100%;
                border: 2px solid #fff;
                border-radius: 50%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
            }

            div.big-circle {
            }

            div.medium-circle {
                background: #467dba;
                width: 70%;
                height: 70%;
            }

            div.small-circle {
                background: #464646;
                width: 30%;
                height: 30%;
            }
        }
    }
}