<div class="container pd-industry" ng-controller="CategoryCtrl">
    <div class="row page-header">
        <h4 class="columns six">
            <span ng-if="!ParentValue">{{AttrKey}}</span> 
            <span ng-if="ParentValue">
                <button 
                    type="button" 
                    class="button icon-button white-button"
                    ui-sref="builder.category({AttrKey: '{{ ParentKey }}', ParentKey: '', ParentValue: ''})"
                >
                    <span class="fa fa-arrow-left"></span>
                </button>
                &nbsp;{{ParentValue}}&nbsp;
            </span>
            <span class="smaller" ng-if="total">({{total}})</span>
        </h4>
        <span class="columns six">
            <button type="button" class="button icon-button white-button">
                <span class="fa fa-filter"></span>
            </button>
            <button type="button" class="button icon-button white-button">
                <span class="fa fa-sort-amount-desc"></span>
            </button>
            <a ui-sref="jobs.import.credentials"><button class="button orange-button">Save Attributes</button></a>
        </span>
    </div>

    <div class="row industry-list" ng-repeat="(row, items) in lists">

        <div class="four columns list-item{{ item.selected ? ' selected' : '' }}" ng-repeat="(col, item) in items">
        	<div class="tile">
        		<div class="row">
        			<div class="nine columns attr-select-container">
	        			<input 
                            type="checkbox" 
                            id="attr-checkbox_{{ row }}_{{ col }}" 
                            class="attr-checkbox"
                            ng-model="item.selected"
                            ng-change="handleTileSelection($event);"
                        />
	        			<label for="attr-checkbox_{{ row }}_{{ col }}" class="attr-label">
                            {{ item.AttrValue | limitTo: truncate_limit }}{{item.AttrValue.length > truncate_limit ? '&hellip;' : ''}}
                            &nbsp;(<a ui-sref="builder">{{ item.total || "5" }}</a>)
                        </label>
        			</div>
        			<div class="three columns" ui-sref="builder.category({ParentKey: '{{ AttrKey }}', ParentValue: '{{ item.AttrValue }}' , AttrKey: 'SubIndustry'})">
        				{{ item.lift || "1.9x" }} ${{ item.revenue | number:0 }}
        			</div>
        		</div>
        		<div class="row" ui-sref="builder.category({ParentKey: '{{ AttrKey }}', ParentValue: '{{ item.AttrValue }}' , AttrKey: 'SubIndustry'})">
        			<div class="six columns">
        				<dl class="stats">
        					<dt>Available from Lattice</dt>
        					<dd><a href="#">{{ item.lattice_companies | number:0 }}</a></dd>
        				</dl>
        				<dl class="stats">
        					<dt>All in your database</dt>
        					<dd><a href="#">
                                {{ item.their_companies | number:0 }}&nbsp;
                            </a><span class="smaller">
                                ({{ item.mediump | number:1 }}%)
                            </span></dd>
        				</dl>
        				<dl class="stats">
        					<dt>Your customers</dt>
        					<dd><a href="#">
                                {{ item.customers | number:0 }}&nbsp;
                            </a><span class="smaller">
                                ({{ item.smallp_of_theirs | number:1 }}%)
                            </span></dd>
        				</dl>
        			</div>
                    <div class="six columns">
                        <div class="circle-container">
                            <div 
                                class="big-circle saphire-bkg">
                            </div>
                            <div 
                                class="medium-circle gun-metal-bkg"
                                style="width:{{ item.mediump }}%;height:{{ item.mediump }}%;">
                            </div>
                            <div 
                                class="small-circle jet-bkg"
                                style="width:{{ item.smallp }}%;height:{{ item.smallp }}%;">
                            </div>
                        </div>
        			</div>
        		</div>
        	</div><!-- End .tile -->
        </div><!-- End .three.columns -->

    </div><!-- End .row -->
</div>