.pd-industry {
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    -ms-perspective: 2000px;
    perspective: 2000px;

    .industry-list {
        margin-bottom: 2em;
        color: #000;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: all 1 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        transition: all 300ms ease;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    .industry-list.ng-enter  {
        transform: rotateX(180deg);
    }

    .industry-list.ng-enter-active {
        transform: rotateX(0deg);
    }

    .industry-list.ng-enter-stagger {
        transition-delay: 150ms;
        transition-duration: 0s;
    }

    div.list-item {
        div.circle-container {
            position: relative;
            width: 120px;
            height: 120px;
            text-align: center;
            margin: 1.8em auto 0;

            div.big-circle,
            div.medium-circle,
            div.small-circle {
                display: inline-block;
                position: absolute;
                bottom: 0;
                height: 100%;
                width: 100%;
                border: 2px solid #fff;
                border-radius: 50%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
            }

            div.big-circle {
            }

            div.medium-circle {
                background: #888888;
                width: 70%;
                height: 70%;
            }

            div.small-circle {
                background: #464646;
                width: 30%;
                height: 30%;
            }
        }
    }
}