
.chips-query-container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 30px;
    .chips-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2px;
        width: 100%;
        font-size: 14px;
        .chip-container {
            padding: 5px;
            border-radius: 4px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            span {
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 15em;
                overflow: hidden;
            }
        }
        .chip {
            width: auto;
            padding: 0px;
            margin: 0 3px 3px 0;
            line-height: 1;
            border: #cbcbcb solid 1px;
            background-color: rgba(0, 0, 0, 0.05);
        }
        .chip-remove {
            cursor: pointer;
            margin-left: 4px;
            color: #4e4e4e;
        }
    }
    .text-container {
        display: flex;
        flex-direction: column;
        .query {
            box-shadow: 0px 1px 1px 0px rgb(247, 247, 247);
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 2px;
            width: 100%;
            font-size: 14px;
            &:focus {
                outline: none;
                border: 1px solid #467dba;
                box-shadow: 0px 1px 1px 0px rgb(247, 247, 247);
            }
            &.search-icon {
                border: none;
                padding-left: 0px;
            }
        }
        .query-result-container {
            position: relative;
            padding-left: 2px;
            margin-top: 0px;
            width: 99%;
            border: 1px solid rgba(189, 185, 185, 0.946);
            display: flex;
            flex-direction: column;
            max-height: 200px;
            overflow-x: hidden;
            overflow-y: auto;
            box-shadow: 2px 2px rgba(214, 214, 214, 0.871);
        }
        .ng-search {
            display: flex;
        }
    }
    .query-result-row-selected-test {
        background-color: rgba(211, 210, 210, 0.549);
    }
    .dropdown {
        width: 100%;
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        margin-top: -1px;
        overflow: auto;
        max-height: 200px;
        border: #cbcbcb solid 1px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        .query-result-row {
            display: flex;
            border-bottom: 1px solid #ddd;
            padding: 8px 8px 8px 12px;
            span{
                flex:1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                // border: 1px solid green;
            }
            .action{
                border: 1px solid;
            }
        }
        .query-result-row-selected {
            background: #467dba;
            color: #fff;
            font-weight: bold;
        }
    }
    .dropdown-content:not(.query-result-header) {
        .query-result-row:hover{
            background: #fbfbfb;
            color: #467dba;
            font-weight: bold;
            cursor: pointer;
        }
    }
    .text-container.show-header {
        .dropdown-content:not(.query-result-header) {
            margin-top: 1.6em;
        }
        .show-dropdown.query-result-header {
            display: block;
        }
    }
    .query-result-header {
        margin-top: -1px;
        display: none;
        .query-result-row {
            padding: 1px 8px 0px 12px;
            background: #efefef;
            border-bottom: none;
            text-transform: uppercase;
            font-size: 6pt;
            font-weight: bold;
            i {
                margin-left: .5em;
            }
        }
        .query-result-row span span:hover {
            text-decoration: underline;
            color: #457EBA;
        }
        .query-result-row span span:active {
            color: #666;
        }
    }
    .show-dropdown {
        display: block;
    }
}