@import "./input/input.component.scss";
@import "./tree/tree.component.scss";
@import "./tree/transaction/transaction.component.scss";
@import "./tree/edit/date-range/date-range.component.scss";
@import "./tree/edit/numerical-range/numerical-range.component.scss";
@import "./tree/edit/tree-item-edit.component.scss";


div.advanced-query-builder {
    position: relative;

    strong {
        font-weight: bold;
    }

    ul.query-tree-root > li > query-tree-directive > ul > li > query-tree-directive > ul > li > query-tree-directive > ul > li div.query-section-item-end span.add-operator {
        display: none;
    }
    
    div.query-rules-header {

        div.query-rules-header-infotext {
            margin-top: .5em;
        }

        div.query-rules-header-defaultbucket {
            margin: .5em 0;
            
            select {
                margin-left: .5em;
            }
        }
    }

    ul.query-rules-buckets-container {
        display: block;

        li.query-rules-buckets-bucket {
            display: inline-block;
            text-align: center;
            width: 15%;
            margin: 1em 1% 0.5em;
            
            &:first-child {
                margin-left: 0;
            }
            
            &:last-child {
                margin-right: 0;
            }

            &.active div.bucket-box {
                position: relative;
                background: white;
                box-shadow: 0px 0px 11px 2px rgba(0,255,224,0.33);
                border-color: #33bdb7;
                
                &:before {
                    box-shadow: inherit;
                    content: '';
                    display: block;
                    position: absolute;
                    left: calc(50% - 10px);
                    bottom: -11px;
                    height: 20px;
                    width: 20px;
                    background: inherit;
                    transform: rotate(45deg);
                    z-index: -1;
                }

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: calc(50% - 10px);
                    bottom: -11px;
                    height: 20px;
                    width: 20px;
                    background: inherit;
                    transform: rotate(45deg);
                    border-bottom-width: 1px;
                    border-bottom-style: solid;
                    border-right-width: 1px;
                    border-right-style: solid;
                    border-color: inherit;
                    z-index: 0;
                }
            }

            div.bucket-box {
                background: #fafafa;
                padding: 1.5em 0;
                border: 1px solid #ddd;
                border-radius: 3px;

                .bucket-label {

                }

                .bucket-resource {
                    text-transform: uppercase;
                    font-size: 0.85em;
                }

                .bucket-resource-count {

                    .count-number {

                    }

                    .count-percentage {

                    }
                }
            }

            div.bucket-rulecount {
                margin: 1.5em 0 1em;
            }
        }
    }

    h2 {
        display: block;
        margin-bottom: .4em;
        
        span.query-rules-count {
            display: inline-block;
            margin: 0 .1em;
        }
    }

    .query-algorithm {
        margin: 1em 0;
        display: flex;
        
        .query-algorithm-display {
            background: white;
            border: 1px solid #ccc;
            border-radius: 3px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            padding: 2px 0.5em;
            width: 100%;
            margin-right: 0.25em;
        }

        .query-algorithm-undo {
            padding: 0 10px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .button-group {
        margin: 0 0.5em 0 0em;

        button {
            border-radius: 0px;
            border-color: rgb(169, 169, 169);
        }

        &>.button:last-child:not(:first-child), 
        &>.dropdown-toggle:not(:first-child) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }

        &>.button:first-child:not(:last-child):not(.dropdown-toggle) {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        .button.icon-button, 
        button.button.icon-button, 
        a.button.icon-button, 
        .button a:link.icon-button, 
        .button a:focus.icon-button, 
        .button a:visited.icon-button {
            padding: 0;
            font-size: 10pt;
            vertical-align: baseline;
            
            &.white-button:hover,
            &.white-button:focus {
                background-color: white;
            }
            
            &.light-gray-button {
                background: #aaa;
            }

            span {
                display: inline-block;
                padding: 0.1em .4em 0;
                color: #000;
            }

            i {
                display: inline-block;
                margin: 0.25em .2em 0.3em;
                color: #eee;
                
            }

            &:last-child i {
                margin-left: 0.2em;
            }
        }
    }
}
