<div class="enrichment-wizard-container container advanced-query-builder {{ vm.mode }}">

    <div class="">
        <div class="success-message" ng-if="vm.saved === true">
            <h3>Rules were saved successfully!</h3>
        </div>
    </div>

    <div class="">
        <div class="query-rules-header" ng-if="vm.mode == 'rules' || vm.mode == 'dashboardrules'">
            
            <button
                ng-if="vm.mode == 'dashboardrules'"
                class="button blue-button pull-right"
                ng-click="vm.saveRules()"
                >
                Save Changes to Rules
            </button>

            <h2>
                <i class="fa fa-random"></i> Rules - Define the rules for your targets
            </h2>
            
            <div class="query-rules-header-infotext">
               A record will always get the highest rating it is eligible for.
            </div>

            <div class="query-rules-header-defaultbucket">
                If a record doesn't match any rules, it should be given this rating:
                
                <select ng-model="vm.rating_rule.defaultBucketName"
                        ng-change="vm.changeDefaultBucket()"
                        ng-options="bkt.bucket as bkt.bucket for bkt in vm.buckets">
                </select>
            </div>

        </div>
        
        <ul class="query-rules-buckets-container" ng-if="vm.mode == 'rules' || vm.mode == 'dashboardrules'">
            <li     ng-repeat="bucket in vm.buckets" 
                    ng-class="{ 'active': bucket.bucket == vm.bucket }"
                    ng-click="vm.clickBucketTile(bucket)"
                    class="query-rules-buckets-bucket">
                <div class="bucket-box">
                    <div class="bucket-label"><h2>{{ bucket.bucket }}</h2></div>
                    <div class="bucket-resource">{{ vm.treeMode | uppercase }}</div>

                    <div class="bucket-resource-count" ng-if="bucket.count < 0">
                        <span class="query-section-item-records-number">
                            <i class="fa fa-spinner fa-spin"></i>
                        </span>
                    </div>

                    <div class="bucket-resource-count" ng-if="bucket.count >= 0">
                        <span class="count-number">{{ bucket.count }}</span>
                        <span class="count-percentage">({{ (bucket.count / vm.coverage_map.accountCount) * 100 | number:1 }}%)</span>
                    </div>
                </div>

                <div  class="bucket-rulecount">{{ vm.getRuleCount(bucket) }} Rules</div>
            </li>
        </ul>
        
        <!--ul class="row controls">
            <li class="" ng-if="vm.mode == 'rules'">
                <h2>Rules (<span class="query-rules-count">{{ vm.getRuleCount() }}</span>)</h2>
                Query expression of the rules you've created:
            </li>
            <li class="buttons pull-right" ng-if="vm.mode == 'segment'">
                <button class="button icon-button blue-button"
                        ng-if="!vm.saving" 
                        ng-disabled="vm.checkDisableSave()" 
                        ng-click="vm.saveSegment()">
                    Save Segment
                </button>
                <button ng-if="vm.saving" disabled class="button icon-button blue-button">Saving <i class="fa fa-spinner fa-pulse fw"></i></button>
            </li>
        </ul-->

        <div class="row query-algorithm noselect-children">
            <div class="query-algorithm-display">
                <ul class="query-input query-input-root">
                    <li query-input-directive
                        ng-repeat="tree in ((vm.mode == 'rules' || vm.mode == 'dashboardrules') ? vm.getRulesInputTree() : vm.getSegmentInputTree())"
                        ng-class="{'input-section-item-box-subtree':tree.logicalRestriction.restrictions}" 
                        class="{{ tree.logicalRestriction.operator ? 'query-input-type-' + tree.logicalRestriction.operator.toLowerCase() : '' }}" 
                        items="vm.items" tree="tree" root="vm" parent="vm[vm.state]">
                    </li>
                </ul>
            </div>

            <button class="query-algorithm-undo button white-button" 
                    ng-click="vm.clickUndo()" 
                    ng-disabled="vm.history.length == 0 || vm.mode == 'rules' || vm.mode == 'dashboardrules'">
                <i class="fa fa-undo"></i> UNDO
            </button>
        </div>

<!--         <div class="row query-helper-text-one" ng-if="vm.mode == 'segment'">
            <span>
                Build a segment with 
                <div class="button-group" role="group" ng-click="vm.clickTreeMode(vm.treeMode == 'account' ? 'contact' : 'account')">
                    <button type="button" 
                            class="button icon-button {{vm.treeMode == 'account' ? 'white' : 'light-gray'}}-button" 
                            value="{{vm.treeMode == 'account' ? 'contact' : 'account'}}">
                        <span ng-if="vm.treeMode == 'account'">Accounts</span>
                        <i class="fa fa-bars fa-rotate-90" ng-if="vm.treeMode == 'contact'"></i>
                    </button>
                    <button type="button" 
                            class="button icon-button {{vm.treeMode == 'contact' ? 'white' : 'light-gray'}}-button" 
                            value="{{vm.treeMode == 'account' ? 'contact' : 'account'}}">
                        <i class="fa fa-bars fa-rotate-90" ng-if="vm.treeMode == 'account'"></i>
                        <span ng-if="vm.treeMode == 'contact'">Contacts</span>
                    </button>
                </div>
                that have:
            </span>
        </div> -->

        <ul class="query-section query-tree-root"
            ng-mouseleave="vm.mouseUp()">
            <li     ng-class="{'query-section-item-box-subtree':tree.logicalRestriction.operator}" 
                    ng-repeat="tree in ((vm.mode == 'rules' || vm.mode == 'dashboardrules') ? vm.accountRulesTree : vm.getAccountTree())"
                    ng-mouseup="vm.mouseUp($event)">
                <query-tree-directive 
                        class="{{ tree.logicalRestriction.operator ? 'query-section-type-' + tree.logicalRestriction.operator.toLowerCase() : '' }}" 
                        items="vm.items" tree="tree" root="vm" entity=" 'Account' ">
                </query-tree-directive>
            </li>
        </ul>

        <div class="row query-helper-text-one">
            <span>
                <strong>AND</strong>
            </span>
        </div>

        <ul class="query-section query-tree-root"
            ng-mouseleave="vm.mouseUp()">
            <li     ng-class="{'query-section-item-box-subtree':tree.logicalRestriction.operator}" 
                    ng-repeat="tree in ((vm.mode == 'rules' || vm.mode == 'dashboardrules') ? vm.contactRulesTree : vm.getContactTree())"
                    ng-mouseup="vm.mouseUp($event)">
                <query-tree-directive 
                        class="{{ tree.logicalRestriction.operator ? 'query-section-type-' + tree.logicalRestriction.operator.toLowerCase() : '' }}" 
                        items="vm.items" tree="tree" root="vm" entity=" 'Contact' ">
                </query-tree-directive>
            </li>
        </ul>

    </div>
</div>