<section class="container setup-import" style="margin-top: 0px">

    <div class="ratingengine-training playbook-content container">
        <div class="inner-container">
            <form name="uploadForm">
            
                <div class="header">
                    <h2>How do you want to train the model?</h2>
                    <p>Upload a CSV file containing the Lattice Account ID or Lattice Contact ID, a column for the predictive event (e.g. product purchases), and additional columns for matching to the Lattice Data Cloud.</p>
                </div>

                <div 
                    file-uploader-container
                    label="Select and Upload File"
                    params="vm.params"
                    input-name="csvFileName"
                    file-select="vm.fileSelect(fileName)"
                    file-load="vm.fileLoad(headers)"
                    file-done="vm.fileDone(result)"
                    file-cancel="vm.fileCancel()"
                    info-template="vm.params.infoTemplate"
                    tooltip-config="{{vm.params.tooltipConfiguration}}"
                    class="form-group file-upload" 
                    ng-class="{ 'has-error' : uploadForm.csvFileName.$invalid && !uploadForm.modelDisplayName.$pristine, 'is-pristine' : uploadForm.csvFileName.$pristine }">
                </div>

                <h3>Account Model Training Options</h3>
                <div class="advanced-options">
                    <label id="oneLeadPerDomainCheckbox">
                        <input type="checkbox" id="cbox1" data-ng-checked="vm.modelTrainingOptions.deduplicationType == 'ONELEADPERDOMAIN'" ng-click="vm.setTrainingOptions('deduplicationType')"> One record per account
                        <i class="fa fa-exclamation-circle show-tooltip delay top left">
                            <div class="tooltip_">
                                <div class="cover">
                                    <p>Dedupe your Accounts before training the model. Only uncheck when your first party account data is highly site specific, or you prefer to use your own dedupe logic prior to loading.</p>
                                </div>
                            </div>
                        </i>
                    </label>
                    <label id="includePersonalEmailDomainsCheckbox">
                        <input type="checkbox" id="cbox2" data-ng-checked="!vm.modelTrainingOptions.excludePublicDomains" ng-click="vm.setTrainingOptions('excludePublicDomains')"> Include personal email domains 
                        <i class="fa fa-exclamation-circle show-tooltip delay top left">
                            <div class="tooltip_">
                                <div class="cover">
                                    <p>Use all records for training the model, including those with personal email domains. Try unchecking this when you are supplementing your training data with lead records where personal domains also have missing or incorrect Company information.</p>
                                </div>
                            </div>
                        </i>
                    </label>
                    <label id="transformationGroup">
                        <input type="checkbox" id="cbox3" data-ng-checked="!vm.modelTrainingOptions.transformationGroup" ng-click="vm.setTrainingOptions('transformationGroup')"> Use curated attributes 
                        <i class="fa fa-exclamation-circle show-tooltip delay top left">
                            <div class="tooltip_">
                                <div class="cover">
                                    <p>Use data transformations to curate better predictors and enhance your model. Try unchecking when you see curated predictors in your model that don’t make business sense for your use case (e.g., curated territories when your sales teams are split by territory).</p>
                                </div>
                            </div>
                        </i>
                    </label>

                </div><!-- End .row -->
            </form>
        </div>
    </div>

</section>