<div 
    class="ratingengine-training playbook-content container"
    ng-class="{viewingIteration: $ctrl.viewingIteration}">

    <div class="training-header" ng-if="$ctrl.viewingIteration">
        <h1>Remodel - Iteration {{ $ctrl.ratingModel.iteration }}</h1>
    </div>
    <div class="inner-container">
        <ng-form name="trainingForm" form-on-change="$ctrl.formOnChange()"  novalidate>
        
            <div class="header">
                <h2>{{ $ctrl.pageTitle }}</h2>
                <p ng-if="$ctrl.viewingIteration">These are advanced settings, use carefully.</p>
            </div>

            <div class="content-body">

                <div ng-if="$ctrl.engineType == 'custom_event'">
                    <p>Training Options</p>
                    <ul class="checkbox-list full-width">
                        <li class="form-group">
                            <input 
                                type="checkbox"
                                class="form-control"
                                ng-model="$ctrl.checkboxModel.deduplicationType" />
                            <div>One record per account</div>
                        </li>
                        <li class="form-group">
                            <input 
                                type="checkbox"
                                class="form-control"
                                ng-model="$ctrl.checkboxModel.excludePublicDomains" />
                            <div>Include personal email domains</div>
                        </li>
                        <li class="form-group">
                            <input 
                                type="checkbox"
                                class="form-control"
                                ng-model="$ctrl.checkboxModel.transformationGroup" />
                            <div>Use curated attributes</div>
                        </li>
                    </ul>
                </div>

                <ul ng-if="$ctrl.engineType == 'cross_sell'" class="checkbox-list">
                    <li class="form-group">
                        <input 
                            type="checkbox"
                            class="form-control"
                            ng-model="$ctrl.checkboxModel.spend" />
                        <div>
                            <p>Only use successes where spend in the {{$ctrl.periodType|lowercase}} was</p>
                            <select 
                                class="form-control"
                                ng-disabled="!$ctrl.checkboxModel.spend"
                                ng-model="$ctrl.spendCriteria">
                                <option value="GREATER_OR_EQUAL">At least</option>
                                <option value="LESS_OR_EQUAL">At most</option>
                            </select>
                            <div class="input-group prepend" >
                                    <numerical-range-directive
                                        mainconfig="$ctrl.numericalConfig"
                                        config="$ctrl.spendingConfig"
                                        showfrom="true"
                                        fromlabel="$"
                                        fromdisabled="!$ctrl.checkboxModel.spend" 
                                        initialvalidation="false"
                                        showto="false"
                                        vm="$ctrl"
                                        form="trainingForm"
                                        type="" 
                                        bucketrestriction=""
                                        invalidcallback="true"
                                        showmessage="true"
                                        changed="$ctrl.callbackSpend(type, position, value)">
                                    </numerical-range-directive>
                            </div>
                        </div>
                    </li>
                    <li class="form-group">
                        <input 
                            type="checkbox"
                            class="form-control"
                            ng-model="$ctrl.checkboxModel.quantity" />
                        <div>
                            <p>Only use successes where quantity bought in the {{$ctrl.periodType|lowercase}} was</p>
                            <select 
                                class="form-control"
                                ng-disabled="!$ctrl.checkboxModel.quantity"
                                ng-model="$ctrl.quantityCriteria">
                                <option value="GREATER_OR_EQUAL">At least</option>
                                <option value="LESS_OR_EQUAL">At most</option>
                            </select>
                            <div class="input-group append">
                                <numerical-range-directive 
                                    mainconfig="$ctrl.numericalConfig"
                                    config="$ctrl.quantityConfig"
                                    fromdisabled="!$ctrl.checkboxModel.quantity" 
                                    initialvalidation="false"
                                    showfrom="true"
                                    showtolabel="true"
                                    tolabel="Units"
                                    showto="false"
                                    vm="$ctrl" 
                                    form="trainingForm"
                                    type="" 
                                    bucketrestriction=""
                                    invalidcallback="true"
                                    changed="$ctrl.callbackQuantity(type, position, value)">
                                </numerical-range-directive>
                            </div>
                        </div>
                    </li>
                    <li class="form-group">
                        <input 
                            type="checkbox"
                            class="form-control"
                            ng-model="$ctrl.checkboxModel.periods" />
                        <div>
                            <p>When modeling, only use historical records from the last</p>
                            <div class="input-group append">
                                <numerical-range-directive 
                                    mainconfig="$ctrl.numericalConfig"
                                    config ="$ctrl.periodConfig"
                                    initialvalidation="false"
                                    fromdisabled="!$ctrl.checkboxModel.periods" 
                                    showfrom="true"
                                    showtolabel="true"
                                    tolabel="{{$ctrl.periodType}}s"
                                    showto="false"
                                    vm="$ctrl"
                                    form="trainingForm"
                                    type="" 
                                    bucketrestriction=""
                                    invalidcallback="true"
                                    changed="$ctrl.callbackPeriod(type, position, value)">
                                </numerical-range-directive>
                            </div>
                        </div>
                    </li>
                    <li class="form-group auto-select-group">
                        <div>
                            <p>Let me model on a similar segment, not exactly the one I want to sell into</p>
                            
                            <!-- {{$ctrl.trainingSegment}} -->

                            <chips
                                placeholder="Search for a similar segment"
                                datasource="$ctrl.segments" 
                                callback-function="$ctrl.segmentCallback(args)"
                                single-selection="true"
                                initialvalue="$ctrl.trainingSegment"
                                id="name"
                                displayname="display_name"
                                queryscope="display_name"
                                ng-model="$ctrl.trainingSegment"
                                showicon="true"></chips>
                        </div>
                    </li>
                    <li class="form-group auto-select-group">
                        <div>
                            <p>Let me model on similar products, not exactly the ones I want to sell</p>
                            
                            <!-- {{$ctrl.trainingProducts}} -->

                            <chips
                                placeholder="Search for similar products" 
                                datasource="$ctrl.products"
                                callback-function="$ctrl.productsCallback(args)"
                                single-selection="false"
                                initialvalue="$ctrl.trainingProducts"
                                id="ProductId"
                                displayname="ProductName"
                                queryscope="ProductName"
                                ng-model="$ctrl.trainingProducts"
                                showicon="true"></chips>
                        </div>
                    </li>
                </ul><!-- End .checkbox-list -->



                <ul class="data" ng-if="$ctrl.engineType == 'cross_sell'">
                    <li class="scoring-set">
                        <h3>Scoring</h3>
                        <div class="stats-group">
                            <dl class="stats">
                                <dt>Accounts to be scored</dt>
                                <dd>
                                    <span ng-if="!$ctrl.scoringCountReturned"><i class="fa fa-spinner fa-pulse fw"></i></span>
                                    <span ng-if="$ctrl.scoringCountReturned">{{ $ctrl.scoringCount | number }}</span>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="training-data-set">
                        <h3>Modeling</h3>
                        <div class="stats-group">
                            <dl class="stats">
                                <dt>Records Selected</dt>
                                <dd>
                                    <span ng-if="!$ctrl.recordsCountReturned"><i class="fa fa-spinner fa-pulse fw"></i></span>
                                    <span ng-if="$ctrl.recordsCountReturned">{{ $ctrl.recordsCount | number }}</span>
                                </dd>  
                            </dl>
                            <dl class="stats">
                                <dt ng-if="$ctrl.modelingStrategy === 'CROSS_SELL_FIRST_PURCHASE'">First Purchases</dt>
                                <dt ng-if="$ctrl.modelingStrategy === 'CROSS_SELL_REPEAT_PURCHASE'">Repeat Purchases</dt>
                                <dd>
                                    <span ng-if="!$ctrl.purchasesCountReturned"><i class="fa fa-spinner fa-pulse fw"></i></span>
                                    <span ng-if="$ctrl.purchasesCountReturned">{{ $ctrl.purchasesCount | number }}</span>
                                </dd>
                            </dl>
                        </div>
                    </li>
                </ul>

            </div><!-- End .content-body -->

        </ng-form>
    </div>
    <div class="training-footer" ng-if="$ctrl.viewingIteration">
        <button 
            class="button white-button"
            ng-click="$ctrl.backToModel()">Back to Model</button>
        <button 
            class="button blue-button"
            ng-class="{disabled: $ctrl.disableRemodelButton}"
            ng-click="$ctrl.remodelIteration()"
            ng-disabled="$ctrl.disableRemodelButton">
            <i ng-if="$ctrl.remodelingProgress" class="fa fa-spinner fa-pulse fa-fw"></i>
            Remodel
        </button>
    </div>
</div>