.numerical-container input[type=number] {
    max-width: 200px;
}
.ratingengine-training {
    .header {
        h2 {
            padding-left: 0;
            margin-bottom: 4px;
            // background-image: url('/assets/images/ico-segments.png');
        }
        p {
            font-size: 13px;
            margin-bottom: 16px;
        }
    }
    h3 {
        font-size: 16px;
        text-transform: none;
        font-weight: normal;
        color: #000;
        margin-top: 20px;
    }
    .advanced-options {
        label {
            font-size: 14px;
        }
    }
    .content-body {
        @include flex-container;
    }
    .checkbox-list {
        width: 60%;
        .form-group {
            @include flex-container;
            margin-bottom: 18px;
            & > input {
                width: 15px;
                margin-right: 6px;
                margin-top: 6px;
            }       
            div {
                width: 100%;
                p {
                    font-size: 14px;
                }
                select {
                    display: inline-block;
                    width: auto;
                    margin-right: 10px;
                }
                &.input-group {
                    display: inline-block;
                    width: auto;
                    input, span {
                        display: inline-block;
                        width: auto;
                    }
                }
                &.chip {
                    width: auto;    
                }
            }
            &.auto-select-group > div {
                margin-left: 0;
                .chips-query-container .text-container .query {
                    margin-bottom: 0;
                }
            }
            &.purchased-before-period {
                display: block;
                p, select {
                    display: inline-block;
                    width: auto;
                }
                input {
                    display: inline-block;
                    max-width: 50px;
                    width: auto;

                    &.invalid {
                        border-left-color: #d22027;
                        border-left-width: 3px;
                    }
                }
            }
        }
        &.full-width {
            width: 100%;
            margin-bottom: 18px;
            .form-group {
                margin-bottom: 0;
            }
        }
    }
    .data {
        width: 40%;
        padding-left: 20px;
        li {
            background: #f9f9f9;
            margin-bottom: 10px;
            padding: 20px;
            border-radius: 4px;
        }
        .stats-group {
            @include flex-container;
            flex-direction: column;
            dl {
                border-left: none;
                padding: 0;
                margin-bottom: 8px;
            }
            @media screen and (min-width: 930px) {
                flex-direction: row;
                justify-content: space-between;
                dl {
                    border-left: #999 solid 1px;
                    padding: 0 0.75em;
                    margin-bottom: 0;
                    &:first-of-type {
                        border-left: 0;
                        padding-left: 0;
                    }
                }
            }
        }
        h3 {
            font-size: 14px;
            padding: 40px 0 10px;
            margin-top: 0;
            text-align: center;
            text-transform: uppercase;
            font-weight: normal;
        }
        dt {
            text-transform: uppercase;
            font-size: 9px;
        }
        dd {
            font-size: 14px;
            @media screen and (min-width: 930px) {
                font-size: 16px;
            }
        }
    }
    .training-data-set, .scoring-set {
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 26px;
    }
    .training-data-set {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.91 23.9'><defs><style>.cls-1{fill:%23222;}</style></defs><title>Asset 2</title><g id='Layer_2' data-name='Layer 2'><g id='Layer_1-2' data-name='Layer 1'><path class='cls-1' d='M4.58,11.09A7.43,7.43,0,0,1,11,4.59V0A12,12,0,0,0,0,11.09Z'/><path class='cls-1' d='M13,4.6a7.42,7.42,0,0,1,6.33,6.49h4.58A12,12,0,0,0,13,0Z'/><path class='cls-1' d='M11,19.31a7.44,7.44,0,0,1-6.38-6.22H0A12,12,0,0,0,11,23.9Z'/><path class='cls-1' d='M19.29,13.09A7.44,7.44,0,0,1,13,19.3v4.6A12,12,0,0,0,23.9,13.09Z'/></g></g></svg>");
    }
    .scoring-set {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><defs><style>.cls-1{fill:%23222;}</style></defs><title>Asset 1</title><g id='Layer_2' data-name='Layer 2'><g id='Layer_1-2' data-name='Layer 1'><path class='cls-1' d='M12,1.07A10.93,10.93,0,1,1,1.07,12,10.94,10.94,0,0,1,12,1.07M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0Z'/><path class='cls-1' d='M12,10.67A1.33,1.33,0,1,0,13.33,12,1.32,1.32,0,0,0,12,10.67Z'/><path class='cls-1' d='M12,19.47a1.33,1.33,0,1,0,1.33,1.33A1.32,1.32,0,0,0,12,19.47Z'/><path class='cls-1' d='M17.69,9a1.07,1.07,0,1,0,1.07,1.07A1.07,1.07,0,0,0,17.69,9Z'/><path class='cls-1' d='M5.48,5.33a.8.8,0,1,0,.8.8.8.8,0,0,0-.8-.8Z'/><path class='cls-1' d='M6.12,17.81l.4.37.22.21.25.19.3.23a3.37,3.37,0,0,0,.37.24,8.14,8.14,0,0,0,4.94,1.27,6.86,6.86,0,0,0,.82-.09,5.15,5.15,0,0,0,.83-.18,8.89,8.89,0,0,0,1.68-.64,8.56,8.56,0,0,0,2.94-2.52,2.87,2.87,0,0,0,.28-.43c.1-.14.19-.29.28-.44s.15-.31.23-.46a2.91,2.91,0,0,0,.21-.48l.19-.49c.06-.17.09-.34.14-.51A7.51,7.51,0,0,0,20.41,13a3.29,3.29,0,0,0,.05-.54c0-.17,0-.37,0-.53l0-.56v-.28l0-.27-.07-.53c0-.18-.09-.35-.13-.53a9.82,9.82,0,0,0-.33-1,8.78,8.78,0,0,0-1.08-1.91,9.16,9.16,0,0,0-.7-.84l-.4-.37a2.78,2.78,0,0,0-.41-.36A8.42,8.42,0,0,0,13.46,3.5a9,9,0,0,0-4,.2A8.61,8.61,0,0,0,6.31,5.4a8.91,8.91,0,0,0-2,2.35c-.11.19-.2.4-.3.59s-.1.19-.14.28-.07.19-.1.29-.15.36-.2.53-.09.35-.14.51a6.83,6.83,0,0,0-.17.86,4.39,4.39,0,0,0-.07.65c0,.35,0,.54,0,.54s0-.19,0-.54a4.23,4.23,0,0,1,.06-.65,6.63,6.63,0,0,1,.15-.87l.12-.51c.06-.18.13-.36.19-.55l.1-.29L4,8.3a6.53,6.53,0,0,1,.29-.6A9,9,0,0,1,9.41,3.46a9.19,9.19,0,0,1,4.1-.29,8.85,8.85,0,0,1,4.06,1.75,5.28,5.28,0,0,1,.44.36c.14.13.29.25.43.39.25.29.53.55.76.87a8.62,8.62,0,0,1,1.56,3.11c0,.19.11.37.15.56l.09.59.05.29,0,.28,0,.57a5.62,5.62,0,0,1,0,.59,3.77,3.77,0,0,1,0,.58,7.23,7.23,0,0,1-.2,1.13c-.05.18-.08.37-.14.55s-.13.36-.19.54a4.77,4.77,0,0,1-.22.52l-.24.51-.29.48a2.88,2.88,0,0,1-.3.47,9.37,9.37,0,0,1-3.14,2.83,9.83,9.83,0,0,1-1.84.74,7.67,7.67,0,0,1-.92.22,6.33,6.33,0,0,1-.91.12,9.21,9.21,0,0,1-3.22-.3,9,9,0,0,1-2.3-1,4.45,4.45,0,0,1-.43-.26l-.36-.27L6,19.16,5.81,19,5.4,18.6Z'/><path class='cls-1' d='M8,15.93l.27.26.15.14.18.13a3.61,3.61,0,0,0,.44.32,5.39,5.39,0,0,0,1.38.64,5.33,5.33,0,0,0,2,.24A3.31,3.31,0,0,0,13,17.6a4,4,0,0,0,.56-.11,6.72,6.72,0,0,0,1.15-.43,5.85,5.85,0,0,0,3.09-4.35,2.33,2.33,0,0,0,0-.37c0-.12,0-.26,0-.36l0-.39v-.2l0-.18-.05-.36c0-.12-.05-.24-.08-.37a6.67,6.67,0,0,0-.23-.72,5.62,5.62,0,0,0-.73-1.31,6.86,6.86,0,0,0-.48-.59l-.27-.26a3.22,3.22,0,0,0-.28-.24A5.81,5.81,0,0,0,13,6.13a5.95,5.95,0,0,0-5,1.29A6.32,6.32,0,0,0,6.68,9c-.08.14-.14.28-.21.41a4.34,4.34,0,0,0-.17.4c0,.13-.1.25-.14.37s-.07.24-.1.35-.08.43-.12.6,0,.33-.05.45,0,.38,0,.38,0-.13,0-.38a2.66,2.66,0,0,1,0-.45,3.85,3.85,0,0,1,.1-.61l.09-.36c0-.12.08-.24.12-.38a3.42,3.42,0,0,1,.17-.4A4,4,0,0,1,6.6,9,5.94,5.94,0,0,1,8,7.3,6,6,0,0,1,10.18,6a6.44,6.44,0,0,1,2.88-.22A6.37,6.37,0,0,1,15.92,7a4,4,0,0,1,.32.26l.3.27a7.84,7.84,0,0,1,.54.61,6.91,6.91,0,0,1,.84,1.41,7.19,7.19,0,0,1,.27.78c0,.13.07.26.1.4l.07.42,0,.2v.2l0,.39c0,.17,0,.28,0,.43s0,.27,0,.4a6.5,6.5,0,0,1-1.11,3,6.53,6.53,0,0,1-3.53,2.55,3.71,3.71,0,0,1-.66.15,4.09,4.09,0,0,1-.64.09,6.63,6.63,0,0,1-3.94-.91A4.69,4.69,0,0,1,8,17.27l-.22-.17L7.57,17l-.28-.26Z'/><path class='cls-1' d='M9.91,14.06l.15.14.09.09.08.06a1.72,1.72,0,0,0,.23.17,2.84,2.84,0,0,0,1.77.48,1.42,1.42,0,0,0,.3,0l.29-.06a3.83,3.83,0,0,0,.62-.22,3.22,3.22,0,0,0,1.09-.91,3.14,3.14,0,0,0,.6-1.41c0-.13,0-.28,0-.39v-.43a3.14,3.14,0,0,0-.18-.78,3.31,3.31,0,0,0-2.41-2A3.37,3.37,0,0,0,11,8.8a3.47,3.47,0,0,0-1.24.64,3.79,3.79,0,0,0-.78.9,3.56,3.56,0,0,0-.35.85,3.11,3.11,0,0,0-.11.6l0,.21s0-.07,0-.21a3.42,3.42,0,0,1,.07-.61,3.88,3.88,0,0,1,.32-.89,3.66,3.66,0,0,1,.75-1A3.61,3.61,0,0,1,11,8.57a3.65,3.65,0,0,1,3.32.53,3.78,3.78,0,0,1,1.18,1.47,2.69,2.69,0,0,1,.16.45l.07.24,0,.24,0,.13v.11l0,.22v.25a1.94,1.94,0,0,1,0,.24,3.7,3.7,0,0,1-.63,1.76,3.84,3.84,0,0,1-1.3,1.21,3.89,3.89,0,0,1-.76.33c-.14,0-.26.08-.4.1a3.07,3.07,0,0,1-.38.05,3.75,3.75,0,0,1-1.36-.1,4,4,0,0,1-1-.41,2.36,2.36,0,0,1-.35-.23l-.14-.1L9.35,15l-.16-.14Z'/><rect class='cls-1' x='2.12' y='15.55' width='11.6' height='1.07' transform='translate(-9.05 10.31) rotate(-45)'/></g></g></svg>");
    }
}