.setup-import.data-import {
    .import-additional-info {
        margin: 2em 0;
    }
    .button-tabs {
        @include flex-container;
        .button {
            @include flex-item(1 1 auto);
            width: calc(100% / 5);
            align-self: stretch;
            padding: 68px 6px 6px;
            margin-right: 10px;
            &:last-child {
               margin-right: 0; 
            }
            background-repeat: no-repeat;
            background-position: center 22px;
            text-transform: none;
            color: #333;
            height: auto;
            line-height: normal;
            &.account {
                background-image: url('/assets/images/ico-accounts-dark.png');
            }
            &.contact {
                background-image: url('/assets/images/ico-contacts-dark.png');
            }
            &.eloqua {
                background-image: url('/assets/images/ico-eloqua-dark.png');
            }
            &.blue-button {
                color: #fff;
                &.account {
                    background-image: url('/assets/images/ico-accounts-white.png');
                }
                &.contact {
                    background-image: url('/assets/images/ico-contacts-white.png');
                }
                &.eloqua {
                    background-image: url('/assets/images/ico-eloqua-white.png');
                } 
            }
        }
    }
    .download-link {
        display: inline-block;
        margin: 20px 0;
    }
    .example-table {
        overflow-x: scroll;
        table {
            width: 100%;
        }
        thead th {
            background: #f2f1f1;
            color: #333 !important;
            font-size: 12px;
            font-weight: bold;
        }
        tbody td {
            background: #fafbfb;
            font-size: 12px;
            font-weight: normal;
            padding: 4px;
        }
    }
    .form-group {
        margin-bottom: 60px;
    }
}