<div class="menu" ng-if="type == 'menu'" ng-mouseleave="closeMenu($event)">
    <button 
        type="button"
        ng-click="menuClick($event)" 
        class="attribute-feedback-menu-button"
        ng-class="{ 'open': showMenu }">
        <span class="fa fa-ellipsis-v" ng-class="{ 'fa-rotate-180': showMenu }"></span>
    </button>
    <ul class="attribute-feedback-menu" ng-show="showMenu">
        <li ng-click="open($event)">Report Inaccuracy</li>
    </ul>
</div>
<div class="infodot" ng-if="type == 'infodot'" ng-click="open($event)">
    <i class="fa fa-info-circle"></i>
</div>