<style>
    .top-predictor-donut-text
    {
        text-anchor:        middle;
        font-size:          14px;
        font-weight:        bold;
    }
    .top-predictor-category-count
    {
        display: inline-block;
        padding: 5px;
        color: #FFFFFF;
        border-radius: 3px;
    }
    
    .top-predictor-category
    {
        padding: 7px;
        height: 41px;
        color: #000000;
        border-radius: 3px;
        cursor: pointer;
    }
    
    .top-predictor-category:hover
    {
        background-color: #EDEFF3;
    }
    
    .top-predictor-back
    {
        cursor: pointer;
    }
</style>
<div data-ng-controller="TopPredictorWidgetController" id="attributes">
    <div class="tab-header">
        <div class="wrapper" data-ng-show="!backToSummaryView">
            <span>{{topPredictorTitle}} </span>&nbsp;|&nbsp;<a href="#" class="secondary">{{ResourceUtility.getString('TOP_PREDICTORS_EXPORT_LABEL')}}</a>
            
        </div>
        <div class="wrapper" data-ng-show="backToSummaryView">
            <span class="top-predictor-back" data-ng-click="backToSummaryClicked()">&lt; {{ResourceUtility.getString('TOP_PREDICTORS_BACK_TO_SUMMARY_LABEL')}}</span>
        </div>
    </div>
    <div class="wrapper">
        <h3>{{chartHeader}}</h3>
        <div class="data">
            <div class="attributes lattice-attributes" data-ng-show="showExternalCategories">
                <h4>{{externalPredictorTotal}}</h4>
                <ul>    
                    <li data-ng-repeat="category in externalCategories" data-ng-click="categoryClicked($event, category)">
                        <a href="#">{{category.name}}<span style="background-color:{{category.color}}">{{category.count}}</span></a>
                    </li>
                </ul>
            </div>
            <div id="chart" class="js-top-predictor-donut">
                
            </div>
            <div class="attributes lattice-attributes" data-ng-show="showInternalCategories">
                <h4>{{internalPredictorTotal}}</h4>
                <ul>
                    <li data-ng-repeat="category in internalCategories" data-ng-click="categoryClicked($event, category)">
                        <a href="#">{{category.name}}<span style="background-color:{{category.color}}">{{category.count}}</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>