<style>
    .top-predictor-container {
        background-color: white;
        width: 99%;
    }
    
    .top-predictor-panel {
        margin-left: 11px;
        display: inline-block;
        vertical-align: text-top;
    }
    
    .top-predictor-panel.middle {
        margin-left: 150px;
    }
    
    .top-predictor-panel.right {
        margin-left: 150px;
    }
    
    .top-predictor-donut-text
    {
        text-anchor:        middle;
        font-size:          14px;
        font-weight:        bold;
    }
    .top-predictor-category-count
    {
        display: inline-block;
        padding: 5px;
        color: #FFFFFF;
        border-radius: 3px;
    }
    
    .top-predictor-category
    {
        padding: 7px;
        height: 41px;
        color: #000000;
        border-radius: 3px;
        cursor: pointer;
    }
    
    .top-predictor-category:hover
    {
        background-color: #EDEFF3;
    }
</style>
<div class="top-predictor-container float-left" data-ng-controller="TopPredictorWidgetController">
    <div>
        <h1>{{topPredictorTitle}} </h1>
        <hr/>
    </div>
    <div>
        <span class="top-predictor-panel">
            <h3>{{externalPredictorTotal}}</h3>
            <h3>{{ResourceUtility.getString('TOP_PREDICTORS_CATEGORY_LABEL')}}</h3>
            <div class="top-predictor-category" data-ng-repeat="category in externalCategories" data-ng-click="categoryClicked(category)">
                <p class="top-predictor-category-count" style="background-color:{{category.color}}">{{category.count}}</p> {{category.name}}
            </div>
        </span>
        <span class="js-top-predictor-donut top-predictor-panel middle">
        </span>
        <span class="top-predictor-panel right">
            <h3>{{internalPredictorTotal}}</h3>
            <h3>{{ResourceUtility.getString('TOP_PREDICTORS_CATEGORY_LABEL')}}</h3>
            <div class="top-predictor-category" data-ng-repeat="category in internalCategories">
                <p class="top-predictor-category-count">{{category.count}}</p> {{category.name}}
            </div>
        </span>
    </div>
</div>