.date-picker-container {
    flex: auto;
    // border: 1px solid red;
    width: 150px;
    min-width: 150px;
    padding: 0;
    .date-trigger {
        cursor: pointer !important;
    }
    input[type=date] {
        &::-webkit-datetime-edit {
            display: none;
        }
    }
    input[type=text]:readonly {
        outline: none;
        border: 1px solid #ccc;
        max-width: 120px;
        border-color: rgba(204, 204, 204, 0.747);
        height: 1.65em;
        font-size: 12px;
    }

    input[type=text].invalid-field {
        border-left: 3px solid #B50A20;
        padding-left: 4px;
    }
}