<div class="range-container">
    <span class="transaction-element" ng-if="fromlabel && show(0)"> {{fromlabel}} </span>
    <div class="transaction-element date-picker-container" ng-if="show(0) || showfrom" ng-class="{'show-inline': showinline, 'date-picker-container-with-label': (show(0) && show(1))} ">
        <span>
            <i id="{{getFromDateTriggerId()}}" class="fa fa-calendar date-trigger" ng-click="openPicker(0)"></i>
        </span>
        <input type="text" id="{{getFromDateId()}}" name="{{getName(0)}}" ng-change="validateDates()" ng-model="fromDate" readonly ng-click="openPicker(0)" placeholder="{{ startplaceholder ? startplaceholder : '' }} ">
        <span class="transaction-element from-lable" ng-if="show(0) && show(1)"> {{tolabel ? tolabel : '-'}} </span>
    </div>
    
    <div class="transaction-element date-picker-container" ng-if="show(1) || showto" ng-class="{'show-inline': showinline} ">
        
        <span>
            <i id="{{getToDateTriggerId()}}" class="fa fa-calendar date-trigger" ng-click="openPicker(1)"></i>
        </span>
        <input type="text" id="{{getToDateId()}}" name="{{getName(1)}}" ng-change="validateDates()" ng-model="toDate" readonly ng-click="openPicker(1)" placeholder="{{ endplaceholder ? endplaceholder : '' }} ">
    </div>
    <span class="error-message" ng-show="showErrorMessage(0) || showErrorMessage(1)">{{getErrorMsg()}}</span>
</div>
