<div class="range-container">
    <div class="transaction-element date-picker-container" ng-if="show(0)">
        <span>
            <i id="{{getFromDateTriggerId()}}" class="fa fa-calendar date-trigger" ng-click="openPicker(0)"></i>
        </span>
        <input type="text" id="{{getFromDateId()}}" name="{{getName(0)}}"  ng-model="fromDate" readonly ng-click="openPicker(0)">
    </div>
    <span class="transaction-element" ng-if="show(0) && show(1)"> - </span>
    <div class="transaction-element date-picker-container" ng-if="show(1)">
        <span>
            <i id="{{getToDateTriggerId()}}" class="fa fa-calendar date-trigger" ng-click="openPicker(1)"></i>
        </span>
        <input type="text" id="{{getToDateId()}}" name="{{getName(1)}}"  ng-model="toDate" readonly ng-click="openPicker(1)">
    </div>
    <span class="error-message" ng-show="showErrorMessage(0) || showErrorMessage(1)">{{getErrorMsg()}}</span>
</div>