<div class="modal-dialog" data-ng-controller="DeleteCredentialController">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{ResourceUtility.getString('MARKETO_CREDENTIAL_DELETE_TITLE')}}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="twelve columns">
              <p>{{ResourceUtility.getString('MARKETO_CREDENTIAL_DELETE_MESSAGE')}}</p>
                <div data-ng-if="deleteCredentialErrorMessage != null" class="row alert-holder">
                  <div id="deleteModelError" class="alert alert-danger">
                    {{deleteCredentialErrorMessage}}
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="six columns">
              <button class="button gray-button block-button" type="button" data-ng-click="cancelClick()">{{ResourceUtility.getString('BUTTON_CANCEL_LABEL')}}</button>
            </div>
            <div class="six columns">
              <a class="button orange-button block-button" href="#" data-ng-click="deleteCredentialClick()">{{ResourceUtility.getString('MARKETO_CREDENTIAL_DELETE_LABEL')}}</a>
            </div>
          </div>
        </div>
    </div>
</div>