// .apikey-form {
// 	.button {
// 		padding: 0.75em 2em;
// 	}
// }


.table table.credentials-table {
	tr td, tr th {
		padding: 15px;
	}
	tbody tr td {
		&:nth-child(3), &:nth-child(4) {
			width: 100px;
			padding-right: 15px;
		}
	}
	button.button.icon-button {
		padding: 0;
	}

	.credential-name, .credential-endpoint {
		max-width:100px;
	}
	.credential-name span, .credential-endpoint span {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.add-profile {
	.form-group {
		margin-bottom: 14px;
	}
	.columns .form-group:last-child {
		margin-bottom: 0;
	}
	.panel-header {
		background: #fff;
		.form-group {
			margin-bottom: 0;
		}
	}
	h2 {
		font-size: 18px;
		margin-bottom: 16px;
	}
	h3 {
		font-size: 16px;
		text-transform: none;
		color: #333;
		margin-bottom: 6px;
	}
}

@media only screen and (min-width: 1000px) {
	.credential-name, .credential-endpoint {
		max-width:300px;
	}
}


.marketo-container {
	max-width: 1060px;
	.header {
		border-top: 1px #d3d3d3 solid; 
		border-left: 1px #d3d3d3 solid; 
		border-right: 1px #d3d3d3 solid; 
		padding: 26px 20px 0px;
		background: #fff;
		h2 {
			line-height: 31px; 
			font-size: 21px; 
			font-weight: normal;
		}
		label {
			padding-bottom: 10px;
			display: block;
		    max-width: 100%;
		    font-weight: normal;
		    color: #7e7e7e;
		    font-size: 15px;
		}
		&.add-margin {
			margin-top: 12px;
		}
	}

	.body {
		border-left: 1px solid #d3d3d3;
		border-right: 1px solid #d3d3d3;
		border-bottom: 1px solid #d3d3d3;
	}

	.marketo-footer {
		height: 60px;
		border-left: 1px solid #d3d3d3;
		border-right: 1px solid #d3d3d3;
		border-bottom: 1px solid #d3d3d3;
		padding: 15px;
		background: #fff;
	}

	.marketo-default-table {
		margin-bottom: 0px;
		width: 100%;
		vertical-align:baseline;
		font-size:14px;
		background:#fff;
		color:#222;
		border-collapse:collapse;
		border-spacing:0;
	}

	th {
		padding: 12px 20px 12px 20px; 
		color: #848484; 
		font-weight: normal;
		width: 50%;
		&.right-adjusted {
			text-align: right
		}
	}
	td {
		width: 50%;
		padding: 12px 20px 12px 20px; 
		border-right: 1px solid #d3d3d3;
		&.right-adjusted {
			text-align: right;
		}
	}
	th, td {
		&.webhook-header {
			width: 20%;
		}
	}
	td:last-child {
		border-right: none;
	}
	tr {
		&.info-row {
			height: 46px;
			color: #7e7e7e;
		}
		&.info-row.large {
			height: 60px;
		}
	}


}