<section class="container marketo-container">

  <div class="row">
  		<div class="header">
  			<h2> Webhook Summary </h2>
  			<label> Use these fields when creating a webhook in Marketo </label>
  		</div>
  		<div class="body">
			<table class="marketo-default-table">
			  	<tbody>
				  <tr>
				    <td class="saml-url" style="width:25%"> Webhook Name </td>
				    <td> 
				    	{{$ctrl.webhookName}}
				     </td>
				  </tr>
				  <tr>
				    <td class="saml-url" style="width:25%"> URL </td>
				    <td> 
				    	{{$ctrl.url}}
				     </td>
				  </tr>
				  <tr>
				    <td class="saml-url" style="width:25%"> Request Type </td>
				    <td> 
				    	POST
				     </td>
				  </tr>
				  <tr>
				    <td class="saml-url" style="width:25%"> Template </td>
				    <td>
<pre>
{
"properties": {
<span ng-repeat="(key, value) in $ctrl.template">  "{{key}}": {{value || 'null'}}<span ng-if="!$last">,</span>
</span>  }
}
</pre>
				     </td>
				  </tr>
				  <tr>
				    <td class="saml-url" style="width:25%"> Request Token Encoding </td>
				    <td> 
				    	JSON
				     </td>
				  </tr>
				  <tr>
				    <td class="saml-url" style="width:25%"> Response Type </td>
				    <td> 
				    	JSON
				     </td>
				  </tr>
				  <tr>
				    <td class="saml-url" style="width:25%"> Custom Header </td>
				    <td> 
				    	Content-Type: application/json
				     </td>
				  </tr>
				</tbody>
			</table>
		</div>
		<div class="marketo-footer">
			<a class="pull-left" ui-sref="home.marketosettings.scoring({credentialId: $ctrl.credentialId})">
				<button class="button gray-button"> 
					Back
				</button>
			</a>
		</div>
  </div>

</section>