<div ng-if="vm_createPipelineStep.loading">
  <div class="loader"> </div>
  <h2 class="text-center">{{::vm_createPipelineStep.labels.LOAD_SAVING}}</h2>
</div>
<form ng-show="!vm_createPipelineStep.loading" name="pipelineStep">
  <div class="form-group">
    <label for="pipelineName">{{::vm_createPipelineStep.labels.STEP_NAME}}:
      <input
        type="text"
        name="pipelineName"
        class="form-control"
        placeholder="Step Name"
        ng-model="vm_createPipelineStep.stepName" />
    </label>
  </div>
  <div class="form-group">
    <label for="pythonFile">{{::vm_createPipelineStep.labels.PYTHON}}:
      <span class="text-success" ng-if="vm_createPipelineStep.pythonSuccess">{{vm_createPipelineStep.pythonSuccess}}</span>
      <span class="text-danger" ng-if="vm_createPipelineStep.pythonError">{{vm_createPipelineStep.pythonError}}</span>
      <input
        type="file"
        name="pythonFile"
        accept=".py"
        class="form-control"
        ng-model="pythonFile"
        file-model="vm_createPipelineStep.pythonFile" />
    </label>
    <label for="metadataFile">{{::vm_createPipelineStep.labels.METADATA}}:
      <span class="text-success" ng-if="vm_createPipelineStep.metadataSuccess">{{vm_createPipelineStep.metadataSuccess}}</span>
      <span class="text-danger" ng-if="vm_createPipelineStep.metadataError">{{vm_createPipelineStep.metadataError}}</span>
      <input
        type="file"
        ng-model="metadataFile"
        accept=".json"
        name="metadataFile"
        class="form-control"
        file-model="vm_createPipelineStep.metadataFile" />
    </label>
  </div>
  <button class="btn btn-default" ng-click="vm_createPipelineStep.createStep()">{{::vm_createPipelineStep.labels.CREATE}}</button>
  <button class="btn" ng-click="vm_createPipeline.cancelAddStep()">{{::vm_createPipelineStep.labels.CANCEL}}</button>
  <span class="text-danger" ng-if="vm_createPipelineStep.errorMsg">{{vm_createPipelineStep.errorMsg}}</span>
</form>
