<div ng-if="vm_pipelineStep.loading">
  <div class="loader"> </div>
  <h2 class="text-center">{{::vm_pipelineStep.labels.LOAD_SAVING}}</h2>
</div>
<form ng-show="!vm_pipelineStep.loading" name="pipelineStep">
  <div ng-if="vm_pipelineStep.message" class="row">
    <p class="alert" ng-class="vm_pipelineStep.error ? 'alert-danger' : 'alert-success'">
      {{vm_pipelineStep.message}}
    </p>
  </div>
  <div class="form-group">
    <label for="pipelineName">{{::vm_pipelineStep.labels.STEP_NAME}}:
      <input
        type="text"
        name="pipelineName"
        class="form-control"
        placeholder="Step Name"
        ng-model="vm_pipelineStep.stepName" />
    </label>
  </div>
  <div class="form-group">
    <label for="pythonFile">{{::vm_pipelineStep.labels.PYTHON}}:
      <input
        type="file"
        name="pythonFile"
        accept=".py"
        class="form-control"
        ng-model="pythonFile"
        file-model="vm_pipelineStep.pythonFile" />
    </label>
    <label for="metadataFile">{{::vm_pipelineStep.labels.METADATA}}:
      <input
        type="file"
        ng-model="metadataFile"
        accept=".json"
        name="metadataFile"
        class="form-control"
        file-model="vm_pipelineStep.metadataFile" />
    </label>
  </div>
  <button class="btn btn-default" ng-click="vm_pipelineStep.createStep()">{{::vm_pipelineStep.labels.CREATE}}</button>
  <button class="btn" ng-click="vm_pipeline.cancelAddStep()">{{::vm_pipelineStep.labels.CANCEL}}</button>
</form>
