<section class="row create-pipeline-main">
  <div ng-class="vm_createPipeline.stepMetadata ? 'col-xs-3' : 'col-xs-4'">
    <h4>{{::vm_createPipeline.labels.PIPELINES}}</h4>
    <ul class="pipeline-list">
      <li ng-repeat="pipeline in vm_createPipeline.pipelines"
        ng-class="{selected: vm_createPipeline.selectedPipeline === pipeline}"
        ng-click="vm_createPipeline.selectPipeline(pipeline)">
        {{::pipeline.name}}
      </li>
    </ul>
  </div>
  <div ng-class="vm_createPipeline.stepMetadata ? 'col-xs-5' : 'col-xs-8'">
    <div ng-if="vm_createPipeline.loading">
        <div class="loader"> </div>
        <h2 class="text-center">{{::vm_createPipeline.labels.LOAD_SAVING}}</h2>
    </div>
    <div ng-if="vm_createPipeline.message" class="row">
      <p class="alert" ng-class="vm_createPipeline.error ? 'alert-danger' : 'alert-success'">
        {{::vm_createPipeline.message}}
      </p>
    </div>
    <div ng-if="!vm_createPipeline.loading">
      <div class="row">
        <h4>{{::vm_createPipeline.labels.STEPS}}</h4>
        <form class="form-group">
          <label> {{::vm_createPipeline.labels.PIPELINE_NAME}}:
            <input type="text" class="form-control" placeholder="Pipeline Name" ng-model="vm_createPipeline.pipelineName"/>
          </label>
        </form>
        <ul class="pipeline-step-list">
          <li ng-if="!vm_createPipeline.pipeline.pipeline_steps.length">
            {{::vm_createPipeline.labels.EMPTY_STEPS}}
          </li>
          <li ng-repeat="step in vm_createPipeline.pipeline.pipeline_steps track by $index">
            <span class="list-bullet">{{$index + 1}}:</span>{{step.Name}}
            <span class="align-right">
              <table class="align-right pipeline-editor">
                <td>
                  <i class="fa fa-trash"
                    ng-click="vm_createPipeline.deleteStep($index)"></i>
                </td>
                <td>
                  <i class="fa fa-eye"
                    ng-click="vm_createPipeline.inspectMetadata($index)"></i>
                </td>
                <td>
                  <i class="fa fa-arrow-up"
                    ng-if="!$first"
                    ng-click="vm_createPipeline.swapSteps($index, $index-1)"></i>
                </td>
                <td>
                  <i class="fa fa-arrow-down"
                    ng-if="!$last"
                    ng-click="vm_createPipeline.swapSteps($index, $index+1)"></i>
                </td>
              </table>
            </span>
          </li>
        </ul>
      </div>
      <div class="row">
        <button class="btn btn-default"
          ng-if="!vm_createPipeline.isCreatingStep"
          ng-click="vm_createPipeline.createStep()">{{::vm_createPipeline.labels.ADD_STEP}}</button>
        <div ng-if="vm_createPipeline.isCreatingStep" ui-view="createPipelineStep"></div>
      </div>
      <div class="row">
        <hr>
      </div>
      <div class="row">
        <form class="form-group">
          <label>{{::vm_createPipeline.labels.PIPELINE_DESCRIPTION}}:</label>
          <textarea class="container-fluid form-control" placeholder="{{::vm_createPipeline.labels.PIPELINE_DESCRIPTION}}" ng-model="vm_createPipeline.pipelineDescription"/>
        </form>
      </div>
      <div class="row">
        <hr>
      </div>
    </div>
    <div class="row" ng-if="!vm_createPipeline.loading">
      <div class="pull-right">
        <button class="btn btn-default"
          ng-click="vm_createPipeline.savePipeline()">{{::vm_createPipeline.labels.SAVE}}</button>
        <button class="btn" ng-click="vm_createPipeline.cancelPipeline()">{{::vm_createPipeline.labels.CANCEL}}</button>
      </div>
    </div>
  </div>
  <div ng-if="vm_createPipeline.stepMetadata" class="json-panel col-xs-4">
    <i class="fa fa-times" ng-click="vm_createPipeline.clearStepMetadata()"></i>
    <pre>{{vm_createPipeline.stepMetadata | json:2 }}</pre>
  </div>
</section>
