@default: #477CBA;
@primary: #e96339;

@master-width: 1024px;

body {
  font-family: 'Open Sans', Verdana, Arial, sans-serif;
  color: black;
  font-size: 14pt;
}

header {
  // background-color: @default;
  box-shadow:1px 0 3px rgba(0,0,0,.25);
  background: #477cba url(/assets/img/bg_header.jpg) no-repeat bottom right;

  h1 {
    font-family: 'Squada One', sans-serif;
    text-transform: uppercase;
    margin: 0;
    line-height: 140%;
    color: white;
  }
}

section.container,  {
  max-width: @master-width;
}

a.logo {
  position: absolute;
  top: 5px;
  left: 5px;

  img {
    height: 24px;
  }

}

nav {
  .breadcrumb {
    float: left;
    margin: 0 7px;
  }

}

img.error-image {
  width: 400px;
}

.component-status {
  margin-right: 1em;
}

.btn-primary {
  background:#e96339;
  text-transform: uppercase;
}
.btn-primary:hover {
  background: #f35321;
}
.btn-primary:active {
  background: #df4d1f;
}
.btn-primary:focus {
  background: #e96339;
}

.btn-default {
  background: #477CBA;
  text-transform: uppercase;
}
.btn-default:hover {
  background: #3d7fcd;
  color: #fff;
}
.btn-default:active {
  background: #4070a8;
}
.btn-default:focus {
  background: #477CBA;
}