<?xml version="1.0" encoding="UTF-8"?>
<Server port="8005" shutdown="SHUTDOWN">
    <Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on"/>
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>

    <GlobalNamingResources>
        <Resource name="UserDatabase" auth="Container"
                  type="org.apache.catalina.UserDatabase"
                  description="User database that can be updated and saved"
                  factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
                  pathname="conf/tomcat-users.xml"/>
    </GlobalNamingResources>

    <Service name="Catalina">

        <Listener className="org.apache.catalina.mbeans.JmxRemoteLifecycleListener"
                  rmiRegistryPortPlatform="1098" rmiServerPortPlatform="1099"/>
        <Executor name="tomcatThreadPool" namePrefix="catalina-exec-" maxThreads="256" minSpareThreads="4"/>
        <Connector port="8443" protocol="org.apache.coyote.http11.Http11NioProtocol" executor="tomcatThreadPool"
                   SSLEnabled="true" scheme="https" secure="true" useAsyncIO="true"
                   sslImplementationName="org.apache.tomcat.util.net.openssl.OpenSSLImplementation"
                   connectionTimeout="600000" compression="on" compressibleMimeType="text/plain,application/json">
            <UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol"
                             readTimeout="600000" writeTimeout="600000"
                             compression="on" compressibleMimeType="text/plain,application/json"/>
            <SSLHostConfig protocols="TLSv1.2" insecureRenegotiation="true">
                <Certificate certificateKeyFile="/etc/pki/tls/server.key"
                             certificateFile="/etc/pki/tls/server.crt"
                             type="RSA"/>
            </SSLHostConfig>
        </Connector>

        <Engine name="Catalina" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
                       resourceName="UserDatabase"/>
            </Realm>
            <Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="false"/>
        </Engine>

    </Service>
</Server>
