<div class="container query-builder">
    <div class="row controls">
        <div class="columns six">
            <h2>Build a segment with records that have:</h2>
        </div>
        <div class="columns six">
            <div class="pull-right">
                <button class="button icon-button white-button"><i class="fa fa-download"></i></button>
                <button class="button icon-button white-button" ng-click="vm.goAttributes()">Select Attributes</button>
                <button class="button icon-button blue-button" ng-click="vm.saveSegment()">Save Segment</button>
            </div>
        </div>
    </div>
    <div class="row">
        <p><strong>All</strong> of the selected attribute value combinations:</p>
        <query-filter
            ng-repeat="(k, a) in vm.filters.all"
            attribute="a"
            group="all"
            on-move="vm.move(vm.filters.all, vm.filters.any, k)"
            on-delete="vm.delete">
        </query-filter>
        <p class="text-center" ng-if="vm.size(vm.filters.all) === 0">
            No attributes in All
        </p>
    </div>
    <hr>
    <div class="row">
        <p>And <strong>Any</strong> of the selected attribute value combinations:</p>
        <query-filter
            ng-repeat="(k, a) in vm.filters.any"
            attribute="a"
            group="any"
            on-move="vm.move(vm.filters.any, vm.filters.all, k)"
            on-delete="vm.delete">
        </query-filter>
        <p class="text-center" ng-if="vm.size(vm.filters.any) === 0">
            No attributes in Any
        </p>
    </div>
</div>
