<div class="container query-builder">
    <ul ng-if="vm.loading">
        <li class="load-status">
            <div>
                <div class="loader"></div>
            </div>
        </li>
    </ul>
    <div ng-if="!vm.loading">
        <div class="row controls">
            <div class="columns six">
                <h2>Build a segment with records that have:</h2>
            </div>
            <div class="columns six">
                <div class="pull-right">
                    <a href="/files/latticeinsights/segments/downloadcsv?Authorization={{vm.authToken}}&state={{vm.QueryStore.getUiState().name}}" target="_self" download><button class="button icon-button white-button"><i class="fa fa-download"></i></button></a>
                    <button ng-if="!vm.inModel" class="button white-button" ui-sref="home.import.entry">Import Data</button>
                    <button class="button icon-button white-button" ng-click="vm.goAttributes()" ng-disabled="vm.saving">Select Attributes</button>
                    <button ng-if="!vm.saving" class="button icon-button blue-button" ng-click="vm.saveSegment()">Save Segment</button>
                    <button ng-if="vm.saving" disabled class="button icon-button blue-button">Saving <i class="fa fa-spinner fa-pulse fw"></i></button>
                </div>
            </div>
        </div>
        <div class="row filter-group" ng-class="{disabled: vm.saving}">
            <p><strong>All</strong> of the selected attribute value combinations:</p>
            <query-filter
                ng-repeat="(k, a) in vm.filters.all"
                attribute="a"
                group="all"
                on-move="vm.move(vm.filters.all, vm.filters.any, k)"
                on-delete="vm.delete"
                show-lift="vm.inModel">
            </query-filter>
            <p class="text-center" ng-if="vm.size(vm.filters.all) === 0">
                No attributes in All
            </p>
        </div>
        <hr>
        <div class="row filter-group" ng-class="{disabled: vm.saving}">
            <p>And <strong>Any</strong> of the selected attribute value combinations:</p>
            <query-filter
                ng-repeat="(k, a) in vm.filters.any"
                attribute="a"
                group="any"
                on-move="vm.move(vm.filters.any, vm.filters.all, k)"
                on-delete="vm.delete"
                show-lift="vm.inModel">
            </query-filter>
            <p class="text-center" ng-if="vm.size(vm.filters.any) === 0">
                No attributes in Any
            </p>
        </div>
    </div>
</div>
