.playbook-insights {
    .header {
        margin-bottom: 20px;
        h2 {
            background-image: url('/assets/images/ico-insights.png');
        }
        p {
            em {
                color: #d22128;
            }
        }
    }
}
