<div class="playbook-insights container talking-point-container" ng-class="{'dashboard-content': vm.stateParams.section.indexOf('dashboard.') !== -1}">
    <div class="inner-container">
        <div class="talking-points-columns">
            <div class="talking-points">
                <div class="header">
                    <h2>Insights: Talking Points</h2>
                    <p>
                        Talking points enable your reps to have successful sales conversation with messages that resonate with decision makers and influencers. Define general or dynamic, customer-specific talking points to give additional context to the rep. This content will be visible immediately if this play is live, without the need to rescore or re-launch.
                        <em ng-if="vm.stateParams.section === 'dashboard.insights'">Keep in mind changes you make will overwrite changes made by other users.</em>
                    </p>
                </div>
                <div ng-if="vm.talkingPoints" ng-repeat="tp in vm.talkingPoints | orderBy:'offset'" class="tp-entry" ng-class="{'has-errors': tp.uiError}">
                    <cg-talking-point-editor
                        tp="tp"
                        on-delete="vm.onDelete($index)">
                    </cg-talking-point-editor>
                    <ul class="controls" ng-if="!tp.IsNew">
                        <li class="tp-entry-sort" ng-if="vm.talkingPoints.length > 1">
                             <div class="arrow">
                                <i class="fa fa-arrow-up" ng-if="$index > 0" ng-click="vm.reorder($index, $index - 1)"></i>
                             </div>
                            <div class="arrow">
                                <i class="fa fa-arrow-down" ng-if="$index < vm.talkingPoints.length - 1" ng-click="vm.reorder($index, $index + 1)"></i>
                            </div>
                        </li>
                        <li class="tp-created" ng-if="!tp.IsNew">
                            <time>Created {{tp.created-1000|date:'M/d/yyyy h:mm a'}}</time>
                        </li>
                        <li class="tp-error">
                            <div class="tp-errors">
                                <em ng-repeat="(error, message) in tp.uiError">{{message}}</em>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row add-tp-button">
                    <span ng-click="vm.addTalkingPoint()">
                        <button class="button white-button"><i class="fa fa-plus"></i></button><span>Add Talking Point</span>
                    </span>
                </div>
            </div>
            <div class="attributes">
                <cg-tp-attribute-pane opts="vm.attributes"></cg-tp-attribute-pane>
            </div>
        </div>
        <div class="footer" ng-if="vm.stateParams.section === 'dashboard.insights'" >
            <button ng-disabled="!vm.valid" class="preview button blue-button" ng-click="vm.saveTalkingPoints()"><span ng-if="!vm.saveOnBlur">Save and </span>Preview</button>
        </div>
    </div>
</div>