<div class="attribute-stats">
    <div>
        <div class="flex-row header" ng-if="bktlist.length">
            <div class="flex-item flex-item-left flex-graph-container text-ellipsis">
                <span>{{header}}</span>
            </div>
            <div class="flex-item flex-value flex-item-right text-ellipsis" ng-repeat="column in getColumns()">{{column.label}}</div>
        </div>
        <div class="nostats-container" ng-if="bktlist.length == 0">{{emptymsg}}</div>
        <div class="row-container" ng-repeat="stat in bktlist" ng-mouseenter="rowHover=$index" ng-mouseleave="rowHover = -1">
            <div class="flex-row content-item" ng-click="clicked(stat)">
                <div class="flex-item flex-actions text-ellipsis flex-item-left" ng-if="showstatcount">
                    <i class="plus fa fa-plus" ng-if="getStatCount(stat) == 0 && ($index == rowHover)"></i>
                    <i class="plus fa fa-check" ng-if="getStatCount(stat) == 1" ng-style="{'color': color}"></i>
                    <i class="plus attribute-use-count" ng-if="getStatCount(stat) >= 2">{{ getStatCount(stat) }}</i>
                </div>
                <div class="flex-item flex-lable text-ellipsis flex-item-right"><span>{{stat.Lbl}}{{stat.bucket_name}}</span></div>
                <div class="flex-item flex-graph-container flex-item-left">
                    <div class="bar-graph" style="width: 0%;" ng-style="{'width': getHorizontalPercentage(stat, 0), 'background-color': getBarColor(stat)}">
                    </div>
                </div>
                <div class="flex-item flex-value text-ellipsis flex-item-right" ng-repeat="column in getColumns()">{{getValue(stat, column)}}</div>
            </div>
            <!-- Mouse Hover layer -->
            <div class="mouse-over" ng-if="mousehover" ng-style="$index===rowHover ? {'background-color': getMouseOverColor()} : {'background-color':''}"
                ng-click="clicked(stat)"></div>
            <!--  -->
        </div>

        <!-- X axis Layer -->
        <div class="vlines-container" ng-if="showVerticalLines()">
            <ul class="flex-row">
                <li class="flex-item flex-lable">
                </li>
                <ul class="flex-item flex-graph-container flex-item-left">
                    <li class="vline" ng-style="{'margin-left': line.perc}" ng-repeat="line in getVerticalLines()">
                        <div></div>
                        <span>{{line.label}}</span>
                    </li>
                </ul>
                <li class="flex-item flex-value" ng-repeat="column in getColumns()"></li>
            </ul>

        </div>
        <!--  -->
    </div>
</div>