<h4><%= ResourceUtil.getString('PLAYMAKER_UPLOAD_FORMATTING_OPTIONS_LABEL') %></h4>
<p><%= ResourceUtil.getString('PLAYMAKER_UPLOAD_FORMATTING_DESCRIPTION') %>:</p>
<ul>
  <li>1st column Account_External_ID (Required) External ID of account that exists in the Account table.</li>
</ul>