<div id="delete-users-modal">
    <div class="modal-dialog modal-sm" data-ng-controller="DeleteUsersController">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-ng-click="cancelClick()" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ResourceUtility.getString('DELETE_USERS_TITLE')}}</h4>
            </div>
            <div class="modal-body">
                <div class="row" data-ng-hide="deleteConfirmed">
                    <div class="col-sm-3"><span class="fa fa-exclamation-circle active fa-very-lg"></span></div>
                    <div class="col-sm-8">
                        <p><h4>{{ResourceUtility.getString('DELETE_USER_ALERT')}}</h4></p>
                        <table class="table delete-user-table">
                            <tr data-ng-repeat="user in users">
                                <td>{{user.FirstName}}</td>
                                <td>{{user.LastName}}</td>
                                <td>{{user.Username}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div data-ng-show="deleteInProgess">
                    <div class="loader">
                        Loading...
                    </div>
                    <h2 class="text-center">{{ResourceUtility.getString('DELETE_USERS_WAIT')}}</h2>
                </div>
                <div class="row" data-ng-show="!deleteInProgess">

                    <div data-ng-show="successUsers.length > 0">
                    <p>{{ResourceUtility.getString('DELETE_USERS_PARA1')}}</p>
                        <table class="table delete-user-table delete-user-table-success">
                            <tr data-ng-repeat="user in successUsers">
                                <td>{{user.FirstName}}</td>
                                <td>{{user.LastName}}</td>
                                <td>{{user.Username}}</td>
                            </tr>
                        </table>
                        <h4><span class="label label-info" >{{name.value}}</span></h4>
                    </div>

                    <div data-ng-show="failUsers.length > 0">
                    <p>Unable to be delete the following users:</p>
                        <table class="table delete-user-table delete-user-table-fail">
                            <tr data-ng-repeat="user in failUsers">
                                <td>{{user.FirstName}}</td>
                                <td>{{user.LastName}}</td>
                                <td>{{user.Username}}</td>
                            </tr>
                        </table>
                    <p>Please contact your system administrator.</p>
                    </div>

                </div>
            </div>
            <div class="modal-footer" data-ng-show="!deleteInProgess">
                <button id="delete-user-btn-ok" class="btn btn-primary" data-ng-click="okClick($event)">{{ResourceUtility.getString('BUTTON_OK_LABEL')}}</button>
            </div>
        </div>
    </div>
</div>