<div class="user-list" data-ng-controller="UserManagementWidgetController">
    <h2>{{ResourceUtility.getString('USER_MANAGEMENT_TITLE')}}</h2>
    <table>
        <thead>
        <th>{{ResourceUtility.getString('USER_MANAGEMENT_GRID_FIRST_NAME')}}</th>
        <th>{{ResourceUtility.getString('USER_MANAGEMENT_GRID_LAST_NAME')}}</th>
        <!--<th>{{ResourceUtility.getString('USER_MANAGEMENT_GRID_ROLE')}}</th>-->
        <th>{{ResourceUtility.getString('USER_MANAGEMENT_GRID_USERNAME')}}</th>
        </thead>
        <tbody>
        <tr data-ng-repeat="user in data">
            <td>{{user.FirstName}}</td>
            <td>{{user.LastName}}</td>
            <!--<td>Shooting Guard</td>-->
            <td>{{user.Username}}</td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-ng-if="showAddUserButton" data-ng-click="addUserClicked($event)">
        {{ResourceUtility.getString('USER_MANAGEMENT_ADD_USER_BUTTON')}}
    </button>
</div>