<configuration scan="true">
	<timestamp key="byMillisecond" datePattern="yyyyMMdd-HHmmssSSS" />

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/${byMillisecond}.log</file>
		<encoder>
 			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> 
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="FILE" />
	</root>
</configuration>