<div data-ng-controller="UpdatePasswordController">
    <div class="container" data-ng-show="showPasswordError">
        <div class="global-error">
            <span><i class="fa fa-exclamation-circle fa-inverse"></i> {{validateErrorMessage}}</span>
            <a class="close" href="#" data-ng-click="closeErrorClick($event)"><i class="fa fa-times fa-inverse"></i></a>
        </div>
    </div>
    <div name="form" class="form-update-password" novalidate>
        <div class="form-title">
            <h2 class="form-signin-heading">{{ResourceUtility.getString('UPDATE_PASSWORD_TITLE')}}</h2>
        </div>
        <div class="form">
            <div>
                <label>{{ResourceUtility.getString('CURRENT_PASSWORD_LABEL')}}</label>
                <input type="password" name="oldPassword" class="form-control" data-ng-model="oldPassword" data-ng-class="oldPasswordInputError" autocomplete="off" >
            </div>
            <div>
                <label>{{ResourceUtility.getString('NEW_PASSWORD_LABEL')}}</label>
                <input type="password" name="newPassword" class="form-control" data-ng-model="newPassword" data-ng-class="newPasswordInputError" autocomplete="off" >
            </div>
            <div>
                <label>{{ResourceUtility.getString('CONFIRM_NEW_PASSWORD_LABEL')}}</label>
                <input type="password" name="confirmPassword" class="form-control" data-ng-model="confirmPassword" data-ng-class="confirmPasswordInputError" autocomplete="off" >
            </div>
            <div>
                <a ui-sref="models" class="btn btn-secondary">
                    {{ResourceUtility.getString('BUTTON_CANCEL_LABEL')}}
                </a>
                <button class="btn btn-primary" type="submit" data-ng-click="updatePasswordClick()" data-ng-show="!saveInProgess">
                    {{ResourceUtility.getString('BUTTON_UPDATE_LABEL')}}
                </button>
            </div>
        </div>
    </div>
</div>