.match-to-accounts {
    form {
        margin-top: 20px;
        .id-option{
            display: flex;
            width: 100%;
            & .id-options-item{
                width: 100%;
                padding: 10px;
                padding-left: 0px;
            }
            & .system-options-item{
                @extend .id-options-item;
                padding-left: 10px;
            }
        }
    }
    .matching-fields {
        width: 100%;
        p {
            margin-top: 20px;
            margin-bottom: 10px;
        }
        ul {
            flex-wrap: wrap;
            li {
                padding: 10px;
                &:nth-child(odd) {
                    padding-left: 0;
                }
                &:nth-child(even) {
                    padding-right: 0;
                }
                @include flex-item(0 1 50%); 
            }
            @include flex-container;
        }
    }	
}