<section>

  <div class="container row">
    <div class="six columns offset-three">

      <h3>Import Data</h3>

    </div>
  </div>

  <div data-ng-controller="CredentialsCtrl" class="container row">
    <div class="columns six offset-three">

        <div data-ng-show="showError">
            <div class="global-error">
                <span><i class="fa fa-exclamation-circle fa-inverse"></i>{{errorMessage}}</span>
                <a class="close" href="#" data-ng-click="closeErrorClick($event)"><i class="fa fa-times fa-inverse"></i></a>
            </div>
        </div>

        <div class="tabs">
          <div class="tab">
              <input type="radio" id="salesforce-tab" name="credentials-tabs" checked>
              <label for="salesforce-tab">Salesforce</label>
              <div class="content">
                   
                <div data-ng-show="loading">
                    <div class="loader"> </div>
                    <h2 class="text-center">{{ResourceUtility.getString('GENERAL_LOADING')}}</h2>
                </div>
                <div data-ng-show="!loading">
                  <a href="/#/import/form" aria-controls="profile" role="tab" data-toggle="tab">PRODUCTION</a>
                  <a href="/#/import/form" aria-controls="profile" role="tab" data-toggle="tab">SANDBOX</a>
                  <div id="formProduction">
                      <!-- SFDC Production -->
                      <div class="form" data-ng-show="!crmProductionSaveInProgress">
                          <div data-ng-show="crmProductionError != ''" class="alert alert-danger">
                              {{crmProductionError}}
                          </div>
                          <div class="form-group">
                              <label>{{ResourceUtility.getString('SYSTEM_SETUP_USER_NAME')}} <span>&ast;</span></label>
                              <input type="text" 
                                     class="form-control"
                                     data-ng-readonly="crmProductionComplete"
                                     data-ng-class="crmProductionError != '' && crmProductionCredentials.UserName == null ? 'error' : ''"
                                     data-ng-model="crmProductionCredentials.UserName" 
                                     autocomplete="off">
                          </div>
                          <div class="form-group">
                              <label>{{ResourceUtility.getString('SYSTEM_SETUP_PASSWORD')}} <span>&ast;</span></label>
                              <input type="password" 
                                     class="form-control"
                                     data-ng-readonly="crmProductionComplete"
                                     data-ng-class="crmProductionError != '' && crmProductionCredentials.Password == null ? 'error' : ''"
                                     data-ng-model="crmProductionCredentials.Password" 
                                     autocomplete="off">
                          </div>
                          <div class="form-group">
                              <label>{{ResourceUtility.getString('SYSTEM_SETUP_SECURITY_TOKEN')}} <span>&ast;</span></label>
                              <span class="security-token-tooltip">
                                  <helper-mark help="{{ResourceUtility.getString('SYSTEM_SETUP_SECURITY_TOKEN_TOOLTIP')}}"></helper-mark>
                              </span>
                              <input type="password" 
                                     class="form-control"
                                     data-ng-readonly="crmProductionComplete"
                                     data-ng-class="crmProductionError != '' && crmProductionCredentials.SecurityToken == null ? 'error' : ''"
                                     data-ng-model="crmProductionCredentials.SecurityToken"
                                     autocomplete="off">
                          </div>
                          <div class="form-actions">
                            <button class="button orange-button js-crm-production-save-button" type="submit" data-ng-show="!crmProductionComplete" data-ng-click="crmProductionSaveClicked()">{{ResourceUtility.getString('BUTTON_SAVE_AND_VERIFY')}}</button>
                            <button class="button white-button js-crm-production-edit-button" type="submit" data-ng-show="crmProductionComplete" data-ng-click="crmProductionComplete = false">{{ResourceUtility.getString('BUTTON_EDIT_LABEL')}}</button>
                          </div>
                      </div>
                      <div class="loader" data-ng-show="crmProductionSaveInProgress"></div>
                  </div><!-- End #formProduction -->          
                  <div id="formSandbox">
                    <!-- SFDC Sandbox -->
                      <div class="form" data-ng-show="!crmSandboxSaveInProgress">
                          <div data-ng-show="crmSandboxError != ''" class="alert alert-danger">
                              {{crmSandboxError}}
                          </div>
                          <div class="form-group">
                              <label>{{ResourceUtility.getString('SYSTEM_SETUP_USER_NAME')}} <span>&ast;</span></label>
                              <input type="text" 
                                     class="form-control"
                                     data-ng-readonly="crmSandboxComplete"
                                     data-ng-class="crmSandboxError != '' && crmSandboxCredentials.UserName == null ? 'error' : ''"
                                     data-ng-model="crmSandboxCredentials.UserName" 
                                     autocomplete="off">
                          </div>
                          <div class="form-group">
                              <label>{{ResourceUtility.getString('SYSTEM_SETUP_PASSWORD')}} <span>&ast;</span></label>
                              <input type="password" 
                                     class="form-control"
                                     data-ng-readonly="crmSandboxComplete"
                                     data-ng-class="crmSandboxError != '' && crmSandboxCredentials.Password == null ? 'error' : ''"
                                     data-ng-model="crmSandboxCredentials.Password" 
                                     autocomplete="off">
                          </div>
                          <div class="form-group">
                              <label>{{ResourceUtility.getString('SYSTEM_SETUP_SECURITY_TOKEN')}} <span>&ast;</span></label>
                              <span class="security-token-tooltip">
                                  <helper-mark help="{{ResourceUtility.getString('SYSTEM_SETUP_SECURITY_TOKEN_TOOLTIP')}}"></helper-mark>
                              </span>
                              <input type="password" 
                                     class="form-control"
                                     data-ng-readonly="crmSandboxComplete"
                                     data-ng-class="crmSandboxError != '' && crmSandboxCredentials.SecurityToken == null ? 'error' : ''"
                                     data-ng-model="crmSandboxCredentials.SecurityToken"
                                     autocomplete="off">
                          </div>
                          <div class="form-actions">
                            <button class="button orange-button js-crm-sandbox-save-button" type="submit" data-ng-show="!crmSandboxComplete" data-ng-click="crmSandboxSaveClicked()">{{ResourceUtility.getString('BUTTON_SAVE_AND_VERIFY')}}</button>
                            <button class="button white-button js-crm-sandbox-edit-button" type="submit" data-ng-show="crmSandboxComplete" data-ng-click="crmSandboxComplete = false">{{ResourceUtility.getString('BUTTON_EDIT_LABEL')}}</button>
                          </div>
                      </div>
                      <div class="loader" data-ng-show="crmSandboxSaveInProgress">
                      </div>
                  </div><!-- End #formSandbox -->
                </div>

              </div><!-- End .content -->
          </div><!-- End .tab -->
          <div class="tab">
              <input type="radio" id="loadfile-tab" name="credentials-tabs">
              <label for="loadfile-tab">Loadfile</label>
              <div class="content">
                   
                  upload your own file
                   
              </div><!-- End .content -->
          </div><!-- End .tab -->
      </div><!-- End .tabs -->

    </div><!-- End .six.columns -->
  </div><!-- End .container.row -->

</section>