<div data-ng-controller="CredentialsCtrl" class="container">
  <div class="page-header">
    <h1>Import Data Wizard <small>Gathering Information</small></h1>
  </div>
  <div class="container" data-ng-show="showError">
      <div class="global-error">
          <span><i class="fa fa-exclamation-circle fa-inverse"></i>{{errorMessage}}</span>
          <a class="close" href="#" data-ng-click="closeErrorClick($event)"><i class="fa fa-times fa-inverse"></i></a>
      </div>
  </div>
  <div id="main-content" class="form-systemSetup">
      <div data-ng-show="loading">
          <div class="loader"> </div>
          <h2 class="text-center">{{ResourceUtility.getString('GENERAL_LOADING')}}</h2>
      </div>
      <div data-ng-show="!loading">
          <div class="form-title">
              <h1>{{ResourceUtility.getString('SYSTEM_SETUP_TITLE')}}</h1>
              <span><span>&ast;</span> {{ResourceUtility.getString('SYSTEM_SETUP_REQUIRED_FIELDS')}}</span>
          </div>
          <div class="formSF">
              <img src="assets/images/logo_salesForce_2.png" />
              <div class="tabpanel">
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="active">
                          <a href="/#/import/form" aria-controls="profile" role="tab" data-toggle="tab">PRODUCTION</a>
                      </li>
                      <li>
                          <a href="/#/import/form" aria-controls="profile" role="tab" data-toggle="tab">SANDBOX</a>
                      </li>
                  </ul>
                  <!-- SFDC Production -->
                  <div class="tab-content">
                      <div id="formProduction" role="tabpanel" class="tab-pane active">
                          <div data-ng-show="!crmProductionSaveInProgress">
                              <div data-ng-show="crmProductionError != ''" class="alert alert-danger">
                                  {{crmProductionError}}
                              </div>
                              <div>
                                  <label>{{ResourceUtility.getString('SYSTEM_SETUP_USER_NAME')}} <span>&ast;</span></label>
                                  <input type="text" 
                                         class="form-control"
                                         data-ng-readonly="crmProductionComplete"
                                         data-ng-class="crmProductionError != '' && crmProductionCredentials.UserName == null ? 'error' : ''"
                                         data-ng-model="crmProductionCredentials.UserName" 
                                         autocomplete="off">
                              </div>
                              <div>
                                  <label>{{ResourceUtility.getString('SYSTEM_SETUP_PASSWORD')}} <span>&ast;</span></label>
                                  <input type="password" 
                                         class="form-control"
                                         data-ng-readonly="crmProductionComplete"
                                         data-ng-class="crmProductionError != '' && crmProductionCredentials.Password == null ? 'error' : ''"
                                         data-ng-model="crmProductionCredentials.Password" 
                                         autocomplete="off">
                              </div>
                              <div>
                                  <label>{{ResourceUtility.getString('SYSTEM_SETUP_SECURITY_TOKEN')}} <span>&ast;</span></label>
                                  <span class="security-token-tooltip">
                                      <helper-mark help="{{ResourceUtility.getString('SYSTEM_SETUP_SECURITY_TOKEN_TOOLTIP')}}"></helper-mark>
                                  </span>
                                  <input type="password" 
                                         class="form-control"
                                         data-ng-readonly="crmProductionComplete"
                                         data-ng-class="crmProductionError != '' && crmProductionCredentials.SecurityToken == null ? 'error' : ''"
                                         data-ng-model="crmProductionCredentials.SecurityToken"
                                         autocomplete="off">
                              </div>
                              <button class="btn btn-primary js-crm-production-save-button" 
                                      type="submit"
                                      data-ng-show="!crmProductionComplete"
                                      data-ng-click="crmProductionSaveClicked()">
                                  {{ResourceUtility.getString('BUTTON_SAVE_AND_VERIFY')}}
                              </button>
                              <button class="btn btn-primary js-crm-production-edit-button" 
                                  type="submit" 
                                  data-ng-show="crmProductionComplete"
                                  data-ng-click="crmProductionComplete = false">{{ResourceUtility.getString('BUTTON_EDIT_LABEL')}}</button>
                          </div>
                          <div class="loader" data-ng-show="crmProductionSaveInProgress">
                              
                          </div>
                      </div>
                      <!-- SFDC Sandbox -->
                      <div id="formSandbox" role="tabpanel" class="tab-pane">
                          <div data-ng-show="!crmSandboxSaveInProgress">
                              <div data-ng-show="crmSandboxError != ''" class="alert alert-danger">
                                  {{crmSandboxError}}
                              </div>
                              <div>
                                  <label>{{ResourceUtility.getString('SYSTEM_SETUP_USER_NAME')}} <span>&ast;</span></label>
                                  <input type="text" 
                                         class="form-control"
                                         data-ng-readonly="crmSandboxComplete"
                                         data-ng-class="crmSandboxError != '' && crmSandboxCredentials.UserName == null ? 'error' : ''"
                                         data-ng-model="crmSandboxCredentials.UserName" 
                                         autocomplete="off">
                              </div>
                              <div>
                                  <label>{{ResourceUtility.getString('SYSTEM_SETUP_PASSWORD')}} <span>&ast;</span></label>
                                  <input type="password" 
                                         class="form-control"
                                         data-ng-readonly="crmSandboxComplete"
                                         data-ng-class="crmSandboxError != '' && crmSandboxCredentials.Password == null ? 'error' : ''"
                                         data-ng-model="crmSandboxCredentials.Password" 
                                         autocomplete="off">
                              </div>
                              <div>
                                  <label>{{ResourceUtility.getString('SYSTEM_SETUP_SECURITY_TOKEN')}} <span>&ast;</span></label>
                                  <span class="security-token-tooltip">
                                      <helper-mark help="{{ResourceUtility.getString('SYSTEM_SETUP_SECURITY_TOKEN_TOOLTIP')}}"></helper-mark>
                                  </span>
                                  <input type="password" 
                                         class="form-control"
                                         data-ng-readonly="crmSandboxComplete"
                                         data-ng-class="crmSandboxError != '' && crmSandboxCredentials.SecurityToken == null ? 'error' : ''"
                                         data-ng-model="crmSandboxCredentials.SecurityToken"
                                         autocomplete="off">
                              </div>
                              <button class="btn btn-primary js-crm-sandbox-save-button" 
                                      type="submit"
                                      data-ng-show="!crmSandboxComplete"
                                      data-ng-click="crmSandboxSaveClicked()">
                                  {{ResourceUtility.getString('BUTTON_SAVE_AND_VERIFY')}}
                              </button>
                              <button class="btn btn-primary js-crm-sandbox-edit-button" 
                                  type="submit" 
                                  data-ng-show="crmSandboxComplete"
                                  data-ng-click="crmSandboxComplete = false">{{ResourceUtility.getString('BUTTON_EDIT_LABEL')}}</button>
                          </div>
                          <div class="loader" data-ng-show="crmSandboxSaveInProgress">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>