<span class='date-range-label date-range-title-label'><%= title %></span>
<span>
    <input type='text' class='datepicker-input date-range-input-start'/>
</span>
<span class='date-range-label'><%= ResourceUtil.getString('DATE_RANGE_INPUT_TO_LABEL')%></span>
<span>
    <input type='text' class='datepicker-input date-range-input-end'/>
</span>