<!-- Table format needed for DataTables plugin, see: http://datatables.net/usage/ -->
<table class="gridControl">
    <thead> </thead>
    <tbody> </tbody>
    <%if(options.hasFooter){%>
        <tfoot><tr class="grid-footer-row grid-footer-separator"></tr></tfoot>
    <%}%>
</table>