<div class="grid-divider-row">
    <span class='top-predictors-header-title-container'><%=ResourceUtil.getString('TOP_PREDICTORS_HEADER_LABEL') %></span>
    <div class='top-predictors-tip-container'><img class="learn-more-icon" src="assets/CommonAssets/images/icn-info-i.png"><%=ResourceUtil.getString('TOP_PREDICTORS_EXPLANATION_LABEL') %></div>
</div>