<div class="num-edit-row">
    <select ng-model="$ctrl.directionModel" ng-change="$ctrl.changeDirection()">
        <option ng-repeat="(key, value) in $ctrl.directionList" value="{{value.name}}">{{value.displayName}}</option>
    </select>
    <select ng-model="$ctrl.periodModel" ng-change="$ctrl.changePeriod()">
        <option ng-repeat="(key, value) in $ctrl.periodList" value="{{value.name}}">{{value.displayName}}</option>
    </select>
    <numerical-range-directive ng-if="$ctrl.periodChanging==false" config="$ctrl.getPeriodNumericalConfString()" showmessage="true"
        showfrom="$ctrl.showFromPeriod" showto="$ctrl.showToPeriod" vm="$ctrl.vm" form="$ctrl.form" type="{{$ctrl.type}}" bucketrestriction="$ctrl.bucketrestriction"
        changed="$ctrl.callbackChangedValue(type, position, value)">
    </numerical-range-directive>
    <span ng-if="$ctrl.showFromPeriod || $ctrl.showToPeriod">%</span>
    <!-- <span class="error-message" ng-if="!$ctrl.isPeriodRangeValid()">{{$ctrl.getErrorMsg()}}</span> -->
</div>