.summary-container{
    // border: 1px solid red;
    padding-left: 2.52766%;
    padding-right: 2.82766%;
}
.dashboard {
    &.CROSS_SELL_FIRST_PURCHASE {
        .bar-graph {
            background-color: #4BAEB5 !important;   
        }
    }
    &.CROSS_SELL_REPEAT_PURCHASE {
        .bar-graph {
            background-color: #218F73 !important;   
        }           
    }
    &.CUSTOM_EVENT {
        .bar-graph {
            background-color: #5EA83D !important;   
        }
    }
    &.RULE_BASED {
        .bar-graph {
            background-color: #8166A3 !important;   
        }
    }
    &.noRatings {
        .content {
            h4 {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }
    .header {
        margin-bottom: 20px;
        &:after {
            content: '';
            clear: both;
            display: table;
        }
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & > div {
            width: 98%;
            margin-bottom: 10px;
            position: relative;
            padding: 0px 10px 16px;
            border: #eaeaea solid 1px;
            background: rgba(255,255,255,0.5);
            border-radius: 2px;
            @media only screen and (min-width: 600px) {
                width: 49.8%;
                margin-bottom: 4px;
            }
        }
        h3 {
            font-size: 16px;
            margin: 12px 0;
            text-transform: none;
            .more-info {
                padding: 0 6px;
                color: #fff;
            }
        }
        h4.no-ratings-header {
            font-size: 14px;
        }
        dt, dd {
            font-size: 14px;
        }
        dt {
            width: 30%;
        }
        dd {
            margin-left: 30%;
        }
        table {
            th, td {
                padding: 0px 10px 4px 0;
            }
            th {
                font-weight: normal;
                text-transform: uppercase;
                color: #333;
                font-size: 10px;
            }
            td {
                padding-top: 4px;
            }
        }
    }
    .ico.ico-warning {
        background-image: url("data:image/svg+xml;utf8,<svg width='16px' height='14px' viewBox='0 0 16 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g id='3rd-iteration' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g id='create-play-copy-9' transform='translate(-1152.000000, -542.000000)' fill='%23D22128'><path d='M1160.07496,554.185103 C1159.66016,554.185103 1159.32169,553.831981 1159.32169,553.424961 C1159.32169,553.004931 1159.66016,552.652738 1160.07496,552.652738 C1160.48976,552.652738 1160.83834,553.004931 1160.83834,553.424961 C1160.83834,553.831981 1160.48976,554.185103 1160.07496,554.185103 Z M1160.77304,546.723071 L1160.57622,551.825688 L1159.58382,551.825688 L1159.37688,546.723071 L1160.77304,546.723071 Z M1159.99954,542.5395 L1152.5,555.6645 L1167.5,555.6645 L1159.99954,542.5395 Z' id='Fill-16'></path></g></g></svg>");
        background-repeat: no-repeat;
        background-position: center center;
    }
    .fa-clock-o {
        color: #F27D41;
    }
    &.CUSTOM_EVENT {
        .content {
            dt {
                width: 50%;
            }
            dd {
                margin-left: 50%;
            }
        }
    }
    .attribute-stats .header {
        background-color: transparent;
        color: #333;
        margin-bottom: 4px;
    }
    .published-header {
        text-transform: uppercase;
        color: #c7c7c7;
        font-size: 11px;
        float: right;
    }
    .creation-history {
        margin-bottom: 0;
        th:last-of-type, td:last-of-type {
            text-align: right;
            width: 90px;
            button:last-of-type {
                margin-left: 3px;
            }
        }
        td:nth-child(3){
            max-width: 114px;
        }
        .tooltip_ {
            width: auto;
            text-transform: none;
            .cover {
                padding: 8px
            }
            p {
                font-size: 11px;
            }
        }
    }
}