<div class="ratingengine-creation playbook-content container" ng-class="{'dashboard-content': $ctrl.stateParams.section && $ctrl.stateParams.section.indexOf('dashboard.') !== -1}">
    <div class="inner-container">
        <div class="header">
            <h2>The model is being created.</h2>
            <p>Your jobs will not be affected when you leave this page.</p>
        </div>
        <div class="content-body">
            
            <h3>Summary</h3>
            <div class="summary-data">
                <dl>
                    <dt>Model Type:</dt>
                    <dd>{{ $ctrl.ratingEngineType }}</dd>

                    <dt ng-if="$ctrl.showSetting('segment')">Segment:</dt>
                    <dd ng-if="$ctrl.showSetting('segment')" class="text-ellipsis">{{ $ctrl.ratingEngine.segment.display_name }}</dd>

                    <!-- Cross-sell Modeling Settings -->
                    
                    <dt ng-if="$ctrl.showSetting('products')">Products:</dt>
                    <dd ng-if="$ctrl.showSetting('products')">{{ $ctrl.targetProducts.length == 1 ? $ctrl.targetProductName : $ctrl.targetProducts.length + ' selected'}} </dd>

                    <dt ng-if="$ctrl.configFilters['PURCHASED_BEFORE_PERIOD']">Time range:</dt>
                    <dd ng-if="$ctrl.configFilters['PURCHASED_BEFORE_PERIOD']">More than {{ $ctrl.configFilters['PURCHASED_BEFORE_PERIOD'].value }} {{$ctrl.getPeriodType($ctrl.configFilters['PURCHASED_BEFORE_PERIOD'].value) | lowercase}}</dd>

                    <dt ng-if="$ctrl.showSetting('prioritizeBy')">Prioritize by:</dt>
                    <dd ng-if="$ctrl.showSetting('prioritizeBy')">{{ $ctrl.prioritizeBy }}</dd>

                    <!-- Custom-event Modeling Settings -->

                    <dt ng-if="$ctrl.showSetting('scoreExternalFile')">Score External File:</dt>
                    <dd ng-if="$ctrl.showSetting('scoreExternalFile')"> {{$ctrl.ratingEngine.latest_iteration.AI.advancedModelingConfig.custom_event.customEventModelingType == 'LPI' ? 'Yes' : 'No'}}</dd>

                </dl>
                <dl ng-if="$ctrl.hasSettingsInfo">
                    <dt ng-if="$ctrl.showSetting('modelSettingsTitle')">Training:</dt>
                    <dd>
                        <ul ng-if="$ctrl.type == 'cross_sell'">
                            <li 
                                ng-if="$ctrl.configFilters['SPEND_IN_PERIOD']">
                                Spend in the {{ $ctrl.periodType | lowercase }} was {{ $ctrl.spendCriteria }} ${{ $ctrl.configFilters['SPEND_IN_PERIOD'].value | number }}
                            </li>
                            <li
                                ng-if="$ctrl.configFilters['QUANTITY_IN_PERIOD']">
                                Quantity bought was {{ $ctrl.quantityCriteria }} {{ $ctrl.configFilters['QUANTITY_IN_PERIOD'].value | number }} units
                            </li>
                            <li
                                ng-if="$ctrl.configFilters['TRAINING_SET_PERIOD']">
                                {{ $ctrl.configFilters['TRAINING_SET_PERIOD'].value }} {{ $ctrl.getPeriodType($ctrl.configFilters['TRAINING_SET_PERIOD'].value) | lowercase}} of historical records
                            </li>
                            <li
                                ng-if="$ctrl.trainingSegment !== null">
                                Model with similar segment: {{ $ctrl.trainingSegment.display_name }}
                            </li>
                            <li
                                ng-if="$ctrl.trainingProducts.length > 0">
                                Model with similar product(s): 
                                <span ng-if="$ctrl.trainingProducts.length === 1">{{ $ctrl.trainingProductName }}</span>
                                <span ng-if="$ctrl.trainingProducts.length > 1">{{ $ctrl.trainingProducts.length }} selected</span>
                            </li>
                        </ul>
                        <ul ng-if="$ctrl.type == 'custom_event' ">
                            <li class="text-ellipsis" title="{{$ctrl.getTrainingFileName()}}"> 
                                Training File: {{ $ctrl.getTrainingFileName() }}
                            </li>
                            <li>
                                One record per account: {{ $ctrl.ratingEngine.latest_iteration.AI.advancedModelingConfig.custom_event.deduplicationType == 'ONELEADPERDOMAIN' ? 'Yes' : 'No'}}
                            </li>
                            <li>
                                Include personal email domains: {{ $ctrl.ratingEngine.latest_iteration.AI.advancedModelingConfig.custom_event.excludePublicDomains ? 'No' : 'Yes'}}
                            </li>
                            <li>
                                Use curated attributes: {{ $ctrl.ratingEngine.latest_iteration.AI.advancedModelingConfig.custom_event.transformationGroup == 'none' ? 'No' : 'Yes'}}
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>


            <h3>Job Status</h3>
            <dl class="step-progression">
                <dt 
                    ng-repeat-start="step in $ctrl.steps"
                    ng-class="{'started': step.hasStarted || step.startTimestamp != undefined}">{{step.label}}</dt>
                <dd ng-repeat-end>
                    <i 
                        class="fa fa-spinner fa-pulse fw"
                        ng-if="step.showSpinner"></i>
                    <span ng-if="step.startTimestamp != undefined">
                        <i class="fa fa-check"></i>
                        {{step.startTimestamp | date:"MM/dd/yyyy 'at' h:mma"}}
                    </span>
                </dd>
            </dl>


            <div class="meter bar" ng-if="$ctrl.status !== 'Completed' && $ctrl.status !== 'Failed'">
                <span class="indeterminate" ng-style="{ 'width': $ctrl.progress }"></span>
            </div>
            <div>
                <p><i class="fa fa-check" ng-if="$ctrl.status === 'Completed'"></i> {{ $ctrl.status }}</p>
            </div>
            
        </div>
    </div>
</div>