<div class="ratingengine-summary playbook-content container" ng-class="{'dashboard-content': vm.stateParams.section && vm.stateParams.section.indexOf('dashboard.') !== -1}">
    <div class="inner-container">
        <div class="header">
            <h2>Summary</h2>
            <p>Review your model, assign a name and choose whether you would like to activate it.</p>
        </div>
        <div class="content-body">
            
            <ul class="query-rules-buckets-container">
                <li
                    ng-repeat="bucket in vm.buckets"
                    ng-class="{ 'disable': bucket.count === 0 }"
                    class="query-rules-buckets-bucket">
                    
                    <div class="bucket-box">
                        <div class="bucket-label"><h2>{{ bucket.bucket }}</h2></div>
                        <div class="bucket-resource">{{ vm.treeMode | uppercase }}</div>

                        <div class="bucket-resource-count" ng-if="bucket.count < 0">
                            <span class="query-section-item-records-number">
                                <i class="fa fa-spinner fa-spin"></i>
                            </span>
                        </div>

                        <div class="bucket-resource-count" ng-if="bucket.count >= 0">
                            <span class="count-number">{{ bucket.count | number }}</span>
                            <span class="count-percentage">({{ (bucket.count / vm.coverage_map.accountCount) * 100 | number:1 }}%)</span>
                        </div>
                    </div>

                    <div  class="bucket-rulecount">{{ vm.getRuleCount(bucket) }} Rules</div>
                </li>
            </ul>

            <form>
                 <div class="form-group">
                    <label>Model Name
                        <input 
                            type="text" 
                            class="form-control"
                            ng-change="vm.changeDetails()"
                            ng-model="vm.rating.displayName"
                            maxlength="50"
                            ng-trim="false"/>
                    </label>
                    <span>{{50 - vm.rating.displayName.length}} characters remaining</span>
                </div>
                <div class="form-group">
                    <label>Notes
                        <textarea 
                            rows="2" 
                            class="form-control"
                            ng-change="vm.changeDetails()"
                            ng-model="vm.rating.note"
                            maxlength="250"></textarea>
                    </label>
                    <span>{{250 - vm.rating.note.length}} characters remaining</span>
                </div>
                <div class="form-group">
                    <label>Activate Model</label>
                    <label class="switch">
                      <input 
                        type="checkbox" 
                        class="switch-input"
                        ng-change="vm.changeDetails()"
                        ng-model="vm.ratingStatus"
                        ng-model-options="{ debounce: 300 }">
                      <span class="switch-label" data-on="Yes" data-off="No"></span>
                      <span class="switch-handle"></span>
                    </label>
                </div>
            </form>

        </div>
    </div>
</div>