/*Styles for Attribute Slider Renderer*/

.predictive-attribute-slider-container
{
    position:           relative; 
    height:             25px;
    width:              270px;
    padding-bottom:     10px;
}

.predictive-attribute-warning-icon
{
    position:           absolute;
    display:            inline-block;
    height:             20px;
    width:              20px;
    right:              10px;
    top:                7px;
    background:         url(../CommonAssets/images/ic_warning_sm.png) no-repeat center;
}

.predictive-attribute-bar,
.predictive-attribute-excluded-message
{
    position:           absolute;
    display:            inline-block;
    height:             20px;
    left:               10px;
    top:                7px;
}

.predictive-attribute-bar
{
    @include            pred-attr-bar-gradient;
    border-radius:      3px;
}

.predictive-attribute-bar.warning-bar
{
    @include            pred-attr-warning-bar-gradient;
}

.predictive-attribute-excluded-message
{
    color:              $label-text-color;
    font-size:          10px;
}

.numeric-renderer,
.money-renderer
{
    text-align:         right;
}

.money-renderer
{
    color:              $money-text-color;
}

.threshold_text_with_image-renderer > img
{
    vertical-align:     middle;
}

.threshold_text_with_image-renderer > span
{
    margin-left:        5px;
}