global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  daemon

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

listen stats :80
  stats enable
  stats uri /

frontend schema-registry
    bind *:9022
    mode http
    default_backend schema-registry-nodes

backend schema-registry-nodes
    mode http
    balance roundrobin
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    option httpchk HEAD / HTTP/1.1\r\nHost:localhost
    
    # server list below
    # server web01 127.0.0.1:9022 check
{{SR_HOSTS}}

frontend kafka-rest
    bind *:9023
    mode http
    default_backend kafka-rest-nodes

backend kafka-rest-nodes
    mode http
    balance roundrobin
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    option httpchk HEAD / HTTP/1.1\r\nHost:localhost
    
    # server list below
    # server web01 127.0.0.1:9022 check
{{KR_HOSTS}}