<section class="tabs interior containerx">
    <ul>
        <li
            ui-sref="home.playbook.plays.list"
            ui-sref-active="active">
            <div class="tab-container">
                <h2>Plays</h2>
                <div class="enrichmentCounts">
                    <span class="count">{{ vm.current.plays.length }}</span> total
                    <span class="count">{{ vm.count('Launched', true) }}</span> currently launched
                </div>
            </div>
        </li>
        <li 
            ng-click="vm.clickLaunchHistoryTab($event);"
            ng-class="{'disabled': vm.historyTabIsDisabled, 'active': $state.current.name === 'home.playbook.plays.launch_history'}"
            ui-sref-active="active">
            <div class="tab-container">
                <h2>Launch History</h2>
                <div class="enrichmentCounts">
                    <span class="count">{{ vm.count('Launching') + vm.count('Launched') + vm.count('Failed') }}</span> plays
                    <span class="count">{{ vm.count('Launching') }}</span> launching
                </div>
            </div>
        </li>
    </ul>
</section>