<section class="tabs interior containerx">
    <ul>
        
        <li
            ui-sref="home.playbook.plays.list"
            ui-sref-active="active">
            <div class="tab-container">
                <h2>Plays</h2>
            </div>
        </li>
        <li 
            ui-sref="home.playbook.plays.launch_history" 
            ui-sref-active="active">
            <div class="tab-container">
                <h2>Launch History</h2>
            </div>
        </li>

    </ul>
</section>