<span class="query-section-item-operation" ng-if="!vm.unused && !vm.showItem('Percent')">
    <span class="query-section-item-operation">
        <span>{{vm.getOperationLabel()}}</span>
    </span>

    <span class="query-section-item-value" ng-if="vm.showItem('String')">
        <strong
            ng-repeat="value in (values = vm.getOperationValue('String'))">{{ vm.getOperationValue('Enum').length > 1 && $index != 0 ? ', ' : ''; }}{{ value }}</strong>
        <!-- <strong ng-if="typeof(vm.getOperationValue('String')) == 'string'">{{vm.getOperationValue('String')}}</strong> -->
    </span>

    <span class="query-section-item-value" ng-if="vm.showItem('Boolean')">
        <strong>{{vm.getOperationValue('Boolean')}}</strong>
    </span>

    <span class="query-section-item-value" ng-if="vm.showItem('Date')">
        <date-attribute bucketrestriction="vm.tree.bucketRestriction" type="vm.type"></date-attribute>
        <!-- <span>in timeframe</span>
        <strong>{{vm.getOperationValue('Date')}}</strong> -->
    </span>

    <span class="query-section-item-value" ng-if="vm.showItem('Numerical')">
        <strong ng-if="vm.isNumericalChips()"
            ng-repeat="value in (values = vm.getOperationValue('Enum'))">{{ vm.getSuffixLabel($index) }}{{ value }}</strong>
        <span ng-if="!vm.isNumericalChips()">
            <strong>{{vm.getOperationValue('Numerical', 0)}}</strong>
            <span ng-if="vm.showTo()" class="operation-and">-</span>
            <strong ng-if="vm.showTo()">{{vm.getOperationValue('Numerical', 1)}}</strong>
        </span>
    </span>

    <span class="query-section-item-value" ng-if="vm.showItem('Enum')">
        <strong
            ng-repeat="value in (values = vm.getOperationValue('Enum'))">{{ vm.getSuffixLabel($index) }}{{ value }}</strong>&nbsp;
    </span>

    <span class="query-section-item-value" ng-if="vm.showItem('Transaction')">
        <transaction-directive bucketrestriction="vm.tree.bucketRestriction" type="vm.type"
            purchased="vm.getOperationValue('Boolean')"></transaction-directive>
    </span>
</span>
<span class="query-section-item-operation" ng-if="!vm.unused && vm.showItem('Percent')">
    <span class="query-section-item-value">
        <percent-attribute bucketrestriction="vm.tree.bucketRestriction"></percent-attribute>
    </span>
</span>