<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>sqoop</display-name>
    <description>Lattice Engines Sqoop REST API</description>

    <filter>
        <filter-name>tracingFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>

    <filter-mapping>
        <filter-name>tracingFilter</filter-name>
        <servlet-name>sqoop</servlet-name>
    </filter-mapping>

    <servlet>
        <servlet-name>sqoop</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>sqoop</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
