div.explorer-subheader-tabs {
    position: relative;
    line-height: 3em;

    ul.subheader-tabs-links {
        display: inline-block;

        li {
            display: inline-block;
            font-size: 18px;
            color: #222;
            padding: 0 0.4em 0 0;
            -webkit-transition: none;
            -moz-transition: none;
            -ms-transition: none;
            transition: none;

            &.clickable,
            &[ng-click] {
                cursor: pointer;
                &:hover {
                    color: #457eba;
                }
            }

            &:active,
            &.active {
                color: #ef6a30;
                cursor: default;
            }
        }
    }

    ul.subheader-tabs-buttons {
        // margin-right: 14px;
        float: right;

        & > li {
            position: relative;
        }

        .confirmation-title {
            position: absolute;
            top: 2px;
            left: 0;
            margin-left: -50%;
            font-size: 0.9em;
            color: #222;

            .confermation-ok {
                padding: 0.4em;
                color: green;
            }
        }

        .export-button {
            padding-right: 0px;
        }
    }
}

div.subheader-success-message {
    margin: 20px 10px;
}
