<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{active: activeState==='Tenants'}"><a ui-sref="TENANT.LIST">Tenants</a></li>
                <li class="dropdown" ng-class="{active: activeState==='ModelQuality'}">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Model Quality <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu modelquality-dropdown" role="menu">
                        <li role="presentation">
                          <a ui-sref="MODELQUALITY.DASHBOARD"
                            ui-sref-active="active">Model Quality Dashboard</a>
                        </li>
                        <li role="presentation">
                          <a ui-sref="MODELQUALITY.ANALYTICPIPELINE"
                            ui-sref-active="active">Analytic Pipeline</a>
                        </li>
                        <li role="presentation">
                          <a ui-sref="MODELQUALITY.ANALYTICTEST"
                            ui-sref-active="active">Analyltic Tests</a>
                        </li>
                        <li role="presentation">
                          <a ui-sref="MODELQUALITY.PUBLISHLATEST"
                            ui-sref-active="active">Publish Latest</a>
                        </li>
                    </ul>
                </li>
                <!-- <li ng-class="{active: activeState==='DataCloud'}"><a ui-sref="DATACLOUD.METADATA">Data Cloud</a></li> -->
                <li ng-class="{active: activeState==='Metadata'}"><a ui-sref="DATACLOUD.METADATA2">Metadata<sup>beta</sup></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle user-dropdown" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{ username }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="http://bodcprodvutl90.prod.lattice.local/ReportServer/Pages/ReportViewer.aspx?/ARM/ARMTenantDashboard" target="_blank">ARM Dashboard</a></li>
                        <li><a href="#" ng-click="onSignOutClick()">Sign Out</a></li>
                        <li><a href="#" ng-click="onDeactiveUserClick()">Deactive user</a>
                        <li><a href="#" ng-click="onAddUserAccessLevelClick()">AddUserAccessLevel</a>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
	<script type="text/ng-template" id="deactivateUsersModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Deactive users</h3>
        </div>
        <div class="modal-body">
            <form class="add-tenant-form form-inline" name="addform" novalidate>
                <div class="control-group" ng-class='{"has-error": showEmailIdError}'>
                    <label class="control-label">Emails</label>
                    <input type="text" name="emailId" class="form-control" required
                           ng-model-options="{ debounce: 200 }" ng-model="emails"
                           ng-change="validateEmailInfo()"
                           ng-disabled="okClicked || saving"/>
                    <p ng-if="errorMsg" class="help-block"><span class="text-danger">{{ errorMsg }}</span></p>
                    <p ng-if="okClicked && !saving" class="help-block">You are about to delete users: {{emails}} </p>
                    <p ng-if="saving" class="help-block"><i class="fa fa-spinner fa-spin"></i> deleting</p>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()" ng-disabled="!isValid">{{okClicked ? 'Confirm' :'Ok'}}</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="addUserAccessLevelModal.html">
        <div class="modal-header">
            <h3 class="modal-title">AddUserAccessLevel</h3>
        </div>
        <div class="modal-body">
            <form class="add-tenant-form form-inline" name="addform" novalidate>
                <div class="control-group" ng-class='{"has-error": showEmailIdError}' ng-init="right='SUPER_ADMIN'">
                    <label class="control-label">Emails</label>
                    <input type="text" name="emailId" class="form-control" required
                           ng-model-options="{ debounce: 200 }" ng-model="emails"
                           ng-change="validateEmailInfo()"
                           ng-disabled="okClicked || saving"/>
                    <label class="control-label">AccessLevel</label>
                    SuperAdmin<input type="radio" ng-model="right" value="SUPER_ADMIN" ng-checked="true">&nbsp;&nbsp;InternalAdmin<input type="radio" ng-model="right" value="INTERNAL_ADMIN">				
                    <p ng-if="errorMsg" class="help-block"><span class="text-danger">{{ errorMsg }}</span></p>
                    <p ng-if="okClicked && !saving" class="help-block">You are about to add users: {{emails}} to {{right}} </p>
                    <p ng-if="saving" class="help-block"><i class="fa fa-spinner fa-spin"></i> adding</p>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()" ng-disabled="!isValid">{{okClicked ? 'Confirm' :'Ok'}}</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    </div>
</nav>