<div class="carousel-container">
    <div class="row enrichment-wizard-category-pagination noselect-children" 
            ng-if="$ctrl.catlength > $ctrl.pagesize">
        
        <div class="twelve columns">
            <pd-pagination-controls
                    current="$ctrl.current"
                    max="$ctrl.catlength / $ctrl.pagesize"
                    >
            </pd-pagination-controls>
        </div>
    </div>

    
    <ul class="categories" ng-class="{'has-category': $ctrl.category}">
        <li ng-repeat="category in $ctrl.categories
                | startFrom: ($ctrl.current - 1) * $ctrl.pagesize
                | limitTo: $ctrl.pagesize" 
            class="category"
            ng-class="{ active: $ctrl.isActive(category) }"
            ng-click="$ctrl.click(category);">

            <div class="box-inner noselect-children background {{$ctrl.categoryClass(category)}} border-top color round-box active-glow" ng-class="{ active: $ctrl.isActive(category) }">
                <span>
                    <h2 alt="{{category}}">
                        <div class="category-icon">
                            <img ng-src="{{$ctrl.categoryIcon(category)}}" onerror="this.style.display='none'" />
                        </div>
                        <div class="category-label"><span class="category-label-span">{{category}}</span></div>
                    </h2>

                    <span class="count">
                        <strong>{{ $ctrl.catmap[category]|number }}</strong>
                    </span>
                </span>
            </div>
        </li>
    </ul>
</div>