<div class="attr-results-container">

    <div class="attr-list-noresults" ng-if="filteredList.length === 0">
        No Results.
    </div>

    <table class="attr-list-results noselect-children" ng-if="filteredList.length != 0">
        <thead>
            <tr>
                <th ng-click="up = !up; $ctrl.sortBy = (up ? '-' : '') + 'hasWarning'">
                    <span class="ico ico-warning"></span>
                    <i ng-if="!$ctrl.endsWith($ctrl.sortBy, 'hasWarning')" class="fa fa-sort"></i>
                    <i ng-if="$ctrl.endsWith($ctrl.sortBy, 'hasWarning')" class="fa fa-sort-{{up ? 'asc' : 'desc'}}"></i>
                </th>
                <th ng-click="up = !up; $ctrl.sortBy = (up ? '-' : '') + 'ImportanceOrdering'">
                    Used by Model
                    <i ng-if="!$ctrl.endsWith($ctrl.sortBy, 'ImportanceOrdering')" class="fa fa-sort"></i>
                    <i ng-if="$ctrl.endsWith($ctrl.sortBy, 'ImportanceOrdering')" class="fa fa-sort-{{up ? 'asc' : 'desc'}}"></i>
                </th>
                <th ng-click="up = !up; $ctrl.sortBy = (up ? '-' : '') + 'ImportanceOrdering'">
                    Feature Importance
                    <i ng-if="!$ctrl.endsWith($ctrl.sortBy, 'ImportanceOrdering')" class="fa fa-sort"></i>
                    <i ng-if="$ctrl.endsWith($ctrl.sortBy, 'ImportanceOrdering')" class="fa fa-sort-{{up ? 'asc' : 'desc'}}"></i>
                </th>
                <th ng-click="up = !up; $ctrl.sortBy = (up ? '-' : '') + 'DisplayName'">
                    Attribute
                    <i ng-if="!$ctrl.endsWith($ctrl.sortBy, 'DisplayName')" class="fa fa-sort"></i>
                    <i ng-if="$ctrl.endsWith($ctrl.sortBy, 'DisplayName')" class="fa fa-sort-{{up ? 'asc' : 'desc'}}"></i>
                </th>
                <th ng-click="up = !up; $ctrl.sortBy = (up ? '-' : '') + 'ApprovedUsage'">
                    Enabled
                    <i ng-if="!$ctrl.endsWith($ctrl.sortBy, 'ApprovedUsage')" class="fa fa-sort"></i>
                    <i ng-if="$ctrl.endsWith($ctrl.sortBy, 'ApprovedUsage')" class="fa fa-sort-{{up ? 'asc' : 'desc'}}"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="attribute in (filteredList = ($ctrl.getCategoryAttributes()
                        | filter: $ctrl.searchFilter
                        | orderBy: $ctrl.sortBy
                        | startFrom: ($ctrl.filters.currentPage - 1) * $ctrl.filters.pageSize
                        | limitTo: $ctrl.filters.pageSize))"
                ng-class="{'disabled': attribute.ApprovedUsage[0] == 'None'}">
                <td>
                    <span 
                        class="ico ico-warning show-tooltip top delay" 
                        ng-if="attribute.hasWarning"
                        ng-mouseover="$ctrl.filterRules(attribute)">
                        <div class="tooltip_ small">
                            <div class="cover">

                                <div ng-repeat="rule in $ctrl.attrTooltipContent">
                                    <h3 class="white">{{ rule.displayName }}</h3>
                                    <p>{{ rule.description }}</p>
                                </div>

                            </div>
                        </div>
                    </span>
                </td>
                <td>
                    <span class="ico ico-check" ng-if="attribute.ImportanceOrdering"></span>
                </td>
                <td>{{ attribute.ImportanceOrdering }}</td>
                <td>{{ attribute.DisplayName }}</td>
                <td>
                    <div class="attr-result-checkbox" ng-click="$ctrl.toggleSelected(attribute)">
                        <i class="fa fa-toggle-off" ng-if="attribute.ApprovedUsage[0] == 'None'"></i>
                        <i class="fa fa-toggle-on" ng-if="attribute.ApprovedUsage[0] != 'None'"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    
    <ul class="attr-pagination-bottom" ng-show="max > 1">
        <li class="attr-pagination pull-right">
            <pd-pagination-controls
                current="$ctrl.filters.currentPage"
                max="max = ($ctrl.getCategoryAttributes() | filter: $ctrl.searchFilter).length / $ctrl.filters.pageSize">
            </pd-pagination-controls>
        </li>
    </ul>

</div>