<style>
    .logo-area {
        position: relative;
    }
    .user-info {
        position: absolute;
        text-align: right;
        right: 1em;
        white-space: nowrap;
    }
    .user-info li {
        font-size: 90%;
        line-height: 15px;
    }
    .user-info li.label {
        font-weight: bold;
        font-size: 90%;
    }
    .user-info li.label .default {
        cursor: pointer;
        color: #aaa;
        font-weight: normal;
        font-size: 90%;
    }
    .user-info li.label .default:hover {
        text-decoration: underline;
    }
    .user-info li.value {
        margin-bottom: 1em;
    }
    .user-info li.control {
        margin-top: 2em;
    }
    .user-info hr {
        margin: 2em 0;
    }
    .user-info button.white-button,
    .user-info button.orange-button {
        margin-top: 1em;
        display: inline-block;
        width: auto;
    }
</style>
<div id="loginMainView">
    <div class="login-body">
        <div class="container row">

            <div class="columns two offset-three logo-area">
                <img src="/login/assets/images/logo_login.png" alt="Lattice">
                <ul class="user-info" ng-if="login.username">
                    <li class="label">username</li>
                    <li class="value">{{login.username}}</li>
                    <li class="label">
                        <span 
                            ui-sref="login.update" 
                            ng-if="state.current.name != 'login.update'" 
                            class="default">[change]</span>
                        password
                    </li>
                    <li class="value" ng-if="login.expireDays > 90">expires on {{login.expires | date:'MM/dd/yyyy'}}</li>
                    <li class="value" ng-if="login.expireDays <= 90">expires in {{login.expireDays}} days</li>
                    <li class="label" ng-if="login.tenant">
                        <span 
                            ui-sref="login.tenants" 
                            ng-if="state.current.name != 'login.tenants'" 
                            class="default">[change]</span>
                        current tenant
                    </li>
                    <li class="value" ng-if="login.tenant">{{login.tenant}}</li>
                    
                    <li class="value" ng-if="login.username && !login.tenant && state.current.name != 'login.tenants'">
                        <a ui-sref="login.tenants" class="default">
                            Choose a Tenant
                        </a>
                    </li>
                    
                    <li class="value" ng-if="login.tenant">
                        <a href="javascript:void(0)" ng-click="clickModelList()" class="default">
                            View Models
                        </a>
                    </li>

                    <li class="" ng-if="login.username">
                        <button ng-click="clickLogout()" class="button white-button block-button">
                            Sign Out
                        </button>
                    </li>

                    <li class="" ng-if="!login.username">
                        <button ui-sref="login.form" class="button orange-button block-button">
                            Sign In
                        </button>
                    </li>
                </ul>
            </div><!-- End .columns.five -->

            <div class="columns five login-content">

                <div ng-if="state.loading">Loading</div>

                <div ui-view="FrameContent" ng-if="!state.loading"></div>
                
            </div><!-- End .columns.five -->

        </div><!-- End .container -->
    </div><!-- End .login-body -->        
</div><!-- End #loginMainView -->