.play-list {
	.tiles > li {
		padding: 13px 0;
		&.no-style {
			padding: 0;
		}
		.tile-header, .tile-metadata, .tile-body, .tile-footer {
			padding: 0 13px;
		}
		.tile-header {
			h2 {
					background: url('/assets/images/ico-insights.png') no-repeat left;
					background-size: 16px;
					padding-left: 22px;
			}
			.edit button {
				font-size: 20px;
			}
		}
		.tile-metadata {
			padding: 12px;
			border-color: #ddd;
			border-style: solid;
			border-width: 1px 0;
			font-size: 12px;
			line-height: 1.25;
		}
		.tile-body {
			padding-top: 16px;
			overflow: auto;
			strong {
				font-weight: bold;
			}
			h4 {
				text-align: center;
				font-size: 16px;
			}
			.barChart.ratings {
				display: flex;
				justify-content: center;
				align-items: flex-end;
				& > li {
					width: 15%;
					margin: 0 2px;
					text-align: center;
					.rating-bar {
						background-color: rgba(0,0,0,.5);
	            	}
					&:nth-child(1) {
						.value {
							color: #70bf4a;
						}
						.rating-bar {
			                border-bottom-color: #0f9e4d;
			                background-color: #70bf4a;
						}
					}
					&:nth-child(2) {
						.value {
							color: #33bdb7;
						}
						.rating-bar {
				            border-bottom-color: #149188;
				            background-color: #33bdb7;
						}
					}

					&:nth-child(3) {
						.value {
							color: #cd80bc;
						}
						.rating-bar {
			                border-bottom-color: #aa5299;
			                background-color: #cd80bc;
						}
					}
					&:nth-child(4) {
						.value {
							color: #8e71b2;
						}
						.rating-bar {
				            border-bottom-color: #7851a1;
				            background-color: #8e71b2;
						}
					}
					&:nth-child(5) {
						.value {
							color: #457eba;
						}
						.rating-bar {
				            border-bottom-color: #26649b;
				            background-color: #457eba;
						}
					}
				}
			}
		}
		form {
			padding: 0 13px 13px;
		}
		.tile-footer {
			padding-top: 13px;	
			.button {
				font-size: 12px;
				padding: 6px 10px;
				text-transform: none;
			}
			.launch-success i {
				color: #70bf4a;
				display: inline-block;
				margin-left: 4px;
				font-size: 17px;
			}
		}
		&.editing {
			&:hover {
				border-color:#d0d0d0;
			}
			.tile-footer {
				border-top-color: #e7e7e7;
				span {
					color: #bbb;
				}
				.button {
					cursor: default;
					border: #b7b7b7 solid 1px;
					background-color: #e4e4e4;
					color: #656565;
					box-shadow: none;
				}
			}
		}
	}
}