<section id="main-content" class="container tile-list play-list">

    <div class="row">
        
        <div class="list-header">
            <div class="pull-left number-of-items" ng-if="vm.current.plays.length > 0">
                <menu-filter-by config="vm.header.filter"></menu-filter-by>
                <menu-sort-by config="vm.header.sort"></menu-sort-by>
                <search-filter query="vm.query"></search-filter>
            </div>
            <div class="pull-right">
                <a
                    class="button blue-button"
                    ui-sref="home.playbook.wizard">
                    Add Play
                </a>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="twelve columns">
            <ul class="tiles">
                <li
                    ng-repeat="
                        play in vm.header.filter.filtered.plays |
                        filter: vm.query |
                        orderBy: vm.header.sort.order + vm.header.sort.property |
                        startFrom: (current - 1) * pagesize |
                        limitTo: pagesize"
                    data="play"
                    ng-click="vm.tileClick($event, play)"
                    ng-mouseleave="vm.current.tileStates[play.name].showCustomMenu ? vm.customMenuClick($event, play) : null"
                    ng-if="vm.current.plays.length > 0"
                    ng-class="{editing: vm.current.tileStates[play.name].editPlay}">
                    

                    <div class="tile-header" ng-if="!vm.current.tileStates[play.name].editPlay">
                        <h2 title="{{play.displayName}}">{{play.displayName | limitTo: 30 }}{{play.displayName.length > 30 ? '&hellip;' : ''}}</h2>
                        <div class="edit">
                            <button
                                    type="button"
                                    ng-click="vm.customMenuClick($event, play)"
                                    ng-class="{ 'open': vm.current.tileStates[play.name].showCustomMenu }">
                                <span class="fa fa-ellipsis-v" ng-class="{ 'fa-rotate-180': vm.current.tileStates[play.name].showCustomMenu }"></span>
                            </button>
                            <ul class="model-menu" ng-show="vm.current.tileStates[play.name].showCustomMenu">
                                <li data-ng-click="vm.editPlayClick($event, play)">
                                    <a href="javascript:void(0)">Rename</a>
                                    <i class="fa fa-edit"></i>
                                </li>
                                <li data-ng-click="vm.showDeletePlayModalClick($event, play)">
                                    <a href="javascript:void(0)">Delete</a>
                                    <i class="fa fa-trash"></i>
                                </li>
                            </ul>
                        </div>

                    </div><!-- End .tile-header -->
                    <div 
                        class="tile-metadata"
                        ng-if="!vm.tileStates[play.name].editPlay">
                        
                        <ul>
                            <li>Created by <span class="blue-text">{{play.createdBy}}</span> on <span class="blue-text">{{play.created | date}}</span></li>
                            <li>
                                Segment: 
                                <span ng-if="play.ratingEngine.segment != null" class="blue-text">{{play.ratingEngine.segment.display_name}}</span>
                                <span ng-if="play.ratingEngine.segment == null" class="gray-text">Segment not selected</span>
                            </li>
                            <li>
                                Last Data Refresh: 
                                <span class="gray-text" ng-if="!play.ratingEngine.lastRefreshedDate">No refresh data yet</span></span>
                                <span class="blue-text" ng-if="play.ratingEngine.lastRefreshedDate">{{play.ratingEngine.lastRefreshedDate | date}}</span></span>
                            </li>
                        </ul>

                    </div><!-- End .tile-metadata -->
                    <div class="tile-body" ng-if="!vm.current.tileStates[play.name].editPlay">

                        <div ng-if="play.launchHistory.mostRecentLaunch === null"><strong>This play was started but not finished.</strong> It can be launched after all steps are completed.</div>

                        <div ng-if="
                            play.launchHistory.playLaunch == null && 
                            play.segment != null && 
                            vm.current.tileStates[play.name].launching == false && play.launchHistory.mostRecentLaunch.launchState != 'Failed'">Play has been created and is ready for launch.</div>

                        <div ng-if="vm.current.tileStates[play.name].launching == true">Launching...</div>

                        <div ng-if="play.launchHistory.mostRecentLaunch.launchState === 'Failed'" class="error-text">Your most recent launch, has failed.</div>

                        <div ng-if="play.launchHistory.playLaunch != null && play.segment != null">
                            <h4>Account Ratings</h4>
                            <ul class="barChart ratings">
                               <li ng-repeat="rating in play.rating.bucketInformation">
                                    <div class="value">{{rating.bucketCount}}</div>
                                    <div class="rating-bar" ng-style="{ height: ((10 / rating.bucketCount) * 1000) }"></div>
                                    <div class="meta">{{rating.bucket}}</div>
                                </li> 
                            </ul>
                        </div>

                    </div><!-- End .tile-body -->
                    <div class="tile-footer">

                         <button 
                            type="button"
                            class="button blue-button pull-right"
                            ng-if="play.launchHistory.mostRecentLaunch === null"
                            ng-click="vm.continuePlaySetup($event)">
                            Continue
                        </button>
                        <!-- <button 
                            type="button"
                            class="button blue-button pull-right"
                            ng-if="!play.launchHistory.mostRecentLaunch && play.ratingEngine && !vm.tileStates[play.name].launching"
                            ng-disabled="vm.lockLaunching || play.ratingEngine.status != 'ACTIVE'"
                            ng-click="vm.launchPlay($event, play)">
                            Launch
                        </button> -->

                        <button
                            type="button"
                            class="button gray-button pull-right"
                            ng-if="vm.tileStates[play.name].launching">
                            <i class="fa fa-spinner fa-pulse fw"></i> 
                            Launching...</button>
                        <span ng-if="!vm.current.tileStates[play.name].launching">
                            <span 
                                class="launch-success pull-left"
                                ng-if="play.launchHistory.mostRecentLaunch.launchState === 'Launched'">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                Launched {{play.launchHistory.playLaunch.updated | date}}
                            </span>
                            <button 
                                type="button"
                                class="button blue-button pull-right"
                                ng-if="play.launchHistory.mostRecentLaunch.launchState === 'Launched' || play.launchHistory.mostRecentLaunch.launchState === 'Failed'"
                                ng-disabled="play.ratingEngine.status != 'ACTIVE'"
                                ng-click="vm.launchPlay($event, play)">
                                Re-Launch
                            </button>
                        </span>

                    </div><!-- End .tile-footer -->
                    <form
                        class="edit-form"
                        name="editPlayForm"
                        ng-if="vm.current.tileStates[play.name].editPlay"
                        ng-click="$event.stopPropagation()">
                        <div class="form-group">
                            
                            <label for="playDisplayName">Name
                            <input
                                autofocus
                                type="text"
                                id="display_name"
                                name="display_name"
                                data-ng-model="play.displayName"
                                ng-change="vm.nameChanged(play)"
                                maxlength="50"
                                ng-trim="false"
                                class="form-control" />
                            </label>
                            <span>{{50 - play.displayName.length}} characters remaining</span>
                        </div>
                        <div class="actions">

                            <button
                                type="button"
                                class="button white-button pull-left"
                                ng-click="vm.cancelEditPlayClicked($event, play)"
                                ng-disabled="vm.saveInProgress  ">
                                Cancel</button>
                            <button
                                type="button"
                                class="button blue-button pull-right"
                                ng-disabled="vm.current.tileStates[play.name].saveEnabled === false"
                                ng-click="vm.savePlayClicked($event, play)"
                                ng-if="!vm.saveInProgress">
                                Save</button>
                            <button
                                type="button"
                                class="button gray-button pull-right"
                                ng-disabled="vm.saveInProgress"
                                ng-if="vm.saveInProgress">
                                Saving...</button>

                        </div>
                    </form>

                </li>
                <li class="create-tile" ng-if="vm.current.plays.length < 12">
                    <a
                        class="button new-tile-button"
                        ui-sref="home.playbook.wizard">
                        <span>&#43;</span>
                        Create Play
                    </a>
                </li>

            </ul>
        </div>
    </div><!-- End .row -->
    <div class="row" ng-init="pagesize = 12; current = 1" ng-show="max > 1">
        <div class="twelve columns">
            <pd-pagination-controls current="current" max="max = (vm.header.filter.filtered.plays | filter: vm.query).length / pagesize">
            </pd-pagination-controls>
        </div>
    </div>

</section>