<div class="modal-dialog modal-sm" data-ng-controller="FieldMappingSettingsController">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{ResourceUtility.getString('FIELDS_ADVANCED_SETTINGS')}}</h4>
        </div>

        <div data-ng-show="saveInProgress">
            <div class="modal-body progress">
                <h2>{{ResourceUtility.getString('GENERAL_SAVING')}}</h2>
                <div class="meter">
                    <span class="indeterminate"></span>
                </div>
            </div>
        </div>

        <div data-ng-hide="saveInProgress">
            <div class="modal-body">
                <div class="row">
                    <label id="oneLeadPerDomainCheckbox"><input type="checkbox" id="cbox1" data-ng-model="oneLeadPerDomain" checked> Use One Lead Per Domain (recommended) </label>
                    <label id="useLatticeAttributesCheckbox"><input type="checkbox" id="cbox2" data-ng-model="useLatticeAttributes" checked> Use Lattice Data Cloud Attributes (recommended) </label>
                </div>
            </div>
        </div>

        <div data-ng-hide="saveInProgress">
            <div class="modal-footer">
                <button class="button blue-button" type="button" data-ng-click="cancelClicked()">{{ResourceUtility.getString('BUTTON_CANCEL_LABEL')}}</button>
                <button class="button orange-button" href="javascript:void(0)" ng-disabled="{{ saveClicked }}" data-ng-click="saveSettingsClicked($event)">{{ResourceUtility.getString('BUTTON_SAVE_LABEL')}}</button>
            </div>
        </div>
    </div>
</div>
