<section class="panel panel-base" data-ng-controller="ManageCredentialsController">
    <div class="panel-body main-panel-body"> 
        <div class="row">
            <div class="col-md-12">
                <h1>{{ResourceUtility.getString('MANAGE_CREDENTIALS_TITLE')}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>{{ResourceUtility.getString('MANAGE_CRM_CREDENTIALS_TITLE')}} <span class="fa fa-check-circle {{crmCredentialsCompleteClass}}"></span></h2>
                <p>{{ResourceUtility.getString('MANAGE_CRM_CREDENTIALS_MESSAGE')}}</p>
                <button class="btn btn-primary" 
                        type="button" 
                        data-dismiss="modal" 
                        data-toggle="modal"
                        data-ng-click="enterCrmCredentialsClicked()">{{ResourceUtility.getString('MANAGE_CRM_CREDENTIALS_BUTTON')}}</button>
            </div>
            <div class="col-md-6">
                <h2>{{ResourceUtility.getString('MANAGE_MAP_CREDENTIALS_TITLE')}} <span class="fa fa-check-circle {{mapCredentialsCompleteClass}}"></span></h2>
                <p>{{ResourceUtility.getString('MANAGE_MAP_CREDENTIALS_MESSAGE')}}</p>
                <button class="btn btn-primary" 
                        type="button" 
                        data-dismiss="modal"
                        data-toggle="modal"
                        data-ng-click="enterMapCredentialsClicked()">{{ResourceUtility.getString('MANAGE_MAP_CREDENTIALS_BUTTON')}}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="assets/images/illustration-ru-topper.jpg" style="margin:0px auto;display:block;max-height:300px;max-width:100%;">
            </div>
        </div>
    </div>
</section>