.expanded-group {
    background: url("../images/minimizeDown.png") no-repeat scroll left center transparent;
    padding-left: 15px !important;
}

.collapsed-group {
    background: url('../images/minimizeRight.png') no-repeat scroll left center transparent;
    padding-left: 15px !important;
}

.group-format {
    font-weight:        bold;
    font-size:          14px;
    color:              black;
    margin-top:         20px;
    margin-bottom:      20px;
}