<%== $.View('assets/CommonAssets/views/renderers/BaseRenderer.ejs',{itemValue: data, renderType: RenderWorker.DATETIMEOFFSET_RENDERER}) %>
<span><%= dateTime != null ? dateTime : ResourceUtil.getString('DATE_NOT_AVAILABLE')%></span>