@import "../../../../common/widgets/layout/layout.scss";
@import "../../../../common/widgets/colors.scss";
.le-summary-container {
  min-height: 217px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  width: 100%;
  // max-height: 180px;
  background-image: url(/assets/images/bkg-blue-fire.jpg);
  color: $pearl-white;

  & > p, span {
    color: $pearl-white;
    padding: 0 2.12766%;
  }
  &> .title{
      font-size: 20px;
      margin-top: 1.2em;
  }
}
