<section class="container delete-container setup-import">
  <ng-form name="delete_form" novalidate>

  <div class="row">
    <le-modal-window config="$ctrl.modalConfig" callback-function="$ctrl.modalCallback(args)">
        <br />
        <p>
            Are you sure you want to Delete these data? Once the delete job is submitted, it can’t be undone.
        </p>
        <br />
    </le-modal-window>
    <div class="warning-message" data-ng-show="$ctrl.showWarningMsg">
        <i data-ng-click="$ctrl.showWarningMsg = false;" class="fa fa-times fa-inverse close"></i>
        <div> Delete Operation </div>
        <span>{{$ctrl.deleteWarningMsg}}</span>
    </div>
    <div class="success-message" data-ng-show="$ctrl.showSuccessMsg">
        <i data-ng-click="$ctrl.showSuccessMsg = false;" class="fa fa-times fa-inverse close"></i>
        <div> Success! Delete Action has been submitted. </div>
        <span> The delete action will be scheduled to process and analyze after validation. You can track the status from the 
              <a ui-sref="home.jobs.data">
                Data Processing Job page.
              </a>
        </span>
    </div>
    <div class="columns eight offset-two box-outline">
      <div class="section-header">
        <h4>Delete Data</h4>
      </div>
      <hr />
      <div class="section-body with-padding" >
        <div class="button-tabs">
<!--           <div class="button account {{ $ctrl.currentTab == 'account' ? 'blue' : 'white' }}-button" ng-click="$ctrl.changeEntityType('Account', 'account');">
            <span>Accounts</span>
            <span>{{$ctrl.counts.accounts}}</span>
          </div>
          <div class="button contact {{ $ctrl.currentTab == 'contact' ? 'blue' : 'white' }}-button" ng-click="$ctrl.changeEntityType('Contact', 'contact');">
            <span>Contacts</span>
            <span>{{$ctrl.counts.contacts}}</span>
          </div>
          <div class="button purchases {{ $ctrl.currentTab == 'transaction' ? 'blue' : 'white' }}-button" ng-click="$ctrl.changeEntityType('Transaction', 'transaction');">
            <span>Transactions</span>
          </div> -->
          <div class="button {{ $ctrl.currentTab == 'account' ? 'blue' : 'white' }}-button" ng-click="$ctrl.changeEntityType('Account', 'account');">
            <span>Accounts</span>
            <img src="{{$ctrl.getEntityImage('account')}}"/>
            <span>{{$ctrl.counts.accounts}}</span>
          </div>
          <div class="button {{ $ctrl.currentTab == 'contact' ? 'blue' : 'white' }}-button" ng-click="$ctrl.changeEntityType('Contact', 'contact');">
            <span>Contacts</span>
            <img src="{{$ctrl.getEntityImage('contact')}}"/>
            <span>{{$ctrl.counts.contacts}}</span>
          </div>
          <div class="button {{ $ctrl.currentTab == 'transaction' ? 'blue' : 'white' }}-button" ng-click="$ctrl.changeEntityType('Transaction', 'transaction');">
            <span>Transactions</span>
            <img src="{{$ctrl.getEntityImage('transaction', 'purchase')}}"/>
            <span>0</span>
          </div>
        </div>

        <div ng-if="$ctrl.counts[$ctrl.currentTab + 's'] == 0" style="text-align: center; padding-bottom: 20px;">
              There is no {{$ctrl.currentTab}} data in the system.
        </div>

        <div ng-if="($ctrl.currentTab == 'account' || $ctrl.currentTab == 'contact') && $ctrl.counts[$ctrl.currentTab + 's'] > 0" class="options-text" >
              <ul class="checkbox-list">
                <li>
                  <!-- <label> -->
                    <input  type="radio"
                            data-ng-checked="$ctrl.cleanupOperationType[$ctrl.currentTab] == 'BYUPLOAD_ID'"
                            ng-click="$ctrl.setCleanupType('BYUPLOAD_ID', 'DeleteAccountTemplate')" />
                       <!--      Upload a single csv file with {{$ctrl.currentTab == 'account' ? 'Account' : 'Contact'}} IDs
                  </label> -->
                      <div 
                        ng-if="$ctrl.currentTab == 'account' "
                        file-uploader-container
                        params="$ctrl.params['BYUPLOAD_ID']"
                        label="{{$ctrl.params['BYUPLOAD_ID'].accountLabel}}"
                        info-template="$ctrl.params['BYUPLOAD_ID'].accountInfoTemplate"
                        input-name="csvFileName"
                        file-select="$ctrl.fileSelect(fileName)"
                        file-load="$ctrl.fileLoad(headers)"
                        file-done="$ctrl.fileDone(result)"
                        file-cancel="$ctrl.fileCancel()"
                        class="form-group file-upload file-upload-with-padding" 
                        ng-class="{ 'has-error' : delete_form.csvFileName.$invalid && !delete_form.modelDisplayName.$pristine && $ctrl.cleanupOperationType[$ctrl.currentTab] == 'BYUPLOAD_ID' }"
                        ng-click="$ctrl.setCleanupType('BYUPLOAD_ID')"
                        >
                    </div>
                      <div 
                        ng-if="$ctrl.currentTab == 'contact' "
                        file-uploader-container
                        params="$ctrl.params['BYUPLOAD_ID']"
                        label="{{$ctrl.params['BYUPLOAD_ID'].contactLabel}}"
                        info-template="$ctrl.params['BYUPLOAD_ID'].contactInfoTemplate"
                        input-name="csvFileName"
                        file-select="$ctrl.fileSelect(fileName)"
                        file-load="$ctrl.fileLoad(headers)"
                        file-done="$ctrl.fileDone(result)"
                        file-cancel="$ctrl.fileCancel()"
                        class="form-group file-upload file-upload-with-padding" 
                        ng-class="{ 'has-error' : delete_form.csvFileName.$invalid && !delete_form.modelDisplayName.$pristine && $ctrl.cleanupOperationType[$ctrl.currentTab] == 'BYUPLOAD_ID' }"
                        ng-click="$ctrl.setCleanupType('BYUPLOAD_ID')"
                        >
                    </div>

                </li>
                <li>
                  <label>
                    <input  type="radio"
                            name="name"
                            data-ng-checked="$ctrl.cleanupOperationType[$ctrl.currentTab] == 'ALLDATA'"
                            ng-click="$ctrl.setCleanupType('ALLDATA')"/>
                    All {{$ctrl.currentTab == 'account' ? 'Accounts' : 'Contacts'}}</label>
                </li>
              </ul>
        </div>
        <div ng-if="$ctrl.currentTab == 'transaction' " class="options-text"> 
                <ul>
                  <li>
                      <label>
                        <input  type="radio" 
                                data-ng-checked="$ctrl.cleanupOperationType[$ctrl.currentTab] == 'BYDATERANGE'"
                                ng-click="$ctrl.setCleanupType('BYDATERANGE')" />
                        Select start and end date </label>
                      <date-range-directive   
                                              config="{{$ctrl.getPeriodTimeConfString()}}"
                                              vm="$ctrl" 
                                              showfrom="$ctrl.showFromTime"
                                              showto="$ctrl.showToTime"
                                              form="delete_form"
                                              type="TimeSeries" 
                                              bucketrestriction="$ctrl.bucketRestriction"
                                              showinline="{{true}}"
                                              tolabel="To"
                                              fromlabel="Date Range: From "
                                              changed="$ctrl.callbackChangedValue(type, position, value)"
                                              startplaceholder="Start Date"
                                              endplaceholder="End Date"
                                              hidepristineerror="true"
                                              ng-click="$ctrl.setCleanupType('BYDATERANGE')"
                                              >
                      </date-range-directive>
                  </li>
                  <li>
                    <!-- <label> -->
                      <input  type="radio" 
                              data-ng-checked="$ctrl.cleanupOperationType[$ctrl.currentTab] == 'BYUPLOAD_MINDATEANDACCOUNT'"
                              ng-click="$ctrl.setCleanupType('BYUPLOAD_MINDATEANDACCOUNT')" />
                      <!-- Upload a single csv file with Account IDs and Transaction Start Dates</label> -->
                        <div 
                          file-uploader-container
                          label="Upload a single csv file with Account IDs and Transaction Start Dates"
                          params="$ctrl.params['BYUPLOAD_MINDATEANDACCOUNT']"
                          input-name="csvFileName"
                          info-template="$ctrl.params['BYUPLOAD_MINDATEANDACCOUNT'].infoTemplate"
                          file-select="$ctrl.fileSelect(fileName)"
                          file-load="$ctrl.fileLoad(headers)"
                          file-done="$ctrl.fileDone(result)"
                          file-cancel="$ctrl.fileCancel()"
                          class="form-group file-upload file-upload-with-padding" 
                          ng-class="{ 'has-error' : delete_form.csvFileName.$invalid && !delete_form.csvFileName.$touched && $ctrl.cleanupOperationType[$ctrl.currentTab] == 'BYUPLOAD_MINDATEANDACCOUNT' &&  $ctrl.uploadedFiles[$ctrl.currentTab]['BYUPLOAD_MINDATEANDACCOUNT'] == ''}"
                          ng-click="$ctrl.setCleanupType('BYUPLOAD_MINDATEANDACCOUNT')"
                          >
                      </div>
                  </li>
                  <li>
                    <!-- <label> -->
                      <input  type="radio" 
                              data-ng-checked="$ctrl.cleanupOperationType[$ctrl.currentTab] == 'BYUPLOAD_ACPD_1'"
                              ng-click="$ctrl.setCleanupType('BYUPLOAD_ACPD_1')" style="position: relative;"/>
                      <!-- Upload a single csv file with Account IDs, Product, and Transaction Start Dates</label> -->
                        <div 
                          file-uploader-container
                          label="Upload a single csv file with Account IDs, Product, and Transaction Start Dates"
                          params="$ctrl.params['BYUPLOAD_ACPD_1']"
                          info-template="$ctrl.params['BYUPLOAD_ACPD_1'].infoTemplate"
                          input-name="csvFileName"
                          file-select="$ctrl.fileSelect(fileName)"
                          file-load="$ctrl.fileLoad(headers)"
                          file-done="$ctrl.fileDone(result)"
                          file-cancel="$ctrl.fileCancel()"
                          class="form-group file-upload file-upload-with-padding" 
                          ng-class="{ 'has-error' : delete_form.csvFileName.$invalid && !delete_form.modelDisplayName.$touched && $ctrl.cleanupOperationType[$ctrl.currentTab] == 'BYUPLOAD_ACPD_1' }"
                          ng-click="$ctrl.setCleanupType('BYUPLOAD_ACPD_1')"

                          >
                      </div>
                  </li>
                  <li>
                    <!-- <label> -->
                      <input  type="radio" 
                              data-ng-checked="$ctrl.cleanupOperationType[$ctrl.currentTab] == 'BYUPLOAD_ACPD_2'"
                              ng-click="$ctrl.setCleanupType('BYUPLOAD_ACPD_2')" />
                      <!-- Upload a single csv file with Account IDs, Products, Contact IDs, and Transaction Start Dates</label> -->
                        <div 
                          file-uploader-container
                          label="Upload a single csv file with Account IDs, Products, Contact IDs, and Transaction Start Dates"
                          params="$ctrl.params['BYUPLOAD_ACPD_2']"
                          info-template="$ctrl.params['BYUPLOAD_ACPD_2'].infoTemplate"
                          input-name="csvFileName"
                          file-select="$ctrl.fileSelect(fileName)"
                          file-load="$ctrl.fileLoad(headers)"
                          file-done="$ctrl.fileDone(result)"
                          file-cancel="$ctrl.fileCancel()"
                          class="form-group file-upload file-upload-with-padding" 
                          ng-class="{ 'has-error' : delete_form.csvFileName.$invalid && !delete_form.modelDisplayName.$pristine && $ctrl.cleanupOperationType[$ctrl.currentTab] == 'BYUPLOAD_ACPD_2' }"
                          ng-click="$ctrl.setCleanupType('BYUPLOAD_ACPD_2')"
                          >
                      </div>
                  </li>
                <li>
                  <label>
                    <input  type="radio" 
                            data-ng-checked="$ctrl.cleanupOperationType[$ctrl.currentTab] == 'ALLDATA'"
                            ng-click="$ctrl.setCleanupType('ALLDATA')" />
                    All Transactions </label>
                </li>
              </ul>
          </div>
      </div>
      <hr />
      <div class="container section-actions row form-actions">
        <div class="pull-left">
            <button 
                type="button" 
                class="button white-button block-button"
                ui-sref="home.segment.explorer.attributes({segment:'Create'})">
              Cancel
            </button>
        </div>

        <div class="pull-right">
            <button 
                type="button" 
                class="button blue-button"
                ng-disabled="$ctrl.disableSubmit()"
                ng-click="$ctrl.click()">
              Delete
            </button>
        </div>
      </div>
    </div>
  </div>

  </ng-form>

</section>