<section class="container" ng-controller="LoginCtrl">
    <h1 class="text-center login-title logo-title">Lattice Engines Tenant Console</h1>
    <div class="well login-form">
        <h2><img src="assets/img/logo_login.png" alt="Lattice"></h2>
        <label class="control-label">Username</label>
        <input type="text" class="form-control" placeholder="Username"/>
        <label class="control-label">Password</label>
        <input type="password" class="form-control" placeholder="Password"/>
        <div class="button-row">
            <button class="btn btn-primary" ng-click="onLoginClick()">Log In</button>
        </div>
    </div>
</section>