<section class="container" ng-controller="LoginCtrl">
    <div ng-show="showLoginForm">
        <h1 class="text-center login-title logo-title">Lattice Engines Tenant Console</h1>
        <div class="well login-form">
            <h2><img src="assets/img/logo_login.png" alt="Lattice"></h2>
            <label class="control-label">Username</label>
            <input type="text"
                   class="form-control"
                   ng-model="Username"
                   placeholder="Username"
                   data-ng-enter="onLoginClick()" />
            <label class="control-label">Password</label>
            <input type="password"
                   class="form-control"
                   ng-model="Password"
                   placeholder="Password"
                   data-ng-enter="onLoginClick()" />
            <p ng-if="showLoginError" class="alert alert-danger">{{ loginErrorMsg }}</p>
            <div class="button-row">
                <button class="btn btn-primary" ng-click="onLoginClick()" ng-disabled="loginInProgress">
                    <i class="fa fa-spinner fa-pulse" ng-show="loginInProgress"></i>
                    Log In
                </button>
            </div>
        </div>
    </div>
</section>