<!-- In time frame (Txn)-->
<div class="transaction-container">
    <div class="query-section-item-operation transaction-row">
        <div class="transaction-element-title">in timeframe</div>
        <div class="transaction-element">
            <select ng-model="vm.timeCmp" ng-change="vm.changeTimeCmp()">
                <option ng-repeat="(key, value) in vm.cmpsList" value="{{value.name}}">{{value.displayName}}</option>
            </select>
        </div>

        <!--  -->
        <div class="transaction-element">
            <input type="number" ng-if="vm.showQtyTimeframeFrom()" min="1">
            <span ng-if="vm.showQtyTimeframeFrom() && vm.showQtyTimeframeTo()"> - </span>
            <input type="number" ng-if="vm.showQtyTimeframeTo()" min="1">
            <select ng-if="vm.showTimeframePeriod()" ng-model="vm.timeframePeriod" ng-change="vm.changeTimeFramePeriod()">
                <option ng-repeat="(key, value) in vm.periodList" value="{{value.name}}">{{value.displayName}}</option>
            </select>
        </div>

        <!--  -->
        <div class="query-section-item-operation">
            <input type="text" id="{{vm.getFromId()}}" ng-if="vm.showTimeFrom()">
            <span ng-if="vm.showFrom() && vm.showTo()"> - </span>
            <input type="text" id="{{vm.getToId()}}" ng-if="vm.showTimeTo()">
        </div>
    </div>

    <!-- Units purchased  (Qty)-->
    <div class="query-section-item-operation transaction-row">
        <div class="transaction-element-title">units purchased</div>
        <div class="transaction-element">
            <select ng-model="vm.unitPurchasedCmp" ng-change="vm.changeCmp(vm.unitPurchasedCmp, 'Qty')">
                <option ng-repeat="row in vm.unitPurchasedCmpChoises" value="{{row.name}}">{{row.displayName}}</option>
            </select>
        </div>
        <numerical-range-directive class="transaction-element" 
                                    ng-if="vm.showFromUnit || vm.showToUnit" 
                                    config ="{{vm.getQtyConfigString()}}"
                                    showfrom="vm.showFromUnit"
                                    showto="vm.showToUnit"
                                    vm="vm" 
                                    type="{{vm.type}}" 
                                    bucketrestriction="vm.bucketrestriction"
                                    changed="vm.callbackChangedValue(type, position, value)">
        </numerical-range-directive>
    </div>

    <!-- Amount Spent (Amt)-->
    <div class="query-section-item-operation transaction-row">
        <div class="transaction-element-title">amount spent</div>
        <div class="transaction-element">
            <select ng-model="vm.amtCmp" ng-change="vm.changeCmp(vm.amtCmp, 'Amt')">
                <option ng-repeat="row in vm.amountSpentCmpChoises" value="{{row.name}}">{{row.displayName}}</option>
            </select>
        </div>
        <numerical-range-directive class="transaction-element" 
                                    ng-if="vm.showFromAmt || vm.showToAmt" 
                                    config ="{{vm.getAmtConfigString()}}"
                                    showfrom="vm.showFromAmt"
                                    showto="vm.showToAmt"
                                    vm="vm" 
                                    type="{{vm.type}}" 
                                    bucketrestriction="vm.bucketrestriction"
                                    changed="vm.callbackChangedValue(type, position, value)"
                                    fromlabel="$"
                                    tolabel="$">
        </numerical-range-directive>
    </div>
</div>