<!-- In time frame (Txn)-->
<span class="query-section-item-value">
    <span>in timeframe</span>
    <!-- <strong>{{vm.getOperationValue('Date')}}</strong> -->
</span>

<!-- Unit Purchased (Qty)-->
<span class="query-section-item-value">
    <span>units purchased</span>
    <!-- <strong>{{vm.getOperationValue('Date')}}</strong> -->
</span>

<!-- Amount Spent (Amt)-->
<span class="query-section-item-value">
    <span>amount spent</span>
    <!-- <strong>{{vm.getOperationValue('Date')}}</strong> -->
</span>
