$columns-gap: 8px;
$header-height: 50px;
$row-height: 25px;
$max-span: 12;
$cell-padding:8px;
$font-size:12px;

div.transaction-container {

    margin-left: 87px;
    margin-top: -22px;
    margin-bottom: 0px;
    .transaction-row {
        display: flex;
        justify-content: flex-start;

        .transaction-element-title{
            min-width: 100px;
            font-weight: bold;
        }
       .transaction-element{
           padding: 3px 0 3px 0;
           select{
               min-width: 120px;
           }
       }
    }
}