    <!-- In time frame (Txn)-->
    <span class="query-section-item-value">
        <span>in timeframe</span>
        <strong>{{vm.getCmp('Time')}} {{vm.getValues('Time')}}</strong>&nbsp;
        <strong ng-if="vm.getCmp('Time') != 'ever'">{{vm.getPeriod()}}</strong>
    </span>

    <!-- Unit Purchased (Qty)-->
    <span class="query-section-item-value" ng-if="vm.showSubTypeSelection('Qty')">
        <span>units purchased</span>
        <strong>{{vm.getCmp('Qty')}} {{vm.getValues('Qty')}}</strong>
    </span>

    <!-- Amount Spent (Amt)-->
    <span class="query-section-item-value" ng-if="vm.showSubTypeSelection('Amt')">
        <span>amount spent</span>
        <strong>{{vm.getCmp('Amt')}} <span ng-if="vm.showLabel('Amt')"> $ </span> {{vm.getValues('Amt')}}</strong>
    </span>