<!-- In time frame (Txn)-->
<div class="transaction-container">
    <div class="query-section-item-operation transaction-row">
        
        <div class="transaction-element">
            <div class="flex-container">
                <div class="flex-container time-frame">
                    <div class="transaction-element-title">in timeframe</div>
                
                    <select ng-model="vm.timeCmp" ng-change="vm.changeCmp(vm.timeCmp, 'Time')" class="time-frame-select">
                        <option ng-repeat="(key, value) in vm.cmpsList" value="{{value.name}}">{{value.displayName}}</option>
                    </select>
                </div>
                 <!-- Date picker -->
                <date-range-directive   ng-if="vm.showTimeFrame"
                    config="vm.getPeriodTimeConfString()"
                    vm="vm" 
                    showfrom="vm.showFromTime"
                    showto="vm.showToTime"
                    form="vm.form"
                    type="{{vm.type}}" 
                    bucketrestriction="vm.bucketrestriction"
                    changed="vm.callbackChangedValue(type, position, value)">

                </date-range-directive>
                <!--  -->
            </div>
        </div>

        <!--  -->
        <div class="transaction-element" ng-if="(vm.showFromPeriod || vm.showToPeriod) && vm.showTimeframePeriod()">

            <numerical-range-directive  
                                    ng-if="vm.showFromPeriod || vm.showToPeriod" 
                                    config="{{vm.getPeriodNumericalConfString()}}"
                                    showmessage="false"
                                    showfrom="vm.showFromPeriod"
                                    showto="vm.showToPeriod"
                                    vm="vm" 
                                    form="vm.form"
                                    type="{{vm.type}}" 
                                    bucketrestriction="vm.bucketrestriction"
                                    changed="vm.callbackChangedValue(type, position, value)">
            </numerical-range-directive>
        </div>
        <div class="transaction-element" ng-if="vm.showTimeframePeriod()">
            <select ng-model="vm.timeframePeriod" ng-change="vm.changeTimeFramePeriod()">
                <option ng-repeat="(key, value) in vm.periodList" value="{{value.name}}">{{value.displayName}}</option>
            </select>
            <span class="error-message error-date" ng-if="!vm.isPeriodRangeValid()">{{vm.getErrorMsg()}}</span>
        </div>

       
    </div>

    <!-- Units purchased  (Qty)-->
    <div class="query-section-item-operation transaction-row" ng-if="vm.showSubTypeSelection('Qty')">
        <div class="transaction-element-title">units purchased</div>
        <div class="transaction-element">
            <select ng-model="vm.unitPurchasedCmp" ng-change="vm.changeCmp(vm.unitPurchasedCmp, 'Qty')">
                <option ng-repeat="row in vm.unitPurchasedCmpChoises" value="{{row.name}}">{{row.displayName}}</option>
            </select>
        </div>
        <numerical-range-directive class="transaction-element" 
                                    ng-if="vm.showFromUnit || vm.showToUnit" 
                                    config ="{{vm.getQtyConfigString()}}"
                                    showfrom="vm.showFromUnit"
                                    showto="vm.showToUnit"
                                    vm="vm" 
                                    form="vm.form"
                                    type="{{vm.type}}" 
                                    bucketrestriction="vm.bucketrestriction"
                                    changed="vm.callbackChangedValue(type, position, value)">
        </numerical-range-directive>
    </div>

    <!-- Amount Spent (Amt)-->
    <div class="query-section-item-operation transaction-row" ng-if="vm.showSubTypeSelection('Amt')">
        <div class="transaction-element-title">amount spent</div>
        <div class="transaction-element">
            <select ng-model="vm.amtCmp" ng-change="vm.changeCmp(vm.amtCmp, 'Amt')">
                <option ng-repeat="row in vm.amountSpentCmpChoises" value="{{row.name}}">{{row.displayName}}</option>
            </select>
        </div>
        <numerical-range-directive class="transaction-element" 
                                    ng-if="vm.showFromAmt || vm.showToAmt" 
                                    config ="{{vm.getAmtConfigString()}}"
                                    showfrom="vm.showFromAmt"
                                    showto="vm.showToAmt" 
                                    vm="vm" 
                                    form="vm.form"
                                    type="{{vm.type}}" 
                                    bucketrestriction="vm.bucketrestriction"
                                    changed="vm.callbackChangedValue(type, position, value)"
                                    fromlabel="$"
                                    tolabel="$">
        </numerical-range-directive>
    </div>
</div>