$columns-gap: 8px;
$header-height: 50px;
$row-height: 25px;
$max-span: 12;
$cell-padding:8px;
$font-size:12px;

div.transaction-container {

    margin-left: 87px;
    margin-top: -22px;
    margin-bottom: 0px;
    .transaction-row {
        display: flex;
        justify-content: flex-start;

        .transaction-element-title{
            min-width: 100px;
            font-weight: bold;
        }
       .transaction-element{
           padding: 3px 0 3px 0;
           select{
               min-width: 120px;
           }
       }
    }
}

div.transaction-info-container{
    margin-left: 140px;
    margin-top: -18px;
    margin-bottom: 0px;
}
input[type=number]{
    border-width: 1px;
    max-width: 80px;
    border-color: rgba(204, 204, 204, 0.747);
}

input[type=number].invalid-field{
    border-left-width: 5px;
    border-left-color: red; 
    border-top-width: 1px;
    border-top-color: #ccc;
    padding-left: 3px;
}