@import "./header/header.component.scss";
@import "./subheader/subheader.component.scss";
@import "./controls/controls.component.scss";
@import "./filters/filters.component.scss";
@import "./categories/categories.component.scss";
@import "./list/list.component.scss";
@import "./activate/activate.component.scss";
@import "./enable/enable.component.scss";
@import "./edit/edit.component.scss";

.attr-list {
    margin-top: 1.5em;
    
    @mixin box-shadow($r,$g,$b) {
        box-shadow: 0px 0px 11px 2px rgba($r,$g,$b,0.33);
    }

    li.attr-back-text,
    li.attr-text {
        position: relative;
        top: 0.1em;
        font-size: 16px;
        margin-right: .75em;
    }

    li.attr-back-text {
        font-size: 15px;
        
        span {
            padding-right: .75em;
            margin-right: .75em;
            cursor: pointer;
            border-right: 1px solid #222;
            margin-left: -.35em;

            &:hover {
                text-decoration: underline;
            }
            
            i.fa-arrow-left {
                margin-top: 0.45em;
                margin-left: 0.5em;
                margin-right: 0.5em;
                font-size: .9em;
                vertical-align: top;
            }
        }
    }
}