<p>Please provide a CSV file containing one row for each account, a unique identifier, and one column for each engagement event. <a href="">Please refer to the online documentation for detailed instructions.</a></p>

<a href="assets/downloads/account-example.csv" target="_self" class="download-link"><i class="fa fa-download"></i> Download a sample CSV file that has all of the required fields.</a>

<p>Example CSV File:</p>
<div class="table example-table">
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Account Name</th>
				<th>Website</th>
				<th>Phone Calls</th>
				<th>Meeting</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>123456789</td>
				<td>AnyContact</td>
				<td>AnyValue.com</td>
				<td>1234</td>
				<td>432</td>
			</tr>
			<tr>
				<td>123456789</td>
				<td>AnyContact</td>
				<td>AnyValue.com</td>
				<td>1234</td>
				<td>646</td>
			</tr>
			<tr>
				<td>123456789</td>
				<td>AnyContact</td>
				<td>AnyValue.com</td>
				<td>1234</td>
				<td>575</td>
			</tr>
		</tbody>
	</table>
</div>