// START: Pie Chart Styles

.pie-chart-title
{
    text-align:         center;
}

.arc path 
{
    stroke:             #ffffff;
}
// END: Pie Chart Styles

// START: Arc Chart Styles
.arc-chart-value
{
    text-anchor:        middle;
    font-size:          36px;
    font-weight:        bold;
}

.arc-chart-label
{
    text-anchor:        middle;
    color:              #ff0000;
}
// END: Arc Chart Styles
