<p>Please provide a csv file containing one row for each transaction and one column for each the required fields.</p>

<a href="assets/downloads/account-example.csv" target="_self" class="download-link"><i class="fa fa-download"></i> Download a sample CSV file that has all of the required fields.</a>

<p>Please use the same data structure:</p>
<div class="table example-table">
    <table>
        <thead>
            <tr>
                <th>Transaction_ID</th>
                <th>Product_ID</th>
                <th>Account_ID</th>
                <th>Contact_ID</th>
                <th>Amount</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>002</td>
                <td>003</td>
                <td>004</td>
                <td>$34,023</td>
                <td>3</td>
                <td>$12,560</td>
                <td>01/01/2016</td>
            </tr>
        </tbody>
    </table>
</div>