<section class="mq-dashboard">
  <p ng-if="message" class="alert alert-info">{{message}}</p>
  <div ng-repeat="query in chartDataPromiseQueries">
    <model-quality-group-bar-chart ng-if="query.type==='SelectedPipelines'" promise="query.promise" chart-title="query.title" class="chart-container chart-item"></model-quality-group-bar-chart>
    <model-quality-line-chart ng-if="query.type==='Production'" promise="query.promise" chart-title="query.title" class="chart-container chart-item"></model-quality-line-chart>
  </div>
</section>
