<section class="container setup-import">
    <form name="AccountLookupForm" novalidate>
        <div class="row">
            <div class="columns eight offset-two box-outline">
                <div class="section-header">
                    <h4>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_HEADER') }}</h4>
                    <!--h5>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_SUBHEADER') }}</h5-->
                </div>

                <hr />

                <div class="section-body with-padding">
                    <div class="form-group" ng-if="vm.EnableFuzzyMatch">
                        <div class="toggle-check">
                            <label>
                                <input 
                                    type="checkbox"
                                    name="enforceFuzzyMatch"
                                    ng-checked="vm.params.enforceFuzzyMatch"
                                    ng-model="vm.params.enforceFuzzyMatch" />
                                {{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_FUZZY') }}
                                <span class="more-info">&#105;
                                    <div class="tooltip_">
                                        <div class="cover">
                                            <h5>
                                                Fuzzy Match
                                            </h5>
                                            <p>
                                                Fuzzy matching is a process that locates accounts that are likely to be relevant even if the information provided isn't exact.
                                            </p>
                                        </div>
                                    </div>
                                </span>
                            </label>
                        </div>          
                    </div>
                    
                    <div class="form-group">
                        <label>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_WEBSITE') }}</label>
                        <input 
                            type="text" 
                            class="form-control required" 
                            name="Website"
                            ng-model="vm.request.record.Domain"
                            ng-change="vm.request.record.Website = vm.request.record.Domain"
                            placeholder="Ex: www.domain.com" />
                    </div>

                    <!--div class="row">
                        <div class="columns six form-group">
                            <label>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_DUNSNUMBER') }}</label>
                            <input 
                                type="text" 
                                class="form-control required" 
                                name="DUNS"
                                ng-model="vm.request.record.DUNS"
                                placeholder="" />
                        </div>
                        
                        <div class="columns six offset-six form-group align-right">
                            <label>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_LATTICEID') }}</label>
                            <input 
                                type="text" 
                                class="form-control required" 
                                name="Id"
                                ng-model="vm.request.record.Id"
                                placeholder="" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_EMAIL') }}</label>
                        <input 
                            type="text" 
                            class="form-control required" 
                            name="Email"
                            ng-model="vm.request.record.Email"
                            placeholder="Ex: anything@domain.com" />
                    </div-->
                    
                    <div class="form-group">
                        <label>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_COMPANYNAME') }}</label>
                        <input 
                            type="text" 
                            class="form-control required"
                            ng-class="{'lookup-required': vm.requiredMissingField.CompanyName}"
                            name="CompanyName"
                            ng-model="vm.request.record.CompanyName"
                            placeholder="" />
                    </div>
                    
                    <div class="form-group">
                        <label>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_CITY') }}</label>
                        <input 
                            type="text"
                            class="form-control"
                            ng-class="{'lookup-required': vm.requiredMissingField.City}"
                            name="City"
                            ng-model="vm.request.record.City"
                            placeholder="" />
                    </div>

                    <div class="row">
                        <div class="columns six form-group">
                            <label>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_STATE') }}</label>
                            <input 
                                type="text" 
                                class="form-control"
                                ng-class="{'lookup-required': vm.requiredMissingField.State}"
                                name="State"
                                ng-model="vm.request.record.State"
                                placeholder="" />
                        </div>
                        
                        <div class="columns six offset-six form-group align-right">
                            <label>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_ZIP') }}</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                name="Zip"
                                ng-model="vm.request.record.Zip"
                                placeholder="Ex: 12345" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="columns six form-group">
                            <label>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_COUNTRY') }}</label>
                            <input 
                                type="text"
                                class="form-control"
                                ng-class="{'lookup-required': vm.requiredMissingField.Country}"
                                name="Country"
                                ng-model="vm.request.record.Country"
                                placeholder="" />
                        </div>
                        
                        <div class="columns six offset-six form-group align-right">
                            <label>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_PHONE') }}</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                name="PhoneNumber"
                                ng-model="vm.request.record.PhoneNumber"
                                placeholder="Ex: 999-555-1234" />
                        </div>
                    </div>
                </div>

                <!--hr />

                <div class="section-body with-padding">
                    <div class="form-group">
                        <label>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_MODELSELECT') }}
                                <span class="more-info">&#105;
                                    <div class="tooltip_">
                                        <div class="cover">
                                            <h5>
                                                Select a Model
                                            </h5>
                                            <p>
                                                Select a model to have the account scored (optional).  You can still see all of the attributes associated with the account even if a model is not selected.
                                            </p>
                                        </div>
                                    </div>
                                </span>
                        </label>
                        <select name="modelId"
                                class="form-control"
                                ng-model="vm.request.modelId">
                            <option value=""></option>
                            <option value="{{ model.Id }}"
                                    ng-repeat="model in vm.models"
                                    ng-if="model.Status == 'Active'">
                                {{ model.DisplayName }}
                            </option>
                        </select>
                    </div>
                </div-->

                <hr />
                
                <div class="section-actions container row form-actions">
                    <div class="pull-left">
                        <button 
                            type="button" 
                            class="button white-button block-button"
                            ui-sref="home.data-cloud">
                          {{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_CANCEL') }}</button>
                    </div>
                    <div class="pull-right">
                        <button 
                            type="button" 
                            ng-click="vm.next()"
                            class="button blue-button block-button">
                          {{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_NEXT') }}
                        </button>
                    </div>
                </div>
            </div><!-- End .six.columns -->
        </div><!-- End .container.row -->
    </form>
</section>
