<ul class="import-wizard-progress">
    <li     ng-repeat="item in vm.items"
            ng-if="!item.hide"
            ng-click="vm.click(item.state, $event)"
            ui-sref="home.{{ vm.context }}{{vm.wizard}}{{ item.state }}" 
            ui-sref-active="previous" 
            ui-sref-active-eq="current">
        {{ item.label }}
        <span class="import-wizard-progress-validation" ng-class="{'invalid': item.invalid }">
            <i class="fa fa-warning"></i> Step Incomplete
        </span>
    </li>
</ul>