<div class="import-accountid container file-import-content">
    <p>Please provide unique identifier attribute Lattice platform should use to de-duplicate your account records.  The data provided in this file will override the existing data.</p>
    <form name="form">
        <div class="id-options">
            <div class="id-options-item">
                <div>
                    <label for="dedupeField">Unique Identifier</label>
                    <select 
                        class="form-control"
                        ng-model="vm.fieldMapping.account"
                        ng-init="vm.checkValidDelay(form)"
                        ng-change="vm.changeLatticeField(vm.fieldMapping, form)"
                        ng-required="true"
                        ng-class="{'required': true}">
                        <option value="" hidden disabled>-- Choose Unique Identifier --</option>
                        <option ng-repeat="AvailableField in vm.AvailableFields" value="{{AvailableField.userField}}">
                            {{AvailableField.userField}}
    				    </option>
                   </select>
                </div>
            </div>
        </div>
    </form>
</div>
