<div class="import-accountid container file-import-content">
    <div class="header">
        <h2>Account IDs</h2>
    </div>
    <p>Please provide unique identifier attribute Lattice platform should use to de-duplicate your account records.  The data provided in this file will override the existing data.</p>

    <div class="id-options" ng-if="!vm.state.accountDedupeField">
        <div class="id-options-item">
            <div>
                <label for="dedupeField">Unique Identifier</label>
                <select 
                    class="form-control"
                    xng-init="fieldMapping.userField = vm.AvailableFields[vm.selectedIndex]"
                    ng-model="fieldMapping.userField"
                    ng-change="vm.changeLatticeField(fieldMapping)"
                    ng-class="{'required': true}">
                    <option value="" hidden disabled>-- Choose Unique Identifier --</option>
                    <option ng-repeat="AvailableField in vm.AvailableFields" value="{{AvailableField}}">
                        {{AvailableField}}
				    </option>
               </select>
            </div>
        </div>
    </div>
    <div class="row" ng-if="vm.state.accountDedupeField">
        <div>
            <label for="dedupeField">Unique Identifier</label>
            <input id="dedupeField" type="text" value="{{::vm.state.accountDedupeField}}" disabled></input>
        </div>
    </div>
</div>
