<section ng-controller="SidebarController as vm" class="lp-sidebar-menu noselect-children" ng-click="vm.handleSidebarToggle($event)">
    <div class="logo-container no-collapse-children">
        <a ui-sref="home.segment.explorer.attributes({ segment: 'Create' })" class="logo" style="float: none; padding: 0;">
            <img src="/assets/images/logo-lattice-white.png" alt="Lattice Logo" />
        </a>
    </div>
    <div ui-view="navigation" ng-disabled="vm.disableNavigation"></div>
    <button class="open-button open">
        <span class="ico ico-arrow-open"></span>
    </button>
</section>