<div class="modal-dialog" data-ng-controller="AddUserController">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">{{ResourceUtility.getString('ADD_USER_TITLE')}}</h4>
        </div>
        <div class="modal-body">
            <div class="row alert-holder">
                <div id="addUserError" class="alert alert-danger">
                    {{addUserErrorMessage}}
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <form>
                        <div class="form-group">
                            <label for="">{{ResourceUtility.getString('ADD_USER_EMAIL_LABEL')}}<span class="required-mark">*</span></label>
                            <input type="email" class="form-control" id="" placeholder="" data-ng-enter="addUserClick()" data-ng-model="emailAddress" data-ng-class="emailAddressInputError">
                        </div>
                        <div class="form-group">
                            <label for="">{{ResourceUtility.getString('ADD_USER_FIRST_NAME_LABEL')}}<span class="required-mark">*</span></label>
                            <input type="text" class="form-control" id="" placeholder="" data-ng-enter="addUserClick()" data-ng-model="firstName" data-ng-class="firstNameInputError">
                        </div>
                        <div class="form-group">
                            <label for="">{{ResourceUtility.getString('ADD_USER_LAST_NAME_LABEL')}}<span class="required-mark">*</span></label>
                            <input type="text" class="form-control" id="" placeholder="" data-ng-enter="addUserClick()" data-ng-model="lastName" data-ng-class="lastNameInputError">
                        </div>
                        <p>{{ResourceUtility.getString('ADD_USER_MESSAGE')}}</p>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn btn-primary" data-ng-show="saveInProgess">
                <span class="form-processing-spinner"></span>
            </div>
            <a class="btn btn-primary" href="#" data-ng-click="addUserClick($event)" data-ng-show="!saveInProgess">{{ResourceUtility.getString('BUTTON_CONTINUE_LABEL')}}</a>
            <button class="btn" type="button" data-ng-click="cancelClick()" >{{ResourceUtility.getString('BUTTON_CANCEL_LABEL')}}</button>
        </div>
    </div>
</div>