<div id="add-user-modal">
    <div class="modal-dialog modal-sm" data-ng-controller="AddUserController">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ResourceUtility.getString('ADD_USER_TITLE')}}</h4>
            </div>
            <form novalidate name="form">
                <div class="modal-body">
                    <div data-ng-show="saveInProgress">
                        <div class="loader">
                            Loading...
                        </div>
                        <h2 class="text-center">{{ResourceUtility.getString('ADD_USERS_WAIT')}}</h2>
                    </div>
                    <div class="row" data-ng-hide="saveInProgress">
                        <div class="col-sm-12 text-center">
                            <ul>
                                <li>
                                    <label>
                                        {{ResourceUtility.getString('ADD_USER_FIRST_NAME_LABEL')}}
                                        <input type="text" data-ng-model="user.FirstName" required/>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        {{ResourceUtility.getString('ADD_USER_LAST_NAME_LABEL')}}
                                        <input type="text" data-ng-model="user.LastName" required/>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        {{ResourceUtility.getString('ADD_USER_EMAIL_LABEL')}}
                                        <input type="email" data-ng-model="user.Email" required/>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="global-error" data-ng-show="showAddUserError">
                        <span><i class="fa fa-exclamation-circle fa-inverse"></i> {{addUserErrorMessage}}</span>
                        <button class="close btn btn-link" data-ng-click="showAddUserError = false;"><i class="fa fa-times fa-inverse"></i></button>
                    </div>
                    <div class="alert alert-success" data-ng-show="showAddUserSuccess">
                        <span><i class="fa fa-exclamation-circle"></i> {{addUserSuccessMessage}}</span>
                        <button class="close btn btn-link" data-ng-click="showAddUserSuccess = false;"><i class="fa fa-times fa-inverse"></i></button>
                    </div>
                </div>
                <div class="modal-footer" data-ng-hide="saveInProgress">
                    <button class="btn btn-secondary" type="button" data-ng-click="cancelClick()">{{ResourceUtility.getString('BUTTON_CANCEL_LABEL')}}</button>
                    <button class="btn btn-primary" data-ng-click="addUserClick($event)">{{ResourceUtility.getString('BUTTON_SAVE_LABEL')}}</button>
                </div>
            </form>
        </div>
    </div>
</div>