<div class="expanded-{{jobRowExpanded}} {{jobType}} job-list-item">
    <div class="clearfix">
        <span data-ng-if="job.timestamp == null" class="columns two">N/A</span>
        <span data-ng-if="job.timestamp != null" class="columns two">{{job.timestamp | date : 'MM/dd/yyyy h:mma'}}</span>
        <span class="columns three" ng-if="state != 'model'">
            <a ng-if="job.modelId && job.modelName && !isPMML" 
               class="model-name" 
               title="{{job.modelName}}" 
               ui-sref="home.model.attributes({ modelId: '{{ job.modelId | escape }}' })">
                    {{job.modelName}}
            </a>
            <a ng-if="job.modelId && job.modelName && isPMML" 
               class="model-name" 
               title="{{job.modelName}}" 
               ui-sref="home.model.jobs({ modelId: '{{ job.modelId | escape }}' })">
                    {{job.modelName}}
            </a>
            <strong ng-if="!job.modelId" class="model-name">
                <span ng-if="job.modelName">
                    {{job.modelName}}
                </span>
                <span ng-if="!job.modelName">
                    --
                </span>
            </strong>
        </span>
        <span class="columns two" ng-if="state == 'model'">
            <span
                tooltips 
                tooltip-template="{{job.source}}" 
                tooltip-side="right" 
                tooltip-size="large" 
                tooltip-close-button="false">{{job.source | limitTo: 16 }}{{job.source.length > 16 ? '&hellip;' : ''}}</span>
        </span>
        <span class="columns two" ng-if="state != 'model'">{{job.displayName}}</span>
        <span class="columns two {{job.status}}">{{job.status}}</span>
        <span class="columns two">
            <span ng-if="(jobCompleted || jobFailed) && job.id != null">
                <span class="button {{job.status == 'Failed' ? 'orange' : 'blue'}}-button" 
                      ng-if="jobType == 'fitModelWorkflow'">
                    <a ui-sref="home.jobs.status.ready({jobId: job.id})">
                        <i class="fa fa-list-alt"></i>Report
                    </a>
                </span>
                <span class="button {{job.status == 'Failed' ? 'orange' : 'blue'}}-button" 
                      ng-if="jobType == 'importMatchAndModelWorkflow'">
                    <a ui-sref="home.jobs.status.csv({jobId: job.id})">
                        <i class="fa fa-list-alt"></i>Report
                    </a>
                </span>
                <span class="button {{job.status == 'Failed' ? 'orange' : 'blue'}}-button" 
                      ng-if="isScoringJob && job.status != 'Failed'">
                    <a href="javascript:void(0)" data-ng-click="clickGetScoringResults()">
                        <i data-ng-show="!showProgress" class="fa fa-download"></i>
                        <i data-ng-show="showProgress" class="fa fa-spinner fa-spin fa-inverse fa-fw"></i>
                        Download
                    </a>
                </span>
            </span>

            <span class="button orange-button" ng-if="jobRunning && !cancelClicked">
                <a href="javascript:void(0)" data-ng-click="cancelJobClick($event)">
                    <i class="fa fa-stop-circle"></i>Cancel Job
                </a>
            </span>
            <span class="button white-button" ng-if="jobRunning && cancelClicked">
                <span>
                    <i class="fa fa-stop-circle"></i>Cancelling...
                </span>
            </span>
            
            <span ng-if="state != 'model'" style="position: absolute; right: 1em;">
                <a href="javascript:void(0)" data-toggle="collapse" data-ng-click="expandJobStatus()" data-ng-show="! jobRowExpanded && job.timestamp != null && job.id != null && (jobType == 'fitModelWorkflow' || jobType == 'importMatchAndModelWorkflow')">
                    <span><i class="fa fa-angle-double-down fa-lg"></i></span>
                </a>
                <a href="javascript:void(0)" data-toggle="collapse" data-ng-click="unexpandJobStatus()" data-ng-show="jobRowExpanded && job.timestamp != null && job.id != null && (jobType == 'fitModelWorkflow' || jobType == 'importMatchAndModelWorkflow')">
                    <span><i class="fa fa-angle-double-up fa-lg"></i></span>
                </a>
            </span>
            &nbsp;
        </span>
    </div>
    <div class="chevron-row" data-ng-if="jobRowExpanded">


        <div class="progress-info">


            <ol class="wizard job-status" ng-if="jobType == 'importMatchAndModelWorkflow'">
                <li ng-class="{success : jobStepsCompletedStates.load_data, error : (stepFailed == 'load_data')}">
                    <div>
                            
                        <span class="load-data">
                            <p>Processing File</p>
                            <p class="completion-times">{{ stepsCompletedTimes.load_data | date: 'MM/dd/yyyy h:mma' }}</p>
                        </span>
                        <span>
                            <span class="loading-small" data-ng-if="jobStepsRunningStates.load_data"></span>
                            <i class="fa fa-check" data-ng-if="jobStepsCompletedStates.load_data"></i>
                            <i class="fa fa-exclamation-triangle"  data-ng-if="stepFailed == 'load_data'"></i>
                        </span>

                    </div>
                </li>
                <li ng-class="{success : jobStepsCompletedStates.generate_insights, error : (stepFailed == 'generate_insights')}">
                    <div>
                            
                        <span class="match-cloud">
                            <p>Matching to Data Cloud</p>
                            <p class="completion-times">{{ stepsCompletedTimes.generate_insights | date: 'MM/dd/yyyy h:mma' }}</p>
                        </span>
                        <span>
                            <span class="loading-small" data-ng-if="jobStepsRunningStates.generate_insights"></span>
                            <i class="fa fa-check" data-ng-if="jobStepsCompletedStates.generate_insights"></i>
                            <i class="fa fa-exclamation-triangle"  data-ng-if="stepFailed == 'generate_insights'"></i>
                        </span>

                    </div>
                </li>
                <li ng-class="(jobStepsCompletedStates.create_global_target_market) ? 'success' : ''">
                    <div>
                            
                        <span class="building-model">
                            <p>Building Model</p>
                            <p class="completion-times">{{ stepsCompletedTimes.create_global_target_market | date: 'MM/dd/yyyy h:mma' }}</p>
                        </span>
                        <span>
                            <span class="loading-small" data-ng-if="jobStepsRunningStates.create_global_target_market"></span>
                            <i class="fa fa-check" data-ng-if="jobStepsCompletedStates.create_global_target_market"></i>
                            <i class="fa fa-exclamation-triangle"  data-ng-if="stepFailed == 'create_global_target_market'"></i>
                        </span>

                    </div>
                </li>
            </ol>

            <ol class="wizard job-status" ng-if="jobType == 'fitModelWorkflow'">
                <li>
                    <div>

                        <span class="load-data">
                                <p>Load Data</p>
                                <p class="completion-times">{{ stepsCompletedTimes.load_data | date: 'MM/dd/yyyy h:mma' }}</p>
                        </span>
                        <span>
                            <span class="loading-small" data-ng-if="jobStepsRunningStates.load_data"></span>
                            <i class="fa fa-check" data-ng-if="jobStepsCompletedStates.load_data"></i>
                            <i class="fa fa-exclamation-triangle" data-ng-if="stepFailed == 'load_data'"></i>
                        </span>

                    </div>
                </li>
                <li>
                    <div>

                        <span class="match-data">
                            <p>Match Data</p>
                            <p class="completion-times">{{ stepsCompletedTimes.match_data | date: 'MM/dd/yyyy h:mma' }}</p>
                        </span>
                        <span>
                            <span class="loading-small" data-ng-if="jobStepsRunningStates.match_data"></span>
                            <i class="fa fa-check" data-ng-if="jobStepsCompletedStates.match_data"></i>
                            <i class="fa fa-exclamation-triangle" data-ng-if="stepFailed == 'match_data'"></i>
                        </span>

                    </div>
                </li>
                <li>
                    <div>

                        <span class="generate-insights">
                            <p>Generate Insights</p>
                            <p class="completion-times">{{ stepsCompletedTimes.generate_insights | date: 'MM/dd/yyyy h:mma' }}</p>
                        </span>
                        <span>
                            <span class="loading-small" data-ng-if="jobStepsRunningStates.generate_insights"></span>
                            <i class="fa fa-check" data-ng-if="jobStepsCompletedStates.generate_insights"></i>
                            <i class="fa fa-exclamation-triangle" data-ng-if="stepFailed == 'generate_insights'"></i>
                        </span>

                    </div>
                </li>
                <li>
                    <div>

                        <span class="universal-model">
                            <p>Create Universal Model</p>
                            <p class="completion-times">{{ stepsCompletedTimes.create_global_model | date: 'MM/dd/yyyy h:mma' }}</p>
                        </span>
                        <span>
                            <span class="loading-small" data-ng-if="jobStepsRunningStates.create_global_model"></span>
                            <i class="fa fa-check" data-ng-if="jobStepsCompletedStates.create_global_model"></i>
                            <i class="fa fa-exclamation-triangle" data-ng-if="stepFailed == 'create_global_model'"></i>
                        </span>

                    </div>
                </li>
                <li>
                    <div>

                        <span class="universal-market">
                            <p>Create Universal Target Market</p>
                            <p class="completion-times">{{ stepsCompletedTimes.create_global_target_market | date: 'MM/dd/yyyy h:mma' }}</p>
                        </span>
                        <span>
                            <span class="loading-small" data-ng-if="jobStepsRunningStates.create_global_target_market"></span>
                            <i class="fa fa-check" data-ng-if="jobStepsCompletedStates.create_global_target_market"></i>
                            <i class="fa fa-exclamation-triangle" data-ng-if="stepFailed == 'create_global_target_market'"></i>
                        </span>

                    </div>
                </li>
            </ol>

            <ul>
                <li><strong>User:</strong> {{job.user || 'Unknown'}}</li>
                <li><strong>Filename:</strong> filename.pmml{{job.fileName}}</li>
                <li><strong>App:</strong> <a ng-href="/cluster/app/{{job.applicationId}}" target="_blank">{{job.applicationId}}</a></li>
            </ul>


        </div><!-- End .progress-info -->

        <div class="download-error-report">
            <strong>Report:</strong>
            <p>15 records with errors.</p>
            <button type="button" data-ng-click="clickGetErrorLog($event)" ng-if="jobFailed" class="button blue-button block-button">
                <i class="fa fa-download"></i> Error CSV
            </button>
        </div>

    </div>
</div>
