.le-v-fill {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .le-v-box {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.le-flex-v-panel {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0.5em;
  &.main-container {
    padding: 0;
  }

  &.center-h {
    align-items: center;
  }
  &.center-v {
    justify-content: center;
  }
  &.center {
    align-items: center;
    justify-content: center;
  }
}
