global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  daemon

defaults
  log   global
  mode   http

  # logs which servers requests go to, plus current connections and a whole lot of other stuff
  option   httplog
  option   dontlognull
  retries   3
  option    redispatch
  maxconn   2000
  timeout connect 5000
  timeout client  50000
  timeout server  50000

  balance roundrobin
  option forwardfor
  option http-server-close

  default-server inter 3s fall 3 rise 2

listen stats
  bind *:80
  stats enable
  stats scope hdfs
  stats scope webhdfs
  stats scope rm
  stats scope ats
  stats scope zk
  stats scope mysql
  stats realm Haproxy\ Statistics
  stats uri /

frontend hdfs_proxy
  bind *:9000
  mode tcp
  timeout client 1m
  default_backend hdfs

backend hdfs
  mode tcp
  timeout connect 10s
  timeout server 1m
  server 172.18.0.1 172.18.0.1:9000 check

frontend webhdfs_proxy
  bind *:9000
  mode http
  default_backend webhdfs

backend webhdfs
  option httpchk HEAD / HTTP/1.0
  server 172.18.0.1 172.18.0.1:50070 check

frontend rm_proxy
  bind *:8088
  mode http
  default_backend rm

backend rm
  option httpchk HEAD / HTTP/1.0
  server 172.18.0.1 172.18.0.1:8088 check

frontend ats_proxy
  bind *:10200
  mode http
  default_backend ats

backend ats
  option httpchk HEAD / HTTP/1.0
  server 172.18.0.1 172.18.0.1:10200 check

frontend zk_proxy
  bind *:2181
  mode tcp
  timeout client 1m
  default_backend zk

backend zk
  mode tcp
  timeout connect 10s
  timeout server 1m
  server 172.18.0.1 172.18.0.1:2181

frontend mysql_proxy
   bind *:3306
   mode tcp
   timeout client 1m
   default_backend mysql

backend mysql
   mode tcp
   timeout connect 10s
   timeout server 1m
   server 172.18.0.1 172.18.0.1:3306







