global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  daemon

defaults
  log   global
  mode   http

  # logs which servers requests go to, plus current connections and a whole lot of other stuff
  option   httplog
  option   dontlognull
  retries   3
  option    redispatch
  maxconn   2000
  timeout connect 5000
  timeout client  50000
  timeout server  50000

  balance roundrobin
  option forwardfor
  option http-server-close

  default-server inter 3s fall 3 rise 2

listen stats
  bind *:80
  stats enable
  stats scope hdfs
  stats scope webhdfs
  stats scope rm
  stats scope ats
  stats scope zk
  stats scope mysql
  stats scope dynamo
  stats realm Haproxy\ Statistics
  stats uri /

frontend hdfs
  bind *:9000
  mode http
  default_backend hdfs_backend

backend hdfs_backend
  option httpchk HEAD / HTTP/1.0
  server hdp 172.18.0.1:9000 check

frontend webhdfs
  bind *:9000
  mode http
  default_backend webhdfs_backend

backend webhdfs_backend
  option httpchk HEAD / HTTP/1.0
  server hdp 172.18.0.1:50070 check

frontend rm
  bind *:8088
  mode http
  default_backend rm_backend

backend rm_backend
  option httpchk HEAD / HTTP/1.0
  server hdp 172.18.0.1:8088 check

frontend ats
  bind *:10200
  mode http
  default_backend ats_backend

backend ats_backend
  option httpchk HEAD / HTTP/1.0
  server hdp 172.18.0.1:10200 check

frontend dynamo
  bind *:8000
  mode http
  default_backend dynamo_backend

backend dynamo_backend
  option httpchk HEAD / HTTP/1.0
  server hdp 172.18.0.1:8000 check

frontend zk
  bind *:2181
  option tcplog
  timeout client 1m
  mode tcp
  default_backend ats_backend

backend zk_backend
  mode tcp
  option tcplog
  option log-health-checks
  option redispatch
  log global
  timeout connect 10s
  timeout server 1m
  server zk 172.18.0.1:2181

frontend mysql
   bind *:3306
   option tcplog
   timeout client 1m
   mode tcp
   default_backend mysql_backend

backend mysql_backend
   mode tcp
   option tcplog
   option log-health-checks
   option redispatch
   log global
   timeout connect 10s
   timeout server 1m
   server hdp 172.18.0.1:3306







