<div class="le-cell le-col-start-1 le-col-span-2">

    <span ng-if="!isJobPending(job)">
        {{job.startTimestamp | date : 'MM/dd/yyyy h:mma'}}
    </span>
</div>
<div class="le-cell le-col-start-3 le-col-span-2">
    <span>
        {{job.displayName}}
    </span>
</div>
<div class="le-cell le-col-start-5 le-col-span-1">
    <span>
        {{job.actionsCount}}
    </span>
</div>
<div class="le-cell le-col-start-6 le-col-span-1">
    <span>
        {{job.jobStatus}}
        <i class="fa fa-spinner fa-spin icon-failed" aria-hidden="true" ng-if="isJobRunning(job)"></i>
        <i class="fa fa-exclamation-triangle icon-failed" aria-hidden="true" ng-if="isJobFailed(job) && !isJobRunning(job)"></i>
    </span>
</div>
<div class="le-cell le-col-start-7 le-col-span-2">
    <span ng-if="!vm.isJobRunning(job) && vm.showRunButton(job) && vm.canLastJobRun()" class="contact">
        Schedule at {{job.startTimestamp ? (job.startTimestamp | date : 'MM/dd/yyyy h:mma') : ''}}
    </span>
</div>
<div class="le-cell le-col-start-9 le-col-span-1">
    <button class="button blue-button" ng-if="showRunButton(job)" ng-click="vm.run(job)" ng-disabled="!vm.canLastJobRun()">
        Run Now
    </button>

    <a ui-sref="home.jobs.summary({jobId: job.id})" ng-if="!showRunButton(job) && !isJobRunning(job) && !isJobFailed(job)">
        Report
    </a>
</div>
<div class="le-cell le-col-start-10 le-col-span-3">
    <span>
        <span ng-if="isJobFailed(job)">Please Contact Lattice Support</span>
    </span>
    <!-- <a href="javascript:void(0)" data-toggle="collapse">
        <i class="fa fa-plus-square-o" aria-hidden="true" ng-click="add()"></i>
    </a> -->
    <a href="javascript:void(0)" data-toggle="collapse" ng-click="expandRow()" ng-show="!expanded">
        <span>
            <i class="fa fa-angle-double-down fa-lg"></i>
        </span>
    </a>

    <a href="javascript:void(0)" data-toggle="collapse" ng-click="expandRow()" data-ng-show="expanded">
        <span>
            <i class="fa fa-angle-double-up fa-lg"></i>
        </span>
    </a>
    
</div>
<div class="le-row" ng-if="loading">
    <div class="le-cell le-cell-centered le-col-start-1 le-col-span-12">
        <span>
            <span class="loading-small"></span>
        </span>
    </div>
</div>
<chevron class="le-row" stepsconfig="stepsConfig" stepscompleted="stepscompleted" jobstatus="job.jobStatus" ng-if="expanded && job.jobStatus != 'Pending'"></chevron>
<import-job-row-sub-jobs ng-if="expanded" subjobs="subjobs"></import-job-row-sub-jobs>