<div class="playbook-ratings playbook-content container" ng-class="{'dashboard-content': vm.stateParams.section && vm.stateParams.section.indexOf('dashboard.') !== -1}">
    <form name="rating_form">
        <div class="header">
            <h2>Rating
<!--                 <span class="more-info">&#105;
                    <div class="tooltip_">
                        <div class="cover">
                            <h3>Stuff about ratings</h3>
                            <p>
                                Rating stuff long text or something here
                            </p>
                        </div>
                    </div>
                </span>
 -->            </h2>
        </div>
        <div class="content-body">
            <div class="filters">
                <div class="ng-search">
                <input type="text" class="form-control" placeholder="Search {{vm.ratings.length}} Models" ng-model="vm.search" />
                    <a class="button icon-button white-button" ng-click="vm.search.length ? vm.search = '' : ''">
                        <span class="fa fa-search" ng-show="!vm.search.length"></span>
                        <span class="fa fa-times" ng-show="vm.search.length"></span>
                    </a>
                </div>
                <button class="button blue-button" style="float: right;" ng-click="vm.showCounts=true" ng-disabled="vm.showCounts">Show Counts</button>
            </div>
            <ul class="list">
                <li class="item header rating_">
                    <ul>
                        <li class="ratingengine">Model</li>
                        <li class="unscored">Unscored Accounts<br /> by Model</li> 
                        <li class="scored">Scored Accounts<br /> by Model</li> 
                    </ul>
                </li>
                <li 
                    ng-repeat="rating in (vm.filteredList = (vm.ratings | filter: vm.searchFields)) | startFrom: (vm.currentPage - 1) * vm.pageSize | limitTo: vm.pageSize" 
                    ng-class="{'selected': vm.stored.rating_selection == rating.id}"
                    ng-disabled="vm.block_user"
                    class="item rating_"
                    ng-if="vm.filteredList.length">
                    <ul>
                        <li class="segment">
                            <input 
                                type="radio" 
                                id="{{rating.id}}" 
                                name="{{rating.id}}" 
                                ng-value="rating.id"
                                ng-change="vm.checkValid(rating_form)"
                                ng-click="vm.saveRating(rating)"
                                ng-model="vm.stored.rating_selection" />
                            <label for="{{rating.id}}">{{rating.displayName}}</label>
                        </li>
                        <li class="unscored">
                            <label for="{{rating.id}}" ng-if="!vm.scoredAccounts[rating.id] && vm.showCounts">
                                <span class="fa fa-spinner fa-spin fa-fw"></span>
                            </label>
                            <label for="{{rating.id}}" ng-if="vm.scoredAccounts[rating.id] && vm.showCounts">
                                {{vm.scoredAccounts[rating.id].unscoredAccountCount || 0}}
                            </label>
                            <span ng-show="!vm.showCounts"> -- </span>
                        </li>
                        <li class="scored">
                            <label for="{{rating.id}}" ng-if="!vm.scoredAccounts[rating.id] && vm.showCounts">
                                <span class="fa fa-spinner fa-spin fa-fw"></span>
                            </label>
                            <label for="{{rating.id}}" ng-if="vm.scoredAccounts[rating.id] && vm.showCounts">
                                {{vm.scoredAccounts[rating.id].scoredAccountCount || 0}}
                            </label>
                            <span ng-show="!vm.showCounts"> -- </span>
                        </li>
                    </ul>
                </li>
                <li class="item centered-info-message" ng-if="!vm.filteredList.length">
                    No Models Found
                </li>
            </ul>
            <div class="pd-pagination-container-margin-top pull-right" ng-if="(vm.filteredList.length / vm.pageSize) > 0">
                <pd-pagination-controls
                    current="vm.currentPage"
                    max="vm.filteredList.length / vm.pageSize">
                </pd-pagination-controls>
            </div>
        </div>
    </form>
</div>