<div class="tp-preview container">
    <div ng-if="hasTalkingPoints">
        <label>Account:
            <select
                class="form-control"
                ng-change="onAccountChange()"
                ng-model="selected"
                ng-selected="selected"
                ng-options="item.name for item in accounts">
            </select>
        </label>
        <iframe  id="tppreview_iframe" class="tppreview_iframe" src="{{sceIframeSrc}}"></iframe>
    </div>
    <div ng-if="!hasTalkingPoints">
        <p>There are no talking points created</p>
    </div>
</div>
