option_settings:
  - option_name: marketoadapter.pod
    value: placeholder
  - option_name: marketoadapter.zookeeper.address
    value: placeholder
  - option_name: marketoadapter.skald.address
    value: placeholder
  - option_name: Application Healthcheck URL
    namespace: aws:elasticbeanstalk:application
    value: /HealthCheck
