<div class="numerical-container range-container">
        <span ng-if="showFromLabel() && showFrom()"> {{fromlabel}} </span>
        <input type="number"
                ng-disabled="fromdisabled"
                name="{{getName(0)}}" 
                pattern="{{getPattern(0)}}"
                min="{{getMinVal(0)}}"
                max="{{getMaxVal(0)}}"
                step="0.1"
                ng-if="showFrom()"        
                ng-model="values.from.value" 
                ng-model-options="{ debounce: conf.debounce }"
                ng-change="changeValue(0)"
                ng-class="{'invalid-field': !isValValid(0), 'field-disabled': fromdisabled}" 
                ng-required="!fromdisabled">
        <span ng-if="showFrom() && showTo()"> - </span>
        <span ng-if="showFromLabel() && showTo() || !!showtolabel==true">{{tolabel}} </span>
        <input type="number" 
                ng-disabled="todisabled"      
                name="{{getName(1)}}"
                pattern="{{getPattern(1)}}" 
                min="{{getMinVal(1)}}"
                max="{{getMaxVal(1)}}"
                step="0.1"
                ng-if="showTo()" 
                ng-model="values.to.value"
                ng-model-options="{ debounce: conf.debounce }"
                ng-change="changeValue(1)"
                ng-class="{'invalid-field' : !isValValid(1), 'field-disabled': fromdisabled }" 
                ng-required="!todisabled">
        <span class="error-message" ng-if="(showErrorMessage())">{{getErrorMsg()}}</span>
</div>