.delete-container {
    .warning-message {
        text-align:center;
        font-weight:bold;
    }
    .success-message {
        text-align:center;
        font-weight:bold;
        color:#fff
    }
    .local-error {
        position: relative;
        margin-bottom: 20px;
        .close {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
    .columns.box-outline .section-body.with-padding {
        margin: 1.5em 3em;
    }
    .options-text {
        font-weight: 500;
        font-size: 14px;
    }
    .button-tabs {
        @include flex-container;
        margin-bottom: 50px;
        .button {
            @include flex-item(1 1 auto);
            width: calc(100% / 3);
            align-self: stretch;
            padding: 68px 6px 6px;
            margin-right: 10px;
            &:last-child {
               margin-right: 0; 
            }
            background-repeat: no-repeat;
            background-position: center 22px;
            text-transform: none;
            color: #333;
            height: auto;
            line-height: normal;
            border-radius: 8px;
            span {
                @include text-ellipsis;
                display: block;
                text-align: center;
            }
            &.account {
                background-image: url('/assets/images/ico-accounts-dark.png');
            }
            &.contact {
                background-image: url('/assets/images/ico-contacts-dark.png');
            }
            &.purchases {
                background-image: url('/assets/images/ico-purchases-dark.png');
            }
            &.blue-button {
                color: #fff;
                &.account {
                    background-image: url('/assets/images/ico-accounts-white.png');
                }
                &.contact {
                    background-image: url('/assets/images/ico-contacts-white.png');
                }
                &.purchases {
                    background-image: url('/assets/images/ico-purchases-white.png');
                }
            }
        }
    }
    .download-link {
        display: inline-block;
        margin: 20px 0;
    }
    .form-group {
        margin-bottom: 20px;
    }
    .file-upload-with-padding {
        margin-left: 20px;
    }
    .range-container {
        margin-left: 20px;
        margin-bottom: 20px;
    }
}