<style>
    div.pd-pagination {
        text-align: center;
        font-size: .9em;
    }
    select#tenantSelectionInput {
        border: 1px solid #ccc;
        height: 24em;
        margin-top: .5em;
    }
    select#tenantSelectionInput option {
        padding: 0.5em;
        cursor: pointer;
    }
    select#tenantSelectionInput option:nth-child(odd) {
        background-color: #f5f5f5;
    }
    select#tenantSelectionInput option:hover {
        background: #26639b;
        color: #fff;
    }
    div#tenantSelectionFormContainer {
        width: 30em;
    }
    input.tenant-selection-search {
        width: 9em;
        display: inline;
        line-height: 1em;
        border-radius: 3px;
        border-color: #d0d0d0;
    }
    input.tenant-selection-search:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
        border-color: #ccc;
    }
    div.panel-body .columns {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    #tenantSelectionInput {
        margin: 0;
    }
    .panel .panel-heading.custom-heading .columns:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    .panel .panel-heading.custom-heading .columns {
        text-align: center;
    }
    .panel .panel-heading.custom-heading {
        padding: 4px 0;
    }
    .panel .panel-body .tenant-date,
    .panel .panel-body .tenant-version {
        text-align: center;
    }
    .panel .panel-body {
        overflow: auto;
        height: 25em;
        border: 1px solid #d0d0d0;
        border-top: none;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .tenant-select-list {
        margin: 0.5em 0 1em;
    }
    .tenant-select-list.deactivated {
    }
    .panel .panel-body .job-td-row {
        min-height: 2.2em;
        padding: 0.333em 0;
    }
    .tenant-header {
        font-size: 14pt;
        text-align: center;
        margin-bottom: 1em;
        padding-bottom: .5em;
        border-bottom: 1px solid #d0d0d0;
    }
    .tenant-total {
        float: right;
    }
    .tenant-list-item,
    .tenant-list-item * {
        transition: none;
    }
    .tenant-list-item:hover {
        background: #65b7e5;
        cursor: pointer;
        transition: none;
        color: #fff;
    }
    .tenant-list-item:hover .columns {
    }
    .tenant-list-item i {
        position: absolute;
    }
    .tenant-list-item span.badge {
        margin-top: -3px;
    }
    .tenant-list-spinner i.fa-spinner {
        display: inline-block;
        margin: 0;
    }
    .tenant-list-spinner span {
        display: block;
        text-align: center;
        margin-top: 1em;
    }
    .tenant-list-spinner {
        padding-top: 8em;
        color: #888;
    }
    .tenant-list-spinner,
    .tenant-list-spinner * {
        position: relative;
    }
    .button.link-button.close-button {
        color: #fff;
        margin-top: -0.7em;
        margin-right: -0.3em;
    }
    .ng-search a.button {

    }
    .ng-search.open-absolute .form-control,
    .ng-search .form-control {
        width: 115px;
        left: initial;
        right: 2em;
    }
    .button-group>.button:first-child:not(:last-child):not(.dropdown-toggle) {
        border-right: none;
    }
    .button-group>.button:last-child:not(:first-child), .button-group>.dropdown-toggle:not(:first-child) {
        border-left: none;
    }
</style>
<form class="form form-tenant-select" name="tenant-select-form" ng-if="vm.visible">
    <div class="messaging error-messaging" data-ng-show="vm.showTenantError">
        <button class="button link-button close-button" data-ng-click="vm.showTenantError = false;"><i class="fa fa-times"></i></button>
        <span><i class="fa fa-exclamation-circle"></i> {{vm.tenantErrorMessage}}</span>
    </div>
    <div class="tenant-select-header row">
        <h4 class="tenant-header">{{vm.ResourceUtility.getString("TENANT_SELECTION_FORM_TITLE")}}</h4>
    </div>
    <div class="tenant-select-body">
        <div class="tenant-select-controls">
            <div class="button-group" role="group" aria-label="Basic example">
                <button ng-click="vm.version = ''" type="button" class="button {{!vm.version?'orange':'white'}}-button icon-button">All</button>
                <button ng-click="vm.version = '2.0'" type="button" class="button {{vm.version=='2.0'?'orange':'white'}}-button icon-button">2.0</button>
                <button ng-click="vm.version = '3.0'" type="button" class="button {{vm.version=='3.0'?'orange':'white'}}-button icon-button">3.0</button>
            </div>
            <div class="tenant-select-controls-right pull-right">
                <div class="select-menu ng-search open-absolute">
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Search" 
                        ng-model="vm.SearchValue" 
                        ng-show="visible"
                        autofocus
                    />
                    <a class="button icon-button white-button" ng-init="visible = true" ng-click="visible = !visible;">
                        <span class="fa fa-search" ng-show="!visible"></span>
                        <span class="fa fa-times" ng-show="visible"></span>
                    </a>
                </div>
            </div>
        </div>
        <div 
            class="columns twelve panel panel-default tenant-select-list"
            ng-class="{ 'deactivated': vm.deactivated }"
            ng-model="select_value" 
        >
            <div class="row panel-heading custom-heading">
                <div class="columns two" ng-click="vm.sort('UIVersion')">
                    Ver.
                    <i ng-if="vm.SortProperty == 'UIVersion'" class="fa fa-caret-{{vm.SortDirection ? 'up' : 'down'}}"></i>
                </div>
                <div class="columns six" ng-click="vm.sort('DisplayName')">
                    Name
                    <i ng-if="vm.SortProperty == 'DisplayName'" class="fa fa-caret-{{vm.SortDirection ? 'up' : 'down'}}"></i>
                </div>
                <div class="columns four" ng-click="vm.sort('RegisteredTime')">
                    Created
                    <i ng-if="vm.SortProperty == 'RegisteredTime'" class="fa fa-caret-{{vm.SortDirection ? 'up' : 'down'}}"></i>
                </div>
            </div>
            <div class="row panel-body">
                <div 
                    data-ng-repeat="tenant in vm.tenantList | 
                        filter: { 'UIVersion': vm.version, 'DisplayName': vm.SearchValue } | 
                        orderBy: vm.SortDirection + vm.SortProperty"
                    class="job-td-row tenant-list-item {{$index}}"
                    ng-if="!vm.deactivated"
                    ng-click="vm.select(tenant)"
                >
                    <div class="columns two tenant-version"><span class="badge {{tenant.UIVersion == '3.0' ? 'blue' : 'gray'}}-badge">{{tenant.UIVersion}}</span></div>
                    <div class="columns seven tenant-name">{{tenant.DisplayName}}</div>
                    <div class="columns three tenant-date">{{tenant.RegisteredTime | date:'MM/dd/yyyy'}}</div>
                </div>
                <div class="text-center tenant-list-spinner" ng-if="vm.deactivated">
                    <section class="loading-spinner lattice show-spinner"> 
                        <h2 class="text-center">Launching LP {{vm.selected.UIVersion}}</h2>
                        <div class="meter"><span class="indeterminate"></span></div> 
                    </section>
                </div>
            </div>
            <span class="tenant-total">Displaying {{ (vm.tenantList | filter: { 'UIVersion': vm.version, 'DisplayName': vm.SearchValue }).length || 0 }} tenants</span>
        </div>
    </div>
</form>
