.main-panel{
    border: 1px solid red;
}
// .test{
//     width: 100px;
//     height: 100px;
//     border: 1px solid green;
// }
.main-p{
    height: 100vh;
    border: 1px solid green;
}

.grid-list{
    max-width: 1020px;
}
