
/* 
Logo
==================================================== */
.logo {
  display: inline-block;
  width: 100px;
  margin: 20px 0;
  opacity: 0.7;
  filter: alpha(opacity=70);
  img {
    width: 100%;
  }
}
.no-nav-logo {
  width: 110px;
  margin-top: 12px;
}
.open-nav .no-nav-logo {
  display: none;
}


/*
Main Content & Page Header
=================================================== */
.page-header {
	text-align: center;
}
.main-content {
	padding-bottom: 8em;
}



/* 
Page Summary / Sub-Nav Headers
==================================================== */
.summary {
  padding: 40px 0;
  text-align: center;
  background: $palladium;
  &.blue-steel {
    background: url("../img/bkg-blue-steel.jpg") no-repeat center;
    background-size: cover;
    h1, h2, h3, h4, p {
      color: #fff;
      &.summary-title {
        color: #222;
      }
    }
  }
}


/* 
Toggle UI Components
====================================================== */
.toggle {
  & > ul, & > div {
    display: none;
  }
  &.open {
    & > ul, & > div {
      display: block;
    }
  }
}


/*
Icons
======================================================== */
.ico {
	display: inline-block;
	width: 12px;
	height: 12px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	&.ico-small {
		width: 12px;
	}
	&.ico-search {
		background-color: $jet;
		-webkit-mask:  url("../img/ico-search.svg");
		mask:  url("../img/ico-search.svg");
	}
	&.ico-filter {
		background-color: $jet;
		-webkit-mask:  url("../img/ico-filter.svg");
		mask:  url("../img/ico-filter.svg");
	}
	&.ico-sort {
		background-color: $jet;
		-webkit-mask:  url("../img/ico-sort.svg");
		mask:  url("../img/ico-sort.svg");
	}
	&.ico-grid {
		background-color: $jet;
		-webkit-mask:  url("../img/ico-grid.svg");
		mask:  url("../img/ico-grid.svg");
	}
	&.ico-list {
		background-color: $jet;
		-webkit-mask:  url("../img/ico-list.svg");
		mask:  url("../img/ico-list.svg");
	}
	&.ico-fingerprint {
		background-color: $pearl-white;
		-webkit-mask:  url("../img/ico-fingerprint.svg");
		mask:  url("../img/ico-fingerprint.svg");
	}
	&.ico-bullseye {
		background-color: $pearl-white;
		-webkit-mask:  url("../img/ico-bullseye.svg");
		mask:  url("../img/ico-bullseye.svg");
	}
	&.ico-cog {
		background-color: $pearl-white;
		-webkit-mask:  url("../img/ico-cog.svg");
		mask:  url("../img/ico-cog.svg");
	}
	&.ico-step-open {
		background-image: url("../img/ico-step-open.svg");
	}
	&.ico-step-current {
		background-image: url("../img/ico-step-current.svg");
	}
	&.ico-step-checked {
		background-image: url("../img/ico-step-checked.svg");
	}
	&.ico-user {
		background-color: $pearl-white;
		-webkit-mask:  url("../img/ico-user.svg");
		mask:  url("../img/ico-user.svg");
	}
	&.ico-user-card {
		background-color: $pearl-white;
		-webkit-mask:  url("../img/ico-user-card.svg");
		mask:  url("../img/ico-user-card.svg");
	}
	&.ico-industry {
		background-color: $pearl-white;
		-webkit-mask:  url("../img/ico-industry.svg");
		mask:  url("../img/ico-industry.svg");
	}
	&.ico-locations {
		background-color: $pearl-white;
		-webkit-mask:  url("../img/ico-locations.svg");
		mask:  url("../img/ico-locations.svg");
	}
	&.ico-tmb-user {
		background-color: $pearl-white;
		-webkit-mask:  url("../img/ico-employee-range.svg");
		mask:  url("../img/ico-user.svg");
	}
	&.ico-tmb-chart {
		background-color: $pearl-white;
		-webkit-mask:  url("../img/ico-revenue-range.svg");
		mask:  url("../img/ico-chart.svg");
	}
	&.ico-tech-profile {
		background-color: $pearl-white;
		-webkit-mask:  url("../img/ico-web.svg");
		mask:  url("../img/ico-web.svg");
	}
	&.ico-web {
		background-color: $pearl-white;
		-webkit-mask:  url("../img/ico-web.svg");
		mask:  url("../img/ico-web.svg");
	}
	&.ico-chip {
		background-color: $pearl-white;
		-webkit-mask:  url("../img/ico-chip.svg");
		mask:  url("../img/ico-chip.svg");
	}
	&.ico-white {
		background-color: $pearl-white;
	}
	&.ico-jet {
		background-color: $jet;
	}
	&.ico-saphire {
		background-color: $saphire;
	}
	&.ico-ruby {
		background-color: $ruby;
	}
	&.ico-amber {
		background-color: $amber;
	}
	&.ico-gold {
		background-color: $gold;
	}
	&.ico-jade {
		background-color: $jade;
	}
	&.ico-amethyst {
		background-color: $amethyst;
	}
}
.no-cssmask {
	.ico {
		background-color: inherit;
	}
	.ico-search {
		background-image:  url("../img/ico-search.svg");
	}
	.ico-filter {
		background-image:  url("../img/ico-filter.svg");
	}
	.ico-sort {
		background-image:  url("../img/ico-sort.svg");
	}
	.ico-grid {
		background-image:  url("../img/ico-grid.svg");
	}
	.ico-list {
		background-image:  url("../img/ico-list.svg");
	}
	.ico-fingerprint {
		background-image:  url("../img/ico-fingerprint.svg");
	}
	.ico-bullseye {
		background-image:  url("../img/ico-bullseye.svg");
	}
	.ico-cog {
		background-image:  url("../img/ico-cog.svg");
	}
	.ico-step-open {
		background-image: url("../img/ico-step-open.svg");
	}
	.ico-step-current {
		background-image: url("../img/ico-step-current.svg");
	}
	.ico-step-checked {
		background-image: url("../img/ico-step-checked.svg");
	}
	.ico-user {
		background-image:  url("../img/ico-user.svg");
	}
	.ico-user-card {
		background-image:  url("../img/ico-user-card.svg");
	}
	.ico-industry {
		background-image:  url("../img/ico-industry.svg");
	}
	.ico-locations {
		background-image:  url("../img/ico-locations.svg");
	}
	.ico-tmb-user {
		background-image:  url("../img/ico-employee-range.svg");
	}
	.ico-tmb-chart {
		background-image:  url("../img/ico-revenue-range.svg");
	}
	.ico-tech-profile {
		background-image:  url("../img/ico-web.svg");
	}
	.ico-web {
		background-image:  url("../img/ico-web.svg");
	}
	.ico-chip {
		background-image:  url("../img/ico-chip.svg");
	}	
}




