/* Global Box Sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.italic { font-style: italic; }
.bold   { font-weight: 700; }
.block-margins { margin: 1em 0; }
.blue-text {
	color: $blue-text;
}
.orange-text {
	color: $orange-text;	
}
.success-text {
	color: $jade;
}
.error-text {
	color: $ruby;
}
.text-centered {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}