/* Global Box Sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.italic { font-style: italic; }
.bold   { font-weight: 700; }
.block-margins { margin: 1em 0; }
.blue-text {
	color: $blue-text;
}
.orange-text {
	color: $orange-text;	
}
.success-text {
	color: $jade;
}
.error-text {
	color: $ruby;
}
.text-centered {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}




/* Background Colors
=================================================== */
.saphire-bkg { 
	background: #467dba;
}
.saphire-two-bkg { 
	background: #629acc;
}
.saphire-three-bkg { 
	background: #65b7e5;
}
.saphire-four-bkg { 
	background: #26639b;
}
.aqua-marine-bkg { 
	background: #6ce3ff;
}
.amber-bkg { 
	background: #f16a22;
}
.amber-two-bkg { 
	background: #ff8c36;
}
.amber-three-bkg { 
	background: #ffbd48;
}
.amber-four-bkg { 
	background: #cc5200;
}
.gold-bkg { 
	background: #ffbd48;
}
.gold-two-bkg { 
	background: #ffda7d;
}
.gold-three-bkg { 
	background: #ffe67b;
}
.gold-four-bkg { 
	background: #ef9d18;
}
.jade-bkg { 
	background: #6fbe4a;
}
.jade-two-bkg { 
	background: #8ed162;
}
.jade-three-bkg { 
	background: #a2e264;
}
.jade-four-bkg { 
	background: #129e4e;
}


.amethyst-bkg { 
	background: #7b4bb2;
}
.amethyst-two-bkg { 
	background: #8d66c6;
}
.amethyst-three-bkg { 
	background: #9f6fe2;
}
.amethyst-four-bkg { 
	background: #663399;
}


.ruby-bkg { 
	background: #d22027;
}
.ruby-two-bkg { 
	background: #e83a3a;
}
.ruby-three-bkg { 
	background: #f75959;
}
.ruby-four-bkg { 
	background: #b50b20;
}
