#outerWrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}
#innerWrap {
  position: relative;
  width: 100%;
}

.primary-nav {
  background: $pearl-white;
}
.secondary-nav {
  background: $deep-blue;
}

.dropdown {
  position: relative;
}
.dropdown > ul {
  display: none;
  background: $pearl-white;
  text-align: left;
  position:absolute;
  right: 4px;
  border: $cobalt solid 1px;
  -webkit-box-shadow: 0px 2px 1px -2px $onyx;
  -moz-box-shadow:    0px 2px 1px -2px $onyx;
  box-shadow:         0px 2px 1px -2px $onyx;
}
.dropdown ul li a {
  display: block;
  padding: 4px 12px;
  width: 150px;
}
.dropdown > a.active {
  background: $palladium;
}


ul.menu {
  &.vertical {
    li {
      &:first-of-type a {
        border-top: $silver solid 1px;
      }
      &.active a {
        background: $white-gold;
      }
    }
    a {
      display: block;
      padding: 0.5em 1em;
      border-bottom: $silver solid 1px;
    }
  }
}


.content-header {
  background: $palladium;
  padding: 40px 0;
}




@include media('>medium') {

  .button.nav-button {
    display: none;
  }



  .logo img {
    width: 120px;
    margin-top: 10px;
  }
  .primary-menu {
    text-align: right;
    & > li {
      display: inline-block;
      & > a {
        padding: 20px 16px;
        margin: 0 4px;
        display: block;
        color: $dark-gray;
        border-top: transparent solid 6px;
        &:hover {
          border-top-color: $white-gold;
        }
      }
      &.active a {
        color: $primary-active-nav;
        border-top-color: $orange-text;
      }
      &:last-child {
        background: none;
      }
    }
  }
  .secondary-menu {
    & > li {
      display: inline-block;
      & > a {
        padding: 8px 12px;
        display: block;
        color: $secondary-nav-blue;
      }
      &.active > a {
        color: $pearl-white; 
      }
    }
  }


}

