.tile-list {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex; 
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-content: space-around;
  	align-content:         space-around;
}
.tile-head {
	&:after {
		display: table;
		content: "";
		clear: both;
	}
	.pull-left {
		width: 70%;
	}
}
.tile {
	border: #d0d0d0 solid 1px;
	padding: 0.75em;
	margin-bottom: 5px !important; /* Remove the important when production.css is deprecated */
	width: 100%;
	height: 300px;
	flex: 0 1 auto;
	@include media(">medium") {
		width: 49%;
	}
	@include media(">large") {
		width: 33%;
	}
	&:hover {
		background: #e7e7e7;
		cursor: pointer;
	}
	label {
		font-size: 20px;
	    line-height: 20px;
	    padding-top: 5px;
	}
	.lift {
		color: $dark-gray;
		font-size: 40px;
		line-height: 40px;
		margin: 0;
	}
	label:hover, input[type=checkbox]:hover {
		cursor: pointer;
	}
	.stats {
		margin-bottom: 1em;
	}
	.stats dt {
		font-size: 0.6em
	}
	.stats dd {
		font-size: 1.25em;
		&.in-database {
			color: $gun-metal;
		}
		&.your-customers {
			color: $onyx;
		}
	}
}