.tile {
	border: #d0d0d0 solid 1px;
	padding: 0.75em;
	&:hover {
		background: #e7e7e7;
		cursor: pointer;
	}
	label {
		font-size: 20px;
	    line-height: 20px;
	    padding-top: 5px;
	}
	.lift {
		color: $dark-gray;
		font-size: 40px;
		line-height: 40px;
		margin: 0;
	}
	label:hover, input[type=checkbox]:hover {
		cursor: pointer;
	}
	.stats {
		margin-bottom: 1em;
	}
	.stats dt {
		font-size: 0.6em
	}
	.stats dd {
		font-size: 1.25em;
		&.in-database {
			color: $gun-metal;
		}
		&.your-customers {
			color: $onyx;
		}
	}
}