/* 
Base
========================================================= */
$header-color: $onyx;

@font-face {
	font-family: ProximaNova-Regular;
	src: url("../fonts/Proxima Nova Fonts/ProximaNova-Regular.otf") format("opentype");
}

body {
	color: $gun-metal;
	font-size: 14px;                                                                                
	font-family: 'ProximaNova-Regular',Arial,sans-serif;
	font-weight: normal;
	line-height: 1.6;
	@include media(">small") {
	}
	@include media(">medium") {
	}
	@include media(">large") {
	}
}

/* 
Headers 
========================================================= */
h1, h2, h3, h4, h5 { color: $header-color; }
h1, h2 { line-height: 1.1; }
h3, h4 { line-height: 1.3; }
h1 { 
	font-size: 150%; 
	@include media(">small") {
        font-size: 200%;
    }
    @include media(">medium") {
        font-size: 250%;
    }
    @include media(">large") {
        font-size: 300%;
    }
}
h2 { 
	font-size: 120%; 
	@include media(">small") {
        font-size: 150%;
    }
    @include media(">medium") {
        font-size: 200%;
    }
    @include media(">large") {
        font-size: 300%;
    }
}
h3 { 
	font-size: 110%; 
	@include media(">small") {
        font-size: 120%;
    }
    @include media(">medium") {
        font-size: 150%;
    }
    @include media(">large") {
        font-size: 180%;
    }
}
h4 { font-size: 180%; }
h5 { font-size: 130%; }

/* 
Body Copy 
========================================================= */
.smaller {
	font-size: 13px;
	color: $jet;
}
.smallest {
	@extend .smaller;
	font-size: 10px;
}


/* 
Links
========================================================= */
a {
	text-decoration: none;
	&:link, &:visited {
		color: $saphire-three;
	}
	&:hover {
		color: $saphire-two;
	}
	&:active {
		color: $saphire;
	}
}
a.secondary{
	&:link, &:visited {
		color: $jet;
	}
	&:hover {
		color: $saphire-two;
	}
	&:active {
		color: $saphire;
	}
}
a.tertiary {
	&:link, &:visited {
		color: $cobalt;
	}
	&:hover {
		color: $saphire-two;
	}
	&:active {
		color: $saphire;
	}
}
a.emphasized {
	&:link, &:visited {
		color: $amber;
	}
	&:hover {
		color: $amber-two;
	}
	&:active {
		color: $amber-three;
	}
}

/* 
Lists
========================================================= */
.unordered-list, .ordered-list { 
	margin-left: 20px; 
}
.unordered-list { 
	list-style-type: disc; 
}
.ordered-list { 
	list-style: decimal; 
}

.blue-summary-list, .gray-summary-list {
	padding: 20px;
}
.blue-summary-list {
	background: $blue-summary-list;
	color: $pearl-white;
}
	.blue-summary-list .summary-title {
		color: $pearl-white;
	}
.gray-summary-list {
	background: $palladium;
	color: $dark-gray;
}

.summary-title {
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 8px;
}

.summary-list dt {
	float: left;
	clear: left;
	width: 100px;
}
.summary-list dt:after {
	content: ":";
}
.summary-list dd {
	margin: 0 0 0 110px;
	padding: 0 0 0.5em 0;
	text-align: right;
}


	.stats-group dl {
		border-left: $palladium solid 1px;
		padding: 0 1em;
		float: left;
	}
	.stats-group dl:first-of-type {
		border-left: 0;
		padding-left: 0;
	}
	.stats dt {
		text-transform: uppercase;
		font-size: 0.8em;
		line-height: 1;
	}
	.stats dd {
		font-size: 2em;
		line-height: 1;
	} 




/* 
Badges
========================================================= */
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}
