<section class="container custom-fields score-file">
	<!--
	<div class="row">
		<div class="ten columns offset-one">
			<hgroup ng-if="vm.requiredFields.length > 0">
				<h3>{{::vm.ResourceUtility.getString('MODEL_COLUMNS_MUST_MAP_LABEL')}}: <br/>
					<span ng-repeat="RequiredField in vm.requiredFields"><span ng-if="$index != 0">,&nbsp;</span><span class="orange-text">{{::RequiredField}}</span></span>
				</h3>
			</hgroup>
		</div>
	</div>
	-->
	<div class="row field-mapping-form">
		<form novalidate name="RequiredFieldMappingForm">
		<div class="ten offset-one columns box-outline">
			<div class="section-header">
				<h4>Required fields</h4>
				<h5>Make sure all the required fields are mapped correctly.</h5>
			</div>
			<table class="section-body unstyled">
				<thead ng-if="vm.initialized">
					<tr>
						<th>{{::vm.ResourceUtility.getString('MODEL_COLUMNS_CSV_LABEL_FIELD_NAME')}}</th>
						<th>{{::vm.ResourceUtility.getString('MODEL_COLUMNS_CSV_LABEL_FIELDS_IN_FILE')}}</th>
					</tr>
				</thead>

				<tbody>
                    <tr ng-repeat="field in vm.fieldMappings" ng-if="vm.requiredFields.indexOf(field.mappedField) > -1">
						<td class="field_mapping_label">
							<label 	for="fieldType_{{ field.mappedField }}"
									ng-class="{ 'required': vm.requiredFields.indexOf(field.mappedField) > -1 }">
								{{ field.mappedField }}
							</label>
						</td>
						<td class="field-mapping-inputs">
                            <select required
                            		name="mapping_lattice_field_select_{{ field.mappedField }}"
                            		class="form-control"
                            		ng-class="{ 'required': (field.userField == vm.ignoredFieldLabel && vm.requiredFields.indexOf(field.mappedField) > -1), 'disabled': (field.userField == vm.ignoredFieldLabel && vm.requiredFields.indexOf(field.mappedField) == -1) }"
	                            	ng-model="field.userField"
	                            	ng-disabled="vm.NextClicked"
	                            	ng-change="vm.changeLatticeField(field, field.userField)">
	                            <option value="{{ vm.ignoredFieldLabel }}"
	                            		ng-if="field.userField && field.userField != vm.ignoredFieldLabel""
	                            		ng-selected="!field.userField">
	                            	{{ vm.ignoredFieldLabel }}
	                            </option>
	                            <option value="{{ field.userField }}"
	                            		ng-selected="true">
	                            	{{ field.userField }}
	                            </option>
	                            <option value="{{ AvailableField }}"
	                            		ng-repeat="AvailableField in vm.AvailableFields"
	                            		ng-if="AvailableField != field.userField">
	                            	{{ AvailableField }}
	                            </option>
                            </select>
						</td>
					</tr>
				</tbody>
			</table>

			<div 	class="container section-validation" 
					ng-repeat="RequiredField in vm.requiredFields" 
					ng-if="vm.FieldMap[RequiredField].userField == vm.ignoredFieldLabel">
				<div class="ten columns offset-one has-error">
					<p class="help-block">
				    	* Required column is unmapped: <i class="orange-text">{{RequiredField}}</i>
					</p>
		    	</div>
		    </div>

			<div 	class="container section-actions" ng-if="!vm.NextClicked">
				<div class="pull-left">
					<button data-ng-click="vm.clickReset()" class="button gray-button nav-button" type="button">
						CANCEL
					</button>
				</div>
				<div class="pull-right">
					<button 
							ng-click="vm.NextClicked = true;" 
							ng-disabled="fieldMappingForm.$invalid || vm.NextClicked || !vm.FormValidated" 
							class="button orange-button nav-button" 
							type="button">
						{{::vm.ResourceUtility.getString('MODEL_IMPORT_CSV_BUTTON_NEXT')}}
					</button>
				</div>
				<div class="pull-right section-actions-tertiary">
					<button 
							ui-sref="home.model.scoring"
							class="button gray-button nav-button" 
							type="button">
						BACK
					</button>
				</div>
			</div>
		</div>
		</form>
	</div>

	<div class="row field-mapping-form">
		<form novalidate name="OptionalFieldMappingForm">
		<div class="ten offset-one columns box-outline" ng-class="{ 'disabled': !vm.NextClicked }">
			<div class="section-header">
				<h4>Optional fields <span class="default" ng-if="!vm.NextClicked">(required fields need to be mapped first)</span></h4>
				<h5 ng-if="vm.NextClicked">
					To get the most accurate scores, every field in your model should match a field in your file.  
					Check that all the fields you want mapped are mapped correctly.
				</h5>
			</div>
			<table class="section-body unstyled" ng-if="vm.NextClicked">
				<thead ng-if="vm.initialized">
					<tr>
						<th>{{::vm.ResourceUtility.getString('MODEL_COLUMNS_CSV_LABEL_FIELD_NAME')}}</th>
						<th>{{::vm.ResourceUtility.getString('MODEL_COLUMNS_CSV_LABEL_FIELDS_IN_FILE')}}</th>
					</tr>
				</thead>

				<tbody>
                    <tr ng-repeat="field in vm.fieldMappings" ng-if="vm.requiredFields.indexOf(field.mappedField) < 0 && field.mappedField != null">
						<td class="field_mapping_label">
							<label 	for="fieldType_{{ field.mappedField }}"
									ng-class="{ 'required': vm.requiredFields.indexOf(field.mappedField) > -1 }">
								{{ field.mappedField }}
							</label>
						</td>
						<td class="field-mapping-inputs">
                            <select required
                            		name="mapping_lattice_field_select_{{ field.mappedField }}"
                            		class="form-control"
                            		ng-class="{ 'required': (field.userField == vm.ignoredFieldLabel && vm.requiredFields.indexOf(field.mappedField) > -1), 'disabled': (field.userField == vm.ignoredFieldLabel && vm.requiredFields.indexOf(field.mappedField) == -1) }"
	                            	ng-model="field.userField"
	                            	ng-change="vm.changeLatticeField(field, field.userField)">
	                            <option value="{{ vm.ignoredFieldLabel }}"
	                            		ng-if="field.userField && field.userField != vm.ignoredFieldLabel""
	                            		ng-selected="!field.userField">
	                            	{{ vm.ignoredFieldLabel }}
	                            </option>
	                            <option value="{{ field.userField }}"
	                            		ng-selected="true">
	                            	{{ field.userField }}
	                            </option>
	                            <option value="{{ AvailableField }}"
	                            		ng-repeat="AvailableField in vm.AvailableFields"
	                            		ng-if="AvailableField != field.userField">
	                            	{{ AvailableField }}
	                            </option>
                            </select>
						</td>
					</tr>
				</tbody>
			</table>

			<div 	class="container section-actions" ng-if="vm.NextClicked">
				<div class="pull-left">
					<button data-ng-click="vm.clickReset()" class="button gray-button nav-button" type="button">
						CANCEL
					</button>
				</div>
				<div class="pull-right">
					<button 
							ng-click="vm.clickNext(); NextClicked2 = true;" 
							ng-disabled="fieldMappingForm.$invalid || NextClicked2 || !vm.FormValidated" 
							class="button orange-button nav-button" 
							type="button">
						{{::vm.ResourceUtility.getString('MODEL_IMPORT_CSV_BUTTON_NEXT')}}
					</button>
				</div>
				<div class="pull-right section-actions-tertiary">
					<button 
							ng-click="vm.NextClicked = false;" 
							class="button gray-button nav-button" 
							type="button">
						REMAP REQUIRED FIELDS
					</button>
				</div>
			</div>
		</div>
		</form>
	</div>
</section>
