$datacloud-color-firmographics: #33bdb7;
$datacloud-color-growth-trends: #65b7e6;
$datacloud-color-intent: #f15a5a;
$datacloud-color-online-presence: #8e71b2;
$datacloud-color-technology-profile: #70bf4a;
$datacloud-color-website-keywords: #fdbc49;
$datacloud-color-website-profile: #26649b;
$datacloud-color-contact: #21a585;
$datacloud-color-product: #cd80bc;
$datacloud-color-engagement: #aac43b;
$datacloud-color-curated-accounts: #a5bd46;
$datacloud-color-my-attributes: #5f529e;
$datacloud-color-lattice-ratings: #f2702f;