@import "./content/dashboard/dashboard.component.scss";
@import "./content/ratingsenginetype/ratingsenginetype.component.scss";
@import "./content/ratingslist/tabs/ratingsenginetabs.component.scss";
@import "./content/ratingslist/ratingslist.component.scss";
@import "./content/segment/segment.component.scss";
@import "./content/summary/summary.component.scss";
@import "./content/creation/creation.component.scss";
@import "./content/prioritization/prioritization.component.scss";
@import "./content/products/products.component.scss";
@import "./content/training/training.component.scss";
@import "./content/attributes/attributes.component.scss";
@import "./content/remodel/remodel.component.scss";
// @import "./content/ratingslist/edit-form.component.scss";

.ratingsengine-content.container,
section.ratingsengine.container {
    *[ng-click]:not(.ignore-ngclick) {
        cursor: pointer;
    }
}
