<div class="summary blue-steel tmb-summary">

    <div class="container">
        <div class="row" ng-controller="SummaryCtrl as summary">
            <div class="three columns">
                <div class="stats black-summary-list">
                    <dl>
                        <dt>Lift Threshold</dt>
                        <dd>{{ summary.LiftTotal | number: 1 }}x at {{ summary.Percentage | number: 0 }}%</dd>
                    </dl>
                </div>
            </div><!-- End .three.columns -->
            <div class="three columns">
                <div class="stats black-summary-list">
                    <dl>
                        <dt>Matching Companies</dt>
                        <dd>
                            {{ summary.MatchedTotal | number: 0 }}
                            <span 
                                ng-show="summary.refreshing" 
                                class="pd-spinner fa fa-spinner fa-pulse">
                            </span>
                        </dd>
                    </dl>
                </div>
            </div><!-- End .three.columns -->
            <div class="three columns">
                <div class="stats black-summary-list">
                    <dl>
                        <dt>Matching Contacts</dt>
                        <dd>{{ summary.ContactsTotal | number: 0 }}</dd>
                    </dl>
                    <a href="#" class="view-samples pull-right">Samples</a>
                </div>
            </div><!-- End .three.columns -->
            <div class="three columns">
                <div class="stats black-summary-list">
                    <dl>
                        <dt>Expected Revenue</dt>
                        <dd>{{ summary.RevenueTotal | currency }}</dd>
                    </dl>
                </div>
            </div><!-- End .three.columns -->          
        </div><!-- End .row -->

        <div class="row" ng-controller="CarouselCtrl as carousel">
            <div class="twelve columns">

                <div class="carousel">
                    <div class="nav-prev" ng-if="carousel.pagesize < carousel.links.length">
                        <div ng-click="carousel.previous()" 
                            href="#" class="prev button icon-button white-button" title="Previous">
                            
                            <i class="fa fa-angle-left"></i>
                        </div>
                    </div>
                    <div 
                        ng-repeat="link in carousel.links | startFrom: (carousel.current - 1) * carousel.pagesize | limitTo: carousel.pagesize"
                        class="carousel-slide-container" 
                        ui-sref-active="active"
                    >
                        <a 
                            ui-sref="builder.category({AttrKey: '{{ link.name }}', ParentKey: '', ParentValue: ''})"
                            ng-click="carousel.click($event)"
                        >
                            <div class="white-border {{ link.color }}-bkg">
                                <span class="ico ico-{{ link.ico }}"></span>
                            </div>
                            <div class="tmb-nav-title">{{ link.label }}</div>
                            <div class="tmb-nav-meta">
                                <span class="badge">{{ link.amount }}</span> of {{ link.total }}
                            </div>
                        </a>
                    </div>
                    <div class="nav-next" ng-if="carousel.pagesize < carousel.links.length">
                        <div ng-click="carousel.next()" 
                            href="#" class="next button icon-button white-button" title="Next">
                            
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>