.tmb-summary {
    height: 200px;
        
    span.pd-spinner {
        font-size: 0.5em;
    }

    div.carousel {
        display: flex !important;
        justify-content: space-between !important;
        margin-bottom: -112px;
        
        &>div {
            width: 100% !important;
            margin-left: 0;
        }
        &>div.carousel-slide-container {
            transition: all 333ms ease;
            overflow: hidden;
        }
        &>div.carousel-slide-container.ng-enter {
            width: 0 !important;
        }
        &>div.carousel-slide-container.ng-enter-active {
            width: 100% !important;
        }
        &>div.carousel-slide-container.ng-leave {
            width: 100% !important;
        }
        &>div.carousel-slide-container.ng-leave-active {
            width: 0 !important;
        }
        &>div.nav-prev {
            text-align: left;
            margin-top: 1em;
            width: 50px !important;
        }
        &>div.nav-next {
            text-align: right;
            margin-top: 1em;
            width: 50px !important;   
        }
    }

    div.carousel-slide-container {
        &.active {
            >a>div.white-border {
                background: #fff;
                
                &.saphire-bkg {
                    border-color: #467dba;

                    span {
                        background: #467dba;
                    }
                }
                &.jade-bkg {
                    border-color: #6fbe4a;

                    span {
                        background: #6fbe4a;
                    }
                }
                &.gold-bkg {
                    border-color: #ffbd48;

                    span {
                        background: #ffbd48;
                    }
                }
                &.amber-bkg {
                    border-color: #f16a22;

                    span {
                        background: #f16a22;
                    }
                }
                &.amethyst-bkg {
                    border-color: #7b4bb2;

                    span {
                        background: #7b4bb2;
                    }
                }
                &.ruby-bkg {
                    border-color: #d22027;

                    span {
                        background: #d22027;
                    }
                }
            }

            .tmb-nav-meta, 
            .tmb-nav-meta .badge,
            .tmb-nav-title {
                font-weight: bold;
            }
        }

        div.white-border {
            perspective: 100px;
            perspective-origin: 50% 50%;
            border-radius: 100%;
            border: #fff solid 6px;
            width: 70px;
            height: 70px;
            margin: 0 auto;
        }
        
        li.active p {
            border-bottom: 5px solid #F16A22;
        }
        
    }
}