.pd-summary-subnav {
    background: #003B67;
    height: 150px;
    margin-bottom: 7em;
    position: relative;

    ul {
        text-align: center;
        margin: 0 auto;
        position: absolute;
        width: 100%;
        bottom: -50px;

        li {
            display: inline-block;
            background: white;
            color: white;
            margin: 0em 1.5em;
            width: 8em;
            height: 8em;
            border-radius: 50%;
            perspective: 100px;
            perspective-origin: 50% 50%; 

            a {
                color: white;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius: 50%;
                margin: 7px;
            }

            i {
                width: 100%;
                height: 100%;
                background: #ccc;
                border-radius: 50%;
                line-height: 2.1em;
                vertical-align: middle;
                font-size: 3em;
                transition: transform 500ms ease, color 500ms linear;
                transform: rotate3d(0,0,0,0deg);
            }

            i::before {
                vertical-align: middle;
            }

            p {
                display: block;
                position: absolute;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                margin: 0.8em auto 0;
                font-size: 1.2em;
                color: #000;
                line-height: 1.3em;
                text-align: center;
                pointer-events: none;
            }
        }
    }
}