<div style="text-align: center">
    <div class="global-error local-error" data-ng-show="showTokenMessage && !tokenSucceeded">
        <div><i class="fa fa-exclamation-circle fa-inverse"></i>&nbsp;Failed to Generate SFDC Access Token<a href="javascript:void(0)" style="padding-left: 50px"><i class="fa fa-times fa-inverse" data-ng-click="closeSFDCMessage()"></i></a></div>
    </div>
    <div data-ng-if="showTokenMessage && tokenSucceeded" class="job-success-message">
        <div>Successful Sent SFDC Access Token<a href="javascript:void(0)"><i class="fa fa-times fa-inverse" data-ng-click="closeSFDCMessage()" style="top: 5px"></i></a></div>
    </div>
    <div>
        <a style="margin-top: 50px" class="button icon-button orange-button" ng-click="generateAndEmailSFDCAccessToken()">
            Generate SFDC Access Token
        </a>
    </div>
</div>
