<div class="container">
    <div class="row">
        <div class="twelve columns">
            <div data-ng-show="loading">
                <div class="loader"> </div>
                <h2 class="text-center">{{ResourceUtility.getString('GENERAL_LOADING')}}</h2>
            </div>
            <div class="global-error local-error" data-ng-show="showTokenMessage && !tokenSucceeded">
                <div><i class="fa fa-exclamation-circle fa-inverse"></i>&nbsp;Failed to Generate Salesforce Access Token<a href="javascript:void(0)" style="padding-left: 50px"><i class="fa fa-times fa-inverse" data-ng-click="closeSFDCMessage()"></i></a></div>
            </div>
            <div data-ng-if="showTokenMessage && tokenSucceeded" class="job-success-message">
                <div>We have sent you an email with an access token and instructions for authenticating with Salesforce.<a href="javascript:void(0)"><i class="fa fa-times fa-inverse" data-ng-click="closeSFDCMessage()" style="top: 5px"></i></a></div>
            </div>
            <div class="text-center" data-ng-show="!loading">
                <a style="margin-top: 50px" class="button icon-button orange-button" ng-click="generateAndEmailSFDCAccessTokenClicked()">
                    Generate Salesforce Access Token
                </a>
            </div>
        </div>
    </div>
</div>
