<ng-form novalidate class="edit-form" 
        name="editNameDescription" 
        ng-click="$event.stopPropagation()">
    <div class="form-group">
        <label for="{{$ctrl.config.fields.name.fieldname}}" >Name
            <input type="text" 
                autofocus
                maxlength="{{$ctrl.config.fields.name.maxLength}}" 
                name="{{$ctrl.config.fields.name.fieldname}}" 
                class="form-control" 
                ng-model="$ctrl.name"
                ng-disabled="$ctrl.saving"
                required>
            <span>{{$ctrl.config.fields.name.maxLength - $ctrl.name.length}} characters remaining</span>
    </div>
    <div class="form-group" ng-if="$ctrl.showDescription">
        <label for="description">Description</label>
        <textarea 
            class="form-control" 
            name="description" 
            maxlength="{{$ctrl.config.fields.description.maxLength}}" 
            ng-trim="false"
            ng-model="$ctrl.description"
            ng-disabled="$ctrl.saving"></textarea>
        <span>{{$ctrl.config.fields.description.maxLength - $ctrl.description.length}} characters remaining</span>
    </div>
    <div class="actions">
        <button type="button" 
                class="button white-button pull-left" 
                ng-disabled="$ctrl.saving" 
                ng-click="$ctrl.cancel($event)">
            Cancel</button>
        <button type="button" 
                class="button blue-button pull-right" 
                ng-click="$ctrl.save($event)" 
                ng-disabled="$ctrl.saving || !$ctrl.isValid(editNameDescription)" 
                ng-if="!$ctrl.saving">
            Save</button>
        <button type="button" 
                class="button gray-button pull-right" 
                ng-disabled="$ctrl.saving" 
                ng-if="$ctrl.saving">
            Saving...</button>
    </div>
</ng-form>
