<div class="container setup-import">
    <form name="AccountLookupForm" novalidate>
        <div class="row">
            <div class="columns eight offset-two box-outline">
                <div class="section-header">
                    <h4>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_HEADER') }}</h4>
                    <!--h5>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_SUBHEADER') }}</h5-->
                </div>

                <hr />

                <div class="section-body with-padding" ng-enter="vm.validate() && vm.next()">
                    <div class="form-group" ng-if="vm.iframeMode">
                        <label>Record JSON (optional)</label>
                        <input
                            type="text"
                            class="form-control required"
                            name="JSON"
                            ng-model="vm.json"
                            ng-change="vm.parse()"
                            placeholder='{"Authentication":"<access code>","request":{"record":{"CompanyName":"Lattice Engines","Website":"www.lattice-engines.com"}}}' />
                    </div>

                    <hr size="1" ng-if="vm.iframeMode">

                    <div class="form-group" ng-if="vm.iframeMode">
                        <label>Access Token</label>
                        <input
                            type="text"
                            class="form-control required"
                            ng-class="{'lookup-required': vm.requiredMissingField.Authentication}"
                            name="Authentication"
                            ng-model="vm.Authentication"
                            placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" />
                    </div>

                    <div class="form-group">
                        <label>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_WEBSITE') }}</label>
                        <input
                            type="text"
                            class="form-control required"
                            ng-class="{'lookup-required': vm.requiredMissingField.Website}"
                            name="Website"
                            ng-model="vm.request.record.Domain"
                            ng-change="vm.request.record.Website = vm.request.record.Domain"
                            placeholder="Ex: www.domain.com" />
                    </div>

                    <div class="form-group">
                        <label>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_COMPANYNAME') }}</label>
                        <input
                            type="text"
                            class="form-control required"
                            ng-class="{'lookup-required': vm.requiredMissingField.CompanyName}"
                            name="CompanyName"
                            ng-model="vm.request.record.CompanyName"
                            ng-disabled="vm.request.record.DUNS.length > 0"
                            placeholder="Please provide the full name for better match" />
                    </div>

                    <div class="row">
                        <div class="columns six form-group">
                            <label>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_DUNS') }}</label>
                            <input
                                type="text"
                                class="form-control required"
                                ng-class="{'lookup-required': vm.requiredMissingField.DUNS}"
                                name="DUNS"
                                ng-model="vm.request.record.DUNS"
                                placeholder="Please provide the 9 digit DUNS number" />
                        </div>

                        <div class="columns six offset-six form-group align-right">
                            <label>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_CITY') }}</label>
                            <input
                                type="text"
                                class="form-control"
                                ng-class="{'lookup-required': vm.requiredMissingField.City}"
                                name="City"
                                ng-model="vm.request.record.City"
                                ng-disabled="vm.request.record.DUNS.length > 0"
                                placeholder="Ex: 12345" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="columns six form-group">
                            <label>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_STATE') }}</label>
                            <input
                                type="text"
                                class="form-control"
                                ng-class="{'lookup-required': vm.requiredMissingField.State}"
                                name="State"
                                ng-model="vm.request.record.State"
                                ng-disabled="vm.request.record.DUNS.length > 0"
                                placeholder="" />
                        </div>

                        <div class="columns six offset-six form-group align-right">
                            <label>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_ZIP') }}</label>
                            <input
                                type="text"
                                class="form-control"
                                name="PostalCode"
                                ng-model="vm.request.record.PostalCode"
                                ng-disabled="vm.request.record.DUNS.length > 0"
                                placeholder="Ex: 12345" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="columns six form-group">
                            <label>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_COUNTRY') }}</label>
                            <input
                                type="text"
                                class="form-control"
                                ng-class="{'lookup-required': vm.requiredMissingField.Country}"
                                name="Country"
                                ng-model="vm.request.record.Country"
                                ng-disabled="vm.request.record.DUNS.length > 0"
                                placeholder="" />
                        </div>

                        <div class="columns six offset-six form-group align-right">
                            <label>{{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_PHONE') }}</label>
                            <input
                                type="text"
                                class="form-control"
                                name="PhoneNumber"
                                ng-model="vm.request.record.PhoneNumber"
                                ng-disabled="vm.request.record.DUNS.length > 0"
                                placeholder="Ex: 999-555-1234" />
                        </div>
                    </div>
                </div>

                <hr />

                <div class="section-actions container row form-actions">
                    <div class="pull-left">
                        <button
                            type="button"
                            class="button white-button block-button"
                            ui-sref="home.datacloud.explorer">
                          {{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_CANCEL') }}</button>
                    </div>
                    <div class="pull-right">
                        <button
                            type="button"
                            ng-click="vm.next()"
                            class="button blue-button block-button"
                            ng-disabled="!vm.validate()">
                          {{ ::vm.ResourceUtility.getString('ACCOUNT_LOOKUP_FORM_NEXT') }}
                        </button>
                    </div>
                </div>
            </div><!-- End .six.columns -->
        </div><!-- End .container.row -->
    </form>
</div>
