.remodel {
    .header {
        h2 {
            padding-left: 0;
            margin-bottom: 10px;
        }
        p {
            font-size: 12px;
        }        
    }
    .content-body {
        padding: 20px 0;
    }
    .filters {
        margin-bottom: 20px;
    }
    .fa-toggle-on {
        color: #60af3a;
    }
    .fa-toggle-off {
        color: #aaa;
    }
    .ico {
        &.ico-warning {
            width: 20px;
            height: 18px;
            background-image: url("data:image/svg+xml;utf8,<svg width='20px' height='18px' viewBox='0 0 20 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g id='3rd-iteration' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g id='create-play-copy-9' transform='translate(-1152.000000, -542.000000)' fill='%23F5A623'><path d='M1160.07496,554.185103 C1159.66016,554.185103 1159.32169,553.831981 1159.32169,553.424961 C1159.32169,553.004931 1159.66016,552.652738 1160.07496,552.652738 C1160.48976,552.652738 1160.83834,553.004931 1160.83834,553.424961 C1160.83834,553.831981 1160.48976,554.185103 1160.07496,554.185103 Z M1160.77304,546.723071 L1160.57622,551.825688 L1159.58382,551.825688 L1159.37688,546.723071 L1160.77304,546.723071 Z M1159.99954,542.5395 L1152.5,555.6645 L1167.5,555.6645 L1159.99954,542.5395 Z' id='Fill-16'></path></g></g></svg>");
            background-position: center center;
        }
    }
    thead {
        tr {
            th:nth-child(1){
                width: 10%;
            }
            th:nth-child(2){
                width: 12%;
                font-size: 12px;
            }
            th:nth-child(3){
                width: 16%;
                font-size: 12px;
            }
            th:last-of-type {
                text-align: right;
                width: 14%;
            }
        }
    }
    tbody {
        tr {
            td:last-of-type {
                text-align: right;
            }
            &.disabled {
                background: #e0e0e0;
                color: #989898;
                .ico {
                    &.ico-check {
                        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='15px' viewBox='0 0 20 15' version='1.1'><g xmlns='http://www.w3.org/2000/svg' fill='%23989898' fill-rule='nonzero'><path d='M17.8839585,0.353500929 C17.643229,0.117781929 17.3505543,0 17.0065649,0 C16.6624157,0 16.3697409,0.117781929 16.1290114,0.353500929 L7.66453082,8.64907179 L3.87098841,4.9242165 C3.63010125,4.68849771 3.33758197,4.57071579 2.9935926,4.57071579 C2.64944557,4.57071579 2.35692848,4.68849771 2.11604132,4.9242165 L0.3612519,6.64135393 C0.120364744,6.87707271 0,7.16331407 0,7.50007757 C0,7.83668593 0.120364744,8.12308221 0.3612519,8.35864607 L5.03219011,12.9293619 L6.7871372,14.6464991 C7.02786669,14.8822181 7.32038378,15 7.66453082,15 C8.00852018,15 8.30103728,14.8820631 8.54192443,14.6464991 L10.2968737,12.9293619 L19.6387479,3.7879305 C19.8794774,3.5522115 19.9999998,3.26597036 19.9999998,2.92920686 C20.0001575,2.59259829 19.8794774,2.30635714 19.6387479,2.07063814 L17.8839585,0.353500929 Z' id='Shape'/></g></svg>"); 
                    }
                    &.ico-warning {
                        background-image: url("data:image/svg+xml;utf8,<svg width='20px' height='18px' viewBox='0 0 20 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g id='3rd-iteration' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g id='create-play-copy-9' transform='translate(-1152.000000, -542.000000)' fill='%23989898'><path d='M1160.07496,554.185103 C1159.66016,554.185103 1159.32169,553.831981 1159.32169,553.424961 C1159.32169,553.004931 1159.66016,552.652738 1160.07496,552.652738 C1160.48976,552.652738 1160.83834,553.004931 1160.83834,553.424961 C1160.83834,553.831981 1160.48976,554.185103 1160.07496,554.185103 Z M1160.77304,546.723071 L1160.57622,551.825688 L1159.58382,551.825688 L1159.37688,546.723071 L1160.77304,546.723071 Z M1159.99954,542.5395 L1152.5,555.6645 L1167.5,555.6645 L1159.99954,542.5395 Z' id='Fill-16'></path></g></g></svg>");
                    }
                }
            }
        }
    }
}