<div class="summary blue-fire">
	<div class="nav">
        <div class="button angled-button {{metadata.toggle.show.selected ? '' : 'active'}}" ng-click="selectToggle(false);">
            <a href="javascript:void(0)"><span>Available Attributes</span></a>
        </div>
        <div class="button angled-button {{metadata.toggle.show.selected ? 'active' : ''}}" ng-click="selectToggle(true);">
            <a href="javascript:void(0)"><span>Selected Attributes</span></a>
        </div>
	</div>
</div>