<div class="import-customfields container file-import-content">
  <div class="header">
    <h2>Custom Fields</h2>
    <p>
      You can add custom fields by adding columns in your CSV file with whatever
      data you wish to provide. All unmapped fields (non-ID and non-Lattice
      fields) are considered Custom Fields unless you choose to ignore them. You
      can always add more Custom Fields later.
    </p>
  </div>
  <div class="alert">
    <p>
      {{ filtered.length - vm.getNumberDroppedFields() }} 
      new Custom Fields have been found.
      
    </p>
    <p ng-if="vm.getNumberDroppedFields() > 0">
      Field(s) dropped by default: {{ vm.getNumberDroppedFields() }}
    </p>
  </div>
  <form name="vm.form">
    <div class="le-grid custom-fields-grid" ng-init="fieldMapping = fieldMapping || {}">
      <div class="le-header le-row">
        <div class="le-cell le-col-span-5">
          <div class="container-flex">
            <span>Custom Field</span>
            <div>
              <span class="more-info">&#105;
                <div class="tooltip_">
                  <div class="cover">
                    <p>
                      Unmapped fields are shown here and will be treated as Custom
                      Fields unless Ignored.
                    </p>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class="le-cell le-col-span-5">
          <div class="container-flex">
            Type
            <div>
              <span class="more-info">&#105;
                <div class="tooltip_">
                  <div class="cover">
                    <p>
                      Type is important for our databases to function correctly.
                      If you aren't sure what to choose just leave it as "Text".
                    </p>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class="le-cell le-col-span-2">
          <div class="container-flex">
            <input
              type="checkbox"
              name="ignore_all"
              id="toggleIgnore"
              ng-model="checked"
              ng-change="vm.toggleIgnores(checked, fieldMapping)"
            />
            <label for="toggleIgnore">Ignore</label>
            <div>
              <span class="more-info">&#105;
                <div class="tooltip_">
                  <div class="cover">
                    <p>
                      Ignore will supress the field from appearing in the system,
                      useful when you have excess columns in your CSV file.
                    </p>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-body le-row" ng-repeat="field in vm.AvailableFields | filter: vm.filterStandardList as filtered">
        <div class="le-cell le-col-span-5">
          <span>{{ field.userField }}</span>
        </div>
        <div class="le-cell le-col-span-5">
          <div class="field-type">
            <select ng-disabled="fieldMapping[field.userField].ignore === true" class="form-control select-type"
              ng-class=" fieldMapping[field.userField].fieldType == 'DATE' ? 'date-type' : ''" name="columnType_{{ ::field.userField }}"
              ng-model="fieldMapping[field.userField].fieldType" ng-init="fieldMapping[field.userField].fieldType = field.fieldType"
              ng-change="vm.changeType(fieldMapping, field)" value="{{ field.fieldType }}">
              <option value="TEXT" selected>Text</option>
              <option value="NUMBER">Number</option>
              <option value="INTEGER">Integer</option>
              <option value="BOOLEAN">Boolean</option>
              <option value="DATE">Date</option>
            </select>
            <date-field-component ng-if="fieldMapping[field.userField].fieldType == 'DATE'" 
                field="field" 
                dateformat="field.dateFormatString" timeformat="field.timeFormatString" timezone="field.timezone"
                ignore="fieldMapping[field.userField].ignore === true"
                update="vm.updateFormats(formats)"
                tooltiptxt="{{vm.fieldDateTooltip}}"
                validate="true"></date-field-component>
           
          </div>
        </div>
        <div class="le-cell le-col-span-2">
          <input type="checkbox" id="{{ field.userField }}" ng-model="fieldMapping[field.userField].ignore" ng-change="vm.changeIgnore(fieldMapping)"
            ng-disabled="field.defaultIgnored === true" />
          <label for="{{ field.userField }}">Ignore</label>
        </div>
      </div>
    </div>
  </form>

  <div ng-if="vm.extraFieldMappingInfo.existing_mappings.length">
    <div class="alert existing-mappings">
      <p>
        {{vm.extraFieldMappingInfo.existing_mappings.length}} 
        pre-existing Custom Fields have been found.
      </p>
    </div>
    <form name="form">
      <div class="le-grid custom-fields-grid">
        <div class="le-header le-row">
          <div class="le-cell le-col-span-5">
            <div class="container-flex">
              <span>Custom Field</span>
            </div>
          </div>
          <div class="le-cell le-col-span-5">
            <div class="container-flex">
              Type
            </div>
          </div>
          <!-- <div class="le-cell le-col-span-2">
            <div class="container-flex">
              <input type="checkbox" ng-disabled="true"/> <label>Ignore</label>
            </div>
          </div> -->
        </div>
        <div class="grid-body le-row" ng-repeat="field in vm.extraFieldMappingInfo.existing_mappings">
          <div class="le-cell le-col-span-5">
            <span>{{ field.userField }}</span>
          </div>
          <div class="le-cell le-col-span-7">
            <div class="field-type pre-existing ">
              <span>{{field.fieldType}}</span>
              <div class="date-options-info">
                  <span>{{vm.getDateFormatFromLatticeSchema(field.mappedField)}}</span>
                  <div class="time-format-info">
                      <span>{{vm.getTimeFormatFromLatticeSchema(field.mappedField)}}</span>
                      <span>{{vm.getTimezoneFromLatticeSchema(field.mappedField)}}</span>
                  </div>
              </div>
            </div>
          </div>
          <!-- <div class="le-cell le-col-span-5">
            <div class="field-type">
              <select ng-disabled="true" class="form-control select-type">
                <option value="{{field.fieldType}}" selected>{{field.fieldType}}</option>
              </select>
            </div>
          </div>
          <div class="le-cell le-col-span-2">
            <input type="checkbox" ng-disabled="true" /> <label>Ignore</label>
          </div> -->
        </div>
      </div>
    </form>
  </div>

  <div ng-if="vm.extraFieldMappingInfo.missed_mappings.length">
    <div class="alert missing-mappings">
      <p>
        {{vm.extraFieldMappingInfo.missed_mappings.length}} 
        pre-existing Custom Fields are missing from your import file. New records will be missing that information.
      </p>
    </div>
    <form name="form">
      <div class="le-grid custom-fields-grid">
        <div class="le-header le-row">
          <div class="le-cell le-col-span-5">
            <div class="container-flex">
              <span>Custom Field</span>
            </div>
          </div>
          <div class="le-cell le-col-span-7">
            <div class="container-flex">
              Type
            </div>
          </div>
        </div>
        <div class="grid-body le-row" ng-repeat="field in vm.extraFieldMappingInfo.missed_mappings ">
          <div class="le-cell le-col-span-5">
            <span>{{ field.userField }}</span>
          </div>
          <div class="le-cell le-col-span-7">
            <div class="field-type pre-existing ">
              <span>{{field.fieldType}}</span>
              <div class="date-options-info">
                  <span>{{vm.getDateFormatFromLatticeSchema(field.mappedField)}}</span>
                  <div class="time-format-info">
                      <span>{{vm.getTimeFormatFromLatticeSchema(field.mappedField)}}</span>
                      <span>{{vm.getTimezoneFromLatticeSchema(field.mappedField)}}</span>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>