.import-customfields {
  & > .header {
    h2 {
      background-image: url("/assets/images/ico-custom-fields-dark.png");
      margin-bottom: 20px;
    }
  }

  .alert {
    border: 0;
    position: relative;
    color: white;
    background-color: #457eba;
    padding: 5px 10px;
    padding-left: 30px;
    margin-top: 20px;
    img {
      margin-right: 10px;
    }
    &:after {
      @include font-awesome-inline("\f0ce");
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }
    &.updated {
      background-color: #70bf4a;
      &:after {
        @include font-awesome-inline("\f00c");
      }
    }
    &.existing-mappings {
      background-color: #6fbf4a;
      &:after {
        @include font-awesome-inline("\f00c");
      }
    }
    &.missing-mappings {
      background-color: #f16a24;
      &:after {
        @include font-awesome-inline("\f071");
      }
    }
  }
  .customfields {
    width: 100%;
    .customfield {
      padding: 5px;
      &:nth-child(1) {
        font-weight: bold;
        border-bottom: 2px solid #ddd;
      }
      &:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.04);
      }
      select {
        width: auto;
      }
      .field {
        @include flex-container;
        & > li {
          @include flex-item(0 1 auto);
          @include text-ellipsis;
          width: calc((100% - 80px) / 2);
          &.ignore {
            width: 90px;
            label {
              display: inline;
            }
          }
          & > input {
            vertical-align: middle;
          }
          &.date-options {
            display: flex;
            flex-wrap: wrap;
            // border: 2px solid green;
          }
        }
        & > .type {
          display: flex;
          // border: 1px solid red;
          flex-wrap: wrap;
          .time-zones {
            padding-top: 0.5em;
          }
        }
      }
      &.customfield-header {
        .field {
          & > li {
            overflow: visible;
            white-space: normal;
          }
        }
      }
    }
  }
  .le-info {
    background-color: #467dba;
  }
  .grid-body {
    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

  .le-grid .le-cell {
    min-height: 20px;
    height: 100%;
    font-size: 100%;
    width: 100%;
  }
  .custom-fields-grid {
    width: 100%;
  }
  .field-type {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &.pre-existing {
      flex: 1;
      justify-content: space-between;
      align-items: stretch;
      height: 100%;
     
      & > span {
        padding: 0 0.5em 0 0;
        display: flex;
        align-items: center;
      }

      .date-options-info {
        align-items: center;
        display: flex;
        flex: 1;
        align-items: center;
        span {
          padding: 0 0.2em;
        }
        .time-format-info {
          width: 100%;
          display: flex;
          // justify-content: space-evenly;
          flex-wrap: wrap;
        }
      }
    }
    select.select-type {
      width: 100%;
      max-width: 110px;
    }
    select.date-type {
      margin-top: 0.75em;
    }

    .date-options {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0.4em;
      flex-direction: column;

      select {
        margin-top: 0.4em;
        margin-bottom: 0.4em;
        max-width: 170px;
      }
      .date-format-container {
        width: 100%;
        display: inline-flex;
        .more-info {
          position: absolute;
          margin-top: 1em;
          margin-left: 0.5em;
        }
      }
    }
  }
  .le-header {
    .container-flex {
      & > label {
        width: auto;
        font-weight: bold;
      }
    }
  }
  .container-flex {
    width: 100%;
    display: flex;
    .more-info {
      position: absolute;
      margin-top: 0em;
      margin-left: 0.5em;
    }
  }
}
