.import-customfields {
    & > .header {
        h2 {
            background-image: url('/assets/images/ico-custom-fields-dark.png');
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 20px;
        }
    }

    .alert {
        border: 0;
        position: relative;
        color: white;
        background-color: #457eba;
        padding: 5px 10px;
        padding-left: 30px;
        margin-bottom: 20px;
        img {
            margin-right: 10px;
        }
        &:after {
            @include font-awesome-inline("\f0ce");
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
        }
        &.updated {
            background-color: #70bf4a;
            &:after {
            @include font-awesome-inline("\f00c");
            }
        }
    }
    .customfields {
        width: 100%;
        .customfield {
            padding: 5px;
            &:nth-child(1) {
                font-weight: bold;
                border-bottom: 2px solid #ddd;
            }
            &:nth-child(even) {
                background-color: rgba(0,0,0,.04);
            }
            select {
                width: auto;
            }
            .field {
                @include flex-container;
                & > li {
                    @include flex-item(0 1 auto);
                    @include text-ellipsis;
                    width: calc((100% - 80px) / 2);
                    &.ignore {
                        width: 90px;
                        label {
                            display: inline;
                        }
                    }
                    & > input {
                        vertical-align: middle;
                    }
                    &.DATE{
                        display: inline-flex;
                        
                    }
                }
            }
            &.customfield-header {
                .field {
                    & > li {
                        overflow: visible;
                        white-space: normal;
                    }
                }
            }
        }

    }
}