<div class="date-options">
    <div class="date-format-container" ng-disab>
        <select ng-disabled="$ctrl.ignore == true" class="form-control" ng-model="$ctrl.dateformat" ng-change="$ctrl.updateFormats()">
            <option value="{{ list }}" class="default-value">(Date Format)</option>
            <option ng-repeat="list in $ctrl.dateFormats" value="{{ list }}">{{ list }}</option>
        </select>
        <div ng-if="$ctrl.getTooltip() != undefined">
            <span class="more-info">&#105;
                <div class="tooltip_">
                    <div class="cover">
                        <p>
                            {{$ctrl.getTooltip()}}
                        </p>
                    </div>
                </div>
            </span>
        </div>
    </div>
    <select class="form-control time-format" ng-disabled="$ctrl.ignore == true" ng-model="$ctrl.timeformat" ng-change="$ctrl.updateFormats()">
        <option value="{{ list }}" class="default-value">(Time Format)</option>
        <option ng-repeat="list in $ctrl.timeFormats" value="{{ list }}">{{ list }}</option>
    </select>
    <div class="time-zones">
        <select class="form-control" ng-disabled="$ctrl.ignore == true" ng-model="$ctrl.timezone" ng-change="$ctrl.updateFormats()">
            <option value="{{ list }}" class="">(Time Zone)</option>
            <option ng-repeat="list in $ctrl.timeZones" value="{{ list }}">{{ list }}</option>
        </select>
    </div>
</div>