.playbook-dashboard {
    .container-body {
        @include flex-container;
        width: 100%;
        .dashboard-column {
            @include flex-container;
            flex-direction: column;
            @include flex-item(1 1 auto);
            width: 50%;
            max-width: 50%;
        }
        .dashboard-section {
            @include flex-item(1 1 auto);
            width: 100%;
            height: 100%;
            padding-right: 10px;
            padding-bottom: 10px;
            .dashboard-section-container {
                @include flex-container;
                flex-direction: column;
                height: 100%;
                background-color: white;
                border-radius: 4px;
                border: solid 1px #d0d0d0;
                .dashboard-section-header,
                .dashboard-section-content,
                .dashboard-section-footer {
                    padding: 10px 30px;
                }
                .dashboard-section-header {
                    @include flex-item(0 1 auto);
                    border-bottom: 1px solid #d0d0d0;
                    h2 {
                        background-repeat: no-repeat;
                        background-image: url('/assets/images/ico-settings.png');
                        background-position: left center;
                        padding-left: 35px;
                    }
                }
                .dashboard-subsection-header {
                    h3 {
                        font-weight: bold;
                        text-align: center;
                        font-size: 16px;
                        text-transform: none;
                    }
                }
                .dashboard-section-content {
                    @include flex-item(1 1 auto);
                    p {
                        word-wrap: break-word;
                        overflow-wrap: break-word;
                    }
                    .dashboard-section-content-subsection {
                        position: relative;
                        border-radius: 4px;
                        border: solid 1px #d0d0d0;
                        padding: 10px;
                        padding-left: 60px;
                        margin: 10px 0;
                        background-repeat: no-repeat;
                        background-position: 20px;
                        h4 {
                            font-weight: normal;
                            text-transform: uppercase;
                        }
                        h5 {
                            font-weight: bold;
                        }
                        h4, h5 {
                            font-size: 15px;
                            margin-right: 85px;
                            overflow: hidden;
                        }
                        .controls {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 10px;
                            li {
                                display: inline-block;
                                padding: 0 5px;
                            }
                        }
                        &.rating_ {
                            background-image: url(/assets/images/ico-model-black.png);
                        }
                        &.segment {
                            background-image: url(/assets/images/ico-segments.png);
                            button {
                                padding: 0 .5em;
                            }
                        }
                        &.talking-points {
                            background-image: url('/assets/images/ico-insights.png');
                        }
                        &.ratings {
                            .dashboard-subsection-header {
                                margin-top: 20px;
                            }
                        }
                    }
                }
                .dashboard-section-footer {
                    @include flex-item(0 1 auto);
                    border-top: 1px solid #d0d0d0;
                    text-align: right;
                }
            }
            time {
                text-transform: lowercase;
            }
            &.play {
                .dashboard-section-header {
                    border-bottom: 0;
                    h2 {
                        padding: 0;
                        background: none;
                    }
                }
            }
            &.talking-points {
                .dashboard-section-header {
                    h2 {
                        background-image: url('/assets/images/ico-insights.png');
                    }
                }
            }
        }
        .ratings-graph {
            @include flex-container;
            justify-content: center;
            height: 200px;
            & > ._rating {
                @include flex-item(0 0 auto);
                @include flex-container;
                flex-direction: column;
                justify-content: flex-end;
                margin: 0 15px;
                width: 55px;
                div {
                    @include flex-item(0 0 auto);
                    text-align: center;
                }
                color: rgba(0,0,0,.5);
                .rating-count {
                    border-bottom: 5px solid rgba(0,0,0,.7);
                    margin-bottom: 3px;
                }
                .rating-bar {
                    background-color: rgba(0,0,0,.5);
                }
                &:nth-child(1) {
                    color: #70bf4a;
                    .rating-count {
                        border-bottom-color: #0f9e4d;
                    }
                    .rating-bar {
                        background-color: #70bf4a;
                    }
                }
                &:nth-child(2) {
                    color: #33bdb7;
                    .rating-count {
                        border-bottom-color: #149188;
                    }
                    .rating-bar {
                        background-color: #33bdb7;
                    }
                }
                &:nth-child(3) {
                    color: #cd80bc;
                    .rating-count {
                        border-bottom-color: #aa5299;
                    }
                    .rating-bar {
                        background-color: #cd80bc;
                    }
                }
                &:nth-child(4) {
                    color: #8e71b2;
                    .rating-count {
                        border-bottom-color: #7851a1;
                    }
                    .rating-bar {
                        background-color: #8e71b2;
                    }
                }
                &:nth-child(5) {
                    color: #457eba;
                    .rating-count {
                        border-bottom-color: #26649b;
                    }
                    .rating-bar {
                        background-color: #457eba;
                    }
                }
            }
        }
    }
}
