<section class="container playbook-dashboard">
    <div class="container-body">
        <div class="dashboard-section play">
            <div class="dashboard-section-container">
                <div class="dashboard-section-header">
                    <h2>{{ vm.play.display_name||'Play Name' }}</h2>
                    Created by someone on <time>{{vm.play.timestamp|date:'M/d/yyyy \'at\' h:mm:ssa'}}</time>
                </div>
                <div class="dashboard-section-content">
                    <a ui-sref="home.playbook.wizard.settings({play_name: vm.play.name})">temp edit link</a>
                    <pre>{{vm.play|json}}</pre>
                </div>
            </div>
        </div>

        <div class="dashboard-section talking-points">
            <div class="dashboard-section-container">
                <div class="dashboard-section-header">
                    <h2>Talking points:</h2>
                </div>
                <div class="dashboard-section-content">
                    <pre>{{vm.talkingPoints|json}}</pre>
                </div>
            </div>
        </div>

        <div class="dashboard-section notes">
            <div class="dashboard-section-container">
                <div class="dashboard-section-header">
                    <h2>Notes:</h2>
                </div>
                <div class="dashboard-section-content">
                    <pre>{{vm.notes|json}}</pre>
                </div> 
            </div>
        </div>

        <div class="dashboard-section launch-history">
            <div class="dashboard-section-container">
                <div class="dashboard-section-header">
                    <h2>Last launch:</h2>
                </div>
                <div class="dashboard-section-content">
                    <pre>{{vm.launchHistory|json}}</pre>
                </div>
            </div>
        </div>
    </div>
</section>