<div id="forgotPasswordModal" class="modal-dialog modal-sm" data-ng-controller="ForgotPasswordController">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">{{ResourceUtility.getString('FORGOT_PASSWORD_TITLE')}}</h4>
        </div>
        <div class="modal-body">
            <p>{{ResourceUtility.getString('FORGOT_PASSWORD_MESSAGE')}}</p>
            <input  type="text" 
                    name="email" 
                    placeholder="{{ResourceUtility.getString('FORGOT_PASSWORD_INPUT_PLACEHOLDER')}}" 
                    autocomplete="off" 
                    class="form-control placeholder-no-fix" 
                    data-ng-enter="forgotPasswordClick()"
                    data-ng-model="username">
            </input>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="forgotPasswordClick()">{{ResourceUtility.getString('BUTTON_SUBMIT_LABEL')}}</button>
            <button data-dismiss="modal" class="btn btn-default" type="button">{{ResourceUtility.getString('BUTTON_CANCEL_LABEL')}}</button>
        </div>
    </div>
</div>