<div id="loginMainView" data-ng-controller="LoginController">
    <div id="loginHeaderMessage" class="login-error-container" data-ng-show="showLoginError">
        <p>
            {{loginErrorMessage}}
        </p>
    </div>
    <div class="notification-forgot-password" data-ng-show="showSuccessMessage">
        <p>
            {{successMessage}}
        </p>
    </div>
    <div id="loginFormPanel" class="form-signin">
        <div id="loginForm" class="login-form-container">
            <h2 class="form-signin-heading">
                <img src="assets/images/logo_lattice.png" alt="Lattice">
            </h2>
            <div class="login-wrap">
                <div class="user-login-info">
                    <input  type="text" 
                            id="username" 
                            autocomplete="off" 
                            data-ng-model="username" 
                            data-ng-enter="loginClick()" 
                            title="{{ResourceUtility.getString('LOGIN_USERNAME')}}" 
                            placeholder="{{ResourceUtility.getString('LOGIN_USERNAME')}}" 
                            class="form-control" 
                            autofocus>
                    <input  type="password"  
                            id="password"
                            autocomplete="off" 
                            data-ng-model="password" 
                            data-ng-enter="loginClick()" 
                            title="{{ResourceUtility.getString('LOGIN_PASSWORD')}}" 
                            placeholder="{{ResourceUtility.getString('LOGIN_PASSWORD')}}" 
                            class="form-control">
                </div>
                <div class="user-login-info-buttonforgot">
                    <div class="btn btn-primary login-button" data-ng-show="loginInProgess">
                        <span class="form-processing-spinner"></span>
                    </div>
                    <button id="loginButton" type="submit" data-ng-click="loginClick()" class="btn btn-primary login-button" data-ng-show="!loginInProgess">
                        {{ResourceUtility.getString('LOGIN_LABEL')}}
                    </button>
                    <span class="pull-right forgot-pass"> <a data-toggle="modal" href="#myModal" data-ng-click="forgotPasswordClick($event)">{{ResourceUtility.getString('LOGIN_FORGOT_PASSWORD_LABEL')}}</a> </span> 
                </div>
            </div>
        </div>
        <p class="signin-footer">© {{copyrightString}} <a href="#" data-ng-click="privacyPolicyClick($event)">{{ResourceUtility.getString('HEADER_PRIVACY_POLICY')}}</a> </p>
    </div>
</div>