<section class="panel panel-base" data-ng-controller="UpdatePasswordController">
    <div class="panel-body main-panel-body">
        <div class="row">
            <div class="col-md-7">
                <h1>{{ResourceUtility.getString('UPDATE_PASSWORD_TITLE')}}</h1>
                <div class="row alert-holder">
                    <div id="changePasswordSuccessAlert" class="alert alert-success">
                        {{ResourceUtility.getString("CHANGE_PASSWORD_SUCCESS")}}
                    </div>
                    <div id="validateAlertError" class="alert alert-danger">
                            {{validateErrorMessage}}
                    </div>
                </div>
                <form>
                    <div class="form-group">
                        <label for="">{{ResourceUtility.getString('CURRENT_PASSWORD_LABEL')}}<span class="required-mark">*</span></label>
                        <input type="password" class="form-control" id="" placeholder="" data-ng-model="oldPassword" data-ng-class="oldPasswordInputError">
                    </div>
                    <div class="form-group">
                        <label for="">{{ResourceUtility.getString('NEW_PASSWORD_LABEL')}}<span class="required-mark">*</span></label>
                        <input type="password" class="form-control" id="" placeholder="" data-ng-model="newPassword" data-ng-class="newPasswordInputError">
                    </div>
                    <div class="form-group">
                        <label for="">{{ResourceUtility.getString('CONFIRM_NEW_PASSWORD_LABEL')}}<span class="required-mark">*</span></label>
                        <input type="password" class="form-control" id="" placeholder="" data-ng-model="confirmPassword" data-ng-class="confirmPasswordInputError">
                    </div>
                    <p>
                        <div class="btn btn-primary update-button" data-ng-show="saveInProgess">
                            <span class="form-processing-spinner"></span>
                        </div>
                        <button class="btn btn-primary update-button" type="submit" data-ng-click="updatePasswordClick()" data-ng-show="!saveInProgess">{{ResourceUtility.getString('BUTTON_UPDATE_LABEL')}}</button>
                    </p>
                </form>
            </div>
            <div class="col-md-5"> 
                <img src="assets/images/illustration-ss-topper.png" alt="" style="width:100%"> 
            </div>
        </div>
    </div>
 </section>