<div class="container talking-point-container">
    <div>
        <h2>Talking Points</h2>
        <p>Talking points enable your reps to have successful sales conversation with messages that resonate with decision makers and influencers. Define general or dynamic, customer-specific talking points to give additional context to the rep. This content will be visible immediately if this play is live, without the need to rescore or re-launch.</p>
        <hr />
        <div ng-repeat="tp in vm.talkingPoints | orderBy:'Offset'" class="tp-entry">
            <cg-talking-point-editor
                tp="tp"
                on-delete="vm.onDelete($index)">
            </cg-talking-point-editor>
            <div class="tp-entry-sort" ng-if="vm.talkingPoints.length > 1">
                 <div>
                    <i class="fa fa-arrow-up" ng-if="$index > 0" ng-click="vm.reorder($index, $index - 1)"></i>
                 </div>
                <div>
                    <i class="fa fa-arrow-down" ng-if="$index < vm.talkingPoints.length - 1" ng-click="vm.reorder($index, $index + 1)"></i>
                </div>
            </div>
        </div>
        <div class="row add-tp-button">
            <span ng-click="vm.addTalkingPoint()">
                <button class="button white-button"><i class="fa fa-plus"></i></button><span>Add Talking Point</span>
            </span>
        </div>
    </div>
    <div>
        <cg-tp-attribute-pane opts="vm.attributes"></cg-tp-attribute-pane>
    </div>
</div>
