.talking-point-container {
    .talking-points-columns {
        display: flex;
        flex-direction: row;
        min-height: 550px;
        &>div:first-child {
            flex: 1 1 auto;
            margin-left: 3px;
        }
        &>div:last-child {
            flex: 0 1 auto;
        }

        .section-header {
            button {
                padding: 8px 8px;
            }
        }

        .tp-entry {
            position: relative;
        }
        .controls {
            @include flex-container;
            position: absolute;
            left: 340px;
            top: 0;
            height: 45px;
            pointer-events: none;
            & > li {
                @include flex-item(0 1 auto);
                margin: 0 10px;
                &.tp-entry-sort {
                    div {
                        height: 1em;
                        i {
                            cursor: pointer;
                            opacity: .5;
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
                &.tp-entry-sort {
                    pointer-events: auto;
                }
                &.tp-created {
                    time {
                        font-weight: bold;
                        font-size: .9em;
                        display: block;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                &.tp-error {
                    .tp-errors {
                        color: #d22128;
                        font-size: .9em;
                        display: block;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        em {
                            display: block;
                        }
                    }
                }
            }
        }

        .add-tp-button {
            margin: 0 2px;
            margin-bottom: 5px;
            button {
                border-radius: 50%;
                border: 0;
                background: transparent;
                padding: 7px 11px;
            }
            span {
                margin-left: 3px;
                cursor: pointer;
            }
            .tp-syntax {
                font-size: 10px;
                float: right;
            }
        }
    }
}

*[id^='mceu_'] {
    transition: none !important;
}
.talking-point-editor {
    margin-bottom: 6px;
    border: 1px solid #ccc;
    padding: 3px;
    position: relative;
    background-color: white;
    &[disabled] {
        pointer-events: none;
        .row {
            opacity: .2;
        }
        .saving-spinner {
            opacity: 1;
        }
    }
    .saving-spinner {
        position: absolute;
        top: 14px;
        left: 60px;
    }
    .tinymce-container {
        margin-top: 3px;
        display: none;
        width: 100%;
        max-width: 100%;
        textarea.form-control {
            min-height: 325px;
        }
    }

    &.expanded .tinymce-container{
        display: inherit;
    }

    .tp-delete-confirm {
        display: inline-block;
        padding: 5px 5px;
        position: absolute;
        right: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
        background-color: white;
        z-index: 7;

        button {
            padding: 8px 10px;
            margin-left: 6px;
        }
    }

    button {
        display: inline;
        &.delete-button {
            font-size: 24px;
            font-weight: bold;
            padding: 0 10px;
            opacity: 0;
        }
        &.expand-button {
            border-radius: 50%;
            padding: 7px 10px;
            margin-right: 8px;
            transition: 300ms linear all;
            transform: rotate(-90deg);
            &.rotate {
                transform: rotate(0deg);
            }
        }
    }

    &:hover {
        button.delete-button {
            opacity: 1;
        }
    }

    input {
        display: inline;
        width: 280px;
        &.required {
            border-left-width: 5px;
            border-left-color: #EF6A30;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)
        }
    }
}

.tp-entry.has-errors .talking-point-editor {
    border-color: #d22128;
}

.tp-attribute-pane {
    position: relative;
    height: 500px;
    min-width: 200px;
    max-width: 400px;
    top: 60px;
    margin-bottom: 2em;
    margin-left: 1.5em;
    border: 1px solid #bbb;
    border-radius: 12px 0 0 12px;
    background-color: white;
    transition: none;
    z-index: 1;
    &.loose {
        box-shadow: 4px 4px 17px -7px rgba(0,0,0,0.75);
    }

    h5 {
        text-align: center;
    }
    ul {
        position: absolute;
        width: 100%;
        overflow: auto;
        overflow-x: hidden;
        top: 120px;
        bottom: 0;
        cursor: pointer;
        padding-left: 1em;
        li {
            padding: 0.5em 0;
        }
    }
    .control {
        background-color: #E9E9E9;
        padding: 8px;
        select {
            margin-bottom: 5px;
        }
    }

    .resize-handle {
        position: absolute;
        width: 8px;
        height: 100%;
        left: -8px;
        top: 0;
        cursor: col-resize;
        transition: none;
        &:after{
          content: "\f142";
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          position: absolute;
          font-size: 1em;
          color: #aaa;
          top: 50%;
          right: 4px;
          z-index: 1;
        }
    }
}

.tp-preview {
    label {
        border-bottom: 1px solid #e5e5e5;
        padding: 5px;
    }

    select {
        display: inline;
        min-width: 200px;
    }
}

.tppreview_iframe {
    width: 100%;
    height: 380px;
    transition: none;
}
