<section class="tabs-subheader-info container">
    <ul class="noselect-children">
        <li ng-repeat="tab in $ctrl.tabs"
            ng-class="{ 'active': $ctrl.isActive(tab) }"
            ng-click="$ctrl.click($ctrl.section == 'enable' ? tab.label : tab.category)">
            <div class="tab-container">
                <h2>{{tab.label}}</h2>
                <div class="enrichmentCounts">
                    <span class="count">{{tab.Selected|number}}{{tab.Limit != undefined ? ' of ' : ''}}{{tab.Limit | number}}</span> {{tab.supplemental}}
                </div>
            </div>
        </li>
    </ul>
</section>