<p>
	Upload a CSV file containing one row for each contact with it's attributes in separate columns.
	You can always update and add new contacts later.
</p>

<a href="assets/downloads/contact-sample.csv" target="_self" class="download-link"><i class="fa fa-download"></i> Download a sample CSV file that has all of the required fields.</a>

<p>{{vm.ResourceUtility.getString('IMPORT_SAMPLE_FILE_LABEL')}}:</p>
<div class="table example-table">
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>CompanyID</th>
				<th>LastName</th>
				<th>FirstName</th>
				<th>Title</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>123456789</td>
				<td>AnyContact</td>
				<td>AnyValue</td>
				<td>AnyValue</td>
				<td>AnyValue</td>
			</tr>
			<tr>
				<td>123456789</td>
				<td>AnyContact</td>
				<td>AnyValue</td>
				<td>AnyValue</td>
				<td>AnyValue</td>
			</tr>
			<tr>
				<td>123456789</td>
				<td>AnyContact</td>
				<td>AnyValue</td>
				<td>AnyValue</td>
				<td>AnyValue</td>
			</tr>
		</tbody>
	</table>
</div>
