<p>
	Upload a CSV file containing one row for each contact with it's attributes in separate columns.
	You can always update and add new contacts later.
</p>

<a href="assets/downloads/contact-sample.csv" target="_self" class="download-link"><i class="fa fa-download"></i> Download a sample CSV file that has all of the required fields.</a>

<p>{{vm.ResourceUtility.getString('IMPORT_SAMPLE_FILE_LABEL')}}:</p>
<div class="table example-table">
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Account ID</th>
				<th>Name</th>
				<th>Name</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>1</td>
				<td>Petey Cruiser</td>
				<td>contact.name@intel.com</td>
				<td>Buyer</td>
			</tr>
			<tr>
				<td>2</td>
				<td>1</td>
				<td>Anna Sthesia</td>
				<td>contact.name@intel.com</td>
				<td>TECHNICAL&nbsp;ASSOCIATE</td>
			<tr>
				<td>3</td>
				<td>1</td>
				<td>Paul Molive</td>
				<td>contact.name@intel.com</td>
				<td>Purchasing&nbsp;Agent
</td>
		</tbody>
	</table>
</div>
