<%== $.View('assets/CommonAssets/views/renderers/BaseRenderer.ejs',{itemValue: portfolioPlay.Status.IsLive, renderType: RenderWorker.PORTFOLIO_MANAGER_PLAY_STATUS_RENDERER}) %>

<%  var status = "";
    var message = "";
    if (portfolioPlay.Status != null && portfolioPlay.Status.IsUnavailable == true) {
        status = portfolioPlay.Status.CurrentProcessDisplayString;
        message = portfolioPlay.DisplayName + " " + ResourceUtil.getString('PLAYMAKER_READ_ONLY_MESSAGE');
    } else if (portfolioPlay.Status.IsLive) { 
        status = ResourceUtil.getString('PLAYMAKER_LAUNCH_GRID_STATUS_LIVE'); 
        if (portfolioPlay.IsApproved) {
            message = ResourceUtil.getString('PLAYMAKER_LAUNCH_GRID_LIVE_APPROVED'); 
        } else {
            message = ResourceUtil.getString('PLAYMAKER_LAUNCH_GRID_LIVE_NOT_APPROVED'); 
        }	
    } else { 
        status = ResourceUtil.getString('PLAYMAKER_LAUNCH_GRID_STATUS_NEW');
        if (portfolioPlay.IsApproved) {
            message = ResourceUtil.getString('PLAYMAKER_LAUNCH_GRID_NEW_APPROVED'); 
        } else {
            message = ResourceUtil.getString('PLAYMAKER_LAUNCH_GRID_NEW_NOT_APPROVED'); 
        }
    }
%>
<div class='portfolio-manager-status tipped' title='<%= message %>'><%= status %></div>