.dante-lead-details-tile-score
{
	/*margin-top:     30px;*/
}

.dante-lead-details-tile-selected-arrow
{
    width:              0px;
    height:             0px;
    border-style:       solid;
    border-width:       10.5px 0 10.5px 8px;
    border-color:       transparent transparent transparent $play-details-nav-tile-selected-bg-color;
    margin-top:         -80px;
    margin-left:        250px;
}
@media (max-width: 1000px) {
    .dante-lead-details-tile .dante-lead-details-tile-selected-arrow
    {
        top:                160px;
        left:               77px;
        margin-left:        0;
        margin-top:         0;
        border-left:        20px solid transparent;
        border-right:       20px solid transparent;
        border-top:         20px solid #333;
    }
}

.lead-details-insights-container
{
  width: 50%;
  display: inline-block;
  top: 0;
  position: relative;
  vertical-align: top;
  float: left;
}

@media screen and (max-width: 768px) {
    .lead-details-insights-container {
        display: block;
        float: none;
        width: auto !important;
    }
}