<div class="playbook-ratings container">
    <form name="rating_form">
    <div class="header">
        <h2>Rating
            <span class="more-info">&#105;
                <div class="tooltip_">
                    <div class="cover">
                        <h3>Stuff about ratings</h3>
                        <p>
                            Rating stuff long text or something here
                        </p>
                    </div>
                </div>
            </span>
        </h2>
    </div>
    <div class="content-body">
        <div class="filters">
            <div class="ng-search">
            <input type="text" class="form-control" placeholder="Search {{vm.ratings.length}} Ratings" ng-model="search" />
                <a class="button icon-button white-button" ng-click="search.length ? search = '' : ''">
                    <span class="fa fa-search" ng-show="!search.length"></span>
                    <span class="fa fa-times" ng-show="search.length"></span>
                </a>
            </div>
        </div>
        <ul class="list">
            <li class="item header rating_">
                <ul>
                    <li class="name">Rating</li>
                </ul>
            </li>
            <li ng-repeat="rating in vm.ratings| filter: {'Name': search}" class="item rating_">
                <ul>
                    <li class="name">
                    <input  type="radio" 
                            id="rating{{$index}}" 
                            name="rating.name" 
                            ng-value="rating.name"
                            ng-change="vm.checkValid(rating_form)"
                            ng-model="vm.stored.rating_selection" />
                    <label for="rating{{$index}}">{{rating.Name}}</label></li>
                </ul>
            </li>
        </ul>
    </div>
    </form>
</div>