<div class="messaging error-messaging" *ngIf="showForgotPasswordError">
    <button id="close-button" type="button" class="close" (click)="showForgotPasswordError = false;">x</button>
    <i class="fa fa-warning"></i>
    <span>{{forgotPasswordErrorMessage}}</span>
</div>

<form class="form form-forgot" name="login-forgot" *ngIf="visible" (submit)="forgotPasswordOkClick()">
    <div class="form-signin" *ngIf="!resetPasswordSuccess">
        <div class="form-header">
            <h3 class="form-signin-heading">
                {{strings.getString('FORGOT_PASSWORD_TITLE')}}
            </h3>
            <p>{{strings.getString('FORGOT_PASSWORD_MESSAGE')}}</p>
        </div>

        <div class="form">
            <div class="form-group">
                <input type="text" 
                       class="form-control {{forgotPasswordUsernameInvalid ? 'error' : ''}}" 
                       placeholder="{{strings.getString('LOGIN_USERNAME')}}"
                       autocomplete="off"
                       name="login-forgot-username"
                       [(ngModel)]="forgotPasswordUsername"
                       autofocus>
            </div>
            <div class="form-actions">
                <button class="button orange-button" type="submit" (click)="forgotPasswordOkClick(forgotPasswordUsername)">{{strings.getString('FORGOT_PASSWORD_SEND_EMAIL_BUTTON')}}</button>
                <div class="secondary-actions">
                    <a href="#" class="btn btn-secondary" (click)="cancelForgotPasswordClick($event)">{{strings.getString('BUTTON_CANCEL_LABEL')}}</a>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Forgot Password success -->
<div class="form-signin" *ngIf="resetPasswordSuccess">
    <div class="form-header">
        <h3 class="form-signin-heading">{{ strings.getString('FORGOT_PASSWORD_EMAIL_SENT_TITLE') }}</h3>
        <p><strong>{{ email }}</strong></p>
        <p>{{ strings.getString('FORGOT_PASSWORD_EMAIL_SENT_BODY') }}</p>
    </div>
    <div class="form">
        <div class="form-group">
            <button class="button orange-button" (click)="cancelForgotPasswordClick($event)">{{ strings.getString('RETURN_TO_LOGIN') }}</button>
        </div>
    </div>
</div>