section.import-jobs {
    .info-row {
        border: 1px solid rgba(0, 0, 0, 0.22);
        font-size: 16px;
    }
    import-job-row {
        border: 1px solid rgba(0, 0, 0, 0.22);
        .icon-failed {
            padding: 10px;
            color: #F16A24;
        }
        .partial {
            color: #F16A24;
            ;
        }
    }
    .chevron-container {
        padding: 10px;
        padding-right: 0px;
    }
    .import-jobs-container {
        max-width: 1500px;
    }
    .job-subactions {
        padding: 10px;
    }
    .le-header-expand {
        border-top: 0px solid gray;
        border-bottom: 0px solid gray;
    }
    .chevron-element {
        max-height: 72px;
        .fa.fa-check {
            margin-top: -5px;
        }
    }
    .grid-footer {
        margin-top: 20px;
    }
}

.le-tooltip {
    position:relative;
}

.le-tooltip .tooltip-content {
    display:none;
    visibility: hidden;
    opacity: 0;  
    border-radius: 10px;
    padding: 20px;
    transition: visibility 1s ease-in;
}
.le-tooltip:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
    

    display:block;
    position:fixed;
    overflow:hidden;
    z-index: 10;
    background-color: #4A4A4A;
    color: white;
    margin-top: -20px;
    margin-left: 20px;
    min-width: 250px;
    width: 250px;
    max-width: 250px;
    min-height: 150px;
    height: 150px;
    max-height: 150px;
    transform: translate(-40%, -103%);
    h3{
        color: white;
        font-size: 12px;
        font-weight: bold;
        padding-bottom: 5px;

    }
    p{
        color: white;
        padding-bottom: 8px;
    }
    li {
        font-size: 10px;
    }
   
}
.le-tooltip:hover:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 13px solid #4A4A4A;
    transform: translate(-10%, -160%);
  }