<div data-ng-controller="ModelListController">
    <header class="header">
        <div class="page-title">
            <div class="wrapper text-center">
                <h1>{{ResourceUtility.getString('MODEL_LIST_TITLE')}}</h1>
            </div>
        </div>
    </header>
    <section id="main-content" class="wrapper">
        <div data-ng-show="loading">
            <div class="loader"> </div>
            <h2 class="text-center">{{ResourceUtility.getString('GENERAL_LOADING')}}</h2>
        </div>
        <div class="no-models text-center"  data-ng-show="showNoModels">
            <h2>{{ResourceUtility.getString('MODEL_LIST_NO_MODELs')}}</h2>
        </div>
        <div class="row" data-ng-hide="showNoModels || loading">
            <section class="panel panel-clear">
                <div class="panel-body">
                    <div class="row" id="modelListContainer">
                        
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>