<div class="ratingengine-creation playbook-content container" ng-class="{'dashboard-content': vm.stateParams.section && vm.stateParams.section.indexOf('dashboard.') !== -1}">
    <div class="inner-container">
        <div class="header">
            <h2>The rating engine is being created.</h2>
            <p>Your jobs will not be affected when you leave this page.</p>
        </div>
        <div class="content-body">
            
            <h3>Summary</h3>
            <dl>
                <dt>Rating Engine Type:</dt>
                <dd>{{ vm.ratingEngineType }}</dd>
                <dt>Segment:</dt>
                <dd>{{ vm.ratingEngine.segment.display_name }}</dd>
                
                <dt>Products:</dt>
                <dd ng-if="vm.targetProducts.length === 1">{{ vm.targetProductName }}</dd>
                <dd ng-if="vm.targetProducts.length > 1">{{ vm.targetProducts.length }} selected</dd>

                <dt>Prioritize by:</dt>
                <dd>{{ vm.prioritizeBy }}</dd>

                <dt>Rating Engine Settings:</dt>
                <dd>
                    <ul>
                        <li 
                            ng-if="vm.modelingConfigFilters['PURCHASED_BEFORE_PERIOD']">
                            Only sell to products that haven't purchased selected products in the last {{ vm.modelingConfigFilters['PURCHASED_BEFORE_PERIOD'].value }} months
                        </li>
                        <li 
                            ng-if="vm.modelingConfigFilters['SPEND_IN_PERIOD']">
                            Spend in the quarter was {{ vm.spendCriteria }} ${{ vm.modelingConfigFilters['SPEND_IN_PERIOD'].value | number }}
                        </li>
                        <li
                            ng-if="vm.modelingConfigFilters['QUANTITY_IN_PERIOD']">
                            Quantity bought was {{ vm.quantityCriteria }} {{ vm.modelingConfigFilters['QUANTITY_IN_PERIOD'].value }} units
                        </li>
                        <li
                            ng-if="vm.modelingConfigFilters['TRAINING_SET_PERIOD']">
                            {{ vm.modelingConfigFilters['TRAINING_SET_PERIOD'].value }} months of historical records
                        </li>
                        <li
                            ng-if="vm.trainingSegment !== null">
                            Model with similar segment: {{ vm.trainingSegment.display_name }}
                        </li>
                        <li
                            ng-if="vm.trainingProducts !== []">
                            Model with similar product(s): 
                            <span ng-if="vm.trainingProducts.length === 1">{{ vm.trainingProductName }}</span>
                            <span ng-if="vm.trainingProducts.length > 1">{{ vm.trainingProducts.length }} selected</span>
                        </li>
                    </ul>
                </dd>
            </dl>

            <h3>Job Status</h3>
            <div class="meter bar">
                <span class="indeterminate"></span>
            </div>
            <div>
                <p><i class="fa fa-check" data-ng-if="jobStatus == 'Completed' && !isPMMLJob"></i> Running{{jobStatus}}</p>
            </div>
            
        </div>
    </div>
</div>