<div class="ratingengine-creation playbook-content container" ng-class="{'dashboard-content': vm.stateParams.section && vm.stateParams.section.indexOf('dashboard.') !== -1}">
    <div class="inner-container">
        <div class="header">
            <h2>The rating engine is being created.</h2>
            <p>Your jobs will not be affected when you leave this page.</p>
        </div>
        <div class="content-body">
            
            <h3>Summary</h3>
            <dl>
                <dt>Rating Engine Type:</dt>
                <dd>{{ vm.ratingEngineType }}</dd>
                <dt>Segment:</dt>
                <dd>{{ vm.ratingEngine.segment.display_name }}</dd>
                
                <dt>Products:</dt>
                <dd ng-if="vm.targetProducts.length === 1">{{ vm.targetProductName }}</dd>
                <dd ng-if="vm.targetProducts.length > 1">{{ vm.targetProducts.length }} selected</dd>

                <dt>Prioritize by:</dt>
                <dd>{{ vm.prioritizeBy }}</dd>

                <dt 
                    ng-if="vm.modelingConfigFilters !== {} && vm.trainingSegment !== null && vm.trainingProducts.length !== 0">Rating Engine Settings:</dt>
                <dd
                    ng-if="vm.modelingConfigFilters !== {} && vm.trainingSegment !== null && vm.trainingProducts.length !== 0">
                    <ul>
                        <li 
                            ng-if="vm.modelingConfigFilters['PURCHASED_BEFORE_PERIOD']">
                            Only sell to products that haven't purchased selected products in the last {{ vm.modelingConfigFilters['PURCHASED_BEFORE_PERIOD'].value }} months
                        </li>
                        <li 
                            ng-if="vm.modelingConfigFilters['SPEND_IN_PERIOD']">
                            Spend in the quarter was {{ vm.spendCriteria }} ${{ vm.modelingConfigFilters['SPEND_IN_PERIOD'].value | number }}
                        </li>
                        <li
                            ng-if="vm.modelingConfigFilters['QUANTITY_IN_PERIOD']">
                            Quantity bought was {{ vm.quantityCriteria }} {{ vm.modelingConfigFilters['QUANTITY_IN_PERIOD'].value | number }} units
                        </li>
                        <li
                            ng-if="vm.modelingConfigFilters['TRAINING_SET_PERIOD']">
                            {{ vm.modelingConfigFilters['TRAINING_SET_PERIOD'].value }} months of historical records
                        </li>
                        <li
                            ng-if="vm.trainingSegment !== null">
                            Model with similar segment: {{ vm.trainingSegment.display_name }}
                        </li>
                        <li
                            ng-if="vm.trainingProducts.length !== 0">
                            Model with similar product(s): 
                            <span ng-if="vm.trainingProducts.length === 1">{{ vm.trainingProductName }}</span>
                            <span ng-if="vm.trainingProducts.length > 1">{{ vm.trainingProducts.length }} selected</span>
                        </li>
                    </ul>
                </dd>
            </dl>

            <h3>Job Status</h3>
            <dl class="step-progression">
                <dt ng-class="{ 'started': !vm.jobStarted }">Job Started</dt>
                <dd>
                    <i 
                        class="fa fa-spinner fa-pulse fw"
                        ng-if="!vm.jobStarted"></i>
                    <span ng-if="vm.startTimestamp">
                        <i 
                        class="fa fa-check"></i>
                        {{vm.startTimestamp | date:"MM/dd/yyyy 'at' h:mma"}}
                    </span>
                </dd>
                <dt ng-class="{ 'started': vm.loadingData }">Processing File</dt>
                <dd>
                    <i 
                        class="fa fa-spinner fa-pulse fw"
                        ng-if="vm.loadingData"></i>
                    <span ng-if="vm.completedSteps.load_data">
                        <i 
                        class="fa fa-check"></i>
                        {{vm.completedSteps.load_data | date:"MM/dd/yyyy 'at' h:mma"}}
                    </span>
                </dd>
                <dt ng-class="{ 'started': vm.matchingToDataCloud }">Matching to Data Cloud</dt>
                <dd>
                    <i 
                        class="fa fa-spinner fa-pulse fw"
                        ng-if="vm.matchingToDataCloud"></i>
                    <span ng-if="vm.completedSteps.create_global_target_market">
                        <i 
                        class="fa fa-check"></i>
                        {{vm.completedSteps.create_global_target_market | date:"MM/dd/yyyy 'at' h:mma"}}
                    </span>
                </dd>
                <dt ng-class="{ 'started': vm.scoringTrainingSet }">Scoring Training Set</dt>
                <dd>
                    <i 
                        class="fa fa-spinner fa-pulse fw"
                        ng-if="vm.scoringTrainingSet"></i>
                    <span ng-if="vm.completedSteps.score_training_set">
                        <i 
                        class="fa fa-check"></i>
                        {{vm.completedSteps.score_training_set | date:"MM/dd/yyyy 'at' h:mma"}}
                    </span>
                </dd>
            </dl>


            <div class="meter bar" ng-if="vm.status !== 'Completed'">
                <span class="indeterminate" ng-style="{ 'width': vm.progress }"></span>
            </div>
            <div>
                <p><i class="fa fa-check" ng-if="vm.status === 'Completed'"></i> {{ vm.status }}</p>
            </div>
            
        </div>
    </div>
</div>