<div class="ratingengine-creation playbook-content container" ng-class="{'dashboard-content': vm.stateParams.section && vm.stateParams.section.indexOf('dashboard.') !== -1}">
    <div class="inner-container">
        <div class="header">
            <h2>The rating engine is being created.</h2>
            <p>Your jobs will not be affected when you leave this page.</p>
        </div>
        <div class="content-body">
            
            <h3>Summary (Jon's work in progress)</h3>
            <dl>
                <dt>Rating Engine Type:</dt>
                <dd>{{ vm.ratingEngineType }}</dd>
                <dt>Segment:</dt>
                <dd>{{ vm.ratingEngine.segment.display_name }}</dd>
                
                <dt>Products:</dt>
                <dd ng-if="vm.products.length === 1">{{ vm.productName }}</dd>
                <dd ng-if="vm.products.length > 1">{{ vm.products.length }} selected

                <dt>Prioritize by:</dt>
                <dd>{{ vm.prioritizeBy }}</dd>

                <dt>Rating Engine Settings:</dt>
                <dd>
                    <ul>
                        <li>
                            Spend in the quarter was at least $1500
                        </li>
                        <li>
                            Quantity bought was at least 10 units
                        </li>
                        <li>
                            2 months of historical records
                        </li>
                        <li>
                            Model with similar segment: SegmentName
                        </li>
                        <li>
                            Model with similar product(s): ProductName or number selected
                        </li>
                    </ul>
                </dd>
            </dl>

            <h3>Job Status</h3>
            <div class="meter bar">
                <span class="indeterminate"></span>
            </div>
            <div>
                <p><i class="fa fa-check" data-ng-if="jobStatus == 'Completed' && !isPMMLJob"></i> Running{{jobStatus}}</p>
            </div>
            
        </div>
    </div>
</div>