<div class="le-banner container row" ng-if="$ctrl.isVisible()">
    <div class="twelve columns messaging-container">
        <div    class="messaging {{banner.type}}-messaging"
                ng-repeat="banner in $ctrl.banners | filter: { show: true }">
            <div class="messaging-icon">
                <ico    class="fa" 
                        ng-if="banner.type" 
                        ng-class="{
                            'fa-warning': banner.type == 'error',
                            'fa-exclamation-circle': banner.type == 'warning',
                            'fa-check-circle': banner.type == 'success',
                            'fa-info-circle': banner.type == 'info'
                        }">
                </ico>
                <i class="badge blue-badge" ng-if="banner.badge > 1" title="{{$ctrl.showTimeStamps(banner)}}" ng-mouseover="$ctrl.showTimeStamps(banner)">{{banner.badge}}</i>
            </div>

            <div class="messaging-content">
                <div class="messaging-title" ng-if="banner.title">{{banner.title}}</div>
                <div class="messaging-message" ng-if="banner.message" ng-html-compile="banner.message" ng-init="$ctrl.resizeBanner()"></div>
            </div>
            
            <div class="messaging-controls" ng-click="banner.show = !banner.show">
                <button id="close-button" 
                        type="button" 
                        class="close">
                    X
                </button>
            </div>
        </div>
    </div>
</div>