<section class="container custom-fields" ng-class="{ 'no-borders': vm.cdlEnabled }">
	<script type="text/ng-template" id="field-mapping-row-template.html">
		<td class="field-mapping-inputs">
			<select class="form-control"
					ng-disabled="vm.NextClicked"
					ng-model="fieldMapping.userField"
					ng-change="vm.changeLatticeField(fieldMapping)"
					ng-class="{'required': vm.requiredFieldsMissing[fieldMapping.mappedField], 'disabled': (fieldMapping.userField == vm.ignoredFieldLabel && !vm.requiredFieldsMissing[fieldMapping.mappedField])}">
				<option value="{{::vm.ignoredFieldLabel }}"
						ng-if="fieldMapping.userField && fieldMapping.userField !== vm.ignoredFieldLabel">
					{{ ::vm.ignoredFieldLabel }}
				</option>
				<option value="{{ fieldMapping.userField }}"
						ng-selected="true">
					{{ (vm.AvailableFields.length === 0 && fieldMapping.userField === vm.ignoredFieldLabel) ? '-- No Fields Available --' : fieldMapping.userField }}
				</option>
				<option value="{{ AvailableField }}"
						ng-repeat="AvailableField in vm.AvailableFields"
						ng-if="fieldMapping.userField !== AvailableField">
					{{ AvailableField }}
				</option>
			</select>
		</td>

		<td class="field-mapping-label">
			<label class="strong" for="fieldType_{{ ::field }}">{{ ::field }}</label>
		</td>

		<td class="field-mapping-type">
			<select disabled
					class="custom-select"
					ng-model="fieldMapping.fieldType"
					value="{{fieldMapping.fieldType}}">
				<option value="TEXT" selected>Text</option>
				<option value="NUMBER">Number</option>
				<option value="INTEGER">Integer</option>
				<option value="BOOLEAN">Boolean</option>
				<option value="DATE">Date</option>
			</select>
		</td>
	</script>

	<form novalidate name="standardFieldMappingForm">
		<div class="row field-mapping-form" ng-if="vm.initialized">
			<div class="ten columns" ng-class="{'offset-one box-outline': !vm.cdlEnabled}">
				<div class="section-header">
					<h4>{{::vm.ResourceUtility.getString('MODEL_COLUMNS_MAP_FIELDS_TITLE')}}</h4>
					<h5>{{::vm.ResourceUtility.getString('MODEL_COLUMNS_MAP_FIELDS_LABEL')}}</h5>
				</div>

				<hr />

				<table class="section-body unstyled field-mapping-standard">
					<thead>
						<tr ng-if="!vm.cdlEnabled">
							<th>{{::vm.ResourceUtility.getString('MODEL_COLUMNS_CSV_LABEL_FIELDS_IN_FILE')}}</th>
							<th>{{::vm.ResourceUtility.getString('MODEL_COLUMNS_CSV_LABEL_FIELD_NAME')}}</th>
							<th>{{::vm.ResourceUtility.getString('MODEL_COLUMNS_CSV_CUSTOM_FIELD_TYPE')}}</th>
						</tr>
						<tr ng-if="vm.cdlEnabled">
							<th>Uploaded Fields</th>
							<th>Lattice Fields</th>
							<th>{{::vm.ResourceUtility.getString('MODEL_COLUMNS_CSV_CUSTOM_FIELD_TYPE')}}</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-if="vm.getModelingType() == 'CDL' && vm.AvailableFields.length"> 
							<td class="info-row" colspan="100"> {{vm.AvailableFields.length}} Lattice {{vm.AvailableFields.length != 1 ? 'fields are' : 'field is'}} unmapped and will be ignored. </td>
						</tr> 
						<tr ng-repeat="field in vm.standardFieldsList | limitTo:2"
							ng-init="fieldMapping = vm.standardFieldMappings[field]"
							ng-include="'field-mapping-row-template.html'">
						</tr>
						<tr class="field-mapping-row-spacer field-mapping-row-spacer-odd"><td colspan=100></td></tr>
						<tr class="field-mapping-row-spacer"><td colspan=100></td></tr>
						<tr ng-repeat="field in vm.standardFieldsList | limitTo:2:2"
							ng-init="fieldMapping = vm.standardFieldMappings[field]"
							ng-include="'field-mapping-row-template.html'">
						</tr>
						</tr>
						<tr class="field-mapping-row-spacer field-mapping-row-spacer-odd"><td colspan=100></td></tr>
						<tr class="field-mapping-row-spacer"><td colspan=100></td></tr>
						<tr ng-repeat="field in vm.standardFieldsList | limitTo:1:4"
							ng-init="fieldMapping = vm.standardFieldMappings[field]"
							ng-include="'field-mapping-row-template.html'">
						</tr>
						</tr>
						<tr class="field-mapping-row-spacer field-mapping-row-spacer-odd"><td colspan=100></td></tr>
						<tr class="field-mapping-row-spacer"><td colspan=100></td></tr>
						<tr ng-repeat="field in vm.standardFieldsList | limitTo:vm.standardFieldsList.length:5"
							ng-init="fieldMapping = vm.standardFieldMappings[field]"
							ng-include="'field-mapping-row-template.html'">
						</tr>
					</tbody>
				</table>


				<div class="container section-actions"
					ng-if="!vm.NextClicked && !vm.cdlEnabled">
					<div class="pull-left">
						<button data-ng-click="vm.resetClicked()" class="button white-button" type="button">
							{{::vm.ResourceUtility.getString('MODEL_COLUMNS_CSV_BUTTON_RESET')}}
						</button>
					</div>
					<div class="section-validation pull-left" ng-if="!vm.FormValidated">
						<div class="has-error">
							<ul class="help-block">
								<li ng-if="vm.requiredFieldsMissing['Id'] || vm.requiredFieldsMissing['Event']">Please map Event and Id</li>
								<li ng-if="vm.requiredFieldsMissing['CompanyName'] || vm.requiredFieldsMissing['Email'] || vm.requiredFieldsMissing['Website'] || vm.requiredFieldsMissing['DUNS']">Please map {{::vm.schema === 'SalesforceAccount' ? 'Website' : 'Email'}} {{::vm.fuzzyMatchEnabled ? 'or Company Name or DUNS' : ''}}</li>
							</ul>
						</div>
					</div>
					<div class="pull-right">
						<button
								ng-click="vm.clickNext();"
								ng-disabled="fieldMappingForm.$invalid || NextClicked || !vm.FormValidated"
								class="button orange-button"
								type="button">
							{{::vm.ResourceUtility.getString('MODEL_IMPORT_CSV_BUTTON_NEXT')}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<form novalidate name="fieldMappingForm">
		<div class="row field-mapping-form" ng-if="(!vm.cdlEnabled && vm.initialized) || (vm.cdlEnabled && vm.showAdditionalFieldsCDL)">
			<div class="ten columns" ng-class="{'offset-one box-outline': !vm.cdlEnabled}">
				<div class="section-header">
					<h4 ng-class="{'silent': !vm.NextClicked}">{{::vm.ResourceUtility.getString('MODEL_COLUMNS_MAP_FIELDS_ADDITIONAL_TITLE')}}<span class="default" ng-if="!vm.NextClicked"> - Step 2</span></h4>
					<h5 ng-if="vm.NextClicked">
						{{::vm.ResourceUtility.getString('MODEL_COLUMNS_MAP_FIELDS_ADDITIONAL_CHECK')}} {{::vm.ResourceUtility.getString('MODEL_COLUMNS_MAP_FIELDS_ADDITIONAL_INFO')}}
					</h5>
				</div>

				<span ng-if="!vm.NextClicked" style="display:block;margin-top:1em;"></span>
				<hr ng-if="vm.NextClicked || (vm.cdlEnabled && vm.showAdditionalFieldsCDL)" />

				<table class="section-body unstyled field-mapping-additional" ng-if="vm.NextClicked || (vm.cdlEnabled && vm.showAdditionalFieldsCDL)">
					<thead>
						<tr>
							<th>{{::vm.ResourceUtility.getString('MODEL_COLUMNS_CSV_LABEL_FIELDS_IN_FILE')}}</th>
							<th>{{::vm.ResourceUtility.getString('MODEL_COLUMNS_CSV_LABEL_TYPE')}}</th>
							<th>{{::vm.ResourceUtility.getString('MODEL_COLUMNS_CSV_LABEL_FIELD_NAME')}}</th>
							<th>{{::vm.ResourceUtility.getString('MODEL_COLUMNS_CSV_CUSTOM_FIELD_TYPE')}}</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="fieldMapping in vm.fieldMappings | filter:vm.filterStandardList">
							<td class="field_mapping_label">
								<label for="fieldType_{{ ::fieldMapping.userField }}">{{ ::fieldMapping.userField }}</label>
							</td>

							<td class="field_mapping_inputs">
								<select class="form-control"
										ng-model="selectedOption"
										ng-change="vm.changeMappingOption(fieldMapping, selectedOption)"
										ng-init="options = (vm.standardFieldsListMap[fieldMapping.userField] && !fieldMapping.mappedToLatticeField) ? vm.mappingOptionsReserved : vm.mappingOptions;
										selectedOption = fieldMapping.ignored ? options[options.length - 1] : (fieldMapping.mappedToLatticeField ? options[1] : options[0])"
										ng-options="mappingOption as mappingOption.name for mappingOption in ::options">
								</select>
							</td>

							<td class="field-mapping-inputs">
								<select required
										name="mapping_lattice_field_select_{{ ::fieldMapping.userField }}"
										class="form-control"
										ng-if="selectedOption.id == 1"
										ng-model="fieldMapping.mappedField"
										ng-init="vm.changeMappingOption(fieldMapping, selectedOption)"
										ng-change="vm.changeLatticeField(fieldMapping)">
									<option value="{{fieldMapping.mappedField}}"
											ng-if="vm.UnmappedFieldsMap[fieldMapping.mappedField]"
											ng-selected="fieldMapping.mappedField == fieldMapping.userField">
										{{fieldMapping.mappedField}}
									</option>
									<option value="{{UnmappedField.name}}"
											ng-if="!vm.fieldMappingsMapped[UnmappedField.name] && UnmappedField.name != fieldMapping.mappedField"
											ng-repeat="UnmappedField in vm.UnmappedFields"
											ng-selected="fieldMapping.mappedField == UnmappedField.name">
										{{UnmappedField.name}}
									</option>
								</select>
								<input 	required
										disabled
										type="text"
										class="form-control"
										name="mapping_custom_field_input_{{ ::fieldMapping.userField }}"
										ng-minlength="1"
										ng-init="vm.changeMappingOption(fieldMapping, selectedOption)"
										ng-model="fieldMapping.mappedField"
										ng-value="fieldMapping.mappedField"
										ng-keyup="vm.validateForm()"
										ng-if="selectedOption.id != 1" />
							</td>

							<td class="field_mapping_type">
								<select
										class="custom-select"
										name="columnType_{{ ::fieldMapping.userField }}"
										ng-model="fieldMapping.fieldType"
										ng-init="fieldMapping.fieldType=fieldMapping.fieldType"
										ng-disabled="selectedOption.id == 1"
										value="{{fieldMapping.fieldType}}">
									<option value="TEXT" selected>Text</option>
									<option value="INTEGER">Integer</option>
									<option value="NUMBER">Number</option>
									<option value="BOOLEAN">Boolean</option>
									<option value="DATE">Date</option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="container section-actions">
					<div class="section-validation pull-left" ng-if="vm.showAdditionalFieldsCDL && fieldMappingForm.$invalid">
						<div class="has-error">
							<div class="help-block">
								* One or more of your columns is unmapped or is using a reserved name
							</div>
						</div>
					</div>
				</div>

				<div class="container section-actions" ng-if="vm.NextClicked">
					<div class="pull-left">
						<button data-ng-click="vm.resetClicked()" class="button gray-button nav-button" type="button">
							CANCEL
						</button>
					</div>
					<div class="section-validation pull-left" ng-if="fieldMappingForm.$invalid">
						<div class="has-error">
							<div class="help-block">
								* One or more of your columns is unmapped or is using a reserved name
							</div>
						</div>
					</div>
					<div class="pull-right">
						<button
								ng-click="vm.clickNextModel(); NextClicked2 = true;"
								ng-disabled="fieldMappingForm.$invalid || NextClicked2 || !vm.FormValidated"
								class="button orange-button nav-button"
								type="button">
							{{::vm.ResourceUtility.getString('MODEL_IMPORT_CSV_BUTTON_NEXT')}}
						</button>
					</div>
					<div class="pull-right section-actions-tertiary">
						<button
								ng-click="vm.clickRemap()"
								class="button gray-button nav-button"
								type="button">
							EDIT PREVIOUS FIELDS
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
