<div ng-controller="PurchaseHistoryNavCtrl as vm">
	<div class="ph-filter">
		<span class="ph-filter-group">
			Date Range:
			<div class="datepicker"
				dropdown-select="periodIdStartOptions"
				dropdown-model="periodIdStartSelected"
				dropdown-onchange="vm.selectStartPeriodId(selected)"></div>
			to
			<div class="datepicker"
				dropdown-select="periodIdEndOptions"
				dropdown-model="periodIdEndSelected"
				dropdown-onchange="vm.selectEndPeriodId(selected)"></div>
		</span>
		<span class="ph-filter-group">
			Show:
			<div dropdown-select="periodOptions"
				dropdown-model="periodSelected"
				dropdown-onchange="vm.selectPeriod(selected)"></div>
		</span>
		<span class="ph-filter-group">
			Show:
			<div dropdown-select="filterOptions"
				dropdown-model="filterSelected"
				dropdown-onchange="vm.selectFilter(selected)"></div>
		</span>
	</div>
	<div class="ph-nav">
		<div ng-repeat="view in views" class="ph-nav-item" ng-class="{selected: view.selected, disabled: view.disabled}" ng-click="vm.handleViewChange(view)">
			<div class="ph-nav-content">
				<div ng-bind-html="view.titleHtml"></div>
				<div ng-bind-html="headerContents[view.contentKey].textHtml"></div>
			</div>
			<div class="ph-header-icon {{::view.icon}}"></div>
		</div>
	</div>
</div>