<div class="ph-spend-table" ng-controller="PurchaseHistorySpendTableCtrl as vm">
	<script type="text/ng-template" id="spend_table_tree_renderer.html">
		<tbody>
			<tr class="ph-table-row" ng-init="marginLeft={marginLeft:(tree.levelsId.length-1)*20+(tree.data.hasChildren?0:20)+'px'}">
				<td title="{{::tree.data.displayName}}">
					<span ng-style="marginLeft">
						<span ng-if="::tree.data.hasChildren" class="toggle" ng-class="tree.expanded ? 'expanded' : 'collapsed'" ng-click="vm.toggleNode(tree)"></span>
						{{::tree.data.displayName}}
					</span>
				</td>
				<td data-ng-repeat="periodData in tree.data.periods | startFrom: periodStartIndex | limitTo: colsize">
					<div ng-if="::periodData.accountTotalSpend !== null || periodData.accountPrevYearSpend !== null"
						ng-mouseenter="vm.showTooltip($event, periodData)"
						ng-mouseleave="vm.hideTooltip()"
						class="ph-cell-arrow {{::periodData.yoyStat}}">{{::periodData.accountTotalSpend | formatDollar}}
					</div>
				</td>
				<td>
					<div class="ph-cell-arrow {{tree.data.yoyStat}}">{{tree.data.accountProductTotalSpend | formatDollar}}</div>
				</td>
			</tr>
			<tr ng-if="tree.expanded">
				<td class="ph-table-tree-row" colspan="{{colsize+2}}">
					<table ng-repeat="tree in tree.nodes | filter:vm.spendFilter | filter:vm.searchProduct | sortWithNulls:sortKey:sortReverse" ng-include="'spend_table_tree_renderer.html'"></table>
				</td>
			</tr>
		</tbody>
	</script>
	<div class="ph-sub-header">
		<div class="ph-search-group">
			<input name="search-input" type="text" placeholder="Search Products" ng-model="searchProduct" />
			<label for="search-input"></label>
		</div>
		<div class="float-right ph-legend">
			<span class="ph-legend-group">
				<div class="square blue"></div>
				<div>Account</div>
			</span>
			<span class="ph-legend-group">
				<div class="circle orange"></div>
				<div>YoY</div>
			</span>
		</div>
	</div>
	<div class="ph-table-container">
		<div class="ph-chart-table">
			<table>
				<tbody>
					<tr>
						<td></td>
						<td>
							<div data-purchase-history-timeline
								period-start-index="periodStartIndex"
								colsize="colsize"></div>
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="ph-table-header">
			<table>
				<tbody>
					<tr>
						<td ng-click="sortBy('displayName')">
							<div class="ph-sortable"
								ng-class="{'ph-sort':sortKey==='displayName', 'ph-sort-reverse':sortReverse}">Products
							</div>
						</td>
						<td data-ng-repeat="periodId in formattedPeriodRange | startFrom: periodStartIndex | limitTo: colsize">{{::periodId}}</td>
						<td ng-click="sortBy('data.accountProductTotalSpend')">
							<div class="ph-sortable"
								ng-class="{'ph-sort':sortKey==='data.accountProductTotalSpend', 'ph-sort-reverse':sortReverse}">Total</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="ph-tree-table-container">
			<table ng-repeat="tree in tree.nodes | filter:vm.spendFilter | filter:vm.searchProduct | sortWithNulls:sortKey:sortReverse" ng-include="'spend_table_tree_renderer.html'"></table>
			<ul class="ph-tooltip" id="ph-tooltip"></ul>
		</div>
	</div>
</div>
