<div class="ph-year-table" ng-controller="PurchaseHistoryYearTableCtrl as vm">
	<script type="text/ng-template" id="year_table_tree_renderer.html">
		<tbody>
			<tr class="ph-table-row" ng-init="marginLeft={marginLeft:(tree.levelsId.length-1)*20+(tree.data.hasChildren?0:20)+'px'}">
				<td title="{{::tree.data.displayName}}">
					<span ng-style="marginLeft">
						<span ng-if="::tree.data.hasChildren" class="toggle" ng-class="tree.expanded ? 'expanded' : 'collapsed'" ng-click="vm.toggleNode(tree)"></span>
						{{::tree.data.displayName}}
					</span>
				</td>
				<td>
					<div class="ph-year-bar">
						<div class="ph-year-cur" ng-style="tree.data.currentYearBarStyle"></div>
						<span>{{tree.data.accountProductTotalSpend | formatDollar}}</span>
					</div>
					<div class="ph-year-bar">
						<div class="ph-year-prev" ng-style="tree.data.prevYearBarStyle"></div>
						<span>{{tree.data.accountProductTotalPrevYearSpend | formatDollar}}</span>
					</div>
				</td>
				<td>
					<span class="ph-cell-arrow {{tree.data.yoyStat}}">
						{{tree.data.yoyDiff | formatDollar}}
					</span>
				</td>
			</tr>
			<tr ng-if="tree.expanded">
				<td class="ph-table-tree-row" colspan="3">
					<table ng-repeat="tree in tree.nodes | filter:vm.spendFilter | filter:vm.searchProduct | sortWithNulls:sortKey:sortReverse" ng-include="'year_table_tree_renderer.html'"></table>
				</td>
			</tr>
		</tbody>
	</script>
	<div class="ph-sub-header">
		<div class="ph-search-group">
			<input name="search-input" type="text" placeholder="Search Products" ng-model="searchProduct" />
			<label for="search-input"></label>
		</div>
		<div class="float-right ph-legend">
			<span class="ph-legend-group">
				<div class="square blue"></div>
				<div>This Year</div>
			</span>
			<span class="ph-legend-group">
				<div class="square gray"></div>
				<div>Last Year</div>
			</span>
		</div>
	</div>
	<div class="ph-table-container">
		<div class="ph-table-header">
			<table>
				<tbody>
					<tr>
						<td ng-click="sortBy('displayName')">
							<div class="ph-sortable"
								ng-class="{'ph-sort':sortKey==='displayName', 'ph-sort-reverse':sortReverse}">Products
							</div>
						</td>
						<td>Year over Year Spend</td>
						<td ng-click="sortBy('data.yoyDiff')">
							<div class="ph-sortable"
								ng-class="{'ph-sort':sortKey==='data.yoyDiff', 'ph-sort-reverse':sortReverse}">Change</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="ph-tree-table-container">
			<table ng-repeat="tree in tree.nodes | filter:vm.spendFilter | filter:vm.searchProduct | sortWithNulls:sortKey:sortReverse" ng-include="'year_table_tree_renderer.html'"></table>
		</div>
	</div>
</div>