<div class="ph-segment-table" ng-controller="PurchaseHistorySegmentTableCtrl as vm">
	<script type="text/ng-template" id="segment_table_tree_renderer.html">
		<tbody>
			<tr class="ph-table-row" ng-init="marginLeft={marginLeft:(tree.levelsId.length-1)*20+(tree.data.hasChildren?0:20)+'px'}">
				<td title="{{::tree.data.displayName}}">
					<span ng-style="marginLeft">
						<span ng-if="::tree.data.hasChildren" class="toggle" ng-class="tree.expanded ? 'expanded' : 'collapsed'" ng-click="vm.toggleNode(tree)"></span>
						{{::tree.data.displayName}}
					</span>
				</td>
				<td>
					{{tree.data.accountProductTotalSpend | formatDollar}}
				</td>
				<td>
					{{tree.data.segmentProductTotalAverageSpend | formatDollar}}
				</td>
				<td>
					<div class="ph-segment-bar" ng-if="tree.data.segmentDiff !== null && tree.data.segmentDiff < 0">
						<span>{{tree.data.segmentDiff | formatDollar}}</span>
						<div ng-style="tree.data.segmentBarStyle"></div>
					</div>
				</td> 
				<td>
					<div class="ph-segment-bar" ng-if="tree.data.segmentDiff !== null && tree.data.segmentDiff > 0">
						<div ng-style="tree.data.segmentBarStyle"></div>
						<span>+ {{tree.data.segmentDiff | formatDollar}}</span>
					</div>
				</td> 
			</tr>
			<tr ng-if="tree.expanded">
				<td class="ph-table-tree-row" colspan="5">
					<table ng-repeat="tree in tree.nodes | filter:vm.spendFilter | filter:vm.searchProduct | sortWithNulls:sortKey:sortReverse" ng-include="'segment_table_tree_renderer.html'"></table>
				</td>
			</tr>
		</tbody>
	</script>
	<div class="ph-sub-header">
		<div class="ph-search-group">
			<input name="search-input" type="text" placeholder="Search Products" ng-model="searchProduct" />
			<label for="search-input"></label>
		</div>
	</div>
	<div class="ph-table-container">
		<div class="ph-table-header">
			<table>
				<tbody>
					<tr>
						<td ng-click="sortBy('displayName')">
							<div class="ph-sortable"
								ng-class="{'ph-sort':sortKey==='displayName', 'ph-sort-reverse':sortReverse}">Products
							</div>
						</td>
						<td ng-click="sortBy('data.accountProductTotalSpend')">
							<div class="ph-sortable"
								ng-class="{'ph-sort':sortKey==='data.accountProductTotalSpend', 'ph-sort-reverse':sortReverse}">Spend</div>
						</td>
						<td ng-click="sortBy('data.segmentProductTotalAverageSpend')">
							<div class="ph-sortable"
								ng-class="{'ph-sort':sortKey==='data.segmentProductTotalAverageSpend', 'ph-sort-reverse':sortReverse}">Benchmark</div>
						</td>
						<td>
							<span class="float-left">Less Than Average</span><span class="wrap-arrow">Benchmark</span><span class="float-right">More than Average</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="ph-tree-table-container">
			<table ng-repeat="tree in tree.nodes | filter:vm.spendFilter | filter:vm.searchProduct | sortWithNulls:sortKey:sortReverse" ng-include="'segment_table_tree_renderer.html'"></table>
		</div>
	</div>
</div>