<uib-accordion ng-if="!loading" close-others="oneAtATime" class="tenant-config">
    <div uib-accordion-group  class="panel-default" ng-hide="component.Invisible" ng-repeat="component in data" ng-init="accordion[component.Component].open = !readonly" is-open="accordion[component.Component].open">
        <uib-accordion-heading>
            <i class="fa" ng-class="{'fa-caret-down': accordion[component.Component].open, 'fa-caret-right': !accordion[component.Component].open}"></i>
            {{component.Component}}
            <span ng-if="readonly" ng-bind-html="getStatusHtml(component.State.state)"></span>
        </uib-accordion-heading>
        <p ng-if="component.Message">{{ component.Message }}</p>
        <camille-config ng-hide="component.Message" config="config" is-valid="isValid" readonly="readonly" editing="editing" ng-repeat="config in component.Nodes"></camille-config>
    </div>
</uib-accordion>