<div ng-controller="TenantListCtrl">

    <div ng-show="loading">
        <div class="loader"> </div>
        <h2 class="text-center">Loading tenants data ...</h2>
    </div>

    <div ng-show="showLoadingError">
        <div class="alert alert-danger">{{loadingError}}</div>
    </div>

    <div kendo-grid="grid"
         k-options="gridOptions"
         k-ng-delay="gridOptions"
         k-on-change="handleKendoChange(data)"
         ng-show="!loading"
         class="tenants-grid">
    </div>

    <script type="text/ng-template" id="addNewTenantModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Add New Tenant</h3>
        </div>
        <div class="modal-body">
            <form class="add-tenant-form form-inline" name="addtenantform" novalidate>
                <div class="control-group" ng-class='{"has-error": showTenantIdError}'>
                    <label class="control-label">Tenant ID</label>
                    <input type="text" name="tenantId" class="form-control"
                           ng-model-options="{ debounce: 200 }" ng-model="tenantInfo.tenantId"
                           ng-change="validateTenantInfo()" required/>
                    <p ng-if="showTenantIdError" class="help-block"><span class="text-danger">{{ tenantIdErrorMsg }}</span></p>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()" ng-disabled="!isValid">OK</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <div>
        <button id="add-new-model-btn" class="btn btn-primary" ng-click="onAddClick()">ADD NEW TENANT</button>
    </div>

</div>