<div ng-controller="TenantConfigCtrl">
    <div class="panel panel-default tenant-info-panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Contract: <strong>{{ contractId }}</strong>
                &nbsp;&nbsp;&nbsp;&nbsp;
                Tenant: <strong>{{ tenantId }}</strong>
            </h3>
        </div>
        <div class="panel-body">
            <h4>Tenant Info</h4>
            <div ng-if="readonly" class="row">
                <div class="col col-md-12 col-sm-12 col-xs-12">
                    <p class="well">{{ tenantInfo.properties.description }}</p>
                </div>
                <div class="col col-md-4 col-sm-4 col-xs-6 readonly-config-entry">
                    <span class="node">Name</span> :
                    {{ tenantInfo.properties.displayName }}
                </div>
                <div class="col col-md-4 col-sm-4 col-xs-6 readonly-config-entry">
                    <span class="node">Created at</span> :
                    {{ tenantInfo.properties.created | date : "yyyy-MM-dd HH:mm:ss Z" }}
                </div>
                <div class="col col-md-4 col-sm-4 col-xs-6 readonly-config-entry">
                    <span class="node">Last modified</span> :
                    {{ tenantInfo.properties.lastModified | date : "yyyy-MM-dd HH:mm:ss Z" }}
                </div>
                <div class="col col-md-4 col-sm-4 col-xs-6 readonly-config-entry">
                    <span class="node">Expired Time </span> :
                    <span ng-show="!isEditingTenantInfo"> {{ tenantInfo.properties.expiredTime | date : "yyyy-MM-dd HH:mm:ss Z" }} </span>
                    <input type="date" class="form-control inline" ng-show="isEditingTenantInfo" ng-model="tenantInfo.properties.expiredTime" />
                </div>
                <div class="col col-md-4 col-sm-4 col-xs-6 readonly-config-entry">
                    <span class="node">Status </span> :
                    <span ng-show="!isEditingTenantInfo"> {{ tenantInfo.properties.status }} </span>
                    <select class="form-control inline" ng-show="isEditingTenantInfo"
                                ng-options="option for option in availableStatuses"
                                ng-model="tenantInfo.properties.status">
                    </select>
                </div>
                <div class="col col-md-4 col-sm-4 col-xs-6 readonly-config-entry">
                    <span class="node">Type</span> :
                    <span ng-show="!isEditingTenantInfo"> {{ tenantInfo.properties.tenantType }} </span>
                    <select class="form-control inline" ng-show="isEditingTenantInfo"
                                    ng-options="option for option in availableTenantTypes"
                                    ng-model="tenantInfo.properties.tenantType">
                    </select>
                </div>
            </div>
            <button class="btn btn-primary" ng-if="!isEditingTenantInfo" ng-click="editTenantInfo()">EDIT</button>
            <button class="btn btn-primary" ng-if="isEditingTenantInfo" ng-click="saveTenantInfo()">SAVE</button>
            <button class="btn btn-primary" ng-if="isEditingTenantInfo" ng-click="cancelTenantInfo()">CANCEL</button>
            <form ng-if="!readonly" class="row form-inline">
                <div class="col col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">
                        Name
                    </label>
                    <input type="text" class="form-control" ng-model="tenantInfo.properties.displayName">
                    </input>
                </div>
                 <div class="col col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">
                        Contract
                    </label>
                    <input type="text" class="form-control" ng-model="tenantInfo.properties.contract">
                    </input>
                </div>
                <div class="col col-md-12 col-sm-12 col-xs-12">
                 	<label class="control-label">
                        Expired Time:
                    </label>
                     <input type="date" class="form-control" ng-model="tenantInfo.properties.expiredTime" title="Choose date in format mm/dd/yyyy"/>
                </div>
                 <div class="col col-md-12 col-sm-12 col-xs-12">
                 	<label class="control-label">
                        Status
                    </label>
                     <select class="form-control"
	                                ng-options="option for option in availableStatuses"
	                                ng-model="tenantInfo.properties.status">
	                 </select>
                </div>
                <div class="col col-md-12 col-sm-12 col-xs-12">
                 	<label class="control-label">
                        Type
                    </label>
                     <select class="form-control"
	                                ng-options="option for option in availableTenantTypes"
	                                ng-model="tenantInfo.properties.tenantType"
                                    ng-change="changeTenantType()">
	                 </select>
                </div>
                <div class="col col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">
                        Description
                    </label>
                </div>
                <div class="col col-md-12 col-sm-12 col-xs-12">
                    <textarea class="form-control" ng-model="tenantInfo.properties.description"></textarea>
                </div>
            </form>
            <br>
            <h4>Space Configuration</h4>
            <form ng-if="!readonly" class="space-config">
                <div class="row form-inline">
                    <div class="col col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label">
                            Products
                        </label>
                        <div ng-repeat="product in availableProductsNames">
                            <div class="action-checkbox">
                                <input id="{{product}}" type="checkbox" value="{{product}}" ng-checked="selectedProductNames.indexOf(product) > -1" ng-click="toggleSelection(product)" />
                                <label for="{{product}}"></label>
                                {{product}}
                            </div>
                        </div>
                    </div>
                    <div ng-show = LPAisSelected(selectedProducts)>
	                    <div class="col col-md-12 col-sm-12 col-xs-12">
	                        <label class="control-label">
	                            CRM Topology
	                        </label>
	                        <select class="form-control"
	                                ng-options="option for option in availableTopologies"
	                                ng-model="spaceConfig.Topology">
	                        </select>
	                    </div>
	                    <div class="col col-md-12 col-sm-12 col-xs-12">
	                        <label class="control-label">
	                            Data Loader URL
	                        </label>
	                        <select class="form-control"
	                                ng-options="option for option in availableDLAddresses"
	                                ng-model="spaceConfig.DL_Address">
	                        </select>
	                    </div>
                    </div>
                </div>
            </form>
            <form ng-if="readonly" class="row form-inline">
                <div class="col col-md-4 col-sm-4 col-xs-6 readonly-config-entry">
                    <span class="node">Products</span> :
                        <div ng-repeat="product in spaceConfig.Products" class="selected-item">
                            {{ product }}
                        </div>
                </div>
                <div ng-show = LPAisSelected(selectedProducts)>
	                <div class="col col-md-4 col-sm-4 col-xs-6 readonly-config-entry">
	                    <span class="node">Topology</span> :
	                    {{ spaceConfig.Topology }}
	                </div>
	                <div class="col col-md-12 col-sm-12 col-xs-12 readonly-config-entry">
	                    <span class="node">Data Loader URL</span> :
	                    {{ spaceConfig.DL_Address }}
	                </div>
                </div>
            </form>
            <br>
            <h4>Feature Flags
                <span ng-if="!new && !isEditingFeatureFlag" ng-click="editFeatureFlags()" class="header-btn">Edit</span>
                <span ng-if="isEditingFeatureFlag">
                    <span ng-click="saveFeatureFlags()" class="header-btn">Save</span>
                    <span ng-click="cancelEditFeatureFlags()" class="header-btn">Cancel</span>
                </span>
            </h4>
            <p ng-if="featureFlagUpdateError" class="alert alert-danger">{{featureFlagUpdateError}}</p>
            <div ng-repeat="featureFlag in selectedFeatureFlags | orderBy:'-DisplayName'">
                <feature-flag ng-if="featureFlag.Configurable" flag="featureFlag" readonly="readonly" editing="isEditingFeatureFlag"></feature-flag>
            </div>

        </div>
    </div>
    <div ng-show="loading">
        <div class="loader"> </div>
        <h2 class="text-center">Loading tenant configuration ...</h2>
    </div>
    <div ng-if="!loading">
        <button class="btn btn-primary" ng-if="new" ng-disabled="!isValid.valid" ng-click="onSaveClick()">INSTALL</button>
        <button class="btn btn-primary" ng-if="!new" ng-click="onDeleteClick()"><i class="fa fa-trash-o"></i> DELETE</button>
        <br/>
        <p ng-show="!isValid.valid" class="alert alert-danger">The configuration is invalid. Please check error messages below.</p>
        <br/>
        <components-config data="selectedComponents" readonly="readonly" is-valid="isValid" editing="isEditingComponents"></components-config>
        <p ng-show="!isValid.valid" class="alert alert-danger">The configuration is invalid. Please check error messages above.</p>
        <button class="btn btn-primary" ng-if="new" ng-disabled="!isValid.valid" ng-click="onSaveClick()">INSTALL</button>
        <button class="btn btn-primary" ng-if="!new" ng-click="onDeleteClick()"><i class="fa fa-trash-o"></i> DELETE</button>
        <button class="btn btn-primary" ng-if="!new && !isEditingComponents" ng-click="editComponents()">EDIT</button>
        <button class="btn btn-primary" ng-if="isEditingComponents" ng-click="saveComponents()">SAVE</button>
        <button class="btn btn-primary" ng-if="isEditingComponents" ng-click="cancelComponents()">CANCEL</button>
        <br/>
    </div>
</div>