@import "content/configure/configure.component.scss";
.configure-attributes-content {
    .form-control {
        display: inline-block;
        width: auto;
    }
    .form-control.ng-invalid-required.required,
    .form-control.ng-invalid-required:required,
    .form-control.required:not(.ng-dirty),
    .form-control:required:not(.ng-dirty) {
        border-left-width: 5px;
        border-left-color: #EF6A30;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    select {
        background: #fff;
        height: 30px;
        font-size: 14px;
        option[disabled],
        .disabled {
            color: #a6a6a6;
        }
    }
    .configuration {
        display: table;
        margin: 0 auto;
        .header {
            margin-bottom: 40px;
            h2 {
                font-size: 19px;
                font-weight: bold;
                text-align: center;
                em {
                    color: #6abe44;
                }
                em, strong {
                    font-weight: bold;
                }
            }
        }
        ul.steps {
            @include flex-container;
            justify-content: center;
            flex-wrap: nowrap;
            margin: 20px auto;
            padding-bottom: 50px;
            border-bottom: 1px solid #e2e3e5;
            li {
                @include flex-item(1 1 auto);
                position: relative;
                text-align: center;
                margin-right: 50px;
                &:last-child {
                    margin-right: 0;
                }
                &:before {
                    display: block;
                    content: '';
                    height: 115px;
                    width: 115px;
                    border: 1px solid #e2e3e5;
                    border-radius: 50%;
                    margin: 0 auto;
                    margin-bottom: 10px;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                &:after {
                    display: none;
                    content: '';
                    height: 20px;
                    width: 20px;
                    position: absolute;
                    bottom: calc(-50px - 17px);
                    left: calc(50% - 5px);
                    background: white;
                    border-top: 1px solid #e2e3e5;
                    border-left: 1px solid #e2e3e5;
                    transform: rotate(45deg) translateX(-50%);
                }
                &[href] {
                    cursor: pointer;
                }
                &.spend_change {
                    &:before {
                        background-image: url(/assets/images/purchasehistory/spendchange.png);
                    }
                }
                &.spend_over_time {
                    &:before {
                        background-image: url(/assets/images/purchasehistory/spendovertime.png);
                    }
                }
                &.share_of_wallet {
                    &:before {
                        background-image: url(/assets/images/purchasehistory/shareofwallet.png);
                    }
                }
                &.margin {
                    &:before {
                        background-image: url(/assets/images/purchasehistory/margin.png);
                    }
                }
                &:not(.disabled):hover {
                    color: blue;
                    &:before {
                        border-color: blue;
                    }
                }
                &.active {
                    color: orange;
                    &:before {
                        border-color: orange;
                    }
                    &:after {
                        display: block;
                    }
                }
                &.completed {
                    color: #6abe44;
                    &:before {
                        border-color: #6abe44;
                        background-image: url(/assets/images/purchasehistory/checkmark.png);
                    }
                }
                &.disabled {
                    opacity: .3;
                    pointer-events: none;
                }
            }
        }
        .save-button {
            text-align: center;
        }
        .step-content {
            .configured-message {
                position: relative;
                font-size: 16px;
                padding-left: 20px;
                display: inline-block;
                margin-bottom: 20px;
                &:before {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-top: -2px;
                    @include font-awesome-inline("\f00c");
                    color: #6abe44;
                }
                &._no-data:before {
                    @include font-awesome-inline("\f00d");
                    color: red;
                }
            }
            .fields {
                margin-bottom: 50px;
                font-size: 16px;
                li {
                    margin-bottom: 20px;
                    label {
                        width: auto;
                        background: url(/assets/images/purchasehistory/calendar.png) no-repeat left center;
                        background-size: contain;
                        padding-left: 30px;
                        margin-right: 30px;
                    }
                }
                &._no-data {
                    opacity: .3;
                    pointer-events: none;
                }
            }
            &.step-spend_change {
                .fields {
                    position: relative;
                    padding-left: 50px;
                    li {
                        margin-bottom: 10px;
                        label {
                            display: inline;
                            width: auto;
                            background: none;
                            padding: 0;
                            margin: 0;
                        }
                        strong {
                            display: inline-block;
                            border: 1px solid #e2e3e5;
                            padding: 2px 5px;
                            min-width: 74px;
                        }
                    }
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: '';
                        display: block;
                        width: 30px;
                        height: 30px;
                        background: url(/assets/images/purchasehistory/calendar.png) no-repeat left center;
                        background-size: contain;
                    }
                }
            }
            &.step-spend_over_time {
                .form-control {
                    min-width: 60px;
                }
                .button {
                    &.add,
                    &.remove {
                        border: none;
                        background: none;
                        padding: 0;
                        & >  i {
                            color: #aaa;
                            border: 1px solid #aaa;
                            border-radius: 50%;
                            font-size: 10px;
                            width: 14px;
                            height: 14px;
                            text-align: center;
                            line-height: 14px;
                            margin-right: 5px;
                            &:hover {
                                color: #111;
                                border-color: #111;
                            }
                        }
                    }
                    &[disabled] {
                        opacity: .5;
                    }
                }
                & > div {
                    @include flex-container;
                    & > .fields {
                        @include flex-item(1 1 auto);
                    }
                }
            }
        }
    }
    &.done {
        .configuration {
            ul.steps {
                border-bottom: none;
                // li {
                //     color: #6abe44;
                //     &:before {
                //         border-color: #6abe44;
                //         background-image: url(/assets/images/purchasehistory/checkmark.png);
                //     }
                // }
            }
            .step-content {
                max-width: 600px;
            }
        }
    }
}
