<div data-ng-controller="MultipleModelSetupController">
    <header class="header">
        <div class="page-title">
            <div class="wrapper text-center">
                <h1>{{ResourceUtility.getString('MULTIPLE_MODEL_SETUP_TITLE')}}</h1>
            </div>
        </div>
    </header>
    <div data-ng-show="loading">
        <div class="loader"> </div>
        <h2 class="text-center">{{ResourceUtility.getString('GENERAL_LOADING')}}</h2>
    </div>
    <section data-ng-show="!loading">
        <div class="panel panel-default user-list">
            <div novalidate>
                <div class="panel-body">
                    <table>
                        <thead>
                            <th>{{ResourceUtility.getString('MULTIPLE_MODEL_SEGMENT_NAME')}}</th>
                            <th>{{ResourceUtility.getString('MULTIPLE_MODEL_MODEL_NAME')}}</th>
                            <th>{{ResourceUtility.getString('MULTIPLE_MODEL_MODEL_ID')}}</th>
                            <th>{{ResourceUtility.getString('MULTIPLE_MODEL_PRIORITY')}}</th>
                            <th>{{ResourceUtility.getString('MULTIPLE_MODEL_DELETE')}}</th>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="segment in segments" data-ng-class="{shaded: $index % 2}">
                                <td>{{segment.Name}}</td>
                                <td>{{segment.ModelName}}</td>
                                <td>{{segment.ModelId}}</td>
                                <td>{{segment.Priority}}</td>
                                <td class="edit-icons">
                                    <a class="delete-user-link" data-ng-click="editSegmentClicked(segment)" href="#"><i class="fa fa-pencil"></i></a>
                                    <a class="delete-user-link" data-ng-click="deleteSegmentClicked(segment)" href="#"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-left">
                        <button class="btn btn-primary" data-ng-click="addNewSegmentClicked()">
                            {{ResourceUtility.getString('MULTIPLE_MODEL_ADD_NEW')}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>