<ul class="fields">
    <li>
        <label for="options_period">Change in average</label>
        <!-- <input type="number" min=1 max=20 ng-model="vm.options['SpendChange']['WITHIN']['Val']" ng-value="vm.getVals('WITHIN', vm.steps[vm.step].data.SpendChange)"> / -->
        <select id="options_period"
            class="form-control"
            ng-required="!vm.options['SpendChange']['WITHIN']['Period']"
            ng-init="vm.initValue('SpendChange.WITHIN.Period', vm.getPeriod('WITHIN', vm.steps[vm.step].data.SpendChange))" 
            ng-model="vm.options['SpendChange']['WITHIN']['Period']" 
            ng-change="vm.setOptions(form); vm.options['SpendChange']['BETWEEN']['Period'] = vm.options['SpendChange']['WITHIN']['Period']"
            ng-options="period.value as period.label for period in vm.periodsOptions">
                <option value="" hidden disabled>--</option>
        </select>
        <label for="options_past">
            spend as % of
        </label>
    </li>
    <li>
        <label for="options_past">
            past average 
            <strong ng-init="vm.initValue('SpendChange.BETWEEN.Period', vm.getPeriod('WITHIN', vm.steps[vm.step].data.SpendChange))">
                {{(vm.options['SpendChange']['WITHIN']['Period'] ? vm.options['SpendChange']['WITHIN']['Period'] + 'ly' : '&nbsp;') | lowercase}}
            </strong>
            spend during last
        </label>
        <select id="options_past"
            class="form-control"
            ng-required="!vm.options['SpendChange']['WITHIN']['Val']"
            ng-init="vm.initValue('SpendChange.WITHIN.Val', vm.getVals('WITHIN', vm.steps[vm.step].data.SpendChange))" 
            ng-model="vm.options['SpendChange']['WITHIN']['Val']" 
            ng-change="vm.setOptions(form)"
            ng-disabled="!(vm.options['SpendChange']['WITHIN']['Period'])"
            ng-options="option for option in vm.newArray(vm.periods[vm.options['SpendChange']['WITHIN']['Period']])">
                <option value="" hidden disabled>Select</option>
        </select>
        <strong>
            {{vm.options['SpendChange']['WITHIN']['Period'] + (vm.options['SpendChange']['WITHIN']['Period'] ? 's' : '')|| '&nbsp;'| lowercase}}
        </strong>
    </li>
    <li>
        <label for="options">
            Compared to average
            <strong>
                {{(vm.options['SpendChange']['WITHIN']['Period'] ? vm.options['SpendChange']['WITHIN']['Period'] + 'ly' : '&nbsp;') | lowercase}}
            </strong>
            spend of prior
        </label>
        <select id="options"
            class="form-control"
            ng-required="!vm.options['SpendChange']['BETWEEN']['Val']"
            ng-init="vm.initValue('SpendChange.BETWEEN.Val', vm.getVals('BETWEEN', vm.steps[vm.step].data.SpendChange))" 
            ng-model="vm.options['SpendChange']['BETWEEN']['Val']" 
            ng-change="vm.setOptions(form)"
            ng-disabled="!(vm.options['SpendChange']['WITHIN']['Period'])"
            ng-options="option for option in vm.newArray(vm.periods[vm.options['SpendChange']['WITHIN']['Period']])">
                <option value="" hidden disabled>Select</option>
        </select>
        <strong>
            {{vm.options['SpendChange']['WITHIN']['Period'] + (vm.options['SpendChange']['WITHIN']['Period'] ? 's' : '')|| '&nbsp;'| lowercase}}
        </strong>
    </li>
</ul>