<div class="playbook-content name container">
    <form name="form">
        <ul ng-init="$ctrl.checkFieldsDelay(form)">
            <li>
                <label for="name">Enter Name</label>
                <input class="form-control" ng-required="true" ng-class="{'required': true}" id="name" type="text" ng-model="$ctrl.updatedPlay['displayName']" ng-keyup="$ctrl.change(form)" maxlength="50" />
            </li>
            <li>
                <label for="description">Enter Description</label>
                <textarea class="form-control" id="description" ng-model="$ctrl.updatedPlay['description']" ng-blur="$ctrl.change()"  maxlength="255">{{$ctrl.currentPlay.description}}</textarea>
            </li>
            <li>
                <label for="type">Choose Type</label>
                <select class="form-control" id="type" ng-model="$ctrl.updatedPlay['typeId']" ng-change="$ctrl.change()" ng-options="type.id as type.displayName for type in $ctrl.types">
                </select>
            </li>
        </ul>
    </form>
</div>