<section class="rating-engine dashboard {{ vm.modelingStrategy }}" ng-class="{noRatings: (vm.dashboard.summary.bucketMetadata === undefined || vm.dashboard.summary.bucketMetadata === null || vm.dashboard.summary.bucketMetadata.length === 0)}">
    <div class="container row summary-container">
        <div class="twelve columns">


            <div class="header">
                <h2 class="pull-left">Model Dashboard</h2>

                <div class="actions pull-right">
                    <!-- ng-model="vm.status_toggle" -->

                    <button class="button orange-button aptrinsic-model-dashboard-activate-deactivate" ng-click="vm.deactivate()" ng-disabled="vm.disableButtonScoring()">
                        {{vm.getScoringButtonLable()}}
                    </button>
                    <button class="button orange-button" ng-if="vm.isRulesBased && vm.playbookEnabled" ui-sref="home.playbook.create.segment({ segment_name: vm.ratingEngine.segment.name })"
                        ng-disabled="!vm.canCreatePlay()">
                        <!-- ng-disabled="vm.modelSummary === null || !vm.dashboard.summary.bucketMetadata && !vm.status_toggle" -->
                        Create Campaign
                    </button>

                    <!-- <button
                        class="button orange-button"
                        ui-sref="home.model.ratings({ 
                            rating_id: vm.ratingEngine.id,
                            modelId: vm.modelSummary,
                            section: 'dashboard.ratings',
                            ratingEngine: vm.ratingEngine,
                            newConfiguration: true
                        })"
                        ng-if="!vm.isRulesBased"
                        ng-disabled="vm.activeIterations.length == 0">
                        {{ vm.publishOrActivateButtonLabel }}
                    </button> -->
                    <button class="button orange-button" ng-if="!vm.isRulesBased && vm.playbookEnabled" ui-sref="home.playbook.create.segment({ segment_name: vm.ratingEngine.segment.name })"
                        ng-disabled="!vm.canCreatePlay()">
                        Create Campaign
                    </button>

                </div>
            </div>
            <div class="content">
                <div ng-if="!vm.isRulesBased">
                    <h3>
                        Creation Settings
                        <span ng-if="vm.isPublishedOrScored">
                            <span ng-if="vm.isPublished">( Iteration {{
                                vm.ratingEngine.published_iteration.AI.iteration }} )</span>
                            <span ng-if="!vm.isPublished">( Iteration {{ vm.ratingEngine.scoring_iteration.AI.iteration
                                }} )</span>
                            <span ng-if="vm.isPublished" class="published-header">Published</span>
                            <span ng-if="!vm.isPublished" class="published-header">Scored</span>
                        </span>
                        <span ng-if="!vm.isPublishedOrScored">
                            ( Iteration {{ vm.ratingEngine.latest_iteration.AI.iteration }} )
                            <span class="published-header">Latest</span>
                        </span>
                    </h3>

                    <!-- <dl>
                        <dt ng-repeat-start="setting in vm.settings">{{setting.label}}</dt>
                        <dd ng-repeat-end>{{setting.value}}</dd>
                    </dl> -->

                    <dl>
                        <dt>Model Type:</dt>
                        <dd>{{ vm.ratingEngineType }}</dd>
                        <dt ng-if="vm.ratingEngine.segment">Segment:</dt>
                        <dd ng-if="vm.ratingEngine.segment" class="text-ellipsis">{{
                            vm.ratingEngine.segment.display_name }}</dd>

                        <dt ng-if="vm.modelingStrategy !== 'CUSTOM_EVENT'">Products:</dt>
                        <dd ng-if="vm.modelingStrategy !== 'CUSTOM_EVENT'" ng-class="{'show-tooltip left delay': vm.multipleTargetProducts}">
                            {{ vm.targetProducts }}

                            <div class="tooltip_ small" ng-if="vm.multipleTargetProducts">
                                <div class="cover">
                                    <ul>
                                        <li ng-repeat="product in vm.tooltipContent track by $index">{{
                                            product.ProductName }}</li>
                                    </ul>
                                </div>
                            </div>
                        </dd>

                        <dt ng-if="vm.configFilters['PURCHASED_BEFORE_PERIOD']">Time range:</dt>
                        <dd ng-if="vm.configFilters['PURCHASED_BEFORE_PERIOD']">More than {{
                            vm.configFilters['PURCHASED_BEFORE_PERIOD'].value }}
                            {{vm.getPeriodType(vm.configFilters['PURCHASED_BEFORE_PERIOD'].value) | lowercase}}</dd>

                        <dt ng-if="vm.modelingStrategy !== 'CUSTOM_EVENT'">Prioritize by:</dt>
                        <dd ng-if="vm.modelingStrategy !== 'CUSTOM_EVENT'">{{ vm.prioritizeBy }}</dd>

                        <dt ng-if="vm.modelingStrategy === 'CUSTOM_EVENT'">Score External File:</dt>
                        <dd ng-if="vm.modelingStrategy === 'CUSTOM_EVENT'">{{vm.model.advancedModelingConfig.custom_event.customEventModelingType
                            == 'LPI' ? 'Yes' : 'No'}}</dd>
                        <dt ng-if="vm.modelingStrategy === 'CUSTOM_EVENT'">Training File:</dt>
                        <dd class="text-ellipsis" ng-if="vm.modelingStrategy === 'CUSTOM_EVENT'">{{vm.model.advancedModelingConfig.custom_event.sourceFileDisplayName
                            ? vm.model.advancedModelingConfig.custom_event.sourceFileDisplayName :
                            vm.model.advancedModelingConfig.custom_event.sourceFileName}}</dd>
                        <dt ng-if="vm.modelingStrategy === 'CUSTOM_EVENT'">One record per account:</dt>
                        <dd ng-if="vm.modelingStrategy === 'CUSTOM_EVENT'">{{
                            vm.model.advancedModelingConfig.custom_event.deduplicationType == 'ONELEADPERDOMAIN' ?
                            'Yes' : 'No'}}</dd>
                        <dt ng-if="vm.modelingStrategy === 'CUSTOM_EVENT'">Include personal email domains:</dt>
                        <dd ng-if="vm.modelingStrategy === 'CUSTOM_EVENT'">{{
                            vm.model.advancedModelingConfig.custom_event.excludePublicDomains ? 'No' : 'Yes'}}</dd>

                        <dt ng-if="vm.modelingStrategy === 'CUSTOM_EVENT'">Use curated attributes:</dt>
                        <dd ng-if="vm.modelingStrategy === 'CUSTOM_EVENT'">{{
                            (vm.model.advancedModelingConfig.custom_event.transformationGroup == 'none') ? 'No' :
                            'Yes'}}</dd>

                        <dt ng-if="vm.hasSettingsInfo">Training:</dt>
                        <dd ng-if="vm.hasSettingsInfo">
                            <ul>
                                <li ng-if="vm.configFilters['SPEND_IN_PERIOD']">
                                    Spend in the {{ vm.getPeriodType() | lowercase}} was {{ vm.spendCriteria }} ${{
                                    vm.configFilters['SPEND_IN_PERIOD'].value | number }}
                                </li>
                                <li ng-if="vm.configFilters['QUANTITY_IN_PERIOD']">
                                    Quantity bought was {{ vm.quantityCriteria }} {{
                                    vm.configFilters['QUANTITY_IN_PERIOD'].value | number }} units
                                </li>
                                <li ng-if="vm.configFilters['TRAINING_SET_PERIOD']">
                                    {{ vm.configFilters['TRAINING_SET_PERIOD'].value }} {{
                                    vm.getPeriodType(vm.configFilters['TRAINING_SET_PERIOD'].value) | lowercase }} of
                                    historical records
                                </li>
                                <li ng-if="vm.trainingSegment !== null">
                                    Model with similar segment: {{ vm.trainingSegment.display_name }}
                                </li>
                                <li ng-if="vm.trainingProducts !== null">
                                    Model with similar product(s):
                                    <br />
                                    <span ng-if="vm.oneTrainingProduct">{{ vm.trainingProducts.ProductName }}</span>
                                    <span ng-if="!vm.oneTrainingProduct || vm.trainingProducts.length > 1" class="show-tooltip left delay">
                                        {{ vm.trainingProducts.length }} selected
                                        <div class="tooltip_ small">
                                            <div class="cover">
                                                <ul>
                                                    <li ng-repeat="product in vm.trainingProducts">{{
                                                        product.ProductName }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </span>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div>
                    <h3>
                        Ratings
                        <span ng-if="!vm.isRulesBased">
                            <span ng-if="vm.isPublishedOrScored">
                                ( Iteration {{ vm.ratingEngine.published_iteration.AI.iteration }} )
                                <span ng-if="vm.isPublished" class="published-header">Published</span>
                                <span ng-if="!vm.isPublished" class="published-header">Scored</span>
                            </span>
                            <span ng-if="!vm.isPublishedOrScored">
                                ( Iteration {{ vm.ratingEngine.latest_iteration.AI.iteration }} )
                                <span class="published-header">Latest</span>
                            </span>
                            <span class="more-info show-tooltip top delay">
                                i
                                <div class="tooltip_ small">
                                    <div class="cover">
                                        <p>
                                            This chart shows the ratings for the iteration selected for scoring (marked
                                            as active). It may take a while to update after changing it because the
                                            analytics needs to be re-created.
                                        </p>
                                    </div>
                                </div>
                            </span>
                        </span>
                    </h3>
                    <h4 ng-if="!vm.isPublished || (vm.dashboard.summary.bucketMetadata == null)" class="no-ratings-header">No
                        Ratings Available</h4>
                    <bar-chart ng-if="vm.isPublished && (vm.dashboard.summary.bucketMetadata != null)" config="vm.ratingEngine.chartConfig"
                        bktlist="vm.dashboard.summary.bucketMetadata">
                    </bar-chart>
                </div>
                <div ng-if="!vm.isRulesBased">
                    <h3>
                        Creation History ({{ vm.dashboard.iterations.length }})
                        <a ui-sref="home.ratingsengine.dashboard.viewall({
                               type: 'iterations',
                               data: vm.dashboard.iterations
                            })"
                            ng-if="vm.dashboard.iterations.length > 5" class="published-header link">View All</a>
                    </h3>
                    <table class="creation-history">
                        <thead>
                            <tr>
                                <th>
                                    <span class="show-tooltip delay top">
                                        Iter.
                                        <div class="tooltip_ small">
                                            <div class="cover">
                                                <p>Iteration</p>
                                            </div>
                                        </div>
                                    </span>
                                </th>
                                <th>&nbsp;</th>
                                <th>Creation Status</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="iteration in vm.dashboard.iterations | orderBy: '-iteration' | limitTo: 5"
                                ng-class="{active: vm.isIterationScoringActive(iteration.id) &&
                                        vm.statusIsActive}">
                                <!-- <tr ng-repeat="iteration in vm.dashboard.iterations | orderBy: '-iteration' | limitTo: 5"> -->
                                <td>
                                    <p>{{ iteration.iteration }}</p>
                                </td>
                                <td>
                                    <p class="green-text" ng-if="vm.isIterationScoringActive(iteration.id) && vm.statusIsActive">
                                        Scoring <br />Active
                                    </p>
                                    <a 
                                        class="button" 
                                        ng-if="vm.showActivateButton(iteration)"
                                        ui-sref="home.model.ratings({ 
                                                    rating_id: vm.ratingEngine.id,
                                                    modelId: iteration.modelSummaryId,
                                                    section: 'dashboard.ratings',
                                                    ratingEngine: vm.ratingEngine,
                                                    useSelectedIteration: true
                                                })">
                                        Activate
                                    </a>
                                </td>
                                <td ng-class="{
                                        completed: iteration.modelingJobStatus === 'Completed',
                                        failed: iteration.modelingJobStatus === 'Failed' ||
                                        iteration.modelingJobStatus === 'Cancelled',
                                        running: iteration.modelingJobStatus === 'Pending' || iteration.modelingJobStatus === 'Running'
                                    }">
                                    <span ng-if="iteration.modelingJobStatus === 'Completed'">
                                        Successfully created
                                    </span>
                                    <span ng-if="iteration.modelingJobStatus === 'Failed'">
                                        Failed
                                    </span>
                                    <span ng-if="iteration.modelingJobStatus === 'Cancelled'">
                                        Cancelled
                                    </span>
                                    <span ng-if="iteration.modelingJobStatus === 'Completed' || iteration.modelingJobStatus === 'Failed' || iteration.modelingJobStatus === 'Cancelled'">
                                        {{ iteration.created | date }}
                                    </span>

                                    <span ng-if="iteration.modelingJobStatus === 'Pending' || iteration.modelingJobStatus === 'Running'">
                                        <span></span>
                                        <span>Creating</span>
                                    </span>

                                </td>
                                <td>
                                    <button class="button link-button" ng-click="vm.viewIteration('home.model.datacloud', iteration)"
                                        ng-if="
                                            iteration.modelingJobStatus === 'Completed' && 
                                            iteration.modelSummaryId">View
                                        Model</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h3>
                        Used by ({{ vm.relatedItems.length }})
                        <a ui-sref="home.ratingsengine.dashboard.viewall({
                               type: 'usedby',
                               data: vm.relatedItems
                            })"
                            ng-if="vm.relatedItems.length > 5" class="published-header link">View All</a>
                    </h3>
                    <table ng-if="vm.relatedItems.length > 0">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.relatedItems | limitTo: 5">
                                <td>
                                    <span class="icon" ng-class="{
                                            'ico-segment': item.type == 'Segment',
                                            'ico-campaign': item.type == 'Campaign',
                                            'ico-model': item.type == 'Model'
                                        }"><span></span></span>
                                    {{ item.type }}
                                </td>
                                <td>{{ item.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="vm.relatedItems.length == 0">
                        This model is currently not being used by any campaigns or segments.
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>