.summary-container{
    // border: 1px solid red;
    padding-left: 2.52766%;
    padding-right: 2.82766%;
}

.dashboard {
    &.noRatings {
        .content {
            h4 {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }
    .header {
        margin-bottom: 20px;
        &:after {
            content: '';
            clear: both;
            display: table;
        }
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & > div {
            width: 98%;
            margin-bottom: 10px;
            position: relative;
            padding: 0px 10px 16px;
            border: #eaeaea solid 1px;
            background: rgba(255,255,255,0.5);
            border-radius: 2px;
            @media only screen and (min-width: 600px) {
                width: 49.8%;
                margin-bottom: 4px;
            }
        }
        h3 {
            font-size: 16px;
            margin: 12px 0;
            text-transform: none;
            .more-info {
                padding: 0 6px;
                color: #fff;
            }
        }
        h4.no-ratings-header {
            font-size: 14px;
        }
        dt, dd {
            font-size: 14px;
        }
        dt {
            width: 30%;
        }
        dd {
            margin-left: 30%;
        }
        table {
            th, td {
                padding: 0px 10px 4px 0;
            }
            th {
                font-weight: normal;
                text-transform: uppercase;
                color: #333;
                font-size: 10px;
            }
            td {
                padding-top: 4px;
            }
        }
    }
    .fa-clock-o {
        color: #F27D41;
    }
    &.CUSTOM_EVENT {
        .content {
            dt {
                width: 50%;
            }
            dd {
                margin-left: 50%;
            }
        }
    }
    .attribute-stats .header {
        background-color: transparent;
        color: #333;
        margin-bottom: 4px;
    }
    .published-header {
        text-transform: uppercase;
        color: #c7c7c7;
        font-size: 11px;
        float: right;
        &.link {
            color: #467dba;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .icon {
        background-color: #D2D2D2;
        border-radius: 3px;
        padding: 4px;
        display: inline-block;
        vertical-align: bottom;
        span {
            background-repeat: no-repeat;
            background-size: 13px;
            background-position: 50% 50%;
            display: block;
            padding: 8px;
        }
    }
    .ico-segment span {
        background-image: url('/assets/images/ico-segments.png');
    }
    .ico-model span {
        background-image: url('/assets/images/ico-model-black.png');
    }
    .ico-campaign span {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 90 83.63'><defs><style>.cls-1{fill:%23010101;}</style></defs><title>campaign-icon</title><g id='Layer_2' data-name='Layer 2'><g id='Layer_1-2' data-name='Layer 1'><path class='cls-1' d='M26.5,0A26.5,26.5,0,1,0,53,26.5,26.49,26.49,0,0,0,26.5,0Zm0,5.16a1.67,1.67,0,0,1,1.66,1.68V9.78a13.6,13.6,0,0,1,3.9.94,7.9,7.9,0,0,1,3,2.22,9.13,9.13,0,0,1,1.53,2.34,5.28,5.28,0,0,1,.57,2.19,2.71,2.71,0,0,1-.85,1.94,2.6,2.6,0,0,1-1.93.81,2.81,2.81,0,0,1-2.85-2.38,5,5,0,0,0-3.34-3.62v9.25c1.75.48,3.13.91,4.19,1.31a9.34,9.34,0,0,1,2.93,1.81,8.4,8.4,0,0,1,2.13,2.91,9.4,9.4,0,0,1,.75,3.75A9.9,9.9,0,0,1,37,38a9.27,9.27,0,0,1-3.5,3.59,14,14,0,0,1-5.31,1.63v2.94a1.67,1.67,0,0,1-1.66,1.68,1.7,1.7,0,0,1-1.69-1.68V43.22a13.34,13.34,0,0,1-4.22-1.13,10.6,10.6,0,0,1-3.24-2.31,9.45,9.45,0,0,1-1.91-2.9,7.6,7.6,0,0,1-.63-2.94,2.94,2.94,0,0,1,2.91-2.78,2.66,2.66,0,0,1,2.66,1.78,28.51,28.51,0,0,0,1,2.78,5.92,5.92,0,0,0,3.4,2.94V28.28a25.9,25.9,0,0,1-4.65-1.75,8.34,8.34,0,0,1-3.25-2.87,8.56,8.56,0,0,1-1.25-4.82,8.47,8.47,0,0,1,2.43-6.25,11.28,11.28,0,0,1,6.72-2.78v-3A1.7,1.7,0,0,1,26.53,5.16Zm-1.69,9a4.32,4.32,0,0,0-3.62,4.16,3.45,3.45,0,0,0,1,2.66,8.19,8.19,0,0,0,2.65,1.5ZM60.53,27.59a1.17,1.17,0,0,0-1.09.94,1.12,1.12,0,0,0,.31,1l8.63,8.62L52.44,52.88l-6.56-4.69a25.37,25.37,0,0,1-2.07,1.65,28.37,28.37,0,0,1-19.65,5.6C15.41,68,6.36,81.51,6.16,81.81a1.13,1.13,0,0,0,.25,1.5,1.16,1.16,0,0,0,1.56,0c.16-.15.18-.18.15-.15,8.73-8,25.94-23.69,25.94-23.69L53.88,74.38a1.43,1.43,0,0,0,1.62-.1l24-25.06,8.62,8.62a1.15,1.15,0,0,0,1.22.25,1.13,1.13,0,0,0,.69-1V28.72a1.18,1.18,0,0,0-1.12-1.13ZM28.19,29.28v9.56a6.4,6.4,0,0,0,3.28-1.72A4.57,4.57,0,0,0,32.69,34a3.81,3.81,0,0,0-1.19-3A9.77,9.77,0,0,0,28.19,29.28Z'/></g></g></svg>");
    }
    .creation-history {
        margin-bottom: 0;
        & * {
            -webkit-transition: none;
            -moz-transition: none;
            -o-transition: none;
            transition: none;
        }
        th:last-of-type, td:last-of-type {
            text-align: right;
            width: 90px;
            button:last-of-type {
                margin-left: 3px;
            }
        }
        td:nth-child(3){
            max-width: 114px;
        }
        tbody {
            tr {
                td {
                    padding: 4px 1px;
                    &:first-of-type {
                        padding-left: 4px;
                        width: 40px;
                        p {
                            text-align: center;
                            background: #D2D2D2;
                            border-radius: 4px;
                            display: inline-block;
                            width: 28px;
                            padding: 4px 0;
                            font-size: 11px;
                        }
                    }
                    &:nth-child(2) {
                        width: 68px;
                        font-size: 12px;
                        vertical-align: top;
                        .button {
                            visibility: hidden;
                            line-height: 1;
                            padding: 5px 7px;
                        }
                    }
                    &:nth-child(3) {
                        padding-left: 20px;
                        background-position: left 8px;
                        background-repeat: no-repeat;
                        font-size: 12px;
                        &.completed {
                            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='15px' viewBox='0 0 20 15' version='1.1'><g xmlns='http://www.w3.org/2000/svg' fill='%230F9E4D' fill-rule='nonzero'><path d='M17.8839585,0.353500929 C17.643229,0.117781929 17.3505543,0 17.0065649,0 C16.6624157,0 16.3697409,0.117781929 16.1290114,0.353500929 L7.66453082,8.64907179 L3.87098841,4.9242165 C3.63010125,4.68849771 3.33758197,4.57071579 2.9935926,4.57071579 C2.64944557,4.57071579 2.35692848,4.68849771 2.11604132,4.9242165 L0.3612519,6.64135393 C0.120364744,6.87707271 0,7.16331407 0,7.50007757 C0,7.83668593 0.120364744,8.12308221 0.3612519,8.35864607 L5.03219011,12.9293619 L6.7871372,14.6464991 C7.02786669,14.8822181 7.32038378,15 7.66453082,15 C8.00852018,15 8.30103728,14.8820631 8.54192443,14.6464991 L10.2968737,12.9293619 L19.6387479,3.7879305 C19.8794774,3.5522115 19.9999998,3.26597036 19.9999998,2.92920686 C20.0001575,2.59259829 19.8794774,2.30635714 19.6387479,2.07063814 L17.8839585,0.353500929 Z' id='Shape'/></g></svg>");
                            background-size: 15px;
                        }
                        &.failed {
                            background-image: url("data:image/svg+xml;utf8,<svg width='16px' height='14px' viewBox='0 0 16 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g id='3rd-iteration' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g id='create-play-copy-9' transform='translate(-1152.000000, -542.000000)' fill='%23D22128'><path d='M1160.07496,554.185103 C1159.66016,554.185103 1159.32169,553.831981 1159.32169,553.424961 C1159.32169,553.004931 1159.66016,552.652738 1160.07496,552.652738 C1160.48976,552.652738 1160.83834,553.004931 1160.83834,553.424961 C1160.83834,553.831981 1160.48976,554.185103 1160.07496,554.185103 Z M1160.77304,546.723071 L1160.57622,551.825688 L1159.58382,551.825688 L1159.37688,546.723071 L1160.77304,546.723071 Z M1159.99954,542.5395 L1152.5,555.6645 L1167.5,555.6645 L1159.99954,542.5395 Z' id='Fill-16'></path></g></g></svg>");
                        }
                        &.running {
                            padding-left: 0;
                            span {
                                span {
                                    &:first-of-type {
                                        position: relative;
                                        display: inline-block;
                                        width: 14px;
                                        height: 14px; 
                                        -webkit-animation: fa-spin 1s infinite linear;
                                        animation: fa-spin 1s infinite linear;
                                        &:before {
                                            color: #ed5200;
                                            content: "\f110";
                                            font-family: FontAwesome;
                                            font-size: 14px;
                                            line-height: 1;
                                            font-style: normal;
                                            font-weight: normal;
                                            text-decoration: inherit;
                                            position: absolute;
                                            top: 0; 
                                        }
                                    }
                                    &:last-of-type {
                                        padding-left: 2px
                                    }
                                }
                            }
                        }
                    }
                    &:last-of-type {
                        padding-right: 4px;
                        .link-button {
                            border: solid 1px transparent;
                            padding: 5px 7px;
                            line-height: 1;
                            padding: 5px 7px;
                        }
                    }
                }
                &.active {
                    td {
                        &:first-of-type {
                            p {
                                background: #0F9E4D;
                                color: #fff;
                            }
                        }
                        &:nth-child(2) {
                            p {
                                line-height: 1;
                            }
                        }                        
                    }
                }
                &:hover {
                    td {
                        &:first-of-type {
                            p {
                                background: #fff;
                                color: #222;
                            }
                        }
                        &:nth-child(2) {
                            .button {
                                visibility: visible;
                                color: #fff;
                                background: rgba(255, 255, 255, 0.2);
                            }
                            p {
                                color: #fff;
                            }
                        }
                        &:nth-child(3) {
                            color: #fff;
                            &.completed {
                                background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='15px' viewBox='0 0 20 15' version='1.1'><g xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' fill-rule='nonzero'><path d='M17.8839585,0.353500929 C17.643229,0.117781929 17.3505543,0 17.0065649,0 C16.6624157,0 16.3697409,0.117781929 16.1290114,0.353500929 L7.66453082,8.64907179 L3.87098841,4.9242165 C3.63010125,4.68849771 3.33758197,4.57071579 2.9935926,4.57071579 C2.64944557,4.57071579 2.35692848,4.68849771 2.11604132,4.9242165 L0.3612519,6.64135393 C0.120364744,6.87707271 0,7.16331407 0,7.50007757 C0,7.83668593 0.120364744,8.12308221 0.3612519,8.35864607 L5.03219011,12.9293619 L6.7871372,14.6464991 C7.02786669,14.8822181 7.32038378,15 7.66453082,15 C8.00852018,15 8.30103728,14.8820631 8.54192443,14.6464991 L10.2968737,12.9293619 L19.6387479,3.7879305 C19.8794774,3.5522115 19.9999998,3.26597036 19.9999998,2.92920686 C20.0001575,2.59259829 19.8794774,2.30635714 19.6387479,2.07063814 L17.8839585,0.353500929 Z' id='Shape'/></g></svg>");
                            }
                            &.failed {
                                background-image: url("data:image/svg+xml;utf8,<svg width='16px' height='14px' viewBox='0 0 16 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g id='3rd-iteration' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g id='create-play-copy-9' transform='translate(-1152.000000, -542.000000)' fill='%23ffffff'><path d='M1160.07496,554.185103 C1159.66016,554.185103 1159.32169,553.831981 1159.32169,553.424961 C1159.32169,553.004931 1159.66016,552.652738 1160.07496,552.652738 C1160.48976,552.652738 1160.83834,553.004931 1160.83834,553.424961 C1160.83834,553.831981 1160.48976,554.185103 1160.07496,554.185103 Z M1160.77304,546.723071 L1160.57622,551.825688 L1159.58382,551.825688 L1159.37688,546.723071 L1160.77304,546.723071 Z M1159.99954,542.5395 L1152.5,555.6645 L1167.5,555.6645 L1159.99954,542.5395 Z' id='Fill-16'></path></g></g></svg>");
                            }
                            &.running {
                                span span:first-of-type:before {
                                    color: #fff;
                                }
                            }
                        }
                        &:last-of-type {
                            .button {
                                border-color: rgba(255, 255, 255, 0.4);
                                color: #fff;
                            }
                        }
                    }
                }
                &:nth-child(odd) {
                    background: #fff;
                }
            }
        }
        .tooltip_ {
            width: auto;
            text-transform: none;
            .cover {
                padding: 8px
            }
            p {
                font-size: 11px;
            }
        }
    }
    &.CROSS_SELL_FIRST_PURCHASE {
        .bar-graph {
            background-color: #4BAEB5 !important;   
        }
        .creation-history tbody tr:hover {
            background: #4BAEB5;
            color: #fff;
        }
    }
    &.CROSS_SELL_REPEAT_PURCHASE {
        .bar-graph {
            background-color: #218F73 !important;   
        } 
        .creation-history tbody tr:hover {
            background: #218F73;
            color: #fff;
        }
    }
    &.CUSTOM_EVENT {
        .bar-graph {
            background-color: #5EA83D !important;   
        }
        .creation-history tbody tr:hover {
            background: #5EA83D;
            color: #fff;
        }
    }
    &.RULE_BASED {
        .bar-graph {
            background-color: #8166A3 !important;   
        }
        .creation-history tbody tr:hover {
            background: #8166A3;
            color: #fff;
        }
    }
}