<div data-ng-controller="MainViewController">
    <div id="mainHeaderView">

    </div>
    <div id="mainContentView">

        <div class="container">
            <h2>Prospect Discovery:</h2>
            <div class="col-sm-6 col-md-3" style="text-align: center;">
                <div class="thumbnail tile tile-medium tile-green">
                    <a href="#/market/summary">
                        <h1 class="tile-text">Summary</h1>
                        <i class="fa fa-3x fa-table"></i>
                        <p>&nbsp;</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" style="text-align: center;">
                <div class="thumbnail tile tile-medium tile-green">
                    <a href="#/import/form">
                        <h1 class="tile-text">Import Data</h1>
                        <i class="fa fa-3x fa-save"></i>
                        <p>&nbsp;</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" style="text-align: center;">
                <div class="thumbnail tile tile-medium tile-green">
                    <a href="#/import/process">
                        <h1 class="tile-text">Working</h1>
                        <i class="fa fa-3x fa-history"></i>
                        <p>&nbsp;</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" style="text-align: center;">
                <div class="thumbnail tile tile-medium tile-green">
                    <a href="#/import/ready">
                        <h1 class="tile-text">Import Ready</h1>
                        <i class="fa fa-3x fa-flag-checkered"></i>
                        <p>&nbsp;</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>