<div data-ng-controller="TabWidgetController" class="tab-container">
    <ul class="nav nav-tabs">
        <li class="{{tab.IsActive ? 'active' : ''}}" data-ng-repeat="tab in tabs">
            <a href="#{{tab.ID}}" data-ng-click="tabClicked($event, tab)">{{tab.Title}}</a>
        </li>
    </ul>
  
    <div class="tab-content">
        <div class="tab-pane {{tab.IsActive ? 'active' : ''}}" id="{{tab.ID}}" data-ng-repeat="tab in tabs">
            <div data-ng-show="!tab.HasData">
                <div class="empty-analytic-list-container">
                    <img class="empty-analytic-list-image" src="assets/images/gray_line_chart_icon.png"/>
                    <span class="empty-analytic-list-description">
                        {{tab.NoDataString}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>