.pd-summary {
    background: #e7e7e7;
    color: #333;
    height: 200px;

    .container .row {
        height: 100%;
        display: flex;

        .pd-summary-panel {
            background-color: #f1f1f1;
            padding: 1em;
            margin-top: 1em;
            margin-bottom: 1em;
            font-weight: normal;

            h3 {
                color: #333;
                padding: 0.25em 0 1em;
                font-weight: normal;
                text-align: center;
                font-weight: normal;
            }

            dt {
                color: #333;
                font-size: 12px;
                width: auto;
                font-weight: normal;
            }
            dd {
                color: #333;
                font-size: 12px;
                font-weight: normal;
            }
        }
    }
}