<div data-ng-controller="TableCtrl" class="pd-summary palladium">
    <div class="container">
        <ul class="row">
            <li class="columns three blue-summary-list pd-summary-panel" ng-repeat="table in tables">
                <h3 class="summary-title">{{table.name}}</h3>
                <dl class="summary-list" ng-repeat="(key, value) in table.items">
                    <dt>{{key}}</dt>
                    <dd>{{value}}</dd>
                </dl>
            </li>
        </ul>
    </div>
</div>