@import "../../../common/widgets/layout/layout.scss";
@import "../../../common/widgets/colors.scss";
.templates-main-container {
  // margin: 20px;
  // border: 1px solid red;
  max-width: 1200px;

  .import-templates {

    .cell-error {
      background-color: $ruby;
    }
    .disabled-error {
      pointer-events: all;
      background-color: $orange-text;
    }
    .le-table-cell {
      .le-cell-tools {
        display: none;
        .always{
            display: initial;
        }
      }
    }
    .le-table-row:hover {
      color: $pearl-white;
      .le-table-cell .disables{
        color: $gun-metal;
      }
      opacity: 1;
      .le-cell-tools {
        display: initial;
        .borders-over > div {
            border: 1px solid white;
        }
      }
    }
    .le-table-row-no-select:hover {
      color: $black;
    }
  }
}
