<section class="interior tabs stretched">
    <ul>
        <!--
        <li class="tab-browse"
            ng-click="vm.setStateParams('browse')"
            ng-class="{ 'active': vm.section == 'browse' }">
            <div class="tab-container">
                <h2>Lattice Data Cloud Attributes</h2>
                <div class="count" ng-if="vm.DataCloudStore.metadata.enrichmentsTotal">{{vm.DataCloudStore.metadata.enrichmentsTotal|number}}</div>
            </div>
        </li>
        -->
        <li ng-click="vm.setStateParams('edit')"
            ng-class="{ 'active': vm.section == 'edit' }"
            class="tab-edit info noselect-children"
            ng-if="!vm.DataCloudStore.metadata.lookupMode || 1">
            <div class="tab-container">
                <h2>
                    Lattice Data Cloud
                    <span class="more-info">&#105;
                        <div class="tooltip_">
                            <div class="cover">
                                <h3>Enrichment</h3>
                                <p>
                                    Up to {{vm.DataCloudStore.metadata.generalSelectLimit}} attributes may be selected to enrich your MAP system. Of those, only {{vm.DataCloudStore.metadata.premiumSelectLimit}} may be premium.
                                </p>
                                <p>
                                    When enabled, these attributes will be written to your system during the scoring process. If you disable attributes that you were using for real-time scoring, they will no longer be updated in your system.
                                </p>
                            </div>
                        </div>
                    </span>
                </h2>
                <div class="enrichmentCounts">
                    <span class="count">{{vm.DataCloudStore.metadata.generalSelectedTotal||0}} of {{vm.DataCloudStore.metadata.generalSelectLimit}}</span> enrichments
                    <span class="count">{{vm.DataCloudStore.metadata.premiumSelectedTotal||0}} of {{vm.DataCloudStore.metadata.premiumSelectLimit}}</span> premium
                </div>
            </div>
        </li>
        <li class="tab-team"
            ng-if="vm.show_lattice_insights"
            ng-click="vm.setStateParams('team')"
            ng-class="{ 'active': vm.section == 'team' }">
            <div class="tab-container">
                <h2>
                    Insights for Sales Team
                    <span class="more-info">&#105;
                        <div class="tooltip_">
                            <div class="cover">
                                <h3>Insights for Sales Team</h3>
                                <p>
                                    You can select the insights which will be visible in Salesforce for your Sales Team.
                                </p>
                                <ul>
                                    <li><strong>Enabled insights</strong> - will be displayed.</li>
                                    <li><strong>Disabled insights</strong> - will not be displayed.</li>
                                    <li><strong>Highlighted insights</strong> - will appear at the top of the list.</li>
                                </ul>
                            </div>
                        </div>
                    </span>
                </h2>
                <div class="count" ng-if="vm.DataCloudStore.metadata.enabledForSalesTeamTotal">{{vm.DataCloudStore.metadata.enabledForSalesTeamTotal|number}}</div>
            </div>
        </li>
        <li class="tab-lookup"
            ui-sref="home.datacloud.lookup" ui-sref-active="active">
            <div class="tab-container">
                <h2>Company Profile</h2>
            </div>
        </li>
    </ul>
</section>