<div class="row">
  	<h4 class="columns six">{{ vm.title }}</h4>
	<div class="columns six" ng-if="vm.showCustomHeader() && vm.accounts && vm.contacts">
		<div class="container">
			<div class="entity-count contacts"> 
			  <div> {{'Contacts' | uppercase}} </div>
			  <div class="counts"> {{vm.contacts}} </div>
			</div>
			<div class="entity-count accounts"> 
			  <div> {{'Accounts' | uppercase}} </div>
			  <div class="counts"> {{vm.accounts}}</div>
			</div>
		</div>
	</div>
</div>
