<div class="playbook-content crm-selection container">
    <div class="inner-container">
        <div class="header">
            <h2>CRM System Selection</h2>
            <p>Select the system where the play will be launched, and the right ID will be used for Lattice recommendations to match with appropriate accounts.</p>
        </div>
        <div class="content-body">
            <form name="crmselection_form">
                <table>
                    <thead>
                        <tr>
                            <th>SFDC Org ID</th>
                            <th>SFDC Org Name</th>
                            <th>Account ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr 
                            ng-repeat="org in $ctrl.orgs"
                            ng-class="{'disabled': org.accountId === null}">
                            <td>
                                <input  
                                    type="radio" 
                                    id="{{org.orgId}}" 
                                    name="{{org.orgId}}" 
                                    ng-value="org"
                                    ng-change="$ctrl.checkValid(crmselection_form, org.accountId)" 
                                    ng-model="$ctrl.stored.crm_selection"
                                    ng-disabled="org.accountId === null" />
                                <label for="{{org.orgId}}">{{ org.orgId }}</label>
                            </td>
                            <td>{{ org.orgName }}</td>
                            <td>
                                <span ng-if="org.accountId !== null">{{ org.accountId }}</span>
                                <span>
                                <span ng-if="!org.isRegistered">
                                    <span 
                                        class="ico ico-warning _top"
                                        data-stooltip="Register this SalesForce Org and map it to an Account ID to enable it for selection."></span>
                                    Unregistered
                                </span>
                                <span ng-if="org.isRegistered && org.accountId === null">
                                    <span 
                                        class="ico ico-warning _top"
                                        data-stooltip="Map this Account ID to SFDC ID in SalesForce settings page."></span>
                                    Unmapped
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>

            <p ng-if="$ctrl.nullCount !== 0">For the above selected SFDC Org, <strong>{{ $ctrl.nullCount | number }} of {{ $ctrl.totalCount | number }}</strong> recommendations have blank Account ID. It is advisable to remove these recommendations from the plays as they will fail to launch your CRM system.</p>
            <p ng-if="$ctrl.nullCount !== 0">Note: An exception of this rule is when 'Lead workflow' is used to provide recommendations to your reps.</p>
            <label ng-if="$ctrl.nullCount !== 0">
                <input type="checkbox">Remove all recommendations with blank Account ID
            </label>

        </div>
    </div>
</div>