.ratingengine-prioritization {
    .header {
        h2 {
            padding-left: 0;
            // background-image: url('/assets/images/ico-segments.png');
        }
    }
    .prediction-types {
        @include flex-container;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        margin: 0;
        li {
            width: 48%;
            height: auto;
            padding: auto;
            border: none;
            &:hover {
                box-shadow: none;
            }
            &:first-of-type {
                margin-right: 1%;
            }
            &:last-child {
                margin-left: 1%;
            }
        }
        button {
            display: block;
            width: 100%;
            padding: 50px 10px 30px;
            margin-bottom: 6px;
            font-size: 20px;
            text-align: center;
            background: #fff;
            border: #ddd solid 1px;
            border-radius: 4px;
            span {
                font-size: 35px;
                line-height: 1;
                margin-bottom: 8px;
                color: #3f7bbd;
                display: block;
                font-weight: bold;
            }
            svg {
                display: block;
                width: 60px;
                height: 42px;
                margin: 0 auto;
                fill: #3f7bbd;
            }
            &:hover {
                border-color: #6A9ACE;
                -webkit-box-shadow: 0px 3px 8px 0px rgba(128, 211, 239, 0.35);
                -moz-box-shadow: 0px 3px 8px 0px rgba(128, 211, 239, 0.35);
                box-shadow: 0px 3px 8px 0px rgba(128, 211, 239, 0.35);
            }
        }        
        li.selected {
            button {
                background: #457EBA;
                border-color: #457EBA;
                color: #fff;
                svg {
                    fill: #b6cde6;
                }
                span {
                    color: #b6cde6;
                }
                &:hover {
                    border-color: #457EBA;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                }
            }
        }
        p {
            font-size: 14px;
            text-align: center;
        }
    }
}