/*********************************/
/*    Look at all the color   */
/*********************************/
$lattice-dark-orange: #F37123;
$lattice-light-orange: #FABD13;
$lattice-deep-blue: #1E3C71;
$lattice-light-blue: #B7E1F8;

/*********************************/
/* text colors */
/*********************************/

$link-color:       #006699;
$link-hover-color: #000000;
$text-color:       #4D4D4D;
$label-text-color: #858585; // for input labels (the label above an input field)

$primary-text-color:      #000000;
$header-text-color:       #000000;
$input-text-color:        #222222;
$placeholder-text-color:  #666666;

$money-text-color:   #1FB30E; // green text used for monetary values in tables
$major-warning-text-color: #ff8000; // orange text used for warnings with a white bg

$error-text-color:   #b94a48; // red error text
$success-text-color: #6C9000; // green success text
$warning-text-color: #c09853; // yellow warning text
$help-text-color:    #0085B2; // blue help text
$info-text-color:    #878787; // grey information text
$disabled-text-color:#7A7A7A; // grey disabled text

$main-navigation-selected-text-color: #ffcc00; // yellow selected navigation item text color
$main-navigation-text-color:          #ffffff;
$sub-navigation-text-color:           #67B0C5;

$attribute-list-item-text-color:      #9FAC33; // talking points targets text

$add-talking-point-text-color:        #444444; // add talking point text color

$model-health-score-excellent-text-color:  #189008;
$model-health-score-good-text-color:       #85B200;
$model-health-score-average-text-color:    #D8A300;
$model-health-score-warning-color:         #D96D00;

$model-status-active-text-color:            #189008;
$model-status-inactive-text-color:            #D96D00;

$toggle-slider-text-color:                  #ffffff;
$badge-text-color:                          #ffffff;

$page-button-color:                         #aaa;

$bard-funnel-chart-number-color:            #fff;
$bard-funnel-chart-arrow-number-color:      #666;
$bard-funnel-chart-label-color:             #eee;
$bard-status-box-header-color:              #cd7534;
$bard-status-success-color:                 #3E8E13;
$bard-status-in-progress-color:             #D37D2C;
$bard-status-default-color:                 #7F7F7F;
$bard-status-period-label-color:            #858585;

/*********************************/
/* solid background colors */
/*********************************/

$menu-separator-color: #999999;
$primary-bg-color: #ffffff;
$secondary-bg-color: #eeeeee;

$input-disabled-bg-color: #F0F0F0;

$error-bg-color: #f2dede; // red error background
$success-bg-color: #D8ECC9; // green success background
$warning-bg-color:#fcf8e3; // yellow warning background

$body-bg-color: #CFDCDE;
$app-bg-color:#D2DBDD; // application background frame color

$slider-yes-bg-color: #157DBD; // yes no blue background
$slider-no-bg-color: #444444; // yes no grey background
$slider-or-bg-color: #C1D639; // or and sliders green background
$slider-and-bg-color: #ff4000; // or and sliders red background

$list-hover-bg-color :#B2E1FF; // dropdown list selection hover color
$attribute-list-search-bg-color :#F4F4F4; // right sidebar search area color
$drop-area-bg-color: #FFFFBF; // target filter drop area color

$tooltip-bg-color: rgba(45,45,45,1);

$sub-header-bg-color: #f8f8f8;
$grid-header-bg-color: #4d4d4d; // fallback in case image doesn't load
$grid-divider-bg-color: #eeeeee;
$grid-row-odd-bg-color: #f8f8f8;
$grid-row-even-bg-color: #ffffff;
$grid-row-highlighted-bg-color: #ffff99;

$stacked-table-header-primary-bg-color: #4A775A; // 'new targets' table header (in launch table)
$stacked-table-header-secondary-bg-color: #555555; // 'existing targets' table header

$blocking-div-background-color: #000000;

$play-nav-selected-color: #ffffff;

$filter-list-bg-color: #E9F1F5;

$badge-bg-color: #C00000;

$predictor-bar-base: #A4A4A4;
$predictor-alternate-bg-color: #FAFAFA;
$predictor-bar-positive: #298A08;
$predictor-bar-negative: #D72514;

$page-button-bg-color: #616161;

$user-icon-bg-color: #00374D;
$user-icon-bg-hover-color: #005273;
$user-icon-bg-active-color: #002939;

$user-icon-bg-impersonate-color: #8C0000;
$user-icon-bg-impersonate-hover-color: #BC0000;
$user-icon-bg-impersonate-active-color: #630000;

// colors for the bard funnel chart

$bard-funnel-chart-top-color: #54D067;
$bard-funnel-chart-top-taper-color: #45AA55;
$bard-funnel-chart-leads-color: #59AC66;
$bard-funnel-chart-leads-taper-color: #468B51;
$bard-funnel-chart-opps-color: #306E39;
$bard-funnel-chart-opps-taper-color: #214C27;
$bard-funnel-chart-bottom-color: #104017;
$bard-funnel-chart-bottom-taper-color: #0B2D10;

// bard funnel chart disabled color is a gradient
$bard-funnel-chart-disabled-taper-color: #c0c0c0;

/*********************************/
/* Gradients                */
/*********************************/

// standard gray gradient used for sidebar and table headers (also target filters background gradient and more)
@mixin header-gradient
{
    @include linear-gradient(top, #ffffff 0%, #e5e5e5 100%, $fallback: #f2f2f2); // fallback is average, for IE8
    // TODO: add this?
    //filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#e5e5e5'); /* IE8 FTL*/
}

// background gradient used for form input areas throughout the application
@mixin body-gradient
{
    @include linear-gradient(top, #F8F8F8 0%, #FFFFFF 100%);
}
 
// main site header blue gradient background
@mixin main-navigation-gradient
{
    @include linear-gradient(top, #2e5170 0%, #233e56 100%);
}

// dark gray gradient used for the right sidebar header
@mixin dark-gray-header-gradient
{
    @include linear-gradient(top, #666666 0%, #444444 100%);
}

// modal header gradient
@mixin modal-header-gradient
{
    @include linear-gradient(top, #02506f 0%, #003e55 100%);
}

@mixin playmaker-tab-gradient
{
    @include linear-gradient(top, #f6f6f6 0%, #eeeeee 100%, $fallback: #f2f2f2); // fallback is average, for IE8/9
}

@mixin play-template-card-gradient
{
    @include linear-gradient(top,  #ffffff 0%, #f1f4f1 100%);
}

@mixin active-sub-tab-gradient
{
    @include linear-gradient(top, #f6f6f6 0%, #ffffff 100%, $fallback: #fafafa); 
}

//Gradients for complex filters
@mixin filter-node-gradient
{
    @include linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
}

@mixin filter-list-gradient
{
    @include linear-gradient(left, #f3f3f3 0%, #ffffff 100%, $fallback: #f3f3f3);
}

@mixin filter-OR-gradient
{
    @include linear-gradient(top, #fff 0%, $lattice-light-orange 200%, $fallback: $lattice-light-orange);
}

@mixin filter-AND-gradient
{
    @include linear-gradient(top, #fff 0%, $lattice-light-blue 200%, $fallback: $lattice-light-blue);
}

//End gradients for complex filters

// Graidents for Predictive Attributes UI

@mixin pred-attr-bar-gradient
{
    @include linear-gradient(top, #25b515 0%, #178e09 100%);
}

@mixin pred-attr-warning-bar-gradient
{
    @include linear-gradient(top, #ff9326 0%, #ff4000 100%);
}

@mixin play-navigation-gradient
{
    @include linear-gradient(top, #ffffff 0%, #eeeeee, 100%);
}

@mixin page-gradient
{
    @include linear-gradient(top, #f8f8f8 0%, #e9e9e9, 100%);
}

@mixin page-gradient-hover 
{
    @include linear-gradient(top, #FEFEFE 0%, #f0f0f0, 100%);
}

@mixin bard-status-container-gradient
{
    @include linear-gradient(top, #f1f1f1 0%, #ffffff 100%, $fallback: #f8f8f8);
}

/*********************************/
/* Border colors                 */
/*********************************/

$primary-border-color: #D2D2D2; // structural borders (3 column borders, borders around play area content)
$table-header-border-color: #D8D8D8;

$input-border-color: #D3D3D3; // input field borders

$drop-area-border-color: #80E4F7; // target filter drop area border

$separator-border-color: #CCCCCC; // export dropdowns hr color KET TODO: make this the actual dropdown border color

$border-shadow-color: #000000;

$dropdown-border-color: #F0F0F0;

$success-border-color: #468847; // green success container border
$warning-border-color: #fbeed5; // yellow warning container border
$dark-warning-border-color: #FFC454; //darker yellow warning border
$error-border-color: #C84040; // red error container border

$badge-border-color: #C00000;

$user-icon-border-color: #3E6888;
$user-icon-border-hover-color: #436E8B;
$user-icon-border-active-color: #3E6888;

$user-icon-border-impersonate-color: #3E6888;
$user-icon-border-impersonate-hover-color: #436E8B;
$user-icon-border-impersonate-active-color: #3E6888;

// standard gray button borders
@mixin btn-border
{
    border: 1px solid #C3C3C3;
    border-bottom-color: #A7A7A7;
}

// standard blue button borders
@mixin btn-primary-border
{
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
// error button border
@mixin btn-error-border
{
    border-color: #660000
}
/*********************************/
/* Button colors                 */
/*********************************/

// standard gray button
@mixin btn-color
{
    @include linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
}

// standard blue button
@mixin btn-primary-color
{
    @include linear-gradient(top, #0088cc, #0044cc);
}

// standard red button
@mixin btn-error-color
{
    background: #B20000;
}

// small settings buttons in tables
@mixin btn-mini-color
{
    @include linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
}
/*********************************/
/* Interaction states            */
/*********************************/

// standard gray button hover
@mixin btn-hover-color
{
    @include linear-gradient(top, #f8f8f8 25%, #ffffff 100%);
}

//standard blue button hover
@mixin btn-primary-hover-color
{
    background-color: #0044cc;
}

// standard blue button active
@mixin btn-primary-active-color
{
    background-color: #0044cc;
}

// standard red button hover
@mixin btn-error-hover-color
{
    background-color: #bd362f;
}

// standard red button active
@mixin btn-error-active-color
{
    background-color: #bd362f;
}
/*********************************/
/* Relevant Box Shadows          */
/*********************************/

// standard button active state shadowing (regardless of color)
@mixin btn-shadow
{
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

// red delete button default shadow
@mixin btn-error-shadow
{
    box-shadow: inset 0px 1px 1px rgba(255,255,255,.6)
}

@mixin dropdown-menu-shadow
{
    box-shadow: 0px 5px 7px -5px #000;
}

@mixin nav-selected-shadow
{
    box-shadow: inset 0px 1px 2px rgba(0,0,0,.1);
}

@mixin nav-selected-hover-shadow
{
    box-shadow: inset 0px 1px 2px rgba(0,0,0,.3);
}

@mixin page-btn-shadow
{
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
}

@mixin page-btn-shadow-active
{
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
}