@import '../colors.scss';

.le-link-container {
  &.le-flex-h-panel {
    flex-wrap: nowrap;
  }
  .wrapper {
    padding: 0.5em;
    // border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

 
  .le-link {
    overflow: hidden;
    color: $saphire-four;
  }
  .le-link-icon {
    padding: 0 0.5em;
    color: $saphire-four;
    // border-bottom: 1px solid  $saphire-four;
  }
}