<div>
    <div class="float-left" data-ng-show="showSellingIdeas">
        <ul class="dropdown-navigation">
            <li id="dantePlaysTabLink">
                <a href="#" class="dante-main-header-link" data-ng-click="handlePlayListClick($event)">
                    <i class="fa fa-angle-double-left"></i>
                    
                    <span>{{ResourceUtility.getString('MAIN_HEADER_PLAY_LABEL')}}</span>
                    
                </a>
            </li>
        </ul>
    </div>
    <div class="float-left">
        <div class="dante-header-account-name">
            {{headerLabel}}
        </div>
    </div>
    <div class="float-right dante-main-header-logo-container">
        <img class="dante-main-header-logo" src="assets/images/lattice_logo_white.png" width="76" height="20">
    </div> 
    <div class="float-right salesprism-link-container" data-ng-show="showSalesprismButton">
        <a class="btn-salesprism-link" data-ng-click="handleViewInSalesprismClick()">
            {{ResourceUtility.getString('MAIN_HEADER_SALESPRISM_LABEL')}}
        </a>
        
    </div> 
</div>