<div data-ng-controller="NoAssociationController" class="no-association-parent-container">
    <div class="no-association-container">
        <div class="no-notion-body">
            <br/>
            <div class="no-association-message">
                {{message1}}
            </div>
            <br/>
            <div class="no-association-message">
                {{supportEmailMessage}}&nbsp;<a href="mailto:{{supportEmail}}">{{supportEmail}}</a>.
            </div>
        </div>
    </div>
</div>