<%== $.View('assets/CommonAssets/views/renderers/BaseRenderer.ejs',{itemValue: fileName, renderType: RenderWorker.THRESHOLD_IMAGE_RENDERER}) %>
<img src="<%= 'assets/CommonAssets/images/ThresholdColors/' + fileName + '.png' %>" ><span><%=label%></span>