.rating-list {
  .tile-header h2 {
    background-image: url('/assets/images/ico-model-black.png');
  }
}

.creation-history {
	table td:nth-child(1), table td:nth-child(2) {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	table td:nth-child(1) {
		width: 350px;
	}
	table td:nth-child(2) {
		width: 250px;
	}
}


