<section id="RatingsEngineTabsView" class="containerx">
    <ul>
        <li class="tab-browse"
            ui-sref="home.ratingsengine.ratingslist"
            ui-sref-active="active">
            <div class="tab-container">
                <h2>Rating Engines</h2>
                <div class="enrichmentCounts">
                    <span ng-if="" class="count">1</span>
                </div>
                <div class="count"></div>
            </div>
        </li>
        <li class="tab-edit info noselect-children" ui-sref="home.ratingsengine.creationhistory" ui-sref-active="active">
            <div class="tab-container">
                <h2>Creation History</h2>
            </div>
        </li>

    </ul>
</section>