.rating-list {
	.tiles > li {
		padding: 13px 0;
		&.no-style {
			padding: 0;
		}
		.tile-header, .tile-metadata, .tile-body, .tile-footer {
			padding: 0 13px;
		}
		.tile-header {
			h2 {
					background: url('/assets/images/ico-insights.png') no-repeat left;
					background-size: 16px;
					padding-left: 22px;
			}
			.edit button {
				font-size: 20px;
			}
		}
		.tile-metadata {
			padding: 12px;
			border-color: #ddd;
			border-style: solid;
			border-width: 1px 0;
			font-size: 12px;
			line-height: 1.25;
		}
		.tile-body {
			padding-top: 0.5em;
			strong {
				font-weight: bold;
			}
			h4 {
				text-align: center;
				font-size: 16px;
			}
			& > div {
				display: flex;
				justify-content: center;
				align-items: stretch;
				flex-direction: column;
			}
			.barChart.ratings {
				display: flex;
				justify-content: center;
				align-items: flex-end;
				height: 96px;
				& > li {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					flex-direction: column;
					height: 100%;
					width: 15%;
					margin: 0 2px;
					text-align: center;
					& > div {
						flex: 0 0 1;
						&:nth-child(1), &:nth-child(3){
							height: 22px;
						}
					}
					.rating-bar {
						background-color: rgba(0,0,0,.5);
						width: 100%;
						min-height: 2px;
	            	}


	            	&.bucket-a {
	            		.value {
	            			color: #70bf4a;
	            		}
	            		.rating-bar {
	                    	background-color: #70bf4a;
	                    }
	                }
	                &.bucket-a- {
	            		.value {
	            			color: #33bdb7;
	            		}
	                	.rating-bar {
	                    	background-color: #33bdb7;
	                    }
	                }
	                &.bucket-b {
	            		.value {
	            			color: #cd80bc;
	            		}
	                	.rating-bar {
	                    	background-color: #cd80bc;
	                    }
	                }
	                &.bucket-c {
	            		.value {
	            			color: #8e71b2;
	            		}
	                	.rating-bar {
	                    	background-color: #8e71b2;
	                    }
	                }
	                &.bucket-d {
	            		.value {
	            			color: #457eba;
	            		}
	                	.rating-bar {
	                    	background-color: #457eba;
	                    }
	                }
	                &.bucket-e {
	            		.value {
	            			color: #70bf4a;
	            		}
	                	.rating-bar {
	                    	background-color: #70bf4a;
	                    }
	                }
	                &.bucket-f {
	            		.value {
	            			color: #33bdb7;
	            		}
	                	.rating-bar {
	                    	background-color: #33bdb7;
	                    }
	                }

				}
			}
			.inactive {
				h4 {
					color: #bbb;
				}
				.barChart.ratings > li {
					.value {
						color: #bbb;
					}
					.rating-bar {
		                border-bottom-color: #ddd;
		                background-color: #ddd;
					}
				}
			}
		}
		form {
			padding: 0 13px 13px;
		}
		.tile-footer {
			padding-top: 13px;	
			.button {
				font-size: 12px;
				padding: 6px 10px;
				text-transform: none;
			}
			.launch-success i {
				color: #70bf4a;
				display: inline-block;
				margin-left: 4px;
				font-size: 17px;
			}
		}
		&.editing {
			&:hover {
				border-color:#d0d0d0;
			}
			.tile-footer {
				border-top-color: #e7e7e7;
				span {
					color: #bbb;
				}
				.button {
					cursor: default;
					border: #b7b7b7 solid 1px;
					background-color: #e4e4e4;
					color: #656565;
					box-shadow: none;
				}
			}
		}
	}
	.bucket-loading {
		text-align: center;
		display: block;
		margin-top: 28px;
		i {
			font-size: 24px;
			color: #ddd;
			display: block;
		}
	}
}