<section id="main-content" class="container tile-list rating-list">

    <div class="row">
        
        <div class="list-header">
            <div class="pull-left number-of-items" ng-if="vm.current.ratings.length > 0">
                <menu-filter-by config="vm.header.filter"></menu-filter-by>
                <menu-sort-by config="vm.header.sort"></menu-sort-by>
                <search-filter query="vm.query"></search-filter>
            </div>
            <div class="pull-right">
                <a
                    class="button blue-button"
                    ui-sref="home.ratingsengine.ratingsenginetype">
                    Create Rating Engine
                </a>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="twelve columns">
            <ul class="tiles">
                <li
                    ng-repeat="
                        rating in vm.current.ratings |
                        filter: vm.query | 
                        filter: vm.header.filter.value : true | 
                        orderBy: vm.header.sort.order + vm.header.sort.property |
                        startFrom: (current - 1) * pagesize |
                        limitTo: pagesize"
                    data="rating"
                    ng-click="vm.tileClick($event, rating)"
                    ng-mouseleave="vm.tileStates[rating.id].showCustomMenu ? vm.customMenuClick($event, rating) : null"
                    ng-if="vm.current.ratings.length > 0"
                    ng-class="{editing: vm.tileStates[rating.id].editRating}">

                    <div class="tile-header" ng-if="!vm.tileStates[rating.id].editRating">
                        <h2 title="{{rating.displayName}}">{{rating.displayName | limitTo: 27 }}{{rating.displayName.length > 27 ? '&hellip;' : ''}}</h2>
                        <div class="edit">
                            <button
                                    type="button"
                                    ng-click="vm.customMenuClick($event, rating)"
                                    ng-class="{ 'open': vm.tileStates[rating.id].showCustomMenu }">
                                <span class="fa fa-ellipsis-v" ng-class="{ 'fa-rotate-180': vm.tileStates[rating.id].showCustomMenu }"></span>
                            </button>
                            <ul class="model-menu" ng-show="vm.tileStates[rating.id].showCustomMenu">
                                <li data-ng-click="vm.editStatusClick($event, rating, !vm.hasRules(rating))" ng-disabled="!vm.hasRules(rating)">
                                    <a href="javascript:void(0)">
                                        <span ng-if="rating.status === 'INACTIVE' && vm.hasRules(rating)">Activate</span>
                                        <span ng-if="rating.status === 'INACTIVE' && !vm.hasRules(rating)" title="Apply bucket rules to Activate ratings">Activate</span>
                                        <span ng-if="rating.status === 'ACTIVE'">Deactivate</span>
                                    </a>
                                    <i class="fa fa-power-off"></i>
                                </li>
                                <li data-ng-click="vm.editRatingClick($event, rating)">
                                    <a href="javascript:void(0)">Rename</a>
                                    <i class="fa fa-edit"></i>
                                </li>
                                <li 
                                    data-ng-click="vm.showDeleteRatingModalClick($event, rating)"
                                    ng-if="rating.status === 'INACTIVE'">
                                    <a href="javascript:void(0)">Delete</a>
                                    <i class="fa fa-trash"></i>
                                </li>
                            </ul>
                        </div>

                    </div><!-- End .tile-header -->
                    <div 
                        class="tile-metadata"
                        ng-if="!vm.tileStates[rating.id].editRating">
                        
                        <ul>
                            <li>Created by <span class="blue-text">{{rating.createdBy}}</span> on <span class="blue-text">{{rating.created | date}}</span></li>
                            <li>
                                Segment: 
                                <span ng-if="rating.segmentDisplayName != null" class="blue-text">{{rating.segmentDisplayName}}</span>
                                <span ng-if="rating.segmentDisplayName == null" class="gray-text">Segment not selected</span>
                            </li>
                            <li>
                                Last Data Refresh: 
                                <span>
                                    <span class="blue-text">{{rating.lastRefreshedDate | date}}</span>
                                </span>
                            </li>
                        </ul>

                    </div><!-- End .tile-metadata -->
                    <div class="tile-body" ng-if="!vm.tileStates[rating.id].editRating">

                        <div ng-class="{'inactive': rating.status === 'INACTIVE'}">
                            <h4>Account Ratings</h4>
                            <ul class="barChart ratings"
                                ng-if="vm.current.bucketCountMap[rating.id] && vm.current.bucketCountMap[rating.id].bucketCoverageCounts">
                                <li 
                                    ng-repeat="bucket in vm.current.bucketCountMap[rating.id].bucketCoverageCounts"
                                    class="bucket-{{bucket.bucket|lowercase}}">

                                    <div class="value">{{bucket.count|number}}</div>

                                    <div 
                                        class="rating-bar"
                                        ng-attr-style="{{'height: '+ vm.ceil(((bucket.count / vm.getTallestBarHeight(bucket, rating)) * 100) / 2) + 'px' }}">
                                    </div>

                                    <div class="meta">{{bucket.bucket}}</div>
                                </li>
                            </ul>
                            <span 
                                ng-if="!vm.current.bucketCountMap[rating.id]" 
                                class="bucket-loading">
                                <i class="fa fa-spinner fa-spin"></i>
                            </span>
                        </div>

                    </div><!-- End .tile-body -->
                    <div class="tile-footer">


                        <span 
                            ng-if="rating.status === 'ACTIVE'"
                            class="launch-success pull-right">
                            Ratings are active
                            <i class="fa fa-check"></i>
                        </span>

                        <span 
                            ng-if="rating.status === 'INACTIVE'"
                            class="launch-success pull-right">
                            Ratings are inactive
                        </span>

                        <button 
                            class="launch button blue-button pull-right" 
                            ng-click="vm.launchPlay()"
                            ng-if="play.launchHistory.playLaunch == null && play.segment != null"
                            ng-disabled="
                                vm.showLaunchSpinner || 
                                vm.invalid.length || 
                                vm.launchButton.state == 'Launching'">
                            <span ng-if="vm.showLaunchSpinner">
                                <i class="fa fa-spinner fa-spin fa-fw"></i>
                            </span>
                            <span>{{vm.launchButton.label}}</span>
                        </button>


                    </div><!-- End .tile-footer -->
                    <form
                        class="edit-form"
                        name="editRatingForm"
                        ng-if="vm.tileStates[rating.id].editRating"
                        ng-click="$event.stopPropagation()">
                        <div class="form-group">
                            
                            <label for="ratingDisplayName">Name
                            <input
                                autofocus
                                type="text"
                                id="display_name"
                                name="display_name"
                                data-ng-model="vm.displayNames[rating.id]"
                                ng-change="vm.nameChanged(rating)"
                                maxlength="50"
                                ng-trim="false"
                                class="form-control" />
                            </label>
                            <span>{{50 - vm.displayNames[rating.id].length}} characters remaining</span>

                        </div>
                        <div class="actions">

                            <button
                                type="button"
                                class="button white-button pull-left"
                                ng-click="vm.cancelEditRatingClicked($event, rating)"
                                ng-disabled="vm.saveInProgress  ">
                                Cancel</button>
                            <button
                                type="button"
                                class="button blue-button pull-right"
                                ng-disabled="vm.tileStates[rating.id].saveEnabled === false"
                                ng-click="vm.saveRatingClicked($event, rating)"
                                ng-if="!vm.saveInProgress">
                                Save</button>
                            <button
                                type="button"
                                class="button gray-button pull-right"
                                ng-disabled="vm.saveInProgress"
                                ng-if="vm.saveInProgress">
                                Saving...</button>

                        </div>
                    </form>

                </li>
                <li class="create-tile" ng-if="vm.current.ratings.length < 12">
                    <a
                        class="button new-tile-button"
                        ui-sref="home.ratingsengine.wizard">
                        <span>&#43;</span>
                        Create Rating Engine
                    </a>
                </li>

            </ul>
        </div>
    </div><!-- End .row -->
    <div class="row" ng-init="pagesize = 12; current = 1" ng-show="max > 1">
        <div class="twelve columns">
            <pd-pagination-controls current="current" max="max = (vm.current.ratings | filter: vm.query).length / pagesize">
            </pd-pagination-controls>
        </div>
    </div>

</section>