<p class="products">
    Product bundle template maps your import file fields to product attributes in Atlas. Upload a 
    CSV file containing one each with its attributestes in separate columns. You can always update and add new later.
</p>

<div>
    <a href="assets/downloads/product-bundle-sample.csv" target="_self" class="download-link"><i class="fa fa-download"></i> Download a sample CSV file.</a>

    <p ng-if="$ctrl.calendarInfo.mode == 'NONE'" class="configure-calendar">Note: Business calendar is not configured. <a ui-sref="home.import.calendar">Click here to setup.</a></p>
    <p ng-if="$ctrl.calendarInfo.mode !== 'NONE'" class="configure-calendar">Note: The current calendar used is {{$ctrl.calendarInfo.modeDisplayName}} Calendar. <a ui-sref="home.import.calendar">Click here to change, if required.</a></p>

    <p>{{$ctrl.ResourceUtility.getString('IMPORT_SAMPLE_FILE_LABEL')}}:</p>
    <div class="table example-table">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>122</td>
                    <td>Dedicated</td>
                    <td>Dedicated servers</td>
                </tr>
                <tr>
                    <td>324</td>
                    <td>Cloud Hosting</td>
                    <td>Cloud servers</td>
                </tr>
                <tr>
                    <td>453</td>
                    <td>Managed Security Products</td>
                    <td>Security products and services&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>