.model-summary {
	padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    & > div {
        margin: 7px;
        min-height: auto;
    }
}

@media (min-width: 470px) {
	.model-summary {
		padding: 40px 0;
	    flex-direction: row;
	    flex-wrap: wrap;
		& > div {
			width: 46%;
		}
	}
}


@media (min-width: 740px) {
	.model-summary {
		flex-wrap: nowrap;
		& > div {
			width: inherit;
		}
	}
}
