<div class="container">
    <section id="main-content" class="container">
    	<div class="row">
    		<div class="list-header">
    		</div>
    	</div>

    	<div class="row" >
    		<div class="twelve columns">
		    	<div class="create-tile">
				 	<div class="new-tile-button">
						<div class="text-center">
				            <h2> There is no data in the system yet. </h2>
				            <div style="padding: 12px;" >
        						<button class="save button white-button" ui-sref={{importState}} ng-if="showImportButton"> Import Data </button>
							</div>
				        </div>
			    	</div>

				</div>
			</div>
		</div>
    </section>
</div>




