<div class="le-notice container" ng-if="$ctrl.notice.visible">
    <div class="messaging {{$ctrl.notice.type}}-messaging">
        <div class="messaging-icon">
            <ico    class="fa" 
                    ng-if="$ctrl.notice.type" 
                    ng-class="{
                        'fa-warning': $ctrl.notice.type == 'error',
                        'fa-exclamation-circle': $ctrl.notice.type == 'warning',
                        'fa-check-circle': $ctrl.notice.type == 'success',
                        'fa-info-circle': $ctrl.notice.type == 'info'
                    }">
            </ico>
        </div>

        <div class="messaging-content">
            <div class="messaging-title" ng-if="$ctrl.notice.title">{{$ctrl.notice.title}}</div>
            <div class="messaging-message" ng-if="$ctrl.notice.message">{{$ctrl.notice.message}}</div>
        </div>
        
        <!--div class="messaging-controls" ng-click="$ctrl.notice.show = !$ctrl.notice.show">
            <button id="close-button" 
                    type="button" 
                    class="close">
                X
            </button>
        </div-->
    </div>
</div>