<div class="playbook-content crm-selection container">
    <div class="inner-container">
        <div class="header">
            <h2>System Selection</h2>
            <p>Select the system where the campaign will be {{$ctrl.status.toLowerCase() + 'ed'}}, and the right ID will be used for Lattice recommendations to match with appropriate accounts.</p>
        </div>
        <div class="content-body">
            <form name="crmselection_form">
                <table>
                    <thead>
                        <tr>
                            <th>System Org ID</th>
                            <th>System Type</th>
                            <th>System Org Name</th>
                            <th>Account ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-repeat="org in $ctrl.orgs"
                            ng-if="$ctrl.orgs.length > 0"
                            ng-init="$ctrl.checkValidDelay(crmselection_form, org.accountId, org.orgId, org.isRegistered)">
                            <td>
                                <input
                                    type="radio"
                                    id="{{org.orgId}}"
                                    name="{{org.orgId}}"
                                    ng-value="org"
                                    ng-change="$ctrl.checkValid(crmselection_form, org.accountId, org.orgId, org.isRegistered)"
                                    ng-model="$ctrl.stored.crm_selection" />
                                <label for="{{org.orgId}}">{{ org.orgId }}</label>
                            </td>
                            <td>{{org.externalSystemType}}</td>
                            <td>{{ org.orgName }}</td>
                            <td>
                                <span ng-if="org.accountId !== null">{{ org.accountId }}</span>
                                <span>
                                <span ng-if="!org.isRegistered">
                                    <span
                                        class="ico ico-warning _top"
                                        data-stooltip="Register this System Org and map it to an Account ID to enable it for selection."></span>
                                    Unregistered
                                </span>
                                <span ng-if="org.isRegistered && org.accountId === null">
                                    <span
                                        class="ico ico-warning _top"
                                        data-stooltip="Map this Account ID to System Org ID in Application settings page."></span>
                                    Unmapped
                                </span>
                            </td>
                        </tr>
                        <tr ng-if="$ctrl.orgs.length === 0">
                            <td colspan="3">
                                You currently have not set up any System Orgs. Please set up at least one account in order to create a play.
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="coverage-counts" ng-if="$ctrl.orgIsRegistered">
                    <div ng-if="$ctrl.loadingCoverageCounts">
                        <span class="fa fa-spinner fa-pulse fa-fw"></span> Looking for blank account IDs for the selected System Org.
                    </div>

                    <div ng-if="!$ctrl.loadingCoverageCounts && !$ctrl.showErrorApi && (!$ctrl.nullCount || $ctrl.nullCount === 0 || $ctrl.nullCount === null)">
                        No blank account IDs found for this System Org.
                    </div>
                    <div ng-if="$ctrl.showErrorApi">
                        For the above selected System Org, this time we can not find recommendations that have blank Account ID.
                    </div>

                    <div class="blank-ids" ng-if="!$ctrl.loadingCoverageCounts && $ctrl.nullCount && $ctrl.nullCount !== 0 && $ctrl.nullCount !== null && $ctrl.stored.crm_selection.externalSystemName != 'Marketo'">
                        <p>For the above selected System Org, <strong>{{ $ctrl.nullCount | number }} of {{ $ctrl.totalCount | number }}</strong> recommendations have blank Account ID. <span  ng-if="$ctrl.nullCount != $ctrl.totalCount">It is advisable to remove these recommendations from the campaigns as they will fail to launch your {{$ctrl.stored.crm_selection.externalSystemType}} system.</span></p>
                        <p ng-if="$ctrl.nullCount != $ctrl.totalCount">Note: An exception of this rule is when 'Lead workflow' is used to provide recommendations to your reps.</p>
                        <label ng-if="$ctrl.nullCount != $ctrl.totalCount">
                            <input
                                type="checkbox"
                                ng-model="$ctrl.excludeItemsWithoutSalesforceId"
                                ng-change="$ctrl.setExcludeItems($ctrl.excludeItemsWithoutSalesforceId)">
                                Remove all recommendations with blank Account ID
                        </label>
                    </div>

                    <div class="blank-ids" ng-if="$ctrl.externalIntegrationEnabled && $ctrl.stored.crm_selection.externalSystemName == 'Marketo' && !$ctrl.loadingCoverageCounts && $ctrl.nullCount > 0">
                        <p>For the above selected System Org, <strong>{{ $ctrl.nullCount | number }} of {{ $ctrl.totalCount | number }}</strong> contacts do not have an email ID. These contacts won't included in the campaign as they will fail to launch in Marketo.
                    </div>

                </div>

            </form>

        </div>
    </div>
</div>
