section.lp-campaign-models {
    .header {
        position: relative;
        margin-bottom: 30px;
        border-bottom: 1px solid #d0d0d0;
        a.back {
            display: block;
            text-transform: uppercase;
            margin-bottom: 15px;
            color: #1a1a1a;
        }
        h2 {
            position: absolute;
            top: 15px;
            right: 0;
            font-size: 30px;
        }
        ul.tabs_ {
            @include flex-container;
            border-bottom: 1px solid #d0d0d0;
            font-weight: bold;
            margin-bottom: 15px;
            li {
                @include flex-item(0 1 auto);
                padding: 0.6em 1.5em;
                margin-right: .5em;
                background: #f1f1f1;
                border: 1px solid #d0d0d0;
                position: relative;
                top: 1px;
                border-radius: 4px 4px 0 0;
                cursor: pointer;
                &.active {
                    background: inherit;
                    cursor: default;
                    border-bottom: 1px solid #fafafa;
                }
            }
        }
        .filters {
            margin-bottom: 15px;
        }
    }
}