<div id="loginMainView" class="login-body" data-ng-controller="LoginController">
    <div class="container">
        <div class="notification-forgot-password" data-ng-show="showSuccessMessage">
            <p>
                {{successMessage}}
            </p>
        </div>
        
        <form class="form-signin">
            <h2 class="form-signin-heading"><img src="assets/images/logo_login.png" alt="Lattice"></h2>
            <p class="error-message" data-ng-show="showLoginError">{{loginErrorMessage}}</p>
            <div class="login-wrap">
                <div class="user-login-info">
                    <label>{{ResourceUtility.getString('LOGIN_USERNAME')}}</label>
                    <input  type="text" 
                            id="username" 
                            autocomplete="off" 
                            data-ng-model="username" 
                            data-ng-enter="loginClick()" 
                            title="{{ResourceUtility.getString('LOGIN_USERNAME')}}" 
                            placeholder="{{ResourceUtility.getString('LOGIN_USERNAME')}}" 
                            class="form-control" 
                            autofocus>
                    <label>{{ResourceUtility.getString('LOGIN_PASSWORD')}}</label>
                    <input  type="password"  
                            id="password"
                            autocomplete="off" 
                            data-ng-model="password" 
                            data-ng-enter="loginClick()" 
                            title="{{ResourceUtility.getString('LOGIN_PASSWORD')}}" 
                            placeholder="{{ResourceUtility.getString('LOGIN_PASSWORD')}}" 
                            class="form-control">
                </div>
                <div class="user-login-info-buttonforgot">
                    <button id="loginButton" type="submit" data-ng-click="loginClick()" class="btn btn-primary">
                        {{ResourceUtility.getString('LOGIN_LABEL')}}
                    </button>
                    <div class="forgot-pass">
                        <a data-toggle="modal" href="#myModal" data-ng-click="forgotPasswordClick($event)">
                            {{ResourceUtility.getString('LOGIN_FORGOT_PASSWORD_LABEL')}}
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <p class="footer">© {{copyrightString}} <a href="#" data-ng-click="privacyPolicyClick($event)">{{ResourceUtility.getString('HEADER_PRIVACY_POLICY')}}</a></p>
    </div>
</div>