


<div class="col-xs-12 col-sm-6 col-md-4" data-ng-controller="ModelListTileWidgetController" data-ng-click="tileClick($event)">


    <div class="model-title" data-ng-hide="nameStatus.editing">
        <h2 class="editable editable-click" data-type="text" data-placement="right">{{displayName}}</h2>
        <h2 class="edit" data-ng-if="mayChangeModelNames">
            <button type="button" class="btn btn-link" data-ng-click="modelNameEditClick($event)" data-title="Enter Model Name"><i class="fa fa-pencil"></i></button>
        </h2>
    </div>
    <button type="button" data-ng-if="mayDeleteModels && !isActive" class="btn btn-link delete-model"><i class="fa fa-trash-o"></i></button>
    <div class="model-title" data-ng-if="nameStatus.editing" data-ng-controller="ChangeModelNameController">
        <div novalidate class="form-inline editable-container editableform" name="form">
            <div class="control-group">
                <input type="text" class="form-control" data-ng-model="data.name" placeholder="{{data.name}}"/>
                <div class="editable-buttons">
                    <button class="btn btn-secondary editable-cancel" data-ng-click="cancel($event)">Cancel</button>
                    <button class="btn btn-primary editable-submit" data-ng-click="submit($event)">Save</button>
                </div>
                <label class="global-error model-error" data-ng-show="showNameEditError">
                    <span><i class="fa fa-exclamation-circle fa-inverse"></i> {{nameEditErrorMessage}}</span>
                </label>
            </div>
        </div>
    </div>
    <a ui-sref="model.view" class="model {{isActive ? '' : 'inactive'}}">
        <div class="status">
            <dl>
                <dt>{{ResourceUtility.getString('MODEL_TILE_CREATED_DATE_LABEL')}}</dt>
                <dd class="created-date">{{createdDate}}</dd>
            </dl>

            <dl data-ng-show="!isActive">
                <dt>{{ResourceUtility.getString('MODEL_TILE_STATUS_LABEL')}}</dt>
                <dd>{{ResourceUtility.getString('MODEL_DETAILS_INACTIVE_LABEL')}}</dd>
            </dl>
        </div>
    </a>

        
</div>